<template>
    <div style="height:100%;overflow-y:auto;">
        <div class="cxdt" id="box" v-if="!listShow && !detailShow">
            <div class="part0">
                <div class="one">
                    <img src="../../../static/image/cxdt/cxdt01.png" />
                    <div class="search">
                        <input class="input" type="text" />
                        <p class="btn"><i class="el-icon-search"></i></p>
                    </div>
                </div>
                <ul class="tab">
                    <li @click="goPart('行业资讯')"><span :class="activeTip == '行业资讯' ? 'mark' : ''">行业资讯</span></li>
                    <li @click="goPart('专题专栏')"><span :class="activeTip == '专题专栏' ? 'mark' : ''">专题专栏</span></li>
                    <li @click="goPart('行业风采')"><span :class="activeTip == '行业风采' ? 'mark' : ''">行业风采</span></li>
                    <li @click="goPart('科技前沿')"><span :class="activeTip == '科技前沿' ? 'mark' : ''">科技前沿</span></li>
                </ul>
            </div>
            <div class="part1">
                <div class="cxdt-title">
                    <span class="span1">行业资讯</span>
                    <span class="span2">INDUSTRY INFORMATION</span>
                    <span class="span3"></span>
                </div>
                <ul class="hyzlPicList">
                    <li v-for="item in 6">
                        <p class="pic">
                            <span class="span1">海洋自然资源管理</span>
                            <span class="span2"></span>
                        </p>
                        <p class="content">
                            <span class="news-tip" >《海域使用论证技术导则（修订版）》公开征求</span>
                            <span class="news-tip ">深圳市海洋渔业局印发《深圳市防控新冠肺炎…</span>
                            <span class="btn">查看更多 ></span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="part2">
                <div class="cxdt-title">
                    <span class="span1">专题专栏</span>
                    <span class="span2">THEMATIC COLUMN</span>
                    <span class="span3"></span>
                </div>
                <div class="ztzl clear">
                    <div class="picList">
                        <ul>
                            <li>
                                <img src="../../../static/image/dysj.png" />
                            </li>
                            <li>
                                <img src="../../../static/image/cgtj1.png" />
                            </li>
                            <li>
                                <img src="../../../static/image/cgtj2.png" />
                            </li>
                            <li>
                                <img src="../../../static/image/cgtj3.png" />
                            </li>
                        </ul>
                        <p class="p">热点】支持中国（浙江）自由贸易试验区油</p>
                        <div class="prev" @click="prev"><i class="el-icon-back"></i></div>
                        <div class="next" @click="next"><i class="el-icon-right"></i></div>
                    </div>
                    <div class="news-scroll">
                        <p class="title">行业风采</p>
                        <ul class="scroll">
                            <li>
                                <span class="span1">海洋生物医药助力疫情防控</span>
                                <span class="span2">2020-04-10</span>
                            </li>
                            <li>
                                <span class="span1">海洋生物医药助力疫情防控</span>
                                <span class="span2">2020-04-10</span>
                            </li>
                            <li>
                                <span class="span1">海洋生物医药助力疫情防控</span>
                                <span class="span2">2020-04-10</span>
                            </li>
                            <li>
                                <span class="span1">海洋生物医药助力疫情防控</span>
                                <span class="span2">2020-04-10</span>
                            </li>
                            <li>
                                <span class="span1">海洋生物医药助力疫情防控</span>
                                <span class="span2">2020-04-10</span>
                            </li>
                        </ul>
                        <p class="more"><span>查看更多 ></span></p>
                    </div>
                </div>
            </div>
            <div class="part3">
                <div class="cxdt-title">
                    <span class="span1">科技前沿</span>
                    <span class="span2">THEMATIC COLUMN</span>
                    <span class="span3"></span>
                </div>
                <ul class="hyfc clear">
                    <li>
                        <img src="../../../static/image/honghua2.png" />
                        <h3 class="title">天海洋系统有限公司是由江苏中天科</h3>
                        <p class="desc">中天海洋系统有限公司是由江苏中天科技股份有限公司、中天科技海缆有
                            限公司与浙江大学于2015年12月合资成立。公司经营范围包括：海底接驳盒、水下观测节点
                            、海缆接头盒、海洋传感器、海工器件等产品、技术和相关软件的研…</p>
                    </li>
                    <li>
                        <img src="../../../static/image/honghua2.png" />
                        <h3 class="title">天海洋系统有限公司是由江苏中天科</h3>
                        <p class="desc">中天海洋系统有限公司是由江苏中天科技股份有限公司、中天科技海缆有
                            限公司与浙江大学于2015年12月合资成立。公司经营范围包括：海底接驳盒、水下观测节点
                            、海缆接头盒、海洋传感器、海工器件等产品、技术和相关软件的研…</p>
                    </li>
                    <li>
                        <img src="../../../static/image/honghua2.png" />
                        <h3 class="title">天海洋系统有限公司是由江苏中天科</h3>
                        <p class="desc">中天海洋系统有限公司是由江苏中天科技股份有限公司、中天科技海缆有
                            限公司与浙江大学于2015年12月合资成立。公司经营范围包括：海底接驳盒、水下观测节点
                            、海缆接头盒、海洋传感器、海工器件等产品、技术和相关软件的研…</p>
                    </li>
                </ul>
                <p class="more" style="margin-top:40px;"><span>查看更多 ></span></p>
            </div>
            <div class="part4">
                <div class="cxdt-title">
                    <span class="span1">科技前沿</span>
                    <span class="span2">THEMATIC COLUMN</span>
                    <span class="span3"></span>
                </div>
                <div class="con clear">
                    <ul class="ul1">
                        <li><span></span>【深度】潘德炉院士：构建智慧深…</li>
                        <li><span></span>【深度】潘德炉院士：构建智慧深…</li>
                        <li><span></span>【深度】潘德炉院士：构建智慧深…</li>
                        <li><span></span>【深度】潘德炉院士：构建智慧深…</li>
                        <li><span></span>【深度】潘德炉院士：构建智慧深…</li>
                        <li class="last">孙家广院长：大数据软件的机遇与…</li>
                    </ul>
                    <div class="div1">
                        <img src="../../../static/image/01.png" />
                        <p>德炉院士：构建智慧深</p>
                    </div>
                    <ul class="ul2">
                        <li><span></span>【深度】潘德炉院士：构建智慧深…</li>
                        <li><span></span>【深度】潘德炉院士：构建智慧深…</li>
                        <li><span></span>【深度】潘德炉院士：构建智慧深…</li>
                        <li><span></span>【深度】潘德炉院士：构建智慧深…</li>
                        <li><span></span>【深度】潘德炉院士：构建智慧深…</li>
                        <li class="last">孙家广院长：大数据软件的机遇与…</li>
                    </ul>
                    <div class="div1">
                        <img src="../../../static/image/01.png" />
                        <p>德炉院士：构建智慧深</p>
                    </div>
                </div>
                <p class="more" style="margin: 60px;"><span>查看更多 ></span></p>
            </div>
        </div>
        <newsList v-if="listShow"></newsList>
        <newsDetail v-if="detailShow"></newsDetail>
    </div>
</template>
<script>
    import newsList from "./newsList";
    import newsDetail from "./newsDetail";
    export default {
        data(){
            return{
                picScroll:0,
                listShow: false,
                detailShow: false,
                activeTip: '行业资讯',
                top: {
                    '行业资讯': 145,
                    '专题专栏': 950,
                    '行业风采': 1670,
                    '科技前沿': 2419,
                }
            }
        },
        methods: {
            next(){
                let _this = this;
                this.picScroll++;
                let size = $('.picList ul').find('li').length-1;
                if(this.picScroll>size){
                    this.picScroll = size;
                }
                $('.picList ul').animate({'left':-1*(_this.picScroll)*760+'px'});
            },
            prev(){
                let _this = this;
                this.picScroll--;
                let size = $('.picList ul').find('li').length-1;
                if(this.picScroll<=0){
                    this.picScroll = 0;
                }
                console.log(this.picScroll);
                $('.picList ul').animate({'left':-1*(_this.picScroll)*760+'px'});
            },
            goPart(tip){
                this.activeTip = tip
                this.ScrollTop(this.top[tip],200)
            },
            ScrollTop(number,time){
                if (!time) {
                    document.getElementById('box').scrollTop = document.documentElement.scrollTop = number;
                    return number;
                }
                const spacingTime = 20; // 设置循环的间隔时间  值越小消耗性能越高
                let spacingIndex = time / spacingTime; // 计算循环的次数
                let nowTop = document.body.scrollTop + document.documentElement.scrollTop; // 获取当前滚动条位置
                let everTop = (number - nowTop) / spacingIndex; // 计算每次滑动的距离
                let scrollTimer = setInterval(() => {
                    if (spacingIndex > 0) {
                        spacingIndex--;
                        this.ScrollTop(nowTop += everTop);
                    } else {
                        clearInterval(scrollTimer); // 清除计时器
                    }
                }, spacingTime)
            }
        },
        components:{
            newsList,
            newsDetail
        }
    }
</script>
<style lang="scss" scoped>
    .cxdt{
        width:100%;
        height: 100%;
        overflow-y: auto;
        background:#fff;
        .part0{
            width:1200px;
            margin:0 auto;
            background:#fff;
            .one{
                padding: 20px 0;
                width:100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #F5F5F5;
                img{
                    width: 210px;
                    height: 35px;
                }
                .search{
                    width:480px;
                    height: 40px;
                    display: flex;
                    .input{
                        width: calc(100% - 60px);
                        height: 40px;
                        background:#fff;
                        border: 1px solid #F2F2F2;
                        border-radius:6px 0 0 6px;
                        padding-left:10px;
                        outline: none;
                    }
                    .btn{
                        width:60px;
                        height:40px;
                        text-align:center;
                        line-height:44px;
                        background:#0091f1;
                        border-radius:0 6px 6px 0;
                        i{
                            font-size:24px;
                            color:#fff;
                        }
                    }

                }
            }
            .tab{
                margin-top: 25px;
                display: flex;
                li{
                    font-size: 20px;
                    padding: 0 25px 0 35px;
                    border-right: 2px solid #E6E7E8;
                    cursor: pointer;
                    span{
                        padding-bottom: 10px;
                    }
                    &:first-of-type{
                        padding-left: 0;
                    }
                    &:first-of-type span{
                        padding-left: 0;
                    }
                }
                .mark{
                    border-bottom: 2px solid #238DFD;
                    color: #238DFD;
                }
            }
        }
        .part1{
            width:100%;
            margin:11px auto 0;
            background:url('../../../static/image/cxdt/information_bg.png') center no-repeat;
            background-size: 100% 100%;
            overflow: hidden;
            .cxdt-title{
                width:266px;
                height:auto;
                margin: 45px auto 0;
                .span1{
                    display:block;
                    text-align:center;
                    line-height:46px;
                    font-size:36px;
                    color:#fff;
                }
                .span2{
                    display:block;
                    text-align:center;
                    margin-top:12px;
                    line-height:20px;
                    font-size:18px;
                    color:#0092f1;
                    font-weight:bold;
                }
                .span3{
                    display:block;
                    width:134px;
                    height:2px;
                    margin:10px auto;
                    background:#7e7c7f;

                }
            }
            .hyzlPicList{
                width: 1200px;
                height: auto;
                margin: 40px auto 0;
                display: flex;
                justify-content: space-between;
                flex-flow: wrap row;
                padding-bottom: 115px;
                .copy{
                    width: 0;
                    height: 0;
                    border: none;
                }
                li{
                    width:380px;
                    height:220px;
                    border:1px solid #a1a1a1;
                    border-radius:10px;
                    background:url('../../../static/image/honghua2.png') no-repeat;
                    margin-bottom: 40px;
                    .pic{
                        width:100%;
                        height:82px;
                        .span1{
                            display:block;
                            width:100%;
                            text-align:center;
                            padding-top:20px;
                            line-height:18px;
                            font-size:18px;
                            color:#fff;
                        }
                        .span2{
                            display:block;
                            width:20px;
                            height:2px;
                            background:#fff;
                            margin:20px auto 0;
                        }
                    }
                    .content{
                        height:136px;
                        padding-left:20px;
                        padding-right:20px;
                        font-size:16px;
                        background:#fff;
                        border-radius: 0 0 10px 10px;
                        .btn{
                            display:block;
                            margin:20px auto 0;
                            width:100px;
                            height:30px;
                            background:#0091f1;
                            border-radius:6px;
                            text-align:center;
                            line-height:30px;
                            color:#fff;
                            cursor: pointer;
                        }
                        .news-tip{
                            margin-top: 10px;
                            display: inline-block;
                            font-size: 16px;
                            width: 100%;
                            text-overflow: ellipsis;
                            white-space: normal;
                            overflow: hidden;
                            cursor: pointer;
                            &:hover{
                                color: #238DFD;
                            }
                        }
                    }
                }
            }
        }
        .part2{
            width:100%;
            height:auto;
            padding-bottom:150px;
            background:#fff url('../../../static/image/cxdt/special_bg.png') no-repeat 0 bottom;
            .cxdt-title{
                width:266px;
                height:auto;
                margin: 45px auto 0;
                .span1{
                    display:block;
                    text-align:center;
                    line-height:46px;
                    font-size:36px;
                }
                .span2{
                    display:block;
                    text-align:center;
                    margin-top:12px;
                    line-height:20px;
                    font-size:18px;
                    color:#0092f1;
                    font-weight:bold;
                }
                .span3{
                    display:block;
                    width:134px;
                    height:2px;
                    margin:10px auto;
                    background:#7e7c7f;

                }
            }
            .ztzl{
                width:1200px;
                height:auto;
                margin:50px auto 0;
                .picList{
                    float:left;
                    width:760px;
                    height:356px;
                    overflow:hidden;
                    position:relative;
                    ul{
                        width:760*4px;
                        height:356px;
                        position:absolute;
                        left:0;
                        top:0;
                        li{
                            width:760px;
                            height:356px;
                            float:left;
                            img{
                                width:100%;
                                height:100%;
                            }
                        }
                    }
                    .p{
                        position:absolute;
                        left:0;
                        bottom:0;
                        height:70px;
                        line-height:70px;
                        width:760px;
                        background:rgba(0,0,0,0.4);
                        color:#fff;
                        padding-left:20px;
                        padding-right:20px;
                        z-index:3;
                    }
                    .prev{
                        position:absolute;
                        left:20px;
                        top:160px;
                        width:44px;
                        height:44px;
                        border:2px solid #fff;
                        border-radius:22px;
                        text-align:center;
                        line-height:44px;
                        cursor:pointer;
                        i{
                            color:#fff;
                            font-size:26px;

                        }
                    }
                    .next{
                        position:absolute;
                        right:20px;
                        top:160px;
                        width:44px;
                        height:44px;
                        border:2px solid #fff;
                        border-radius:22px;
                        text-align:center;
                        line-height:44px;
                        cursor:pointer;
                        i{
                            color:#fff;
                            font-size:26px;
                        }
                    }
                }
                .news-scroll{
                    float:left;
                    margin-left:30px;
                    .title{
                        font-size:28px;
                        color:#7947ac;
                    }
                    .scroll{
                        margin-top:20px;
                        width:400px;
                        li{
                            width:100%;
                            height:50px;
                            line-height:50px;
                            font-size:16px;
                            display:flex;
                            justify-content:space-between;
                            align-items: center;
                            border-bottom: 2px solid #F5F5F5;
                            cursor: pointer;
                            .span2{
                                color: #999;
                            }
                        }
                    }
                    .more{
                        margin-top:20px;
                        text-align:center;
                        cursor: pointer;
                        span{
                            padding:6px 12px;
                            font-size:16px;
                            background:#0091f1;
                            color:#fff;
                            border-radius:5px;
                        }
                    }
                }
            }
        }
        .part3{
            width:100%;
            background:url('../../../static/image/cxdt/thematic.png') center no-repeat;
            background-size: 100% 100%;
            overflow: hidden;
            padding-bottom: 60px;
            .cxdt-title{
                width:266px;
                height:auto;
                margin: 45px auto 0;
                .span1{
                    display:block;
                    text-align:center;
                    line-height:46px;
                    font-size:36px;
                    color: #333;
                }
                .span2{
                    display:block;
                    text-align:center;
                    margin-top:12px;
                    line-height:20px;
                    font-size:18px;
                    color:#0092f1;
                    font-weight:bold;
                }
                .span3{
                    display:block;
                    width:134px;
                    height:2px;
                    margin:10px auto;
                    background:#7e7c7f;

                }
            }
            .hyfc{
                width:1200px;
                margin: 0 auto;
                height:auto;
                li{
                    margin-top:20px;
                    float:left;
                    width:380px;
                    height:374px;
                    position:relative;
                    margin-left:30px;
                    &:nth-child(1){
                        margin-left:0;
                    }
                    img{
                        width:100%;
                        height:240px;
                    }
                    h3{
                        width:100%;
                        height:38px;
                        line-height:38px;
                        padding-left:20px;
                        background:rgba(0,0,0,0.2);
                        color:#fff;
                        font-size:16px;
                    }
                    .desc{
                        margin-top:20px;
                        line-height:22px;
                        font-size:14px;
                        color:#797979;
                    }
                }
            }
            .more{
                cursor: pointer;
            }
        }
        .part4{
            width:100%;
            background:#1a1a1a;
            background:url('../../../static/image/cxdt/technology_bg.png');
            background-size:100% 100%;
            overflow: hidden;
            .cxdt-title{
                width:266px;
                height:auto;
                margin: 55px auto 0;
                .span1{
                    display:block;
                    text-align:center;
                    line-height:46px;
                    font-size:36px;
                    color: #fff;
                }
                .span2{
                    display:block;
                    text-align:center;
                    margin-top:12px;
                    line-height:20px;
                    font-size:18px;
                    color:#0092f1;
                    font-weight:bold;
                }
                .span3{
                    display:block;
                    width:134px;
                    height:2px;
                    margin:10px auto;
                    background:#7e7c7f;

                }
            }
            .con{
                width:1200px;
                height:auto;
                margin:40px auto;
                .ul1,.ul2{
                    float:left;
                    width:260px;
                    height:260px;
                    color:#fff;
                    li{
                        line-height:36px;
                        font-size:14px;
                        span{
                            display:inline-block;
                            width:6px;
                            height:6px;
                            border-radius:3px;
                            background:#fff;
                            margin-right:6px;
                        }
                        &.last{
                            padding-left:20px;
                            background:url('../../../static/image/foot01.png') no-repeat 0 12px;
                            margin-top:20px;
                            font-size:14px;
                            color:#1d6283;

                        }
                    }

                }
                .ul2{
                    margin-left:20px;
                }
                .div1{
                    float:left;
                    width:280px;
                    height:256px;
                    margin-left:20px;
                    background:#fff;
                    position:relative;
                    img{
                        width:100%;
                    }
                    p{
                        position:absolute;
                        left:0;
                        bottom:0;
                        width:100%;
                        height:44px;
                        line-height:44px;
                        background:rgba(0,0,0,0.2);
                        padding-left:20px;
                    }
                }
            }
            .more{
                cursor: pointer;
            }
        }

    }

    .more{
        margin-top:10px;
        text-align:center;
        span{
            padding:6px 12px;
            font-size:16px;
            background:#0091f1;
            color:#fff;
            border-radius:5px;
        }
    }
</style>
