<template>
    <div class="newsList">
        <div class="news" v-if="listShow">
            <div class="news-title">
                <div class="news-title-box">
                    <p>创新动态 > <span>更多新闻</span></p>
                    <div class="nav">
                        <ul>
                            <li class="mark">海洋自然资源管理</li>
                            <li>海洋高端装备</li>
                            <li>海洋生物</li>
                            <li>海洋生物</li>
                            <li>海洋生物</li>
                            <li>海洋生物</li>
                        </ul>
                        <div class="search">
                            <input type="text" placeholder="请输入新闻关键词搜索">
                            <button><i class="el-icon-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-list">
                <ul>
                    <li @click="look_detail">
                        <p class="title"><span >《海域使用论证技术导则（修订版）》公开征求意见</span><span class="title-xcode">发布于2020-04-10</span></p>
                        <p class="desc">为贯彻落实《关于取消“海域使用论证单位资质认定”后加强事中事后监管的公告》，进一步落实国务院“放管服”要求，促进海域资源节约集约利用，切实保护海洋生态环境，自然资源部组织修订形成了《海域使用论证技术导则（修订版）》（征求意见稿），并于近日公开征求意见，截止日期为2020年4月12日。</p>
                    </li>
                </ul>
            </div>
        </div>
        <newsDetail v-if="!listShow"></newsDetail>
    </div>
</template>

<script>
    import newsDetail from "./newsDetail";
    export default {
        data(){
            return{
                listShow: true
            }
        },
        methods:{
            look_detail(){
                this.listShow = !this.listShow
            }
        },
        components: {
            newsDetail
        }
    }
</script>

<style lang="scss" scoped>
    .newsList{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background: #fff;
        .news{
            width: 100%;
            overflow-y: auto;
            &-title{
                border-bottom: 1px solid #F2F2F2;
                padding-bottom: 15px;
                &-box{
                    width: 1200px;
                    margin: 0 auto;
                    p{
                        padding: 15px 0 25px;
                        font-size: 14px;
                        color: #999;
                        span{
                            font-size: 18px;
                            color: #333;
                        }
                        &:hover{
                            color: #8DC8FF;
                            cursor: pointer;
                        }
                        &:hover span{
                            color: #8DC8FF;
                            cursor: pointer;
                        }
                    }
                    .nav{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        ul{
                            display: flex;
                            li{
                                padding: 5px 12px;
                                cursor: pointer;
                            }
                            .mark{
                                background: #2378E5;
                                color: #fff;
                                border-radius: 4px;
                            }
                        }
                        .search{
                            width: 340px;
                            height: 35px;
                            display: flex;
                            input{
                                width: calc(100% - 60px);
                                height: 35px;
                                padding: 0 20px;
                                border: 1px solid #F2F2F2;
                                border-radius: 4px 0 0 4px;
                                color: #999;
                                background: none;
                                outline: none;
                                &::-webkit-input-placeholder{
                                    color: #BDCADA;
                                }
                                &:-moz-placeholder{
                                    color: #BDCADA;
                                }
                                &::-moz-placeholder{
                                    color: #BDCADA;
                                }
                                &:-ms-input-placeholder{
                                    color: #BDCADA;
                                }
                            }
                            button{
                                width: 60px;
                                background: #0091F1;
                                outline: none;
                                border: none;
                                color: white;
                                font-size: 22px;
                                border-radius: 0 4px 4px 0;
                            }
                        }
                    }
                }
            }
            &-list{
                ul{
                    width: 1200px;
                    margin: 0 auto;
                    li{
                        margin-top: 20px;
                        border-bottom: 1px solid #F2F2F2;
                        .title{
                            font-size: 16px;
                            display: flex;
                            justify-content: space-between;
                            &-code{
                                font-size: 14px;
                                color: #999;
                            }
                        }
                        .desc{
                            padding: 20px 0;
                            font-size: 14px;
                            color: #999;
                            text-align: center;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
    }
</style>
