<template>
    <div class="newsDetail">
        <div class="news">
            <div class="news-title">
                <div class="news-title-box">
                    <p>创新动态 > <span>新闻详情</span></p>
                    <h3>亨通海装：“暗”网点亮“智慧海洋”<span>发表于2020-04-03 16:13</span></h3>
                </div>
            </div>
            <div class="news-detail">
                <p>阿瑟东看见你打算离开呢道路喀什较大</p>
                <p>阿瑟东看见你打算离开呢道路喀什较大</p>
                <img :src="img" alt="">
                <p>阿瑟东看见你打算离开呢道路喀什较大</p>
                <p>阿瑟东看见你打算离开呢道路喀什较大</p>
                <p>阿瑟东看见你打算离开呢道路喀什较大</p>
                <p>阿瑟东看见你打算离开呢道路喀什较大</p>
                <p>阿瑟东看见你打算离开呢道路喀什较大</p>
                <p>阿瑟东看见你打算离开呢道路喀什较大</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                img: require('../../assets/mall/seaPic.png')
            }
        }
    }
</script>

<style lang="scss" scoped>
    .newsDetail{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background: #fff;
        .news{
            width: 100%;
            overflow-y: auto;
            &-title{
                border-bottom: 1px solid #F2F2F2;
                padding-bottom: 25px;
                &-box{
                    width: 1200px;
                    margin: 0 auto;
                    p{
                        padding: 15px 0 25px;
                        font-size: 14px;
                        color: #999;
                        span{
                            font-size: 18px;
                            color: #333;
                        }
                        &:hover{
                            color: #8DC8FF;
                            cursor: pointer;
                        }
                        &:hover span{
                            color: #8DC8FF;
                            cursor: pointer;
                        }
                    }
                    h3{
                        font-size: 26px;
                        text-align: center;
                        position: relative;
                        span{
                            font-size: 14px;
                            color: #999;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            font-weight: normal;
                        }
                    }
                }
            }
            &-detail{
                width: 1200px;
                margin: 35px auto;
                p{
                    text-align: center;
                    font-size: 14px;
                    line-height: 26px;
                }
                img{
                    width: 690px;
                    height: 420px;
                    display: block;
                    margin: 25px auto;
                }
            }
        }
    }
</style>
