<template>
    <div style="height: 100%;overflow-y: auto;background: white">
        <div style="padding: 0 30px;">
            <div class="bread">
                <el-breadcrumb >
                    <el-breadcrumb >
                        <el-breadcrumb-item>项目管理</el-breadcrumb-item>
                        <el-breadcrumb-item>项目进度管理</el-breadcrumb-item>
                        <el-breadcrumb-item @click.native="_return"  class="bread-active" style="cursor: pointer">项目详情</el-breadcrumb-item>
                    </el-breadcrumb>
                </el-breadcrumb>
            </div>
            <div class="part1">
<!--                <p class="title">项目名称:{{res.projectName}}-->
<!--                    <i class="i1" v-if="res.projectType == 2">十三五</i>-->
<!--                    <i class="i1" v-if="res.projectType == 1">十二五</i>-->
<!--                    <i class="i2">进行中</i>-->
<!--                    <el-button type="warning" style="margin-left:20px;" @click="goBack">返回</el-button>-->
<!--                </p>-->
                <p class="detail">
                    <span class="span1">申报单位：{{res.companyName}}</span>
                    <span class="span2">项目负责人：{{res.director}}</span>
                    <span class="span3">项目起止年月：{{res.projectStartDate}} - {{res.projectEndDate}}</span>
                </p>
            </div>
            <div class="part2">
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="项目基本信息" name="first">
                        <div class="div1">
                            <h4>项目基本信息</h4>
                            <p>
                                <span>总投资： <i style="font-style: normal;color: #555">{{res.totalInvestment}}万元 </i> </span>
                                <span>自筹资金：<i style="font-style: normal;color: #555">{{res.selfFunds}} 万元</i> </span>
                                <span>专项资金：<i style="font-style: normal;color: #555">{{res.specialFunds}} 万元</i> </span>
                            </p>
                            <p>
                                <span>立项时间： <i style="font-style: normal;color: #555">{{res.approvalDate}}</i> </span>
                                <span>所属区域：<i style="font-style: normal;color: #555">{{res.area}}</i> </span>
                            </p>
                            <p>协作单位 ：<i style="font-style: normal;color: #555">{{res.projectCompanyList.map(item => item.companyName).join('+')}}</i></p>
                            <div class="zynr clear">
                                <span>主要内容：</span>
                                {{res.projectContent}}
                            </div>
                            <div class="zynr clear">
                                <span>完成指标：</span>
                                {{res.targetContent}}
                            </div>
                            <h4>申报单位基本信息</h4>
                            <p>
                                <span>单位名称：<i style="font-style: normal;color: #555">{{res.reportCompanyName}}</i> </span>
                                <span>所在地：<i style="font-style: normal;color: #555">{{res.reportAddress}}</i> </span>
                                <span>通讯地址：<i style="font-style: normal;color: #555">{{res.reportPostalAddress}}</i> </span>
                            </p>
                            <p>
                                <span>邮编：<i style="font-style: normal;color: #555">{{res.reportZipCode}}</i> </span>
                                <span>注册资金：<i style="font-style: normal;color: #555">{{res.reportRegisteredCapital}}万元</i> </span>
                                <span>法人代表：<i style="font-style: normal;color: #555">{{res.reportLead}}</i> </span>
                            </p>
                            <p>
                                <span>立项时间： <i style="font-style: normal;color: #555">{{res.approvalDate}}</i> </span>
                            </p>
                            <div class="zynr clear">
                                <span>营业执照：</span>
                                <span style="padding-left:100px;"><img :src="url+res.reportBusinessLicense" /></span>
                            </div>
                            <!--                            <div class="zynr clear">-->
                            <!--                                <span>法人代表身份证</span>-->
                            <!--                                <span style="padding-left:100px;"><img :src="url+res.reportLeadImgFront" /><img :src="url+res.reportLeadImgBack" /></span>-->
                            <!--                            </div>-->
                            <h4>联系人信息</h4>
                            <p>
                                <span>姓名：<i style="font-style: normal;color: #555">{{res.contactName}}</i> </span>
                                <span>单位：<i style="font-style: normal;color: #555">{{res.contactCompany}}</i> </span>
                                <span>地址：<i style="font-style: normal;color: #555">{{res.contactAddress}} </i> </span>
                            </p>
                            <p>
                                <span>电话：<i style="font-style: normal;color: #555">{{res.contactTelephone}}</i> </span>
                                <span>Email: <i style="font-style: normal;color: #555">{{res.contactEmail}}</i> </span>
                            </p>
                        </div>

                    </el-tab-pane>
                    <el-tab-pane label="项目建设意义" name="second">
                        <div class="div2">
                            <h4>项目建设意义及必要性：</h4>
                            <p style="font-size: 14px;color: #555">{{res.buildMeaning}}</p>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="项目建设方案" name="third">
                        <div class="div3">
                            <h4>总体目标和年度目标：</h4>
                            <p style="font-size: 14px;color: #555">{{res.totalTarget}}</p>
                            <h4>建设内容：</h4>
                            <p style="font-size: 14px;color: #555">{{res.buildContent}}</p>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="项目考核指标" name="fourth">
                        <div class="div4">
                            <table style="width: 100%; border-spacing: 0;font-size: 14px;color: #555" cellspacing="0" v-html="threeStr">
                                <tr>
                                    <td rowspan="30">绩效指标</td>
                                    <td>一级指标</td>
                                    <td>二级指标</td>
                                    <td>三级指标</td>
                                    <td>指标值</td>
                                </tr>
                                <tr>
                                    <td rowspan="17">产出指标</td>
                                    <td rowspan="5">数量指标</td>
                                    <td>新增龙头企业（家）</td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>新增中小微企业（家）</td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>新增省级及以上高薪技术企业 （家） </td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>新增上市企业（个）</td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>产成品数量（个）</td>
                                    <td><input type="text" /></td>
                                </tr>

                                <tr>
                                    <td rowspan="2">质量指标</td>
                                    <td>建成或改造生产线（家） </td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>*新建公共服务平台（个）</td>
                                    <td><input type="text" /></td>
                                </tr>

                                <tr>
                                    <td rowspan="6">时效指标</td>
                                    <td>新增省级及以上产品（个）</td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>新增有效发明专利（项）</td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>新立项行业及以上标准（个）</td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>新增品牌（个）</td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>成果转化数量（个）</td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>新增示范工程（万元）</td>
                                    <td><input type="text" /></td>
                                </tr>

                                <tr>
                                    <td rowspan="4">成本指标</td>
                                    <td>新增设备投入（万元）</td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>新增研发投入（万元）</td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>新建企业研发中心（家</td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>配套设备及材料自给率（%）</td>
                                    <td><input type="text" /></td>
                                </tr>

                                <tr>
                                    <td rowspan="11">效益指标</td>
                                    <td rowspan="4">经济效益指标</td>
                                    <td>*新增出口额（万元）</td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>新增产值（万元）</td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>新增利润（万元）</td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>新增税收（万元）</td>
                                    <td><input type="text" /></td>
                                </tr>

                                <tr>
                                    <td rowspan="4">经济效益指标</td>
                                    <td>新增出口额（万元）</td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>新增产值（万元）</td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>新增利润（万元）</td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>新增税收（万元）</td>
                                    <td><input type="text" /></td>
                                </tr>

                                <tr>
                                    <td rowspan="3">可持续影响指标</td>
                                    <td>新获批省级及以上产业基地、园区个数（个）</td>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <td>新建孵化器个数（个）</td>
                                    <td><input type="text" /></td>
                                </tr>

                                <tr>
                                    <td>新形成较完整的产业链个数（个）</td>
                                    <td><input type="text" /></td>
                                </tr>

                                <tr>
                                    <td colspan="4">+新增特有指标</td>
                                </tr>
                            </table>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="专项资金预算" v-if="false" name="five">
                        <div class="div5">
                            <table border="1" style="width: 100%; border-spacing: 0" cellspacing="0">
                                <tr>
                                    <td rowspan="2">序号</td>
                                    <td rowspan="2">科目名称</td>
                                    <td colspan="3">预算投资额 （单位：万元）</td>
                                </tr>
                                <tr>
                                    <td>自筹</td>
                                    <td>专项</td>
                                    <td>合计</td>
                                </tr>
                                <tr v-for="item in res.projectFundsBudgetList" :key="item.index">
                                    <td>{{item.xuhao}}</td>
                                    <td>{{item.subjectName}}</td>
                                    <td>{{item.budgetSelf}}</td>
                                    <td>{{item.budgetSpecial}}</td>
                                    <td>{{item.budgetTotal}}</td>
                                </tr>
                            </table>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="相关附件" name="six">
                        <div class="div6">
                            <ul v-for="item in res.projectFileList" :key="item.index">
                                <li style="color: #555;font-size: 14px"><span class="el-icon-document"></span>{{item.fileName}} <span class="el-icon-bottom"></span><span @click="download(item)">下载</span></li>
                            </ul>
                            <p v-if="!res.projectFileList" style="line-height:200px;text-align:center;">暂无附件</p>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                activeName:'first',
                userMessage:{},
                projectId:'',
                res:{},
                threeStr:'',
            }
        },
        methods: {
            goBack(){
                this.$router.go(-1);//返回上一层
            },
            getDetail(){
                let _this = this;
                let param = {};
                param.projectId = this.projectId;
                let _url = '';
                if(this.userMessage.userRole == 0){
                    _url = '/ProjectForCompanyController/getSingProjectDetailInfo';
                }else if(this.userMessage.userRole == 2){
                    _url = '/ProjectForExamineController/getSingProjectDetailInfo';
                }

                this.$post(_url,param).then(function(res){
                    console.log(res);
                    _this.res = res.data.resultData;
                    let str = res.data.resultData.projectTargetList;
                    console.log(str);
                    let strNew = '';
                    let strThree = 0;
                    for(let i = 0;i<str.length;i++){
                        for(let j = 0;j<str[i].subList.length;j++){
                            for(let x = 0;x<str[i].subList[j].subList.length;x++){
                                strThree += 1;
                            }
                        }
                    }
                    str.forEach(item =>{
                        item.subList.forEach(child =>{
                            child.subList.forEach(son =>{
                                if(son.targetValue == null || son.targetValue == undefined || son.targetValue == '' || son.targetValue == 0){
                                    son.targetValue = '/'
                                }
                            })
                        })
                    })

                    strNew += '<tr><td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;" rowspan='+(strThree+1)+'>绩效指标</td><td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">一级指标</td><td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">二级指标</td><td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">三级指标</td><td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">指标值</td</tr>';
                    for(let i = 0;i<str.length;i++){
                        let firstLength = 0;//一级指标合并行数
                        for(let j = 0;j<str[i].subList.length;j++){
                            for(let m = 0;m<str[i].subList[j].subList.length;m++){
                                firstLength += 1;
                            }
                        }
                        strNew += '<tr>\
                    <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;" rowspan='+firstLength+'>'+str[i].firstTarget+'</td>\
                    <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;" rowspan='+str[i].subList[0].subList.length+'>'+str[i].subList[0].secondTarget+'</td>\
                    <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+str[i].subList[0].subList[0].thirdTarget+'</td>\
                    <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+str[i].subList[0].subList[0].targetValue+'</td>\
                    </tr>';
                        let j = 0;
                        while(j<str[i].subList.length){
                            for(let a = 1;a<str[i].subList[j].subList.length;a++){
                                strNew += '<tr><td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+str[i].subList[j].subList[a].thirdTarget+'</td><td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+str[i].subList[j].subList[a].targetValue+'</td></tr>';
                            }
                            j++;
                            if(j>=str[i].subList.length){
                                break;
                            }else{
                                strNew += '<tr>\
                            <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;" rowspan='+str[i].subList[j].subList.length+'>'+str[i].subList[j].secondTarget+'</td>\
                            <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+str[i].subList[j].subList[0].thirdTarget+'</td>\
                            <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+str[i].subList[j].subList[0].targetValue+'</td></tr>';
                            }
                        }

                    }
                    _this.threeStr = strNew;
                    //专项资金预算
                    for(let i = 0;i<_this.res.projectFundsBudgetList.length;i++){
                        _this.res.projectFundsBudgetList[i].xuhao = (i+1);
                    }
                    if(_this.res.buildContent == null||_this.res.buildContent == 'null'){
                        _this.res.buildContent = '';
                    }
                    if(_this.res.buildMeaning == null||_this.res.buildMeaning == 'null'){
                        _this.res.buildMeaning = '';
                    }
                    if(_this.res.buildMeaning == null||_this.res.buildMeaning == "null"){
                        _this.res.buildMeaning = '';
                    }
                    if(_this.res.companyName == null||_this.res.companyName == "null"){
                        _this.res.companyName = '';
                    }
                    if(_this.res.contactAddress == null||_this.res.contactAddress == "null"){
                        _this.res.contactAddress = '';
                    }
                    if(_this.res.contactCompany == null||_this.res.contactCompany == "null"){
                        _this.res.contactCompany = '';
                    }
                    if(_this.res.contactEmail == null||_this.res.contactEmail == "null"){
                        _this.res.contactEmail = '';
                    }
                    if(_this.res.contactName == null||_this.res.contactName == "null"){
                        _this.res.contactName = '';
                    }
                    if(_this.res.contactTelephone == null||_this.res.contactTelephone == "null"){
                        _this.res.contactTelephone = '';
                    }
                    if(_this.res.director == null||_this.res.director == "null"){
                        _this.res.director = '';
                    }
                    if(_this.res.projectContent == null||_this.res.projectContent == "null"){
                        _this.res.projectContent = '';
                    }
                    if(_this.res.projectName == null||_this.res.projectName == "null"){
                        _this.res.projectName = '';
                    }
                    if(_this.res.reportCompanyName == null||_this.res.reportCompanyName == "null"){
                        _this.res.reportCompanyName = '';
                    }
                    if(_this.res.reportLead == null||_this.res.reportLead == "null"){
                        _this.res.reportLead = '';
                    }
                    if(_this.res.reportPostalAddress == null||_this.res.reportPostalAddress == "null"){
                        _this.res.reportPostalAddress = '';
                    }
                    if(_this.res.targetContent == null||_this.res.targetContent == "null"){
                        _this.res.targetContent = '--';
                    }
                    if(_this.res.totalTarget == null||_this.res.totalTarget == "null"){
                        _this.res.totalTarget = '--';
                    }
                });
            },
            handleClick(){

            },
            _return(){
                this.$emit('_return')
            },
            download(obj){
                let url = window.location.origin
                window.open(`${url}/cjRiverFile/${obj.fileUrl}`,'_blank')
            }
        },
        mounted() {
            this.projectId = this.detailPro.projectId;
            this.userMessage = JSON.parse(sessionStorage.getItem('userMessage'));
            this.getDetail();
        },
        props: {
            detailPro: {}
        }
    }
</script>
<style lang="scss" scoped>
    .bread{
        height:60px;
        z-index:999;
        display: flex;
        align-items: center;
        &-active{
            & >>> .el-breadcrumb__inner{
                cursor: pointer;
                &:hover{
                    color: #238DFD;
                    cursor: pointer;
                }
            }
        }
    }
    .part1{
        margin-top:20px;
        .title{
            font-size:18px;
            font-weight:bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            i{
                display:inline-block;
                font-weight: normal;
                background:#65C2BD;
                color:#D1F3F1;
                font-size:12px;
                text-align:center;
                font-style:normal;
                padding: 6px;
                margin-left:4px;
                border-radius:4px;
            }
            .i2{
                background:orange;
                color:#fff;
            }
        }
        .detail{
            margin-top:16px;
            span{
                margin-left:50px;
                &:nth-child(1){
                    margin-left:0;
                }
            }

        }
    }
    .part2{
        margin-top:30px;
        padding-bottom: 30px;
        .div1{
            h4{
                margin-top:20px;
            }
            p{
                line-height:30px;
                font-size:14px;
                margin-top:10px;
                display: flex;
                span{
                    display:inline-block;
                    width: 30%;
                    font-size:14px;
                    line-height:30px;
                    &:nth-child(1){
                        margin-left:0;
                    }
                }

            }
            .zynr{
                margin-top:10px;
                font-size: 14px;
                vertical-align: top;
                color: #555;
                span{
                    font-size:14px;
                    color: #000;
                }
                img{
                    width:250px;
                }
            }
        }
        .div2,.div3{
            line-height:30px;
            font-size:16px;
            width:100%;
            h4{
                margin-top:20px;
            }
            p{
                margin-top:20px;
            }
        }
        .div4{
            table{
                border:1px solid #cccccc;
                border-right:none;
                border-bottom:none;
            }

        }
        .div5{
            td{
                line-height:30px;
                padding-left:20px;
            }
        }
        .div6{
            li{
                line-height: 30px;
                font-size:16px;
                span{
                    margin-right:6px;
                }
            }
        }
    }
</style>
