<template>
    <div style="height: 100%">
        <div class="task" v-if="!resultShow && !verifyShow && !detailShow">
            <div class="bread">
                <el-breadcrumb >
                    <el-breadcrumb >
                        <el-breadcrumb-item>项目管理</el-breadcrumb-item>
                        <el-breadcrumb-item>整体区域评价</el-breadcrumb-item>
                    </el-breadcrumb>
                </el-breadcrumb>
            </div>
            <div class="task-theme">

                <div>
                    <div class="taskAdd" v-if="userType == 2">
                        <p @click="addExpertReviewTask"><i class="el-icon-plus"></i>创建专家评审任务</p>
                    </div>
                    <div class="tab">
                        <el-tabs v-model="taskActive" @tab-click="handleClick">
                            <el-tab-pane :label="'全部评审任务（'+ (0 || taskObject.count) + '）'" name="1"></el-tab-pane>
                            <el-tab-pane :label="'未完成评审（'+ ( 0 ||taskObject.unfinishCount) + '）'" name="2"></el-tab-pane>
                            <el-tab-pane :label="'已完成评审（'+ ( 0 || taskObject.finishCount)+'）'" name="3"></el-tab-pane>
                        </el-tabs>
                        <el-form inline>
                            <el-form-item label="项目类型" label-width="80px">
                                <el-select v-model="selectMenu.projectType" @change="getData">
                                    <el-option label="十二五" value="1"></el-option>
                                    <el-option label="十三五" value="2"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="项目阶段" label-width="80px">
                                <el-select v-model="selectMenu.projectState" @change="getData">
                                    <el-option label="不限" value=""></el-option>
                                    <el-option label="第一年度考核" value="第一年度考核"></el-option>
                                    <el-option label="中期考核" value="中期考核"></el-option>
                                    <el-option label="最终验收" value="最终验收"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item>
                                <el-button style="margin-top: 3px" type="primary" @click="flatChart = true">查看评审流程</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </div>
            </div>

            <div class="task-area" :style="{height: userType == 1 ? 'calc(100% - 125px)': 'calc(100% - 190px)'}">
                <div>
                    <div class="task-area-container" v-for="(item,index) in taskObject.assessAreaTaskModelList" >
                        <el-card :key="index">
                            <div class="card">
                                <div class="area">
                                    <div class="area-btn">
                                        <p>{{item.area}}</p>
                                        <span>{{item.projectStage}}</span>
                                        <el-button type="primary" @click="lookAllData(item)">查看所有资料</el-button>
                                        <el-button type="primary" @click="lookResult(item)">查看评价结果</el-button>
                                        <el-button v-if="item.expertTaskStatus == false && btnArr.includes('待评审')" type="danger" @click="goResult(item)">待评审</el-button>
                                        <el-button v-if="item.expertTaskStatus == true && btnArr.includes('已评审')" type="primary" @click="goResult(item)">已评审</el-button>
                                    </div>
                                    <div class="area-avatar">
                                        <ul>

                                            <li v-for="child in item.expertList" :key="item.index">
                                                <div class="avatar-position">
                                                    <img :src="avatar" alt="">
                                                    <div :style="{ background: child.assessState == 2 ? '#02BD6E' : 'red'}"></div>
                                                </div>
                                                <el-tooltip class="item" effect="light" placement="top" :content="child.assessState == 2 ? '查看打分详情' : '暂未打分'">
                                                    <p style="cursor: pointer">{{child.expertName}}{{child.isLeader == 1? '组长' : ''}}</p>
                                                </el-tooltip>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="areaTime">
                                    <p>评审截止时间: <span>{{item.reviewResult}}</span></p>
                                    <p class="openBtn" @click="showAllProject(item)">
                                        展开所有项目
                                        <i v-if="!allProjectShow" class="el-icon-arrow-down"></i>
                                        <i v-if="allProjectShow" class="el-icon-arrow-up"></i>
                                    </p>
                                </div>
                            </div>
                        </el-card>
                        <div class="allPro" v-if="item.allProjectShow">
                            <el-table :data="projectList.records">
                                <el-table-column show-overflow-tooltip width="400" label="项目名称" prop="projectName"></el-table-column>
                                <el-table-column show-overflow-tooltip width="350" label="申报单位" prop="companyName"></el-table-column>
                                <el-table-column label="项目起止年月">
                                    <template slot-scope="scope">
                                        <span>{{scope.row.startDate}} - {{scope.row.endDate}}</span>
                                    </template>
                                </el-table-column>
                                <el-table-column label="总投资" prop="totalInvestment"></el-table-column>
                                <el-table-column label="项目状态" prop="status"></el-table-column>
                                <el-table-column label="操作">
                                    <template slot-scope="scope">
                                        <el-button type="text" @click="look_detail(scope.row)">查看项目详情</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                    </div>
                </div>
            </div>

            <el-dialog append-to-body width="550px" custom-class="flat" :visible.sync="flatChart">
                <div slot="title" class="flat-title">
                    <p>查看评审流程图</p>
                </div>
                <div class="flat-main">
                    <p>流程图</p>
                    <div class="container">
                        <el-row class="container-title" type="flex" align="middle" justify="center">
                            <el-col :span="7">
                                角色
                            </el-col>
                            <el-col :span="7">
                                <div>平台</div>
                            </el-col>
                            <el-col :span="10">
                                <div>专家</div>
                            </el-col>
                        </el-row>
                        <el-row class="container-main" type="flex" align="top">
                            <el-col :span="7">
                                <div>
                                    第一步
                                    <span>1</span>
                                </div>
                            </el-col>
                            <el-col :span="5" :offset="1">
                                <div>创建评审任务</div>
                            </el-col>
                            <el-col :span="6" offset="3">
                                <div>接到区域评审任务</div>
                            </el-col>
                        </el-row>
                        <el-row class="container-main" type="flex" align="top">
                            <el-col :span="7">
                                <div>
                                    第二步
                                    <span>2</span>
                                </div>
                            </el-col>
                            <el-col :span="5" :offset="1">
                                <div>添加评审专家、评审截止时间、评审区域</div>
                            </el-col>
                            <el-col :span="6" offset="3">
                                <div>查看材料(项目考核报告或技术报告和总体区域考核报告)</div>
                            </el-col>
                        </el-row>
                        <el-row class="container-main" type="flex" align="top">
                            <el-col :span="7">
                                <div>
                                    第三步
                                    <span>3</span>
                                </div>
                            </el-col>
                            <el-col :span="5" :offset="1">
                                <div></div>
                            </el-col>
                            <el-col :span="6" :offset="3">
                                <div>针对每项指标进行评审</div>
                            </el-col>
                        </el-row>
                    </div>
                </div>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="flatChart = false">取 消</el-button>
                    <el-button type="primary" @click="flatChart = false">确 定</el-button>
                </span>
            </el-dialog>

            <el-dialog append-to-body width="550px" custom-class="Item flat" :visible.sync="expertTaskShow">
                <div slot="title" class="Item-title">
                    <p>分配专家打分任务</p>
                </div>
                <div class="Item-main">
                    <el-form label-width="100px" :model="itemFormData" ref="itemDom" :rules="itemFormRule">
                        <el-form-item label="选择专家" prop="expertWay">
                            <div>
                                <el-radio-group v-model="itemFormData.expertWay" @change="expertRandom">
                                    <el-radio label="1">手选专家</el-radio>
                                    <el-radio label="2">随机选择</el-radio>
                                </el-radio-group>
                                <span>（最少选择10名专家）</span>
                            </div>
                            <div>
                                <el-select @change="selectEvent" multiple :disabled="itemFormData.expertWay == '2'" :multiple-limit="10" v-model="itemFormData.activeExperts">
                                    <el-option :label="item.realName" :value="item.userId" v-for="(item,index) in expertList" :key="index"></el-option>
                                </el-select>
                            </div>
                        </el-form-item>
                        <el-form-item label="选择组长" prop="groupLeader">
                            <el-select :disabled="itemFormData.activeExperts.length >= 10 ? false : true" v-model="itemFormData.groupLeader" @change="leaderChange">
                                <el-option :label="item.realName" :value="item.userId" v-for="(item,child) in activeExpertList" :key="child"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="截至日期" prop="endDate">
                            <el-date-picker v-model="itemFormData.endDate" type="date" placeholder="选择日期" value-format="yyyy-MM-dd"></el-date-picker>
                        </el-form-item>
                        <el-form-item label="项目类型" prop="projectType">
                            <el-select v-model="itemFormData.projectType">
                                <el-option label="十二五" value="1" disabled></el-option>
                                <el-option label="十三五" value="2"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="评价阶段" prop="evaluationStage">
                            <el-select v-model="itemFormData.evaluationStage">
                                <el-option label="第一年度考核" value="第一年度考核"></el-option>
                                <el-option label="中期考核" value="中期考核"></el-option>
                                <el-option label="最终验收" value="最终验收"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="选择区域" prop="area">
                            <el-checkbox-group v-model="itemFormData.area" :max="1">
                                <el-checkbox label="南通"></el-checkbox>
                                <el-checkbox label="浦东新区"></el-checkbox>
                                <el-checkbox label="舟山"></el-checkbox>
                                <el-checkbox label="宁波"></el-checkbox>
                                <el-checkbox label="厦门"></el-checkbox>
                                <el-checkbox label="福州"></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
                    </el-form>
                </div>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="_cancel">取 消</el-button>
                    <el-button type="primary" @click="submitAddTask">确 定</el-button>
                </span>
            </el-dialog>
        </div>

        <div class="reviewResult" v-if="resultShow">
            <div class="bread">
                <el-breadcrumb >
                    <el-breadcrumb >
                        <el-breadcrumb-item>首页</el-breadcrumb-item>
                        <el-breadcrumb-item>项目评价管理</el-breadcrumb-item>
                        <el-breadcrumb-item class="bread-active" @click.native="_return" style="cursor: pointer">评审结果</el-breadcrumb-item>
                    </el-breadcrumb>
                </el-breadcrumb>
            </div>
            <div class="resultTable">
                <div class="tableTitle">
                    <span class="lpArrow borderTip"></span>
                    <span class="rpArrow borderTip"></span>
                    <span class="lbArrow borderTip"></span>
                    <span class="rbArrow borderTip"></span>
                    <div>上海区域总体评审结果</div>
                </div>
                <div class="tableMain">
                    <table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse;" class="table-bordered">
                        <thead>
                        <tr>
                            <td rowspan="2" class="title">一级指标</td>
                            <td rowspan="2">二级指标</td>
                            <td colspan="4">评价矩阵</td>
                        </tr>
                        <tr>
                            <td style="width: 190px;">优秀</td>
                            <td style="width: 190px;">良好</td>
                            <td style="width: 190px;">合格</td>
                            <td style="width: 190px;">较差</td>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="(item,index) in optionList">
                            <tr v-for="(child,childIndex) in item.indexConsts">
                                <td>{{child.indexName}}</td>
                                <td>{{child.indexGist}}</td>
                                <td>{{child.pointA}}</td>
                                <td>{{child.pointB}}</td>
                                <td>{{child.pointC}}</td>
                                <td>{{child.pointD}}</td>
                            </tr>
                        </template>
                        <tr>
                            <td style="text-align: left;" colspan="6">
                                <p style="margin-left: 30px;height: 100px;line-height: 100px">总体的综合评判分值为{{optionListObj.point}}，评价结果为
                                    <span v-if="optionListObj.assessLevel == 1">优秀</span>
                                    <span v-if="optionListObj.assessLevel == 2">良好</span>
                                    <span v-if="optionListObj.assessLevel == 3">合格</span>
                                    <span v-if="optionListObj.assessLevel == 4">较差</span>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="reviewResult" v-if="verifyShow">
            <div class="bread">
                <el-breadcrumb >
                    <el-breadcrumb >
                        <el-breadcrumb-item>首页</el-breadcrumb-item>
                        <el-breadcrumb-item>项目评价管理</el-breadcrumb-item>
                        <el-breadcrumb-item @click.native="_return"  class="bread-active" style="cursor: pointer">{{showRadio ? '去评审' : '评审详情'}}</el-breadcrumb-item>
                    </el-breadcrumb>
                </el-breadcrumb>
            </div>
            <div class="resultTable">
                <span class="stuff" @click="lookAllData(detailObj)">查看评审材料</span>
                <div class="tableTitle">
                    <span class="lpArrow borderTip"></span>
                    <span class="rpArrow borderTip"></span>
                    <span class="lbArrow borderTip"></span>
                    <span class="rbArrow borderTip"></span>
                    <h3>上海区域-评审{{showRadio ? '内容' : '详情'}}</h3>
                </div>
                <div class="tableMain mainFix">
                    <table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse;" class="table-bordered">
                        <thead>
                        <tr>
                            <td class="titles title">一级指标</td>
                            <td class="titles">二级指标</td>
                            <td class="titles">评分依据</td>
                            <td class="titles">评价等级</td>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="(item,index) in optionList">
                            <tr v-for="(child,childIndex) in item.indexConsts">
                                <td v-if="childIndex == 0" :rowspan="item.indexConsts.length">{{item.indexName}}</td>
                                <td>{{child.indexName}}</td>
                                <td class="basisTitle" v-html="child.indexGist"></td>
                                <td v-if="showRadio">
                                    <el-radio-group v-model="child.pointLevel">
                                        <el-radio :label="grade.value" :key="inset" v-for="(grade,inset) in gradeArr">{{grade.title}}</el-radio>
                                    </el-radio-group>
                                </td>
                                <td v-if="!showRadio">{{gradeArr[child.indexLevel - 1].title}}</td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>
                <div class="tableFooter" v-if="showRadio">
                    <div class="btns">
                        <el-button type="primary" @click="submit()">提交</el-button>
                        <el-button style="height: 32px;line-height: 32px;padding: 0 20px;" @click="storageEvent">暂存</el-button>
                    </div>
                </div>
            </div>
        </div>

        <el-drawer append-to-body :show-close="false" custom-class="data-drawer" :visible.sync="dataShow" direction="rtl">
            <div class="data-title">
                <p>相关资料</p>
            </div>
            <div class="data-list">
                <ul>
                    <li v-for="item in fileData">
                        <div>
                            <i class="el-icon-paperclip"></i>
                            <span>{{item.fileName}}</span>
                        </div>
                        <a href="#" @click="downloadFile(item)">
                            <i class="el-icon-download"></i>下载
                        </a>
                    </li>
                </ul>
            </div>
        </el-drawer>

        <detail v-if="detailShow" :detailPro="detailPro" @_return="_returnMain"></detail>
    </div>
</template>

<script>
    import moment from 'moment'
    import detail from './projectDetail'
    export default {
        data(){
            return{
                activeExpertList: [],
                taskActive: '1',
                avatar: require('../../assets/avatar.png'),
                dataShow: false,
                flatChart: false,
                allProjectShow: false,
                resultShow: false,
                expertTaskShow: false,
                itemFormData: {
                    expertWay: '1',
                    activeExperts: [],
                    groupLeader: '',
                    endDate: '',
                    projectType: '',
                    evaluationStage: '',
                    area: []
                },
                itemFormRule: {
                    expertWay: [{required: true, message: '请选择挑选专家方式', rigger: 'blur'}],
                    groupLeader: [{required: true, message: '请选择组长', rigger: 'change'}],
                    endDate: [{required: true, message: '请选择截止日期', rigger: 'change'}],
                    projectType: [{required: true, message: '请选择项目类型', rigger: 'change'}],
                    evaluationStage: [{required: true, message: '请输入评价阶段', rigger: 'blur'}],
                    area: [{required: true, message: '请勾选区域', trigger: 'change'}]
                },
                btnArr: [],
                verifyShow: false,
                gradeArr: [
                    {
                        title: '优秀',
                        value: '1'
                    },
                    {
                        title: '良好',
                        value: '2'
                    },
                    {
                        title: '合格',
                        value: '3'
                    },
                    {
                        title: '较差',
                        value: '4'
                    }
                ],
                verifyData: [
                    {
                        title: '机制建立与运行情况',
                        child: [
                            {
                                title: '组织机制建立',
                                basis: '组织协调机制建立和运行情况，通过创新体制机制形成的可复制推广的机制情况，以及形成的成果转化和集聚发展等模式情况',
                                evaluateGrade: '',
                                grade: '良好'
                            },
                            {
                                title: '政策制度保障',
                                basis: '制定出台项目资金管理、验收考核等项目管理办法，以及执行和运行情况',
                                evaluateGrade: '',
                                grade: '良好'
                            },
                            {
                                title: '过程管理',
                                basis: '项目立项、审批、监管和验收等过程管理程序规范运行情况',
                                evaluateGrade: '',
                                grade: '良好'
                            },
                            {
                                title: '海洋经济运行监测',
                                basis: '企业报送率至少在90%以上，企业报送连续性、报送指标完整性和有效性',
                                evaluateGrade: '',
                                grade: '良好'
                            },
                            {
                                title: '整改落实',
                                basis: '定期与不定期考核、项目现场抽查，以及整改措施的落实情况',
                                evaluateGrade: '',
                                grade: '良好'
                            },
                        ]
                    },
                    {
                        title: '项目执行情况',
                        child: [
                            {
                                title: '存在问题项目情况',
                                basis: '存在关键指标降低、延期、退出等问题的项目情况',
                                evaluateGrade: '',
                                grade: '良好'
                            },
                            {
                                title: '检查验收情况',
                                basis: '项目接受检查以及验收完成情况',
                                evaluateGrade: '',
                                grade: '良好'
                            },
                            {
                                title: '项目立项情况',
                                basis: '项目库内重点项目立项情况',
                                evaluateGrade: '',
                                grade: '良好'
                            }
                        ]
                    },
                    {
                        title: '资金政策集成创新',
                        child: [
                            {
                                title: '企业创新情况',
                                basis: '推进企业技术、管理、商业模式创新，以及培育产业发展新动能情况',
                                evaluateGrade: '',
                                grade: '良好'
                            },
                            {
                                title: '资源政策集成',
                                basis: '促进资源向优先发展领域集中，以及产学研用融合发展等政策创新和落实情况',
                                evaluateGrade: '',
                                grade: '良好'
                            },
                            {
                                title: '资金政策集成',
                                basis: '财税、金融等政策和模式的创新性及支持力度',
                                evaluateGrade: '',
                                grade: '良好'
                            },
                            {
                                title: '多元资金集成',
                                basis: '地方财政及社会资金投入情况',
                                evaluateGrade: '',
                                grade: '良好'
                            }
                        ]
                    },
                    {
                        title: '绩效目标完成情况',
                        child: [
                            {
                                title: '驱动产业发展情况',
                                basis: '相关海洋战略性新兴产业新增产值、出口额、税收等；'
                                    + '<br>' + '海洋战略性新兴产业年均增速；'
                                    + '<br>' + '海洋战略性新兴产业聚集区和中高端产业链形成情况，以及培育孵化龙头、中小微、高技术和上市涉海企业情况；'
                                    + '<br>' + '带动新增就业人数和重点产业就业人数，以及带动社会资金投入情况；'
                                    + '<br>' + '通过项目实施形成新生产线、新产品、新示范工程的数量等。',
                                evaluateGrade: '',
                                grade: '良好'
                            },
                            {
                                title: '产业创新能力提升',
                                basis: '成果形成情况(含申请发明专利、产品证书、配套设备和材料自给率、标准、标志性成果和产品数、品牌等）；'
                                    + '<br>' + '成果转化情况（含成果转化数量，新建转化服务平台、中试基地、孵化器、企业研发中心等数量）；'
                                    + '<br>' + '地方及企业的研发投入；'
                                    + '<br>' + '产学研用协同创新情况。',
                                evaluateGrade: '',
                                grade: '良好'
                            },
                            {
                                title: '经济、生态及社会效益',
                                basis: '对海洋经济规划贯彻落实和对海洋经济发展方式转变带动作用；'
                                    + '<br>' + '对海洋生态环境保护和生态文明建设的促进作用；'
                                    + '<br>' + '政策宣传效果。',
                                evaluateGrade: '',
                                grade: '良好'
                            }
                        ]
                    }
                ],
                showRadio: false,
                selectMenu: {
                    projectType: '1',
                    projectState: '',
                    untitled: ''
                },
                expertList: [],
                taskObject: {},
                projectList: [],
                fileData: [],
                userType: '',
                optionList: [],
                detailObj: {},
                expertObj: {},
                detailShow: false,
                detailPro: {}
            }
        },
        methods:{
            selectEvent(val){
                if(val.length == 10){
                    this.activeExpertList = this.expertList.filter(item => val.includes(item.userId))
                }
            },
            handleClick(tab){
                let index = parseInt(tab.index)
                if(index == 0){
                    this.selectMenu.untitled = ''
                }else if(index == 1){
                    this.selectMenu.untitled = '0'
                }else if(index == 2){
                    this.selectMenu.untitled = '1'
                }
                let message = JSON.parse(sessionStorage.getItem('userMessage'))
                if(message.userRole != '3'){
                    this.getData()
                }else if(message.userRole == '3'){
                    this.getExpertData()
                }
            },
            lookAllData(data){
                let url = ''
                this.userType == 0 || this.userType == 2  ?  url = '/AreaAssessForManagerController/getAssessDataFile' : url = '/AreaAssessForExpertController/getAssessDataFile'
                this.$post(url,{areaTaskId: data.assessId})
                    .then(data =>{
                        this.fileData = data.data.resultData
                        if(this.fileData.length == 0){
                            this.$message.info('暂无数据')
                        }else{
                            this.dataShow = true
                        }
                    })

            },
            showAllProject(data){
                this.taskObject.assessAreaTaskModelList.forEach(item =>{
                    if(item.assessId == data.assessId){
                        item.allProjectShow ? item.allProjectShow = false : item.allProjectShow = true
                    }else{
                        item.allProjectShow = false
                    }
                })
                this.getProjectList(data)
            },
            getProjectList(data){
                let url = ''
                this.userType == 0 || this.userType == 2 || this.userType == 1 ?  url = '/AreaAssessForManagerController/getProjectList' : url = '/AreaAssessForExpertController/getProjectList'

                let param = {
                    areaTaskId: data.assessId,
                    pageNum: 1
                }
                this.$post(url,param)
                    .then(data =>{
                        this.projectList = data.data.resultData
                        this.projectList.records.forEach(item =>{
                            item.startDate = moment(item.startDate).format('YYYY-MM')
                            item.endDate = moment(item.endDate).format('YYYY-MM')
                        })
                    })
            },
            _return(){
                this.resultShow = this.verifyShow = false
            },
            addExpertReviewTask(){
                if(this.userType != '3'){
                    this.expertTaskShow = true
                }else if(this.userType == '3'){
                    this.$message.info('您的身份不是平台角色，不能执行该操作')
                }
            },
            downloadFile(item){
                this.$post('/download',{id: item.fileId})
                    .then(data =>{
                        window.open(data.data.resultData,'_blank')
                        // const blob = new Blob([data.data], );
                        // const reader = new FileReader();
                        // reader.readAsDataURL(blob);
                        // reader.onload = (e) => {
                        //     const a = document.createElement('a');
                        //     a.download = item.fileName;
                        //     a.href = e.target.result;
                        //     document.body.appendChild(a);
                        //     a.click();
                        //     document.body.removeChild(a);
                        // }
                    })
            },
            _cancel(){
                this.$refs.itemDom.resetFields()
                this.itemFormData.activeExperts = []
                this.expertTaskShow = false
            },
            goResult(item){
                this.verifyShow = true
                this.detailObj = item
                if(item.expertTaskStatus == false){
                    this.showRadio = true
                    this.getOptions()
                }else{
                    this.showRadio = false
                    this.getTaskDetail(item)
                }
            },
            look_stuff(){
                this.dataShow = true
            },
            getData(){
                let message = JSON.parse(sessionStorage.getItem('userMessage'))
                let url = ''
                this.userType == 0 || this.userType == 2 || this.userType == 1 ?  url = '/AreaAssessForManagerController/getAssessTaskList' : url = '/AreaAssessForExpertController/getAssessTaskList'
                this.$post(url,this.selectMenu)
                    .then(data =>{
                        this.taskObject = data.data.resultData
                        this.taskObject.assessAreaTaskModelList.map(item =>{
                            this.$set(item,'allProjectShow',false)
                            item.expertList.forEach(child =>{
                                if(child.expertName == message.realName){
                                    this.expertObj = child
                                    if(child.assessState == 2){
                                        this.$set(item,'expertTaskStatus',true)
                                        this.$set(item,'expertTaskId',child.assessId)
                                    }else{
                                        this.$set(item,'expertTaskStatus',false)
                                        this.$set(item,'expertTaskId',child.assessId)
                                    }
                                }
                            })
                        })
                    })
            },
            getExpertList(){
                this.$post('/AreaAssessForManagerController/getExpertList')
                    .then(data =>{
                        this.expertList = data.data.resultData
                    })
            },
            leaderChange(userId){
                this.expertList.forEach(item =>{
                    if(item.userId == userId){
                        this.$set(item,'isLeader',1)
                    }else{
                        this.$set(item,'isLeader',0)

                    }
                })
            },
            submitAddTask(){


                this.$refs.itemDom.validate(valid =>{
                    if(valid){
                        let expertList = []
                        this.expertList.forEach(item =>{
                            if(this.itemFormData.activeExperts.includes(item.userId)){
                                let obj = {
                                    expertName: item.realName,
                                    isLeader: item.isLeader,
                                    userId: item.userId
                                }
                                expertList.push(obj)
                            }
                        })
                        let param = {
                            area: this.itemFormData.area[0],
                            expertList: expertList,
                            projectStage: this.itemFormData.evaluationStage,
                            projectType: this.itemFormData.projectType,
                            reviewResult: this.itemFormData.endDate,
                        }

                        this.$copyPost('/AreaAssessForManagerController/createAssessTask',param)
                            .then(data =>{
                                this.$message.success('创建成功')
                                this._cancel()
                                this.expertTaskShow = false
                            })

                    }else{
                        this.$message.warning('请将表单填写完整')
                    }
                })
            },
            lookResult(data){
                if(data.untitled == 0){
                    this.$message.info('评审未完成')
                }else{
                    let url = ''
                    this.userType == 0 || this.userType == 2   ?  url = '/AreaAssessForManagerController/getAssessResultForArea' : url = '/AreaAssessForExpertController/getAssessResultForArea'
                    this.resultShow = true
                    this.$post(url,{areaTaskId: data.assessId})
                        .then(data =>{
                            this.optionListObj = data.data.resultData
                            this.optionList = this.optionListObj.areaIndexModels
                        })
                }
            },
            getExpertData(){
                let message = JSON.parse(sessionStorage.getItem('userMessage'))
                this.$post('/AreaAssessForExpertController/getAssessTaskList',this.selectMenu)
                    .then(data =>{
                        this.taskObject = data.data.resultData
                        this.taskObject.assessAreaTaskModelList.map(item =>{
                            this.$set(item,'allProjectShow',false)
                            item.expertList.forEach(child =>{
                                if(child.expertName == message.realName){
                                    this.expertObj = child
                                    if(child.assessState == 2){
                                        this.$set(item,'expertTaskStatus',true)
                                        this.$set(item,'expertTaskId',child.assessId)
                                    }else{
                                        this.$set(item,'expertTaskStatus',false)
                                        this.$set(item,'expertTaskId',child.assessId)
                                    }
                                }
                            })
                        })
                    })
            },
            getOptions(){
                if(this.expertObj.assessState == 1){
                    this.$post('/AreaAssessForExpertController/getAssessResultForExpert',{expertTaskId: this.detailObj.expertTaskId})
                        .then(data =>{
                            this.optionList = data.data.resultData
                        })
                }else{
                    this.$post('/AreaAssessForExpertController/getIndexList')
                        .then(data =>{
                            this.optionList = data.data.resultData
                        })
                }
            },
            getTaskDetail(data){
                this.$post('/AreaAssessForExpertController/getAssessResultForExpert',{expertTaskId: data.expertTaskId})
                    .then(data =>{
                        this.optionList = data.data.resultData
                    })
            },
            submit(){
                let expertList = this.detailObj.expertList
                let message = JSON.parse(sessionStorage.getItem('userMessage'))
                let expertObj = {}
                let param = {
                    assessList: [],
                    expertTaskId: '',
                    status: '2'
                }
                expertList.forEach(item =>{
                    if(item.expertName == message.realName){
                        param.expertTaskId = item.assessId
                        expertObj = item
                    }
                })
                if(expertObj.assessState == 0){
                    this.optionList.forEach(item =>{
                        item.indexConsts.forEach(child =>{
                            let obj = {
                                assessLevel: child.pointLevel,
                                firstTarget: item.indexCode,
                                secondTarget: child.indexCode
                            }
                            param.assessList.push(obj)
                        })
                    })
                    this.$copyPost('/AreaAssessForExpertController/areaRating', param)
                        .then(data =>{
                            this.$message.success('提交成功')
                            this._return()
                            this.getExpertData()
                        })

                }else{
                    this.optionList.forEach(item =>{
                        item.indexConsts.forEach(child =>{
                            let obj = {
                                assessLevel: child.pointLevel,
                                firstTarget: item.indexCode,
                                secondTarget: child.indexCode,
                                assessId: child.assessId
                            }
                            param.assessList.push(obj)
                        })
                    })
                    this.$copyPost('/AreaAssessForExpertController/areaRating', param)
                        .then(data =>{
                            this.$message.success('提交成功')
                            this._return()
                            this.getExpertData()
                        })
                }
            },
            storageEvent(){
                let expertList = this.detailObj.expertList
                let message = JSON.parse(sessionStorage.getItem('userMessage'))
                let expertObj = {}
                let param = {
                    assessList: [],
                    expertTaskId: '',
                    status: '1'
                }
                expertList.forEach(item =>{
                    if(item.expertName == message.realName){
                        param.expertTaskId = item.assessId
                        expertObj = item
                    }
                })
                if(expertObj.assessState == 0){
                    this.optionList.forEach(item =>{
                        item.indexConsts.forEach(child =>{
                            let obj = {
                                assessLevel: child.pointLevel,
                                firstTarget: item.indexCode,
                                secondTarget: child.indexCode
                            }
                            param.assessList.push(obj)
                        })
                    })
                    this.$copyPost('/AreaAssessForExpertController/areaRating', param)
                        .then(data =>{
                            this.$message.success('暂存成功')
                            this._return()
                            this.getExpertData()
                        })

                }
            },
            look_detail(data){
                this.detailShow = true
                this.detailPro = data
            },
            _returnMain(){
                this.detailShow = false
            },
            expertRandom(num){
                if(num == 2){
                    this.itemFormData.activeExperts = getRandomArr(this.expertList,10).map(item => item.userId)
                    this.activeExpertList = this.expertList.filter(item => this.itemFormData.activeExperts.includes(item.userId))
                    console.log(this.activeExpertList)
                    function getArrRandom(arr){
                        let len = arr.length;
                        for (let i = len - 1; i >= 0; i--) {
                            let randomIndex = Math.floor(Math.random() * (i + 1));
                            let itemIndex = arr[randomIndex];
                            arr[randomIndex] = arr[i];
                            arr[i] = itemIndex;
                        }
                        return arr;

                    }

                    function getRandomArr(arr,num){
                        const tmpArr = getArrRandom(arr);
                        let arrList = [];
                        for (let i = 0; i < num; i++) {
                            arrList.push(tmpArr[i]);
                        };
                        return arrList
                    }

                }
            }
        },
        created() {
            let message = JSON.parse(sessionStorage.getItem('userMessage'))
            this.userType = message.userRole
            if(message.userRole != '3'){
                this.btnArr = []
                this.getExpertList()
                this.getData()
            }else if(message.userRole == '3'){
                this.btnArr = ['待评审', '已评审']
                this.getExpertData()
            }

        },
        components:{
            detail
        }
    }
</script>

<style lang="scss" scoped>
    .task{
        height: 100%;
        .bread{
            height: 40px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #f5f5f5;
            background: #FFF;
            padding-left: 20px;
        }
        &-theme{
            width: 100%;
            background: #fff;
            padding: 10px 30px 10px;
            .taskAdd{
                width: 100%;
                height: 70px;
                border: 1px dashed #AAAAAA;
                cursor: pointer;
                p{
                    line-height: 70px;
                    text-align: center;
                    color: #333;
                    i{
                        margin-right: 10px;
                        font-weight: 500;
                    }
                }
            }
            .tab{
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                .el-tabs >>> .el-tabs__nav-wrap::after{
                    height: 0px !important;
                }
                .el-tabs >>> .el-tabs__header{
                    margin: 0px !important;
                }
                .el-form-item{
                    margin-bottom: 0;
                }
            }
        }
        &-area{
            background: #fff;
            width: 100%;
            margin-top: 10px;
            /*height: ;*/
            overflow-y: auto;
            &-container{
                margin-top: 20px;
                &:first-of-type{
                    margin-top: 0;
                }
                .el-card{
                    width: calc(100% - 40px);
                    margin: 0 auto 0;
                    .card{
                        display: flex;
                        justify-content: space-between;
                        .area{
                            width: calc(100% - 250px);
                            &-btn{
                                display: flex;
                                align-items: center;
                                border-bottom: 1px solid #F2F2F2;
                                padding-bottom: 15px;
                                p{
                                    margin-right: 20px;
                                }
                                span{
                                    display: inline-block;
                                    background-color: rgba(255, 240, 246, 1);
                                    border: 1px solid rgba(255, 173, 210, 1);
                                    color: #F5317F;
                                    height: 32px;
                                    line-height: 32px;
                                    border-radius: 4px;
                                    padding: 0 15px;
                                    margin-right: 10px;
                                }
                            }
                            &-avatar{
                                width: 100%;
                                ul{
                                    display: flex;
                                    flex-flow: row wrap;
                                }
                                li{
                                    margin-right: 15px;
                                    .avatar-position{
                                        width: 45px;
                                        margin:  0 auto;
                                        position: relative;
                                        img{
                                            width: 45px;
                                            height: 45px;
                                            border-radius: 50%;
                                            display: block;
                                            margin-top: 20px;
                                        }
                                        div{
                                            width: 10px;
                                            height: 10px;
                                            border-radius: 50%;
                                            position: absolute;
                                            top: 3px;
                                            right: 3px;
                                        }
                                    }
                                    p{
                                        text-align: center;
                                        margin-top: 5px;
                                    }
                                }
                            }
                        }
                        .areaTime{
                            .openBtn{
                                margin-top: 10px;
                                text-align: right;
                                font-size: 14px;
                                color: #108EE9;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .allPro{
                    width: calc(100% - 40px);
                    margin: 0 auto 0;
                    .el-table >>> .has-gutter tr{
                        background: #EBF4FF !important;
                    }
                    .el-table >>> .has-gutter th{
                        background: #EBF4FF !important;
                    }
                }
            }
        }
    }


    .flat{
        &-main{
            .container{
                margin-top: 20px;
                border: 1px dashed #D7D7D7;
                background: #F2F2F2;
                &-title{
                    margin-top: 20px;
                    .el-col{
                        text-align: center;
                        font-size: 16px;
                        font-weight: 500;
                        display: flex;
                        justify-content: center;
                        >div{
                            width: 85px;
                            height: 35px;
                            background: #218DF9;
                            border-radius: 5px;
                            font-size: 16px;
                            color: white;
                            font-weight: 500;
                            line-height: 35px;
                        }
                    }
                }
                &-main{
                    text-align: center;
                    padding: 20px 0;
                    span{
                        width: 26px;
                        height: 26px;
                        border-radius: 50%;
                        background: #218DF9;
                        color: white;
                        display: inline-block;
                        line-height: 26px;
                    }
                }
            }
        }
    }

    .reviewResult{
        height: 100%;
        background: white;
        overflow-y: auto;
        .bread{
            padding: 15px;
            border-bottom: 1px solid #F2F2F2;
            &-active{
                & >>> .el-breadcrumb__inner{
                    cursor: pointer;
                    &:hover{
                        color: #238DFD;
                    }
                }
            }
        }
        .resultTable{
            margin-top: 20px;
            position: relative;
            .stuff{
                position: absolute;
                right: 80px;
                top: 60px;
                color: #2DB0FD;
                font-size: 14px;
                cursor: pointer;
            }
            .tableTitle{
                position: relative;
                width: 440px;
                height: 80px;
                margin: 0 auto;
                overflow: hidden;
                div{
                    line-height: 55px;
                    text-align: center;
                    width: 425px;
                    height: 55px;
                    margin: 0 auto;
                    background: #EDF0F9;
                    margin-top: calc((80px - 55px) / 2);
                }
                h3{
                    line-height: 55px;
                    text-align: center;
                    width: 425px;
                    height: 55px;
                    margin: 0 auto;
                    background: #EDF0F9;
                    margin-top: calc((80px - 55px) / 2);
                    font-size: 26px;
                }
                >.borderTip{
                    position: absolute;
                    width: 10px;
                    height: 10px;
                }
                .lpArrow {
                    border-top: 1px solid #6F9FEC;
                    border-left: 1px solid #6F9FEC;
                }
                .rpArrow {
                    right: 0;
                    border-top: 1px solid #6F9FEC;
                    border-right: 1px solid #6F9FEC;
                }
                .lbArrow {
                    bottom: 0;
                    border-left: 1px solid #6F9FEC;
                    border-bottom: 1px solid #6F9FEC;
                }
                .rbArrow {
                    right: 0;
                    bottom:0;
                    border-right: 1px solid #6F9FEC;
                    border-bottom: 1px solid #6F9FEC;
                }
            }
            .mainFix{
                padding-bottom: 110px !important;
            }
            .tableMain{
                margin-top: 20px;
                padding-bottom: 50px;
                width: calc(100% - 120px);
                margin-left: 50px;
                table{
                    width: 100%;
                    text-align: center;
                    font-size: 14px;
                    border: 1px solid #797979;
                    td{
                        height: 45px;
                    }
                    .basisTitle{
                        width: 450px;
                        padding: 15px 25px;
                        text-align: left;
                    }
                    .title{
                        width: 300px;
                    }
                    .titles{
                        height: 90px;
                    }
                }
            }
            .tableFooter{
                position: fixed;
                bottom: 0;
                width: calc(100% - 360px);
                margin-left: 50px;
                height: 65px;
                box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.0784313725490196);
                background: #fff;
                .btns{
                    flex-direction: row-reverse;
                    height: 65px;
                    display: flex;
                    align-items: center;
                    .el-button{
                        margin-right: 20px;
                    }
                }
            }
        }
    }
</style>
