<template>
    <div class="verify">
        <div class="verify-main">
            <div class="sider">
                <el-breadcrumb >
                    <el-breadcrumb-item>数据管理</el-breadcrumb-item>
                    <el-breadcrumb-item>产品审核</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="verify-main-table">
                <el-form inline label-width="80px" :model="searchMenu">
                    <el-form-item label="提交日期">
                        <el-date-picker
                            v-model="searchMenu.date"
                            type="daterange"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="审核状态">
                        <el-select></el-select>
                    </el-form-item>
                    <el-form-item>
                        <div style="display: flex;align-items: center">
                            <el-input />
                            <el-button type="primary" style="margin-left: 20px">搜索</el-button>
                        </div>
                    </el-form-item>
                </el-form>
                <el-table>
                    <el-table-column label="序号" type="index" width="80"></el-table-column>
                    <el-table-column label="企业名称"></el-table-column>
                    <el-table-column label="商品图"></el-table-column>
                    <el-table-column label="标题"></el-table-column>
                    <el-table-column label="价格"></el-table-column>
                    <el-table-column label="分类"></el-table-column>
                    <el-table-column label="数量"></el-table-column>
                    <el-table-column label="关联的项目"></el-table-column>
                    <el-table-column label="简介"></el-table-column>
                    <el-table-column label="审核状态"></el-table-column>
                    <el-table-column label="操作">
                        <template>

                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                searchMenu: {
                    date: ''
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .sider{
        height:50px;
        position:fixed;
        top:0px;
        z-index:999;
        & >>> .el-breadcrumb {
            line-height: 50px;
        }
    }
    .el-form >>> .el-form-item{
        margin-bottom: 10px;
    }
    .verify{
        height: 100%;
        overflow-y: auto;
        &-main{
            padding: 0 20px 30px;
            &-table{
                margin-top: 10px;
            }
        }
    }
</style>
