<template>
    <div id="app">
        <router-view/>
    </div>
</template>

<script>
    export default {
        name: 'App',
        methods:{
            testIE(){
                if(!!window.ActiveXObject || "ActiveXObject" in window){
                    alert('推荐使用360极速浏览器或者谷歌浏览器，请通过官网下载。')
                    return false;
                }else{
                    return true;
                }
            }
        },
        created() {
            this.testIE()
            if(!sessionStorage.getItem('userMessage')){
                this.$router.push('/login')
            }

        }
    }
</script>

<style lang="less">
    .el-radio-button__orig-radio:checked+.el-radio-button__inner{
        color: #409EFF;
        background-color: white;
    }
    .el-input__inner{
        height: 32px;
        line-height: 32px;
    }
    .slider .el-form-item{
        margin-bottom: 0!important;
    }
    .el-button--primary,.el-button--danger,.el-button--warning,.el-button--default,.el-button--info{
        height: 32px;
        /*line-height: 32px;*/
        padding: 0 10px;
        font-size: 14px;
    }
    .el-drawer__header{
        padding: 0px !important;
        margin-bottom: 0px !important;
    }
    .data-drawer{
        .data{
            &-title{
                height: 45px;
                line-height: 45px;
                padding-left: 30px;
                background: #EBF4FF;
            }
            &-list{
                ul{
                    width: calc(100% - 30px);
                    margin: 0 auto;
                    overflow-y: auto;
                    li{
                        height: 60px;
                        line-height: 60px;
                        border-bottom: 1px solid #F2F2F2;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        div{
                            display: flex;
                            width: 80%;
                            align-items: center;
                            height: 60px;
                            i{
                                color: #BFBFBF;
                            }
                            span{
                                cursor: pointer;
                                width: 90%;
                                display: inline-block;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                margin-left: 10px;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                        a{
                            color: black;
                            &:hover{
                                color: #409EFF;
                            }
                        }
                        &:last-child{
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
    .el-table .has-gutter tr{
        background: #f3f3f3 !important;
        color: #333;
    }
    .el-table .has-gutter th{
        background: #f3f3f3 !important;
        color: #333;
    }
    .el-table th{
        background: #f3f3f3 !important;
        color: #333;
    }
    .el-breadcrumb__inner{
        font-size: 14px !important;
        color: #606266 !important;
        font-weight: normal !important;
    }
    .el-dialog__header{
        border-bottom: 1px solid #f5f5f5;
    }
    .el-dialog__headerbtn .el-dialog__close{
        font-size: 18px;
        color: #333;
    }
    .slider{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .el-form--inline .el-select{
        width: 100px !important;
    }
    .el-tooltip__popper .popper__arrow, .el-tooltip__popper .popper__arrow::after{
        border-style: none;
    }
    .testActive span{
        cursor: pointer;
        .el-breadcrumb__inner{
            cursor: pointer !important;
        }
    }
    .testActive :hover span{
        color: #238DFD !important;
    }
    .el-submenu__title:hover{
        background: #459CFF !important;
    }
    table .is-disabled .el-input__inner{
        cursor: default !important;
        background-color: white !important;
    }
    table .is-disabled .el-textarea__inner{
        cursor: default !important;
        background-color: white !important;
    }
    .el-input__icon{
        line-height: 32px;
    }
    .flat{
        .el-dialog__header{
            padding: 15px;
            border-bottom: 1px solid #EBEBEB;
            p{
                font-size: 18px;
                color: #0089F3;
                font-weight: 700;
            }
            .title-pie{
                font-size: 18px;
                color: black;
                font-weight: normal;
            }
        }
        .el-dialog__body{
            padding: 25px 15px;
            border-bottom: 1px solid #EBEBEB;
        }
    }

    .el-dialog__body .el-form{
        .el-input__inner{
            width: 350px;
        }
        .el-date-editor.el-input, .el-date-editor.el-input__inner{
            width: 350px;
        }
    }
    .el-range-editor.el-input__inner{
        padding: 0 15px !important;
    }

    .plotYear{
        .el-dialog__header{
            padding: 0;
        }
        .el-dialog__body{
            /*padding: 45px 40px;*/
            padding: 0;
            background: #142847;
            position: relative;
        }
    }
    .verify{
        .el-input__prefix, .el-input__suffix{
            top: 0 !important;
        }
    }
    .el-tabs__active-bar{
        max-width: 115px;
    }
</style>
