<template>
    <div style="padding-left:30px;padding-right:30px;">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >项目综合管理</el-breadcrumb-item>
                <el-breadcrumb-item>区域整体评价</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="title">
            <div class="time-title">考核时间：</div>
            <el-date-picker
            v-model="startTime"
            type="date"
            placeholder="选择日期">
            </el-date-picker>
            <div class="time-title-middle">至：</div>
            <el-date-picker
            v-model="endTime"
            type="date"
            placeholder="选择日期">
            </el-date-picker>
            <div class="pType-name">项目类型：</div>
            <div class="pType">
                <el-select v-model="value" placeholder="请选择">
                    <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div class="area-name">类型：</div>
            <div class="area">
                <el-select v-model="value" placeholder="请选择">
                    <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div class="area-name">类型：</div>
            <div class="area">
                <el-select v-model="value" placeholder="请选择">
                    <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td rowspan="2">序号</td>
                    <td rowspan="2">考评日期</td>
                    <td rowspan="2">评分区域</td>
                    <td rowspan="2">项目类型</td>
                    <td rowspan="2">类型</td>
                    <td rowspan="2">综合得分</td>
                    <td colspan="4">考评结果</td>
                    <!-- <td></td>
                    <td></td>
                    <td></td> -->
                    <td rowspan="2">备注</td>
                    <td rowspan="2">操作</td>
                </tr>
                <tr>
                    <!-- <td></td> -->
                    <!-- <td></td> -->
                    <!-- <td></td> -->
                    <!-- <td></td> -->
                    <!-- <td></td> -->
                    <!-- <td></td> -->
                    <td>机制建立与运行情况</td>
                    <td>资金政策集成创新</td>
                    <td>项目执行情况</td>
                    <td>绩效目标完成情况</td>
                    <!-- <td></td>
                    <td></td> -->
                </tr>
            </thead>
        </table>
    </div>
</template>
<script>
export default {
    data(){
        return{
            startTime:'',
            endTime:''
        }
    }
}
</script>
<style lang="less" scoped>
    .title{
        margin-top:20px;
        .time-title{
            display:inline-block;
        }
        .time-title-middle{
            display:inline-block;
        }
        .pType-name{
            display:inline-block;
            margin-left:20px;
        }
        .pType{
            display:inline-block;
            width:200px;
        }
        .area-name{
            display:inline-block;
            margin-left:20px;
        }
        .area{
            display:inline-block;
        }
    }
    .table{
        // border:1px solid #f1f1f1;
        margin-top:20px;
        tr{
            background:#a5a5cf;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:50px;
                border:1px solid #eeeeee;
                border-right:0;
                border-bottom:0;
                color:#ffffff;
                font-size:16px;
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:14px;
                    color:#606266;
                }
                .editor{
                    span{
                        display:inline-block;;
                        width:80%;;
                    }
                    i{
                        color:#409EFF;
                        font-size:18px;
                        margin-left:10px;
                    }
                }
            }
        }
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
        width:150px;
    }
</style>
