<template>
    <div style="padding-left:30px;padding-right:30px;">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >项目管理</el-breadcrumb-item>
                <el-breadcrumb-item>项目进度管理</el-breadcrumb-item>
                <el-breadcrumb-item>进度汇报清单</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="title">
            <el-button type="warning" @click="boBack">返回</el-button>
            <div class="time-title">提交时间：</div>
            <el-date-picker
            v-model="value1"
            type="date"
            placeholder="选择日期">
            </el-date-picker>
            <div class="time-title-middle">至：</div>
            <el-date-picker
            v-model="value1"
            type="date"
            placeholder="选择日期">
            </el-date-picker>
            <div class="time-type">类型：</div>
            <el-select v-model="valueType" placeholder="请选择">
                <el-option
                v-for="item in type"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                </el-option>
            </el-select>
            <div class="btn"><el-button type="primary">查询</el-button></div>
        </div>
        <table class="table" cellspacing="0">
            <thead>
                <tr>
                    <td rowspan="2" width="50">序号</td>
                    <td rowspan="2" width="100">提交日期</td>
                    <td rowspan="2" width="80">时段</td>
                    <td rowspan="2" width="80">评审等级</td>
                    <td colspan="2" width="300">目标完成情况</td>
                    <!-- <td></td> -->
                    <td colspan="5" width="500">实际完成投资（万元）</td>
                    <!-- <td></td>
                    <td></td>
                    <td></td>
                    <td></td> -->
                    <td colspan="5" width="400">补助资金实际贷款至项目单位时间</td>
                    <!-- <td></td>
                    <td></td>
                    <td></td>
                    <td></td> -->
                    <td rowspan="2" width="110">项目整体进展</td>
                    <td rowspan="2" width="100">验收计划</td>
                    <td rowspan="2" width="80">备注</td>
                    <td rowspan="2" width="80">操作</td>
                </tr>
                <tr>
                    <!-- <td></td>
                    <td></td>
                    <td></td>
                    <td></td> -->
                    <td>总目标</td>
                    <td>目标完成情况</td>
                    <td>合计</td>
                    <td>中央财政</td>
                    <td>地方财政</td>
                    <td>企业自有</td>
                    <td>银行贷款</td>
                    <td>2018年</td>
                    <td>2019年</td>
                    <td>2020年</td>
                    <td>2021年</td>
                    <td>2011年</td>
                    <!-- <td></td>
                    <td></td>
                    <td></td>
                    <td></td> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2019-05-01</td>
                    <td>中期考核</td>
                    <td>A</td>
                    <td>构建智能立体海底观测网系统设计、制造、工程服务全产业链，...</td>
                    <td>两个核心装备主次接驳盒的样机已完成，主接驳盒正在进行联调测试；江河湖泊生态感...</td>
                    <td>24699.67</td>
                    <td>584.71</td>
                    <td>-</td>
                    <td>22114.96</td>
                    <td>2000</td>
                    <td>07-01</td>
                    <td>07-22</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>在建</td>
                    <td>2020年5月验收</td>
                    <td>-</td>
                    <td><el-button type="text" @click="detail">详情</el-button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2019-05-01</td>
                    <td>中期考核</td>
                    <td>A</td>
                    <td>突破海上固定式多功能LNG接收分销中心（以下简称PSRU）的总体
                        布局与系统高度集成的关键技术，及研究制定适用的LNG存储、LNG再气化、LNG接卸</td>
                    <td>已形成PSRU项目的整体布局和集成方案。展开了对LNG存储系统的
                        小试、中试，并取得阶段性成果。LNG再气化、接卸系统方案研究正在开展中。并联合</td>
                    <td>12853.35</td>
                    <td>555.11</td>
                    <td>-</td>
                    <td>12298.24</td>
                    <td>-</td>
                    <td>07-01</td>
                    <td>07-22</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>在建</td>
                    <td>2020年5月验收</td>
                    <td>-</td>
                    <td><el-button type="text" @click="detail" >详情</el-button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2019-05-01</td>
                    <td>中期考核</td>
                    <td>A</td>
                    <td>（1） 研制具有自主知识产权的生态型获取设备1套，符合南极磷虾获取相
                        关国际履约要求，获取效率达到国际先进水平，并进行示范推广；</td>
                    <td>（1）已完成南极磷虾拖网船新型拖网与网板设计与建造，初步完成具</td>
                    <td>6154.59</td>
                    <td>403.98</td>
                    <td>-</td>
                    <td>5750.6</td>
                    <td>-</td>
                    <td>07-01</td>
                    <td>07-22</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>在建</td>
                    <td>2020年5月验收</td>
                    <td>-</td>
                    <td><el-button type="text" @click="detail">详情</el-button></td>
                </tr>
            </tbody>
        </table>
        <el-dialog
        title="2018年中期考核（智能立体的海底科学观测网产业化）"
        :visible.sync="dialogVisible"
        width="900px"
        :before-close="handleClose">
            <div class="hxWrap clear">
                <ul class="report-title">
                    <li class="li1">项目名称：智能立体的海底科学观测网产业化【十三五】</li>
                    <li class="li2">批复时间：2017-06</li>
                    <li class="li3">立项时间：2018-06</li>
                    <li class="li4">承担单位：上海亨通海洋装备有限公司</li>
                    <li class="li5">是否立项：是</li>
                    <li></li>
                </ul>
                <p class="p-title"><span></span>资金情况</p>
                <div class="top">
                    <div class="arrow-l">&lt;</div>
                    <div class="con">
                        <ul>
                            <li>计划总投资</li>
                            <li>实际完成投资</li>
                            <li>补助资金实际到账至项目单位时间</li>
                        </ul>
                    </div>
                    <div class="arrow-r">&gt;</div>
                </div>
                <table class="table" style="margin-top:0;cellspacing=0;border-collaspe:collaspe;cellspacing:0">
                    <thead style="border-spacing:0;background:#f1f1f1;">
                        <tr>
                            <td width="170" style="background:#f1f1f1;color:#333333;">合计</td>
                            <td width="170" style="background:#f1f1f1;color:#333333;">中央财政</td>
                            <td width="170" style="background:#f1f1f1;color:#333333;">地方财政</td>
                            <td width="170" style="background:#f1f1f1;color:#333333;">企业自有</td>
                            <td width="170" style="background:#f1f1f1;color:#333333;">银行贷款</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border-bottom:1px solid #eeeeee;">24699.67</td>
                            <td style="border-bottom:1px solid #eeeeee;">584.71</td>
                            <td style="border-bottom:1px solid #eeeeee;">-</td>
                            <td style="border-bottom:1px solid #eeeeee;">22114.96</td>
                            <td style="border-right:1px solid #eeeeee;border-bottom:1px solid #eeeeee;">2000</td>
                        </tr>
                    </tbody>
                </table>
                <p class="p-title"><span></span>目标完成情况</p>
                <table style="margin-top:0;cellspacing=0;border-collaspe:collaspe;cellspacing:0">
                    <tr >
                        <td width="150" style="background:#f1f1f1;padding:20px 10px;">总目标</td>
                        <td width="400" style="padding:20px 10px;">构建智能立体海底观测网系统设计、制造、工程服务全产业链，项目内容为2+5产业链模式，即二个核心装备主、次接驳盒开发及产业化，同时开发五大示
                            范领域应用-海底观测网，江河湖泊生态感知网，海洋牧场监测系统，港口码头监测系统，海洋警戒网， 参与单位提供产业链配套产品及服务，实现智能立体海底观测网系统产业化。</td>
                    </tr>
                    <tr>
                        <td style="background:#f1f1f1;padding:20px 10px;">实际完成情况</td>
                        <td style="padding:20px 10px;">两个核心装备主次接驳盒的样机已完成，主接驳盒正在进行联调测试；江河湖泊生态感知网示范工程建设已完成；已完成1条产线的改建；项目研发团队与施工团队人员已基本到位。</td>
                    </tr>
                </table>
                <p class="p-title"><span></span>整体进展情况</p>
                <div class="jinzhan">在建</div>
                <div class="left " style="width:350px;">
                    <p class="p-title"><span></span>验收计划</p>
                    <div class="jinzhan">2020年5月验收</div>
                    <p style="margin-top:15px;">填表人：上海亨通</p>
                </div>
                <div class="right " style="width:350px;">
                    <p class="p-title"><span></span>备注</p>
                    <div class="jinzhan">-</div>
                    <p style="text-align:right;margin-top:15px;">填表时间：2019-05-01</p>
                </div>
            </div>
        </el-dialog>
    </div>
</template>
<script>
export default {
    data(){
        return{
            value1: '',
            dialogVisible:false,
            valueType:0,
            type:[
                {
                    label:'全部',
                    value:0
                },
                {
                    label:'年度',
                    value:1
                },
                {
                    label:'季度',
                    value:2
                },
                {
                    label:'月度',
                    value:3
                },
                {
                    label:'中期验收',
                    value:4
                },
                {
                    label:'最终验收',
                    value:5
                }
            ]
        }
    },
    methods: {
        detail(){
            this.dialogVisible = true;
        },
        handleClose(){
            this.dialogVisible = false;
        },
        boBack(){
            this.$router.go(-1);//返回上一层
        }
    },
}
</script>
<style lang="less" scoped>
    .sider{
        padding-top:20px;
    }
    .title{
        margin-top:20px;
        .time-title{
            display:inline-block;
            line-height:36px;
        }
        .time-title-middle{
            // float:left;
            display:inline-block;
            line-height:36px;
            margin-left:5px;
        }
        .time-type{
            display:inline-block;
            line-height:36px;
            margin-left:20px;
        }
        .btn{
            display:inline-block;
            margin-left:20px;
        }
    }
    .table{
        // border:1px solid #f1f1f1;
        margin-top:30px;
        tr{
            background:#a5a5cf;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:50px;
                border:1px solid #eeeeee;
                border-right:none;
                border-bottom:none;
                color:#ffffff;
                font-size:16px;
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:12px;
                    color:#606266;
                }
            }
        }
    }
    .hxWrap{
        .report-title{
            width:100%;
            height:72px;
            li{
                float:left;
                height:40px;
                line-height:40px;
                font-size:14px;
                margin-left:20px;
                &.li1,&.li4{
                    width:473px;
                }
                &.li2,&.li5{
                    width:150px;
                }
                &.li3{
                    width:150px;
                }
            }
        }
        .p-title{
            width:100%;
            height:30px;
            line-height:30px;
            font-size:18px;
            margin-top:20px;
            margin-bottom:10px;
            span{
                float:left;
                height:100%;
                width:5px;
                background:#a5a5cf;
                margin-right:20px;
            }
        }
        .top{
            width:100%;
            height:40px;
            .arrow-l{
                float:left;
                height:40px;
                line-height:40px;
            }
            .arrow-r{
                float:right;
                height:40px;
                line-height:40px;
            }
            .con{
                float:left;
                margin-left:42px;
                width:794px;
                height:100%;
                overflow:hidden;
                ul{
                    width:100%;
                    height:100%;
                    li{
                        float:left;
                        width:150px;
                        margin-left:6px;
                        text-align:center;
                        line-height:40px;
                        border:1px solid #cccccc;
                        border-radius:6px 6px 0 0;
                        cursor:pointer;
                        &.active{
                            color:#ffffff;
                            background:#a5a5cf;
                        }
                    }
                }
            }
        }
        .table{
            td{
                input{
                    height:20px;
                    width:100px;
                    border:none;
                    text-align:center;
                }
                textarea{
                    width:90%;
                    height:40px;
                    border:none;
                    resize:none;
                }
            }
        }
        .jinzhan{
            width:100%;
            line-height:40px;
            font-size:14px;
            border:1px solid #eeeeee;
            padding-left:20px;
        }
    }

    /deep/.el-date-editor.el-input, .el-date-editor.el-input__inner{
        width:150px;
    }
    /deep/.el-input__inner{
        height:36px;
        line-height:36px;
    }
    /deep/.el-input__icon{
        line-height:36px;
    }
    /deep/.el-select{
        width:180px;
    }
    /deep/.el-button{
        padding:9px 16px;
    }
    /deep/.el-dialog__header{
        background:#a5a5cf;
    }
    /deep/.el-dialog__title{
        color:#ffffff;
    }
</style>














