<template>
    <div class="clear" style="">
        <div class="sider">
            <el-breadcrumb >
            <el-breadcrumb-item >多源数据可视化</el-breadcrumb-item>
            <el-breadcrumb-item>创新示范项目名录</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="hx">
            <span style="display:none;">{{shisaner}}</span>
            <ul class="areaList" >
                <li :class="{'active':item.id === i}" v-for="item in areaList" :key="item.id" @click="change(item.id)"><a href="javascript:;" >{{item.name}}（{{item.num}}）</a></li>
            </ul>
            <div class="table">
                <el-table
                    :data="tableData0"
                    stripe
                    style="width: 100%;">
                    <el-table-column
                    prop="companyName"
                    label="项目名称"
                    width="250">
                    </el-table-column>
                    <el-table-column
                    prop="name"
                    label="合同签订日期"
                    width="180">
                    </el-table-column>
                    <el-table-column
                    prop="date"
                    label="实施日期">
                    </el-table-column>
                    <el-table-column
                    prop="money"
                    label="总投资金额">
                    </el-table-column>
                    <el-table-column
                    prop="state"
                    label="项目状态">
                    </el-table-column>
                    <el-table-column
                    prop="project"
                    label="承担单位">
                    </el-table-column>
                    <el-table-column
                    prop=""
                    label="操作">
                    <template slot-scope="">
                        <el-button @click="check()" type="text" size="small" style="color:#459CFF">查看详情</el-button>
                    </template>
                    </el-table-column>
                </el-table>
              <div style="text-align: center;margin-top: 20px">
                <el-pagination
                  background
                  layout="prev, pager, next"
                  :page-size="10"
                  :current-page="1"
                  @current-change="currentChange"
                  :total="4">
                </el-pagination>
              </div>

            </div>
        </div>

    </div>
</template>
<script>
export default {
    props: ['shisaner'],
    data() {
        return{
            areaList:[
                {
                    id:0,
                    name:'上海',
                    num:3,
                    active:true
                },{
                    id:1,
                    name:'浙江',
                    num:0,
                    active:false
                },{
                    id:2,
                    name:'江苏',
                    num:0,
                    active:false
                },{
                    id:3,
                    name:'福建',
                    num:0,
                    active:false
                },{
                    id:5,
                    name:'厦门',
                    num:0,
                    active:false
                }
            ],
            i:0,
            tableData0:[],
            tableData:[//十三五
                {
                    companyName:'智能立体的海底科学观测网产业化',
                    name:'2018-07-02',
                    date:'2017-06-16 ~ 2020-06-14',
                    money:"40947.86万元",
                    state:'进行中',
                    project:"上海亨通海洋装备有限公司"
                },
                {
                    companyName:'海上固定式多功能LNG接收分销中心的研发及产业化',
                    name:'2018-07-02',
                    date:'2017-06-15 ~ 2020-06-14',
                    money:"40000万元",
                    state:'进行中',
                    project:"上海宏华海洋油气装备有限公司"
                },
                {
                    companyName:'南极磷虾获取-冷冻-脱壳全套智能加工设备关键技术转化及产业化开发',
                    name:'2018-07-02',
                    date:'2017-06-15 ~ 2020-06-14',
                    money:"40000万元",
                    state:'进行中',
                    project:"上海崇和船舶重工装备有限公司"
                }
            ],
            tableData2:[//十二五
                {
                    companyName:'海岛或舰船用中小型一体化电驱动膜海水淡化装备成果转化产业化项目',
                    name:'暂无数据',
                    date:'2014-2017',
                    money:"16907.58万元",
                    state:'已验收',
                    project:"江苏省科建成套设备有限公司"
                },
                {
                    companyName:'高效节能型板式蒸馏海水淡化装备产业化',
                    name:'暂无数据',
                    date:'2015.1.1-2015.12.31',
                    money:"3000万元",
                    state:'已验收',
                    project:"江苏巴威工程技术股份有限公司"
                },
                {
                    companyName:'高亲水性超滤膜产业化',
                    name:'暂无数据',
                    date:'2015.1.1-2015.12.31（延期至2016年6 月30日）',
                    money:"2400万元",
                    state:'已验收',
                    project:"南京九思高科技有限公司"
                }
            ]
        }
    },
    methods: {


      //分页
      currentChange(val) {
        // this.$message.error('驳回审核！');
      },
        check(){
            this.$emit('fatherMethod');
        },
        change(id,x){
            this.i = id;
            if(x == 1&&this.shisaner == 2 || x==undefined&&this.shisaner == 1){
                if(id != 0){
                    this.tableData0 = [];
                }else{
                    this.tableData0 = this.tableData;
                }
            }else if(x == 2&&this.shisaner == 1|| x==undefined&&this.shisaner == 2){
                if(id != 2){
                    this.tableData0 = [];
                }else{
                    this.tableData0 = this.tableData2;
                }
            }
        }
    },
    mounted() {
        if(this.shisaner == 1){
            this.tableData0 = this.tableData;
        }else if(this.shisaner == 2){
            this.tableData0 = this.tableData2;
        }
    },
    updated() {
        if(this.shisaner == 1){
            // this.tableData0 = this.tableData;
            this.areaList[2].num = 0;
            this.areaList[0].num = 3;
        }else if(this.shisaner == 2){
            // this.tableData0 = this.tableData2;
            this.areaList[2].num = 3;
            this.areaList[0].num = 0;
        }
    },
}
</script>
<style scoped lang="less">
    .sider{
        height:40px;
        line-height:40px;
        background-color: #f5f5f5;
        padding-left: 40px;
    }
    .hx{
        margin-left:20px;
        .areaList{
            margin-top:20px;
            // width:100%;
            height:42px;
            li{
                float:left;
                width:10%;
                height:100%;
                margin-left:12px;
                border:1px solid rgb(224, 224, 224);
                border-radius:3px;
                &:nth-child(1){
                    margin-left:0;
                }
                a{
                    display:block;
                    line-height:42px;
                    text-align:center;
                    color:#333333;
                }
                background:#ffffff;
                &.active{
                    background-color:#459CFF;
                    border:1px solid #459CFF;
                    a{
                        color:#ffffff;
                    }
                }
            }
            /deep/.el-button{
                width:16%;
                padding:16px 20px;
            }
            /deep/.el-button--primary{
                background:#459CFF;
                border-color:#459CFF;
            }
        }
        .paging {
            position:absolute;
            left:50%;
            bottom: 100px;
        }
    }
    .table{
        margin-top:20px;
    }
    /deep/.el-table .cell, .el-table th div{
        text-align:center;
    }
    /deep/.el-breadcrumb{
        font-size:14px;
        line-height: 40px;
    }
    /deep/.el-button+.el-button{
        margin-left:5px;
    }
    /deep/.el-button--mini, .el-button--small{
        font-size:16px;
    }
    /deep/.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #459CFF;
    color: #FFF;
}
</style>


































