<template>
    <div>
        <div class="sider testActive">
            <el-breadcrumb >
                <el-breadcrumb-item >项目管理</el-breadcrumb-item>
                <el-breadcrumb-item :to="{ path: '/projectML/xiangmuProcess/xmpjgl' }">项目评价管理</el-breadcrumb-item>
                <el-breadcrumb-item>评审详情</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="contant">
            <h3>{{projectName}}评审详情</h3>
            <table style="width: 100%; border-spacing: 0;margin-top:30px;font-size: 14px;color: #555" cellspacing="0" v-html="content">

            </table>
            <p class="relativeFile">{{fileList.length == 0 ? '暂无附件' : '相关附件'}}</p>
            <ul class="fileList">
                <li style="font-size: 14px" v-for="item in fileList" :key="item.index"><i class="el-icon-link" style="cursor:pointer;"></i><span @click="download(item)" style="color: #238EDE">{{item.fileName}}</span> <a @click="download(item)"><i class="el-icon-download"></i>下载</a></li>
            </ul>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            dataList:[],
            userMessage:{},
            assessId:'',
            content:'',
            fileList:[],
            projectName:''
        }
    },
    methods: {
        getList(){
            let _this = this;
            let param = {};
            param.assessId = this.assessId;
            let _url = '';
            if(this.userMessage.userRole == 0){
                _url = '/ProjectAssessForCompanyController/getProjectAssessDetailInfo';
            }else if(this.userMessage.userRole == 2 || this.userMessage.userRole== 1){
                _url = '/ProjectAssessForManagerController/getProjectAssessDetailInfo';
            }
            this.$post(_url,param).then(function(res){
                if(!res.data.success){
                    _this.$message({
                        message: res.data.errorMsg,
                        type: 'warning'
                    });
                    return;
                }
                _this.dataList = res.data.resultData.detailList.map(item =>{
                    if(item.subList.length > 0){
                        item.subList.forEach(child =>{
                            if(Number(child.completeRate) > 100 && child.secondTarget.indexOf('%') != -1){
                                child.completeRate = Number(child.completeRate) / 100
                            }
                            console.log(child.completeRate)
                            if(child.completeRate.toString().indexOf('.') != -1){
                                child.completeRate = Number(child.completeRate).toFixed(4)
                            }
                        })
                    }
                    return item
                })
                _this.fileList = res.data.resultData.fileList;
                _this.fileList = res.data.resultData.fileList;
                for(let i = 0;i<_this.dataList.length;i++){
                    if(_this.dataList[i].firstTarget == null){
                        _this.dataList[i].firstTarget = '--';
                    }
                    for(let j = 0;j<_this.dataList[i].subList.length;j++){
                        if(_this.dataList[i].subList[j].secondTarget == null){
                            _this.dataList[i].subList[j].secondTarget = '--';
                        }
                        if(_this.dataList[i].subList[j].completeRate == null){
                            _this.dataList[i].subList[j].completeRate = '--';
                        }
                        if(_this.dataList[i].subList[j].completeWeight == null){
                            _this.dataList[i].subList[j].completeWeight = '--';
                        }
                        if(_this.dataList[i].subList[j].weightedScore == null){
                            _this.dataList[i].subList[j].weightedScore = '--';
                        }
                    }
                }
                let str = '<tr><td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">一级指标</td>\
                <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">二级指标</td>\
                <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">完成情况</td>\</tr>';
                for(let i = 0;i<_this.dataList.length;i++){
                    if(_this.dataList[i].subList.length>0){
                        str += '<tr><td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;" rowspan='+_this.dataList[i].subList.length+'>'+_this.dataList[i].firstTarget+'</td>';
                        str += '<td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+_this.dataList[i].subList[0].secondTarget+'</td>\
                            <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+_this.dataList[i].subList[0].completeRate +'</td></tr>';

                        for(let j = 1;j<_this.dataList[i].subList.length;j++){
                            str += '<tr><td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+_this.dataList[i].subList[j].secondTarget+'</td>\
                            <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+_this.dataList[i].subList[j].completeRate+'</td></tr>'
                        }
                    }else{
                        str += '<tr><td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;" >'+_this.dataList[i].firstTarget+'</td>';
                        str += '<td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+_this.dataList[i].secondTarget+'</td>\
                            <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+_this.dataList[i].completeRate+'</td></tr>';
                    }
                }
                str += '<tr><td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;text-align: center" colspan="3">最终得分'+ res.data.resultData.totalPoint +'</td></tr>';
                _this.content = str;
            });
        },
        getListElse(){
            let _this = this;
            let param = {};
            param.assessId = this.assessId;
            let _url = '';
            if(this.userMessage.userRole == 0){
                _url = '/ProjectAssessForCompanyController/getProjectAssessDetailInfo';
            }else if(this.userMessage.userRole == 2 || this.userMessage.userRole == 1){
                _url = '/ProjectAssessForManagerController/getProjectAssessDetailInfo';
            }
            this.$post(_url,param).then(function(res){
                if(!res.data.success){
                    _this.$message({
                        message: res.data.errorMsg,
                        type: 'warning'
                    });
                    return;
                }
                _this.dataList = res.data.resultData.detailList.map(item =>{
                    if(item.subList.length > 0){
                        item.subList.forEach(child =>{
                            if(Number(child.completeRate) > 100){
                                child.completeRate = Number(child.completeRate) / 100
                            }
                            console.log(child.completeRate)
                            if(child.completeRate.toString().indexOf('.') != -1){
                                child.completeRate = Number(child.completeRate).toFixed(4)
                            }
                        })
                    }
                    return item
                })
                _this.fileList = res.data.resultData.fileList;
                for(let i = 0;i<_this.dataList.length;i++){
                    if(_this.dataList[i].firstTarget == null){
                        _this.dataList[i].firstTarget = '--';
                    }
                    for(let j = 0;j<_this.dataList[i].subList.length;j++){
                        if(_this.dataList[i].subList[j].secondTarget == null){
                            _this.dataList[i].subList[j].secondTarget = '--';
                        }
                        if(_this.dataList[i].subList[j].completeRate == null){
                            _this.dataList[i].subList[j].completeRate = '--';
                        }
                        if(_this.dataList[i].subList[j].completeWeight == null){
                            _this.dataList[i].subList[j].completeWeight = '--';
                        }
                        if(_this.dataList[i].subList[j].weightedScore == null){
                            _this.dataList[i].subList[j].weightedScore = '--';
                        }
                    }
                }
                let str = '<tr><td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">一级指标</td>\
                <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">二级指标</td>\
                <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">完成情况</td>\
                <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">权重</td>\
                <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">加权得分</td></tr>';
                for(let i = 0;i<_this.dataList.length;i++){
                    if(_this.dataList[i].subList.length>0){
                        str += '<tr><td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;" rowspan='+_this.dataList[i].subList.length+'>'+_this.dataList[i].firstTarget+'</td>';
                            str += '<td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+_this.dataList[i].subList[0].secondTarget+'</td>\
                            <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+_this.dataList[i].subList[0].completeRate+'</td>\
                            <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+_this.dataList[i].subList[0].completeWeight+'</td>\
                            <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;" rowspan='+_this.dataList[i].subList.length+'>'+_this.dataList[i].firstTargetWeightRate+'</td></tr>';

                        for(let j = 1;j<_this.dataList[i].subList.length;j++){
                            str += '<tr><td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+_this.dataList[i].subList[j].secondTarget+'</td>\
                            <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+_this.dataList[i].subList[j].completeRate+'</td>\
                            <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+_this.dataList[i].subList[j].completeWeight+'</td></tr>'
                        }
                    }else{
                        str += '<tr><td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;" >'+_this.dataList[i].firstTarget+'</td>';
                            str += '<td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+_this.dataList[i].secondTarget+'</td>\
                            <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+_this.dataList[i].completeRate+'</td>\
                            <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;">'+_this.dataList[i].completeWeight+'</td>\
                            <td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;" >'+_this.dataList[i].weightedScore+'</td></tr>';
                    }
                }
                str += '<tr ><td style="border:1px solid #cccccc;padding:10px;border-top:none;border-left:none;text-align: center" colspan="5">最终得分'+ res.data.resultData.totalPoint +'</td></tr>';
                _this.content = str;
            });
        },
        download(item){
            let url = window.location.origin
            window.open(`${url}/cjRiverFile/${item.fileUrl}`,'_blank')
        }
    },
    mounted() {
        this.userMessage = JSON.parse(sessionStorage.getItem('userMessage'));
        this.assessId = this.$route.query.assessId;
        this.projectName = this.$route.query.projectName;
        if(this.userMessage.userRole == 0){
            this.getList()
        }else{
            this.getListElse()
        }

    },
}
</script>
<style lang="less" scoped>
.sider{
    height:40px;
    background-color: #fff;
    padding-left:20px;
    border-bottom: 1px solid #f5f5f5;
    /deep/.el-breadcrumb {
        line-height: 40px;
    }
}
.contant {
    padding-top:20px;
    padding-left:20px;
    padding-right: 20px;
    background:#fff;
    h3{
        width:auto;
        height:100px;
        margin:0 auto;
        font-size:22px;
        line-height:100px;
        text-align:center;
        background:#edf0f9;
    }
    table{
        border:1px solid #cccccc;
        border-right:none;
        border-bottom:none;

    }
    .td{
        padding:10px;
        border:1px solid #797979;
        border-top:none;
        border-left:none;
    }
    .relativeFile{
        margin-top:20px;
        font-size:16px;
        color:#3E6198;
    }
    .fileList{
        margin-top:10px;
        padding-bottom:100px;
        li{
            i{
                font-style:normal;
            }
            span{
                margin-left:10px;
            }
            a{
                margin-left:20px;
            }
        }
    }

}

    /deep/ .el-breadcrumb__inner{
        color: #606266 !important;
        font-weight: normal !important;
    }
</style>
