<template>
    <section style="height:100%;overflow-y:auto;background:#07123f;">
        <div class="wrap clear" v-if="!isSearch">
            <div class="part1">
                <div class="first">
                    <div class="first-1">
                        <p class="selectYear">选择年份：
                            <select v-model="map1Year" @change="map1Change()">
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                            </select>
                        </p>
                        <p class="p2-title">分地区海洋科研机构及人员情况</p>
                        <p class="p3">
                            <span class="span1">地区</span>
                            <span class="span2">机构数</span>
                            <span class="span3">从业人员</span>
                        </p>
                    </div>
                    <div class="first-2">
                        <ul class="data">
                            <li v-for="item in map1Data" :key="item.index">
                                <span>{{item.area}}</span>
                                <span>{{item.units}}</span>
                                <span>{{item.person}} <i class="el-icon-top" v-if="item.type == 1"></i> <i style="color:red;" class="el-icon-bottom" v-if="item.type == -1"></i></span>
                            </li>
                        </ul>
                        <div class="map1wrap">
                            <div class="map1" id="map1"></div>
                            <div class="map-data">
                                <span>总</span>
                                <span>{{map1Sum}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="second">
                    <p class="p2-title">
                        区域海洋科研机构经费收入(万元)
                    </p>
                    <div class="map2" id="map2"></div>
                </div>
            </div>
            <div class="part2">
                <div class="top">
                    <div class="top-1-left clear">
                        <div class="top-1-left-1">
                            <input v-model="searchValue" type="text" placeholder="请输入年份/区域进行搜索" /><span  @click="search"><i class="el-icon-search"></i></span>
                        </div>
                        <div class="top-1-left-2">
                            <div class="title-wrap">
                                <p class="p2-title">年产值趋势图（亿元）
                                    <select v-model="map3Year" @change="map3Change()">
                                        <option>上海</option>
                                        <option>浙江</option>
                                        <option>福建</option>
                                        <option>江苏</option>
                                    </select>
                                </p>
                            </div>
                            <div class="map3" id="map3"></div>
                        </div>
                    </div>
                    <div class="top-1-right">
                        <div class="title-wrap">
                            <p class="p2-title">
                                <span>上海市主要海洋产业增加值占比（%）</span>
                                <i>
                                    <select v-model="map4Year" @change="map4Change()">
                                        <option>2013年</option>
                                        <option>2014年</option>
                                        <option>2015年</option>
                                        <option>2016年</option>
                                        <option>2017年</option>
                                    </select>
                                    <select v-model="map4Area" @change="map4Change()">
                                        <option>上海市</option>
                                        <option>浙江省</option>
                                        <option>福建省</option>
                                        <option>江苏省</option>
                                    </select>
                                </i>
                            </p>
                        </div>
                        <div class="map4" id="map4"></div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="bottom-1">
                        <div class="title-wrap">
                            <p class="p2-title">
                                <span>地区海洋科研机构人员职称构成（人）</span>
                                <select v-model="map5Year" @change="map5Change()">
                                    <option>2013年</option>
                                    <option>2014年</option>
                                    <option>2015年</option>
                                    <option>2016年</option>
                                    <option>2017年</option>
                                </select>
                            </p>
                        </div>
                        <div class="map5" id="map5"></div>
                    </div>
                    <div class="bottom-2">
                        <div class="title-wrap">
                            <p class="p2-title">年海洋科研机构经费收入趋势（万元）
                                <select v-model="map6Year" @change="map6Change()">
                                    <option>江苏省</option>
                                    <option>上海市</option>
                                    <option>浙江省</option>
                                    <option>福建省</option>
                                </select>
                            </p>
                        </div>
                        <div class="map6" id="map6"></div>
                    </div>
                </div>
            </div>
            <div class="btns" v-if="showNav">
                <div class="btns-con">
                    <div class="pic mark">
                        <span>年鉴</span>
                        <span>数据</span>
                    </div>
                    <div class="line"></div>
                    <div v-if="showNav" class="pic" @click="dsjzbsj()">
                        <span>直报</span>
                        <span>数据</span>
                    </div>
                    <div v-if="showNav" class="line"></div>
                    <div v-if="showNav" class="pic" @click="dsjfz()">
                        <span>大数据</span>
                        <span>分析</span>
                    </div>
                    <div v-if="showNav" class="line"></div>
                    <div class="pic" @click="goVisual">
                        <span>可视化</span>
                        <span>跟踪</span>
                    </div>
                </div>
            </div>
        </div>
        <el-dialog width="1290px" :visible.sync="plotYearShow" append-to-body custom-class="plotYear" :show-close="false">
            <div class="con">
                <span class="span span1"></span>
                <span class="span span2"></span>
                <span class="span span3"></span>
                <span class="span span4"></span>
                <p class="p2-title">年份海洋第{{industryType}}产业增加值三省一市趋势图</p>
                <div class="map7" id="map7"></div>
            </div>
        </el-dialog>
        <div class="wrap2 table" v-if="isSearch">
            <p class="title" @click="goBack">搜索结果列表-2013年</p>
            <table class="table" cellspacing="0" cellpadding="0">
                <tr>
                    <td>省份</td>
                    <td>年份</td>
                    <td>海洋科研机构（个）</td>
                    <td>从业人员（人）</td>
                    <td>科研机构经费收入（万元）</td>
                    <td>第一产值（亿元）</td>
                    <td>第二产值（亿元）</td>
                    <td>第三产值（亿元）</td>
                    <td>科研活动人员（人）</td>
                    <td>高级职称（人）</td>
                    <td>中级职称（人）</td>
                    <td>初级职称（人）</td>
                </tr>
                <tr v-for="item in tableData" :key="item.index">
                    <td>{{item.area}}</td>
                    <td>{{item.years}}</td>
                    <td>{{item.units}}</td>
                    <td>{{item.person}}</td>
                    <td>{{item.funds}}</td>
                    <td>{{item.primaryIndustry}}</td>
                    <td>{{item.secondaryIndustry}}</td>
                    <td>{{item.threeIndustry}}</td>
                    <td>{{item.sientistActivity}}</td>
                    <td>{{item.seniorTitle}}</td>
                    <td>{{item.intermediateTitle}}</td>
                    <td>{{item.primaryTitle}}</td>
                </tr>
            </table>
        </div>
    </section>
</template>
<script>
    import {EleResize} from '../common/esresize'
export default {
    data(){
        return{
            isSearch:false,
            searchValue:'',
            plotYearShow:false,
            map1Year:'2013',
            map1Data:[],
            map1Sum:0,
            map2Year:'2013',
            map2Data:[],
            map3Year:'上海',
            map3Data:[],
            map4Year:'2013年',
            map4Area:'上海市',
            map4Data:{},
            map5Year:'2013年',
            map5Data:[],
            map6Year:'江苏省',
            map6Data:[],
            map7Data:[],
            industryType:'一',
            tableData:[],
            showNav: false
        }
    },
    methods: {
        goBack(){
            this.isSearch = !this.isSearch;
            this.map1Change();
            this.map2Change();
            this.map3Change();
            this.map4Change();
            this.map5Change();
            this.map6Change();
        },
        search(){
            let _this = this;
            if(this.searchValue == ''){
                this.$message({
                    message: '请输入年份或地区！',
                    type: 'warning'
                });
                return;
            }
            this.isSearch = !this.isSearch;
            setTimeout(function(){
                $('.wrap2 .table').animate({'top':'80px','opacity':1},600);
                _this.getSearchList()
            },100);

        },
        getSearchList(){
            let _this = this;
            let param = {};
            param.searchValue = this.searchValue;
            this.$post('/almanacsController/search',param).then(function(res){
                console.log(res);
                _this.tableData = res.data.data;
            });
        },
        map1Change(){
            let _this = this;
            let param = {};
            this.map1Sum = 0;
            param.years = this.map1Year;
            this.$post('/almanacsController/oceanPeopleQry',param).then(function(res){
                _this.map1Data = res.data.data;
                _this.map1();
            });
        },
        map2Change(){
            let _this = this;
            let param = {};
            param.years = this.map2Year;
            this.$post('/almanacsController/scientificResearchIncome',param).then(function(res){
                _this.map2Data = res.data.data;
                _this.map2();
            });
        },
        map3Change(){
            let _this = this;
            let param = {};
            param.area = this.map3Year;
            this.$post('/almanacsController/outputValue',param).then(function(res){
                _this.map3Data = res.data.data;
                _this.map3();
            });
        },
        map4Change(){
            let _this = this;
            let param = {};
            param.area = this.map4Area.substring(0,2);
            param.years = this.map4Year.substring(0,4);
            this.$post('/almanacsController/AddedValue',param).then(function(res){
                _this.map4Data = res.data.data;
                _this.map4();
            });
        },
        map5Change(){
            let _this = this;
            let param = {};
            param.years = this.map5Year.substring(0,4);
            this.$post('/almanacsController/personnelComposition',param).then(function(res){
                _this.map5Data = res.data.data;
                _this.map5();
            });
        },
        map6Change(){
            let _this = this;
            let param = {};
            param.area = this.map6Year.substring(0,2);
            this.$post('/almanacsController/scientificYears',param).then(function(res){
                _this.map6Data = res.data.data;
                _this.map6();
            });
        },
        map1(){
            let province = [];
            let provinceData = [];
            for(let i = 0;i<this.map1Data.length;i++){
                province.push(this.map1Data[i].area);
                this.map1Sum += this.map1Data[i].person;
                if(this.map1Data[i].area == '江苏'){
                    let _json = {};
                    _json.value = this.map1Data[i].person;
                    _json.name = this.map1Data[i].area;
                    _json.itemStyle = {color:'#5b8ff9'};
                    _json.labelLine = {show:true};
                    provinceData.push(_json);
                }
                if(this.map1Data[i].area == '上海'){
                    let _json = {};
                    _json.value = this.map1Data[i].person;
                    _json.name = this.map1Data[i].area;
                    _json.itemStyle = {color:'#5ad8a6'};
                    _json.labelLine = {show:true};
                    provinceData.push(_json);
                }
                if(this.map1Data[i].area == '浙江'){
                    let _json = {};
                    _json.value = this.map1Data[i].person;
                    _json.name = this.map1Data[i].area;
                    _json.itemStyle = {color:'#5d7092'};
                    _json.labelLine = {show:true};
                    provinceData.push(_json);
                }
                if(this.map1Data[i].area == '福建'){
                    let _json = {};
                    _json.value = this.map1Data[i].person;
                    _json.name = this.map1Data[i].area;
                    _json.itemStyle = {color:'#f6bd16'};
                    _json.labelLine = {show:true};
                    provinceData.push(_json);
                }
            }

            let option = {
                    tooltip: {
                        // trigger: 'item',
                        // formatter: '{a} <br/>{b}: {c} ({d}%)'
                    },
                    legend: {
                        orient: 'horizontal',
                        icon:'circle',
                        bottom: 2,
                        data: province,
                        textStyle:{
                            color:'#fff'
                        }
                    },
                    grid:{
                        top:'2'
                    },
                    series: [
                        {
                            name: '人数',
                            type: 'pie',
                            radius: ['50%', '70%'],
                            avoidLabelOverlap: false,
                            label: {
                                show: true,
                                position: 'outside',
                                color:'#fff',
                            },
                            emphasis: {
                                label: {
                                    show: true,
                                    fontSize: '30',
                                    fontWeight: 'bold',
                                    color:'#fff'
                                }
                            },
                            data: provinceData
                        }
                    ]
                };
            let myChart = this.$echarts.init(document.getElementById('map1'));
            let resizeDiv =  document.getElementById('map1')
            myChart.setOption(option);
            EleResize.on(resizeDiv, _=>{
                myChart.resize()
            })
        },
        map2(){
            let province = [];
            let provinceData = [];
            for(let i = 0;i<this.map2Data.length;i++){
                province.push(this.map2Data[i].area);
                if(this.map2Data[i].area == '江苏'){
                    let _json = {};
                    _json.value = this.map2Data[i].funds;
                    _json.name = this.map2Data[i].area;
                    _json.itemStyle = {color:'#568af0',borderColor:'#568af0',borderWidth:1};
                    provinceData.push(_json);
                }
                if(this.map2Data[i].area == '上海'){
                    let _json = {};
                    _json.value = this.map2Data[i].funds;
                    _json.name = this.map2Data[i].area;
                    _json.itemStyle = {color:'#56cfa2',borderColor:'#56cfa2',borderWidth:1};
                    provinceData.push(_json);
                }
                if(this.map2Data[i].area == '浙江'){
                    let _json = {};
                    _json.value = this.map2Data[i].funds;
                    _json.name = this.map2Data[i].area;
                    _json.itemStyle = {color:'#596c8f',borderColor:'#596c8f',borderWidth:1};
                    provinceData.push(_json);
                }
                if(this.map2Data[i].area == '福建'){
                    let _json = {};
                    _json.value = this.map2Data[i].funds;
                    _json.name = this.map2Data[i].area;
                    _json.itemStyle = {color:'#eab422',borderColor:'#eab422',borderWidth:1};
                    provinceData.push(_json);
                }
            }
            let option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c}"
                },
                legend: {
                    data: province,
                    bottom:'2',
                    icon:'circle',
                    textStyle:{
                        color:'#fff'
                    }
                },

                series: [
                    {
                        name:'人数',
                        type:'funnel',
                        left: '10%',
                        top: 60,
                        //x2: 80,
                        bottom: 60,
                        width: '80%',
                        // height: {totalHeight} - y - y2,

                        minSize: '0%',
                        maxSize: '100%',
                        sort: 'none',
                        gap: 2,
                        label: {
                            show: true,
                            position: 'inside',
                            formatter:'{c}'
                        },
                        labelLine: {
                            length: 10,
                            lineStyle: {
                                width: 1,
                                type: 'solid'
                            }
                        },
                        itemStyle: {
                            borderColor: '#fff',
                            borderWidth: 1
                        },
                        emphasis: {
                            label: {
                                fontSize: 20
                            }
                        },
                        data: provinceData,
                    }
                ]
            };
            let myChart = this.$echarts.init(document.getElementById('map2'));
            let resizeDiv = document.getElementById('map2')
            myChart.setOption(option);
            EleResize.on(resizeDiv, _=>{
                myChart.resize()
            })
        },
        map3(){
            let _this = this;
            let chanzhi = ['第一产值','第二产值','第三产值'];
            let chanzhiData1 = [];
            let chanzhiData2 = [];
            let chanzhiData3 = [];
            let yearList = [];
            for(let i = 0;i<this.map3Data.length;i++){
                chanzhiData1.push(this.map3Data[i].primaryIndustry);
                chanzhiData2.push(this.map3Data[i].secondaryIndustry);
                chanzhiData3.push(this.map3Data[i].threeIndustry);
                yearList.push(this.map3Data[i].year+'年');
            }
            let option = {
                grid:{
                    show:false
                },
                tooltip: {
                    trigger: 'axis',
                },
                legend:{
                    data:chanzhi,
                    show:true,
                    bottom:10,
                    textStyle:{
                        color:'#fff'
                    }
                },
                xAxis: {
                    type: 'category',
                    data: yearList,
                    nameTextStyle:{
                        color:'#fff',
                        fontSize:'14'
                    },
                    axisLine:{
                        lineStyle:{
                            color:'#6087d7'
                        }
                    },
                    axisTick:{
                        lineStyle:{
                            color:'#b6b7ba'
                        }
                    },
                    axisLabel:{
                        color:'#fff'
                    },
                    splitLine:{
                        show:false
                    }
                },
                yAxis: {
                    type: 'value',
                    axisLine:{
                        show:false,
                        lineStyle:{
                            color:'#6087d7'
                        }
                    },
                    axisTick:{
                        show:false,
                    },
                    axisLabel:{
                        color:'#fff'
                    },
                    splitLine:{
                        show:false
                    }
                },
                series: [
                    {
                        name:'第一产值',
                        data: chanzhiData1,
                        type: 'line',
                        lineStyle:{
                            color:'#1327e2',
                        },
                        itemStyle:{
                            color:'#1327e2'
                        }
                    },
                    {
                        name:'第二产值',
                        data: chanzhiData2,
                        type: 'line',
                        lineStyle:{
                            color:'#586c8f',
                        },
                        itemStyle:{
                            color:'#586c8f'
                        }
                    },
                    {
                        name:'第三产值',
                        data: chanzhiData3,
                        type: 'line',
                        lineStyle:{
                            color:'#57d1a3',
                        },
                        itemStyle:{
                            color:'#57d1a3'
                        }
                    }
                ]
            };
            let myChart = this.$echarts.init(document.getElementById('map3'));
            let resizeDiv = document.getElementById('map3')
            myChart.setOption(option);
            myChart.on('click', 'series.line',function (params) {
                if(params.seriesName == '第一产值'){
                    _this.industryType = '一';
                }
                if(params.seriesName == '第二产值'){
                    _this.industryType = '二';
                }
                if(params.seriesName == '第三产值'){
                    _this.industryType = '三';
                }
                _this.plotYearShow = true;
                _this.getmapData(params.seriesName);

            });
            EleResize.on(resizeDiv, _=>{
                myChart.resize()
            })
        },
        map4(){
            let _this = this;
            let option = {
                title: {
                    show:false,
                    text: '某站点用户访问来源',
                    subtext: '纯属虚构',
                    left: 'center'
                },
                grid:{
                    top:'3%'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    orient: 'horizontal',
                    bottom: '2',
                    data: ['海洋渔业', '海洋医药生物业', '海洋船舶工业', '海水利用业'],
                    textStyle:{
                        color:'#fff'
                    }
                },
                series: [
                    {
                        name: '占比',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '48%'],
                        data: [
                            {
                                value: _this.map4Data.fisheries,
                                name: '海洋渔业',
                                itemStyle:{
                                    color:'#5b8ff9'
                                }
                            },
                            {
                                value: _this.map4Data.biomedicine,
                                name: '海洋医药生物业',
                                itemStyle:{
                                    color:'#5ad8a6'
                                }
                            },
                            {
                                value: _this.map4Data.shipbuilding,
                                name: '海洋船舶工业',
                                itemStyle:{
                                    color:'#5d7092'
                                }
                            },
                            {
                                value: _this.map4Data.seawaterUtilization,
                                name: '海水利用业',
                                itemStyle:{
                                    color:'#f6bd16'
                                }
                            }
                        ],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            let myChart = this.$echarts.init(document.getElementById('map4'));
            let resizeDiv = document.getElementById('map4')
            myChart.setOption(option);
            EleResize.on(resizeDiv, _=>{
                myChart.resize()
            })
        },
        map5(){
            let data1 = [];
            let data2 = [];//高级职称
            let data3 = [];//中级职称
            let data4 = [];//初级职称
            for(let i = 0;i<this.map5Data.length;i++){
                // data1.push(this.map5Data[i].sientistActivity);
                // data2.push(this.map5Data[i].seniorTitle);
                // data3.push(this.map5Data[i].intermediateTitle);
                // data4.push(this.map5Data[i].primaryTitle);
                if(i == 0){
                    for(let attr in this.map5Data[i]){
                        data1.push(this.map5Data[i].sientistActivity);
                        data1.push(this.map5Data[i].seniorTitle);
                        data1.push(this.map5Data[i].intermediateTitle);
                        data1.push(this.map5Data[i].primaryTitle);
                    }
                }
                if(i == 1){
                    for(let attr in this.map5Data[i]){
                        data2.push(this.map5Data[i].sientistActivity);
                        data2.push(this.map5Data[i].seniorTitle);
                        data2.push(this.map5Data[i].intermediateTitle);
                        data2.push(this.map5Data[i].primaryTitle);
                    }
                }
                if(i == 2){
                    for(let attr in this.map5Data[i]){
                        data3.push(this.map5Data[i].sientistActivity);
                        data3.push(this.map5Data[i].seniorTitle);
                        data3.push(this.map5Data[i].intermediateTitle);
                        data3.push(this.map5Data[i].primaryTitle);
                    }
                }
                if(i == 3){
                    for(let attr in this.map5Data[i]){
                        data4.push(this.map5Data[i].sientistActivity);
                        data4.push(this.map5Data[i].seniorTitle);
                        data4.push(this.map5Data[i].intermediateTitle);
                        data4.push(this.map5Data[i].primaryTitle);
                    }
                }

            }
            let option = {
                title: {
                    show:false,
                    text: '堆叠区域图'
                },
                tooltip: {
                    trigger: 'axis',
                },
                legend: {
                    bottom:'2%',
                    icon:'rect',
                    data: ['上海市', '江苏省', '浙江省', '福建省'],
                    textStyle:{
                        color:'#'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '12%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: ['科技活动人员', '高级职称', '中级职称', '初级职称'],
                        axisLine:{
                            lineStyle:{
                                color:'#6087d7'
                            }
                        },
                        axisTick:{
                            lineStyle:{
                                color:'#b6b7ba'
                            }
                        },
                        axisLine:{
                            onZero:false,
                        },
                        axisLabel:{
                            color:'#fff'
                        },
                        splitLine:{
                            show:false
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        axisLine:{
                            lineStyle:{
                                color:'#6087d7'
                            }
                        },
                        axisTick:{
                            lineStyle:{
                                color:'#b6b7ba'
                            }
                        },
                        axisLabel:{
                            color:'#fff'
                        },
                        splitLine:{
                            show:false
                        }
                    }
                ],
                series: [
                    {
                        name: '上海市',
                        type: 'line',
                        stack: '总量',
                        areaStyle: {},
                        data: data1,
                        areaStyle:{
                            color:'rgba(43,73,141,0.3)'
                        },
                        lineStyle:{
                            color:'#56cfa2'
                        },
                        itemStyle:{
                            color:'#56cfa2'
                        }
                    },
                    {
                        name: '江苏省',
                        type: 'line',
                        stack: '总量',
                        areaStyle: {},
                        data: data2,
                        areaStyle:{
                            color:'rgba(63,118,165,0.3)'
                        },
                        lineStyle:{
                            color:'#568af0'
                        },
                        itemStyle:{
                            color:'#568af0'
                        }
                    },
                    {
                        name: '浙江省',
                        type: 'line',
                        stack: '总量',
                        areaStyle: {},
                        data: data3,
                        areaStyle:{
                            color:'rgba(103,133,161,0.3)'
                        },
                        lineStyle:{
                            color:'#596c8f'
                        },
                        itemStyle:{
                            color:'#596c8f'
                        }
                    },
                    {
                        name: '福建省',
                        type: 'line',
                        stack: '总量',
                        areaStyle: {},
                        data: data4,
                        areaStyle:{
                            color:'rgba(44,73,142,0.3)'
                        },
                        lineStyle:{
                            color:'#eab422'
                        },
                        itemStyle:{
                            color:'#eab422'
                        }
                    }
                ]
            };
            let myChart = this.$echarts.init(document.getElementById('map5'));
            let resizeDiv = document.getElementById('map5')
            myChart.setOption(option);
            EleResize.on(resizeDiv, _=>{
                myChart.resize()
            })
        },
        map6(){
            let year6List = [];
            let fundsList = [];
            for(let i = 0;i<this.map6Data.length;i++){
                year6List.push(this.map6Data[i].years);
                fundsList.push(this.map6Data[i].funds);
            }
            let option = {
                color: ['#3398DB'],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: year6List,
                        axisLine:{
                            lineStyle:{
                                color:'#6087d7'
                            }
                        },
                        axisTick:{
                            lineStyle:{
                                color:'#b6b7ba'
                            }
                        },
                        axisLine:{
                            onZero:false,
                        },
                        axisLabel:{
                            color:'#fff'
                        },
                        splitLine:{
                            show:false
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        axisLine:{
                            lineStyle:{
                                color:'#6087d7'
                            }
                        },
                        axisTick:{
                            lineStyle:{
                                color:'#b6b7ba'
                            }
                        },
                        axisLine:{
                            onZero:false,
                        },
                        axisLabel:{
                            color:'#fff'
                        },
                        splitLine:{
                            show:false
                        }
                    }
                ],
                series: [
                    {
                        name: '海洋科研机构经费',
                        type: 'bar',
                        barWidth: '50',
                        data: fundsList
                    }
                ]
            };
            let myChart = this.$echarts.init(document.getElementById('map6'));
            let resizeDiv = document.getElementById('map6')
            myChart.setOption(option);
            EleResize.on(resizeDiv, _=>{
                myChart.resize()
            })
        },
        getmapData(seriesName){
            let _this = this;
            let param = {};
            if(seriesName == '第一产值'){
                param.industry = '1';
            }
            if(seriesName == '第二产值'){
                param.industry = '2';
            }
            if(seriesName == '第三产值'){
                param.industry = '3';
            }
            this.$post('/almanacsController/listWhole',param).then(function(res){
                _this.map7Data = res.data.data;
                _this.map7(param.industry);
            });
        },
        map7(num){
            let data1 = [];//上海
            let data2 = [];//江苏
            let data3 = [];//浙江
            let data4 = [];//福建
            let yearData = [];
            for(let i = 0;i<this.map7Data.length;i++){
                if(this.map7Data[i].area == '上海'){
                    if(num == 1){
                        data1.push(this.map7Data[i].primaryIndustry);
                    }
                    if(num == 2){
                        data1.push(this.map7Data[i].secondaryIndustry);
                    }
                    if(num == 3){
                        data1.push(this.map7Data[i].threeIndustry);
                    }

                    yearData.push(this.map7Data[i].year+'年');
                }
                if(this.map7Data[i].area == '江苏'){
                    if(num == 1){
                        data2.push(this.map7Data[i].primaryIndustry);
                    }
                    if(num == 2){
                        data2.push(this.map7Data[i].secondaryIndustry);
                    }
                    if(num == 3){
                        data2.push(this.map7Data[i].threeIndustry);
                    }
                }
                if(this.map7Data[i].area == '浙江'){
                    if(num == 1){
                        data3.push(this.map7Data[i].primaryIndustry);
                    }
                    if(num == 2){
                        data3.push(this.map7Data[i].secondaryIndustry);
                    }
                    if(num == 3){
                        data3.push(this.map7Data[i].threeIndustry);
                    }
                }
                if(this.map7Data[i].area == '福建'){
                    if(num == 1){
                        data4.push(this.map7Data[i].primaryIndustry);
                    }
                    if(num == 2){
                        data4.push(this.map7Data[i].secondaryIndustry);
                    }
                    if(num == 3){
                        data4.push(this.map7Data[i].threeIndustry);
                    }
                }
            }
            let option = {
                tooltip: {
                },
                toolbox: {
                },
                legend: {
                    data: ['上海市', '浙江省', '江苏省','福建省'],
                    bottom:10,
                    textStyle:{
                        color:'#c1c6cf',
                    }
                },
                xAxis: [
                    {
                        type: 'category',
                        data: yearData,
                        axisPointer: {
                            type: 'shadow'
                        },
                        axisLine:{
                            lineStyle:{
                                color:'#6087d7'
                            }
                        },
                        axisTick:{
                            show:false,
                        },
                        axisLine:{
                            onZero:false,
                        },
                        axisLabel:{
                            color:'#fff'
                        },
                        splitLine:{
                            show:false
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: '水量',
                        axisLabel: {
                            formatter: '{value} ml'
                        },
                        axisLine:{
                            show:false,
                        },
                        axisTick:{
                            show:false,
                        },
                        axisLine:{
                            show:false,
                            onZero:false,
                        },
                        axisLabel:{
                            color:'#fff'
                        },
                        splitLine:{
                            show:false
                        }
                    },
                    {
                        type: 'value',
                        name: '温度',
                        axisLabel: {
                            formatter: '{value} °C'
                        },
                        axisLine:{
                            lineStyle:{
                                color:'#6087d7'
                            }
                        },
                        axisTick:{
                            show:false,
                        },
                        axisLine:{
                            onZero:false,
                        },
                        axisLabel:{
                            color:'#fff'
                        },
                        splitLine:{
                            show:false
                        }
                    }
                ],
                series: [
                    {
                        name: '上海市',
                        type: 'bar',
                        data: data1,
                        itemStyle:{
                            color:'#578af0'
                        }
                    },
                    {
                        name: '浙江省',
                        type: 'bar',
                        data: data3,
                        itemStyle:{
                            color:'#596c8f'
                        }
                    },
                    {
                        name: '江苏省',
                        type: 'bar',
                        data: data2,
                        itemStyle:{
                            color:'#dd6152'
                        }
                    },
                    {
                        name: '福建省',
                        type: 'bar',
                        data: data4,
                        itemStyle:{
                            color:'#8d5cb4'
                        }
                    },
                    {
                        name: '平均温度',
                        type: 'line',
                        yAxisIndex: 1,
                        data: [2.0, 2.2, 3.3, 4.5, 6.3, 10.2],
                        itemStyle:{
                            color:'#53c69c'
                        }
                    }
                ]
            };
            let myChart = this.$echarts.init(document.getElementById('map7'));
            let resizeDiv = document.getElementById('map7')
            myChart.setOption(option);
            EleResize.on(resizeDiv, _=>{
                myChart.resize()
            })

        },
        dsjfz(){
            this.$router.push('/projectML/dongtaigenzong/hadoop');
        },
        dsjzbsj(){
            this.$router.push('/projectML/dongtaigenzong/dsjzbsj');
        },
        goVisual(){
            this.$router.push('/projectML/dongtaigenzong/visualization');
        }
    },
    mounted() {
        // let _this = this;
        // this.map6();
        // setTimeout(function(){
        //     _this.map7();
        // },1000);

        this.map1Change();
        this.map2Change();
        this.map3Change();
        this.map4Change();
        this.map5Change();
        this.map6Change();
    },
    created() {
        if(process.env.NODE_ENV == 'development'){
            this.showNav = true
        }
    }
}
</script>
<style lang="scss" scoped>
    .wrap{
        width:100%;
        height:auto;
        background:#07123f;
        padding:30px;
        padding-bottom:0;
        background:url('../../assets/analysis/back.png');
        background-size:100% 100%;
        padding-bottom:50px;
        .part1{
            width: 19.7%;
            float:left;
            background:#0e1d4b;
            border:1px solid #006699;
            border-radius:3px 3px 0 0;
            .first-1{
                width:100%;
                height:130px;
                border-bottom:1px solid #006699;
                padding-top:14px;
                padding-left:12px;
                .selectYear{
                    height:32px;
                    line-height:32px;
                    color:#668ded;
                    select{
                        border:1px solid #006699;
                        width:88px;
                        padding-left:15px;
                        height:30px;
                        background:#053e6f;
                        color:#6e98fc;
                        border-radius:6px;
                        font-size:14px;
                    }
                }

                .p3{
                    margin-top:10px;
                    width:100%;
                    height:36px;
                    line-height:36px;
                    color:#6187e4;
                    display:flex;
                    justify-content: space-around;
                    align-items: center;
                }
            }
            .first-2{
                width:100%;
                height:auto;
                .data{
                    width:100%;
                    height:auto;
                    li{
                        height:30px;
                        line-height:30px;
                        font-size:12px;
                        color:#acccf4;
                        display:flex;
                        justify-content:space-around;
                        justify-items: center;
                        span:nth-child(3){
                            i{
                                color:#03cf89;
                            }
                        }
                    }
                }
                .map1wrap{
                    position:relative;

                }
                .map1{
                    width:100%;
                    height:278px;
                    color:#fff;
                    span:nth-child(1){
                        position:absolute;
                        left:0;top:0;
                        z-index:10;
                        display:block;
                    }

                }
                .map-data{
                    color:#fff;
                    position:absolute;
                    width:80px;
                    height:60px;
                    left: calc((100% - 80px) / 2);
                    top:100px;
                    text-align:center;
                    z-index:99;
                    span{
                        display:block;
                        font-weight:bold;
                        line-height:30px;
                        &:nth-child(2){
                            font-size:20px;
                        }
                    }
                }

            }
            .second{
                // width:100%;
                padding-left:12px;
                height:326px;
                margin-top:10px;
                border-top:1px solid #006699;
                .p2-title{
                    margin-top:5px;
                }
                .map2{
                    width: 100%;
                    height:270px;
                }
            }

        }
        .part2{
            float:right;
            margin-left:20px;
            // width:1436px;
            height:auto;
            .top{
                width:100%;
                height:468px;;
                .top-1-left{
                    float:left;
                    width: 60%;
                    height:auto;
                    .top-1-left-1{
                        height:80px;
                        border:1px solid #006699;
                        border-radius:3px;
                        text-align:center;
                        line-height:80px;
                        input{
                            width: 80%;
                            padding-left:10px;
                            height:38px;
                            border-radius:3px 0 0 3px;
                            border:none;
                        }
                        span{
                            display:inline-block;
                            width:60px;
                            height:38px;
                            line-height:40px;
                            background:#0091f1;
                            vertical-align:middle;
                            border-radius:0 3px 3px 0;
                            i{
                                font-size:22px;
                                color:#fff;
                            }

                        }
                    }
                    .top-1-left-2{
                        width:100%;
                        height:370px;
                        margin-top:14px;
                        box-shadow:inset 0 0 35px 0 #045bbb;
                        padding:15px 30px;
                        background:rgba(5,92,186,0.2);
                        .title-wrap{
                            width:100%;
                            height:40px;
                            select{
                                float:right;
                                width:102px;
                                height:30px;
                                border:1px solid #006699;
                                border-radius:3px;
                                background:none;
                                color:#6e98fc;
                                padding-left:10px;
                            }
                        }
                        .map3{
                            width:100%;
                            height:302px;
                        }
                    }
                }
                .top-1-right{
                    float:right;
                    margin-left:12px;
                    width:560px;
                    height:464px;
                    border:1px solid #006699;
                    padding:20px;
                    .title-wrap{
                        width:100%;
                        height:40px;
                        .p2-title{
                            line-height:29px;
                            background-position:0 8px;
                        }
                        select{
                            float:right;
                            width:74px;
                            height:30px;
                            border:1px solid #006699;
                            border-radius:3px;
                            background:none;
                            color:#6e98fc;
                            padding-left:10px;
                            margin-right:10px;
                            vertical-align:bottom;
                        }
                    }
                    .map4{
                        width:100%;
                        height:328px;
                    }
                }
            }
            .bottom{
                width:100%;
                height:406px;
                margin-top:10px;
                .bottom-1{
                    float:left;
                    width: 38.5%;
                    height:390px;
                    border:1px solid #006699;
                    border-radius:3px;
                    padding:10px 20px;
                    .title-wrap{
                        width:100%;
                        height:40px;
                        select{
                            float:right;
                            width:102px;
                            height:30px;
                            border:1px solid #006699;
                            border-radius:3px;
                            background:none;
                            color:#6e98fc;
                            padding-left:10px;
                        }
                    }
                    .map5{
                        width:100%;
                        height:320px;
                    }
                }
                .bottom-2{
                    float:right;
                    width:850px;
                    height:390px;
                    border:1px solid #006699;
                    border-radius:3px;
                    padding:10px 20px;
                    margin-left:20px;
                    .title-wrap{
                        width:100%;
                        height:40px;
                        select{
                            float:right;
                            width:102px;
                            height:30px;
                            border:1px solid #006699;
                            border-radius:3px;
                            background:none;
                            color:#6e98fc;
                            padding-left:10px;
                        }
                    }
                    .map6{
                        width:100%;
                        height:320px;
                    }
                }
            }
        }
    }
    .btns{
        width:100%;
        height:93px;
        .btns-con{
            width:568px;
            height:100%;
            margin:0 auto;
            .pic{
                float:left;
                width:105px;
                height:100%;
                background:url('../../../static/image/dysj03.png') no-repeat;
                color:#54D1FA;
                text-align:center;
                display:flex;
                flex-direction:column;
                justify-content:center;
                cursor:pointer;
                &.mark{
                    color:#fff;
                    background:url('../../../static/image/dysj_highLight.png') no-repeat;
                }
            }
            .line{
                float:left;
                width:46px;
                height:93px;
                background:url('../../../static/image/dysj02.png') no-repeat 0 42px;
            }
        }
    }
    .p2-title{
        padding-left:22px;
        color:#acccf5;
        font-size:16px;
        line-height:36px;
        background:url('../../../static/image/dysj01.png') no-repeat 0 10px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        justify-content: space-between;
        span{
            display: block;
            width: 58%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        select{
            float:right;
            width:60px;
            height:28px;
            border:1px solid #006699;
            border-radius:3px;
            background:#053e6f;
            color:#6e98fc;
            margin-right:20px;
            margin-top:4px;
            font-size:14px;
            outline:none;
        }
    }
    .con{
        position: relative;
        width:100%;
        height:538px;
        border:1px solid #6076ad;
        padding-top:42px;
        padding-left:35px;
        .span{
            position:absolute;
            border:1px solid #0efcff;
            width:12px;
            height:12px;
            &.span1{
                left:0;
                top:0;
                border-right:none;
                border-bottom:none;
            }
            &.span2{
                right:0;
                top:0;
                border-left:none;
                border-bottom:none;
            }
            &.span3{
                left:0;
                bottom:0;
                border-top:none;
                border-right:none;
            }
            &.span4{
                right:0;
                bottom:0;
                border-left:none;
                border-top:none;
            }
        }
        .map7{
            width:1227px;
            height:436px;
        }
    }
    .wrap2{
        position:relative;
        width:100%;
        height:100%;
        background:#07123f;
        padding:30px;
        padding-bottom:0;
        background:url('../../assets/analysis/back.png');
        background-size:100% 100%;
        padding-bottom:50px;
        .title{
            height:20px;
            padding-left:44px;
            background:url('../../../static/image/cxdt/cxdt02.png') no-repeat;
            color:#03bdf1;
            font-size:16px;
            line-height:20px;
        }
        table{
            position:absolute;
            top:300px;
            left:0;
            opacity:0;
            width:100%;
            height:auto;
            border:1px solid #173061;
            color:#d3d5dd;
            tr{
                height:48px;
                td{
                    border:1px solid #173061;
                    padding-left:12px;
                }
            }
        }
    }
</style>
<style lang="scss" scoped>
    .wrap{
        .part2{
            width:calc(100% - 21.3%);
        }
    }
    .wrap .part2 .top .top-1-right{
        width:calc(100% - 61.5%);
    }
    .wrap .part2 .bottom .bottom-2{
        width:calc(100% - 40.5%);
    }
</style>
