<template>
  <div id="map-wrap">
    <div id="mapDiv">
      <ul class="selectType">
        <!-- <li class="level1" @click="selectTyle($event)"><a href="javascript:;">选择类型</a></li> -->
        <!-- <i class="zk-pull" >切换</i> -->
        <div class="hx-select-wrap">
          <ul>
            <li class="level22" @click="selected1($event)" data-vname="2"><input type="radio" id="a" name="abc" value="a" v-model="isSS" /><label for="a">十二五</label></li>
            <li class="level22" @click="selected1($event)" data-vname="1"><input type="radio" id="b" name="abc" value="b" v-model="isSS" /><label for="b">十三五</label></li>
            <li class="line">
              <span>|</span>
            </li>
             <li class="switch" >
              <span class="switch-btn" @click="switchBtn($event)">内容控制选项 <i class="iconfont icon-xiala"></i></span>
              <div class="switch-top active" >
                <!-- <dl>
                  <dt></dt>
                  <dd ><input type="radio" id="d1" name="dd" value="a" v-model="isChecked"/><label for="d1">创新示范企业</label></dd>
                  <dd ><input type="radio" id="d2" name="dd" value="b" v-model="isChecked"/><label for="d2">创新示范项目</label></dd>
                </dl> -->
                <div class="div1" @click="xmClick"><el-checkbox v-model="xm" >创新示范项目</el-checkbox></div>
                <div class="div1" @click="qyClick"><el-checkbox v-model="news" >新闻动态</el-checkbox></div>
                <div class="div1" @click="jjClick"><el-checkbox v-model="jj" >区域经济统计</el-checkbox></div>
                <div class="div1" @click="pgClick"><el-checkbox v-model="pg" >评估指标</el-checkbox></div>
              </div>
            </li>
          </ul>
        </div>
      </ul>
      <div class="cxsfml">
        <div class="map_top" v-show="xmPic">
          <h3>创新示范项目名录</h3>

          <ul>
            <el-table :data="tableData" style="width: 100%">
              <el-table-column prop="name"  label="项目名称" >
              </el-table-column>
              <el-table-column prop="company"  label="承担单位">
              </el-table-column>
              <el-table-column prop="xmjz"  label="状态" width="70">
              </el-table-column>
            </el-table>
            <li v-for="(item) in qiyeList0" :key="item.index"><span class="cssSL">{{item.name}}</span><span>{{item.date}}</span><span>{{item.shishidate}}</span><span>{{item.zje}}</span><span>{{item.xmjz}}</span></li>
          </ul>
        </div>
        <div v-show="qyPic" class="cxsfqyCharts" id="cxsfqyCharts"></div>
      </div>
      <!-- 新闻动态 -->
      <div class="news">
        <h3 class></h3>
      </div>
      <div class="right-charts">
        <div v-show="jjPic" class="div1" id="div1"></div>
        <div v-show="pgPic" class="div2" id="div2"></div>
      </div>
    </div>
    <!-- <el-dialog
    title=""
    :visible.sync="centerDialogVisible"
    width="30%"
    center>
    <p>临时开发使用</p>
    <img :src="imgUrlzs" />
    <span slot="footer" class="dialog-footer">
      <el-button @click="centerDialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="centerDialogVisible = false">确 定</el-button>
    </span>
  </el-dialog> -->
  </div>
</template>
<script>
  import imgUrl from '../../assets/hos1.png';
  import imgUrlDefault from '../../assets/default.png';
  import imgUrl1 from '../../assets/hengtong1.png';
  import imgUrl2 from '../../assets/hengtong2.png';
  import imgUrl3 from '../../assets/honghua1.png';
  import imgUrl4 from '../../assets/honghua2.png';
  import imgUrl5 from '../../assets/chonghe1.png';
  import imgUrl6 from '../../assets/chonghe2.png';

  export default {
    data(){
      return{
        imgSrc: imgUrl,
        centerDialogVisible:false,
        // imgUrlzs:imgUrl2,
        isSS:'b',
        xm:true,
        qy:false,
        jj:false,
        pg:false,
        xmPic:true,
        qyPic:false,
        jjPic:false,
        pgPic:false,
        map:null,
        qiyeList0:[],
        tableData:[//十三五创新示范项目名录
          {
            name:'智能立体的海底科学观测网产业化',
            company: '上海亨通海洋装备有限公司',
            xmjz:'进行中',

          },
          {
            name:'海上固定式多功能LNG接收分销中心的研发及产业化',
            company: '上海宏华海洋油气装备有限公司',
            xmjz:'进行中',

          },
          {
            name:'南极磷虾获取-冷冻-脱壳全套智能加工设备关键技术转化及产业化开发',
            company: '上海崇和船舶重工装备有限公司',
            xmjz:'进行中',

          },
        ],
        qiyeList2:[//十二五创新示范项目名录
          {
            name:'海岛或舰船用中小型一体化电驱动膜海水淡化装备成果转化产业化项目',
            date:'-',
            shishidate:'2014 ~ 2017',
            zje:'16907.58万',
            xmjz:'已验收',

          },
          {
            name:'高效节能型板式蒸馏海水淡化装备产业化',
            date:'-',
            shishidate:'2015.1.1-2015.12.31',
            zje:'3000万元',
            xmjz:'已验收',

          },
          {
            name:'高亲水性超滤膜产业化',
            date:'-',
            shishidate:'2015.1.1-2015.12.31',
            zje:'2400万元',
            xmjz:'已验收',

          },
        ],
        companys:[

        ],
        companys2:[//十三五
          {//亨通
            'jd':121.906050852,
            'wd':30.865590176,
            'image1':imgUrl1,
            'image2':imgUrl2,
            'num':'上海亨通海洋装备有限公司',
            'com':'亨通'
          },
          {
            'jd':121.906375053,
            'wd':30.866045786,
            'image1':imgUrl3,
            'image2':imgUrl4,
            'num':'上海宏华海洋油气装备有限公司',
            'com':'宏华'
          },
          {
            'jd':121.910086045,
            'wd':30.864638112,
            'image1':imgUrl5,
            'image2':imgUrl6,
            'num':'上海崇和船舶重工装备有限公司',
            'com':'崇和'
          }
        ],
        companys3:[//十二五
          {
            'jd':119.198000024,
            'wd':34.670897708,
            'image1':imgUrl1,
            'image2':imgUrl2,
            'num':'江苏省科建成套设备有限公司',
            'com':'江苏省科建成套设备有限公司'
          },
          {
            'jd':119.854526415,
            'wd':32.190425575,
            'image1':imgUrl3,
            'image2':'江苏巴威工程技术股份有限公司',
            'num':'海水淡化装备项目',
            'com':'江苏巴威工程技术股份有限公司'
          },
          {
            'jd':118.596838748,
            'wd':32.017058691,
            'image1':imgUrl5,
            'image2':imgUrl6,
            'num':'南京九思高科技有限公司',
            'com':'南京九思高科技有限公司'
          }
        ],
        companys4:[
          {//亨通
            'jd':121.906050852,
            'wd':30.865590176,
            'image1':imgUrl1,
            'image2':imgUrl2,
            'num':'800亿'
          },
          {
            'jd':121.906375053,
            'wd':30.866045786,
            'image1':imgUrl3,
            'image2':imgUrl4,
            'num':'900亿'
          },
          {
            'jd':121.910086045,
            'wd':30.864638112,
            'image1':imgUrl5,
            'image2':imgUrl6,
            'num':'1000亿'
          }
        ],
        map0_1:[],
        map0_2:[],
        map0_3:[],
        map0_4:[],
        map1_1:[76,126,72,39],//十二五
        map1_2:[10,20,8,3],//十二五
        map1_3:[19,39,29,18],//十二五
        map1_4:[78,158,60,55],//十二五

        map2_1:[76,106,82,9],//十三五
        map2_2:[10,30,10,13],//十三五
        map2_3:[19,49,20,16],//十三五
        map2_4:[78,148,40,85],//十三五
      }
    },
    created() {
      // this.initMap();
    },
    methods: {
      initMap(array){
        let _this = this;
        let zoom = 12;
        this.map = new T.Map('mapDiv', {
          projection: 'EPSG:4326'
        });
        this.map.centerAndZoom(new T.LngLat(121.92, 30.90), zoom);
        this.add_overlay(array);
      },
      remove_overlay(){//删除覆盖物
        let _map = this.map;
        // _map.clearOverLays();
        $('.tdt-marker-pane').html('');
        $('.tdt-overlay-pane').html('');
      },
      add_overlay(array){
        let _map = this.map;
        let _this = this;
        for(let i = 0;i<array.length;i++){
          let jd = array[i].jd;
          let wd = array[i].wd;
          let num = array[i].num;
          //创建图片对象
          var icon = new T.Icon({
            iconUrl: this.imgSrc,
            iconSize: new T.Point(32, 57),
            iconAnchor: new T.Point(10, 25),
          });
          //向地图上添加自定义标注
          var marker = new T.Marker(new T.LngLat(jd, wd), {icon: icon});
          //地图上的信息窗口内容
          var content =
            "<div style='margin:0px;height:500px;overflow-y:scroll;overflow-x:hidden;'>" +
            "<div style=' ' class='clear'>" +
            "<h3 style=\"line-height:20px;height:20px;\"><span style=\"float:left;margin-right:10px;width:4px;height:20px;background:#333333;\"></span>企业介绍</h3>"+
            "<p>亨通集团，是服务于光纤光网、电力电网、大数据互联网、新能源新材料和金融投资等领域的国家创新型企业，是中国光纤光网、电力\
            电网领域规模领先的系统集成商与网络服务商之一，被国际权威分析机构CRU和亚太光通信委员会评为全球光纤通信前3强，跻身中国企业500强</p>"+
            "<h3 style=\"line-height:20px;height:20px;\"><span style=\"float:left;margin-right:10px;width:4px;height:20px;background:#333333;\"></span>负责项目</h3>"+
            "<p>智能立体的海底科学观测网产业化</p>"+
            "<h3 style=\"line-height:20px;height:20px;\"><span style=\"float:left;margin-right:10px;width:4px;height:20px;background:#333333;\"></span>形成成果</h3>"+
            "<p>一种适用于全海深的通州信</p>"+
            "<h3 style=\"line-height:20px;height:20px;margin-bottom:20px;\"><span style=\"float:left;margin-right:10px;width:4px;height:20px;background:#333333;\"></span>公司图片</h3>"+
            "<img style='display:block;' src='"+array[i].image1+"' width='300'  title='天安门'/>" +
            "<img style='display:block;' src='"+array[i].image2+"' width='300'  title='天安门'/>" +
            "</div>" +
            "</div>" +
            "</div>";
          //地图上添加信息窗口
          _map.addOverLay(marker);
          addClickHandler(content,marker);
          //给图片添加点击事件
          // marker.addEventListener("click", overlay_style);
          let definedOverlay = T.Overlay.extend({
            initialize: function (lnglat, text, text2, options) {
              this.lnglat = lnglat;
              this.setOptions(options);
              this._text = text;
              this._overText = text2;
            },
            onAdd: function (map) {
              this.map = map;
              var div = this._div = document.createElement("div");
              div.style.position = "absolute";
              div.style.backgroundColor = "#EE5D5B";
              div.style.border = "1px solid #BC3B3A";
              div.style.color = "white";
              div.style.height = "30px";
              div.style.padding = "2px";
              div.style.lineHeight = "30px";
              div.style.whiteSpace = "nowrap";
              div.style.MozUserSelect = "none";
              div.style.fontSize = "12px";
              var span = this._span = document.createElement("span");
              div.appendChild(span);
              span.appendChild(document.createTextNode(this._text));
              var that = this;

              var arrow = this._arrow = document.createElement("div");
              arrow.style.background = "url(http://map.baidu.com/fwmap/upload/r/map/fwmap/static/house/images/label.png) no-repeat";
              arrow.style.position = "absolute";
              arrow.style.width = "16px";
              arrow.style.height = "14px";
              arrow.style.top = "28px";
              arrow.style.left = "10px";
              arrow.style.overflow = "hidden";
              div.appendChild(arrow);

              div.onmouseover = function () {
                this.style.backgroundColor = "#6BADCA";
                this.style.borderColor = "#0000ff";
                this.getElementsByTagName("span")[0].innerHTML = that._overText;
                arrow.style.backgroundPosition = "0px -20px";
              }

              div.onmouseout = function () {
                this.style.backgroundColor = "#EE5D5B";
                this.style.borderColor = "#BC3B3A";
                this.getElementsByTagName("span")[0].innerHTML = that._text;
                arrow.style.backgroundPosition = "0px 0px";
              }

              map.getPanes().overlayPane.appendChild(this._div);
              this.update(this.lnglat);
            },
            onRemove: function () {
              var parent = this.div.parentNode;
              if (parent) {
                parent.removeChild(this.div);
                this.map = null;
                this.div = null;
              }
            },

            setLnglat: function (lnglat) {
              this.lnglat = lnglat;
              this.update();
            },
            getLnglat: function () {
              return this.lnglat;
            },
            setPos: function (pos) {
              this.lnglat = this.map.layerPointToLngLat(pos);
              this.update();
            },
            // 更新位置
            update: function () {
              var pos = this.map.lngLatToLayerPoint(this.lnglat);
              this._div.style.top = ( pos.y - 50) + "px";
              this._div.style.left = (pos.x - 5) + "px";

            }
          });
          var point = new T.LngLat(jd, wd);
          var pdefinedOverlay = new definedOverlay(point,num , num, {});
          _map.addOverLay(pdefinedOverlay);
        }
        // function overlay_style(e){
        //   console.log(e);
        //   // _this.imgUrlzs = e.originalEvent.srcElement.currentSrc;
        //   _this.centerDialogVisible = true;
        // }

        function addClickHandler(content,marker){
          marker.addEventListener("click", function (e) {
            openInfo(content,e);
          });
        }
        function openInfo(content,e){// 将标注添加到地图中
          var point = e.lnglat;
          marker = new T.Marker(point);// 创建标注
          var markerInfoWin = new T.InfoWindow(content,{offset:new T.Point(0,-30)}); // 创建信息窗口对象
          _map.openInfoWindow(markerInfoWin,point); //开启信息窗口
        }
      },
      switchBtn(obj){
        $(obj.srcElement).siblings('.switch-top').toggle();
      },
      selected1(obj){
        let _this = this;
        if($(obj.srcElement).closest('.level22').data('vname') == 2){//切换至十二五
          //切换图表数据
          this.qiyeList0 = this.qiyeList2;
          //切换图1数据
          this.map0_1 = this.map1_1;
          this.map0_2 = this.map1_2;
          this.map0_3 = this.map1_3;
          this.map0_4 = this.map1_4;
          this.mapOne();
          //切换地图点数据
          this.companys = this.companys3;
          //删除地图上的点
          _this.remove_overlay();
          _this.add_overlay(this.companys);
        }else if($(obj.srcElement).closest('.level22').data('vname') == 1){//切换至十三五
          //切换表数据
          this.qiyeList0 = this.qiyeList;
          //切换图1数据
          this.map0_1 = this.map2_1;
          this.map0_2 = this.map2_2;
          this.map0_3 = this.map2_3;
          this.map0_4 = this.map2_4;
          this.mapOne();
          //切换地图点数据
          this.companys = this.companys2;
          //删除地图上的点
          _this.remove_overlay();
          _this.add_overlay(this.companys);
        }
      },
      mapOne(){//创新示范企业名录及成就
        let option = {
            color: ['#7571FA'],
              padding: [5, 10],

            tooltip : {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            lenged:{
              show:true,
              left:'center'
            },
            title:{
              show:true,
              textAlign:'left',
              text:'创新示范企业成果',
              // borderColor: '#ccc',
              // borderWidth: 1,
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    data : ['发明专利', '软件著作权', '标准', '使用新型专利'],
                    axisTick: {
                        alignWithLabel: true
                    },
                    axisLabel:{
                      color:'#999' // x轴文字颜色
                    },
                    axisLine:{
                      lineStyle:{
                        color:'#f5f5f5'
                        }    // x轴坐标轴颜色
                    },
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    splitLine: {
                      show: true,
                      lineStyle: {
                        color: '#f5f5f5',
                        }
                      },
                      axisLabel:{
                        color:'#999' // x轴文字颜色
                      },
                      axisLine: {
                        lineStyle: {
                            color: '#f5f5f5',
                          }
                      }
                }
            ],
            series : [
                {
                    name:'直接访问',
                    type:'bar',
                    barWidth: '20%',
                    data:[76, 10, 19, 78],
                    itemStyle: {
                        normal: {
                        barBorderRadius: [20, 20, 0, 0],
                        },
                    },
                        //blog.csdn.net/flygoa/article/details/52922468
                    // label:{
                    //   show:true,
                    //   position:'top',
                    //   fontSize:'14'
                    // }
                }
            ]
        };
        var myChart = this.$echarts.init(document.getElementById('cxsfqyCharts'));
        myChart.setOption(option);

      },
      mapTwo(){
        let option = {
          color: ['#06BA53','#FFCC33','#5780F8'],
          title:{
            show:true,
            text:'区域海洋经济汇总-经济类(上海)',
            left:'left',
            textStyle:{
              fontWeight:'normal'
            }
          },
          legend: {
            bottom:'0%'
          },
          tooltip: {},
          dataset: {
            source: [
              ['product', '2015','2016', '2017'],
              ['第一产业生产总值', 4.3,4.4, 4.4],
              ['第二产业生产总值', 2278.4,2436.2, 2571.1],
              ['第三产业生产总值', 3966.2,4319.1, 4887.9]
            ]
          },
          xAxis: {
            type: 'category',
            name:'年份',
            axisLabel:{
              color:'#999' // x轴文字颜色
            },
            axisLine:{
               lineStyle:{
                 color:'#f5f5f5'
                }    // x轴坐标轴颜色
            },
          },
          yAxis:{
            gridIndex: 0,
            name:'亿元',
            max:6000,
            splitLine: {
              show: true,
              lineStyle: {
                color: '#f5f5f5',
              }
            },
            axisLabel:{
              color:'#999' // x轴文字颜色
            },
            axisLine: {
              lineStyle: {
                  color: '#f5f5f5',
                }
            }
            },
          grid: [
            {bottom: '16%'},
            {top: '15%'}
          ],
          series: [
            // These series are in the first grid.
            {
              type: 'bar',
              barWidth: '16%',
              seriesLayoutBy: 'row',
              label: {
                normal: {
                  show: true,
                  position: [0,-15]
                }
              },
              itemStyle: {
                normal: {
                  barBorderRadius: [20, 20, 0, 0]
                },
                emphasis: {
                  barBorderRadius: [20, 20, 0, 0]
                }
              },
            },
            {
              type: 'bar',
              seriesLayoutBy: 'row',
              label: {
                normal: {
                  show: true,
                  position: [-10,-15]
                }
              },
            },
            {
              type: 'bar',
              seriesLayoutBy: 'row',
              label: {
                normal: {
                  show: true,
                  position: [-10,-15]
                }
              },
            },
            // These series are in the second grid.
            // {type: 'bar', xAxisIndex: 1, yAxisIndex: 1},
            // {type: 'bar', xAxisIndex: 1, yAxisIndex: 1},
            // {type: 'bar', xAxisIndex: 1, yAxisIndex: 1},
            // {type: 'bar', xAxisIndex: 1, yAxisIndex: 1}
          ]
        };
        var myChart = this.$echarts.init(document.getElementById('div1'));
        myChart.setOption(option);
      },
      mapThree(){
        let option = {
          //#23519F。 #FA7D00  #A3A3A3   #FFB900 #00B9FC  #8AD027
          color: ['#FC6B90', '#3CC3DD'],
          title:{
            show:true,
            text:'2017与2018年度“社会条件与效益评价”的目标层指标比较',
            left:'center',
            textStyle:{
              fontWeight:'normal'
            }
          },
          legend: {
            top:'8%'
          },
          tooltip: {},
          dataset: {
            source: [
              ['product', '新增就业人数', '新增重点产业就业人数', '建成或改造生产线', '新建公共服务平台','带动社会资金投入'],
              ['2017', 6.61, 0.99,0.28,0.75,5.66],
              ['2018 ', 19.82, 1.49,0.55,3.00,8.99],
            ]
          },
          xAxis: {
            type: 'category',
            name:'',
            axisLabel: {
              interval: 0,
              rotate: 20, // 20度角倾斜显示(***这里是关键)
              textStyle: {
                // color: '#00c5d7'
              }
            },

          },
          yAxis:{
            gridIndex: 0,
            name:'',
            max:50,
            splitLine: {
              show: true,
              lineStyle: {
                color: '#f5f5f5',
              }
            },
            axisLabel:{
              color:'#999' // x轴文字颜色
            },
            axisLine: {
              lineStyle: {
                  color: '#f5f5f5',
                }
            }
          },
          grid: [
            {bottom: '20%'},
            {top: '15%'}
          ],
          series: [
            // These series are in the first grid.

            {
              type: 'bar',
              seriesLayoutBy: 'row',
              label: {
                normal: {
                  show: true,
                  position: [0,-15]
                }
              },
            },
            {
              type: 'bar',
              seriesLayoutBy: 'row',
              label: {
                normal: {
                  show: true,
                  position: [0,-15]
                }
              },
            },
            // These series are in the second grid.
            // {type: 'bar', xAxisIndex: 1, yAxisIndex: 1},
            // {type: 'bar', xAxisIndex: 1, yAxisIndex: 1},
            // {type: 'bar', xAxisIndex: 1, yAxisIndex: 1},
            // {type: 'bar', xAxisIndex: 1, yAxisIndex: 1}
          ]
        };
        var myChart = this.$echarts.init(document.getElementById('div2'));
        myChart.setOption(option);
      },
      xmClick(){
        if(!this.xm){
          this.xmPic = true;
          this.companys = this.companys2;
          this.initMap(this.companys);
        }else{
          this.xmPic = false;
          this.companys = [];
          this.initMap(this.companys);
        }
      },
      qyClick(){
        if(!this.qy){
          this.qyPic = true;
        }else{
          this.qyPic = false;
        }
      },
      jjClick(){
        if(!this.jj){
          this.jjPic = true;
        }else{
          this.jjPic = false;
        }
      },
      pgClick(){
        if(!this.pg){
          this.pgPic = true;
        }else{
          this.pgPic = false;
        }
      }
      // cxsfqy(){
      //     console.log('企业'+this.isSS,this.isChecked);
      //     if(this.isSS == 'b'){//十三五企业名称
      //         for(let i = 0;i<this.companys2.length;i++){
      //             this.companys[i].num = this.companys2[i].com;
      //         }
      //         console.log(this.companys);
      //         this.initMap(this.companys);
      //     }else{
      //         for(let i = 0;i<this.companys3.length;i++){
      //             this.companys[i].num = this.companys3[i].com;
      //         }
      //         console.log(this.companys);
      //         this.initMap(this.companys);
      //     }
      // },
      // cxsfxm(){
      //     console.log('项目'+this.isSS,this.isChecked);
      //     if(this.isSS == 'b'){//十三五
      //         for(let i = 0;i<this.companys2.length;i++){
      //             this.companys[i].num = this.companys2[i].num;
      //         }
      //         console.log(this.companys2);
      //         this.initMap(this.companys);
      //     }else{
      //         for(let i = 0;i<this.companys3.length;i++){
      //             this.companys[i].num = this.companys3[i].num;
      //         }
      //         console.log(this.companys2);
      //         this.initMap(this.companys);
      //     }
      // }
    },
    mounted() {
      this.qiyeList0 = this.qiyeList;
      this.map0_1 = this.map2_1;
      this.map0_2 = this.map2_2;
      this.map0_3 = this.map2_3;
      this.map0_4 = this.map2_4;

      this.companys = this.companys2;
      this.initMap(this.companys);
      this.mapOne();
      this.mapTwo();
      this.mapThree();
    },
  }

</script>
<style lang="less" scoped>
  #map-wrap{
    width:100%;
    height:1100px;
    #mapDiv{
      width:100%;
      height:100%;
      .selectType{
        position:fixed;
        left:20px;
        top:66px;
        z-index:999;
        width:320px;
        height:130px;
        .level1{
          width:200px;
          height:40px;
          background:rgba(16,28,82,0.7);
          border-radius:10px 10px 0 0;
          // position:absolute;
          // top:-40px;
          // left:0;
          a{
            display:block;
            text-align:center;
            line-height:40px;
            color:#ffffff;
            font-size:16px;
          }
        }
        .zk-pull{
          display:block;
          position:absolute;
          right:30px;
          top:10px;
          width:60px;
          height:20px;
          // background:red;
          color:red;
          font-style:normal;
          font-weight:bold;
          z-index:80;
        }
        .hx-select-wrap{
          position:absolute;
          width:100%;
          height:80px;
          bottom:40px;
          left:0;
          ul{
            background:#fff;
            border-radius: 4px;
            left:0;
            height:40px;
            padding: 0 10px;
            border-radius: 2px 0 0 2px;
            li{
              float: left;
              line-height:40px;
              color:#333;
              margin-right: 20px;
              font-size: 14px !important;
              label{
                margin-left:10px;
              }
            }
          }
        }
      }
      .cxsfml{
        position:absolute;
        left:20px;
        top: 70px;
        width:500px;
        z-index:998;
        .map_top {
          background: #fff;
          box-shadow:0px 3px 6px rgba(0,0,0,0.16);
          height: 360px;
        }
        h3{
          width:100%;
          height:44px;
          line-height:44px;
          font-size:18px;
          font-weight: 500;
          text-align:left;
          color:#333;
          background: #f5f5f5;
          padding-left: 20px;

        }
        ul{
          padding: 10px 20px;
          width:100%;
          /deep/.el-table__body td:nth-child(1) .cell {
            color: #008DF7;
          }
            // &:hover{
            //   transition: 1s;
            //   transform: rotateX(360deg);
            // }
            // -webkit-animation: proRotate 1s ease-in-out 500ms alternate none 1;
            // animation: proRotate 1s ease-in-out 500ms alternate none 1;
            span{
              font-size: 14px;
              float:left;
              width:120px;
              // height:100%;
              text-align:center;
              // line-height:44px;
              // display:flex;
              // justify-content:center;
              // align-items:center;
              color:#f2f2f5;
              padding:5px 10px;
              &:nth-child(1){
                width:200px;
              }
            }
          }
        }
      }
      .cxsfqyCharts{
        width:500px;
        height:400px;
        background:#ffffff;
        margin-top:50px;
        padding: 20px;
        box-shadow:0px 3px 6px rgba(0,0,0,0.16);

      }
      .right-charts{
        position:absolute;
        right:20px;
        top:70px;
        z-index:999;
        .div1{
          width:500px;
          height:400px;
          background:#ffffff;
          margin-top:50px;
          padding: 20px;
          box-shadow:0px 3px 6px rgba(0,0,0,0.16);

        }
        .div2{
          width:500px;
          height:400px;
          background:#ffffff;
          margin-top:50px;
          padding: 20px;
          box-shadow:0px 3px 6px rgba(0,0,0,0.16);

        }
      }
      .line>span {
        color: #EDEDED;
      }
      .switch{
        margin-right: 0 !important;
        .switch-top{
          position:absolute;
          top:44px;
          right: 0;
          display:none;
          background:#fff;
          padding:10px 10px;
          box-shadow:0px 3px 6px rgba(0,0,0,0.16);
          // dt{
          //   line-height:40px;
          // }
          // dd{
          //   padding-left:20px;
          // }
          // &.active{
          //   -webkit-animation: proRotate 400ms ease-in-out 0ms alternate none 1;
          //   animation: proRotate 400ms ease-in-out 0ms alternate none 1;
          // }
          .div1{
            width:100%;
            height:30px;
            color:#333;
          }
        }
        .switch-btn{

          color:#333;
          font-size:14px;
          border-radius:4px;
          cursor:pointer;
        }
      }
    }

  @-webkit-keyframes proRotate {
    0%{-webkit-transform:perspective(600px) rotateX(180deg);}
    100%{-webkit-transform:perspective(600px) rotateX(0deg);}
  }
  @keyframes proRotate {
    0%{transform:perspective(600px) rotateX(180deg);}
    100%{transform:perspective(600px) rotateX(0deg);}
  }
  /deep/.el-checkbox {
    font-weight: 350 !important;
  }
</style>
