<template>
    <div class="file">
        <div class="file-title">
            <el-breadcrumb >
                <el-breadcrumb-item>项目管理</el-breadcrumb-item>
                <el-breadcrumb-item>下载专区</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="file-main">
            <div class="list">
                <ul>
                    <li v-for="item in copyList" :class="isActive == item.name ? 'is-active' : ''" @click="changeActive(item)">{{item.name}}<span v-if="item.value">({{item.length}})</span></li>
                </ul>
            </div>
            <div class="file-container">
                <p>{{isActive}}</p>
                <ul>
                    <li v-for="item in fileListObj.projectFilePOList">
                        <span>
                            <img :src="icons.word" v-if="item.fileType == 'doc' || item.fileType == 'docx'" >
                            <img :src="icons.excel" v-if="item.fileType == 'xlsx' || item.fileType == 'xls'" >
                            <img :src="icons.pdf" v-if="item.fileType == 'pdf' || item.fileType == 'pd'">
                            {{item.fileName}}
                        </span>
                        <span @click="downloadFile(item)"><i class="iconfont icon-xiazai"></i>下载</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                copyList: [
                    {
                        name: '全部模板下载',
                        value: ''
                    },
                    {
                        name: '表格与模板',
                        value: '0',
                        length: ''
                    },
                    {
                        name: '管理办法',
                        value: '1',
                        length: ''
                    },
                    {
                        name: '政策性文件',
                        value: '2',
                        length: ''
                    },
                ],
                isActive: '全部模板下载',
                fileType: '',
                fileListObj: {},
                icons: {
                    word: require('../../assets/fileIcon/word.png'),
                    excel: require('../../assets/fileIcon/excel.png'),
                    pdf: require('../../assets/fileIcon/pdf.png'),
                },

            }
        },
        methods: {
            changeActive(data){
                this.isActive = data.name
                this.fileType = data.value
                this.$post('/downloadFile',{type:this.fileType})
                    .then(data =>{
                        this.fileListObj = data.data.resultData
                    })
            },
            getFileList(){
                this.$post('/downloadFile',{type:this.fileType})
                    .then(data =>{
                        this.fileListObj = data.data.resultData
                    })
                this.$post('/downloadFile',{type: '0'})
                    .then(data =>{
                        this.copyList[1].length = data.data.resultData.count
                    })
                this.$post('/downloadFile',{type: '1'})
                    .then(data =>{
                        this.copyList[2].length = data.data.resultData.count
                    })
                this.$post('/downloadFile',{type: '2'})
                    .then(data =>{
                        this.copyList[3].length = data.data.resultData.count
                    })
            },
            downloadFile(data){
                this.$post('/download',{id: data.fileId} )
                    .then(res =>{
                        window.location.href=res.data.resultData;
                        // const blob = new Blob([res.data], );
                        // const reader = new FileReader();
                        // reader.readAsDataURL(blob);
                        // reader.onload = (e) => {
                        //     const a = document.createElement('a');
                        //     a.download = data.fileName;
                        //     a.href = e.target.result;
                        //     document.body.appendChild(a);
                        //     a.click();
                        //     document.body.removeChild(a);
                        // }
                    })
            }
        },
        created() {
            this.getFileList()
        }
    }
</script>
<style lang="scss" scoped>
    .is-active{
        font-size: 16px !important;
        color: white !important;
        background: #0089F3 !important;
        height: 45px !important;
        line-height: 45px !important;
    }
    .file{
        width: 100%;
        height: 100%;
        background: white;
        &-title{
            padding:20px 0px 20px 20px;
        }
        &-main{
            padding-left: 20px;
            height: calc(100% - 70px);
            display: flex;
            .list{
                width: 195px;
                height: 100%;
                border: 1px solid #E4E4E4;
                ul{
                    li{
                        height: 45px;
                        line-height: 45px;
                        padding-left: 35px;
                        font-size: 14px;
                        border-bottom: 1px solid #E4E4E4;
                        cursor: pointer;

                        span{
                            margin-left: 5px;
                        }
                        &:hover{
                            background: #F6F6F6;
                        }
                    }
                }
            }
            .file-container{
                width: 75%;
                margin-left: 20px;
                height: 100%;
                border: 1px solid #E4E4E4;
                padding: 0 20px;
                font-size: 14px;

                p{
                    font-size: 14px;
                    padding: 15px 0;
                    border-bottom: 1px solid #E2E2E2;
                    color: #333;
                    background: white;
                }
                ul{
                    height: calc(100% - 50px);
                    overflow-y: auto;
                    li{
                        padding: 20px 0;
                        border-bottom: 1px dashed #E2E2E2;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        img{
                            width: 18px;
                            margin-right: 15px;
                        }
                        span{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            i{
                                margin-right: 15px;
                            }
                            &:last-of-type{
                                cursor: pointer;
                                margin-right: 20px;
                                i{
                                    margin-right: 5px !important;
                                }
                                &:hover{
                                    color: #0089F3;
                                }
                            }
                        }
                        .icon-word{
                            color: #69ACFF;
                            font-size: 22px;
                        }
                        .excel{
                            color: #107B0F;
                            font-size: 22px;
                        }
                        &:last-of-type{
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
</style>
