<template>
    <section style="height: 100%">
        <div class="dsjzbsj" >
            <div class="part1">
                <div class="first">
                    <div class="one">
                        <p class="p2-title">分地区海洋科研机构及人员情况</p>
                        <div class="map1" id="map1"></div>
                        <p class="p1">
                            <span>经济增加值<i class="num">68</i>万元</span>
                            <span>比上一年增长</span>
                            <span><i class="hao">+</i><i class="num">99%</i></span>
                        </p>
                    </div>
                    <div class="two">
                        <p class="p2-title">年利润总额（万元）</p>
                        <div class="map2" id="map2"></div>
                    </div>
                </div>
                <div class="second">
                    <div class="one">
                        <p class="p2-title">海洋经济增长速度（%）</p>
                        <div class="map3" id="map3"></div>
                    </div>
                    <div class="two">
                        <p class="p2-title">海洋经济对区域经济拉动（%）</p>
                        <div class="map4" id="map4"></div>
                    </div>
                </div>
                <div class="third">
                    <div class="one">
                        <p class="p2-title">产业集聚度（%）</p>
                        <div class="map5" id="map5"></div>
                    </div>
                    <div class="two">
                        <p class="p2-title">产业对海洋经济GDP贡献率（%）</p>
                        <div class="map6" id="map6"></div>
                    </div>
                </div>
            </div>
            <div class="part2">
                <div class="first">
                    <p class="p2-title">产业对海洋经济GDP贡献率（%）</p>
                    <div class="map7" id="map7"></div>
                </div>
                <div class="second">
                    <p class="p2-title">带动社会资金投入（万元）</p>
                    <div class="map8" id="map8"></div>
                </div>
            </div>
            <div class="btns">
                <div class="btns-con">
                    <div class="pic " @click="njsj()">
                        <span>年鉴</span>
                        <span>数据</span>
                    </div>
                    <div class="line"></div>
                    <div class="pic mark" @click="dsjzbsj()">
                        <span>直报</span>
                        <span>数据</span>
                    </div>
                    <div class="line"></div>
                    <div class="pic" @click="dsjfz()">
                        <span>大数据</span>
                        <span>分析</span>
                    </div>
                    <div class="line"></div>
                    <div class="pic" @click="goVisual">
                        <span>可视化</span>
                        <span>跟踪</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    import {EleResize} from '../common/esresize'
export default {
    data(){
        return{

        }
    },
    methods: {
        njsj(){
            this.$router.push('/projectML/dongtaigenzong/cxsfxm');
        },
        dsjfz(){
            this.$router.push('/projectML/dongtaigenzong/hadoop');
        },
        map1(){
            var dataArr = 44;
            var colorSet = {
                color: '#5b8ff9'
            };
            let option = {
                // backgroundColor: '#0E1327',
                tooltip: {
                    formatter: "{a} <br/>{b} : {c}%"
                },
                grid:{
                    left:2,
                    top:10,
                },
                series: [{
                        name: "内部进度条",
                        type: "gauge",
                        center: ['30%', '50%'],
                        radius: '80%',

                        splitNumber: 10,
                        axisLine: {
                            lineStyle: {
                                color: [
                                    [dataArr / 100, colorSet.color],
                                    [1, "#cbcbcb"]
                                ],
                                width: 18
                            }
                        },
                        axisLabel: {
                            show: false,
                        },
                        axisTick: {
                            show: false,

                        },
                        splitLine: {
                            show: false,
                        },
                        itemStyle: {
                            show: false,
                        },
                        // detail: {
                        //     formatter: function(value) {
                        //         if (value !== 0) {
                        //             var num = Math.round(value ) ;
                        //             return parseInt(num).toFixed(0)+"%";
                        //         } else {
                        //             return 0;
                        //         }
                        //     },
                        //     offsetCenter: [0, 82],
                        //     textStyle: {
                        //         padding: [0, 0, 0, 0],
                        //         fontSize: 18,
                        //         fontWeight: '700',
                        //         color: colorSet.color
                        //     }
                        // },
                        title: { //标题
                            show: false,
                            offsetCenter: [0, 46], // x, y，单位px
                            textStyle: {
                                color: "#fff",
                                fontSize: 14, //表盘上的标题文字大小
                                fontWeight: 400,
                                fontFamily: 'PingFangSC'
                            }
                        },
                        data: [{
                            name: "title",
                            value: dataArr,
                        }],
                        pointer: {
                            show: true,
                            length: '60%',
                            radius: '20%',
                            width: 10, //指针粗细
                        },
                        animationDuration: 4000,
                    },
                    // {
                    //     name: '外部刻度',
                    //     type: 'gauge',
                    //     //  center: ['20%', '50%'],
                    //     radius: '75%',
                    //     min: 0, //最小刻度
                    //     max: 100, //最大刻度
                    //     splitNumber: 10, //刻度数量
                    //     startAngle: 225,
                    //     endAngle: -45,
                    //     axisLine: {
                    //         show: true,
                    //         lineStyle: {
                    //             width: 1,
                    //             color: [
                    //                 [1, 'rgba(0,0,0,0)']
                    //             ]
                    //         }
                    //     }, //仪表盘轴线
                    //     axisLabel: {
                    //         show: true,
                    //         color: '#4d5bd1',
                    //         distance: 25,
                    //         formatter: function(v) {
                    //             switch (v + '') {
                    //                 case '0':
                    //                     return '0';
                    //                 case '10':
                    //                     return '10';
                    //                 case '20':
                    //                     return '20';
                    //                 case '30':
                    //                     return '30';
                    //                 case '40':
                    //                     return '40';
                    //                 case '50':
                    //                     return '50';
                    //                 case '60':
                    //                     return '60';
                    //                 case '70':
                    //                     return '70';
                    //                 case '80':
                    //                     return '80';
                    //                 case '90':
                    //                     return '90';
                    //                 case '100':
                    //                     return '100';
                    //             }
                    //         }
                    //     }, //刻度标签。
                    //     axisTick: {
                    //         show: true,
                    //         splitNumber: 7,
                    //         lineStyle: {
                    //             color: colorSet.color, //用颜色渐变函数不起作用
                    //             width: 1,
                    //         },
                    //         length: -8
                    //     }, //刻度样式
                    //     splitLine: {
                    //         show: true,
                    //         length: -20,
                    //         lineStyle: {
                    //             color: colorSet.color, //用颜色渐变函数不起作用
                    //         }
                    //     }, //分隔线样式
                    //     detail: {
                    //         show: false
                    //     },
                    //     pointer: {
                    //         show: false
                    //     }
                    // },
                ]
            };
            var myChart = this.$echarts.init(document.getElementById('map1'));
            let resizeDiv = document.getElementById('map1')
            myChart.setOption(option);
            EleResize.on(resizeDiv, _=>{
                myChart.resize()
            })
        },
        map2(){
            let option = {
                // title: {
                //     text: '世界人口总量',
                //     subtext: '数据来自网络'
                // },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                legend: {
                    data: ['年利润总额'],
                    bottom:6,
                    textStyle:{
                        color:'#dee0e6',
                        fontSize:14,
                    }
                },
                grid: {
                    top:'1%',
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: {
                    show:false,
                    type: 'value',
                    boundaryGap: [0, 0.01]
                },
                yAxis: {
                    type: 'category',
                    data: ['2011年', '2012年', '2013年', '2014年', '2015年'],
                    axisLine:{
                        lineStyle:{
                            color:'#656e88'
                        }
                    },
                    axisLabel:{
                        color:'#e9ebf0',
                    }
                },
                series: [
                    {
                        name: '年利润总额',
                        type: 'bar',
                        data: [30, 60, 70, 90, 110],
                        itemStyle:{
                            color:'#5789f0'
                        },
                        barWidth:22,

                    }
                ]
            };
            var myChart = this.$echarts.init(document.getElementById('map2'));
            let resizeDiv = document.getElementById('map2')
            myChart.setOption(option);
            EleResize.on(resizeDiv, _=>{
                myChart.resize()
            })
        },
        map3(){
            let option = {
                legend: {
                    data: ['当年海洋生产总值', '上一年海洋生产总值', '增长速度'],
                    bottom:10,
                    textStyle:{
                        color:'#e2e4e9'
                    }
                },
                grid:{
                    top:15
                },
                xAxis: [
                    {
                        type: 'category',
                        data: ['2011年', '2012年', '2013年', '2014年', '2015年'],
                        axisPointer: {
                            type: 'shadow'
                        },
                        lineStyle:{
                            color:'#6f788b',
                        },
                        axisLabel:{
                            color:'#cfd2dc'
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: '',
                        axisLabel: {
                            formatter: '{value} ml'
                        },
                        lineStyle:{
                            show:false,
                            color:'#6f788b',
                        },
                        axisLabel:{
                            color:'#cfd2dc'
                        },
                        axisLine:{
                            show:false,
                        },
                        splitLine:{
                            lineStyle:{
                                color:'#1e3057'
                            }
                        },
                        axisTick:{
                            show:false,
                        }
                    },
                    {
                        type: 'value',
                        name: '',
                        interval: 5,
                        axisLabel: {
                            formatter: '{value} %',
                            color:'#cfd2dc'
                        },
                        lineStyle:{
                            show:false,
                            color:'#6f788b',
                        },
                        axisLine:{
                            show:false,
                        },
                        splitLine:{
                            show:false,
                        }
                    }
                ],
                series: [
                    {
                        name: '当年海洋生产总值',
                        type: 'bar',
                        data: [7.0, 7.0, 7.0, 9, 14],
                        itemStyle:{
                            color:'#5789f0',

                        }
                    },
                    {
                        name: '上一年海洋生产总值',
                        type: 'bar',
                        data: [3, 3, 6, 9, 10],
                        itemStyle:{
                            color:'#596b8f',

                        }
                    },
                    {
                        name: '增长速度',
                        type: 'line',
                        yAxisIndex: 1,
                        data: ['1', '2', '3', '4', '3'],
                        itemStyle:{
                            color:'#58d4a4',

                        },
                        lineStyle:{
                            width:3,
                        }
                    }
                ]
            };
            var myChart = this.$echarts.init(document.getElementById('map3'));
            let resizeDiv = document.getElementById('map3')
            myChart.setOption(option);
            EleResize.on(resizeDiv, _=>{
                myChart.resize()
            })
        },
        map4(){
            let option = {
                legend: {
                    data: ['区域经济拉动比例', '地区GDP增长率'],
                    bottom:10,
                    textStyle:{
                        color:'#e2e4e9'
                    }
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        // type: 'cross',
                        crossStyle: {
                            color: '#999'
                        }
                    }
                },
                grid:{
                    top:15
                },
                xAxis: [
                    {
                        type: 'category',
                        data: ['2011年', '2012年', '2013年', '2014年', '2015年'],
                        axisPointer: {
                            type: 'shadow'
                        },
                        lineStyle:{
                            color:'#6f788b',
                        },
                        axisLabel:{
                            color:'#cfd2dc'
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: '',
                        interval: 5,
                        axisLabel: {
                            formatter: '{value} %',
                            color:'#cfd2dc'
                        },
                        lineStyle:{
                            show:false,
                            color:'#6f788b',
                        },
                        axisLine:{
                            show:false,
                        },
                        splitLine:{
                            show:false,
                        }
                    }
                ],
                series: [
                    {
                        name: '区域经济拉动比例',
                        type: 'line',
                        data: [7.0, 7.0, 7.0, 9, 14],
                        itemStyle:{
                            color:'#5789f0',

                        }
                    },
                    {
                        name: '地区GDP增长率',
                        type: 'line',
                        data: [5, 8, 6, 8, 3],
                        itemStyle:{
                            color:'#596b8f',

                        }
                    },
                ]
            };
            var myChart = this.$echarts.init(document.getElementById('map4'));
            let resizeDiv = document.getElementById('map4')
            myChart.setOption(option);
            EleResize.on(resizeDiv, _=>{
                myChart.resize()
            })
        },
        map5(){
            let option = {
                tooltip:{

                } ,
                legend:{
                    data:["海洋生物产业", "海洋高端装备产业"] ,
                    bottom:10,
                    textStyle:{
                        color:'#d9dbe2',
                    }
                },
                grid:{
                    top:15,
                },
                xAxis: {
                    type: 'category',
                    data:["2011", "2012", "2013", "2014", "2015"],
                    lineStyle:{
                        color:'#6f788b',
                    },
                    axisLabel:{
                        color:'#cfd2dc'
                    }

                },
                yAxis: {
                    type: 'value',
                    interval:20,
                    max:100,
                    splitLine: {
                        lineStyle: {
                            type: 'dashed'
                        }
                    },
                    lineStyle:{
                        show:false,
                        color:'#6f788b',
                    },
                    axisLabel:{
                        color:'#cfd2dc'
                    },
                    axisLine:{
                        show:false,
                    },
                    splitLine:{
                        lineStyle:{
                            color:'#1e3057'
                        }
                    },
                    axisTick:{
                        show:false,
                    }
                },
                series: [{
                        type: 'scatter',
                        "name": "海洋生物产业",
                        "data": [ 15.2,15.4, 42,57.4,66.9],
                        itemStyle:{
                            color:'#4f7edf',
                            borderWidth:2,
                            borderColor:'#c5d1eb'
                        }
                    }, {
                        type: 'scatter',
                        "name": "海洋高端装备产业",
                        "data": [92.7, 105.2, 2,47.8,70.7],
                        itemStyle:{
                            color:'#56cea2',
                            borderWidth:2,
                            borderColor:'#c5d1eb'
                        }
                    }]
            };
            var myChart = this.$echarts.init(document.getElementById('map5'));
            let resizeDiv = document.getElementById('map5')
            myChart.setOption(option);
            EleResize.on(resizeDiv, _=>{
                myChart.resize()
            })
        },
        map6(){
            let option = {
                title: {
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    orient: 'horizontal',
                    left: 'center',
                    bottom:10,
                    icon:'circle',
                    data: ['海洋生物产业', '海洋高端装备产业', '海水淡化产业'],
                    textStyle:{
                        color:'#cbced7'
                    }
                },
                series: [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '40%'],
                        data: [
                            {
                                value: 40,
                                name: '海洋生物产业',
                                itemStyle:{
                                    color:'#5789f0',
                                },
                                label:{
                                    formatter:'{c}%',
                                    color:'#bcbfcc',
                                    fontWeight:'bold',
                                }
                            },
                            {
                                value: 30,
                                name: '海洋高端装备产业',
                                itemStyle:{
                                    color:'#56cea2',
                                },
                                label:{
                                    formatter:'{c}%',
                                    color:'#bcbfcc',
                                    fontWeight:'bold',
                                }
                            },
                            {
                                value: 30,
                                name: '海水淡化产业',
                                itemStyle:{
                                    color:'#596b8f',
                                },
                                label:{
                                    formatter:'{c}%',
                                    color:'#bcbfcc',
                                    fontWeight:'bold',
                                }
                            },
                        ],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            var myChart = this.$echarts.init(document.getElementById('map6'));
            let resizeDiv = document.getElementById('map6')
            myChart.setOption(option);
            EleResize.on(resizeDiv, _=>{
                myChart.resize()
            })
        },
        map7(){
            let _this = this;
            let option = {
                color: [
                    "#c23531",
                    "#3b8c13",
                    "#61a0a8",
                    "#d48265",
                    "#91c7ae",
                    "#749f83",
                    "#ca8622",
                    "#bda29a",
                    "#6e7074",
                    "#546570",
                    "#c4ccd3"
                ],
                xAxis: {
                    data: ['2011', '2012', '2013', '2014','2015'],
                    lineStyle:{
                        color:'#6f788b',
                    },
                    axisLabel:{
                        color:'#cfd2dc'
                    }
                },
                legend: {
                    data: ['产值年增长率', '成本增加值率'],
                    textStyle: {
                        fontSize: '14',
                        color: '#333'
                    }
                },
                yAxis: [{
                    type: 'log',
                    name: "",
                    nameTextStyle: {
                        color: '#333',
                        fontSize: '16'
                    },
                    axisLabel: {
                        textStyle: {
                            fontSize: '12',
                            color: '#cfd2dc'
                        }
                    },
                    lineStyle:{
                        show:false,
                        color:'#6f788b',
                    },
                    axisLine:{
                        show:false,
                    },
                    splitLine:{
                        show:false,
                    }
                }],
                series: [{
                    name: '产值年增长率',
                    type: 'line',
                    data: [,,9.5, 18],
                    itemStyle: {
                        color:'#385cab',
                    },
                    areaStyle: {
                        normal: {
                            color: new _this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0,
                                    color: 'rgba(44,76,147,1)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgba(44,76,147,0.5)'
                                }
                            ], false),
                        }
                    },
                }, {
                    type: 'line',
                    title: '成本增加值率',
                    data: [, , 6, 12],
                    itemStyle: {
                        color:'#428c9c',
                    },
                    areaStyle: {
                        normal: {
                            color: new _this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0,
                                    color: 'rgba(63,132,155,1)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgba(63,132,155,0.5)'
                                }
                            ], false),
                        }
                    },
                }]
            };
            var myChart = this.$echarts.init(document.getElementById('map7'));
            let resizeDiv = document.getElementById('map7')
            myChart.setOption(option);
            EleResize.on(resizeDiv, _=>{
                myChart.resize()
            })
        },
        map8(){
            let option = {
                legend: {
                    bottom:10,
                    textStyle:{
                        color:'#fafbfb',
                    }
                },
                tooltip: {},
                grid:{
                    top:15
                },
                dataset: {
                    dimensions: ['product', '2011', '2012', '2013','2014','2015'],
                    source: [
                        {product: '江苏', '2011': 43.3, '2012': 85.8, '2013': 93.7,'2014': 53.7,'2015': 0},
                        {product: '上海', '2011': 83.1, '2012': 73.4, '2013': 55.1,'2014': 43.7,'2015': 0},
                        {product: '浙江', '2011': 86.4, '2012': 65.2, '2013': 82.5,'2014': 63.7,'2015': 0},
                        {product: '福建', '2011': 72.4, '2012': 53.9, '2013': 39.1,'2014': 83.7,'2015': 0}
                    ]
                },
                xAxis: {
                    type: 'category',
                    lineStyle:{
                        color:'#6f788b',
                    },
                    axisLabel:{
                        color:'#cfd2dc'
                    }
                },
                yAxis: {
                    axisLabel: {
                        textStyle: {
                            fontSize: '12',
                            color: '#cfd2dc'
                        }
                    },
                    lineStyle:{
                        show:false,
                        color:'#6f788b',
                    },
                    axisLine:{
                        show:false,
                    },
                    splitLine:{
                        show:false,
                    }
                },
                // Declare several bar series, each will be mapped
                // to a column of dataset.source by default.
                series: [
                    {
                        type: 'bar',
                        itemStyle:{
                            color:'#5b8ff9'
                        }
                    },
                    {
                        type: 'bar',
                        color:'#5ad8a6'
                    },
                    {
                        type: 'bar',
                        color:'#5d7092'
                    },
                    {
                        type: 'bar',
                        color:'#f6bd16'
                    }
                ]
            };
            var myChart = this.$echarts.init(document.getElementById('map8'));
            let resizeDiv = document.getElementById('map8')
            myChart.setOption(option);
            EleResize.on(resizeDiv, _=>{
                myChart.resize()
            })
        },
        goVisual(){
            this.$router.push('/projectML/dongtaigenzong/visualization');
        }
    },
    mounted() {
        this.map1();
        this.map2();
        this.map3();
        this.map4();
        this.map5();
        this.map6();
        this.map7();
        this.map8();
    },
}
</script>
<style lang="less" scoped>
    .dsjzbsj{
        width:100%;
        height: 100%;
        padding: 18px 18px 50px 18px;
        background:#08123e url('../../assets/analysis/back.png');
        background-size:100% 100%;

        overflow-y: auto;
        .part1{
            width:100%;
            height:600px;
            display: flex;
            justify-content: space-between;
            .first{
                width: 21.5%;
                height:598px;
                border:1px solid #006699;
                border-radius:3px;
                padding-top:5px;
                padding-left:6px;
                .one{
                    width:100%;
                    height:260px;
                    position:relative;
                    .map1{
                        width:100%;
                        height:224px;
                        // background:green;
                    }
                    .p1{
                        position:absolute;
                        right:8px;
                        top:78px;
                        width:160px;
                        height:142px;
                        span{
                            display:block;
                            font-size:18px;
                            color:#557fb6;
                            line-height:45px;
                            .num{
                                font-style:normal;
                                font-size:19px;
                                color:#ffffff;
                            }
                            .hao{
                                font-style:normal;
                                font-size:14px;
                                font-weight:bold;
                                color:#ff0000;
                                margin-right:10px;
                            }
                        }
                    }
                }
                .two{
                    .map2{
                        width: 100%;
                        height:280px;
                    }
                }
            }
            .second{
                width: 46%;
                height:600px;
                .one{
                    width:100%;
                    height:332px;
                    border:1px solid #006699;
                    border-radius:3px;
                    padding-top:5px;
                    padding-left:6px;
                    .map3{
                        width:100%;
                        height:280px;
                    }
                }
                .two{
                    margin-top:10px;
                    width: 100%;
                    height:256px;
                    border:1px solid #006699;
                    border-radius:3px;
                    padding-top:5px;
                    padding-left:6px;
                    .map4{
                        width:100%;
                        height:208px;
                    }
                }
            }
            .third{
                width: 30.5%;
                height:auto;
                .one{
                    width:100%;
                    height:332px;
                    border:1px solid #006699;
                    border-radius:3px;
                    padding-top:5px;
                    padding-left:6px;
                    .map5{
                        width:100%;
                        height:284px;
                    }
                }
                .two{
                    margin-top:10px;
                    width:100%;
                    height:256px;
                    border:1px solid #006699;
                    border-radius:3px;
                    padding-top:5px;
                    padding-left:6px;
                    .map6{
                        width:100%;
                        height:210px;
                    }
                }
            }
        }
        .part2{
            width:100%;
            height:380px;
            margin-top:10px;
            display: flex;
            justify-content: space-between;
            .first{
                width: 34%;
                height:370px;
                border:1px solid #006699;
                border-radius:3px;
                padding-top:5px;
                padding-left:6px;
                .map7{
                    width:100%;
                    height:320px;
                }
            }
            .second{
                width: 65%;
                height:370px;
                border:1px solid #006699;
                border-radius:3px;
                padding-top:5px;
                padding-left:6px;
                .map8{
                    width:100%;
                    height:320px;
                }
            }
        }
    }
    .btns{
        width:100%;
        height:93px;
        .btns-con{
            width:568px;
            height:100%;
            margin:0 auto;
            .pic{
                float:left;
                width:105px;
                height:100%;
                background:url('../../../static/image/dysj03.png') no-repeat;
                color:#54D1FA;
                text-align:center;
                display:flex;
                flex-direction:column;
                justify-content:center;
                cursor:pointer;
                &.mark{
                    color:#fff;
                    background:url('../../../static/image/dysj_highLight.png') no-repeat;
                }
            }
            .line{
                float:left;
                width:46px;
                height:93px;
                background:url('../../../static/image/dysj02.png') no-repeat 0 42px;
            }
        }
    }
    .p2-title{
        padding-left:22px;
        color:#acccf5;
        font-size:16px;
        line-height:36px;
        background:url('../../../static/image/dysj01.png') no-repeat 0 10px;
    }
</style>
