<template>
    <div style="min-height:1018px;">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >项目综合管理</el-breadcrumb-item>
                <el-breadcrumb-item>项目进度管理</el-breadcrumb-item>
                <el-breadcrumb-item>区域项目完成情况统计图</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="tongji">
            <div class="title">
                <el-button type="warning" @click="goBack">返回</el-button>
                <div class="type">
                    <span>项目类型：</span>
                    <el-select v-model="valueproject" placeholder="请选择">
                        <el-option
                        v-for="item in chanyeType"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="chanyeType">
                    <span>产业类型：</span>
                    <el-select v-model="valueCylx" placeholder="请选择">
                        <el-option
                        v-for="item in cylx"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <el-button type="primary">查询</el-button>
                <div class="desc">
                    <span>总数：67</span>
                    <span>正常：55</span>
                    <span class="span3">延期：7</span>
                    <span class="span4">终止：5</span>
                </div>
            </div>
            <div class="tongji-echarts" id="tongjiEcharts" style="text-align:center;line-height:200px;font-size:22px;color:#808080;">正在建设中</div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            chanyeType:[
                {
                    label:'十三五',
                    value:1
                },
            ],
            valueproject:1,
            cylx:[
                {
                    label:'全部',
                    value:0
                },
                {
                    label:'海洋高端装备',
                    value:1
                },
                {
                    label:'海水淡化',
                    value:2
                },
                {
                    label:'海洋生物',
                    value:3
                },
                {
                    label:'产业平台',
                    value:4
                }
            ],
            valueCylx:0,
        }
    },
    methods: {
        goBack(){
            this.$router.go(-1);//返回上一层
        },
        mapOne(){
            let option = {
                tooltip : {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },

                legend: {
                    data:['正常','延期','完成率','终止']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis : [
                    {
                        type : 'category',
                        data : ['南通','上海浦东','舟山','宁波','福州','厦门']
                    }
                ],
                yAxis : [
                    {
                        type : 'value',
                        name: '数量',
                    },
                    {
                        type: 'value',
                        name: '完成率',
                        min: 0,
                        max: 100,
                        position: 'right',
                        position: 'right',
                        axisLine: {
                            lineStyle: {
                                color: "#379cf1"
                            }
                        },
                        axisLabel: {
                            formatter: '{value} %'
                        },
                        splitLine:{
                            show:false,
                        }
                    },
                ],
                series : [
                    {
                        name:'正常',
                        type:'bar',
                        barWidth : 25,
                        stack: '搜索引擎',
                        data:[5, 27, 8, 3, 5, 7],
                        itemStyle:{
                            color:'green',
                        },
                    },
                    {
                        name:'延期',
                        type:'bar',
                        stack: '搜索引擎',
                        data:[0, 1, 2, 1, 1, 2],
                        itemStyle:{
                            color:'red',
                        },
                    },
                    {
                        name:'终止',
                        type:'bar',
                        stack: '搜索引擎',
                        data:[1, 1, 1, 0, 0, 1],
                        itemStyle:{
                            color:'#82C69A',
                        }
                    },
                    {
                        name:'完成率',
                        type:'line',
                        yAxisIndex: 1,
                        data:[80,90,73,60,63,80],
                          itemStyle:{
                            color:'#FDC800',
                        },
                    },
                ]
            };
            var myChart = this.$echarts.init(document.getElementById('tongjiEcharts'));
            myChart.setOption(option);
        }
    },
    mounted() {
        this.mapOne();
    },
}
</script>
<style lang="less" scoped>
    .sider{
        padding-left:30px;
        padding-right:30px;
        padding-top:20px;
    }
    .tongji{
        width:100%;
        height:auto;
        padding-left:30px;
        padding-right:30px;
        margin-top:20px;
        .type,.area,.chanyeType{
            display:inline-block;
            margin-left:20px;
        }
        .desc{
            float:right;
            height:40px;
            line-height:50px;
            font-size:14px;
            span{
                padding-left:15px;
            }
            .span3,.span4{
                color:red;
            }
        }
        .tongji-echarts{
            width:100%;
            height:600px;
            padding:2% 5%;
            background:#ffffff;
            margin-top:20px;
        }
        /deep/.el-button--primary{
            margin-left:20px;
        }
    }
</style>
