<template>
    <section style="height:100%;overflow-y:auto;background:#0a1541;padding-bottom: 50px">
        <div class="wrap">
            <div class="part1">
                <div class="title">
                    <ul>
                        <li class="mark">企业大数据分析</li>
                        <li @click="cydsjfx">产业大数据分析</li>
                    </ul>
                    <div class="right">
                        <select class="selectqy" v-model="companyType" placeholder="请选择企业类型" @change="typeChangeEvent">
                            <option value="1">十二五企业</option>
                            <option value="2">十三五企业</option>
                        </select>
                        <select class="selectall" placeholder="请选择企业类型">
                            <option value="">{{typeMessage}}</option>
                        </select>
                        <div class="qygxss">
                            <div class="sousuo">
                                <input type="text" v-model="companyName" placeholder="输入企业名称搜索" />
                                <i class="el-icon-search" @click="searchCompany()"></i>
                            </div>
                            <dl v-if="listShow">
                                <dt>搜索结果：共1家企业</dt>
                                <dd v-for="item in companyList" style="cursor: pointer" @click="showDetail(item)">
                                    <img class="pic" src="../../../static/image/dysj04.png" />
                                    <p class="desc">
                                        <span class="span1" style="display: inline-block">{{item.companyName}}</span>
                                        <span class="span2" style="display: inline-block">关联企业<i>{{item.relationCount}}</i>家</span>
                                    </p>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="con">
                    <div class="map">
                        <div class="first">
                            <div class="map1" id="map1"></div>
                            <p class="map1-title">经营范围关联企业</p>
                            <p class="map1-num"><span>33</span>%</p>
                        </div>
                        <div class="second">
                            <div class="map2" id="map2"></div>
                            <p class="map2-title">投资关联企业</p>
                            <p class="map2-num"><span>7.6</span>%</p>
                        </div>
                    </div>
                    <div class="chinaMap" id="map3"></div>
                </div>
            </div>
            <div class="part2">
                <div class="map4" id="map4"></div>
            </div>
        </div>
        <div class="btns">
            <div class="btns-con">
                <div class="pic " @click="njsj()">
                    <span>年鉴</span>
                    <span>数据</span>
                </div>
                <div class="line"></div>
                <div class="pic" @click="dsjzbsj()">
                    <span>直报</span>
                    <span>数据</span>
                </div>
                <div class="line"></div>
                <div class="pic mark" @click="dsjfz()">
                    <span>大数据</span>
                    <span>分析</span>
                </div>
                <div class="line"></div>
                <div class="pic" @click="goVisual">
                    <span>可视化</span>
                    <span>跟踪</span>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    import global from '../common/common';
    import {EleResize} from '../common/esresize'
    export default {
        data(){
            return{
                placeArr: [],
                lineArr: [],
                colors: {
                    '知识产权': '#FFA329',
                    '股东构成': '#00A9D8',
                    '风险提示': '#5B3FFF',
                    '注册资本': '#AE55F0',
                    '变更信息': '#00A9D8',
                    '分支机构': '#FFA329',
                    '经营范围': '#FFA329',
                    '子知识产权': '#FFA329',
                    '子股东构成': '#00A9D8',
                    '子风险提示': '#5B3FFF',
                    '子注册资本': '#AE55F0',
                    '子变更信息': '#00A9D8',
                    '子分支机构': '#FFA329',
                    '子经营范围': '#FFA329',
                },
                companyType: '1',
                typeMessage: '投资关系',
                listShow: false,
                companyName: '',
                companyList: []
            }
        },
        methods: {
            map1(){
                var data = [
                    {
                        name: '装备制造',
                        value: 33
                    }
                ];
                var titleArr= [], seriesArr=[];
                let colors=[['#f03f58','#395b8c']]
                data.forEach(function(item, index){
                    titleArr.push(
                        {
                            show:false,
                            // text:item.name,
                            left: '5%',
                            top: '5%',
                            textAlign: 'center',
                            textStyle: {
                                fontWeight: 'normal',
                                fontSize: '16',
                                color: colors[index][0],
                                textAlign: 'center',
                            },
                        }
                    );
                    seriesArr.push(
                        {
                            name: item.name,
                            type: 'pie',
                            clockWise: true,
                            radius: [46, 40],
                            itemStyle:  {
                                normal: {
                                    color: colors[index][0],
                                    shadowColor: colors[index][0],
                                    shadowBlur: 0,
                                    label: {
                                        show: false
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                }
                            },
                            hoverAnimation: false,
                            center: ['50%', '50%'],
                            data: [{
                                value: item.value,
                                // label: {
                                //     normal: {
                                //         formatter: function(params){
                                //             return params.value+'%';
                                //         },
                                //         position: 'center',
                                //         show: true,
                                //         textStyle: {
                                //             fontSize: '20',
                                //             fontWeight: 'bold',
                                //             color: colors[index][0]
                                //         }
                                //     }
                                // },
                            }, {
                                value: 100-item.value,
                                name: 'invisible',
                                itemStyle: {
                                    normal: {
                                        color: colors[index][1]
                                    },
                                    emphasis: {
                                        color: colors[index][1]
                                    }
                                }
                            }]
                        }
                    )
                });
                let option = {
                    title:titleArr,
                    series: seriesArr
                }
                var myChart = this.$echarts.init(document.getElementById('map1'));
                let resizeDiv = document.getElementById('map1')
                myChart.setOption(option);
                EleResize.on(resizeDiv, _=>{
                    myChart.resize()
                })
            },
            map2(){
                var data = [
                    {
                        name: '装备制造',
                        value: 7.6
                    }
                ];
                var titleArr= [], seriesArr=[];
                let colors=[['#ffa63d','#466d98']]
                data.forEach(function(item, index){
                    titleArr.push(
                        {
                            show:false,
                            // text:item.name,
                            left: '5%',
                            top: '5%',
                            textAlign: 'center',
                            textStyle: {
                                fontWeight: 'normal',
                                fontSize: '16',
                                color: colors[index][0],
                                textAlign: 'center',
                            },
                        }
                    );
                    seriesArr.push(
                        {
                            name: item.name,
                            type: 'pie',
                            clockWise: true,
                            radius: [46, 40],
                            itemStyle:  {
                                normal: {
                                    color: colors[index][0],
                                    shadowColor: colors[index][0],
                                    shadowBlur: 0,
                                    label: {
                                        show: false
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                }
                            },
                            hoverAnimation: false,
                            center: ['50%', '50%'],
                            data: [{
                                value: item.value,
                                // label: {
                                //     normal: {
                                //         formatter: function(params){
                                //             return params.value+'%';
                                //         },
                                //         position: 'center',
                                //         show: true,
                                //         textStyle: {
                                //             fontSize: '20',
                                //             fontWeight: 'bold',
                                //             color: colors[index][0]
                                //         }
                                //     }
                                // },
                            }, {
                                value: 100-item.value,
                                name: 'invisible',
                                itemStyle: {
                                    normal: {
                                        color: colors[index][1]
                                    },
                                    emphasis: {
                                        color: colors[index][1]
                                    }
                                }
                            }]
                        }
                    )
                });
                let option = {
                    title:titleArr,
                    series: seriesArr
                }
                var myChart = this.$echarts.init(document.getElementById('map2'));
                let resizeDiv = document.getElementById('map2')
                myChart.setOption(option);
                EleResize.on(resizeDiv, _=>{
                    myChart.resize()
                })
            },
            mapInitGraph(data){
                function reData(arr,key){
                    if(arr != null || arr != undefined ){
                        if(arr.length == 0){
                            return []
                        }
                    }else{
                        return []
                    }
                    let nameList = arr.map(item => item[key])
                    let resetName = Array.from(new Set(nameList))
                    return resetName.map(item =>{
                        return {
                            name: item,
                            itemStyle: {
                                normal: {
                                    color: '#FFA329',
                                }
                            }
                        }
                    })
                }
                function linkData(arr,key,target){
                    if(arr != null || arr != undefined ){
                        if(arr.length == 0){
                            return []
                        }
                    }else{
                        return []
                    }
                    let nameList = arr.map(item => item[key])
                    let resetName = Array.from(new Set(nameList))
                    return resetName.map(item =>{
                        return {
                            source: item,
                            target: target
                        }
                    })
                }

                let branchList = reData(data.model.branchInfoList,'branchName')
                let branchLinkList = linkData(data.model.branchInfoList,'branchName','分支机构')

                let changeList = reData(data.model.changeList,'changeItem')
                let changeLinkList = linkData(data.model.changeList,'changeItem','变更信息')

                let patentList = reData(data.model.intellectualModel.patentInfos,'patentName')
                let patentLinkList = linkData(data.model.intellectualModel.patentInfos,'patentName','知识产权')

                let landingList = reData(data.model.intellectualModel.landingInfos,'landingName')
                let landingLinkList = linkData(data.model.intellectualModel.landingInfos,'landingName','知识产权')

                let punishList = reData(data.model.riskModel.punishInfoList,'verdictNumber')
                let punishLinkList = linkData(data.model.riskModel.punishInfoList,'verdictNumber','风险提示')

                let shareholderList = reData(data.model.shareholderList,'shareholderName')
                let shareholderLinkList = linkData(data.model.shareholderList,'shareholderName','股东构成')

                let branchListChild = []
                let branchLinkListChild = []
                let changeListChild = []
                let changeLinkListChild = []
                let patentListChild = []
                let patentLinkListChild = []
                let landingListChild = []
                let landingLinkListChild = []
                let punishListChild = []
                let punishLinkListChild = []
                let shareholderListChild = []
                let shareholderLinkListChild = []
                if(data.modelList.length > 0){
                    branchListChild = reData(data.modelList[0].branchInfoList,'branchName')
                    branchLinkListChild = linkData(data.modelList[0].branchInfoList,'branchName','子分支机构')

                    changeListChild = reData(data.modelList[0].changeList,'changeItem')
                    changeLinkListChild = linkData(data.modelList[0].changeList,'changeItem','子变更信息')

                    patentListChild = reData(data.modelList[0].intellectualModel.patentInfos,'patentName')
                    patentLinkListChild = linkData(data.modelList[0].intellectualModel.patentInfos,'patentName','子知识产权')

                    landingListChild = reData(data.modelList[0].intellectualModel.landingInfos,'landingName')
                    landingLinkListChild = linkData(data.modelList[0].intellectualModel.landingInfos,'landingName','子知识产权')

                    punishListChild = reData(data.modelList[0].riskModel.punishInfoList,'verdictNumber')
                    punishLinkListChild = linkData(data.modelList[0].riskModel.punishInfoList,'verdictNumber','子风险提示')

                    shareholderListChild = reData(data.modelList[0].shareholderList,'shareholderName')
                    shareholderLinkListChild = linkData(data.modelList[0].shareholderList,'shareholderName','子股东构成')
                }
                let arr = []

                if(data.modelList.length > 0){
                    arr = ['知识产权','股东构成','经营范围','风险提示','注册资本','变更信息','分支机构','子知识产权','子股东构成','子经营范围','子风险提示','子注册资本','子变更信息','子分支机构']
                }else{
                    arr = ['知识产权','股东构成','经营范围','风险提示','注册资本','变更信息','分支机构']
                }
                let _this = this
                let label = arr.map((item,index) => {
                    return {
                        name: item,
                        value: index,
                        itemStyle: {
                            normal: {
                                color: _this.colors[item],
                            }
                        }
                    }
                })
                let links = arr.map(item =>{
                    let obj = {}
                    if(item.indexOf('子') != -1){
                        obj = {
                            source: item,
                            target: data.modelList[0].companyName
                        }
                    }else{
                        obj = {
                            source: item,
                            target: data.model.companyName
                        }
                    }
                    return obj
                })
                let option = {
                    tooltip: {
                        show: false,
                    },
                    color:['#83e0ff','#45f5ce','#b158ff'],

                    series: [
                        {
                            type: 'graph',
                            layout: 'force',
                            zoom: 0.3,
                            symbolSize: 50,
                            force:{
                                repulsion:1000,
                                edgeLength:50
                            },
                            roam: true,
                            label: {
                                normal: {
                                    show: true
                                }
                            },
                            data: [
                                ...label,
                                ...branchList,
                                ...changeList,
                                ...patentList,
                                ...landingList,
                                ...punishList,
                                ...shareholderList,
                                ...branchListChild,
                                ...changeListChild,
                                ...patentListChild,
                                ...landingListChild,
                                ...punishListChild,
                                ...shareholderListChild,
                                {
                                    name: data.model.companyName,
                                    value: 99,
                                    itemStyle: {
                                        normal: {
                                            color: '#00C8CE',
                                        }
                                    }
                                },
                                {
                                    name: data.modelList[0].companyName,
                                    value: 101,
                                    itemStyle: {
                                        normal: {
                                            color: '#5B3FFF',
                                        }
                                    }
                                }
                            ],
                            links: [
                                ...links,
                                ...branchLinkList,
                                ...changeLinkList,
                                ...patentLinkList,
                                ...landingLinkList,
                                ...punishLinkList,
                                ...shareholderLinkList,
                                ...branchLinkListChild,
                                ...changeLinkListChild,
                                ...patentLinkListChild,
                                ...landingLinkListChild,
                                ...punishLinkListChild,
                                ...shareholderLinkListChild,
                                {
                                    source: data.modelList[0].companyName,
                                    target: data.model.companyName
                                }
                            ],
                            lineStyle: {
                                normal: {
                                    width: 2,
                                    shadowColor: 'none'
                                }
                            },
                            categories:[
                                {name: '0'},
                                {name: '1'},
                                {name: '2'}
                            ]
                        },
                    ]
                }
                var myChart = _this.$echarts.init(document.getElementById('map4'));
                let resizeDiv = document.getElementById('map4')
                myChart.setOption(option);
                EleResize.on(resizeDiv, _=>{
                    myChart.resize()
                })
            },
            mapInitGraphChild(data){
                function reData(arr,key){
                    if(arr != null || arr != undefined ){
                        if(arr.length == 0){
                            return []
                        }
                    }else{
                        return []
                    }
                    let nameList = arr.map(item => item[key])
                    let resetName = Array.from(new Set(nameList))
                    return resetName.map(item =>{
                        return {
                            name: item,
                            itemStyle: {
                                normal: {
                                    color: '#FFA329',
                                }
                            }
                        }
                    })
                }
                function linkData(arr,key,target){
                    if(arr != null || arr != undefined ){
                        if(arr.length == 0){
                            return []
                        }
                    }else{
                        return []
                    }
                    let nameList = arr.map(item => item[key])
                    let resetName = Array.from(new Set(nameList))
                    return resetName.map(item =>{
                        return {
                            source: item,
                            target: target
                        }
                    })
                }

                let branchList = reData(data.model.branchInfoList,'branchName')
                let branchLinkList = linkData(data.model.branchInfoList,'branchName','分支机构')

                let changeList = reData(data.model.changeList,'changeItem')
                let changeLinkList = linkData(data.model.changeList,'changeItem','变更信息')

                let patentList = reData(data.model.intellectualModel.patentInfos,'patentName')
                let patentLinkList = linkData(data.model.intellectualModel.patentInfos,'patentName','知识产权')

                let landingList = reData(data.model.intellectualModel.landingInfos,'landingName')
                let landingLinkList = linkData(data.model.intellectualModel.landingInfos,'landingName','知识产权')

                let punishList = reData(data.model.riskModel.punishInfoList,'verdictNumber')
                let punishLinkList = linkData(data.model.riskModel.punishInfoList,'verdictNumber','风险提示')

                let shareholderList = reData(data.model.shareholderList,'shareholderName')
                let shareholderLinkList = linkData(data.model.shareholderList,'shareholderName','股东构成')
                let arr = ['知识产权','股东构成','经营范围','风险提示','注册资本','变更信息','分支机构']
                let _this = this
                let label = arr.map((item,index) => {
                    return {
                        name: item,
                        value: index,
                        itemStyle: {
                            normal: {
                                color: _this.colors[item],
                            }
                        }
                    }
                })
                let links = arr.map(item =>{
                    let obj = {}
                    if(item.indexOf('子') != -1){
                        obj = {
                            source: item,
                            target: data.modelList[0].companyName
                        }
                    }else{
                        obj = {
                            source: item,
                            target: data.model.companyName
                        }
                    }
                    return obj
                })
                let option = {
                    tooltip: {
                        show: false,
                    },
                    color:['#83e0ff','#45f5ce','#b158ff'],

                    series: [
                        {
                            type: 'graph',
                            layout: 'force',
                            symbolSize: 50,
                            force:{
                                repulsion:1000,
                                edgeLength:50
                            },
                            roam: true,
                            label: {
                                normal: {
                                    show: true
                                }
                            },
                            data: [
                                ...label,
                                ...branchList,
                                ...changeList,
                                ...patentList,
                                ...landingList,
                                ...punishList,
                                ...shareholderList,
                                {
                                    name: data.model.companyName,
                                    value: 99,
                                    itemStyle: {
                                        normal: {
                                            color: '#00C8CE',
                                        }
                                    }
                                },
                            ],
                            links: [
                                ...links,
                                ...branchLinkList,
                                ...changeLinkList,
                                ...patentLinkList,
                                ...landingLinkList,
                                ...punishLinkList,
                                ...shareholderLinkList,
                            ],
                            lineStyle: {
                                normal: {
                                    width: 2,
                                    shadowColor: 'none'
                                }
                            },
                            categories:[
                                {name: '0'},
                                {name: '1'},
                                {name: '2'}
                            ]
                        },
                    ]
                }
                var myChart = _this.$echarts.init(document.getElementById('map4'));
                let resizeDiv = document.getElementById('map4')
                myChart.setOption(option);
                EleResize.on(resizeDiv, _=>{
                    myChart.resize()
                })
            },
            dsjzbsj(){
                this.$router.push('/projectML/dongtaigenzong/dsjzbsj');
            },
            cydsjfx(){
                this.$router.push('/projectML/dongtaigenzong/cydsjfx');
            },
            getData(){
                this.$post('/bigData/getCompanyMap',{type: 2})
                    .then(data =>{
                        this.placeArr = [data.data.resultData[0]]
                        let arr = this.placeArr.map(item =>{
                            let parArr = {
                                coord: [item.longitude ,item.latitude]
                            }
                            let copyArr = []
                            item.list.forEach(child =>{
                                let obj = {
                                    coord: [child.longitude ,child.latitude],
                                    value: 0,
                                    first: item.companyId,
                                    companyId: child.companyId
                                }
                                copyArr.push([obj,parArr])
                            })
                            return copyArr
                        })
                        this.lineArr = arr[0]

                        this.mapInit(this.placeArr,this.lineArr)
                        this.getCompanyDetail(this.placeArr[0].companyId,this.placeArr[0].list[2].companyId)
                    })
            },
            mapInit(place,line){
                let that = this
                $.ajax({
                    url:global.chinaJson2,
                    type:'get',
                    data:{},
                    dataType:'json',
                    success:(data)=>{
                        that.$echarts.registerMap('test', data);
                        let option = {
                            visualMap: { //图例值控制
                                min: 0,
                                max: 1,
                                calculable: true,
                                show: true,
                                color: ['#f44336', '#fc9700', '#ffde00', '#ffde00', '#00eaff'],
                                textStyle: {
                                    color: '#fff'
                                }
                            },
                            geo: {
                                map: "test",
                                aspectScale: 1.15,
                                roam: !1,
                                right: '30',
                                scaleLimit: {
                                    min: 1,
                                    max: 2
                                },
                                zoom: 4,
                                label: {
                                    normal: {
                                        show: !0,
                                        fontSize: "14",
                                        color: "#fff"
                                    },
                                    emphasis: {
                                        color: 'white',
                                    }
                                },
                                itemStyle: {
                                    normal: {
                                        color: '#000D4B', //地图背景色
                                        borderColor: '#0052C6', //省市边界线00fcff 516a89
                                        borderWidth: 0,
                                        shadowColor: '#02CCF8',
                                        shadowOffsetX: -7,
                                        shadowOffsetY: 0,
                                        shadowBlur: 1,
                                    },
                                    emphasis: {
                                        color: '#003662' //悬浮背景
                                    }
                                }
                            },
                            series: [
                                {
                                    type: 'lines',
                                    zlevel: 2,
                                    effect: {
                                        show: true,
                                        period: 4, //箭头指向速度，值越小速度越快
                                        trailLength: 0.02, //特效尾迹长度[0,1]值越大，尾迹越长重
                                        symbol: 'arrow', //箭头图标
                                        symbolSize: 5, //图标大小
                                    },
                                    lineStyle: {
                                        normal: {
                                            width: 1, //尾迹线条宽度
                                            opacity: 1, //尾迹线条透明度
                                            curveness: .3 //尾迹线条曲直度
                                        }
                                    },
                                    data: line
                                },
                                {
                                    type: 'effectScatter',
                                    coordinateSystem: 'geo',
                                    zlevel: 2,
                                    rippleEffect: { //涟漪特效
                                        period: 4, //动画时间，值越小速度越快
                                        brushType: 'stroke', //波纹绘制方式 stroke, fill
                                        scale: 4 //波纹圆环最大限制，值越大波纹越大
                                    },
                                    label: {
                                        normal: {
                                            show: true,
                                            position: 'right', //显示位置
                                            offset: [5, 0], //偏移设置
                                            formatter: function(params){//圆环显示文字
                                                return params.data.name;
                                            },
                                            fontSize: 13
                                        },
                                        emphasis: {
                                            show: true
                                        }
                                    },
                                    symbol: 'circle',
                                    symbolSize: function(val) {
                                        return 5+ val[2] * 5; //圆环大小
                                    },
                                    itemStyle: {
                                        normal: {
                                            show: false,
                                            color: '#f00'
                                        }
                                    },
                                    data: place[0].list.map(function(item) {
                                        return {
                                            name: item.companyName,
                                            value: [item.longitude, item.latitude,  '0']
                                        };
                                    }),
                                },
                                //被攻击点
                                {
                                    type: 'scatter',
                                    coordinateSystem: 'geo',
                                    zlevel: 2,
                                    rippleEffect: {
                                        period: 4,
                                        brushType: 'stroke',
                                        scale: 4
                                    },
                                    label: {
                                        normal: {
                                            show: true,
                                            position: 'right',
                                            //offset:[5, 0],
                                            color: '#0f0',
                                            formatter: '{b}',
                                            textStyle: {
                                                color: "#0f0"
                                            }
                                        },
                                        emphasis: {
                                            show: true,
                                            color: "#f60"
                                        }
                                    },
                                    symbol: 'pin',
                                    symbolSize: 50,
                                    data: place.map(function(item) {
                                        return {
                                            name: item.companyName,
                                            value: [item.longitude, item.latitude, '1']
                                        };
                                    }),
                                }
                            ]
                        }
                        let myChart = that.$echarts.init(document.getElementById('map3'));
                        let resizeDiv = document.getElementById('map3')
                        myChart.setOption(option);
                        myChart.on('click', {componentType: 'series', seriesType: 'line'} ,function (params) {
                            that.getCompanyDetail(params.data.first,params.data.companyId)
                        });
                        EleResize.on(resizeDiv, _=>{
                            myChart.resize()
                        })
                    }
                })
            },
            getCompanyDetail(first,id){
                this.$post('/bigData/getCompanyMapDetail',{firstCompanyId: first,secondCompanyId: id})
                    .then(data =>{
                        let result = data.data.resultData
                        this.mapInitGraph(result)
                    })
            },
            typeChangeEvent(){
                if(this.companyType == 1){
                    this.typeMessage = '投资关系'
                }else{
                    this.typeMessage = '经营范围'
                }
            },
            searchCompany(){
                if(this.companyName === ''){
                    this.$message.info('请输入公司名称')
                    return
                }
                this.$post('/bigData/getVaguelist',{keyword: '海力生',type: this.companyType})
                    .then(data =>{
                        if(data.data.resultData.length === 0){
                            this.$message.info('暂无数据')
                        }else{
                            this.companyList = data.data.resultData
                            this.listShow = true
                        }
                    })
            },
            showDetail(obj){
                this.listShow = false
                this.$post('/bigData/getCompanyDetail',{companyId: obj.companyId})
                    .then(data =>{
                        let companyDetail = data.data.resultData
                        this.mapInitGraphChild(companyDetail)
                    })
            },
            njsj(){
                this.$router.push('/projectML/dongtaigenzong/cxsfxm');
            },
            dsjfz(){
                this.$router.push('/projectML/dongtaigenzong/hadoop');
            },
            goVisual(){
                this.$router.push('/projectML/dongtaigenzong/visualization');
            }
        },
        mounted() {
            this.map1();
            this.map2();
            this.getData()
        },
        created() {
            // this.getData()
            // this.mapInited();
        }
    }
</script>

<style lang="less" scoped>
    .wrap{
        width:100%;
        padding:30px;
        background:#0a1541;
        position:relative;
        display: flex;
        justify-content: space-between;
        .part1{
            width: 56%;
            height:1000px;
            border:1px solid #203c89;
            border-radius:3px;
            background:url('../../../static/image/small.png') no-repeat;
            .title{
                width:100%;
                height:54px;
                border-bottom:1px solid #203c89;
                background:#172452;
                padding-left:20px;
                display: flex;
                ul{
                    width:340px;
                    height:100%;
                    li{
                        float:left;
                        height:100%;
                        width:136px;
                        color:#fff;
                        text-align:center;
                        line-height:54px;
                        cursor:pointer;
                        &.mark{
                            background:#055b8d;
                        }
                    }
                }
                .right{
                    width:600px;
                    height:100%;
                    .selectqy{
                        float:left;
                        width:106px;
                        height:32px;
                        text-align:center;
                        line-height:32px;
                        border:1px solid #055b8d;
                        background:none;
                        color:#82dff6;
                        margin-top:10px;
                    }
                    .selectall{
                        float:left;
                        margin-left:8px;
                        width:85px;
                        height:32px;
                        line-height:32px;
                        border:1px solid #0679bd;
                        background:none;
                        margin-top:10px;
                        color:#82dff6;
                    }
                    .qygxss{
                        float:left;
                        width:56%;
                        height:32px;
                        line-height:32px;
                        border:1px solid #0779bd;
                        margin-top:10px;
                        margin-left:10px;
                        position:relative;
                        .sousuo{
                            width:100%;
                            height:100%;
                            input{
                                margin-top:-2px;
                                padding:0;
                                width:100%;
                                height:100%;
                                background:none;
                                border:none;
                                color:#72c5e3;
                                outline:none;
                                padding-left:10px;
                                &::-webkit-input-placeholder{
                                    color: #79d0ec;
                                }
                            }
                            i{
                                position:absolute;
                                right:10px;
                                top:6px;
                                font-size:19px;
                                color:#89eaff;
                            }
                        }
                        dl{
                            position:absolute;
                            left:-1px;
                            top:32px;
                            width:332px;
                            // height:200px;
                            background:#062477;
                            padding-left:15px;
                            padding-right:15px;
                            padding-top:13px;
                            border:1px solid #0461a9;
                            z-index: 99;
                            dt{
                                width:100%;
                                height:32px;
                                line-height:32px;
                                border-bottom:1px dashed #dddfe4;
                                color:#dddfe4;
                                font-size:16px;
                                margin-bottom:6px;
                            }
                            dd{
                                padding-left:9px;
                                padding-right:9px;
                                padding-top:22px;
                                padding-bottom:22px;
                                display:flex;
                                .pic{
                                    width:65px;
                                    height:65px;

                                }
                                .desc{
                                    margin-left:16px;
                                    color:#fff;
                                    .span1{
                                        font-size:16px;
                                    }
                                    .span2{
                                        font-size:14px;
                                        i{
                                            font-style:normal;
                                            color:#82dff8;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .con{
                width:100%;
                height:944px;
                background:url('../../../static/image/small.png');
                position:relative;
                .map{
                    position:absolute;
                    left:26px;
                    top:47px;
                    width:141px;
                    height:332px;
                    border-radius:16px;
                    background:url('../../../static/image/hadoop/data_bg2.png') no-repeat;
                    background-size:100% 100%;
                    .first{
                        padding-top:24px;
                        padding-left:10px;
                        padding-right:10px;
                        height:165px;
                        .map1{
                            width:119px;
                            height:96px;
                            margin:0 auto;
                            // background:#ccc;
                        }
                        .map1-title{
                            width:100%;
                            height:50px;
                            color:#bbc4d5;
                            font-size:14px;
                            text-align:center;
                            line-height:50px;
                        }
                        .map1-num{
                            position:absolute;
                            left:54px;
                            top:60px;
                            color:#fff;
                            font-size:14px;
                            span{
                                font-size:22px;
                            }
                        }
                    }
                    .second{
                        padding-top:14px;
                        padding-left:10px;
                        padding-right:10px;
                        height:190px;
                        .map2{
                            width:119px;
                            height:96px;
                            margin:0 auto;
                            // background:#ccc;
                        }
                        .map2-title{
                            width:100%;
                            height:50px;
                            color:#bbc4d5;
                            font-size:14px;
                            text-align:center;
                            line-height:50px;
                        }
                        .map2-num{
                            position:absolute;
                            left:54px;
                            top:214px;
                            color:#fff;
                            font-size:14px;
                            span{
                                font-size:22px;
                            }
                        }
                    }
                }
                .chinaMap{
                    position:absolute;
                    left:182px;
                    top:80px;
                    width:70%;
                    height:800px;
                }
            }
        }
        .part2{
            width:43%;
            height:1000px;
            background:url('../../../static/image/small.png');
            border:1px solid #203c89;
            .map4{
                width:100%;
                height:1000px;
            }
        }
    }
    .btns{
        width:100%;
        display: flex;
        justify-content: center;
        .btns-con{
            width:568px;
            height: 99px;
            margin:0 auto;
            .pic{
                float:left;
                width:105px;
                height:100%;
                background:url('../../../static/image/dysj03.png') no-repeat;
                color:#fff;
                text-align:center;
                display:flex;
                flex-direction:column;
                justify-content:center;
                cursor:pointer;
                &.mark{
                    background:url('../../../static/image/dysj_highLight.png') no-repeat;
                }
            }
            .line{
                float:left;
                width:46px;
                height:93px;
                background:url('../../../static/image/dysj02.png') no-repeat 0 42px;
            }
        }
    }
</style>



















