<template>
    <div class="clear">
    <div class="sider">
            <el-breadcrumb >
            <el-breadcrumb-item >多源数据可视化</el-breadcrumb-item>
            <el-breadcrumb-item>区域海洋经济数据</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="hyjjDataList clear">
            <div class="condition">
                <div class="year">
                    <span class="demonstration">年份：</span>
                    <el-date-picker
                        v-model="startDate"
                        align="right"
                        type="year"
                        placeholder="选择年">
                    </el-date-picker>-
                    <el-date-picker
                        v-model="endDate"
                        align="right"
                        type="year"
                        placeholder="选择年">
                    </el-date-picker>
                </div>
                <div class="area">
                    <span>区域：</span>
                    <el-select v-model="valueArea" placeholder="请选择">
                        <el-option
                        v-for="item in area"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="area">
                    <span>类型：</span>
                    <el-select v-model="valueTypeList" placeholder="请选择">
                        <el-option
                        v-for="item in typeList"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="qushi">
                    <el-button type="danger" round @click="trend">看趋势</el-button>
                </div>
            </div>
            <div class="table" v-show="!isTrend">
                <template>
                    <el-table
                        :data="dataList"
                        style="width: 100%"
                        :row-class-name="tableRowClassName">
                        <el-table-column
                        prop="date"
                        label="年份"
                        width="180">
                        </el-table-column>
                        <el-table-column
                        prop="city"
                        label="城市名称"
                        width="180">
                        </el-table-column>
                        <el-table-column
                        prop="allmoney"
                        label="海洋生产总值（亿元）"
                        width="200">
                        </el-table-column>
                        <el-table-column
                        prop="first"
                        label="第一产业生产总值（亿元）"
                        width="200">
                        </el-table-column>
                        <el-table-column
                        prop="second"
                        label="第二产业生产总值（亿元）"
                        width="200">
                        </el-table-column>
                        <el-table-column
                        prop="third"
                        label="第三产业生产总值（亿元）"
                        width="200">
                        </el-table-column>
                        <el-table-column
                        prop="rate"
                        label="海洋生产总值占沿海地区生产总值比重（%）"
                        width="200">
                        </el-table-column>
                    </el-table>
                </template>
            </div>
            <div class="eCharts" id="eCharts" v-show="isTrend">

            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            startDate:'2013',
            endDate:'2017',
            valueArea:0,
            valueTypeList:0,
            area:[
                {
                    value:0,
                    label:'全部'
                },
                {
                    value:1,
                    label:'江苏'
                },
                {
                    value:2,
                    label:'上海'
                },
                {
                    value:3,
                    label:'浙江'
                },
                {
                    value:4,
                    label:'福建'
                },
                {
                    value:5,
                    label:'宁波'
                },
            ],
            typeList:[
                {
                    value:0,
                    label:'沿海地区海洋生产总值表'
                },
                {
                    value:1,
                    label:'沿海地区海洋生产总值构成表'
                }
            ],
            dataList:[
                {
                    date:'2017',city:'江苏',allmoney:'6606.6',first:'434.5',second:'3290.6',third:'2881.6',rate:'8.5%'
                },
                {
                    date:'2017',city:'上海',allmoney:'7463.4',first:'4.4',second:'2571.1',third:'4887.9',rate:'26.5%'
                },
                {
                    date:'2017',city:'浙江',allmoney:'6597.8',first:'499.3',second:'2292.6',third:'3805.9',rate:'14.0%'
                },
                {
                    date:'2017',city:'福建',allmoney:'7999.7',first:'584.5',second:'2853.1',third:'4562.1',rate:'27.8%'
                },
                {
                    date:'2016',city:'江苏',allmoney:'6101.7',first:'409.5',second:'3071.5',third:'2620.7',rate:'8.7%'
                },
                {
                    date:'2016',city:'上海',allmoney:'6759.7',first:'4.4',second:'2436.2',third:'4319.1',rate:'26.9%'
                },
                {
                    date:'2016',city:'浙江',allmoney:'6016.6',first:'462',second:'2164.2',third:'3390.4',rate:'14.0%'
                },
                {
                    date:'2015',city:'江苏',allmoney:'5590.2',first:'316.2',second:'2894.7',third:'2379.3',rate:'8.6%'
                },
                {
                    date:'2015',city:'上海',allmoney:'6249',first:'4.3',second:'2278.4',third:'3966.2',rate:'26.5%'
                },
                {
                    date:'2015',city:'浙江',allmoney:'5437.7',first:'427.6',second:'2004.5',third:'3005.7',rate:'13.5%'
                },
                {
                    date:'2015',city:'福建',allmoney:'5980.2',first:'480.8',second:'2299.3',third:'3200.2',rate:'24.9%'
                },
                {
                    date:'2013',city:'江苏',allmoney:'4722.9',first:'220.4',second:'2439.2',third:'2063.4',rate:'8.7%'
                },
                {
                    date:'2013',city:'上海',allmoney:'5946.3',first:'4.2',second:'2248.2',third:'3693.9',rate:'29.5%'
                },
                {
                    date:'2013',city:'浙江',allmoney:'4947.5',first:'369.7',second:'2180.4',third:'2397.4',rate:'14.3%'
                },
                {
                    date:'2013',city:'福建',allmoney:'4482.8',first:'416.3',second:'1815.9',third:'2250.7',rate:'22.8%'
                }
            ],
            isTrend:false
        }
    },
    methods:{
        tableRowClassName({row, rowIndex}) {
            if (rowIndex == 1) {
            return 'warning-row';
            } else if (rowIndex == 3) {
            return 'success-row';
            }
            return '';
        },
        trend(){
            // this.$router.push({ path: '/projectML/jixiaoManage/trend', query: { type: '1' }})
            this.isTrend = !this.isTrend;
        },
        map1(){
            let option = {
                title: {
                    text: '上海－经济类沿海地区海洋生产总值表',
                    textStyle:{
                        color:'#545454',
                        fontSize:'18',
                        fontWeight:'normal'
                    },
                    left:'center',
                    top:'20'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data:['第一产业生产总值','第二产业生产总值','第三产业生产总值','海洋生产总值占沿海地区生产总值比重'],
                    right:20,
                    top:60
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    top:'20%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: true,
                    data: ['2013年','2014年','2015年','2016年','2017年'],
                    axisTick: {
                        show:false,
                        alignWithLabel: true
                    },
                    axisLabel:{
                        color:'#333333'
                    },
                    axisLine:{
                        show:false,
                        lineStyle:{
                            color:'#cccccc'
                        }
                    }
                },
                yAxis: [
                    {
                        type: 'value',
                        name: '亿元',
                        min: 0,
                        axisLabel: {
                            formatter: '{value} '
                        },
                        axisLine:{
                            show:false
                        },
                        axisTick:{
                            show:false
                        }
                    },
                    {
                        type: 'value',
                        name: '比重',
                        min: 0,
                        max: 80,
                        axisLabel: {
                            formatter: '{value} '
                        },
                        axisLine:{
                            show:false
                        },
                        axisTick:{
                            show:false
                        }
                    }
                ],
                series: [
                    {
                        name:'第一产业生产总值',
                        type:'line',
                        stack: '总量',
                        data:[4.2,4.3, 4.3, 4.4, 4.4]
                    },
                    {
                        name:'第二产业生产总值',
                        type:'line',
                        stack: '总量',
                        data:[2248.2,2246.4, 2278.4, 2436.2, 2571.1]
                    },
                    {
                        name:'第三产业生产总值',
                        type:'line',
                        stack: '总量',
                        data:[3693.9,3899.6, 3966.2, 4319.1, 4887.9]
                    },
                    {
                        name:'海洋生产总值占沿海地区生产总值比重',
                        type:'line',
                        stack: '比重',
                        yAxisIndex:1,
                        data:[29.5,27.5, 26.5, 26.9, 26.5]
                    }
                ]
            };
            var myChart = this.$echarts.init(document.getElementById('eCharts'));
            myChart.setOption(option);
        }
    },
    mounted() {
        this.map1();
    },
}
</script>
<style scoped lang="less">
    .sider{
            height:40px;
            line-height:40px;
            background-color: #f5f5f5;
            padding-left: 40px;
        }
    .hyjjDataList{
        float:left;
        height:auto;
        padding: 10px 35px;
        width:100%;

    }
    .hyjjDataList .condition{
        height:40px;
        margin-top:10px;
    }
    .hyjjDataList .condition .year{
        float:left;
    }
    /deep/.el-date-editor.el-input, .el-date-editor.el-input__inner{
        /* width:100px; */
    }
    .area{
        float:left;
    }
    .area span{
        float:left;
        height:40px;
        line-height:40px;
        margin-left:15px;
    }
    .search-inner{
        float:left;
        position:relative;
        height:40px;
        width:220px;
        margin-left:20px;
    }
    .search-inner input{
        border:none;
        background:#ffffff;
        width:100%;
        height:40px;
        border-radius:20px;
        padding-left:15px;
        outline:none;
    }
    .search-inner a{
        position:absolute;
        right:0;top:0;
        width:80px;
        height:40px;
        border-radius:20px;
        text-align:center;
        line-height:40px;
        color:#ffffff;
        background:rgb(102, 102, 204);
    }
    .qushi{
        float: right;
    }
    .table{
        margin-top:20px;
    }
    .eCharts{
        width:1520px;
        height:600px;
        margin-top:20px;
        background:#ffffff;
    }
    .el-table .warning-row {
        background:oldlace;
    }

    .el-table .success-row {
        background:#dbf9cb;
    }
    /deep/.table .cell{
        text-align:center;
    }
     /deep/.el-breadcrumb {
        line-height: 40px;
    }
</style>


























