<template>
    <section style="height:100%;overflow-y:auto;">
        <div class="wrap">
            <div class="part1">
                <div class="first">
                    <div class="title">
                        <span>7大类数据库</span>
                    </div>
                    <div class="content">
                        <img class="img1" src="../../../static/image/hadoop/ksh05.png" />
                        <img class="img2" src="../../../static/image/hadoop/ksh04.png" />
                        <p class="p1">
                            <span class="span1">项目库</span>
                            <span class="span2">399</span>
                        </p>
                        <p class="p2">
                            <span class="span1">企业信息库</span>
                            <span class="span2">25534</span>
                        </p>
                        <p class="p3">
                            <span class="span1">企业直报数据库</span>
                            <span class="span2">3590</span>
                        </p>
                        <p class="p4">
                            <span class="span1">企业成果影像资料</span>
                            <span class="span2">365</span>
                        </p>
                        <p class="p5">
                            <span class="span1">区域海洋经济库</span>
                            <span class="span2">6789</span>
                        </p>
                        <p class="p6">
                            <span class="span1">基础地理信息库</span>
                            <span class="span2">189</span>
                        </p>
                        <p class="p7">
                            <span class="span1">企业新闻舆情库</span>
                            <span class="span2">2490</span>
                        </p>
                    </div>
                </div>
                <div class="second">
                    <ul>
                        <li>生产总值情况</li>
                        <li>科技专利情况</li>
                        <li>经费收入情况</li>
                    </ul>
                    <div class="second-wrap">
                        <div class="title">
                            <span>海洋科研机构科技专利情况</span>
                            <select>
                                <option value="2013">2013</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                            </select>
                        </div>
                        <div class="map1" id="map1"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
export default {
    data(){
        return{}
    },
    methods: {
        map1(){
            let option = {
                title: {
                    
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                legend: {
                    data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '邮件营销',
                        type: 'line',
                        stack: '总量',
                        areaStyle: {},
                        data: [120, 132, 101, 134, 90, 230, 210]
                    },
                    {
                        name: '联盟广告',
                        type: 'line',
                        stack: '总量',
                        areaStyle: {},
                        data: [220, 182, 191, 234, 290, 330, 310]
                    },
                    {
                        name: '视频广告',
                        type: 'line',
                        stack: '总量',
                        areaStyle: {},
                        data: [150, 232, 201, 154, 190, 330, 410]
                    },
                    {
                        name: '直接访问',
                        type: 'line',
                        stack: '总量',
                        areaStyle: {},
                        data: [320, 332, 301, 334, 390, 330, 320]
                    },
                    {
                        name: '搜索引擎',
                        type: 'line',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'top'
                            }
                        },
                        areaStyle: {},
                        data: [820, 932, 901, 934, 1290, 1330, 1320]
                    }
                ]
            };
            var myChart = this.$echarts.init(document.getElementById('map1'));
            myChart.setOption(option);
        }
    },
    mounted() {
        this.map1();
    },
}
</script>
<style lang="less" scoped>
    .wrap{
        width:100%;
        height:auto;
        display:flex;
        padding-left:30px;
        padding-right:30px;
        background:#08103a;
        justify-content: space-between;
        padding-top:30px;
        .part1{
            width:502px;
            height:1000px;
            .first{
                width:500px;
                height:384px;
                border:1px solid #203c89;
                border-radius:8px;
                .title{
                    height:53px;
                    background:#001854 url('../../../static/image/hadoop/ksh01.png');
                    span{
                        color:#FFF;
                        line-height:39px;
                        font-size:20px;
                        padding-left:16px;
                    }
                }
                .content{
                    position:relative;
                    width:100%;
                    height:auto;
                    .img1{
                        float:left;
                        width:68px;
                        height:172px;
                        margin-left:42px;
                        margin-top:90px;
                    }
                    .img2{
                        float:left;
                        width:334px;
                        height:282px;
                        margin-top:24px;
                    }
                    p{
                        position:absolute;
                        width:210px;
                        height:30px;
                        line-height:30px;
                        font-size:14px;
                        .span1{
                            color:#fff;
                        }
                        .span2{
                            color:#00ddf8;
                            float:right;
                            width:85px;
                        }
                        &.p1{
                            left:228px;
                            top:25px;
                            
                        }
                        &.p2{
                            left:228px;
                            top:67px;
                        }
                        &.p3{
                            left:228px;
                            top:108px;
                        }
                        &.p4{
                            left:228px;
                            top:192px;
                        }
                        &.p5{
                            left:228px;
                            top:150px;
                        }
                        &.p6{
                            left:228px;
                            top:234px;
                        }
                        &.p7{
                            left:228px;
                            top:276px;
                        }
                    }
                }
            }
            .second{
                margin-top:22px;
                ul{
                    width:502px;
                    height:48px;
                    background:url('../../../static/image/hadoop/ksh06.png');
                    background-size:100% 100%;
                    color:#fff;
                    display:flex;
                    justify-content: space-around;
                    align-items: center;
                    li{
                        color:#f9f9fa;
                        line-height:46px;
                    }
                }
                .second-wrap{
                    margin-top:11px;
                    height:356px;
                    border:1px solid #203c89;
                    border-radius:6px;
                    .title{
                        height:53px;
                        background:#001854 url('../../../static/image/hadoop/ksh08.png') 8px 4px no-repeat;
                        span{
                            color:#FFF;
                            line-height:39px;
                            font-size:20px;
                            padding-left:16px;
                        }
                        select{
                            width:70px;
                            height:22px;
                            border:1px solid #6d99c8;
                            background:#7383a2;
                            float:right;
                            margin-top:5px;
                            margin-right:14px;
                        }
                    }
                    .map1{
                        width:100%;
                        height:302px;
                        background:url('../../../static/image/small.png');
                    }
                }
            }
        }
    }
</style>