<template>
    <div>
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb >
                    <el-breadcrumb-item>多元数据</el-breadcrumb-item>
                    <el-breadcrumb-item>年鉴数据</el-breadcrumb-item>
                </el-breadcrumb>
            </el-breadcrumb>
        </div>
        <div class="con">
            <div class="title clear">
                <ul class="left">
                    <li v-for="item in area" :key="item.index" :class="{'active':id == item.index}" @click="selectArea(item)">{{item.name}}</li>
                </ul>
                <div class="right">
                    <span>选择年份：</span>
                    <span>
                        <el-date-picker
                        v-model="year"
                        type="daterange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期">
                        </el-date-picker>
                    </span>
                    <span>
                        <el-button size="mini" type="primary">搜索</el-button>
                    </span>
                </div>
            </div>
            <div class="table">
                <el-table
                    :data="tableData"
                    style="width: 100%">
                    <el-table-column
                    prop="area"
                    label="区域"
                    width="100">
                    </el-table-column>
                    <el-table-column
                    prop="year"
                    label="年份"
                    width="120">
                    </el-table-column>
                    <el-table-column
                    prop="school"
                    label="学校机构数"
                    width="120">
                    </el-table-column>
                    <el-table-column
                    prop="jzgs"
                    label="教职工数"
                    width="150">
                    </el-table-column>
                    <el-table-column
                    prop="zrjss"
                    label="专任教师数"
                    width="100">
                    </el-table-column>
                    <el-table-column label="专业博士研究生学生数（人）">
                        <el-table-column
                            prop="zyds"
                            label="专业点数"
                            width="100">
                        </el-table-column>
                        <el-table-column
                            prop="byss"
                            label="毕业生"
                            width="100">
                        </el-table-column>
                        <el-table-column
                            prop="zs"
                            label="招生"
                            width="100">
                        </el-table-column>
                        <el-table-column
                            prop="zxs"
                            label="在校生"
                            width="100">
                        </el-table-column>
                        <el-table-column
                            prop="yjbyss"
                            label="预计毕业生数"
                            width="120">
                        </el-table-column>
                    </el-table-column>
                    <el-table-column label="本科学生数（人）">
                        <el-table-column
                        prop="zyds2"
                        label="专业点数"
                        width="100">
                        </el-table-column>
                        <el-table-column
                        prop="byss2"
                        label="毕业生"
                        width="100">
                        </el-table-column>
                        <el-table-column
                        prop="zs2"
                        label="招生"
                        width="100">
                        </el-table-column>
                        <el-table-column
                        prop="zxs2"
                        label="在校生"
                        width="100">
                        </el-table-column>
                        <el-table-column
                        prop="yjbyss2"
                        label="预计毕业生数"
                        width="120">
                        </el-table-column>
                    </el-table-column>

                </el-table>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            id:0,
            area:[
                {
                    index:0,
                    name:'上海'
                },
                {
                    index:1,
                    name:'浙江'
                },
                {
                    index:2,
                    name:'江苏'
                },
                {
                    index:3,
                    name:'福建'
                },
                {
                    index:4,
                    name:'厦门'
                },
            ],
            year:'',
            tableData:[
                {
                    area:'上海',
                    year:'2018年',
                    school:'5',
                    jzgs:'5390',
                    zrjss:'3230',
                    zyds:'7',
                    byss:'24',
                    zs:'25',
                    zxs:'113',
                    yjbyss:'54',
                    zyds2:'1',
                    byss2:'75',
                    zs2:'137',
                    zxs2:'340',
                    yjbyss2:'107',
                },
                {
                    area:'上海',
                    year:'2017年',
                    school:'2',
                    jzgs:'15629',
                    zrjss:'10332',
                    zyds:'4',
                    byss:'6',
                    zs:'1',
                    zxs:'5',
                    yjbyss:'4',
                    zyds2:'2',
                    byss2:'66',
                    zs2:'50',
                    zxs2:'200',
                    yjbyss2:'78',
                },
                {
                    area:'上海',
                    year:'2016年',
                    school:'2',
                    jzgs:'2506',
                    zrjss:'1529',
                    zyds:'5',
                    byss:'41',
                    zs:'46',
                    zxs:'312',
                    yjbyss:'46',
                    zyds2:'4',
                    byss2:'19',
                    zs2:'23',
                    zxs2:'59',
                    yjbyss2:'22',
                },
            ]
        }
    },
    methods: {
        selectArea(item){
            this.id = item.index;
        }
    },
    mounted() {

    },
}
</script>
<style lang="less" scoped>
    .sider{
        height:40px;
        background-color: #fff;
        margin-left:20px;
        padding-left:20px;
        border-bottom: 1px solid #f5f5f5;
        /deep/.el-breadcrumb {
            line-height: 40px;
        }
    }
    .con{
        padding-left:20px;
        .title{
            width:100%;
            height:80px;
            background:#fff;
            padding-left:20px;
            padding-top:20px;
            padding-right:20px;
            .left{
                float:left;
                height:30px;
                li{
                    float:left;
                    width:80px;
                    height:100%;
                    line-height:30px;
                    text-align:center;
                    border:1px solid #cccccc;
                    cursor:pointer;
                    &.active{
                        border:1px solid #409EFF;
                    }
                }
            }
        }
        .table{
            background:#fff;
            padding-left:20px;
            padding-bottom:100px;
        }
    }
    /deep/.el-input__inner{
        height:33px;
    }
    /deep/.el-date-editor .el-range__icon{
        line-height:25px;
    }
    /deep/.el-date-editor .el-range-separator{
        width:7%;
        line-height:25px;
    }
</style>
