<template>
    <div>
        <div class="sider">
             <el-breadcrumb >
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item :to="{ path: '/projectML/xmpjgl' }">项目评价管理</el-breadcrumb-item>
                <el-breadcrumb-item>评估记录</el-breadcrumb-item>
              </el-breadcrumb>
        </div>
            <div class="containt">
            <div class="title">
                <div class="time-title">考评时间：</div>
                <el-date-picker
                v-model="value1"
                type="date"
                placeholder="选择日期">
                </el-date-picker>
                <div class="time-title-middle">至：</div>
                <el-date-picker
                v-model="value1"
                type="date"
                placeholder="选择日期">
                </el-date-picker>
                <div class="time-type">项目阶段：</div>
                <el-select v-model="valueType" placeholder="请选择">
                    <el-option
                    v-for="item in typeList"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
                <div class="btn"><el-button type="primary">查询</el-button></div>
                <div class="dataExport">
                    <!-- <el-dropdown @command="handleCommand">
                        <el-button type="primary">
                            项目评分<i class="el-icon-arrow-down el-icon--right"></i>
                        </el-button>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="a">人工评分</el-dropdown-item>
                            <el-dropdown-item command="b">系统自动打分</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown> -->
                    <!-- <el-button type="primary" @click="handleCommand">系统自动评分</el-button> -->
                </div>

            </div>
            <table class="table" cellspacing="0">
                <thead>
                    <tr>
                        <td rowspan="2" width="60">序号</td>
                        <td rowspan="2" width="120">最新评估时间</td>
                        <td rowspan="2" width="120">项目阶段</td>
                        <td rowspan="2" width="100">排名</td>
                        <td rowspan="2" width="100">项目结论</td>
                        <td width="100">资金情况</td>
                        <td width="100">项目目标完成</td>
                        <td width="100">经济效益</td>
                        <td width="100">创新能力提升</td>
                        <td width="120">生态社会效益</td>
                        <td rowspan="2" width="200">备注</td>
                        <td rowspan="2" width="200">操作</td>
                    </tr>
                    <tr>


                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>1</td>
                        <td>2019-02-22</td>
                        <td>2018年度考核</td>
                        <td>86.91</td>
                        <td>通过</td>
                        <td>80.39</td>
                        <td>82.70</td>
                        <td>81.86</td>
                        <td>82.96</td>
                        <td>80.45</td>
                        <td>投资完成比107.45%，完成技术考核指标，合同约定完成收入19亿元..<span class="el-icon-edit"></span></td>
                        <td>
                            <el-button type="text" @click="goTopgRecord1">数据补缺</el-button>
                            <el-button type="text" @click="goTopgRecord2">评级指标明细</el-button>
                        </td>
                    </tr>
                    <tr >
                        <td>2</td>
                        <td>2019-05-22</td>
                        <td>2019年中期考核</td>
                        <td>86.91</td>
                        <td>通过</td>
                        <td>80.39</td>
                        <td>82.70</td>
                        <td>81.86</td>
                        <td>82.96</td>
                        <td>80.45</td>
                        <td>投资完成比107.45%，完成技术考核指标，合同约定完成收入19亿元..<span class="el-icon-edit"></span></td>
                        <td>
                            <el-button type="text" @click="goTopgRecord1">数据补缺</el-button>
                            <el-button type="text" @click="goTopgRecord2">评级指标明细</el-button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- 编辑 -->
            <el-dialog
            title="考评结果编辑"
            :visible.sync="dialogVisibleEdit"
            width="900px"
            :before-close="handleCloseEdit">
                <div slot="title" class="header-title clear">
                    <span class="title-name">考评结果编辑</span>
                    <span class="title-age">总分：90</span>
                </div>
                <div class="con">
                    <div class="con-tit" style="display:none;">
                        <span class="type">评估类型：</span>
                        <el-select v-model="valueType" placeholder="请选择">
                            <el-option
                            v-for="item in typeList2"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                            </el-option>
                        </el-select>
                        <!-- <span class="ts">A-优秀  B-良好  C-合格  D-较差</span> -->
                        <!-- <el-button type="primary" class="recommit">重新提交评分</el-button> -->
                    </div>
                    <p>上海亨通海洋装备科技有限公司</p>
                    <table class="table" cellspacing="0">
                        <thead>
                            <tr>
                                <td width="120">一级指标</td>
                                <td width="120">权重</td>
                                <td width="150">二级指标</td>
                                <td width="120">权重</td>
                                <td width="150">完成情况</td>
                                <td width="100">评级结果</td>
                                <td width="200">备注</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="3">资金情况</td>
                                <td rowspan="3">0.0555</td>
                                <td>到位资金占比</td>
                                <td>0.0138</td>
                                <td>11.63%</td>
                                <td>80.21</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>国拨资金占比</td>
                                <td>0.0044</td>
                                <td>3.35%</td>
                                <td>82.31</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>资金执行效率</td>
                                <td>0.0288</td>
                                <td>7.61%</td>
                                <td>85.34</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td rowspan="4">项目目标完成情况</td>
                                <td rowspan="4">0.2354</td>
                                <td>研发投入占比</td>
                                <td>0.0085</td>
                                <td>8.33%</td>
                                <td>82.45</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>项目进展及时率</td>
                                <td>0.1342</td>
                                <td>7.64%</td>
                                <td>83.45</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>年度目标立项项目</td>
                                <td>0.0272</td>
                                <td>20</td>
                                <td>86.43</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>年度目标完成率</td>
                                <td>0.0740</td>
                                <td>9.20%</td>
                                <td>89.21</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td rowspan="5">经济效益指标</td>
                                <td rowspan="5">0.1066</td>
                                <td>项目相关产品年产值的年度新增值</td>
                                <td>0.0323</td>
                                <td>5786975.78</td>
                                <td>87.21</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>项目相关产品年销售收入的年度新增值（百分比）</td>
                                <td>0.0169</td>
                                <td>1.095%</td>
                                <td>83.56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>企业缴纳税收的年度新增值（百分比）</td>
                                <td>0.0151</td>
                                <td>1.08%</td>
                                <td>88.66</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>企业劳动生产率</td>
                                <td>0.0287</td>
                                <td>17.99%</td>
                                <td>83.46</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>项目成果带动产业和产品发展情况</td>
                                <td>0.0137</td>
                                <td>2.67%</td>
                                <td>89.32</td>
                                <td></td>
                            </tr>

                            <!-- <tr>
                                <td rowspan="7">专利受理项数</td>
                                <td>项目相关产品年产值的年度新增值（百分比）</td>
                                <td>20</td>
                                <td>86.31</td>
                                <td></td>
                            </tr> -->
                            <tr>
                                <td rowspan="6">专利受理项数</td>
                                <td rowspan="6">0.5588</td>
                                <td>创新成果转化项数</td>
                                <td>0.1039</td>
                                <td>3.20%</td>
                                <td>88.56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>研发及工程中心个数</td>
                                <td>0.0943</td>
                                <td>6.25%</td>
                                <td>83.45</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>研发经费占生产总值比重</td>
                                <td>0.1350</td>
                                <td>3.77%</td>
                                <td>80.42</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>研发人员人均研发经费支出</td>
                                <td>0.0937</td>
                                <td>347857.67</td>
                                <td>81.34</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>研发人员占企业就业人数比重</td>
                                <td>0.0493</td>
                                <td>12.13%</td>
                                <td>89.43</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>中高级职称占研发人员比重</td>
                                <td>0.0507</td>
                                <td>6.63%</td>
                                <td>86.56</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td rowspan="3">生态社会效益</td>
                                <td rowspan="3">0.0436</td>
                                <td>新增就业人数</td>
                                <td>0.0250</td>
                                <td>5人</td>
                                <td>83.26</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>带动社会资金投入</td>
                                <td>0.0047</td>
                                <td>986789.88</td>
                                <td>83.58</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>企业社会贡献率</td>
                                <td>0.0138</td>
                                <td>8.33%</td>
                                <td>84.26</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </el-dialog>

            <!-- 评级指标明细 -->
            <el-dialog
            title=""
            :visible.sync="dialogVisibleDetail"
            width="900px"
            :before-close="handleCloseDetail">
                <div slot="title" class="header-title clear">
                    <span class="title-name">评级指标明细（2019年度考评）</span>
                    <span class="title-age">总分：90</span>
                </div>
                <div class="con">
                    <div class="con-tit" style="display:none;">
                        <span class="type">评估类型：</span>
                        <el-select v-model="value" placeholder="请选择">
                            <el-option
                            v-for="item in typeList2"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                            </el-option>
                        </el-select>
                        <span class="ts">A-优秀  B-良好  C-合格  D-较差</span>
                        <el-button type="primary" class="recommit">重新提交评分</el-button>
                    </div>
                    <p>上海亨通海洋装备科技有限公司</p>
                    <table class="table" cellspacing="0" style="margin-top:10px;">
                        <thead>
                            <tr>
                                <td width="120">一级指标</td>
                                <td width="120">权重</td>
                                <td width="150">二级指标</td>
                                <td width="120">权重</td>
                                <td width="150">完成情况</td>
                                <td width="100">评级结果</td>
                                <td width="200">备注</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="3">资金情况</td>
                                <td rowspan="3">0.0555</td>
                                <td>到位资金占比</td>
                                <td>0.0138</td>
                                <td>11.63%</td>
                                <td>80.21</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>国拨资金占比</td>
                                <td>0.0044</td>
                                <td>3.35%</td>
                                <td>82.31</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>资金执行效率</td>
                                <td>0.0288</td>
                                <td>7.61%</td>
                                <td>85.34</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td rowspan="4">项目目标完成情况</td>
                                <td rowspan="4">0.2354</td>
                                <td>研发投入占比</td>
                                <td>0.0085</td>
                                <td>8.33%</td>
                                <td>82.45</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>项目进展及时率</td>
                                <td>0.1342</td>
                                <td>7.64%</td>
                                <td>83.45</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>年度目标立项项目</td>
                                <td>0.0272</td>
                                <td>20</td>
                                <td>86.43</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>年度目标完成率</td>
                                <td>0.0740</td>
                                <td>9.20%</td>
                                <td>89.21</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td rowspan="5">经济效益指标</td>
                                <td rowspan="5">0.1066</td>
                                <td>项目相关产品年产值的年度新增值</td>
                                <td>0.0323</td>
                                <td>5786975.78</td>
                                <td>87.21</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>项目相关产品年销售收入的年度新增值（百分比）</td>
                                <td>0.0169</td>
                                <td>1.095%</td>
                                <td>83.56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>企业缴纳税收的年度新增值（百分比）</td>
                                <td>0.0151</td>
                                <td>1.08%</td>
                                <td>88.66</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>企业劳动生产率</td>
                                <td>0.0287</td>
                                <td>17.99%</td>
                                <td>83.46</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>项目成果带动产业和产品发展情况</td>
                                <td>0.0137</td>
                                <td>2.67%</td>
                                <td>89.32</td>
                                <td></td>
                            </tr>

                            <!-- <tr>
                                <td rowspan="7">专利受理项数</td>
                                <td>项目相关产品年产值的年度新增值（百分比）</td>
                                <td>20</td>
                                <td>86.31</td>
                                <td></td>
                            </tr> -->
                            <tr>
                                <td rowspan="6">专利受理项数</td>
                                <td rowspan="6">0.5588</td>
                                <td>创新成果转化项数</td>
                                <td>0.1039</td>
                                <td>3.20%</td>
                                <td>88.56</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>研发及工程中心个数</td>
                                <td>0.0943</td>
                                <td>6.25%</td>
                                <td>83.45</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>研发经费占生产总值比重</td>
                                <td>0.1350</td>
                                <td>3.77%</td>
                                <td>80.42</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>研发人员人均研发经费支出</td>
                                <td>0.0937</td>
                                <td>347857.67</td>
                                <td>81.34</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>研发人员占企业就业人数比重</td>
                                <td>0.0493</td>
                                <td>12.13%</td>
                                <td>89.43</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>中高级职称占研发人员比重</td>
                                <td>0.0507</td>
                                <td>6.63%</td>
                                <td>86.56</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td rowspan="3">生态社会效益</td>
                                <td rowspan="3">0.0436</td>
                                <td>新增就业人数</td>
                                <td>0.0250</td>
                                <td>5人</td>
                                <td>83.26</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>带动社会资金投入</td>
                                <td>0.0047</td>
                                <td>986789.88</td>
                                <td>83.58</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>企业社会贡献率</td>
                                <td>0.0138</td>
                                <td>8.33%</td>
                                <td>84.26</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </el-dialog>

            <!-- 人工打分 -->
            <el-dialog
            title="项目评分"
            :visible.sync="dialogVisibleRg"
            width="900px"
            :before-close="handleCloseRg">
                <div slot="title" class="header-title clear">
                    <span class="title-name">项目评分</span>
                    <span class="title-age">总分：90</span>
                </div>
                <div class="con">
                    <div class="con-tit">
                        <span class="type">评估类型：</span>
                        <el-select v-model="value" placeholder="请选择">
                            <el-option
                            v-for="item in typeList2"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                            </el-option>
                        </el-select>
                        <span class="ts">A-优秀  B-良好  C-合格  D-较差</span>
                        <el-button type="warning" class="recommit">仅保存</el-button>
                        <el-button type="primary" class="recommit" style="margin-right:20px;">提交评分</el-button>
                    </div>
                    <ul class="tab" style="margin-top:20px;">
                        <li v-bind:class="{ mark: isActive }" @click="tabfn">编辑评分</li>
                        <li v-bind:class="{ mark: !isActive }" @click="tabfn">查看评分标准</li>
                    </ul>
                    <table v-if="tableIsShow" class="table" cellspacing="0" style="margin-top:0;">
                        <thead>
                            <tr>
                                <td width="120">一级指标</td>
                                <td width="150">二级指标</td>
                                <td width="150">完成情况</td>
                                <td width="100">评级结果</td>
                                <td width="200">备注</td>
                                <td width="150">综合得分</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="4">资金情况</td>
                                <td>到位资金占比</td>
                                <td><input type="text" value="已到位50%"/></td>
                                <td><input type="text" value="A"/></td>
                                <td><textarea>无</textarea></td>
                                <td rowspan="4">15分</td>
                            </tr>
                            <tr>
                                <td>国拨资金占比</td>
                                <td><input type="text" value="20%"/></td>
                                <td><input type="text" value="A"/></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>资金执行效率</td>
                                <td><input type="text" value="90%"/></td>
                                <td><input type="text" value="A"/></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>研发投入占比</td>
                                <td><input type="text" value="50%"/></td>
                                <td><input type="text" value="A"/></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td rowspan="3">项目目标完成情况</td>
                                <td>项目进展及时</td>
                                <td><input type="text" value="80%"/></td>
                                <td><input type="text" value="A"/></td>
                                <td></td>
                                <td rowspan="3">20分</td>
                            </tr>
                            <tr>
                                <td>年度目标立项</td>
                                <td><input type="text" value="20%"/></td>
                                <td><input type="text" value="A"/></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>年度目标完成</td>
                                <td><input type="text" value="90%"/></td>
                                <td><input type="text" value="A"/></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td rowspan="5">经济效益指标</td>
                                <td>项目相关产品年产值的年度新增值（百分比）</td>
                                <td><input type="text" value="80%"/></td>
                                <td><input type="text" value="B"/></td>
                                <td></td>
                                <td rowspan="5">20分</td>
                            </tr>
                            <tr>
                                <td>项目相关产品年销售收入的年度新增值（百分比）</td>
                                <td><input type="text" value="30%"/></td>
                                <td><input type="text" value="A"/></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>企业缴纳税收的年度新增值（百分比）</td>
                                <td><input type="text" value="10%"/></td>
                                <td><input type="text" value="A"/></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>企业劳动生产率</td>
                                <td><input type="text" value="30%"/></td>
                                <td><input type="text" value="C"/></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>项目成果带动产业和产品发展情况</td>
                                <td><input type="text" value="20%"/></td>
                                <td><input type="text" value="A"/></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td rowspan="7">专利受理项数</td>
                                <td>项目相关产品年产值的年度新增值（百分比）</td>
                                <td><input type="text" value="暂无数据"/></td>
                                <td><input type="text" value="A"/></td>
                                <td></td>
                                <td rowspan="7">25分</td>
                            </tr>
                            <tr>
                                <td>创新成果转化项数</td>
                                <td><input type="text" value="暂无数据"/></td>
                                <td><input type="text" value="A"/></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>研发及工程中心个数</td>
                                <td><input type="text" value="暂无数据"/></td>
                                <td><input type="text" value="A"/></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>研发经费占生产总值比重</td>
                                <td><input type="text" value="60%"/></td>
                                <td><input type="text" value="A"/></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>研发人员人均研发经费支出</td>
                                <td><input type="text" value="30%"/></td>
                                <td><input type="text" value="A"/></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>研发人员占企业就业人数比重</td>
                                <td><input type="text" value="50%"/></td>
                                <td><input type="text" value="A"/></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>中高级职称占研发人员人数</td>
                                <td><input type="text" value="10%"/></td>
                                <td><input type="text" value="B"/></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td rowspan="3">生态社会效益</td>
                                <td>新增就业人数</td>
                                <td><input type="text" value="5人"/></td>
                                <td><input type="text" value="A"/></td>
                                <td></td>
                                <td rowspan="3">10分</td>
                            </tr>
                            <tr>
                                <td>带动社会资金投入</td>
                                <td><input type="text" value="暂无数据"/></td>
                                <td><input type="text" value="A"/></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>企业社会贡献率</td>
                                <td><input type="text" value="60%"/></td>
                                <td><input type="text" value="A"/></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table v-if="!tableIsShow" class="table" cellspacing="0" style="margin-top:0;">
                        <thead>
                            <tr>
                                <td width="120">一级指标</td>
                                <td width="150">二级指标</td>
                                <td width="150">完成情况</td>
                                <td width="100">评级结果</td>
                                <td width="200">备注</td>
                                <td width="150">综合得分</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="4">资金情况</td>
                                <td>到位资金占比</td>
                                <td>已到位50%</td>
                                <td>A/B/C/D</td>
                                <td>无</td>
                                <td rowspan="4">15分</td>
                            </tr>
                            <tr>
                                <td>国拨资金占比</td>
                                <td>20%</td>
                                <td>A/B/C/D</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>资金执行效率</td>
                                <td>90%</td>
                                <td>A/B/C/D</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>研发投入占比</td>
                                <td>50%</td>
                                <td>A/B/C/D</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td rowspan="3">项目目标完成情况</td>
                                <td>项目进展及时</td>
                                <td>80%</td>
                                <td>A/B/C/D</td>
                                <td></td>
                                <td rowspan="3">20分</td>
                            </tr>
                            <tr>
                                <td>年度目标立项</td>
                                <td>20%</td>
                                <td>A/B/C/D</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>年度目标完成</td>
                                <td>90%</td>
                                <td>A/B/C/D</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td rowspan="5">经济效益指标</td>
                                <td>项目相关产品年产值的年度新增值（百分比）</td>
                                <td>80%</td>
                                <td>A/B/C/D</td>
                                <td></td>
                                <td rowspan="5">20分</td>
                            </tr>
                            <tr>
                                <td>项目相关产品年销售收入的年度新增值（百分比）</td>
                                <td>30%</td>
                                <td>A/B/C/D</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>企业缴纳税收的年度新增值（百分比）</td>
                                <td>10%</td>
                                <td>A/B/C/D</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>企业劳动生产率</td>
                                <td>30%</td>
                                <td>A/B/C/D</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>项目成果带动产业和产品发展情况</td>
                                <td>20%</td>
                                <td>A/B/C/D</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td rowspan="7">专利受理项数</td>
                                <td>项目相关产品年产值的年度新增值（百分比）</td>
                                <td>暂无数据</td>
                                <td>A/B/C/D</td>
                                <td></td>
                                <td rowspan="7">25分</td>
                            </tr>
                            <tr>
                                <td>创新成果转化项数</td>
                                <td>暂无数据</td>
                                <td>A/B/C/D</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>研发及工程中心个数</td>
                                <td>暂无数据</td>
                                <td>A/B/C/D</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>研发经费占生产总值比重</td>
                                <td>暂无数据</td>
                                <td>A/B/C/D</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>研发人员人均研发经费支出</td>
                                <td>暂无数据</td>
                                <td>A/B/C/D</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>研发人员占企业就业人数比重</td>
                                <td>暂无数据</td>
                                <td>A/B/C/D</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>中高级职称占研发人员人数</td>
                                <td>暂无数据</td>
                                <td>A/B/C/D</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td rowspan="3">生态社会效益</td>
                                <td>新增就业人数</td>
                                <td>暂无数据</td>
                                <td>A/B/C/D</td>
                                <td></td>
                                <td rowspan="3">10分</td>
                            </tr>
                            <tr>
                                <td>带动社会资金投入</td>
                                <td>暂无数据</td>
                                <td>A/B/C/D</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>企业社会贡献率</td>
                                <td>60%</td>
                                <td>A/B/C/D</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </el-dialog>

            <!-- 系统自动打分 -->
            <el-dialog
            title="项目评分"
            :visible.sync="dialogVisibleXt"
            width="900px"
            :before-close="handleCloseXt">
                <!-- <div slot="title" class="header-title clear">
                    <span class="title-name">项目评分</span>
                    <span class="title-age">总分：90</span>
                </div> -->
                <div class="con">
                    <div class="con-tit">
                        <span class="type">评估类型：</span>
                        <el-select v-model="valuetypeList" placeholder="请选择">
                            <el-option
                            v-for="item in typeList2"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                            </el-option>
                        </el-select>
                        <!-- <span class="ts">A-优秀  B-良好  C-合格  D-较差</span> -->
                        <el-button type="warning" class="recommit" @click="tijiao">提交</el-button>
                        <!-- <el-button type="primary" class="recommit" style="margin-right:20px;">评分中...</el-button> -->
                        <!-- <el-button type="danger" class="recommit" style="margin-right:20px;">评分中...</el-button> -->
                    </div>
                    <!-- <ul class="tab" style="margin-top:20px;">
                        <li v-bind:class="{ mark: isActive }" @click="tabfn">编辑评分</li>
                        <li v-bind:class="{ mark: !isActive }" @click="tabfn">查看评分标准</li>
                    </ul> -->
                    <!-- <div
                    v-loading="loading2"
                    element-loading-text="系统正在评分中，请耐心等待"
                    element-loading-spinner="el-icon-loading"
                    element-loading-background="rgba(0, 0, 0, 0.8)"> -->
                        <table v-if="tableIsShow" class="table" cellspacing="0" style="margin-top:20px;">
                            <thead>
                                <tr>
                                    <td width="120">一级指标</td>
                                    <td width="350">二级指标</td>
                                    <td width="250">完成情况</td>
                                    <td width="150">评级结果</td>
                                    <!-- <td width="200">备注</td> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="4">资金情况</td>
                                    <td>到位资金占比</td>
                                    <td>已到位50%</td>
                                    <td><span v-show="fenshu">80.23</span></td>
                                    <!-- <td>无</td> -->
                                </tr>
                                <tr>
                                    <td>国拨资金占比</td>
                                    <td>20%</td>
                                    <td><span v-show="fenshu">80.34</span></td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>资金执行效率</td>
                                    <td>90%</td>
                                    <td><span v-show="fenshu">82.56</span></td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>研发投入占比</td>
                                    <td>50%</td>
                                    <td><span v-show="fenshu">87.67</span></td>
                                    <!-- <td></td> -->
                                </tr>

                                <tr>
                                    <td rowspan="3">项目目标完成情况</td>
                                    <td>项目进展及时</td>
                                    <td>80%</td>
                                    <td><span v-show="fenshu">84.21</span></td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>年度目标立项</td>
                                    <td>20</td>
                                    <td><span v-show="fenshu">81.23</span></td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>年度目标完成</td>
                                    <td>90%</td>
                                    <td><span v-show="fenshu">89.45</span></td>
                                    <!-- <td></td> -->
                                </tr>

                                <tr>
                                    <td rowspan="5">经济效益指标</td>
                                    <td>项目相关产品年产值的年度新增值（百分比）</td>
                                    <td>80%</td>
                                    <td><span v-show="fenshu">82.19</span></td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>项目相关产品年销售收入的年度新增值（百分比）</td>
                                    <td>30%</td>
                                    <td><span v-show="fenshu">80.21</span></td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>企业缴纳税收的年度新增值（百分比）</td>
                                    <td>10%</td>
                                    <td><span v-show="fenshu">80.67</span></td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>企业劳动生产率</td>
                                    <td>30%</td>
                                    <td><span v-show="fenshu">85.32</span></td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>项目成果带动产业和产品发展情况</td>
                                    <td>暂无数据</td>
                                    <td><span v-show="fenshu">80.21</span></td>
                                    <!-- <td></td> -->
                                </tr>

                                <!-- <tr>
                                    <td>项目相关产品年产值的年度新增值（百分比）</td>
                                    <td>暂无数据</td>
                                    <td><span v-show="fenshu">81.23</span></td>
                                </tr> -->
                                <tr>
                                    <td rowspan="6">专利受理项数</td>
                                    <td>创新成果转化项数</td>
                                    <td>20</td>
                                    <td><span v-show="fenshu">81.45</span></td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>研发及工程中心个数</td>
                                    <td>30</td>
                                    <td><span v-show="fenshu">80.78</span></td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>研发经费占生产总值比重</td>
                                    <td>60%</td>
                                    <td><span v-show="fenshu">81.45</span></td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>研发人员人均研发经费支出</td>
                                    <td>38678.5</td>
                                    <td><span v-show="fenshu">80.12</span></td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>研发人员占企业就业人数比重</td>
                                    <td>50%</td>
                                    <td><span v-show="fenshu">82.56</span></td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>中高级职称占研发人员比重</td>
                                    <td>10%</td>
                                    <td><span v-show="fenshu">80.12</span></td>
                                    <!-- <td></td> -->
                                </tr>

                                <tr>
                                    <td rowspan="3">生态社会效益</td>
                                    <td>新增就业人数</td>
                                    <td>38</td>
                                    <td><span v-show="fenshu">80.56</span></td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>带动社会资金投入</td>
                                    <td>98986.88</td>
                                    <td><span v-show="fenshu">80.17</span></td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>企业社会贡献率</td>
                                    <td>60%</td>
                                    <td><span v-show="fenshu">80.34</span></td>
                                    <!-- <td></td> -->
                                </tr>
                            </tbody>
                        </table>
                        <table v-if="!tableIsShow" class="table" cellspacing="0" style="margin-top:0;">
                            <thead>
                                <tr>
                                    <td width="120">一级指标</td>
                                    <td width="150">二级指标</td>
                                    <td width="150">完成情况</td>
                                    <td width="100">评级结果</td>
                                    <td width="200">备注</td>
                                    <td width="150">综合得分</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="4">资金情况</td>
                                    <td>到位资金占比</td>
                                    <td>已到位50%</td>
                                    <td>A/B/C/D</td>
                                    <td>无</td>
                                    <td rowspan="4">15分</td>
                                </tr>
                                <tr>
                                    <td>国拨资金占比</td>
                                    <td>20%</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>资金执行效率</td>
                                    <td>90%</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>研发投入占比</td>
                                    <td>50%</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td rowspan="3">项目目标完成情况</td>
                                    <td>项目进展及时</td>
                                    <td>80%</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                    <td rowspan="3">20分</td>
                                </tr>
                                <tr>
                                    <td>年度目标立项</td>
                                    <td>20%</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>年度目标完成</td>
                                    <td>90%</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td rowspan="5">经济效益指标</td>
                                    <td>项目相关产品年产值的年度新增值（百分比）</td>
                                    <td>80%</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                    <td rowspan="5">20分</td>
                                </tr>
                                <tr>
                                    <td>项目相关产品年销售收入的年度新增值（百分比）</td>
                                    <td>30%</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>企业缴纳税收的年度新增值（百分比）</td>
                                    <td>10%</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>企业劳动生产率</td>
                                    <td>30%</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>项目成果带动产业和产品发展情况</td>
                                    <td>20%</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td rowspan="7">专利受理项数</td>
                                    <td>项目相关产品年产值的年度新增值（百分比）</td>
                                    <td>暂无数据</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                    <td rowspan="7">25分</td>
                                </tr>
                                <tr>
                                    <td>创新成果转化项数</td>
                                    <td>暂无数据</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>研发及工程中心个数</td>
                                    <td>暂无数据</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>研发经费占生产总值比重</td>
                                    <td>暂无数据</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>研发人员人均研发经费支出</td>
                                    <td>暂无数据</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>研发人员占企业就业人数比重</td>
                                    <td>暂无数据</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>中高级职称占研发人员人数</td>
                                    <td>暂无数据</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td rowspan="3">生态社会效益</td>
                                    <td>新增就业人数</td>
                                    <td>暂无数据</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                    <td rowspan="3">10分</td>
                                </tr>
                                <tr>
                                    <td>带动社会资金投入</td>
                                    <td>暂无数据</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>企业社会贡献率</td>
                                    <td>60%</td>
                                    <td>A/B/C/D</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                <!-- </div> -->
            </el-dialog>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            valueType:0,
            loading2: true,
            fenshu:false,
            valuetypeList:0,
            typeList:[
                {
                    label:'全部',
                    value:0
                },
                {
                    label:'年度',
                    value:1
                },
                {
                    label:'季度',
                    value:2
                },
                {
                    label:'月度',
                    value:3
                },
                {
                    label:'中期验收',
                    value:4
                },
                {
                    label:'最终验收',
                    value:5
                },
            ],
            typeList2:[
                {
                    label:'2018年年度考评',
                    value:0,
                },
                {
                    label:'中期考评',
                    value:1,
                },
                {
                    label:'最终验收',
                    value:2,
                }
            ],
            dialogVisibleEdit:false,
            dialogVisibleDetail:false,
            dialogVisibleRg:false,
            dialogVisibleXt:false,
            isActive:true,
            tableIsShow:true,
        }
    },
    methods: {
        goBack(){
            this.$router.go(-1);//返回上一层
        },
        goTopgRecord1(){
            // this.$router.push({ path: '/projectML/pgRecord', query: { type: '1' }})
            this.dialogVisibleEdit = true;
        },
        goTopgRecord2(){
            this.dialogVisibleDetail = true;
        },
        handleCloseEdit(){
            this.dialogVisibleEdit = false;
        },
        handleCloseDetail(){
            this.dialogVisibleDetail = false;
        },
        handleCommand(command){
            if(command == 'a'){
                this.dialogVisibleRg = true;
            }else if(command == 'b'){
                this.dialogVisibleXt = true;
            }
            this.dialogVisibleXt = true;
        },
        handleCloseRg(){
            this.dialogVisibleRg = false;
        },
        handleCloseXt(){
            this.dialogVisibleXt = false;
        },
        tabfn(){
            this.isActive = !this.isActive;
            this.tableIsShow = !this.tableIsShow;
        },
        tijiao(){
            let _this = this;
            this.fenshu = true;
            setTimeout(function(){
                _this.dialogVisibleXt = false;
                _this.tableListIsShow = true;
            },1000);
        }
    },
}
</script>
<style lang="less" scoped>
    .sider{
        height:40px;
        background-color: #f5f5f5;
        padding-left: 30px;
        /deep/.el-breadcrumb {
            line-height: 40px;
        }
    }
    .containt {
        padding: 0 30px;
    }
    .title{
        margin-top:20px;
        .time-title{
            display:inline-block;
            line-height:36px;
        }
        .time-title-middle{
            // float:left;
            display:inline-block;
            line-height:36px;
            margin-left:5px;
        }
        .time-type{
            display:inline-block;
            line-height:36px;
            margin-left:20px;
        }
        .btn{
            display:inline-block;
            margin-left:20px;
        }
        .dataExport{
            float:right;
        }
    }
    .table{
        // border:1px solid #f1f1f1;
        margin-top:30px;
        tr{
            background: #F5F5F7;
            border-bottom: 1px solid #EBEEF5;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:50px;
                border-right:none;
                color:#333;
                font-size:16px;
                font-weight: 500;
                input{
                    width:80%;
                    height:40px;
                    line-height:40px;
                    text-align:center;
                    border:none;
                }
                textarea{
                    border:none;
                    resize:none;
                }
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:14px;
                    color:#606266;
                    border-bottom: 1px solid #EBEEF5;
                }
            }
        }
    }
    .header-title{
        .title-name{
            float:left;
        }
        .title-age{
            float:right;
            margin-right:30px;
        }
    }
    .con{
        height:900px;
        overflow-y:scroll;
        padding-bottom:20px;
        .con-tit{
            .ts{
                margin-left:10px;
            }
            .recommit{
                float:right;
            }
        }
        .tab{
            width:100%;
            height:40px;
            line-height:38px;
            li{
                float:left;
                padding-left:16px;
                padding-right:16px;
                margin-left:1px;
                border:1px solid #f1f1f1;
                cursor:pointer;
                &:nth-child(1){
                    margin-left:0;
                }
                &.mark{
                    background:#a5a5cf;
                    color:#ffffff;
                }
            }
        }
    }
    /deep/.el-dialog__header{
        background:#a5a5cf;
        color:#ffffff;
    }


</style>
