<template>
    <div style="padding-left:30px;padding-right:30px;">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >项目综合管理</el-breadcrumb-item>
                <el-breadcrumb-item>项目评价管理</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="title">
            <div class="area">
                <span>区域：</span>
                <el-select v-model="value" placeholder="请选择">
                    <el-option
                    v-for="item in area"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div class="type">
                <span>项目类型：</span>
                <el-select v-model="value" placeholder="请选择">
                    <el-option
                    v-for="item in area"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div class="status">
                <span>项目状态：</span>
                <el-select v-model="value" placeholder="请选择">
                    <el-option
                    v-for="item in area"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <span class="name-title">项目名称：</span>
            <div class="name"><el-input v-model="input" placeholder="项目名称、单位名称"></el-input></div>
            <div class="btn"><el-button type="primary">查询</el-button></div>
        </div>
        <table class="table" cellspacing="0">
            <thead>
                <tr>
                    <td rowspan="2" width="50">序号</td>
                    <td rowspan="2" width="100">所属区域</td>
                    <td rowspan="2" width="100">项目类型</td>
                    <td rowspan="2" width="200">项目名称</td>
                    <td rowspan="2" width="250">实施单位</td>
                    <td rowspan="2" width="150">最新评价类型</td>
                    <td rowspan="2" width="120">最新评价时间</td>
                    <td rowspan="2" width="120">最新评价得分</td>
                    <td colspan="5" width="600">最新考评加过</td>
                    <!-- <td></td>
                    <td></td>
                    <td></td>
                    <td></td> -->
                    <td rowspan="2" width="160">操作</td>
                </tr>
                <tr>
                    <!-- <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td> -->
                    <td>资金情况</td>
                    <td>项目目标完成</td>
                    <td>经济效益</td>
                    <td>创新能力提升</td>
                    <td>生态社会效益</td>
                    <!-- <td></td> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>厦门</td>
                    <td>十二五</td>
                    <td>新型抗菌药物太私聊添加复合机研发与应用</td>
                    <td>福建省华龙饲料有限公司</td>
                    <td>2018年度评估</td>
                    <td>2019-01-22</td>
                    <td>90</td>
                    <td>B</td>
                    <td>A</td>
                    <td>C</td>
                    <td>A</td>
                    <td>A</td>
                    <td><el-button type="text">项目进度</el-button><el-button type="text">评级记录</el-button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>厦门</td>
                    <td>十二五</td>
                    <td>新型抗菌药物太私聊添加复合机研发与应用</td>
                    <td>福建省华龙饲料有限公司</td>
                    <td>2018年度评估</td>
                    <td>2019-01-22</td>
                    <td>90</td>
                    <td>B</td>
                    <td>A</td>
                    <td>C</td>
                    <td>A</td>
                    <td>A</td>
                    <td><el-button type="text">项目进度</el-button><el-button type="text">评级记录</el-button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>厦门</td>
                    <td>十二五</td>
                    <td>新型抗菌药物太私聊添加复合机研发与应用</td>
                    <td>福建省华龙饲料有限公司</td>
                    <td>2018年度评估</td>
                    <td>2019-01-22</td>
                    <td>90</td>
                    <td>B</td>
                    <td>A</td>
                    <td>C</td>
                    <td>A</td>
                    <td>A</td>
                    <td><el-button type="text">项目进度</el-button><el-button type="text">评级记录</el-button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<style lang="less" scoped>
    .sider{
        padding-left:30px;
        padding-right:30px;
        padding-top:20px;
    }
    .title{
        width:100%;
        height:40px;
        margin-top:20px;
        .area{
            float:left;

        }
        .type{
            float:left;
            margin-left:20px;
        }
        .status{
            float:left;
            margin-left:20px;
        }
        .name-title{
            line-height:36px;
            margin-left:20px;
            float:left;
        }
        .name{
            width:200px;
            float:left;
        }
        .btn{
            float:left;
            margin-left:20px;
        }
    }
    .table{
        // border:1px solid #f1f1f1;
        margin-top:20px;
        tr{
            background:#a5a5cf;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:50px;
                border:1px solid #eeeeee;
                border-right:0;
                border-bottom:0;
                color:#ffffff;
                font-size:16px;
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:14px;
                    color:#606266;
                }
            }
        }
    }
</style>
