<template>
    <div style="padding-left:30px;padding-right:30px;">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >项目综合管理</el-breadcrumb-item>
                <el-breadcrumb-item>项目评价管理</el-breadcrumb-item>
                <el-breadcrumb-item>评价记录</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="title">
            <div class="time-title">考核时间：</div>
            <el-date-picker
            v-model="value1"
            type="date"
            placeholder="选择日期">
            </el-date-picker>
            <div class="time-title-middle">至：</div>
            <el-date-picker
            v-model="value1"
            type="date"
            placeholder="选择日期">
            </el-date-picker>
            <div class="time-type">类型：</div>
            <el-select v-model="value" placeholder="请选择">
                <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                </el-option>
            </el-select>
            <div class="btn"><el-button type="primary">查询</el-button></div>
            <div class="score"><el-button type="warning" @click="dialogVisible = true">项目得分</el-button></div>
        </div>
        <table class="table" cellspacing="0">
            <thead>
                <tr>
                    <td rowspan="2" width="120">序号</td>
                    <td rowspan="2" width="150">考评日期</td>
                    <td rowspan="2" width="100">类型</td>
                    <td rowspan="2" width="150">综合得分</td>
                    <td colspan="5" width="650">考评结果</td>
                    <!-- <td></td>
                    <td></td>
                    <td></td>
                    <td></td> -->
                    <td rowspan="2" width="500">备注</td>
                    <td rowspan="2" width="200">操作</td>
                </tr>
                <tr>
                    <!-- <td></td>
                    <td></td>
                    <td></td>
                    <td></td> -->
                    <td>资金情况</td>
                    <td>项目目标完成</td>
                    <td>经济效益</td>
                    <td>创新能力提升</td>
                    <td>生态社会效益</td>
                    <!-- <td></td>
                    <td></td> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2018-02-22</td>
                    <td>年度考评</td>
                    <td>90</td>
                    <td>A</td>
                    <td>B</td>
                    <td>A</td>
                    <td>A</td>
                    <td>B</td>
                    <td class="editor"><span>投资完成107.45，完成技术考评指标，合同约定完成19亿元,完成技术考评指标，合同约定完成19亿元</span><i class="el-icon-edit-outline"></i></td>
                    <td><el-button type="text">编辑</el-button><el-button type="text" @click="dialogVisible2 = true">评价指标明细</el-button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2018-02-22</td>
                    <td>年度考评</td>
                    <td>90</td>
                    <td>A</td>
                    <td>B</td>
                    <td>A</td>
                    <td>A</td>
                    <td>B</td>
                    <td class="editor"><span>投资完成107.45，完成技术考评指标，合同约定完成19亿元</span><i class="el-icon-edit-outline"></i></td>
                    <td><el-button type="text">编辑</el-button><el-button type="text">评价指标明细</el-button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2018-02-22</td>
                    <td>年度考评</td>
                    <td>90</td>
                    <td>A</td>
                    <td>B</td>
                    <td>A</td>
                    <td>A</td>
                    <td>B</td>
                    <td class="editor"><span>投资完成107.45，完成技术考评指标，合同约定完成19亿元,完成技术考评指标，合同约定完成19亿元</span><i class="el-icon-edit-outline"></i></td>
                    <td><el-button type="text">编辑</el-button><el-button type="text">评价指标明细</el-button></td>
                </tr>
            </tbody>
        </table>
        <!-- 项目评分弹框start -->
        <el-dialog
        title="项目考评"
        :visible.sync="dialogVisible"
        width="50%"
        :before-close="handleClose">
            <div class="dialog-con">
                <div class="dialog-top">
                    <div class="dialog-title">考评类型：</div>
                    <div class="select-year">
                        <el-select v-model="value" placeholder="请选择">
                            <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                            </el-option>
                        </el-select>
                    </div>

                    <div class="dition"><el-input :disabled="true" v-model="input" placeholder="请输入内容"></el-input></div>
                    <div class="save"><el-button type="primary">保存</el-button></div>
                    <div class="score"><el-button type="warning">评分</el-button></div>
                </div>
                <table class="dialog-table" cellspacing="0">
                    <thead>
                        <tr>
                            <td colspan="5" align="right" style="padding-right:10px;">得分：90</td>
                            <!-- <td></td>
                            <td></td>
                            <td></td>
                            <td></td> -->
                        </tr>
                        <tr align="center" style="background:#a5a5cf;color:#ffffff;">
                            <td width="15%">一级指标</td>
                            <td width="40%">二级指标</td>
                            <td width="10%">评级结果</td>
                            <td width="20%">备注</td>
                            <td width="15%">综合得分</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="4">资金情况</td>
                            <td>到位资金占比</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <td rowspan="4">15分</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>到位资金占比</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>国拨资金占比</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>资金执行率</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <!-- <td rowspan="4">15</td> -->
                        </tr>

                        <tr>
                            <td rowspan="3">项目目标完成情况</td>
                            <td>项目进展及时率</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <td rowspan="3">20分</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>年度目标设立款项</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>年度目标完成率</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <!-- <td></td> -->
                        </tr>

                        <tr>
                            <td rowspan="5">经济效益指标</td>
                            <td>项目相关产品年产量的年度新增值（百分比）</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <td rowspan="5">20分</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>项目相关产品年销售收入的年度新增值（百分比）</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>企业缴纳税收的年度新增值（百分比）</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>企业劳动生产率</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>项目成果带动产业和产品发展情况</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <!-- <td></td> -->
                        </tr>

                        <tr>
                            <td rowspan="7">创新能力提升</td>
                            <td>专业受理项数</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <td rowspan="7">25分</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>创新成果转化项数</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>研发及工程中心个数</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>研发人员经费占生产总值比重</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>科研人员人均研发经费支出</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>研发人员占企业就业人数比重</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>中高级职称占研发人员人数</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <!-- <td></td> -->
                        </tr>

                        <tr>
                            <td rowspan="3">生态社会效益</td>
                            <td>新增就业人数</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <td rowspan="3">10分</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>带动社会资金投入</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>企业社会贡献率</td>
                            <td><input type="text"/></td>
                            <td><textarea></textarea></td>
                            <!-- <td></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
            </span> -->
        </el-dialog>
        <!-- 项目评分弹框end -->
        <!-- 评价指标明细弹框start -->
        <el-dialog
        title="项目考评"
        :visible.sync="dialogVisible2"
        width="50%"
        :before-close="handleClose2">
            <div class="dialog-con dialog-con2">
                <table class="dialog-table" cellspacing="0">
                    <thead>
                        <tr style="background:#a5a5cf;">
                            <td colspan="4" align="left" style="padding-left:10px;color:#ffffff;">总分：90</td>
                            <!-- <td></td>
                            <td></td>
                            <td></td> -->
                            <td align="right" style="padding-right:50px;color:#ffffff;">总分：90</td>
                        </tr>
                        <tr align="center" style="background:#a5a5cf;color:#ffffff;">
                            <td width="15%">一级指标</td>
                            <td width="40%">二级指标</td>
                            <td width="10%">评级结果</td>
                            <td width="20%">备注</td>
                            <td width="15%">综合得分</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="4">资金情况</td>
                            <td>到位资金占比</td>
                            <td></td>
                            <td></td>
                            <td rowspan="4">15分</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>到位资金占比</td>
                            <td></td>
                            <td></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>国拨资金占比</td>
                            <td></td>
                            <td></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>资金执行率</td>
                            <td></td>
                            <td></td>
                            <!-- <td rowspan="4">15</td> -->
                        </tr>

                        <tr>
                            <td rowspan="3">项目目标完成情况</td>
                            <td>项目进展及时率</td>
                            <td></td>
                            <td></td>
                            <td rowspan="3">20分</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>年度目标设立款项</td>
                            <td></td>
                            <td></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>年度目标完成率</td>
                            <td></td>
                            <td></td>
                            <!-- <td></td> -->
                        </tr>

                        <tr>
                            <td rowspan="5">经济效益指标</td>
                            <td>项目相关产品年产量的年度新增值（百分比）</td>
                            <td></td>
                            <td></td>
                            <td rowspan="5">20分</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>项目相关产品年销售收入的年度新增值（百分比）</td>
                            <td></td>
                            <td></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>企业缴纳税收的年度新增值（百分比）</td>
                            <td></td>
                            <td></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>企业劳动生产率</td>
                            <td></td>
                            <td></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>项目成果带动产业和产品发展情况</td>
                            <td></td>
                            <td></td>
                            <!-- <td></td> -->
                        </tr>

                        <tr>
                            <td rowspan="7">创新能力提升</td>
                            <td>专业受理项数</td>
                            <td></td>
                            <td></td>
                            <td rowspan="7">25分</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>创新成果转化项数</td>
                            <td></td>
                            <td></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>研发及工程中心个数</td>
                            <td></td>
                            <td></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>研发人员经费占生产总值比重</td>
                            <td></td>
                            <td></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>科研人员人均研发经费支出</td>
                            <td></td>
                            <td></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>研发人员占企业就业人数比重</td>
                            <td></td>
                            <td></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>中高级职称占研发人员人数</td>
                            <td></td>
                            <td></td>
                            <!-- <td></td> -->
                        </tr>

                        <tr>
                            <td rowspan="3">生态社会效益</td>
                            <td>新增就业人数</td>
                            <td></td>
                            <td></td>
                            <td rowspan="3">10分</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>带动社会资金投入</td>
                            <td></td>
                            <td></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>企业社会贡献率</td>
                            <td></td>
                            <td></td>
                            <!-- <td></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </el-dialog>
    </div>
</template>
<script>
export default {
    data(){
        return{
            dialogVisible:false,
            dialogVisible2:false,
        }
    },
    methods:{
        handleClose(){
            this.dialogVisible = false;
        },
        handleClose2(){
            this.dialogVisible2 = false;
        }
    }
}
</script>
<style lang="less" scoped>
    .sider{
        padding-top:20px;
    }
    .title{
        margin-top:20px;
        .time-title{
            float:left;
            line-height:36px;
        }
        .time-title-middle{
            // float:left;
            display:inline-block;
            line-height:36px;
            margin-left:5px;
        }
        .time-type{
            display:inline-block;
            line-height:36px;
            margin-left:20px;
        }
        .btn{
            display:inline-block;
            margin-left:20px;
        }
        .score{
            float:right;
            // width:120px;
            height:36px;
            line-height:36px;
        }
    }
    .table{
        // border:1px solid #f1f1f1;
        margin-top:20px;
        tr{
            background:#a5a5cf;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:50px;
                border:1px solid #eeeeee;
                border-right:0;
                border-bottom:0;
                color:#ffffff;
                font-size:16px;
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:14px;
                    color:#606266;
                }
                .editor{
                    span{
                        display:inline-block;;
                        width:80%;;
                    }
                    i{
                        color:#409EFF;
                        font-size:18px;
                        margin-left:10px;
                    }
                }
            }
        }
    }
    .dialog-con{
        .dialog-top{
            .dialog-title{
                display:inline-block;
                // line-height:30px;

            }
            .select-year{
                display:inline-block;
                width:150px;
            }
            .dition{
                display:inline-block;
                width:200px;
                margin-left:10px;
            }
            .score{
                display:inline-block;
                margin-left:10px;
                float:right;
            }
            .save{
                display:inline-block;
                margin-left:10px;
                float:right;
            }
        }
        .dialog-table{
            width:100%;
            margin-top:20px;
            border:1px solid #cccccc;
            border-top:none;
            border-left:none;
            thead{
                tr{
                    td{
                        // text-align:center;
                        border:1px solid #cccccc;
                        border-bottom:none;
                        border-right:none;
                        line-height:30px;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        text-align:center;
                        border:1px solid #cccccc;
                        border-bottom:none;
                        border-right:none;
                        line-height:30px;
                        input{
                            width:80%;
                            text-align:center;
                            border:none;;
                        }
                        textarea{
                            border:none;;
                            width:80%;
                            margin-top:5px;
                            resize:none;
                            outline:none;
                            color:#606266;
                        }
                    }

                }
            }
        }
    }
    .dialog-con2{
        .dialog-table{
            margin-top:0;
        }
        // /deep/.el-dialog__body{
        //     padding-top:0;
        // }
    }
    // /deep/.el-input__inner{
    //     height:30px;
    //     line-height:30px;
    // }
    /deep/.el-dialog__body{
        padding:10px 20px 30px;
    }
</style>
