<template>
    <div>
        <div class="header clear">
            <div class="nav">
                <div class="logo">长三角及辐射区域沿海海洋经济产业链共享平台</div>
                <ul class="menu">
                    <li class="level1">
                        <div class="menu-1" style="width:210px;">多元数据可视化</div>
                        <ul>
                            <li class="level2"><div class="menu-1-1">动态可视化跟踪</div></li>
                            <li class="level2"><div class="menu-1-2">创新示范项目名录</div></li>
                            <li class="level2"><div class="menu-1-3">创新示范企业名录</div></li>
                            <li class="level2"><div class="menu-1-4">区域海洋经济数据</div></li>
                        </ul>
                    </li>
                    <li class="level1">
                        <div class="menu-1" style="width:210px;">项目综合管理</div>
                        <ul>
                            <li class="level2"><div class="menu-2-1">项目进度管理</div></li>
                            <li class="level2"><div class="menu-2-2">项目成果管理</div></li>
                            <li class="level2"><div class="menu-2-3">项目评价管理</div></li>
                            <li class="level2"><div class="menu-2-4">区域整体评价管理</div></li>
                        </ul>
                    </li>
                    <li class="level1">
                        <div class="menu-1">项目评估模型</div>
                        <ul>
                            <li class="level2"><div class="menu-3-1">区域发展与创新能力评估</div></li>
                            <li class="level2"><div class="menu-3-2">重点产业发展与创新能力评估</div></li>
                        </ul>
                    </li>
                    <li class="level1"><div class="menu-1" style="width:200px;">创新成果交易</div></li>
                    <li class="level1"><div class="menu-1" style="width:200px;">数据管理</div></li>
                </ul>
                <div class="username">
                    <span>上海</span><span>企业中心</span><span>admin</span> | <span><a href="javascript:;" @click="quit()">退出</a></span>
                </div>
            </div>
            <!-- 搜索 -->
            <!-- <div class="search"><input type="text" placeholder="请输入关键字查询"/><a href="javascript:;">搜索</a></div> -->
        </div>
    </div>
</template>
<script>
// $(function(){
//     $('.level1').on('mouseover',function(){
//         var index = $(this).index();
//         var _length = $(this).find('ul li').length;
//         console.log(_length);
//         $(this).find('.menu-1').siblings('ul').stop().animate({'height':_length*40+'px'},'swing');
//     });
//     $('.level1').on('mouseout',function(){
//         let index = $(this).index();
//         $('.level1').eq(index).find('.menu-1').siblings('ul').stop().animate({'height':'0'},'swing');
//     });
//     $('.level2').on('click',function(){
//         $(this).closest('ul').siblings('.menu-1').empty().text($(this).text());
//         $(this).closest('ul').stop().animate({'height':'0'},'swing');
//     });
//     // console.log(sessionStorage.getItem('username'));
// })
export default {
    data(){
        return{

        }
    },
    methods: {
        linkTo(){
            this.$router.push({ path: '/projectML/dongtaigenzong'});
        }
    },
    mounted() {
        let _this = this;
        setTimeout(function(){
            _this.linkTo();
        },3000);
    },
}

</script>
<style scoped lang="less">
.header{
    width:100%;
    height:60px;
    .nav{
        position:relative;
        height:60px;
        left:0;
        top:0;
        .logo{
            float:left;
            height:60px;
            color:#000000;
            line-height:60px;
            background:#ffffff;
            padding-left:20px;
            padding-right:30px;
            font-size:24px;
            font-weight:bold;
        }
        .menu{
            float:left;
            height:60px;
            cursor:pointer;
            .level1{
                float:left;
                line-height:60px;
                font-size:18px;
                color:#333333;
                text-align:center;
                position:relative;
                .menu-1{
                    width:244px;
                    padding-left:5px;
                    padding-right:5px;
                    height:100%;
                    border-radius:2px;
                    &:hover{
                        background:#6666cc;
                        color:#ffffff;
                        transition:background .5s;
                    }
                }
                ul{
                    width:242px;
                    height:0;
                    overflow:hidden;
                    background:#ffffff;
                    box-shadow: 0 0 6px 0 #cccccc;
                    // padding:10px 0;
                    position:absolute;
                    top:60px;
                    left:0;
                    .level2{
                        height:40px;
                        color:#333333;
                        line-height:40px;
                        font-size:16px;
                        &:hover{
                            background:#6666cc;
                            color:#ffffff;
                            transition:background .5s;
                        }
                    }
                }

            }
        }
        .username{
            float:right;
            height:60px;
            color:#333333;
            line-height:60px;
            a{
                color:#333333;
            }
            span{
                padding-left:10px;
            }
        }
    }
}
/* .header .nav{float:left;} */
.header .username{position:absolute;right:30px;top:0;height:72px;line-height:72px;color:#ffffff;}
.header .username a{color:#ffffff;}
.el-icon-arrow-down:before{color:#ffffff;}

.search{position:absolute;right:30px;top:90px;width:250px;height:28px;border-radius:25px;}
.search input{float:left;height:100%;width:100%;border:none;background:#ffffff;box-shadow:0 0 2px 0 #cccccc;outline:none;border-radius:14px;padding-left:15px;}
.search a{position:absolute;right:0;top:-1px;width:60px;height:30px;line-height:28px;border-radius:14px;background:#6666cc;text-align:center;color:#ffffff;font-size:14px;}

.content{width:100%;min-height:600px;background:#f6f7f9;}
/deep/.el-menu.el-menu--horizontal{
    height:73px;
}
/deep/.el-menu--horizontal>.el-submenu .el-submenu__title{
    height:60px;
    line-height:60px;
}
/deep/.el-submenu__title{
    font-size:20px;
}
/deep/.el-menu-item{
    font-size:20px;
}
/deep/.el-menu--horizontal>.el-menu-item{
    height:60px;
    line-height:60px;
}
/deep/.el-menu.el-menu--horizontal{
    border-bottom:none;
}
</style>
