<template>
    <div class="clear">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >多源数据可视化</el-breadcrumb-item>
                <el-breadcrumb-item>创新示范企业名录</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="introduction">
            <span style="display:none;">{{shisaner}}</span>
            <div class="intro-detail" v-if="shisaner == 1?true:false">
                <ul class="intro-detail-type">
                    <li :class="{'active':item.id == i}" v-for="(item) in introDetailType" :key="item.id" @click="changeTab(item.id)"><a href="javascript:;">{{item.name}}</a></li>
                </ul>
                <div class='div1' v-show="indexChange.one1">
                    <ul class="clear">
                        <li><p class="p1">公司名称</p><p class="p2">上海亨通海洋装备有限公司</p></li>
                        <li><p class="p1 marginLeft">法定代表人</p><p class="p2">孙贵林</p></li>
                        <li><p class="p1">曾用名</p><p class="p2">无</p></li>
                        <li><p class="p1 marginLeft">电话</p><p class="p2">021-20956203</p></li>
                        <li><p class="p1">邮箱</p><p class="p2">hyzb@htgd.com.cn</p></li>
                        <li><p class="p1 marginLeft">网址</p><p class="p2">无</p></li>
                    </ul>
                    <div class="hx-item1 clear">
                        <p class="p1">地址</p>
                        <p class="p2">浦东新区南汇新城镇环湖西二路888号C楼</p>
                    </div>
                    <div class="hx-item1 clear">
                        <p class="p1">简介</p>
                        <p class="p2">无</p>
                    </div>
                </div>
                <div class="div2" v-show="indexChange.one2">
                    <ul class="clear">
                        <li><p class="p1">注册资本</p><p class="p2">10060万元人民币</p></li>
                        <li><p class="p1 marginLeft">成立日期</p><p class="p2">2017-05-11</p></li>
                        <li><p class="p1">实缴资本</p><p class="p2">无</p></li>
                        <li><p class="p1 marginLeft">经营状态</p><p class="p2">存续（在营、开业、在册）</p></li>
                        <li><p class="p1">统一社会信用代码</p><p class="p2">91310115MA1H8Y2C1F</p></li>
                        <li><p class="p1 marginLeft">工商注册号</p><p class="p2">310115003383280</p></li>
                        <li><p class="p1">纳税人识别号</p><p class="p2">91310115MA1H8Y2C1F</p></li>
                        <li><p class="p1 marginLeft">组织机构代码</p><p class="p2">MA1H8Y2C-1</p></li>
                        <li><p class="p1">公司类型</p><p class="p2">其他有限责任公司</p></li>
                        <li><p class="p1 marginLeft">行业</p><p class="p2">科学研究和技术服务业</p></li>
                        <li><p class="p1">核准日期</p><p class="p2">2017-05-11</p></li>
                        <li><p class="p1 marginLeft">登记机关</p><p class="p2">浦东新区市场监管局</p></li>
                        <li><p class="p1">营业期限</p><p class="p2">2017-05-11 至 2047-05-10</p></li>
                        <li><p class="p1 marginLeft">纳税人资质</p><p class="p2">无</p></li>
                        <li><p class="p1">人员规模／参保人数</p><p class="p2">84(参保人数)</p></li>
                        <li><p class="p1 marginLeft">曾用名</p><p class="p2">无</p></li>
                        <li><p class="p1">英文名称</p><p class="p2">无</p></li>
                        <li><p class="p1 marginLeft">注册地址</p><p class="p2">浦东新区南汇新城镇环湖西二路888号C楼</p></li>
                    </ul>
                    <div class="hx-item1 clear">
                        <p class="p1">经营范围</p>
                        <p class="p2">从事海洋装备、海洋科技、海洋油气系统、信息科技领域内的技术开发、技术咨询、技术服务、技术转让,海洋观测服务,计算机系统集成,网络科技,数据处理服务,海洋专业建设工程设计,通信建设工程施工,水文地质勘查,机电设备及配件、仪器仪表、电子产品、电子元器件、电信电缆的销售,从事货物及技术的进出口业务,从事接驳盒的组装、控制柜系统与传感仪器组装业务(限分支机构经营)。【依法须经批准的项目,经相关部门批准后方可开展经营活动】</p>
                    </div>
                </div>
                <div class="div3" v-show="indexChange.one3">
                    <div class="hx-item2 clear" style="margin-top:0;">
                        <p class="p1 title">姓名</p>
                        <p class="p2">职位</p>
                    </div>
                    <div class="hx-item2 clear">
                        <p class="p1">许人东</p>
                        <p class="p2">董事长</p>
                    </div>
                    <div class="hx-item2 clear">
                        <p class="p1">孙贵林</p>
                        <p class="p2">总经理</p>
                    </div>
                    <div class="hx-item2 clear">
                        <p class="p1">吕枫</p>
                        <p class="p2">董事</p>
                    </div>
                    <div class="hx-item2 clear">
                        <p class="p1">卞庆珍</p>
                        <p class="p2">董事</p>
                    </div>
                    <div class="hx-item2 clear">
                        <p class="p1">李自为</p>
                        <p class="p2">董事</p>
                    </div>
                    <div class="hx-item2 clear">
                        <p class="p1">钱建林</p>
                        <p class="p2">董事</p>
                    </div>
                    <div class="hx-item2 clear">
                        <p class="p1">王楠</p>
                        <p class="p2">董事</p>
                    </div>
                    <div class="hx-item2 clear">
                        <p class="p1">江桦</p>
                        <p class="p2">董事</p>
                    </div>
                </div>
                <div class="div4" v-show="indexChange.one4">
                    <div class="title">
                        <p class="p1">股东（发起人）</p>
                        <p class="p2" style="width:600px;">持股比例</p>
                        <p class="p3">认缴出资额</p>
                    </div>
                    <div class="hx-item2 clear">
                        <p class="p1">江苏亨通光电股份有限公司</p>
                        <p class="p2">70.00%</p>
                        <p class="p3">70.00 7042万元</p>
                    </div>
                    <div class="hx-item2 clear" >
                        <p class="p1">同济大学</p>
                        <p class="p2">30.00%</p>
                        <p class="p3">30.00 3018万元</p>
                    </div>
                </div>
                <div class="div5" v-show="indexChange.one5">
                    <div class="title">
                        <p class="p1">被投资企业名称</p>
                        <p class="p2">法定代表人</p>
                        <p class="p3">成立日期</p>
                        <p class="p4">投资数额</p>
                        <p class="p5">投资比例</p>
                        <p class="p6">经营状态</p>
                        <p class="p7">关联产品</p>
                        <p class="p8">关联机构</p>
                    </div>
                    <div class="hx-item3">
                        <p class="p1">亨通（舟山）海洋科技有限公司</p>
                        <p class="p2">孙桂林</p>
                        <p class="p3">2019-03-11</p>
                        <p class="p4">1000万元人民币</p>
                        <p class="p5">100%</p>
                        <p class="p6">存续</p>
                        <p class="p7">-</p>
                        <p class="p8">-</p>
                    </div>
                </div>
                <div class="div6" v-show="indexChange.one6">
                    <table class="table" cellspacing="0" >
                        <thead>
                            <tr>
                                <td width="150">序号</td>
                                <td width="250">变更日期</td>
                                <td width="360">变更项目</td>
                                <td width="360">变更前</td>
                                <td width="360">变更后</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2019-07-08</td>
                                <td>法定代表人变更</td>
                                <td>许人东</td>
                                <td>孙贵林*</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2019-07-08</td>
                                <td>董事备案</td>
                                <td>李自为、卞庆珍、钱建林、许人东、吕枫</td>
                                <td>孙贵林*</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>2019-07-08</td>
                                <td>投资人(股权)变更</td>
                                <td>江苏亨通光电股份有限公司;
                                    季福武;【退出】
                                    吴正伟;【退出】
                                    吕枫;【退出】
                                    上海亨通通信设备有限公司;【退出】
                                    同济创新创业控股有限公司;【退出】</td>
                                <td>孙贵林*</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>2019-07-08</td>
                                <td>投资人(股权)变更</td>
                                <td>无</td>
                                <td>2018-05-03章程备案</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>2019-07-08</td>
                                <td>经营范围变更</td>
                                <td>从事海洋装备、海洋科技、海洋油气系统、信息科技领
                                    域内的技术开发、技术咨询、技术服务、技术转让,海洋观测服务,计算机系统集
                                    成,网络科技,数据处理服务,海洋专业建设工程设计,通信建设工程施工,水文地质勘查,机电设
                                    备及配件、仪器仪表、电子产品、电子元器件、电线电缆的销售,从事货物及技术的进出口业务。
                                    【依法须经批准的项目,经相关部门批准后方可开展经营活动】</td>
                                <td>从事海洋装备、海洋科技、海洋油气系统、信息科技领域内的技术开发、技术咨询、技术服务、技术
                                    转让,海洋观测服务,计算机系统集成,网络科技,数据处理服务,海洋专业建设工程设计,通信建设工程施工,水文
                                    地质勘查,机电设备及配件、仪器仪表、电子产品、电子元器件、
                                    电线电缆的销售,从事货物及技术的进出口业务。 【依法须经批准的项目,经相关部门批准后方可开展经营活动】</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div style="text-align:center;line-height:600px;font-size:22px;color:#9797ea;">精彩稍后~</div> -->
                </div>
                <div class="div7" v-show="indexChange.one7">
                    <div style="text-align:center;line-height:600px;font-size:22px;color:#9797ea;">精彩稍后~</div>
                </div>
                <div class="div8" v-show="indexChange.one8">
                    <table class="table" cellspacing="0" >
                        <thead>
                            <tr>
                                <td width="150">序号</td>
                                <td width="250">专利类型</td>
                                <td width="360">公开（公告）号</td>
                                <td width="360">公开（公告）日期</td>
                                <td width="360">名称</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>实用新型</td>
                                <td>CN209461210U</td>
                                <td>2019-10-01</td>
                                <td>一种轻型裸铠电缆</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>发明公布</td>
                                <td>CN110254672A</td>
                                <td>2019-09-20</td>
                                <td>水下立体观测系统用拼装式海床基</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>发明公布</td>
                                <td>CN110233475A</td>
                                <td>2019-09-13</td>
                                <td>自供电海洋观测浮标的电能分配系统</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>发明公布</td>
                                <td>CN110212992A</td>
                                <td>2019-09-06</td>
                                <td>基于光纤通信的水下数据传输系统</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>发明公布</td>
                                <td>CN110138864A</td>
                                <td>2019-08-16</td>
                                <td>一种海底观测网通信系统</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>实用新型</td>
                                <td>CN209231318U</td>
                                <td>2019-08-09</td>
                                <td>一种原位水质监测系统</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>发明公布</td>
                                <td>CN110045475A</td>
                                <td>2019-07-23</td>
                                <td>一种柔性光缆</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>发明公布</td>
                                <td>CN110030254A</td>
                                <td>2019-07-19</td>
                                <td>水下立体观测系统用万向节</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div style="text-align:center;line-height:600px;font-size:22px;color:#9797ea;">精彩稍后~</div> -->
                </div>
            </div>
            <div class="intro-detail" v-if="shisaner == 2?true:false">
                <ul class="intro-detail-type">
                    <li :class="{'active':item.id == i}" v-for="(item) in introDetailType" :key="item.id" @click="changeTab(item.id)"><a href="javascript:;">{{item.name}}</a></li>
                    <!-- <span class="back" @click="back">返回上一页</span> -->
                </ul>
                <div class='div1' v-show="indexChange.one1">
                    <ul class="clear">
                        <li><p class="p1">公司名称</p><p class="p2">江苏省科建成套设备有限公司</p></li>
                        <li><p class="p1 marginLeft">法定代表人</p><p class="p2">陈佑勇</p></li>
                        <li><p class="p1">曾用名</p><p class="p2">-</p></li>
                        <li><p class="p1 marginLeft">电话</p><p class="p2">13961377083</p></li>
                        <li><p class="p1">邮箱</p><p class="p2">jskjct@126.com</p></li>
                        <li><p class="p1 marginLeft">网址</p><p class="p2">http://www.jskjsy.com</p></li>
                    </ul>
                    <div class="hx-item1 clear">
                        <p class="p1">地址</p>
                        <p class="p2">连云港市开发区大浦工业园大浦路19号</p>
                    </div>
                    <div class="hx-item1 clear">
                        <p class="p1">简介</p>
                        <p class="p2">-</p>
                    </div>
                </div>
                <div class="div2" v-show="indexChange.one2">
                    <ul class="clear">
                        <li><p class="p1">注册资本</p><p class="p2">5000万人民币</p></li>
                        <li><p class="p1 marginLeft">成立日期</p><p class="p2">2009-09-21</p></li>
                        <li><p class="p1">实缴资本</p><p class="p2">500万人民币</p></li>
                        <li><p class="p1 marginLeft">经营状态</p><p class="p2">在业</p></li>
                        <li><p class="p1">统一社会信用代码</p><p class="p2">91320700694540967E</p></li>
                        <li><p class="p1 marginLeft">工商注册号</p><p class="p2">320700000111103</p></li>
                        <li><p class="p1">纳税人识别号</p><p class="p2">91320700694540967E</p></li>
                        <li><p class="p1 marginLeft">组织机构代码</p><p class="p2">694540967</p></li>
                        <li><p class="p1">公司类型</p><p class="p2">有限责任公司</p></li>
                        <li><p class="p1 marginLeft">行业</p><p class="p2">专用设备制造业</p></li>
                        <li><p class="p1">核准日期</p><p class="p2">2018-09-18</p></li>
                        <li><p class="p1 marginLeft">登记机关</p><p class="p2">连云港经济技术开发区市场监督管理局</p></li>
                        <li><p class="p1">营业期限</p><p class="p2">2009-09-21至2039-09-20</p></li>
                        <li><p class="p1 marginLeft">纳税人资质</p><p class="p2">-</p></li>
                        <li><p class="p1">人员规模／参保人数</p><p class="p2" style="width:220px;">小于50人</p><p class="p2 p3" style="width:220px;">3</p></li>
                        <li><p class="p1 marginLeft">曾用名</p><p class="p2">-</p></li>
                        <li><p class="p1">英文名称</p><p class="p2">-</p></li>
                        <li><p class="p1 marginLeft">注册地址</p><p class="p2">连云港市开发区大浦工业园大浦路19号</p></li>
                    </ul>
                    <div class="hx-item1 clear">
                        <p class="p1">经营范围</p>
                        <p class="pscope">成套机械设备制造；海水淡化设备制造；水处理设备制造；水处理工程设计、施工；成套机
                            械设备、电器器械及器材、工程机械及配件、汽车及配件、电子设备、仪器仪表、五金交电、建材、钢材、木
                            材销售；自营和代理各类商品和技术的进出口业务，但国家限定企业经营或禁止进出口的商品和技术除外；不
                            动产租赁。（依法须经批准的项目，经相关部门批准后方可开展经营活动）</p>
                    </div>
                </div>
                <div class="div3" v-show="indexChange.one3">
                    <div class="hx-item2 clear" style="margin-top:0;">
                        <p class="p1 title">姓名</p>
                        <p class="p2 title">职位</p>
                    </div>
                    <div class="hx-item2 clear">
                        <p class="p1">陈佑勇</p>
                        <p class="p2">执行董事兼总经理</p>
                    </div>
                    <div class="hx-item2 clear">
                        <p class="p1">许芳</p>
                        <p class="p2">监事</p>
                    </div>
                </div>
                <div class="div4" v-show="indexChange.one4">
                    <div class="title">
                        <p class="p1">股东（发起人）</p>
                        <p class="p2" style="width:600px;">持股比例</p>
                        <p class="p3">认缴出资额</p>
                    </div>
                    <div class="hx-item2 clear">
                        <p class="p1">江苏省润通新能源工程有限公司(大股东)</p>
                        <p class="p2">75.00%</p>
                        <p class="p3">3750万元人民币</p>
                    </div>
                    <div class="hx-item2 clear" >
                        <p class="p1">陈佑勇（最终受益人）</p>
                        <p class="p2">25.00%</p>
                        <p class="p3">1250万元人民币</p>
                    </div>
                </div>
                <div class="div5" v-show="indexChange.one5">
                    <div class="title">
                        <p class="p1">被投资企业名称</p>
                        <p class="p2">法定代表人</p>
                        <p class="p3">成立日期</p>
                        <p class="p4">投资数额</p>
                        <p class="p5">投资比例</p>
                        <p class="p6">经营状态</p>
                        <p class="p7">关联产品</p>
                        <p class="p8">关联机构</p>
                    </div>
                    <div class="hx-item3">
                        <p class="p1">-</p>
                        <p class="p2">-</p>
                        <p class="p3">-</p>
                        <p class="p4">-</p>
                        <p class="p5">-</p>
                        <p class="p6">-</p>
                        <p class="p7">-</p>
                        <p class="p8">-</p>
                    </div>
                </div>
                <div class="div6" v-show="indexChange.one6">
                    <table class="table" cellspacing="0">
                        <thead>
                            <tr>
                                <td width="150">序号</td>
                                <td width="250">变更日期</td>
                                <td width="360">变更项目</td>
                                <td width="360">变更前</td>
                                <td width="360">变更后</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2018-09-18</td>
                                <td>经营范围</td>
                                <td>成套机械设备制造；海水淡化设备制造；水处理设备制造；水处理工程设计、施工；成
                                    套机械设备、电器器械及器材、工程机械及配件、汽车及配件、电子设备、仪器仪表、五金交电、建材、钢材
                                    、木材销售；自营和代理各类商品和技术的进出口业务，但国家限定企业经营或禁止进出口的商品和技术除外
                                </td>
                                <td>成套机械设备制造；海水淡化设备制造；水处理设备制造；水处理工程设计、施工；成
                                    套机械设备、电器器械及器材、工程机械及配件、汽车及配件、电子设备、仪器仪表、五金交电、建材、钢材
                                    、木材销售；自营和代理各类商品和技术的进出口业务，但国家限定企业经营或禁止进出口的商品和技术除外</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2016-02-02</td>
                                <td>注册资本变更</td>
                                <td>2000</td>
                                <td>5000.000000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>2016-02-02</td>
                                <td>投资总额变更</td>
                                <td>2000</td>
                                <td>5000.000000</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>2016-01-27</td>
                                <td>企业住所变更</td>
                                <td>连云港市新浦工业园浙江路8号</td>
                                <td>连云港市开发区大浦工业园大浦路19号</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>2015-08-06</td>
                                <td>企业类型变更</td>
                                <td>有限责任公司（自然人独资）</td>
                                <td>有限责任公司</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>2015-08-06</td>
                                <td>股东变更</td>
                                <td>陈佑勇</td>
                                <td>陈佑勇 江苏省润通新能源工程有限公司[新增]</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>2015-08-06</td>
                                <td>投资总额变更</td>
                                <td>500</td>
                                <td>2000.000000</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>2015-08-06</td>
                                <td>注册资本变更</td>
                                <td>500</td>
                                <td>2000.000000</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>2014-04-03</td>
                                <td>法定代表人变更</td>
                                <td>侯佳[退出]</td>
                                <td>陈佑勇[新增]</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2014-04-03</td>
                                <td>股东变更</td>
                                <td>侯佳[退出]</td>
                                <td>陈佑勇[新增]</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div style="text-align:center;line-height:600px;font-size:22px;color:#9797ea;">精彩稍后~</div> -->
                </div>
                <!-- <div class="div7" v-show="indexChange.one7">
                    <div style="text-align:center;line-height:600px;font-size:22px;color:#9797ea;">精彩稍后~</div>
                </div> -->
                <div class="div8" v-show="indexChange.one8">
                    <table class="table" cellspacing="0">
                        <thead>
                            <tr>
                                <td width="150">序号</td>
                                <td width="250">专利类型</td>
                                <td width="360">公开（公告）号</td>
                                <td width="360">公开（公告）日期</td>
                                <td width="360">名称</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>发明专利</td>
                                <td>CN105060575B</td>
                                <td>2018-12-07</td>
                                <td>一种耦合反电渗析与电渗析的海水淡化方法</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>发明专利</td>
                                <td>CN105217854B</td>
                                <td>2017-12-29</td>
                                <td>一种小型一体化海水淡化设备</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>实用新型</td>
                                <td>CN205088043U</td>
                                <td>2016-03-16</td>
                                <td>一种太阳能驱动的一体化海水淡化设备</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>实用新型</td>
                                <td>CN205088055U</td>
                                <td>2016-03-16</td>
                                <td>一种多膜法海水淡化集成设备</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>实用新型</td>
                                <td>CN204981453U</td>
                                <td>2016-01-20</td>
                                <td>一种小型一体化海水淡化设备</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>实用新型</td>
                                <td>CN204981278U</td>
                                <td>2016-01-20</td>
                                <td>一种反渗透浓水回收利用的一体化设备</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>发明公布</td>
                                <td>CN110045475A</td>
                                <td>2019-07-23</td>
                                <td>一种柔性光缆</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>发明公布</td>
                                <td>CN110030254A</td>
                                <td>2019-07-19</td>
                                <td>水下立体观测系统用万向节</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div style="text-align:center;line-height:600px;font-size:22px;color:#9797ea;">精彩稍后~</div> -->
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['shisaner'],
    data(){
        return{
            i:0,
            x:0,
            introDetailType:[
                {
                    name:'基础信息',
                    id:0
                },{
                    name:'工商信息',
                    id:1
                },{
                    name:'主要人员',
                    id:2
                },{
                    name:'股东信息',
                    id:3
                },{
                    name:'对外投资',
                    id:4
                },{
                    name:'变更记录',
                    id:5
                },
                // {
                //     name:'企业动态',
                //     id:6
                // },
                {
                    name:'专利信息',
                    id:7
                }
            ],
            areaList:[
                {
                    id:0,
                    name:'上海',
                    num:210,
                    active:true
                },{
                    id:1,
                    name:'浙江',
                    num:110,
                    active:false
                },{
                    id:2,
                    name:'江苏',
                    num:100,
                    active:false
                },{
                    id:3,
                    name:'福建',
                    num:90,
                    active:false
                },{
                    id:4,
                    name:'宁波',
                    num:70,
                    active:false
                },{
                    id:5,
                    name:'厦门',
                    num:50,
                    active:false
                }
            ],
            indexChange:{
                'one1':true,
                'one2':false,
                'one3':false,
                'one4':false,
                'one5':false,
                'one6':false
            }
        }
    },
    methods: {
        changeTab(id){
            this.i = id;
            let str = 'one'+(id+1);
            for(let attr in this.indexChange){
                this.indexChange[attr] = false;
            }
            this.indexChange[str] = true;
        },
        change(id){
            this.x = id
        },
        back(){
            // this.$router.go(-1);//返回上一层
            this.$emit('fatherMethod2');
        }
    },
}
</script>
<style lang="less" scoped>
    .flex-c() {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sider{
        height:40px;
        background-color: #f5f5f5;
        padding-left: 20px !important;
        /deep/.el-breadcrumb {
            line-height: 40px;
        }
    }
    .introduction{
        float:left;
        // margin-left:30px;
        .areaList{
            margin-top:5px;
            width:100%;
            height:56px;
            li{
                float:left;
                width:16%;
                height:100%;
                margin-left:12px;
                border:1px solid #333333;
                border-radius:3px;
                &:nth-child(1){
                    margin-left:0;
                }
                a{
                    display:block;
                    line-height:56px;
                    text-align:center;
                    color:#333333;
                }
                background:#ffffff;
                &.active{
                    background:#459CFF;
                    border:1px solid #459CFF;
                    a{
                        color:#ffffff;
                    }
                }
            }
            /deep/.el-button{
                width:16%;
                padding:16px 20px;
            }
            /deep/.el-button--primary{
                background:#459CFF;
                border-color:#459CFF;
            }
        }
        .intro-detail{
            height:auto;
            isBlock{
                display:block;
            }
            .intro-detail-type{
                position:relative;
                height:42px;
                margin-top:20px;
                li{
                    float:left;
                    height:100%;
                    margin-left:10px;
                    padding: 0 30px;
                    border-radius:4px;
                    background:#ffffff;
                    border: 1px solid #e0e0e0;
                    a{
                        display:block;
                        text-align:center;
                        line-height:42px;
                        color:#999;
                        font-size:16px;
                    }
                    &.active{
                        background:#459CFF;
                        a{
                            color:#ffffff;
                        }

                    }
                }
            }
            .div1,.div2{
                width:100%;
                height:auto;
                background:#ffffff;
                padding: 0 20px;
                ul{
                    li{
                        float:left;
                        width: 50%;
                        margin-top:20px;
                        .p1{
                            float: left;
                            width: 250px;
                            height: 64px;
                            background:#9797ea;
                            text-align:center;
                            line-height:64px;
                            color:#ffffff;
                            &.marginLeft{
                                margin-left:25px;
                            }
                        }
                        .p2{
                            height:64px;
                            margin-left: 250px;
                            background:#ececf7;
                            text-align:center;
                            line-height:64px;
                            border:1px solid #d9d3f2;
                        }
                    }
                }
                .hx-item1{
                    width:100%;
                    margin-top:20px;
                    .p1{
                        float:left;
                        width:250px;
                        height:100px;
                        background:#9797ea;
                        color:#ffffff;
                        text-align:center;
                        padding-top:26px;
                    }
                    .p2{
                        height:100px;
                        margin-left: 250px;
                        padding: 30px 10px;
                        background:#ececf7;
                        text-align:center;
                        border:1px solid #d9d3f2;
                    }

                }
            }
            .div2{
                width:100%;
                height:auto;
                background:#ffffff;
                padding:0 20px;
                .hx-item2{
                    width:100%;
                    margin-top:20px;
                    .p1{
                        float:left;
                        width:250px;
                        height:165px;
                        line-height:165px;
                        background:#ececf7;
                        color:#ffffff;
                        text-align:center;
                    }
                    .p2{
                        float:left;
                        // width:1215px;
                        height:165px;
                        padding:30px 10px;
                        background:#ececf7;
                        margin-left:10px;
                        text-align:center;
                        border:1px solid #d9d3f2;
                    }

                }
                .hx-item3{
                    width:100%;
                    height:490px;
                    margin-top:20px;
                    .p-left{
                        float:left;
                        width:250px;
                        height:100%;
                        line-height:490px;
                        text-align:center;
                        background:#9797ea;
                        color:#ffffff;
                    }
                    .p-right{
                        float:left;
                        margin-left:10px;
                        height:100%;
                        // padding:30px 10px;
                        .p1,.p2,.p3{
                            width:100%;
                            padding: 20px;
                            height:150px;
                            .time{
                                float:left;
                                width:300px;
                                height:100%;
                                background:#ececf7;
                                border:1px solid #d9d3f2;
                                line-height:150px;
                                text-align:center;
                            }
                            .desc{
                                float:left;
                                width:900px;
                                height:100%;
                                margin-left:15px;
                                background:#ececf7;
                                border:1px solid #d9d3f2;
                                padding:30px 10px;
                            }
                        }
                        .p2{
                            margin-top:20px;
                        }
                        .p3{
                            margin-top:20px;
                        }
                    }
                }
            }
            .div3{
                height:auto;
                background:#ffffff;
                padding:20px 20px;
                .hx-item2{
                    margin-top:20px;
                     .title {
                        float: left;
                        width: 250px;
                     }
                    //  .title:nth-child(2) {
                    //      width: auto;
                    //  }
                    .p1{
                        float:left;
                        width:250px;
                        height:50px;
                        background:#ececf7;
                        border:1px solid #d9d3f2;
                        color:#333333;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        padding:10px;
                    }
                    .p2{
                        // margin-left: 250px;
                        height:50px;
                        padding:10px;
                        background:#ececf7;
                        // margin-left:10px;
                        margin-top:20px;
                        border:1px solid #d9d3f2;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .title{
                        background:#9797ea;
                        color:#ffffff;
                    }

                }

            }
            .div4{
                width:100%;
                height:auto;
                background:#ffffff;
                padding:20px 20px;
                .title{
                    .p3{
                        float:left;
                        height:80px;
                        padding: 0 20px;
                        color:#ffffff;
                        text-align:center;
                        line-height:80px;
                        background:#9797ea;
                        margin-left:10px;
                    }
                }
                .hx-item2{
                    width:100%;
                    margin-top:20px;
                    .p1{
                        float:left;
                        width:250px;
                        height:80px;
                        padding:10px;
                        background:#ececf7;
                        border:1px solid #d9d3f2;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .p2{
                        float:left;
                        width:600px;
                        height:80px;
                        padding:10px;
                        background:#ececf7;
                        margin-left:10px;
                        border:1px solid #d9d3f2;
                        display:flex;
                        justify-content:center;
                        align-items:center;
                    }
                    .p3{
                        float:left;
                        height:80px;
                        padding:10px;
                        background:#ececf7;
                        margin-left:10px;
                        border:1px solid #d9d3f2;
                        display:flex;
                        justify-content:center;
                        align-items:center;
                    }

                }
                .title{
                    height:80px;
                    color:#ffffff;
                    font-size:18px;
                    .p1{
                        float:left;
                        width:250px;
                        height:80px;
                        line-height:80px;
                        background:#9797ea;
                        text-align:center;
                    }
                    .p2{
                        float:left;
                        width:1215px;
                        height:80px;
                        padding:30px 10px;
                        background:#9797ea;
                        margin-left:10px;
                        text-align:center;
                    }
                }

            }
            .div5{
                width:100%;
                background:#ffffff;
                padding:20px;
                .title{
                    width:100%;
                    height:80px;
                    // padding-top:20px;
                    p{
                        float:left;
                        padding: 0 30px;
                        margin-left:10px;
                        height:100%;
                        display:flex;
                        justify-content:center;
                        align-items:center;
                        background:#9797ea;
                        color:#ffffff;
                    }
                    .p1{
                        // padding: 0 20px;
                        width:200px;
                        margin-left:0;
                    }
                }
                .hx-item3{
                    width:100%;
                    height:80px;
                    margin-top:20px;
                    p{
                        float:left;
                        margin-left:10px;
                        padding: 0 20px;

                        height:100%;
                        display:flex;
                        justify-content:center;
                        align-items:center;
                        background:#ececf7;
                        color:#333333;
                    }
                    .p1{
                        width:200px;
                        margin-left:0;
                    }
                }
            }
            .div6,.div8{
                width:100%;
                height:auto;
                padding:20px;
                background:#ffffff;

            }
        }
    }
    .div1{
        float:left;
        width:49%;
        height:200px;
        padding:15px 20px;
        background:#ffffff;
        font-size:14px;
    }
    .div1 h3,.div2 h3{
        font-size:16px;
        font-weight:normal;
    }
    .div1 p,.div2 p{
        line-height:22px;
        margin-top:10px;
    }
    .div1 .p2{
        color:orange;
        margin-top:10px;
    }
    .div2{
        float:left;
        width:48%;
        height:200px;
        margin-left:30px;
        padding:15px 20px;
        margin-left:30px;
        background:#ffffff;
        font-size:14px;
    }
    .div3{
        width:100%;
        clear:both;
        height:auto;
        margin-top:30px;
        background:#ffffff;
        padding:15px 20px;
    }
    .div3 h3{
        font-size:16px;
        font-weight:normal;
    }
    .div3 ul li{
        float:left;
        color:#333333;
        font-size:14px;
        margin-top:8px;
    }
    .div3 ul li:nth-child(3n-2){
        width:30%;
        line-height:22px;
    }
    .div3 ul li:nth-child(3n-1){
        width:26%;
        line-height:22px;
        margin-left:20px;
    }
    .div3 ul li:nth-child(3n){
        width:30%;
        line-height:22px;
        margin-left:20px;
    }
    .div3 ul li.li21{
        clear:both;
        margin-left:0;
    }
    .table{
        border:1px solid #f1f1f1;
        tr{
            background:rgba(0,0,0,.05);;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:50px;
                border:1px solid #f1f1f1;
                border-right:0;
                border-bottom:0;
                color:#333;
                font-weight: 400;
                font-size:16px;
            }
        }
        tbody{
            tr{
                background:#d9d3f2;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:14px;
                    color:#838ca1;
                }
            }
        }
    }
    /deep/.table tbody tr[data-v-7cbc89c2] {
    background: #fff;
    }
    .scope {
        padding: 20px;
        height: 0 !important;
    }
</style>
