<template>
    <div style="padding-left:30px;padding-right:30px;min-height:1018px;color:#606266;padding-bottom:100px;">
        <div class="sider">
            <el-breadcrumb >
                <el-button type="warning" @click="goBack" style="float:left;margin-right:20px;">返回</el-button>
                <el-breadcrumb-item >项目管理</el-breadcrumb-item>
                <el-breadcrumb-item>区域项目整体评价</el-breadcrumb-item>
                <el-breadcrumb-item>绩效目标完成情况</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="hxWrap clear">
            <p class="p-title"><span></span>资金情况</p>
            <table class="table" style="margin-top:0;cellspacing=0;border-collaspe:collaspe;cellspacing:0">
                <thead style="border-spacing:0;background:#f1f1f1;">
                    <tr>
                        <td width="270" style="background:#f1f1f1;color:#333333;">合计</td>
                        <td width="270" style="background:#f1f1f1;color:#333333;">中央财政</td>
                        <td width="270" style="background:#f1f1f1;color:#333333;">地方财政</td>
                        <td width="270" style="background:#f1f1f1;color:#333333;">企业自有</td>
                        <td width="270" style="background:#f1f1f1;color:#333333;">银行贷款</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border-bottom:1px solid #eeeeee;">24699.67</td>
                        <td style="border-bottom:1px solid #eeeeee;">584.71</td>
                        <td style="border-bottom:1px solid #eeeeee;">-</td>
                        <td style="border-bottom:1px solid #eeeeee;">22114.96</td>
                        <td style="border-right:1px solid #eeeeee;border-bottom:1px solid #eeeeee;">2000</td>
                    </tr>
                </tbody>
            </table>
            <p class="p-title"><span></span>总目标</p>
            <table style="margin-top:0;cellspacing=0;border-collaspe:collaspe;cellspacing:0">
                <tr >
                    <td width="150" style="background:#f1f1f1;padding:20px 10px;text-align:center;">实施期目标</td>
                    <td width="400" style="padding:20px 10px;">构建智能立体海底观测网系统设计、制造、工程服务全产业链，项目内容为2+5产业链模式，即二个核心装备主、次接驳盒开发及产业化，同时开发五大示
                        范领域应用-海底观测网，江河湖泊生态感知网，海洋牧场监测系统，港口码头监测系统，海洋警戒网， 参与单位提供产业链配套产品及服务，实现智能立体海底观测网系统产业化。</td>
                </tr>
                <tr>
                    <td style="background:#f1f1f1;padding:20px 10px;text-align:center;">年度目标</td>
                    <td style="padding:20px 10px;">两个核心装备主次接驳盒的样机已完成，主接驳盒正在进行联调测试；江河湖泊生态感知网示范工程建设已完成；已完成1条产线的改建；项目研发团队与施工团队人员已基本到位。</td>
                </tr>
            </table>
            <p class="p-title"><span></span>完成目标</p>
            <table class="table1" style="margin-top:0;cellspacing=0;border-collaspe:collaspe;cellspacing:0">
                <tr>
                    <td width="200">一级指标</td>
                    <td width="400">二级指标</td>
                    <td width="400">三级指标</td>
                    <td width="200">企业自有</td>
                    <td width="200">完成值</td>
                </tr>
                <tr>
                    <td rowspan="17">产出指标</td>
                    <td rowspan="4">数量指标</td>
                    <td>新增龙头企业</td>
                    <td>4家</td>
                    <td>11家</td>
                </tr>
                <tr>
                    <td>新增中小微企业</td>
                    <td>10家</td>
                    <td>5家</td>
                </tr>
                <tr>
                    <td>新增省级及以上高新技术企业</td>
                    <td>3家</td>
                    <td>11家</td>
                </tr>
                <tr>
                    <td>新增上市企业</td>
                    <td>4家</td>
                    <td>3家</td>
                </tr>
                <tr>
                    <td rowspan="2">质量指标</td>
                    <td>建成或改造生产线</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>新建公共服务平台</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="6">时效指标</td>
                    <td>新增省级及以上产品</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>新增有效发明专利</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>新立项行业及以上标准</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>新增品牌</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>成果转化数量</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>新增示范工程</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="5">成本指标</td>
                    <td>新增设备投入</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>新增投入投入</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>新增研发投入</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>新建企业研发中心</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>配套设备及企业自给率</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="9">效益指标</td>
                    <td rowspan="3">经济效益指标</td>
                    <td>新增出口额</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>新增产值</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>新增税收</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="3">社会效益指标</td>
                    <td>新增就业人数</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>新增重点产业就业人数</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>带动社会资金投入</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="3">可持续影响指标</td>
                    <td>新获省级及以上产业基地、园区个数</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>新建孵化器个数</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>新形成较完整的产业链个数</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{

        }
    },
    methods: {
        goBack(){
            this.$router.go(-1);//返回上一层
        }
    },
}
</script>
<style lang="less" scoped>
    .sider{
        padding-top:20px;
    }
    .hxWrap{
        background:#ffffff;
        padding-left:30px;
        padding-top:20px;
        margin-top:20px;
        .report-title{
            width:100%;
            height:72px;
            li{
                float:left;
                height:40px;
                line-height:40px;
                font-size:14px;
                margin-left:20px;
                &.li1,&.li4{
                    width:473px;
                }
                &.li2,&.li5{
                    width:150px;
                }
                &.li3{
                    width:150px;
                }
            }
        }
        .p-title{
            width:100%;
            height:30px;
            line-height:30px;
            font-size:18px;
            margin-top:20px;
            margin-bottom:10px;
            span{
                float:left;
                height:100%;
                width:5px;
                background:#a5a5cf;
                margin-right:20px;
            }
        }
        .top{
            width:100%;
            height:40px;
            .arrow-l{
                float:left;
                height:40px;
                line-height:40px;
            }
            .arrow-r{
                float:right;
                height:40px;
                line-height:40px;
            }
            .con{
                float:left;
                margin-left:42px;
                width:794px;
                height:100%;
                overflow:hidden;
                ul{
                    width:100%;
                    height:100%;
                    li{
                        float:left;
                        width:150px;
                        margin-left:6px;
                        text-align:center;
                        line-height:40px;
                        border:1px solid #cccccc;
                        border-radius:6px 6px 0 0;
                        cursor:pointer;
                        &.active{
                            color:#ffffff;
                            background:#a5a5cf;
                        }
                    }
                }
            }
        }
        .table{
            td{
                input{
                    height:20px;
                    width:100px;
                    border:none;
                    text-align:center;
                }
                textarea{
                    width:90%;
                    height:40px;
                    border:none;
                    resize:none;
                }
            }
        }
        .jinzhan{
            width:100%;
            line-height:40px;
            font-size:14px;
            border:1px solid #eeeeee;
            padding-left:20px;
        }
    }
    .table{
        // border:1px solid #f1f1f1;
        margin-top:30px;
        tr{
            background:#a5a5cf;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:50px;
                border:1px solid #eeeeee;
                border-right:none;
                border-bottom:none;
                color:#ffffff;
                font-size:16px;
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:12px;
                    color:#606266;
                }
            }
        }
    }
    .table1{
        border-top:1px solid #eeeeee;
        border-left:1px solid #eeeeee;
        tr{
            td{
                line-height:30px;
                padding:10px;
                border-right:1px solid #eeeeee;
                border-bottom:1px solid #eeeeee;
                color:#606266;
                text-align:center;
            }
        }
    }
    /deep/.el-breadcrumb__item{
        line-height:40px;
    }
</style>
