<template>
    <div style="padding-left:30px;padding-right:30px;">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >项目管理</el-breadcrumb-item>
                <el-breadcrumb-item>区域整体评价管理</el-breadcrumb-item>
                <el-breadcrumb-item>区域评估详情</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="title">
            <el-button type="warning" @click="goBack">返回</el-button>
            <div class="time-title">考评时间：</div>
            <el-date-picker
            v-model="value1"
            type="date"
            placeholder="选择日期">
            </el-date-picker>
            <div class="time-title-middle">至：</div>
            <el-date-picker
            v-model="value1"
            type="date"
            placeholder="选择日期">
            </el-date-picker>
            <div class="time-type">类型：</div>
            <el-select v-model="value" placeholder="请选择">
                <el-option
                v-for="item in typeList"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                </el-option>
            </el-select>
            <div class="btn"><el-button type="primary">查询</el-button></div>
            <div class="dataExport"><el-button type="warning" >数据导出</el-button></div>
        </div>
        <table class="table" cellspacing="0">
            <thead>
                <tr>
                    <td rowspan="2" width="150">序号</td>
                    <td rowspan="2" width="100">区域</td>
                    <td colspan="3" width="400">专家组总分</td>
                    <td colspan="3" width="400">管理部门专家组总分</td>
                    <td rowspan="2" width="200">专家意见</td>
                    <td rowspan="2" width="200">状态</td>
                    <td rowspan="2" width="150">备注</td>
                    <td rowspan="2" width="300">操作</td>
                </tr>
                <tr>
                    <td>最终得分</td>
                    <td>最高得分</td>
                    <td>最低得分</td>
                    <td>最终得分</td>
                    <td>最高得分</td>
                    <td>最低得分</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>上海</td>
                    <td>98</td>
                    <td>100</td>
                    <td>85</td>
                    <td>98</td>
                    <td>100</td>
                    <td>100</td>
                    <td>查看</td>
                    <td>评估完成</td>
                    <td>无</td>
                    <td><el-button type="text" >专家评级</el-button><el-button type="text" @click="xmqd">项目清单</el-button><el-button type="text" >管理部门专家打分</el-button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>上海</td>
                    <td>98</td>
                    <td>100</td>
                    <td>85</td>
                    <td>98</td>
                    <td>100</td>
                    <td>100</td>
                    <td>查看</td>
                    <td>专家打分中(90%)</td>
                    <td>无</td>
                    <td><el-button type="text" >专家评级</el-button><el-button type="text" @click="xmqd">项目清单</el-button><el-button type="text" >管理部门专家打分</el-button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
export default {
    data(){
        return{
            typeList:[
                {
                    label:'全部',
                    value:0
                },
                {
                    label:'年度',
                    value:1
                },
                {
                    label:'季度',
                    value:2
                },
                {
                    label:'月度',
                    value:3
                },
                {
                    label:'中期验收',
                    value:4
                },
                {
                    label:'最终验收',
                    value:5
                },
            ]
        }
    },
    methods: {
        goBack(){
            this.$router.go(-1);//返回上一层
        },
        xmqd(){
            this.$router.push({ path: '/projectML/xmqd', query: { type: '1' }})
        }
    }
}
</script>
<style lang="less" scoped>
    .sider{
        padding-top:20px;
    }
    .title{
        margin-top:20px;
        .time-title{
            display:inline-block;
            line-height:36px;
        }
        .time-title-middle{
            // float:left;
            display:inline-block;
            line-height:36px;
            margin-left:5px;
        }
        .time-type{
            display:inline-block;
            line-height:36px;
            margin-left:20px;
        }
        .btn{
            display:inline-block;
            margin-left:20px;
        }
        .dataExport{
            float:right;
        }
    }
    .table{
        // border:1px solid #f1f1f1;
        margin-top:30px;
        tr{
            background:#a5a5cf;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:50px;
                border:1px solid #eeeeee;
                border-right:none;
                border-bottom:none;
                color:#ffffff;
                font-size:16px;
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:12px;
                    color:#606266;
                }
            }
        }
    }
</style>
