<template>
    <div>
        <div class="sider">
             <el-breadcrumb >
                <el-breadcrumb >
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item :to="{ path:'/projectML/zjdf'}">区域整体项目评价</el-breadcrumb-item>
                <el-breadcrumb-item>评估记录</el-breadcrumb-item>
              </el-breadcrumb>
            </el-breadcrumb>
        </div>
        <div class="containt">
            <div class="title">
                <!-- <div class="time-type">状态：</div>
                <el-select v-model="valueState" placeholder="请选择">
                    <el-option
                    v-for="item in state"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select> -->
            </div>
            <table class="table" cellspacing="0">
                <thead>
                    <tr style="font-size:16px;
font-weight: 500;">
                        <td width="250">序号</td>
                        <!-- <td width="250">评估主题</td> -->
                        <td width="300">评级截止时间</td>
                        <td width="400">评估专家</td>
                        <td width="300">专家意见状态</td>
                        <td width="200">分数</td>
                        <td width="450">操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <!-- <td>第一年度考核</td> -->
                        <td>2018-06-30</td>
                        <td >10位（李章华、张曼、刘丽、卿小强、李......）</td>
                        <td><el-button type="text" @click="ckyj">已填写</el-button></td>
                        <td>89</td>
                        <td>
                            <!-- <el-button type="text" class="color7" >他人评价</el-button> -->
                            <!-- <el-button type="text" class="color7" >详情</el-button> -->
                            <!-- <el-button type="text" class="color8" >编辑</el-button> -->
                            <el-button type="text" class="color8" @click="otherDetail">专家评价</el-button>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>2</td>
                        <td>最终验收</td>
                        <td>2020-06-30</td>
                        <td >10位（李章华、张曼、刘丽、卿小强、李......）</td>
                        <td><el-button type="text" @click="ckyj">已填写</el-button></td>
                        <td>92</td>
                        <td>
                            <el-button type="text" class="color7" @click="otherDetail">他人评价</el-button>
                            <el-button type="text" class="color7" @click="detail">详情</el-button>
                            <el-button type="text" class="color8" @click="edit">编辑</el-button> -->
                            <!-- <el-button type="text" class="color8" @click="otherDetail">专家评价</el-button>
                        </td>
                    </tr>  -->
                    <!-- <tr>
                        <td>3</td>
                        <td>中期考核</td>
                        <td>2019-06-30</td>
                        <td >10位（李章华、张曼、刘丽、卿小强、李......）</td>
                        <td ><el-button type="text" style="color:red;">未填写</el-button></td>
                        <td>--</td>
                        <td>
                            <el-button type="text" class="color7" @click="otherDetail">他人评价</el-button>
                            <el-button type="text" class="color7" @click="detail">详情</el-button>
                            <el-button type="text" class="color8" @click="edit">编辑</el-button>
                            <el-button type="text" class="color8" @click="otherDetail">专家评价</el-button>
                            <el-button type="text" disabled>专家评价</el-button>
                        </td>
                    </tr> -->

                </tbody>
            </table>
            <!-- 查看意见 -->
            <el-dialog
            title=" "
            :visible.sync="dialogVisible2"
            width="800px"
            :before-close="handleClose2">
                <div slot="title" class="header-title">
                    <span class="title-name">专家意见</span>
                </div>
                <div class="agreement">
                    <p class="p1"><span class="left">李战（专家组成员）</span><span class="right">总分：79</span></p>
                    <p class="p2">浦东新区通过政策倾斜，有效推动了全区海洋产业发展，依托浦东新区的产业政策体系，在智能制造、产
                        业转型升级、战略新兴产业专项等中，强化对海洋经济发展的扶持，统筹新区产业政策资源，提升了上下游产
                        业链的协同创新能力，加强了产业集聚效应。
                    </p>
                </div>
                <div class="agreement">
                    <p class="p1"><span class="left">李丽（专家组成员）</span><span class="right">总分：86</span></p>
                    <p class="p2">浦东新区通过政策倾斜，有效推动了全区海洋产业发展，依托浦东新区的产业政策体系，在智能制造、产
                        业转型升级、战略新兴产业专项等中，强化对海洋经济发展的扶持，统筹新区产业政策资源，提升了上下游产
                        业链的协同创新能力，加强了产业集聚效应。
                    </p>
                </div>
            </el-dialog>

            <!-- 编辑弹窗 -->
            <el-dialog
            title=" "
            :visible.sync="dialogVisible"
            width="800px"
            :before-close="handleClose">
            <div slot="title" class="header-title">
                <span class="title-name">评级-上海区域</span>
                <span class="title-age">A-优秀 B-良好 C-合格 D-差</span>
            </div>
                <div class="hx-dialog2 clear">
                    <div class="tab-card">
                        <ul class="tab">
                            <li class="mark">编辑评分</li>
                            <li>查看评分标准</li>
                        </ul>
                        <table class="table" style="margin-top:0;cellspacing=0;border-collaspe:collaspe;cellspacing:0">
                            <tbody>
                                <tr>
                                    <td width="150" style="background:#f1f1f1;color:#333333;">总体指标</td>
                                    <td width="400" colspan="2" style="background:#f1f1f1;color:#333333;">评分标准</td>
                                    <td width="100" style="background:#f1f1f1;color:#333333;">分值</td>
                                    <td width="100" style="background:#f1f1f1;color:#333333;">评级</td>
                                    <td width="100" style="background:#f1f1f1;color:#333333;">备注</td>
                                </tr>
                                <tr>
                                    <td>合计</td>
                                    <td colspan="2"></td>
                                    <td>100</td>
                                    <td>B</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="5">机制建立与运行</td>
                                    <td>组织机制建立</td>
                                    <td>组织协调机制建立</td>
                                    <td>5</td>
                                    <td>A</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>政策制度保障</td>
                                    <td>指定出台资金管理</td>
                                    <td>3</td>
                                    <td>A</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>过程管理</td>
                                    <td>项目立项、审批、监管</td>
                                    <td>4</td>
                                    <td>A</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>海洋经济运行监测</td>
                                    <td>企业报送率至少90%以上</td>
                                    <td>3</td>
                                    <td>A</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>整改落实</td>
                                    <td>定期与不定期考核</td>
                                    <td>5</td>
                                    <td>A</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="3">资金政策集成创新</td>
                                    <td>资源政策集成</td>
                                    <td>促进资源向优先发展</td>
                                    <td>5</td>
                                    <td>A</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>资金政策创新</td>
                                    <td>财税、金融等政策和模式</td>
                                    <td>5</td>
                                    <td>A</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>多远资金集成</td>
                                    <td>多远资金集成</td>
                                    <td>5</td>
                                    <td>A</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="4">经济效益指标</td>
                                    <td>项目立项情况</td>
                                    <td>项目库内重点项目立项情况</td>
                                    <td>10</td>
                                    <td>B</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>存在问题项目情况</td>
                                    <td>存在关键指标降低、延期</td>
                                    <td>4</td>
                                    <td>B</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>检验验收情况</td>
                                    <td>项目接受检查以及验收</td>
                                    <td>12</td>
                                    <td>B</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>创业创新情况</td>
                                    <td>推进企业技术、管理</td>
                                    <td>4</td>
                                    <td>B</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="11">绩效目标完成情况</td>
                                    <td rowspan="4">驱动产业发展情况</td>
                                    <td>海洋战略性新兴年均增速</td>
                                    <td rowspan="4">15</td>
                                    <td rowspan="4">B</td>
                                    <td rowspan="4"></td>
                                </tr>
                                <tr>
                                    <td>海洋战略性新兴产业聚集区</td>
                                </tr>
                                <tr>
                                    <td>带动新增就业人数和重点</td>
                                </tr>
                                <tr>
                                    <td>通过项目实施形成新生产线</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">产业创新能力提升</td>
                                    <td>成果形成情况（含申请发明）</td>
                                    <td rowspan="4">13</td>
                                    <td rowspan="4">A</td>
                                    <td rowspan="4"></td>
                                </tr>
                                <tr>
                                    <td>成果转化情况（含成果转化）</td>
                                </tr>
                                <tr>
                                    <td>地方及企业的研发投入</td>
                                </tr>
                                <tr>
                                    <td>产学研用协同创新情况</td>
                                </tr>
                                <tr>
                                    <td rowspan="3">经济、生态及社会效益</td>
                                    <td>对海洋经济规模化贯彻落实</td>
                                    <td rowspan="3">7</td>
                                    <td rowspan="3">A</td>
                                    <td rowspan="3"></td>
                                </tr>
                                <tr>
                                    <td>对海洋生态环境保护和生态</td>
                                </tr>
                                <tr>
                                    <td>政策宣传效果</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btns">
                            <el-button type="primary">保存并提交</el-button>
                            <el-button type="warning">仅保存</el-button>
                            <el-button type="info">取消</el-button>
                        </div>
                    </div>
                </div>
            </el-dialog>

            <!-- 编辑弹窗 -->
            <el-dialog
            title="专家评级（李丽）"
            :visible.sync="dialogVisible"
            width="900px"
            :before-close="handleClose">
                <div class="hx-dialog2 clear">
                    <div class="tab-card">
                        <table class="table" style="margin-top:0;cellspacing=0;border-collaspe:collaspe;cellspacing:0">
                            <tbody>
                                <tr>
                                    <td width="150" style="background:#f1f1f1;color:#333333;">总体指标</td>
                                    <td width="300" colspan="2" style="background:#f1f1f1;color:#333333;">评分标准</td>
                                    <td width="350" style="background:#f1f1f1;color:#333333;">评级</td>
                                </tr>
                                <tr>
                                    <td rowspan="5">机制建立与运行</td>
                                    <td>组织机制建立</td>
                                    <td>组织协调机制建立</td>
                                    <td>
                                        <el-radio v-model="selectRadio.radio1" label="1">优秀</el-radio>
                                        <el-radio v-model="selectRadio.radio1" label="2">良好</el-radio>
                                        <el-radio v-model="selectRadio.radio1" label="3">合格</el-radio>
                                        <el-radio v-model="selectRadio.radio1" label="4">差</el-radio>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>政策制度保障</td>
                                    <td>指定出台资金管理</td>
                                    <td>
                                        <el-radio v-model="selectRadio.radio2" label="1">优秀</el-radio>
                                        <el-radio v-model="selectRadio.radio2" label="2">良好</el-radio>
                                        <el-radio v-model="selectRadio.radio2" label="3">合格</el-radio>
                                        <el-radio v-model="selectRadio.radio2" label="4">差</el-radio>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>过程管理</td>
                                    <td>项目立项、审批、监管</td>
                                    <td>
                                        <el-radio v-model="selectRadio.radio3" label="1">优秀</el-radio>
                                        <el-radio v-model="selectRadio.radio3" label="2">良好</el-radio>
                                        <el-radio v-model="selectRadio.radio3" label="3">合格</el-radio>
                                        <el-radio v-model="selectRadio.radio3" label="4">差</el-radio>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>海洋经济运行监测</td>
                                    <td>企业报送率至少90%以上</td>
                                    <td>
                                        <el-radio v-model="selectRadio.radio4" label="1">优秀</el-radio>
                                        <el-radio v-model="selectRadio.radio4" label="2">良好</el-radio>
                                        <el-radio v-model="selectRadio.radio4" label="3">合格</el-radio>
                                        <el-radio v-model="selectRadio.radio4" label="4">差</el-radio>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>整改落实</td>
                                    <td>定期与不定期考核</td>
                                    <td>
                                        <el-radio v-model="selectRadio.radio5" label="1">优秀</el-radio>
                                        <el-radio v-model="selectRadio.radio5" label="2">良好</el-radio>
                                        <el-radio v-model="selectRadio.radio5" label="3">合格</el-radio>
                                        <el-radio v-model="selectRadio.radio5" label="4">差</el-radio>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="3">资金政策集成创新</td>
                                    <td>资源政策集成</td>
                                    <td>促进资源向优先发展</td>
                                    <td>
                                        <el-radio v-model="selectRadio.radio6" label="1">优秀</el-radio>
                                        <el-radio v-model="selectRadio.radio6" label="2">良好</el-radio>
                                        <el-radio v-model="selectRadio.radio6" label="3">合格</el-radio>
                                        <el-radio v-model="selectRadio.radio6" label="4">差</el-radio>
                                    </td>
                                </tr>
                                <tr>
                                    <td>资金政策创新</td>
                                    <td>财税、金融等政策和模式</td>
                                    <td>
                                        <el-radio v-model="selectRadio.radio7" label="1">优秀</el-radio>
                                        <el-radio v-model="selectRadio.radio7" label="2">良好</el-radio>
                                        <el-radio v-model="selectRadio.radio7" label="3">合格</el-radio>
                                        <el-radio v-model="selectRadio.radio7" label="4">差</el-radio>
                                    </td>
                                </tr>
                                <tr>
                                    <td>多元资金集成</td>
                                    <td>多元资金集成</td>
                                    <td>
                                        <el-radio v-model="selectRadio.radio8" label="1">优秀</el-radio>
                                        <el-radio v-model="selectRadio.radio8" label="2">良好</el-radio>
                                        <el-radio v-model="selectRadio.radio8" label="3">合格</el-radio>
                                        <el-radio v-model="selectRadio.radio8" label="4">差</el-radio>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="4">经济效益指标</td>
                                    <td>项目立项情况</td>
                                    <td>项目库内重点项目立项情况</td>
                                    <td>
                                        <el-radio v-model="selectRadio.radio9" label="1">优秀</el-radio>
                                        <el-radio v-model="selectRadio.radio9" label="2">良好</el-radio>
                                        <el-radio v-model="selectRadio.radio9" label="3">合格</el-radio>
                                        <el-radio v-model="selectRadio.radio9" label="4">差</el-radio>
                                    </td>
                                </tr>
                                <tr>
                                    <td>存在问题项目情况</td>
                                    <td>存在关键指标降低、延期</td>
                                    <td>
                                        <el-radio v-model="selectRadio.radio10" label="1">优秀</el-radio>
                                        <el-radio v-model="selectRadio.radio10" label="2">良好</el-radio>
                                        <el-radio v-model="selectRadio.radio10" label="3">合格</el-radio>
                                        <el-radio v-model="selectRadio.radio10" label="4">差</el-radio>
                                    </td>
                                </tr>
                                <tr>
                                    <td>检验验收情况</td>
                                    <td>项目接受检查以及验收</td>
                                    <td>
                                        <el-radio v-model="selectRadio.radio11" label="1">优秀</el-radio>
                                        <el-radio v-model="selectRadio.radio11" label="2">良好</el-radio>
                                        <el-radio v-model="selectRadio.radio11" label="3">合格</el-radio>
                                        <el-radio v-model="selectRadio.radio11" label="4">差</el-radio>
                                    </td>
                                </tr>
                                <tr>
                                    <td>创业创新情况</td>
                                    <td>推进企业技术、管理</td>
                                    <td>
                                        <el-radio v-model="selectRadio.radio12" label="1">优秀</el-radio>
                                        <el-radio v-model="selectRadio.radio12" label="2">良好</el-radio>
                                        <el-radio v-model="selectRadio.radio12" label="3">合格</el-radio>
                                        <el-radio v-model="selectRadio.radio12" label="4">差</el-radio>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="11">绩效目标完成情况</td>
                                    <td rowspan="4">驱动产业发展情况</td>
                                    <td>海洋战略性新兴年均增速</td>
                                    <td rowspan="4">
                                        <el-radio v-model="selectRadio.radio13" label="1">优秀</el-radio>
                                        <el-radio v-model="selectRadio.radio13" label="2">良好</el-radio>
                                        <el-radio v-model="selectRadio.radio13" label="3">合格</el-radio>
                                        <el-radio v-model="selectRadio.radio13" label="4">差</el-radio>
                                    </td>
                                </tr>
                                <tr>
                                    <td>海洋战略性新兴产业聚集区</td>
                                </tr>
                                <tr>
                                    <td>带动新增就业人数和重点</td>
                                </tr>
                                <tr>
                                    <td>通过项目实施形成新生产线</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">产业创新能力提升</td>
                                    <td>成果形成情况（含申请发明）</td>
                                    <td rowspan="4">
                                        <el-radio v-model="selectRadio.radio14" label="1">优秀</el-radio>
                                        <el-radio v-model="selectRadio.radio14" label="2">良好</el-radio>
                                        <el-radio v-model="selectRadio.radio14" label="3">合格</el-radio>
                                        <el-radio v-model="selectRadio.radio14" label="4">差</el-radio>
                                    </td>
                                </tr>
                                <tr>
                                    <td>成果转化情况（含成果转化）</td>
                                </tr>
                                <tr>
                                    <td>地方及企业的研发投入</td>
                                </tr>
                                <tr>
                                    <td>产学研用协同创新情况</td>
                                </tr>
                                <tr>
                                    <td rowspan="3">经济、生态及社会效益</td>
                                    <td>对海洋经济规模化贯彻落实</td>
                                    <td rowspan="3">
                                        <el-radio v-model="selectRadio.radio15" label="1">优秀</el-radio>
                                        <el-radio v-model="selectRadio.radio15" label="2">良好</el-radio>
                                        <el-radio v-model="selectRadio.radio15" label="3">合格</el-radio>
                                        <el-radio v-model="selectRadio.radio15" label="4">差</el-radio>
                                    </td>
                                </tr>
                                <tr>
                                    <td>对海洋生态环境保护和生态</td>
                                </tr>
                                <tr>
                                    <td>政策宣传效果</td>
                                </tr>
                                <tr>
                                    <td>专家意见</td>
                                    <td colspan="3">浦东新区通过政策倾斜，有效推动了全区海洋产业发展，依托浦东新区
                                        的产业政策体系，在智能制造、产业转型升级、战略新兴产业专项等中，强化对海洋经济
                                        发展的扶持，统筹新区产业政策资源，提升了上下游产业链的协同创新能力，加强了产业集聚效应。
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p  class="dialog-footer" style="text-align:center;margin-top:20px;">
                            <el-button type="primary" @click="dialogVisible = false">提交评分</el-button>
                        </p>
                    </div>
                </div>
            </el-dialog>

            <!-- 区域评级明细弹窗 -->
            <el-dialog
            title="专家评级详情（李丽）"
            :visible.sync="dialogVisibleMX"
            width="800px"
            :before-close="handleCloseMX">
                <div class="hx-dialog2 clear">
                    <div class="tab-card">
                        <table class="table" style="margin-top:0;cellspacing=0;border-collaspe:collaspe;cellspacing:0">
                            <tbody>
                                <tr>
                                    <td width="150" style="background:#f1f1f1;color:#333333;">总体指标</td>
                                    <td width="300" colspan="2" style="background:#f1f1f1;color:#333333;">评分标准</td>
                                    <td width="200" style="background:#f1f1f1;color:#333333;">评级</td>
                                </tr>
                                <tr>
                                    <td rowspan="5">机制建立与运行</td>
                                    <td>组织机制建立</td>
                                    <td>组织协调机制建立</td>
                                    <td>优秀</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>政策制度保障</td>
                                    <td>指定出台资金管理</td>
                                    <td>良好</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>过程管理</td>
                                    <td>项目立项、审批、监管</td>
                                    <td>合格</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>海洋经济运行监测</td>
                                    <td>企业报送率至少90%以上</td>
                                    <td>优秀</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>整改落实</td>
                                    <td>定期与不定期考核</td>
                                    <td>良好</td>
                                </tr>
                                <tr>
                                    <td rowspan="3">资金政策集成创新</td>
                                    <td>资源政策集成</td>
                                    <td>促进资源向优先发展</td>
                                    <td>合格</td>
                                </tr>
                                <tr>
                                    <td>资金政策创新</td>
                                    <td>财税、金融等政策和模式</td>
                                    <td>优秀</td>
                                </tr>
                                <tr>
                                    <td>多元资金集成</td>
                                    <td>多元资金集成</td>
                                    <td>良好</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">经济效益指标</td>
                                    <td>项目立项情况</td>
                                    <td>项目库内重点项目立项情况</td>
                                    <td>合格</td>
                                </tr>
                                <tr>
                                    <td>存在问题项目情况</td>
                                    <td>存在关键指标降低、延期</td>
                                    <td>优秀</td>
                                </tr>
                                <tr>
                                    <td>检验验收情况</td>
                                    <td>项目接受检查以及验收</td>
                                    <td>良好</td>
                                </tr>
                                <tr>
                                    <td>创业创新情况</td>
                                    <td>推进企业技术、管理</td>
                                    <td>合格</td>
                                </tr>
                                <tr>
                                    <td rowspan="11">绩效目标完成情况</td>
                                    <td rowspan="4">驱动产业发展情况</td>
                                    <td>海洋战略性新兴年均增速</td>
                                    <td rowspan="4">优秀</td>
                                </tr>
                                <tr>
                                    <td>海洋战略性新兴产业聚集区</td>
                                </tr>
                                <tr>
                                    <td>带动新增就业人数和重点</td>
                                </tr>
                                <tr>
                                    <td>通过项目实施形成新生产线</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">产业创新能力提升</td>
                                    <td>成果形成情况（含申请发明）</td>
                                    <td rowspan="4">优秀</td>
                                </tr>
                                <tr>
                                    <td>成果转化情况（含成果转化）</td>
                                </tr>
                                <tr>
                                    <td>地方及企业的研发投入</td>
                                </tr>
                                <tr>
                                    <td>产学研用协同创新情况</td>
                                </tr>
                                <tr>
                                    <td rowspan="3">经济、生态及社会效益</td>
                                    <td>对海洋经济规模化贯彻落实</td>
                                    <td rowspan="3">优秀</td>
                                </tr>
                                <tr>
                                    <td>对海洋生态环境保护和生态</td>
                                </tr>
                                <tr>
                                    <td>政策宣传效果</td>
                                </tr>
                                <tr>
                                    <td>专家意见</td>
                                    <td colspan="3">浦东新区通过政策倾斜，有效推动了全区海洋产业发展，依托浦东新区
                                        的产业政策体系，在智能制造、产业转型升级、战略新兴产业专项等中，强化对海洋经济
                                        发展的扶持，统筹新区产业政策资源，提升了上下游产业链的协同创新能力，加强了产业集聚效应。
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </el-dialog>

            <!-- 其他专家评级详情 -->
            <el-dialog
            title="其他专家评级情况"
            :visible.sync="dialogVisibleOtherMX"
            width="800px"
            :before-close="handleCloseOtherMX">
                <div class="hx-dialog2 clear">
                    <table class="table1" style="margin-top:0;cellspacing:0;border-collaspe:collaspe;cellspacing:0">
                        <tr>
                            <td width="200">专家姓名</td>
                            <td width="200">评级状态</td>
                            <td width="250">评级日期</td>
                            <td width="200">总分</td>
                            <td width="150">操作</td>
                        </tr>
                        <tr>
                            <td>李丽</td>
                            <td>已评级</td>
                            <td>2019-07-30 13:21:14</td>
                            <td>98</td>
                            <td><el-button type="text" @click="otherDetail2">详情</el-button></td>
                        </tr>
                        <tr>
                            <td>贝竹园</td>
                            <td>已评级</td>
                            <td>2019-07-30 13:21:14</td>
                            <td>98</td>
                            <td><el-button type="text" @click="otherDetail2">详情</el-button></td>
                        </tr>
                        <tr>
                            <td>吴刚</td>
                            <td>已评级</td>
                            <td>2019-07-30 13:21:14</td>
                            <td>98</td>
                            <td><el-button type="text" @click="otherDetail2">详情</el-button></td>
                        </tr>
                        <tr>
                            <td>王晓惠</td>
                            <td>未评级</td>
                            <td>----</td>
                            <td>----</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </el-dialog>

            <!-- 其他专家评级明细 -->
            <el-dialog
            title="专家评级详情（李丽）"
            :visible.sync="dialogVisibleOther"
            width="800px"
            :before-close="handleCloseOther">
                <div class="hx-dialog2 clear">
                    <div class="tab-card">
                        <table class="table" style="margin-top:0;cellspacing:0;border-collaspe:collaspe;cellspacing:0">
                            <tbody>
                                <tr>
                                    <td width="150" style="background:#f1f1f1;color:#333333;">总体指标</td>
                                    <td width="300" colspan="2" style="background:#f1f1f1;color:#333333;">评分标准</td>
                                    <td width="200" style="background:#f1f1f1;color:#333333;">评级</td>
                                </tr>
                                <tr>
                                    <td rowspan="5">机制建立与运行</td>
                                    <td>组织机制建立</td>
                                    <td>组织协调机制建立</td>
                                    <td>优秀</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>政策制度保障</td>
                                    <td>指定出台资金管理</td>
                                    <td>良好</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>过程管理</td>
                                    <td>项目立项、审批、监管</td>
                                    <td>合格</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>海洋经济运行监测</td>
                                    <td>企业报送率至少90%以上</td>
                                    <td>优秀</td>
                                </tr>
                                <tr>
                                    <!-- <td></td> -->
                                    <td>整改落实</td>
                                    <td>定期与不定期考核</td>
                                    <td>良好</td>
                                </tr>
                                <tr>
                                    <td rowspan="3">资金政策集成创新</td>
                                    <td>资源政策集成</td>
                                    <td>促进资源向优先发展</td>
                                    <td>合格</td>
                                </tr>
                                <tr>
                                    <td>资金政策创新</td>
                                    <td>财税、金融等政策和模式</td>
                                    <td>优秀</td>
                                </tr>
                                <tr>
                                    <td>多元资金集成</td>
                                    <td>多元资金集成</td>
                                    <td>良好</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">经济效益指标</td>
                                    <td>项目立项情况</td>
                                    <td>项目库内重点项目立项情况</td>
                                    <td>合格</td>
                                </tr>
                                <tr>
                                    <td>存在问题项目情况</td>
                                    <td>存在关键指标降低、延期</td>
                                    <td>优秀</td>
                                </tr>
                                <tr>
                                    <td>检验验收情况</td>
                                    <td>项目接受检查以及验收</td>
                                    <td>良好</td>
                                </tr>
                                <tr>
                                    <td>创业创新情况</td>
                                    <td>推进企业技术、管理</td>
                                    <td>合格</td>
                                </tr>
                                <tr>
                                    <td rowspan="11">绩效目标完成情况</td>
                                    <td rowspan="4">驱动产业发展情况</td>
                                    <td>海洋战略性新兴年均增速</td>
                                    <td rowspan="4">优秀</td>
                                </tr>
                                <tr>
                                    <td>海洋战略性新兴产业聚集区</td>
                                </tr>
                                <tr>
                                    <td>带动新增就业人数和重点</td>
                                </tr>
                                <tr>
                                    <td>通过项目实施形成新生产线</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">产业创新能力提升</td>
                                    <td>成果形成情况（含申请发明）</td>
                                    <td rowspan="4">优秀</td>
                                </tr>
                                <tr>
                                    <td>成果转化情况（含成果转化）</td>
                                </tr>
                                <tr>
                                    <td>地方及企业的研发投入</td>
                                </tr>
                                <tr>
                                    <td>产学研用协同创新情况</td>
                                </tr>
                                <tr>
                                    <td rowspan="3">经济、生态及社会效益</td>
                                    <td>对海洋经济规模化贯彻落实</td>
                                    <td rowspan="3">优秀</td>
                                </tr>
                                <tr>
                                    <td>对海洋生态环境保护和生态</td>
                                </tr>
                                <tr>
                                    <td>政策宣传效果</td>
                                </tr>
                                <tr>
                                    <td>专家意见</td>
                                    <td colspan="3">浦东新区通过政策倾斜，有效推动了全区海洋产业发展，依托浦东新区
                                        的产业政策体系，在智能制造、产业转型升级、战略新兴产业专项等中，强化对海洋经济
                                        发展的扶持，统筹新区产业政策资源，提升了上下游产业链的协同创新能力，加强了产业集聚效应。
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </el-dialog>

            <!-- 其他专家评级明细 -->
            <el-dialog
            title="专家评级详情（李丽）"
            :visible.sync="dialogVisibleOther2"
            width="800px"
            :before-close="handleCloseOther2">
                <div class="hx-dialog2 clear">
                    <div class="tab-card">
                        <table class="table" style="margin-top:0;cellspacing=0;border-collaspe:collaspe;cellspacing:0">
                            <tbody>
                                <tr>
                                    <td width="150" style="background:#f1f1f1;color:#333333;">总体指标</td>
                                    <td width="300" colspan="2" style="background:#f1f1f1;color:#333333;">评分标准</td>
                                    <td width="200" style="background:#f1f1f1;color:#333333;">评级</td>
                                </tr>
                                <tr>
                                    <td rowspan="3">资金政策集成创新</td>
                                    <td>资源政策集成</td>
                                    <td>促进资源向优先发展</td>
                                    <td>合格</td>
                                </tr>
                                <tr>
                                    <td>资金政策创新</td>
                                    <td>财税、金融等政策和模式</td>
                                    <td>优秀</td>
                                </tr>
                                <tr>
                                    <td>多元资金集成</td>
                                    <td>多元资金集成</td>
                                    <td>良好</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">经济效益指标</td>
                                    <td>项目立项情况</td>
                                    <td>项目库内重点项目立项情况</td>
                                    <td>合格</td>
                                </tr>
                                <tr>
                                    <td>存在问题项目情况</td>
                                    <td>存在关键指标降低、延期</td>
                                    <td>优秀</td>
                                </tr>
                                <tr>
                                    <td>检验验收情况</td>
                                    <td>项目接受检查以及验收</td>
                                    <td>良好</td>
                                </tr>
                                <tr>
                                    <td>创业创新情况</td>
                                    <td>推进企业技术、管理</td>
                                    <td>合格</td>
                                </tr>
                                <tr>
                                    <td>专家意见</td>
                                    <td colspan="3">浦东新区通过政策倾斜，有效推动了全区海洋产业发展，依托浦东新区
                                        的产业政策体系，在智能制造、产业转型升级、战略新兴产业专项等中，强化对海洋经济
                                        发展的扶持，统筹新区产业政策资源，提升了上下游产业链的协同创新能力，加强了产业集聚效应。
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </el-dialog>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            valueState:0,
            dialogVisible:false,
            dialogVisibleMX:false,
            dialogVisible2:false,
            dialogVisibleOtherMX:false,
            dialogVisibleOther:false,
            dialogVisibleOther2:false,
            dialogVisibleliji:false,
            state:[
                {
                    label:'全部',
                    value:0
                },
                {
                    label:'评级中',
                    value:1
                },
                {
                    label:'评级完成',
                    value:2
                },
            ],
            zhiBiao:[
                {
                    name:'机制建立与运行情况',
                    id:0
                },
                {
                    name:'资金政策集成创新',
                    id:1
                },
                {
                    name:'项目执行情况',
                    id:2
                },
                {
                    name:'绩效目标完成情况',
                    id:3
                },
                {
                    name:'专家意见',
                    id:4
                }
            ],
            zhibiaoI:0,
            zhibiaoIMX:0,
            zhibiaoDetail:[

            ],
            zhibiaoDetail1:[
                {
                    zhibiaoA:'组织机制建立',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
                {
                    zhibiaoA:'政策制度保障',
                    biaozhun:'制定出台项目资金管理...',
                    fenzhi:'3'
                },
                {
                    zhibiaoA:'过程管理',
                    biaozhun:'项目立项、审批、监管...',
                    fenzhi:'4'
                },
                {
                    zhibiaoA:'海洋经济运行监测',
                    biaozhun:'企业报送率至少在90%...',
                    fenzhi:'3'
                },
                {
                    zhibiaoA:'整改落实',
                    biaozhun:'定期与不定期考核...',
                    fenzhi:'5'
                }
            ],
            zhibiaoDetail2:[
                {
                    zhibiaoA:'指标A',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
                {
                    zhibiaoA:'指标B',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
                {
                    zhibiaoA:'指标C',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
                {
                    zhibiaoA:'指标D',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
                {
                    zhibiaoA:'指标E',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
            ],
            zhibiaoDetail3:[
                {
                    zhibiaoA:'指标1',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
                {
                    zhibiaoA:'指标2',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
                {
                    zhibiaoA:'指标3',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
                {
                    zhibiaoA:'指标4',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
                {
                    zhibiaoA:'指标5',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
            ],
            zhibiaoDetail4:[
                {
                    zhibiaoA:'指标01',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
                {
                    zhibiaoA:'指标02',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
                {
                    zhibiaoA:'指标03',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
                {
                    zhibiaoA:'指标04',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
                {
                    zhibiaoA:'指标05',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
            ],
            zhibiaoDetail5:[
                {
                    zhibiaoA:'指标001',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
                {
                    zhibiaoA:'指标002',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
                {
                    zhibiaoA:'指标003',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
                {
                    zhibiaoA:'指标004',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
                {
                    zhibiaoA:'指标005',
                    biaozhun:'组织协调机制建立...',
                    fenzhi:'5'
                },
            ],
            selectRadio:{
                radio1:'',
                radio2:'',
                radio3:'',
                radio4:'',
                radio5:'',
                radio6:'',
                radio7:'',
                radio8:'',
                radio9:'',
                radio10:'',
                radio11:'',
                radio12:'',
                radio13:'',
                radio14:'',
                radio15:'',
            }
        }
    },
    methods: {
        goBack(){
            this.$router.go(-1);//返回上一层
        },
        handleClose(){
            this.dialogVisible = false;
        },
        edit(){
            let _this = this;
            this.zhibiaoDetail = _this.zhibiaoDetail1;
            this.dialogVisible = true;
        },
        ckyj(){//查看意见
            this.dialogVisible2 = true;
        },
        handleClose1(){
            this.dialogVisible2 = false;
        },
        zhiBiaoClick(index){
            let _this = this;
            this.zhibiaoI = index;
            if(index == 0){
                this.zhibiaoDetail = _this.zhibiaoDetail1;
            }else if(index == 1){
                this.zhibiaoDetail = _this.zhibiaoDetail2;
            }else if(index == 2){
                this.zhibiaoDetail = _this.zhibiaoDetail3;
            }else if(index == 3){
                this.zhibiaoDetail = _this.zhibiaoDetail4;
            }else if(index == 4){
                this.zhibiaoDetail = _this.zhibiaoDetail5;
            }
        },
        handleCloseMX(){
            this.dialogVisibleMX = false;
        },
        detail(){
            let _this = this;
            this.zhibiaoDetail = _this.zhibiaoDetail1;
            this.dialogVisibleMX = true;
        },
        zhiBiaoClickMX(index){
            let _this = this;
            this.zhibiaoIMX = index;
            if(index == 0){
                this.zhibiaoDetail = _this.zhibiaoDetail1;
            }else if(index == 1){
                this.zhibiaoDetail = _this.zhibiaoDetail2;
            }else if(index == 2){
                this.zhibiaoDetail = _this.zhibiaoDetail3;
            }else if(index == 3){
                this.zhibiaoDetail = _this.zhibiaoDetail4;
            }else if(index == 4){
                this.zhibiaoDetail = _this.zhibiaoDetail5;
            }
        },
        handleCloseOtherMX(){
            this.dialogVisibleOtherMX = false;
        },
        otherDetail(){//其他专家评级详情
            this.dialogVisibleOtherMX = true;
        },
        otherDetail2(){
            this.dialogVisibleOther = true;
        },
        ljpj(){
            this.dialogVisibleliji = true;
        },
        handleCloseliji(){
            this.dialogVisibleliji = false;
        },
        otherDetail3(){
            this.dialogVisibleOther2 = true;
        },
        handleCloseOther2(){
            this.dialogVisibleOther2 = false;
        }
    },
    mounted() {

    },
}
</script>
<style lang="less" scoped>
    .sider{
        height:40px;
        background-color: #f5f5f5;
        padding-left: 30px;
        /deep/.el-breadcrumb {
            line-height: 40px;
        }
    }
    .containt {
        padding: 0 30px;
    }
    .title{
        margin-top:20px;
        .time-title{
            display:inline-block;
            line-height:36px;
        }
        .time-title-middle{
            // float:left;
            display:inline-block;
            line-height:36px;
            margin-left:5px;
        }
        .time-type{
            display:inline-block;
            line-height:36px;
            // margin-left:20px;
        }
        .btn{
            display:inline-block;
            margin-left:20px;
        }
        .dataExport{
            float:right;
        }
    }
    .table{
        // border:1px solid #f1f1f1;
        margin-top:30px;

        tr{
            background:#F5F5F7;
            border-bottom:1px solid #EBEEF5;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:50px;
                border-bottom:1px solid #EBEEF5;
                color:#333;
                &.color1{
                    color:#3fcd74;
                }
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:14px;
                    color:#606266;
                    textarea{
                        color:#333333;
                    }
                }
            }
        }
    }
    .table1{
        border-left:1px solid #eeeeee;
        border-top:1px solid #eeeeee;
        tr{
            td{
                line-height:30px;
                text-align:center;
                padding:10px;
                border-right:1px solid #eeeeee;
                border-bottom:1px solid #eeeeee;
            }
        }
    }
    .agreement{
        width:100%;
        height:auto;
        .p1{
            height:60px;
            line-height:60px;
            font-size:16px;
            border:1px solid #606266;
            padding-left:20px;
            padding-right:20px;
            background:#f1f1f1;
            margin-top:30px;
            .right{
                color:#6e9966;
            }
        }
        .p2{
            margin-top:20px;
            text-indent: 2em;
            font-size:16px;
        }
    }
    .color1{
        color:#3fcd74;
    }
    .color2{
        color:#6677d0;
    }
    .color3{
        color:#6a6699;
    }
    .color4{
        color:#fc774b;
    }
    .color5{
        color:#ff6cd3
    }
    .color6{
        color:#6e9966;
    }
    .color7{
        color:#7b73d1;
    }
    .header-title{
        .title-name{
            color:#ffffff;
            font-size:18px;
        }
        .title-age{
            float:right;
            font-size:14px;
            margin-right:30px;
        }
    }
    /deep/.el-dialog__header{
        background:#a5a5cf;

    }
    /deep/.el-dialog__title{
        color:#ffffff;
    }
    // .quyupingji{
        .hx-dialog2{
            width:100%;
            height:100%;
            .dialog-title{
                width:100%;
                height:40px;
                .leixing{
                    display:inline-block;
                    height:40px;
                    line-height:40px;
                }
                .quyu{
                    display:inline-block;
                    height:40px;
                    line-height:40px;
                    margin-left:10px;
                }
                .beizhu{
                    display:inline-block;
                    height:40px;
                    line-height:40px;
                    margin-left:10px;
                }
                .beizhu-input{
                    display:inline-block;
                    height:40px;
                    line-height:40px;
                    width:350px;
                }
                .pingji-btn{
                    float:right;
                    height:40px;
                }
            }
            .bianji{
                height:100px;
                .left-p{
                    width:360px;
                    height:100%;
                    float:left;
                    // background:red;
                    .quyu{
                        margin-left:0;
                        margin-top:10px;
                    }
                }
                .right-p{
                    float:right;
                    width:700px;
                    height:100%;
                    .beizhu-input{
                        width:600px;
                        height:100px;
                    }
                    /deep/.el-input__inner{
                        height:100px;
                    }
                }
            }
            .tab-card{
                width:100%;
                height:auto;
                margin-top:20px;
                .tab{
                    height:40px;
                    li{
                        float:left;
                        line-height:40px;
                        height:40px;
                        padding-left:20px;
                        padding-right:20px;
                        border:1px solid #eeeeee;
                        margin-left:2px;
                        cursor:pointer;
                        &.mark{
                            background:#a5a5cf;
                            border:1px solid #a5a5cf;
                            color:#ffffff;
                        }
                    }
                }
                .table{
                    td{
                        input{
                            height:20px;
                            width:100px;
                            border:none;
                            text-align:center;
                        }
                        textarea{
                            width:90%;
                            height:40px;
                            border:none;
                            resize:none;
                        }
                    }
                }
                .btns{
                    text-align:center;
                    margin-top:20px;
                }
            }
        }
        /deep/.el-dialog__body{
            padding-top:10px;
        }
        /deep/.el-dialog__header{
            background:#a5a5cf;
        }
        /deep/.el-dialog__title{
            color:#ffffff;
        }
        /deep/.el-dialog__headerbtn .el-dialog__close{
            color:#ffffff;
        }
    // }
</style>
