<template>
    <div style="padding-left:30px;padding-right:30px;">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >项目管理</el-breadcrumb-item>
                <el-breadcrumb-item>区域整体评价管理</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="title">
            <!-- <el-button type="warning" @click="goBack">返回</el-button> -->
            <div class="time-title">考评时间：</div>
            <el-date-picker
            v-model="value1"
            type="date"
            placeholder="选择日期">
            </el-date-picker>
            <div class="time-title-middle">至：</div>
            <el-date-picker
            v-model="value1"
            type="date"
            placeholder="选择日期">
            </el-date-picker>
            <div class="time-type">类型：</div>
            <el-select v-model="value" placeholder="请选择">
                <el-option
                v-for="item in typeList"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                </el-option>
            </el-select>
            <div class="btn"><el-button type="primary">查询</el-button></div>
            <div class="dataExport"><el-button type="warning" >数据导出</el-button></div>
        </div>
        <table class="table" cellspacing="0">
            <thead>
                <tr>
                    <td rowspan="2" width="50">序号</td>
                    <td rowspan="2" width="100">评估时间</td>
                    <td rowspan="2" width="80">项目类型</td>
                    <td rowspan="2" width="200">评估类型</td>
                    <td rowspan="2" width="100">评估时间</td>
                    <td colspan="6" width="600">综合评估结果</td>
                    <td rowspan="2" width="350">评估专家</td>
                    <td rowspan="2" width="100">状态</td>
                    <td rowspan="2" width="100">备注</td>
                    <td rowspan="2" width="200">操作</td>
                </tr>
                <tr>
                    <td>上海</td>
                    <td>浙江</td>
                    <td>江苏</td>
                    <td>福建</td>
                    <td>宁波</td>
                    <td>厦门</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2019-02-22</td>
                    <td>十三五</td>
                    <td>年度</td>
                    <td>2018年</td>
                    <td>92</td>
                    <td>92</td>
                    <td>92</td>
                    <td>92</td>
                    <td>92</td>
                    <td>92</td>
                    <td>10位（李章华、张曼、刘丽、卿小强、李戡......）</td>
                    <td>评估完成</td>
                    <td>无</td>
                    <td><el-button type="text" @click="goToDeatil">区域评估详情</el-button></td>
                </tr>

            </tbody>
        </table>
    </div>
</template>
<script>
export default {
    data(){
        return{
            typeList:[
                {
                    label:'全部',
                    value:0
                },
                {
                    label:'年度',
                    value:1
                },
                {
                    label:'季度',
                    value:2
                },
                {
                    label:'月度',
                    value:3
                },
                {
                    label:'中期验收',
                    value:4
                },
                {
                    label:'最终验收',
                    value:5
                },
            ]
        }
    },
    methods: {
        goToDeatil(){
            this.$router.push({ path: '/projectML/qypgxq', query: { type: '1' }})
        }
    },
}
</script>
<style lang="less" scoped>
    .sider{
        padding-top:20px;
    }
    .title{
        margin-top:20px;
        .time-title{
            display:inline-block;
            line-height:36px;
        }
        .time-title-middle{
            // float:left;
            display:inline-block;
            line-height:36px;
            margin-left:5px;
        }
        .time-type{
            display:inline-block;
            line-height:36px;
            margin-left:20px;
        }
        .btn{
            display:inline-block;
            margin-left:20px;
        }
        .dataExport{
            float:right;
        }
    }
    .table{
        // border:1px solid #f1f1f1;
        margin-top:30px;
        tr{
            background:#a5a5cf;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:50px;
                border:1px solid #eeeeee;
                border-right:none;
                border-bottom:none;
                color:#ffffff;
                font-size:16px;
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:12px;
                    color:#606266;
                }
            }
        }
    }
</style>
