<template>
    <div>
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >项目综合管理</el-breadcrumb-item>
                <el-breadcrumb-item>项目进度管理</el-breadcrumb-item>
                <el-breadcrumb-item>项目完成情况统计图</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="tongji">
            <div class="title">
                <el-button type="warning" @click="goBack">返回</el-button>
                <div class="type">
                    <span>项目类型：</span>
                    <el-select v-model="valueproject" placeholder="请选择">
                        <el-option
                        v-for="item in chanyeType"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="area">
                    <span>区域：</span>
                    <el-select v-model="area" placeholder="请选择">
                        <el-option
                        v-for="item in areaType"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="chanyeType">
                    <span>产业类型：</span>
                    <el-select v-model="type" placeholder="请选择">
                        <el-option
                        v-for="item in chanyeType"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <el-button type="primary">查询</el-button>
                <div class="desc">
                    <span>进行中：3</span>
                    <span>已验收：0</span>
                    <span class="span3">延期：0</span>
                    <span class="span4">终止：50</span>
                </div>
            </div>
            <div class="tongji-echarts" id="tongjiEcharts">这是统计图~暂无数据</div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            valueproject:0,
            area:0,
            type:0,
            chanyeType:[
                {
                    label:'十三五',
                    value:0
                }
            ],
            areaType:[
                {
                    label:'上海',
                    value:0
                }
            ],
            chanyeType:[
                {
                    label:'海洋高端装备',
                    value:0
                }
            ]
        }
    },
    methods: {
        goBack(){
            this.$router.go(-1);//返回上一层
        },
        mapOne(){
        let option = {
                color: new this.$echarts.graphic.LinearGradient(
                    0, 1, 0, 0,
                    [{
                            offset: 0,
                            color: '#4555d0'
                        },
                        {
                            offset: 1,
                            color: 'rgb(92,108,231)'
                        }
                    ]
                ),
                grid: {
                    top: '10%',
                    bottom: '20%',
                    left: '2%',
                    right: '2%'
                },
                xAxis: {
                    data: ['智能立体的海底科学观测网产业化','海上固定式多功能LNG接收分销中心的研发及产业化','南极磷虾获取-冷冻-脱壳全套智能加工设备关键技术转化及产业化开发'],
                    axisTick: {
                        show: false
                    },
                    axisLine: {
                        show:false,
                        lineStyle: {
                            color: '#408eff',
                        }
                    },
                    axisLabel: {
                        interval: 0,
                        margin: 21,
                        // color: '#fff',
                        fontSize: 18,
                        fontFamily: 'Microsoft YaHei',
                        formatter: function(value, index) {
                            if (value.length > 2) {
                                value = value.substring(0, 2) + '' + value.substring(2);
                            }
                            return value;
                        }
                    }
                },
                yAxis: {
                    type: 'value',
                    max:100,
                    splitLine: {
                        show: true
                    },
                    axisTick: {
                        show: true
                    },
                    axisLine: {
                        show: true
                    },
                    axisLabel: {
                        show: true
                    }
                },
                series: [{
                        type: 'pictorialBar',
                        symbolSize: [102, 27],
                        symbolOffset: [-110, '-50%'],
                        z: 12,
                        data: [{
                            value: '60',
                            symbolPosition: 'end'
                        }, {
                            value: '60',
                            symbolPosition: 'end'
                        }, {
                            value: '60',
                            symbolPosition: 'end'
                        }]
                    }, {
                        type: 'pictorialBar',
                        symbolSize: [102,27],
                        symbolOffset: [0, '50%'],
                        z: 12,
                        itemStyle: {
                            normal: {
                                color: '#4555d0'
                            }
                        },
                        barWidth:102,
                        data: [60,60,60]
                    },
                    {
                        type: 'bar',
                        offset: [-30, 30],
                        label: {
                            show: true,
                            position: 'top',
                            // color: '#fff',
                            fontSize: 33,
                            fontFamily: 'Microsoft YaHei',
                            distance:25,
                            formatter: '{c}'
                        },
                        silent: true,
                        barWidth: 102,
                        data: [60,60,60]
                    }
                ]
            };
            var myChart = this.$echarts.init(document.getElementById('tongjiEcharts'));
            myChart.setOption(option);
        }
    },
    mounted() {
        this.mapOne();
    },
}
</script>
<style lang="less" scoped>
    .sider{
        padding-left:30px;
        padding-right:30px;
        padding-top:20px;
    }
    .tongji{
        width:100%;
        height:auto;
        padding-left:30px;
        padding-right:30px;
        margin-top:20px;
        .type,.area,.chanyeType{
            display:inline-block;
            margin-left:20px;
        }
        .desc{
            float:right;
            height:40px;
            line-height:50px;
            font-size:14px;
            span{
                padding-left:15px;
            }
            .span3,.span4{
                color:red;
            }
        }
        .tongji-echarts{
            width:100%;
            height:600px;
            padding:2% 5%;
            background:#ffffff;
            margin-top:20px;
        }
        /deep/.el-button--primary{
            margin-left:20px;
        }
    }
</style>
