<template>
    <section>
        <video id="video1" controls="controls" width="1920px" height="1000px" >
            <source src="http://211.95.41.112:8999/front/video/p1%E8%A7%86%E9%A2%911.mp4"> 
        </video>
    </section>
</template>