 <template>
    <div style="height: 100%;overflow-y: auto">
        <div v-if="mainShow" style="height: 100%;overflow-y: auto">
            <div class="sider">
                <el-breadcrumb >
                    <el-breadcrumb >
                        <el-breadcrumb-item>项目管理</el-breadcrumb-item>
                        <el-breadcrumb-item>项目进度汇报</el-breadcrumb-item>
                    </el-breadcrumb>
                </el-breadcrumb>
            </div>
            <div class="container">
                <div class="tab">
                    <el-tabs v-model="activeName" @tab-click="handleClick">
                        <el-tab-pane label="第一年度考核" name="第一年度考核"></el-tab-pane>
                        <el-tab-pane label="中期考核" name="中期考核"></el-tab-pane>
                        <el-tab-pane label="最终验收" name="最终验收"></el-tab-pane>
                    </el-tabs>
                    <el-form class="slider" inline>
                        <el-form-item>
                            <el-input
                                style="width: 290px"
                                placeholder="请输入项目名称/单位名称进行搜索"
                                prefix-icon="el-icon-search"
                                @keyup.enter.native="getProcessList"
                                v-model="searchMenu.keyword">
                            </el-input>
                        </el-form-item>
                        <el-form-item label="项目类型">
                            <el-select v-model="searchMenu.projectType" style="width: 120px" @change="typeChange">
                                <el-option label="不限" value=""></el-option>
                                <el-option label="十二五" value="1"></el-option>
                                <el-option label="十三五" value="2"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="区域">
                            <!-- <el-select v-model="searchMenu.area" style="width: 120px" @change="getProcessList">
                                <el-option value="" label="不限"></el-option>
                                <el-option v-for="(item,index ) in areaList" :label="item" :value="item" :key="index"></el-option>
                            </el-select> -->
                            <el-cascader
                            v-model="searchMenu.area"
                            :options="optionshx"
                            :show-all-levels=false
                            :props="{ expandTrigger: 'hover' }"
                            @change="getProcessList"></el-cascader>
                        </el-form-item>
                        <el-form-item label="产业类型">
                            <el-select v-model="searchMenu.projectIndustry"  style="width: 120px" placeholder="请选择" @change="getProcessList">
                                <el-option
                                    v-for="item in projectIndustryList"
                                    :key="item.orderNum"
                                    :label="item.valueDesc"
                                    :value="item.orderNum">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-form>
                </div>
                <div class="tables">
                    <el-table
                        :data="processList"
                        style="width: 100%">
                        <el-table-column
                            type="index"
                            label="序号"
                            fixed
                            width="60">
                        </el-table-column>
                        <el-table-column
                            prop="area"
                            label="区域"
                            width="80">
                        </el-table-column>
                        <el-table-column
                            prop="projectName"
                            width="600"
                            show-overflow-tooltip
                            label="项目名称">
                            <template slot-scope="scope">
                                <span style="cursor: pointer" class="projectName" @click="look_details(scope.row)">{{scope.row.projectName}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                            prop="projectCompany"
                            width="400"
                            show-overflow-tooltip
                            label="承担单位">
                        </el-table-column>
                        <el-table-column
                            prop="projectType"
                            label="项目类型">
                        </el-table-column>
                        <el-table-column
                            prop="projectStage"
                            label="项目阶段">
                        </el-table-column>
                        <el-table-column
                            prop="stageDate"
                            width="120"
                            label="考核时间">
                        </el-table-column>
                        <el-table-column
                            prop="projectStatus"
                            label="项目状态">
                        </el-table-column>
                        <el-table-column
                            width="120"
                            label="综合完成进度">
                            <template slot-scope="scope">
                                <span>{{scope.row.completeRate}}%</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                            prop="address"
                            fixed="right"
                            width="120"
                            label="操作">
                            <template slot-scope="scope">
                                <el-button
                                    size="small"
                                    type="text"
                                    style="font-size: 14px"
                                    @click="look_detail(scope.row)">查看进度详情
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pages">
                        <el-pagination
                            layout="prev, pager, next"
                            :current-page.sync="searchMenu.page"
                            :page-size="20"
                            @current-change="getProcessList"
                            hide-on-single-page
                            :total="processList.length">
                        </el-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                activeName: '第一年度考核',
                searchMenu: {
                    stage: '第一年度考核',
                    projectType: '2',
                    area: '浦东新区',
                    projectIndustry: '',
                    page: 1,
                    keyword: ''
                },
                projectIndustryList: [],
                processList: [],
                mainShow: true,
                detailData: {},
                areaList: ['南通','浦东新区','舟山','宁波','厦门','福州'],
                optionshx:[{
                    value: '江苏',
                    label: '江苏',
                    children: [{
                        value: '南通',
                        label: '南通',
                    }]
                }, {
                    value: '上海',
                    label: '上海',
                    children: [{
                        value: '浦东新区',
                        label: '浦东新区',
                    }]
                },{
                    value: '浙江',
                    label: '浙江',
                    children: [{
                        value: '舟山',
                        label: '舟山',
                    }]
                },{
                    value: '福建',
                    label: '福建',
                    children: [{
                        value: '宁波',
                        label: '宁波',
                    },{
                        value: '厦门',
                        label: '厦门',
                    },{
                        value: '福州',
                        label: '福州',
                    }]
                }],
                optionshx1:[{
                    value: '江苏',
                    label: '江苏',
                    children: [{
                        value: '南通',
                        label: '南通',
                    }]
                }, {
                    value: '上海',
                    label: '上海',
                    children: [{
                        value: '浦东新区',
                        label: '浦东新区',
                    }]
                },{
                    value: '浙江',
                    label: '浙江',
                    children: [{
                        value: '舟山',
                        label: '舟山',
                    }]
                },{
                    value: '福建',
                    label: '福建',
                    children: [{
                        value: '宁波',
                        label: '宁波',
                    },{
                        value: '厦门',
                        label: '厦门',
                    },{
                        value: '福州',
                        label: '福州',
                    }]
                }],
                optionshx2:[
                    {
                        value: '江苏',
                        label: '江苏',
                    },
                    {
                        value: '上海',
                        label: '上海',
                    },
                    {
                        value: '浙江',
                        label: '浙江',
                    },
                    {
                        value: '福建',
                        label: '福建',
                        children: [{
                            value: '福建',
                            label: '福建',
                        },{
                            value: '厦门',
                            label: '厦门',
                        }]
                    }
                ]
            }
        },
        methods: {
            look_details(obj){
                this.$router.push({ path: '/dataManage/xmxq',query:{projectId: obj.projectId}});
            },
            typeChange(val){
                if(val == 1){
                    this.areaList = ['上海','浙江','江苏','福建','厦门']
                    this.optionshx = this.optionshx2;
                }else{
                    this.areaList = ['南通','浦东新区','舟山','宁波','厦门','福州']
                    this.optionshx = this.optionshx1;
                }
                this.searchMenu.area = ''
                this.getProcessList()
            },
            handleClick(int) {
                this.activeName = int.name
                this.searchMenu.stage = int.name
                this.getProcessList()
            },
            look_detail(obj) {
                let param = {
                    projectId: obj.projectId,
                    projectStage:obj.projectStage,
                    type:1,
                    reportId:obj.reportId,
                    projectName:obj.projectName,
                    projectCompany:obj.projectCompany
                }
                this.detailData = param

                this.$router.push({name: 'processDetail', params: {detailData: this.detailData}})

                // this.$router.push({path:'/dataManage/zjtx',query: { projectId:obj.projectId,projectStage:obj.projectStage,type:1,reportId:obj.reportId,projectName:obj.projectName,projectCompany:obj.projectCompany}});
            },
            getProcessList(type){
                if(type){
                    this.searchMenu.stage = type
                    this.activeName = type
                }
                this.$post('/projectScheduleManagement',this.searchMenu)
                    .then(data =>{
                        this.processList = data.data.resultData.records
                    })
            },
            getProjectIndustry(){
                this.$axios.get('/Const/list',{params:{type:1001}})
                    .then(res=>{
                        let obj = {
                            valueDesc: '不限',
                            orderNum: ''
                        }
                        res.data.resultData.unshift(obj)
                        this.projectIndustryList = res.data.resultData
                    })
            },

        },
        created() {
            this.getProjectIndustry()
            this.getProcessList('中期考核')
        },
    }
</script>
<style lang="scss" scoped>
    .el-table >>> .projectName{
        &:hover{
            color: rgb(24, 144, 255);
        }
    }
    .tab >>> .el-tabs__header{
        margin: 0;
    }
    .tab >>> .el-tabs{
        height: 40px;
    }
    .slider{
        padding: 0 !important;
    }
    .sider {
        height: 40px;
        background-color: #fff;
        padding-left: 20px;
        border-bottom: 1px solid #f5f5f5;

        /deep/ .el-breadcrumb {
            line-height: 40px;
        }
    }
    .tables .pages{
        margin-top: 15px;
        display: flex;
        flex-direction: row-reverse;
    }
    .container {
        padding: 0 20px;
        background: #fff;
        height: calc(100% - 40px);
        overflow-y: auto;
    }

    .tab {
        background: #fff;
        padding: 6px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #f5f5f5;
    }
    .tables{
        margin-top: 10px;
    }

    /deep/ .el-tabs__item {
        font-size: 16px;
    }

    /deep/ .el-tabs__nav-wrap::after {
        height: 0px;
    }
</style>
