<template>
    <div>
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb >
                    <el-breadcrumb-item>项目管理</el-breadcrumb-item>
                    <el-breadcrumb-item>项目动态监测</el-breadcrumb-item>
                </el-breadcrumb>
            </el-breadcrumb>
        </div>
        <div class="projectMain">
            <div class="projectList">
                <h3><span class="el-icon-s-order"></span>项目列表</h3>
<!--                <p class="selectArea">-->
<!--                    &lt;!&ndash; <el-select @change="getProjectList" v-model="selectMenu.area" placeholder="请选择">-->
<!--                        <el-option-->
<!--                            v-for="item in areaList"-->
<!--                            :key="item.value"-->
<!--                            :label="item.label"-->
<!--                            :value="item.value">-->
<!--                        </el-option>-->
<!--                    </el-select> &ndash;&gt;-->
<!--                </p>-->
                <ul>
                    <li v-for="item in projectList.projects"><img :src="icon">
                        <el-tooltip class="item" effect="light" :content="item.projectName" placement="top">
                            <span style="cursor: pointer" @click="look_detail(item)">{{item.projectName}}</span>
                        </el-tooltip>
                    </li>
                </ul>
            </div>
            <div class="projectStageMap">
                <div class="stageMain">
                    <div class="stageTitle">
                        <div>
                            <span>第一年度考核</span>
                        </div>
                        <div>
                            <span>中期考核</span>
                        </div>
                        <div>
                            <span>最终验收</span>
                        </div>
                    </div>
                    <ul>
                        <li v-for="item in projectList.projects">
                            <el-tooltip class="item" effect="light"  placement="top">
                                <template slot="content" style="line-height: 16px">
                                    <p style="width: 500px;overflow: hidden;vertical-align: top;color: #666;line-height: 20px"><span style="font-size: 14px;color: #333;font-weight: 700">绩效目标完成情况</span>：{{item.totalTarget}}</p>
                                    <p style="color: #666;line-height: 20px"><span style="font-size: 14px;color: #333;font-weight: 700">项目综合完成度</span>：{{item.firstStage}}%</p>
                                </template>
                                <span @click="openDrawer(item.projectId,'第一年度考核',item)" v-if="item.firstStage > 0" class="span1" :style="{width: item.firstStage+'%',backgroundColor: '#6487FC'}"></span>
                            </el-tooltip>
                            <el-tooltip class="item" effect="light" content="Top Center 提示文字" placement="top">
                                <template slot="content" style="line-height: 16px">
                                    <p style="width: 500px;overflow: hidden;vertical-align: top;color: #666;line-height: 20px"><span style="font-size: 14px;color: #333;font-weight: 700">绩效目标完成情况</span>：{{item.totalTarget}}</p>
                                    <p style="color: #666;line-height: 20px"><span style="font-size: 14px;color: #333;font-weight: 700">项目综合完成度</span>：{{item.centerStage}}%</p>
                                </template>
                                <span @click="openDrawer(item.projectId,'中期考核',item)" v-if="item.centerStage > 0" class="span2" :style="{width: item.centerStage+'%',backgroundColor: '#00E7A6'}"></span>
                            </el-tooltip>
                            <el-tooltip class="item" effect="light" content="Top Center 提示文字" placement="top">
                                <template slot="content" style="line-height: 16px">
                                    <p style="width: 500px;overflow: hidden;vertical-align: top;color: #666;line-height: 20px"><span style="font-size: 14px;color: #333;font-weight: 700">绩效目标完成情况</span>：{{item.totalTarget}}</p>
                                    <p style="color: #666;line-height: 20px"><span style="font-size: 14px;color: #333;font-weight: 700">项目综合完成度</span>：{{item.lastStage}}%</p>
                                </template>
                                <span @click="openDrawer(item.projectId,'最终验收',item)" v-if="item.lastStage > 0" class="span3" :style="{width: item.lastStage+'%',backgroundColor: '#FCD633'}"></span>
                            </el-tooltip>
                            <p>{{Number(item.firstStage) + Number(item.centerStage) + Number(item.lastStage)}}%</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tablemap clear">
            <div class="div1">
                <h3>指标完成情况</h3>
                <div class="table">
                    <table style="width: 1150px; border-spacing: 0;" cellspacing="0">
                        <tr>
                            <td style="width: 30%">指标名称</td>
                            <td style="width: 30%">指标值</td>
                            <td style="width: 30%">当前完成进度</td>
                        </tr>
                        <tr v-for="item in tableList" :key="item.index">
                            <td>{{item.thirdTarget}}</td>
                            <td>{{item.targetValue}}</td>
                            <td>{{item.completeDesc}}%</td>
                        </tr>
                    </table>
                </div>
            </div>
<!--            <div class="div2">-->
<!--                <div class="part1" id="map1"></div>-->
<!--                <ul class="part2">-->
<!--                    <li>第一年度使用专项资金：{{funds[0].actualSpecial}}万</li>-->
<!--                    <li>中期使用专项资金：{{funds[1].actualSpecial}}万</li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            projectCount: [],
            selectMenu: {
                area: '浦东新区'
            },
            areaList:[
                // {
                //     label:'全部',
                //     value:''
                // },
                {
                    label:'浦东新区',
                    value: '浦东新区'
                },
                {
                    label:'舟山',
                    value:'舟山'
                },
                {
                    label:'宁波',
                    value:'宁波',
                },
                {
                    label:'厦门',
                    value:'厦门',
                },
                {
                    label:'福州',
                    value:'福州',
                },
                {
                    label:'南通',
                    value:'南通',
                },
            ],
            projectList: {
                projects: []
            },
            icon: require('../../assets/analysis/proIcon.svg'),
            tableList:[],
            funds:[
                {actualSpecial:0},
                {actualSpecial:0},
            ]
        }
    },
    methods: {
        changeHeight(){
            // setTimeout( _=>{
            //     let mainBox = document.getElementsByClassName('projectMain')[0].offsetHeight
            //     let windowBox = 935 - (Number(mainBox) + 140 + 1) - 125
            //     let table = document.getElementsByClassName('table')[0]
            //     table.style.height = `${windowBox}px`
            // },1000)
        },
        look_detail(obj){
            this.$router.push({ path: '/dataManage/xmxq',query:{projectId: obj.projectId}});
        },
        drawMap3(){
            let ysy = 0;
            let wsy = 0;
            for(let i = 0;i<this.funds.length;i++){

                ysy += this.funds[i].expendAmount;
                wsy += (this.funds[i].actualSpecial-this.funds[i].expendAmount);
            }
            let option = {
                title: {
                    show:false,
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                grid:{
                    top:1,
                    left:10
                },
                series: [
                    {
                        name: '金额',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        label:{
                            position:'inside'
                        },
                        data: [
                            {
                                value: ysy,
                                name: '已使用资金',
                                itemStyle:{
                                    color:'#3699fd'
                                }
                            },
                            {
                                value: wsy,
                                name: '未使用',
                                itemStyle:{
                                    color:'#47c36a'
                                }
                            },
                        ],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            var myChart = this.$echarts.init(document.getElementById('map1'));
            myChart.setOption(option);
        },
        openDrawer(){

        },
        getProjectList(){
            let _this = this;
            let param = {};
            param.pageIndex = 1;
            param.area = this.selectMenu.area;
            param.projectIndustry = 1;
            param.projectType = 2;
            this.$post('/eventList',param)
                .then(res =>{
                    this.projectList = res.data.data
                    let arr = this.projectList.records
                    arr.forEach(item =>{
                        if(item.projectStage == '中期考核'){
                            let value = 0 || item.completeRate
                            this.$set(item,'centerStage',value)
                        }
                        if(item.projectStage == '第一年度考核'){
                            let value = 0 || item.completeRate
                            this.$set(item,'firstStage',value)
                        }
                        if(item.projectStage == '最终验收'){
                            let value = 0 || item.completeRate
                            this.$set(item,'lastStage',value)
                        }
                    })
                    for(let i = 0;i < arr.length;i++){
                        for(let j=i+1; j<arr.length; j++){
                            if(arr[i].projectId == arr[j].projectId){
                                Object.assign(arr[i],arr[i],arr[j])
                                arr.splice(j,1);
                                j--;
                            }
                        }
                    }
                    arr.forEach(item =>{
                        if(!Object.keys(item).includes('firstStage')){
                            this.$set(item,'firstStage',0)
                        }
                        if(!Object.keys(item).includes('centerStage')){
                            this.$set(item,'centerStage',0)
                        }
                        if(!Object.keys(item).includes('lastStage')){
                            this.$set(item,'lastStage',0)
                        }
                        this.$set(item,'percent',Number(item.firstStage + item.centerStage + item.lastStage))
                    })
                    this.$set(this.projectList,'projects',arr);
                    // _this.czzj();

                })
        },
        getZb(){
            let _this = this;
            this.$post('/businessDetails',{}).then(function(res){
                _this.tableList = res.data.data;
            });
        },
        czzj(){
            let _this = this;
            this.$post('/useOfFinancialFunds',{}).then(function(res){
                _this.funds = res.data.data;
                _this.drawMap3();
            });
        },
    },
    mounted() {
        // this.drawMap3();
        this.getZb();
        // this.czzj();
        this.getProjectList()
        this.changeHeight();

    },
    created() {
        // this.getProjectList()
    }
}
</script>
<style lang="scss" scoped>
    @media screen and (max-width: 1700px){
        .projectMain{
            .projectList{
                width: 400px !important;
            }
            .projectStageMap{
                width: calc(100% - 400px) !important;
            }
        }
    }
.sider{
        height:40px;
        background-color: #fff;
        padding-left:20px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #f5f5f5;
        /deep/.el-breadcrumb {
            line-height: 40px;
        }
    }
    .con{
        background:#ffffff;
        margin-top:10px;

    }
.projectMain{
    background: #fff;
    display: flex;
    margin-bottom: 10px;
}
.projectList{
    width:600px;
    height:auto;
    padding-bottom: 50px;
    box-shadow:0 0 3px 0 #cccccc;
    h3{
        height: 45px;
        line-height: 45px;
        padding-left: 20px;
        background: #FAFBFD;
        font-size:18px;
        border-bottom:1px solid #f1f1f1;
        span{
            font-size:20px;
            color:#409EFF;
            margin-right:10px;
        }
    }
    .selectArea{
        margin-top:10px;
        padding-left:20px;
        height:32px;
    }
    ul{
        width:100%;
        height:auto;
        li{
            font-size: 16px;
            padding-top: 30px;
            display: flex;
            align-items: center;
            width: 100%;
            img{
                display: block;
                margin-left: 20px;
                margin-right: 15px;
            }
            span{
                width: 80%;
                display: inline-block;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
            }
            &:hover{
                color: rgb(24,144,255);
            }
        }
    }
}
.projectStageMap{
    width: calc(100% - 600px);
    padding-bottom:25px;
    min-height: 250px;
    box-shadow:0 0 3px 0 #cccccc;
    .stageMain{
        padding: 0 10px;
        h3{
            height: 45px;
            line-height: 45px;
            font-size: 16px;
            font-weight: 500;
            border-bottom:1px solid #f1f1f1;
            padding-left: 20px;
        }
        .stageTitle{
            height: 42px;
            line-height: 42px;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            div{
                width: 300px;
                text-align: center;
                &:nth-child(2){
                    span{
                        background: #4A6FF6;
                        color: white;
                        width: 75px;
                        height: 28px;
                        line-height: 28px;
                        display: inline-block;
                        border-radius: 5px;
                    }
                }
            }
        }
        ul{
            width: 100%;
            background: url("../../assets/analysis/bg.png") no-repeat center;
            background-size: 100% 100%;
            padding-bottom: 30px;
            min-height: 200px;
            li{
                height: 53px;
                padding-top: 30px;
                display: flex;
                padding-right: 30px;
                span{
                    display: inline-block;
                    height: 23px;
                    &:last-of-type{
                        border-top-right-radius: 40px;
                        border-bottom-right-radius: 40px;
                    }
                        &:hover{
                            opacity: 0.6;
                            cursor: pointer;
                        }
                }
                p{
                    margin-left: 20px;
                    font-size: 16px;
                }
            }
        }
    }
}
    .tablemap{
        margin-top: 10px;
        width: 100%;
        .div1{
            float:left;
            width: calc(100%);
            min-height: 400px;
            height:auto;
            background:#fff;
            padding-bottom:30px;
            h3{
                height:60px;
                line-height:60px;
                font-size:16px;
                padding-left:20px;
                border-bottom:1px solid #f1f1f1;
            }
            .table{
                padding-left:50px;
                padding-right:50px;
                margin-top:20px;
                color: #555;
                font-size: 14px;
            }
        }
        .div2{
            float:left;
            width:600px;
            height:400px;
            margin-left:10px;
            background:#fff;
            .part1{
                float:left;
                width:300px;
                height:300px;
            }
            .part2{
                float:left;
                margin-top:120px;
                margin-left:20px;
                li{
                    height:40px;
                    width:250px;
                    text-align:center;
                    line-height:40px;
                    background:#1e5cb4;
                    margin-top:10px;
                    color:#fff;
                    font-size:14px;
                }
            }
        }
    }
    table{
        width:100%;
        border-right:1px solid #F2F2F2;
        border-top:1px solid #F2F2F2;
        border-bottom:none;
        tr{
            td{
                padding:6px;
                border:1px solid #F2F2F2;
                border-top:none;
                // border-bottom:none;
                border-right:none;
            }
        }
    }
</style>
