<template>
    <div>
        <div class="slider">
            <el-breadcrumb >
                <el-breadcrumb >
                    <el-breadcrumb-item>项目管理</el-breadcrumb-item>
                    <el-breadcrumb-item>项目动态监测</el-breadcrumb-item>
                </el-breadcrumb>
            </el-breadcrumb>

            <el-form inline>
                <el-form-item label="项目类型">
                    <el-select v-model='selectMenu.projectType' @change="getProject">
                        <el-option value="" label="不限"></el-option>
                        <el-option value="1" label="十二五"></el-option>
                        <el-option value="2" label="十三五"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="产业类型">
                    <el-select v-model="selectMenu.projectIndustry" @change="getProject">
                        <el-option value="" label="不限"></el-option>
                        <el-option value="1" label="产业链协同创新类/海洋生物产业"></el-option>
                        <el-option value="2" label="产业链协同创新类/海洋高端装备产业"></el-option>
                        <el-option value="3" label="产业链协同创新类/海水淡化与综合利用产业"></el-option>
                        <el-option value="4" label="产业链协同创新类/其他"></el-option>
                        <el-option value="5" label="产业孵化集聚创新类"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
        </div>
        <div class="con clear">
            <div class="title">
                <div class="qyxmtj">
                    <h3>区域项目统计</h3>
                    <div class="tongji-wrap clear ">
                        <div class="map1" id="map1" style="margin-left: 30px;margin-top: 10px"></div>
                        <div class="desc">
                            <ul class="top">
                                <li>
                                    <span class="span1">项目总数</span>
                                    <span class="span2">{{ 0 || projectData.projectCount}} <i>个</i></span>
                                    <span class="span3"></span>
                                </li>
                                <li>
                                    <span class="span1">进行中项目</span>
                                    <span class="span2">{{ 0 || projectData.projectConduct}}<i>个</i></span>
                                    <span class="span3"></span>
                                </li>
                                <li>
                                    <span class="span1">已完成项目</span>
                                    <span class="span2">{{ 0 || projectData.projectComplete}}<i>个</i></span>
                                </li>
                            </ul>
                            <ul class="areaList">
                                <li v-for="(item,index) in projectData.projectCounts">
                                    <span class="areaName">{{item.projectArea}}</span>
                                    <span class="progress">
                                        <span :style="{background: item.areaColor,width: computedPercent(projectData.projectCount,item.projectCount)}"></span>
                                    </span>
                                    <span class="num">{{item.projectCount}}个项目</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dqxmslzb">
                    <h3>{{messageType}}</h3>
                    <div class="map2" id="map2"></div>
                </div>
            </div>
            <div class="projectMain">
                <div class="projectList">
                    <h3><span class="el-icon-s-order"></span>项目列表</h3>
                    <p class="selectArea">选择区域：
                        <el-select @change="getProjectList" v-model="selectMenu.area" placeholder="请选择">
                            <el-option
                                v-for="item in areaList"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                            
                        </el-select>
                    </p>
                    <ul>
                        <li v-for="item in projectList.projects"><img :src="icon">
                            <el-tooltip class="item" effect="light" :content="item.projectName" placement="top">
                                <span style="cursor: pointer" @click="look_detail(item)">{{item.projectName}}</span>
                            </el-tooltip>
                        </li>
                    </ul>
                </div>
                <div class="projectStageMap">
                    <div class="stageMain">
                        <h3>
                            项目进度
                        </h3>
                        <div class="stageTitle">
                            <div>
                                <span>第一年度考核</span>
                            </div>
                            <div>
                                <span>中期考核</span>
                            </div>
                            <div>
                                <span>最终验收</span>
                            </div>
                        </div>
                        <ul>
                            <li v-for="item in projectList.projects">
                                <el-tooltip class="item" effect="light" placement="top">
                                    <template slot="content" style="line-height: 16px">
                                        <p style="width: 500px;overflow: hidden;vertical-align: top;color: #666;line-height: 20px"><span style="font-size: 14px;color: #333;font-weight: 700">绩效目标完成情况</span>：{{item.totalTarget}}</p>
                                        <p style="color: #666;line-height: 20px"><span style="font-size: 14px;color: #333;font-weight: 700">项目综合完成度</span>：{{item.firstStage}}%</p>
                                    </template>
                                    <span @click="openDrawer(item.projectId,'第一年度考核',item)" v-if="item.firstStage > 0" class="span1" :style="{width: item.firstStage+'%',backgroundColor: '#6487FC'}"></span>
                                </el-tooltip>
                                <el-tooltip class="item" effect="light" content="Top Center 提示文字" placement="top">
                                    <template slot="content" style="line-height: 16px">
                                        <p style="width: 500px;overflow: hidden;vertical-align: top;color: #666;line-height: 20px"><span style="font-size: 14px;color: #333;font-weight: 700">绩效目标完成情况</span>：{{item.totalTarget}}</p>
                                        <p style="color: #666;line-height: 20px"><span style="font-size: 14px;color: #333;font-weight: 700">项目综合完成度</span>：{{item.centerStage}}%</p>
                                    </template>
                                    <span @click="openDrawer(item.projectId,'中期考核',item)" v-if="item.centerStage > 0" class="span2" :style="{width: item.centerStage+'%',backgroundColor: '#00E7A6'}"></span>
                                </el-tooltip>
                                <el-tooltip class="item" effect="light" content="Top Center 提示文字" placement="top">
                                    <template slot="content" style="line-height: 16px">
                                        <p style="width: 500px;overflow: hidden;vertical-align: top;color: #666;line-height: 20px"><span style="font-size: 14px;color: #333;font-weight: 700">绩效目标完成情况</span>：{{item.totalTarget}}</p>
                                        <p style="color: #666;line-height: 20px"><span style="font-size: 14px;color: #333;font-weight: 700">项目综合完成度</span>：{{item.lastStage}}%</p>
                                    </template>
                                    <span @click="openDrawer(item.projectId,'最终验收',item)" v-if="item.lastStage > 0" class="span3" :style="{width: item.lastStage+'%',backgroundColor: '#FCD633'}"></span>
                                </el-tooltip>
                                <p>{{Number(item.firstStage) + Number(item.centerStage) + Number(item.lastStage)}}%</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <el-drawer
                title="我是标题"
                append-to-body
                :visible.sync="drawer"
                :wrapperClosable="false"
                :with-header="false">
                <div class="youce">
                    <h3><span>{{projectName}}</span><el-button size="mini" type="primary" @click="drawer = false">收起</el-button></h3>
                    <div class="table-main">
                        <p>项目目标完成情况</p>
                        <table style="width: 100%; border-spacing: 0;" cellspacing="0">
                            <tr>
                                <td>指标名称</td>
                                <td>指标值</td>
                                <td>当前进度</td>
                            </tr>
                            <tr v-for="item in drawerData.listMonitor">
                               <td class="title">{{item.thirdTarget}}</td>
                               <td>{{item.targetValue}}</td>
                               <td>{{item.completeDesc}}</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </el-drawer>
        </div>
    </div>
</template>
<script>
import global from '../common/common';
import {EleResize} from '../common/esresize'
export default {
    data(){
        return{
            areaItem:'',
            areaList:[
                // {
                //     label:'全部',
                //     value:''
                // },
                {
                    label:'浦东新区',
                    value: '浦东新区'
                },
                {
                    label:'舟山',
                    value:'舟山'
                },
                {
                    label:'宁波',
                    value:'宁波',
                },
                {
                    label:'厦门',
                    value:'厦门',
                },
                {
                    label:'福州',
                    value:'福州',
                },
                {
                    label: '南通',
                    value: '南通'
                }
            ],
            drawer:false,
            selectMenu: {
                projectType: '2',
                projectIndustry: '',
                area: '浦东新区',
                pageIndex: 1
            },
            projectData: {},
            projectList: [],
            icon: require('../../assets/analysis/proIcon.svg'),
            drawerData: [],
            projectName:'',
            messageType: '地区项目数量占比'
        }
    },
    methods: {
        look_detail(obj){
            this.$router.push({ path: '/dataManage/xmxq',query:{projectId: obj.projectId}});
        },
        drawMap1(){
            let _this = this;
            $.ajax({
                url:global.chinaJson,//先上环境需要修改
                type:'get',
                data:{},
                dataType:'json',
                success:function(geoJson){
                    let dataMap = [];
                    let projectArr = _this.projectData.projectCounts
                    for(let i = 0;i<geoJson.features.length;i++){
                        let _json = {};
                        _json.name = geoJson.features[i].properties.name;
                        if(_this.selectMenu.projectType == 2){
                            if(geoJson.features[i].properties.name == '浙江'){
                                let num1 = ''
                                let num2 = ''
                                let obj2 = projectArr.filter(item => item.projectArea == '宁波')[0]
                                obj2 == undefined ? num1 = 0 : num1 = obj2.projectCount
                                let obj = projectArr.filter(item => item.projectArea == '舟山')[0]
                                obj == undefined ? num2 = 0 : num2 = obj.projectCount

                                _json.value = Number(num1) + Number(num2)
                            }else if(geoJson.features[i].properties.name == '福建'){
                                let num1 = ''
                                let num2 = ''
                                let obj2 = projectArr.filter(item => item.projectArea == '福州')[0]
                                obj2 == undefined ? num1 = 0 : num1 = obj2.projectCount
                                let obj = projectArr.filter(item => item.projectArea == '厦门')[0]
                                obj == undefined ? num2 = 0 : num2 = obj.projectCount

                                _json.value = Number(num1) + Number(num2)
                            }else if(geoJson.features[i].properties.name == '上海'){
                                let obj = projectArr.filter(item => item.projectArea == '浦东新区')[0]
                                obj == undefined ? _json.value = 0 : _json.value = obj.projectCount
                            }else if(geoJson.features[i].properties.name == '江苏'){
                                let obj = projectArr.filter(item => item.projectArea == '南通')[0]
                                obj == undefined ? _json.value = 0 : _json.value = obj.projectCount
                            }else{
                                _json.value = 0;
                            }
                        }else{
                            if(geoJson.features[i].properties.name == '上海'){
                                let obj = projectArr.filter(item => item.projectArea == '上海')[0]
                                obj == undefined ? _json.value = 0 : _json.value = obj.projectCount
                            }else if(geoJson.features[i].properties.name == '浙江'){
                                let obj = projectArr.filter(item => item.projectArea == '浙江')[0]
                                obj == undefined ? _json.value = 0 : _json.value = obj.projectCount
                            }else if(geoJson.features[i].properties.name == '福建'){
                                let obj = projectArr.filter(item => item.projectArea == '厦门')[0]
                                obj == undefined ? _json.value = 0 : _json.value = obj.projectCount
                            }else if(geoJson.features[i].properties.name == '江苏'){
                                let obj = projectArr.filter(item => item.projectArea == '江苏')[0]
                                obj == undefined ? _json.value = 0 : _json.value = obj.projectCount
                            }else if(geoJson.features[i].properties.name == '福建'){
                                let obj = projectArr.filter(item => item.projectArea == '福建')[0]
                                obj == undefined ? _json.value = 0 : _json.value = obj.projectCount
                            } else{
                                _json.value = 0;
                            }
                        }
                        dataMap.push(_json);
                    }
                    _this.$echarts.registerMap('china', geoJson);
                    let option = {
                        title: {
                            text: '',
                            subtext: '',
                            sublink: ''
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: '{b}<br/>{c}'
                        },
                        visualMap: {
                            show: false,
                            min: 0,
                            max: _this.projectData.projectCount,
                            text: ['High', 'Low'],
                            realtime: false,
                            calculable: true,
                            inRange: {
                                color: ['#B0E2FF', '#F2924C', '#E66000']
                            }
                        },
                        series: [
                            {
                                name: '中国',
                                type: 'map',
                                mapType: 'china', // 自定义扩展图表类型
                                label: {
                                    show: true
                                },
                                data: dataMap,
                                left:'1%',
                                right:"1%",
                                top:"1%",
                                emphasis: {
                                    itemStyle: {
                                        areaColor: '#E66000'
                                    }
                                }
                            },

                        ]
                    };

                    //初始化echarts实例
                    var myChart = _this.$echarts.init(document.getElementById('map1'));
                    var resizeDiv = document.getElementById('map1')
                    myChart.setOption(option);

                    EleResize.on(resizeDiv, _=>{
                        myChart.resize()
                    })
                }
            });
        },
        drawMap2(){
            let projectArr = this.projectData.projectCounts
            let arr = []
            projectArr.forEach(item =>{
                let obj = {
                        value: item.projectCount,
                        name: item.projectArea,
                        itemStyle:{
                            color: item.areaColor
                        },
                        label:{
                            show:true,
                            position:'inside',
                            color: "#fff",
                            fontSize:'16',
                            formatter:'{b}: {c}'
                        }

                    }
                arr.push(obj)
            })
            let nameList = arr.map(item => item.name)
            let option = {
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b}: {c} ({d}%)'
                },
                legend: {
                    orient: 'horizontal',
                    left: 10,
                    data: nameList,
                    bottom:'20',
                    icon:'circle'
                },
                grid:{
                    top:'20%'
                },
                series: [
                    {
                        name: '地区项目数量',
                        type: 'pie',
                        top: -50,
                        radius: ['50%', '90%'],
                        avoidLabelOverlap: false,
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: '14',
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data:arr
                    }
                ]
            };
            var myChart = this.$echarts.init(document.getElementById('map2'));
            var resizeDiv = document.getElementById('map2')
            myChart.setOption(option);
            EleResize.on(resizeDiv, _=>{
                myChart.resize()
            })
        },
        drawMap3(){
            let option = {
                title: {
                    show:false,
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                grid:{
                    top: 0,
                    right: 0,
                    height: '100%'
                },
                series: [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius: [0, '100%'],
                        center: [190, '50%'],
                        hoverAnimation: false,
                        height: '100%',
                        label:{
                            position:'inside'
                        },
                        data: [
                            {
                                value: this.drawerData.expendAmount,
                                name: '已使用资金',
                                itemStyle:{
                                    color:'#3699fd'
                                }
                            },
                            {
                                value: Number(this.drawerData.actualSpecial) - Number(this.drawerData.expendAmount),
                                name: '未使用',
                                itemStyle:{
                                    color:'#47c36a'
                                }
                            },
                        ]
                    }
                ]
            };
            var myChart = this.$echarts.init(document.getElementById('pieChart'));
            myChart.setOption(option);
            window.onresize = myChart.resize
        },
        openDrawer(id,stage,item){
            this.projectName = item.projectName;
            let _this = this;
            this.$post('/ProjectMonitorQuarterDetail',{projectId: id,stage:stage})
                .then(data =>{
                    _this.drawerData = data.data.resultData
                    _this.drawer = true;
                    setTimeout(function(){
                        _this.drawMap3();
                    },500);
                })
        },
        getProject(){
            switch (this.selectMenu.projectIndustry) {
                case '1':
                    this.messageType = '产业链协同创新类/海洋生物产业'
                    break;
                case '2':
                    this.messageType = '产业链协同创新类/海洋高端装备产业'
                    break;
                case '3':
                    this.messageType = '产业链协同创新类/海水淡化与综合利用产业'
                    break;
                case '4':
                    this.messageType = '产业链协同创新类/其他'
                    break;
                case '5':
                    this.messageType = '产业孵化集聚创新类'
                    break
                case '':
                    this.messageType = '地区项目数量占比'
                    break;
            }

            let _this = this;
            this.$post('/ProjectMonitorDetail',this.selectMenu)
                .then(data =>{
                    _this.projectData = data.data.resultData
                    _this.projectData.projectCounts.forEach(item =>{
                        _this.$set(item,'areaColor',item.colour)
                    })
                    _this.drawMap1();
                    _this.drawMap2();
                    _this.getProjectList()
                })
        },
        randomColor(){
            let str1="#";
            for (var i=0;i<6;i++) {
                str1+=Math.floor(Math.random()*9);
            }

            return str1;
        },
        computedPercent(amount,item){
            return Number((item / amount)).toFixed(2) * 100 + '%'
        },
        getProjectList(){
            this.$post('/ProjectMonitorDetailList',this.selectMenu)
                .then(data =>{
                    this.projectList = data.data.resultData
                    let arr = this.projectList.records
                    arr.forEach(item =>{
                        if(item.projectStage == '中期考核'){
                            let value = 0 || item.completeRate
                            this.$set(item,'centerStage',value)
                        }
                        if(item.projectStage == '第一年度考核'){
                            let value = 0 || item.completeRate
                            this.$set(item,'firstStage',value)
                        }
                        if(item.projectStage == '最终验收'){
                            let value = 0 || item.completeRate
                            this.$set(item,'lastStage',value)
                        }
                    })
                    for(let i = 0;i < arr.length;i++){
                        for(let j=i+1; j<arr.length; j++){
                            if(arr[i].projectId == arr[j].projectId){
                                Object.assign(arr[i],arr[i],arr[j])
                                arr.splice(j,1);
                                j--;
                            }
                        }
                    }
                    arr.forEach(item =>{
                        if(!Object.keys(item).includes('firstStage')){
                            this.$set(item,'firstStage',0)
                        }
                        if(!Object.keys(item).includes('centerStage')){
                            this.$set(item,'centerStage',0)
                        }
                        if(!Object.keys(item).includes('lastStage')){
                            this.$set(item,'lastStage',0)
                        }
                        this.$set(item,'percent',Number(item.firstStage + item.centerStage + item.lastStage))
                    })
                    this.$set(this.projectList,'projects',arr)
                })
        }
    },
    created() {
        this.getProject()
    }
}
</script>
<style lang="scss" scoped>

    @media screen and (max-width: 1700px){
        .con{
            .projectList{
                width: 400px !important;
            }
            .projectStageMap{
                width: calc(100% - 400px) !important;
            }
        }
    }


    .slider{
        height:46px;
        background-color: #fff;
        padding-left:20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #f5f5f5;
        align-items: center;
        .el-form >>> el-form-item{
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
        /deep/.el-breadcrumb {
            line-height: 40px;
        }
    }
    .con{
        margin-top:10px;
        .title{
            display: flex;
            justify-content: space-between;
        }
        .qyxmtj{
            width: 65%;
            background: #fff;
            h3{
                height:50px;
                line-height:50px;
                border-bottom:1px solid #f1f1f1;
                padding-left:20px;
            }
            .tongji-wrap{
                display: flex;
                justify-content: space-between;
                .map1{
                    width: 55%;
                    height: 470px;
                }
                .desc{
                    width: calc(100% - 55%);
                    // margin-left:20px;
                    margin-top:100px;
                    .top{
                        width:100%;
                        height:80px;
                        display: flex;
                        justify-content: space-around;
                        li{
                            position:relative;
                            width:120px;
                            text-align:center;
                            span{
                                &.span1{
                                    display:block;
                                    font-size:14px;
                                    color:#999999;
                                }
                                &.span2{
                                    display:block;
                                    font-size:22px;
                                    margin-top:12px;
                                    i{
                                        font-style:normal;
                                        font-size:16px;
                                        font-weight: bold;
                                        color:#000;
                                        margin-left:5px;
                                    }
                                }
                                &.span3{
                                    position:absolute;
                                    right:0;
                                    float:right;
                                    height:40px;
                                    top:15px;
                                    width:1px;
                                    background:#cccccc;
                                }
                            }
                        }
                    }
                    .areaList{
                        width: 90%;
                        margin: 20px auto 0;
                        li{
                            height:30px;
                            line-height:30px;
                            display: flex;
                            align-items: center;
                        }
                        .areaName{
                            font-size:16px;
                            display: inline-block;
                            width: 100px;
                            text-align: right;
                        }
                        .progress{
                            display:inline-block;
                            width: calc(100% - 220px);
                            height:6px;
                            margin-left:10px;
                            position: relative;
                            >span{
                                display:inline-block;
                                height: 6px;
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                        }
                        .num{
                            font-size:14px;
                            margin-left:10px;
                            display: inline-block;
                            width: 100px;
                        }
                    }
                }
            }
        }
        .dqxmslzb{
            width: calc(100% - 66%);
            background: #fff;
            h3{
                height:50px;
                line-height:50px;
                border-bottom:1px solid #f1f1f1;
                padding-left:20px;
            }
            .map2{
                width: 70%;
                height:470px;
                margin: 0 auto;
            }
        }
        .projectMain{
            margin-top: 10px;
            background: #fff;
            display: flex;
            margin-bottom: 10px;
        }
        .projectList{
            width:600px;
            height:auto;
            padding-bottom: 50px;
            box-shadow:0 0 3px 0 #cccccc;
            h3{
                height: 45px;
                line-height: 45px;
                padding-left: 20px;
                background: #FAFBFD;
                font-size:18px;
                border-bottom:1px solid #f1f1f1;
                span{
                    font-size:20px;
                    color:#409EFF;
                    margin-right:10px;
                }
            }
            .selectArea{
                margin-top:10px;
                padding-left:20px;
            }
            ul{
                width:100%;
                height:auto;
                li{
                    font-size: 16px;
                    padding-top: 30px;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    img{
                        display: block;
                        margin-left: 20px;
                        margin-right: 15px;
                    }
                    span{
                        width: 80%;
                        display: inline-block;
                        overflow: hidden;
                        text-overflow:ellipsis;
                        white-space: nowrap;
                    }
                    &:hover{
                        color: rgb(24,144,255);
                    }
                }
            }
        }
        .projectStageMap{
            width: calc(100% - 600px);
            padding-bottom:20px;
            box-shadow:0 0 3px 0 #cccccc;
            .stageMain{
                padding: 0 10px;
                h3{
                    height: 45px;
                    line-height: 45px;
                    font-size: 16px;
                    font-weight: 500;
                    border-bottom:1px solid #f1f1f1;
                    padding-left: 20px;
                }
                .stageTitle{
                    height: 42px;
                    line-height: 42px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 14px;
                    div{
                        width: 300px;
                        text-align: center;
                        &:nth-child(2){
                            span{
                                background: #4A6FF6;
                                color: white;
                                width: 75px;
                                height: 28px;
                                line-height: 28px;
                                display: inline-block;
                                border-radius: 5px;
                            }
                        }
                    }
                }
                ul{
                    width: 100%;
                    background: url("../../assets/analysis/bg.png") no-repeat center;
                    background-size: 100% 100%;
                    padding-bottom: 30px;
                    min-height: 200px;
                    li{
                        height: 53px;
                        padding-top: 30px;
                        display: flex;
                        padding-right: 30px;
                        span{
                            display: inline-block;
                            height: 23px;
                            &:last-of-type{
                                border-top-right-radius: 40px;
                                border-bottom-right-radius: 40px;
                            }
                            &:hover{
                                opacity: 0.6;
                                cursor: pointer;
                            }
                        }
                        p{
                            margin-left: 20px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .youce{
        h3{
            padding:20px 10px 20px 20px;
            border-bottom: 1px dashed #f1f1f1;
            font-weight:normal;
            display: flex;
            justify-content: space-between;
            align-items: center;
            >span{
                font-size: 18px;
                font-weight: 700;
            }
        }
        .table-main{
            width: 90%;
            margin-left: 15px;
            height: 800px;
            overflow-y: auto;
            p{
                font-size: 14px;
                padding: 20px 0;
                color: #666666;
            }
            table{
                width:100%;
                border-right:1px solid #cccccc;
                border-top:1px solid #cccccc;
                border-bottom:none;
                font-size: 14px;
                text-align: center;

                tr{
                    td{
                        padding:6px;
                        border:1px solid #cccccc;
                        border-top:none;
                        // border-bottom:none;
                        border-right:none;
                    }
                    .title{
                        text-align: left;
                        padding-left: 55px;
                    }
                }
            }
        }
        .footer{
            width: 90%;
            margin-left: 15px;
            height: 260px;
            .title{
                font-size: 14px;
                padding: 30px 0;
                color: #666666;
            }
            &-chart{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 180px;
                .pieChart{
                    height: 180px;
                    width: 280px;
                    position: relative;
                }
                .desc{
                    margin-top: 50px;
                    p{
                        color: white;
                        font-size: 14px;
                        &:nth-child(1){
                            padding: 15px 8px;
                            background: #1E5CB4;
                            border-bottom: 1px solid white;
                        }
                        &:nth-child(2){
                            padding: 20px 8px;
                            background: #19478F;
                        }
                    }
                }
            }
        }
    }

</style>
