    <template>
    <div>
        <div class="sider" v-if="false">
            <el-breadcrumb >
                <el-breadcrumb-item >项目管理</el-breadcrumb-item>
                <el-breadcrumb-item :to="{ path: '/projectML/xiangmuProcess/xmpjgl' }">项目评价管理</el-breadcrumb-item>
                <el-breadcrumb-item>对比统计图</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="xiangmuProcess clear">
            <div class="left" v-if="false">
                <el-tabs v-model="activeName"  @tab-click="handleClick">
                    <el-tab-pane label="十三五项目综合得分" name="first">
                        <div>
                            <h4>示范项目综合评分</h4>
                            <div class="tongjitu" id="tongjitu1">
                                    统计图
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="十二五项目综合得分" name="second">
                        <div>
                            <h4>示范项目综合评分</h4>
                            <div class="tongjitu" id="tongjitu2">
                                    统计图
                            </div>
                        </div>
                    </el-tab-pane>
                </el-tabs>
                <p style="margin-top:30px;font-size:16px;">综合评分结论：</p>
                <p style="line-height:30px;font-size:14px;">{{zhpl}}</p>
                <div class="jieduan">
                    <div style="display:inline-block">项目阶段：</div>
                    <div style="display:inline-block">
                        <el-select v-model="jieduanValue" placeholder="请选择" @change="jieduanChange">
                        <el-option
                            v-for="item in jieduanList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="top">
                    <p class="projectName">{{userMessage.companyName}}</p>
                    <p class="projectStage">
                        <span>项目阶段：</span>
                        <span style="display:inline-block">
                            <el-select v-model="jieduanValue2" placeholder="请选择" @change="jieduanValue2Click">
                            <el-option
                                v-for="item in jieduanList"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                                </el-option>
                            </el-select>
                        </span>
                    </p>
                </div>
                <div class="center clear">
                    <div class="chart" style="overflow: hidden">
                        <div class="mapCon">
                            <div class="map" id="map"></div>
                        </div>
                        <div class="sort">
                            <p class="p1">
                                <span>综合得分</span>
                                <span>{{totalPoint}}分</span>
                            </p>
                        </div>
                    </div>
                    <div class="list">

                        <ul v-if="resultData != null">
                            <p>指标得分分析</p>
                            <li v-for="(item,index) in resultData.names">“{{item}}”: {{resultData.values[index]}} <span v-if="index == resultData.names.length - 1  ? false : true">，</span></li>
                        </ul>
                    </div>
                </div>
                <!-- <p style="margin-top:30px;font-size:16px;">指标得分分析：</p>
                <p style="line-height:30px;font-size:14px;">“资金情况”排名第1名，“经济效益指标情况”排名第3名，“生态效益情况”排名第6名，“创新能力提升情况”排名第3名；</p> -->
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            userMessage:{},
            totalPoint:'--',
            ranking:'--',
            activeName: 'first',
            jieduanValue:'第一年度考核',
            jieduanValue2:'第一年度考核',
            jieduanList:[
                {
                    label:'第一年度考核',
                    value:'第一年度考核'
                },
                {
                    label:'中期考核',
                    value:'中期考核'
                },
                {
                    label:'最终验收',
                    value:'最终验收'
                },
            ],
            map1List:[],
            map1ListX:[],
            map1ListY:[],
            zhpl:'',
            resultData:{},
            map2List:[],
        }
    },
    methods: {
        getMap1(){
            let _this = this;
            let param = {};
            param.projectStage = this.jieduanValue;
            if(this.activeName == 'first'){
                param.projectType = 2;
            }else if(this.activeName == 'second'){
                param.projectType = 1;
            }
            _this.map1ListX = [];
            _this.map1ListY = [];
            if(this.userMessage.userRole == 0){
                this.$post('/ProjectAssessForCompanyController/getProjectRankingChart',param).then(function(res){
                    _this.map1List = res.data.resultData;
                    for(let i = 0;i<_this.map1List.length;i++){
                        if(_this.map1List[i].companyName.indexOf('有限公司')>-1){
                            _this.map1ListX.push(_this.map1List[i].companyName.substring(0,_this.map1List[i].companyName.length-4));
                        }else{
                            _this.map1ListX.push(_this.map1List[i].companyName);
                        }
                        _this.map1ListY.push(Number(_this.map1List[i].totalPoint));
                    }
                    let iMax = res.data.resultData[0];
                    let iMin = res.data.resultData[0];
                    for(let i = 0;i<res.data.resultData.length;i++){
                        if(Number(res.data.resultData[i].totalPoint)>Number(iMax.totalPoint)){
                            iMax = res.data.resultData[i];
                        }
                    }
                    for(let i = 0;i<res.data.resultData.length;i++){
                        if(Number(res.data.resultData[i].totalPoint)<Number(iMax.totalPoint)){
                            iMin = res.data.resultData[i];
                        }
                    }
                    if(_this.map1List.length>0){
                        _this.zhpl = '分层次来看，'+iMax.companyName+'得分最高，项目资金到位及时、国拨资金使用率较高。'+iMin.companyName+'得分最低，管理部可调控其资金使用。'
                    }
                    _this.drawMap1();
                });
            }
        },
        drawMap1(){
            let _this = this;
            let option = {
                color: ['#3398DB'],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: _this.map1ListX,
                        axisTick: {
                            alignWithLabel: true
                        },
                        axisLabel:{
                            rotate:20,
                            interval:0
                        },
                        axisLine:{
                            lineStyle:{
                                color:'#333333',
                            }
                        },
                        splitLine:{
                            show:false,
                        }

                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        axisLine:{
                            show:false,
                        },
                        axisTick:{
                            show:false,
                        },
                        splitLine:{
                            show:true,
                            lineStyle:{
                                type:'dashed',
                                color:'#cccccc',
                            }
                        },
                        min:80,
                        max:100
                    }
                ],
                series: [
                    {
                        name: '直接访问',
                        type: 'bar',
                        barWidth: '60%',
                        data: _this.map1ListY,
                        barWidth:'50'
                    }
                ]
            };
            var myChart = this.$echarts.init(document.getElementById('tongjitu1'));
            myChart.setOption(option);
            var myChart2 = this.$echarts.init(document.getElementById('tongjitu2'));
            myChart2.setOption(option);
        },
        getMap2(){
            let _this = this;
            let param = {};
            param.projectStage = this.jieduanValue2;
            if(this.userMessage.userRole == 0){
                this.$post('/ProjectAssessForCompanyController/getLatestProjectTargetChart',param).then(function(res){
                    _this.resultData = res.data.resultData;

                    if(res.data.resultData){
                        _this.totalPoint = _this.resultData.totalPoint;
                        _this.ranking = _this.resultData.ranking;
                    }else{
                        _this.totalPoint = '--';
                        _this.ranking = '--';
                    }
                    console.log(_this.resultData)
                    _this.drawMap2();
                });
            };
        },
        drawMap2(){
            let _this = this;
            let values = [];
            if(!_this.resultData){
                values = [];
            }else{
                values = _this.resultData.values;
            }
            let option = {
                tooltip: {
                    show: false,
                    trigger: 'none'
                },
                toolbox:{show: false},
                legend: {
                    // data: ['预算分配', '实际开销']
                },
                radar: {
                    // shape: 'circle',
                    name: {
                        textStyle: {
                            color: '#fff',
                            backgroundColor: '#999',
                            borderRadius: 3,
                            padding: [3, 5]
                        }
                    },
                    indicator: [
                        { name: '创新能力提升情况', max: 100},
                        { name: '生态社会效益情况', max: 100},
                        { name: '经济效益指标情况', max: 100},
                        { name: '资金情况', max: 100},
                        { name: '项目目标完成情况', max: 100},
                    ]
                },
                series: [{
                    name: '',
                    type: 'radar',
                    // areaStyle: {normal: {}},
                    data: [
                        {
                            value: values,
                            areaStyle:{
                                color:'#ff6c05'
                            }
                        }
                    ]
                }]
            };
            var myChart = this.$echarts.init(document.getElementById('map'));
            myChart.setOption(option);
        },
        handleClick(tab, event){
            this.activeName = tab.name;
            this.getMap1();
        },
        jieduanChange(a){
            this.getMap1();
        },
        jieduanValue2Click(){
            this.getMap2();
        },
        getChart(type){
            let _this = this;
            let param = {};
            if(type){
                this.jieduanValue2 = type
                param.projectStage = type
            }else {
                param.projectStage = ''
            }

            if(this.userMessage.userRole == 0){
                this.$post('/ProjectAssessForCompanyController/getLatestProjectTargetChart',param).then(function(res){
                    _this.resultData = res.data.resultData;

                    if(res.data.resultData){
                        _this.totalPoint = _this.resultData.totalPoint;
                        _this.ranking = _this.resultData.ranking;
                    }else{
                        _this.totalPoint = '--';
                        _this.ranking = '--';
                    }
                    _this.drawMap2();
                });
            };
        }
    },
    mounted() {
        this.userMessage = JSON.parse(sessionStorage.getItem('userMessage'));
        this.getMap1();
        this.getChart('中期考核')
    },
}
</script>
<style lang="less" scoped>
    .sider{
        height:40px;
        background-color: #fff;
        padding-left:20px;
        /deep/.el-breadcrumb {
            line-height: 40px;
        }
    }
    .xiangmuProcess{
        min-height:550px;
        /*padding-left:20px;*/
        /*padding-right:20px;*/
        /*padding-top:20px;*/
        background:#fff;
        .left{
            position: relative;
            width:900px;
            height:650px;
            box-shadow:0 0 5px 0 #cccccc;
            padding-left:20px;
            padding-right:30px;
            .tongjitu{
                width:850px;
                height:400px;
            }
            .jieduan{
                position:absolute;
                right:30px;
                top:10px;
            }
        }
        .right{
            float:left;
            width:700px;
            height:550px;
            box-shadow:0 0 5px 0 #cccccc;
            margin-left:10px;
            padding-left:20px;
            .top{
                height:60px;
                border-bottom:1px solid #f5f5f5;
                .projectName{
                    float:left;
                    line-height:60px;
                    font-size:16px;
                    width:300px;
                    overflow:hidden;
                }
                .projectStage{
                    float:right;
                    margin-top:10px;
                    margin-right:20px;
                }
            }
            .center{
                margin-top:20px;
                .mapCon{
                    float:left;
                    width:450px;
                    .map{
                        width: 450px;
                        height:310px;
                    }

                }
                .sort{
                    float:left;
                    margin-left:10px;
                    padding:20px;
                    p{
                        width:150px;
                        height:90px;
                        box-shadow:0 0 5px 0 #cccccc;
                        padding-top:10px;
                        span:nth-child(1){
                            display:block;
                            width:100%;
                            height:30px;
                            line-height:30px;
                            font-size:14px;
                            text-align:center;
                        }
                        span:nth-child(2){
                            display:block;
                            width:100%;
                            line-height:40px;
                            font-size:22px;
                            text-align:center;
                        }
                    }
                    .p1{
                        span:nth-child(2){
                            color:#90C35A;
                        }
                    }
                    .p2{
                        margin-top:20px;
                        span:nth-child(2){
                            color:#FB919E;
                        }
                    }
                }
                .list{
                    overflow: hidden;
                    ul{
                        width: 96%;
                        margin: 0 auto;
                        background: #FAFAFA;
                        padding: 25px;
                        line-height: 32px;
                        li{
                            font-size: 14px;
                            color: #333;
                            /*line-height: 20px;*/
                            display: inline;
                        }
                    }
                }
            }
        }

    }
    .el-input__inner{
        height:36px;
        line-height:36px;
    }
    .el-button{
        padding:11px 16px;
    }
    /deep/.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover{
        font-size:16px;
        font-weight:bold;
    }
    /deep/.el-tabs__item{
        height:60px;
        line-height:60px;
        font-size:16px;
    }
</style>















































