<template>
    <div class="warning" style="height: 100%;background: #fff;overflow-y: auto">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb >
                    <el-breadcrumb-item>首页</el-breadcrumb-item>
                    <el-breadcrumb-item>项目评价管理</el-breadcrumb-item>
                </el-breadcrumb>
            </el-breadcrumb>
        </div>
        <div class="contant">
            <div class="title">
                <el-form inline>
                    <el-form-item label="项目阶段：">
                        <el-select style="width: 120px" v-model="xmjdValue" placeholder="请选择">
                            <el-option
                                v-for="item in xmjdList"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="项目类型：">
                        <el-select style="width: 120px" v-model="typeValue" placeholder="请选择">
                            <el-option
                                v-for="item in typeList"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="评价状态：">
                        <el-select style="width: 120px" v-model="valueState" placeholder="请选择">
                            <el-option
                                v-for="item in typeState"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <div style="display: flex;align-items: center;">
                            <el-input v-model="xmmcValue" placeholder="请输入项目名称"></el-input>
                            <el-button style="margin-left: 15px" type="primary" @click="search">查询</el-button>
                        </div>
                    </el-form-item>
                </el-form>
                <div style="margin-top: 3px;margin-right: 20px">
                    <el-button type="primary" @click="exportData" v-if="userMessage.userRole != 0">导出数据</el-button>
                    <el-button type="warning" @click="xmpgjgtjt" v-if="userMessage.userRole != 0">对比统计图</el-button>
                    <el-button type="warning" @click="manualEvent" v-if="userMessage.userRole == 2">手动评估</el-button>
                </div>
            </div>
            <div style="width: 98%;margin: 20px auto 0;padding-bottom: 30px">
                <el-table
                :data="tableData"
                style="width: 100%;margin-bottom: 20px;"
                :row-key="getRowKeys"
                :cell-style="cellStyle"
                :tree-props="{children: 'subList', hasChildren: 'hasChildren'}">
                    <el-table-column
                    prop="projectName"
                    label="项目名称"
                    width="600"
                    show-overflow-tooltip	>
                        <template slot-scope="scope">
                            <span style="text-decoration: underline;cursor: pointer;font-weight: normal" @click="look_detail(scope.row)">{{scope.row.projectName}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                    prop="companyName"
                    label="承担单位"
                    width="300"
                    show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                    prop="projectType"
                    label="项目类型">
                        <template slot-scope="scope">
                            <span v-if="scope.row.projectType == 1">十二五</span>
                            <span v-if="scope.row.projectType == 2">十三五</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                    prop="stageName"
                    width="130"
                    label="项目阶段">
                    </el-table-column>
                    <el-table-column
                    prop="assessState"
                    label="评价状态">
                        <template slot-scope="scope">
                            <el-button v-if="scope.row.assessState == 0" type="text" style="color: #ff001f">待评估</el-button>
                            <el-button v-if="scope.row.assessState == 1" type="text" >已评估</el-button>
                        </template>
                    </el-table-column>
                    <el-table-column
                    prop="stageDate"
                    width="120"
                    label="考核日期">
                    </el-table-column>
                    <el-table-column
                    prop="totalPoint"
                    label="得分">
                        <template slot-scope="scope">
                            <span :style="{color: scope.row.totalPoint == '暂无' ? '#999' : '#606266'}">{{scope.row.totalPoint}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                    prop="reviewResult"
                    label="评审意见">
                        <template slot-scope="scope">
                            <span :style="{color: scope.row.reviewResult == '暂无' ? '#999' : '#606266'}">{{scope.row.reviewResult}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                    v-if="userMessage.userRole == 0 ? false : true"
                    prop="ranking"
                    label="排名">
                        <template slot-scope="scope">
                            <span :style="{color: scope.row.ranking == '暂无' ? '#999' : '#606266'}">{{scope.row.ranking}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                    label="操作"
                    width="150"
                    fixed="right">
                        <template slot-scope="scope">
                            <el-button v-if="scope.row.assessId" :disabled="scope.row.assessState == 0" type="text" @click="details(scope.row)">查看评审详情</el-button>

                        </template>
                    </el-table-column>
                </el-table>
                <detail v-if="userMessage.userRole == 0"></detail>
            </div>



        </div>
    </div>
</template>
<script>
    import detail from './xmpjgltjt'
export default {
    data(){
        return{
            tableData:[],
            xmmcValue:'',
            userMessage:{},
            xmjdValue:'',
            xmjdList:[
                {
                    label:'全部',
                    value:''
                },
                {
                    label:'第一年度考核',
                    value:'第一年度考核'
                },
                {
                    label:'中期考核',
                    value:'中期考核'
                },
                {
                    label:'最终验收',
                    value:'最终验收'
                },
            ],
            typeValue:'',
            typeList:[
                {
                    label:'全部',
                    value:'',
                },
                {
                    label:'十二五',
                    value:1,
                },
                {
                    label:'十三五',
                    value:2,
                },
            ],
            pageIndex:1,
            typeState:[
                {
                    label:'全部',
                    value:'',
                },
                {
                    label:'待评估',
                    value:0,
                },
                {
                    label:'已评估',
                    value:1,
                },
            ],
            valueState: ''
        }
    },
    methods: {
        look_detail(obj){
            this.$router.push({ path: '/dataManage/xmxq',query:{projectId: obj.projectId}});
        },
        getList(){
            let _this = this;
            let param = {};
            param.pageIndex = this.pageIndex;
            param.keyword = this.xmmcValue;
            param.projectStage = this.xmjdValue;
            param.projectType = this.typeValue;
            param.assessState = this.valueState
            if(this.userMessage.userRole == 0){//企业
                this.$post('/ProjectAssessForCompanyController/getProjectAssessForManagerList',param).then(function(res){
                    let tableData = [];
                    _this.tableData = res.data.resultData;
                });
            }else if(this.userMessage.userRole == 2 || this.userMessage.userRole == 1){//平台
                this.$post('/ProjectAssessForManagerController/getProjectAssessForManagerList',param).then(function(res){
                    let tableData = [];
                    let records = [];
                    for(let i = 0;i<res.data.resultData.records.length;i++){
                        if(res.data.resultData.records[i].subList.length == 1){
                            records.push(res.data.resultData.records[i].subList[0]);
                        }else{
                            let subList = [];
                            records.push(res.data.resultData.records[i].subList[0]);
                            for(let j = 1;j<res.data.resultData.records[i].subList.length;j++){
                                subList.push(res.data.resultData.records[i].subList[j]);
                            }
                            records[i].subList = subList;
                        }
                    }
                    _this.tableData = records;
                    for(let i = 0;i<_this.tableData.length;i++){
                        _this.tableData[i].id = String(i+1);
                        // if(_this.tableData[i].subList.length>0){
                        //     for(let j = 0;j<_this.tableData[i].subList.length;j++){
                        //         _this.tableData[i].subList[j].id = (i+1)+String(j+1);
                        //     }
                        // }
                    }
                    for(let i = 0;i<_this.tableData.length;i++){
                        if(_this.tableData[i].stageDate == null){
                            _this.tableData[i].stageDate = '暂无';
                        }
                        if(_this.tableData[i].totalPoint == null){
                            _this.tableData[i].totalPoint = '暂无';
                        }
                        if(_this.tableData[i].reviewResult == null){
                            _this.tableData[i].reviewResult = '暂无';
                        }
                        if(_this.tableData[i].ranking == null){
                            _this.tableData[i].ranking = '暂无';
                        }
                        if(_this.tableData[i].subList != null || _this.tableData[i].subList != undefined){
                            for(let j = 0;j<_this.tableData[i].subList.length;j++){
                                _this.tableData[i].subList[j].companyName = '';
                                _this.tableData[i].subList[j].projectName = '';
                                _this.tableData[i].subList[j].projectType = '';
                                if(_this.tableData[i].subList[j].stageDate == null){
                                    _this.tableData[i].subList[j].stageDate = '暂无';
                                }
                                if(_this.tableData[i].subList[j].totalPoint == null){
                                    _this.tableData[i].subList[j].totalPoint = '暂无';
                                }
                                if(_this.tableData[i].subList[j].reviewResult == null){
                                    _this.tableData[i].subList[j].reviewResult = '暂无';
                                }
                                if(_this.tableData[i].subList[j].ranking == null){
                                    _this.tableData[i].subList[j].ranking = '暂无';
                                }
                            }
                        }
                    }
                });
            }

        },
        getRowKeys(row){
            return String(row.assessId)+1;
        },
        details(obj){
            this.$router.push({ path: '/projectML/xiangmuProcess/ckpsxq', query: { assessId: obj.assessId ,projectName:obj.projectName}});
        },
        goTopgRecord(){
            this.$router.push({ path: '/projectML/pgRecord', query: { type: '1' }})
        },
        xmpgjgtjt(){
            if(this.userMessage.userRole == 0){
                this.$router.push({ path: '/projectML/xiangmuProcess/xmpjgltjt',query:{companyName:this.userMessage.companyName}});
            }else if(this.userMessage.userRole == 2 || this.userMessage.userRole == 1){
                this.$router.push({ path: '/projectML/xiangmuProcess/xmpjgltjtpt'})
            }
        },
        exportData(){
            let _this = this;
            let param = {};
            if(this.userMessage.userRole == 0){//企业
                window.location.href = '/ProjectAssessForCompanyController/dataExport';
            }else if(this.userMessage.userRole == 2){//平台
                window.location.href = '/ProjectAssessForManagerController/dataExport';
            }
        },
        cellStyle(row){
            if(row.columnIndex == 0){
                return 'font-weight:bold;color:#409EFF;'
            }
        },
        search(){
            this.getList();
        },
        manualEvent(){
            this.$getFile('/ProjectAssessForManagerController/getScore')
                .then(msg =>{
                    let url = window.URL.createObjectURL(msg.data)
                    let a = document.createElement("a")
                    document.body.appendChild(a)
                    let fileName=msg.headers["content-disposition"].split(";")[1].split("=")[1]
                    a.href = url
                    a.download = fileName
                    a.click()
                    window.URL.revokeObjectURL(url)
                })
        }
    },
    mounted() {
        this.userMessage = JSON.parse(sessionStorage.getItem('userMessage'));
        this.getList();
        // this.cellStyle();
    },
    components:{
        detail
    }
}
</script>
<style lang="less" scoped>
    /deep/ .el-form-item{
        margin-bottom: 0;
    }
    .sider{
        width: 100%;
        height:40px;
        background-color: #fff;
        padding-left:20px;
        border-bottom: 1px solid #f5f5f5;
        /deep/.el-breadcrumb {
            line-height: 40px;
        }
    }
    .contant {
        width: 100%;
        /*padding-left:10px;*/
        /*padding-right: 10px;*/
        background:#fff;
        height: calc(~"100% - 40px");
    }
    .title{
        margin-top:10px;
        width: 98%;
        margin: 0 auto;
        padding:6px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #f5f5f5;
        .time-title{
            display:inline-block;
            line-height:36px;
        }
        .time-title-middle{
            // float:left;
            display:inline-block;
            line-height:36px;
            margin-left:5px;
        }
        .time-type{
            display:inline-block;
            line-height:36px;
            margin-left:20px;
        }
        .time-type:nth-child(1) {
            margin-left:0px;
        }
        .btn{
            display:inline-block;
            margin-left:20px;
        }
        .dataExport{
            float:right;
        }
    }
    .table{
        width: 98%;
        margin: 0 auto;
        // border:1px solid #f1f1f1;
        margin-top:30px;
        tr{
            background:#F5F5F7;
            border-bottom: 1px solid #EBEEF5;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:50px;
                border-bottom: 1px solid #EBEEF5;
                border-right:none;
                border-bottom:none;
                color:#333;
                font-size:16px;
            }
        }
        tbody{
            tr{
                background:#ffffff;
                border-bottom: 1px solid #EBEEF5;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size: 14px;
                    color: #606266;
                    border-bottom: 1px solid #EBEEF5;
                }
            }
        }
    }
    /deep/.el-button--warning {
            border: 1px solid #f0f0f0;
            background-color:#f2f2f2;
            border-radius: 4px;
            color: #666;

    }
    /deep/.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover{
        font-size:14px;
    }
</style>
