<template>
    <div style="color:#333333;height: 100%;background: white">
        <div class="sider testActive">
            <el-breadcrumb >
                <el-breadcrumb-item >项目管理</el-breadcrumb-item>
                <el-breadcrumb-item :to="{ path: '/projectML/xiangmuProcess/xmpjgl' }">项目评价管理</el-breadcrumb-item>
                <el-breadcrumb-item>对比统计图</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="box">
            <div class="title slider">
                <el-tabs v-model="activeName"  @tab-click="handleClick">
                    <el-tab-pane label="十三五项目" name="first"></el-tab-pane>
                    <el-tab-pane label="十二五项目" name="second"></el-tab-pane>
                </el-tabs>
                <el-form inline>
                    <el-form-item label="选择地区">
                        <el-cascader
                            v-model="formData.area"
                            :options="optionshx"
                            :show-all-levels=false
                            :props="{ expandTrigger: 'hover' }"
                            @change="getMap1()"></el-cascader>
                        <!-- <el-select v-model="formData.area" @change="getMap1()">
                            <el-option :label="item" :key='index' :value="item" v-for="(item,index) in optionshx"></el-option>
                        </el-select> -->
                    </el-form-item>
                    <el-form-item label="产业类型">
                        <el-select v-model="formData.projectIndustry" @change="getMap1()">
                            <el-option value="" label="不限"></el-option>
                            <el-option value="1" label="产业链协同创新类/海洋生物产业"></el-option>
                            <el-option value="2" label="产业链协同创新类/海洋高端装备产业"></el-option>
                            <el-option value="3" label="产业链协同创新类/海水淡化与综合利用产业"></el-option>
                            <el-option value="4" label="产业链协同创新类/其他"></el-option>
                            <el-option value="5" label="产业孵化集聚创新类"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="项目阶段">
                        <el-select v-model="formData.projectStage" placeholder="请选择" @change="jieduanValue2Click">
                            <el-option
                                v-for="item in jieduanList"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-form>
            </div>
            <div class="charts" v-show="shartShow">
                <div class="top">
                    <div class="tongjitu" v-if="activeName == 'first'" id="tongjitu1">
                        统计图
                    </div>
                    <div class="tongjitu" id="tongjitu2" v-if="activeName == 'second'">
                        统计图
                    </div>
                    <div class="map" id="map"></div>
                </div>
                <div class="bottom">
                    <div class="big" id="map3"></div>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
    import {EleResize} from '../common/esresize'
export default {
    data(){
        return{
            userMessage:{},
            activeName: 'first',
            jieduanValue:'第一年度考核',
            jieduanValue2:'第一年度考核',
            jieduanList:[
                {
                    label:'第一年度考核',
                    value:'第一年度考核'
                },
                {
                    label:'中期考核',
                    value:'中期考核'
                },
                {
                    label:'最终验收',
                    value:'最终验收'
                },
            ],
            map1List:[],//第3张图
            map1ListX:[],
            map1ListY:[],
            map2List:[],//第一张图
            map2ListCompanyName:[],
            map2ListfundsPoint:[],
            map2ListcompletePoint:[],
            map2ListecoSocialBenefitsPoint:[],
            min:null,
            max:null,
            map3_1:[],//经济效益指标
            map3_2:[],//创新能力,
            shartShow: true,
            mapColor: [],
            formData: {
                area: '浦东新区',
                projectIndustry: '',
                projectStage: '中期考核',
                projectType: ''
            },
            areaList:  ['南通','浦东新区','舟山','宁波','厦门','福州'],
            optionshx:[{
                    value: '江苏',
                    label: '江苏',
                    children: [{
                        value: '南通',
                        label: '南通',
                    }]
                }, {
                    value: '上海',
                    label: '上海',
                    children: [{
                        value: '浦东新区',
                        label: '浦东新区',
                    }]
                },{
                    value: '浙江',
                    label: '浙江',
                    children: [{
                        value: '舟山',
                        label: '舟山',
                    }]
                },{
                    value: '福建',
                    label: '福建',
                    children: [{
                        value: '宁波',
                        label: '宁波',
                    },{
                        value: '厦门',
                        label: '厦门',
                    },{
                        value: '福州',
                        label: '福州',
                    }]
                }],
            optionshx1:[{
                    value: '江苏',
                    label: '江苏',
                    children: [{
                        value: '南通',
                        label: '南通',
                    }]
                }, {
                    value: '上海',
                    label: '上海',
                    children: [{
                        value: '浦东新区',
                        label: '浦东新区',
                    }]
                },{
                    value: '浙江',
                    label: '浙江',
                    children: [{
                        value: '舟山',
                        label: '舟山',
                    }]
                },{
                    value: '福建',
                    label: '福建',
                    children: [{
                        value: '宁波',
                        label: '宁波',
                    },{
                        value: '厦门',
                        label: '厦门',
                    },{
                        value: '福州',
                        label: '福州',
                    }]
                }],
                optionshx2:[
                    {
                        value: '江苏',
                        label: '江苏',
                    },
                    {
                        value: '上海',
                        label: '上海',
                    },
                    {
                        value: '浙江',
                        label: '浙江',
                    },
                    {
                        value: '福建',
                        label: '福建',
                        children: [{
                            value: '福建',
                            label: '福建',
                        },{
                            value: '厦门',
                            label: '厦门',
                        }]
                    }
                ]
        }
    },
    methods: {
        getMap1(type){
            if(type){
                this.formData.projectStage = type
            }
            let _this = this;
            _this.shartShow = true
            if(this.activeName == 'first'){
                this.formData.projectType = 2;
            }else if(this.activeName == 'second'){
                this.formData.projectType = 1;
            }
            _this.map2ListCompanyName = []
            _this.map2ListfundsPoint = []
            _this.map2ListcompletePoint = []
            _this.map2ListecoSocialBenefitsPoint = []
            _this.map3_1 = []
            _this.map3_2 = []
            _this.map1ListY = [];
            _this.map1ListX = [];
            if(this.userMessage.userRole == 2 || this.userMessage.userRole == 1){
                this.$post('/ProjectAssessForManagerController/getProjectTargetChart',_this.formData).then(function(res){
                    _this.map2List = res.data.resultData;
                    if(_this.map2List.length > 0){
                        _this.shartShow = true
                        for(let i = 0;i<_this.map2List.length;i++){
                            if(_this.map2List[i].companyName.indexOf('有限公司')>-1){
                                _this.map2List[i].companyName = _this.map2List[i].companyName.substring(0,_this.map2List[i].companyName.length-4)
                            }
                            _this.map2ListCompanyName.push(_this.map2List[i].companyNameAbbreviation);
                            _this.map2ListfundsPoint.push(_this.map2List[i].fundsPoint);
                            _this.map2ListcompletePoint.push(_this.map2List[i].completePoint);
                            _this.map2ListecoSocialBenefitsPoint.push(_this.map2List[i].ecoSocialBenefitsPoint);
                            _this.map3_1.push(_this.map2List[i].economyPoint);//经济效益指标
                            _this.map3_2.push(_this.map2List[i].innovationAbilityPoint);//创新能力
                        }
                        let arrNew = _this.map2ListfundsPoint.concat(_this.map2ListcompletePoint,_this.map2ListecoSocialBenefitsPoint);
                        arrNew = arrNew.sort();
                        _this.min = arrNew[0];
                        _this.max = arrNew[arrNew.length-1];
                        _this.drawMap1();
                        _this.drawMap2();
                    }else{
                        _this.shartShow = false
                        _this.$message.info('暂无数据')

                    }
                });
                this.$post('/ProjectAssessForManagerController/getProjectRankingChart',_this.formData).then(function(res){
                    if(res.data.resultData){
                        _this.map1List = res.data.resultData;
                        _this.map1ListY = []
                        for(let i = 0;i<_this.map1List.length;i++){
                            _this.map1ListX.push(_this.map1List[i].companyNameAbbreviation);
                            let obj = {
                                value: _this.map1List[i].totalPoint,
                                itemStyle: {
                                    color: _this.map1List[i].color
                                },
                                name: _this.map1List[i].projectIndustry
                            }
                            _this.map1ListY.push(obj);
                        }
                        console.log(_this.map1ListY)
                        _this.drawMap3();
                    }
                });
            }
        },
        drawMap1(){//第一张图
            let _this = this;
            let option = {
                title: {
                    text: '资金情况和项目目标完成情况指标得分对比',
                    textStyle:{
                        color:'#272727'
                    }
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['资金情况', '项目完成情况', '生态效益情况'],
                    color:['#108de9','#98d87d','#ffa304'],
                    right:'5%'
                },
                grid: {
                    width: '90%',
                    left: '30px',
                    bottom: 10,
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: _this.map2ListCompanyName,
                    axisLabel:{
                        interval:0,
                        fontSize : 16
                    },
                    axisLabel:{
                    },
                },
                yAxis: {
                    type: 'value',
                    min:(Number(_this.min)-0.1).toFixed(2),
                    max:(Number(_this.max)+0.1).toFixed(2),
                    splitLine:{
                        show:true,
                        lineStyle:{
                            type:'dashed',
                            color:'#cccccc',
                        }
                    },
                },
                series: [
                    {
                        name: '资金情况',
                        type: 'line',
                        // stack: '总量',
                        data: _this.map2ListfundsPoint,
                        itemStyle:{
                            color:'#108de9'
                        }
                    },
                    {
                        name: '项目完成情况',
                        type: 'line',
                        // stack: '总量',
                        data: _this.map2ListcompletePoint,
                        itemStyle:{
                            color:'#98d87d',
                        }
                    },
                    {
                        name: '生态效益情况',
                        type: 'line',
                        // stack: '总量',
                        data: _this.map2ListecoSocialBenefitsPoint,
                        itemStyle:{
                            color:'#ffa304'
                        }
                    }
                ]
            };
           if(this.activeName == 'first'){
               var myChart = this.$echarts.init(document.getElementById('tongjitu1'));
               let resizeDiv = document.getElementById('tongjitu1')
               myChart.setOption(option);
               EleResize.on(resizeDiv, _=>{
                   myChart.resize()
               })
           }else{
               var myChart2 = this.$echarts.init(document.getElementById('tongjitu2'));
               let resizeDivs = document.getElementById('tongjitu2')
               myChart2.setOption(option);
               EleResize.on(resizeDivs, _=>{
                   myChart.resize()
               })
           }
        },
        drawMap2(){//第二张图
            let _this = this
            let option = {
                title: {
                    text: '经济效益指标情况和创新能力提升情况指标得分对比'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                legend: {
                    data: ['经济效益指标情况', '创新能力提升情况'],
                    right:'10'
                },
                toolbox: {
                    feature: {
                        // saveAsImage: {}
                    }
                },
                grid: {
                    width: '90%',
                    left: '30px',
                    bottom: 10,
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: _this.map2ListCompanyName,
                        axisLabel:{
                            interval:0,
                            fontSize : 16
                        },
                        axisLabel:{
                        },
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        min:(Number(_this.min)-0.1).toFixed(2),
                        max:(Number(_this.max)+10).toFixed(2),
                        splitLine:{
                            show:true,
                            lineStyle:{
                                type:'dashed',
                                color:'#cccccc',
                            }
                        },
                    },
                ],
                series: [
                    {
                        name: '经济效益指标情况',
                        type: 'line',
                        areaStyle: {},
                        data: _this.map3_1,
                        smooth:true,
                        itemStyle:{
                            color:'#26a6fb'
                        }
                    },
                    {
                        name: '创新能力提升情况',
                        type: 'line',
                        areaStyle: {},
                        data: _this.map3_2,
                        smooth:true,
                        itemStyle:{
                            color:'#7edae4'
                        }
                    }
                ]
            };
            var myChart = this.$echarts.init(document.getElementById('map'));
            let resizeDiv = document.getElementById('map')
            myChart.setOption(option);
            EleResize.on(resizeDiv, _=>{
                myChart.resize()
            })
        },
        drawMap3(){//第三张图
            let _this = this;
            let option = {
                title:{
                    text:'项目综合得分对比统计图'
                },
                color: _this.mapColor,
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'line' ,       // 默认为直线，可选为：'line' | 'shadow'
                        lineStyle: {
                            type: 'dashed',
                            color: 'rgba(24, 144, 255, 0.8)',
                        }
                    },
                    formatter: function (params) {
                        let param = params[0]
                        let str = `<div>${param.marker}<span>${param.name}：${param.value}</span></div>`
                        return str
                    }
                },
                grid: {
                    width: '96%',
                    left: '30px',
                    // right: '80px',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: _this.map1ListX,
                        axisTick: {
                            alignWithLabel: true
                        },
                        axisLabel:{
                            interval:0,
                            fontSize : 16
                        },
                        axisLine:{
                            lineStyle:{
                                color:'#333333',
                            }
                        },
                        splitLine:{
                            show:false,
                        }

                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        axisLine:{
                            show:false,
                        },
                        axisTick:{
                            show:false,
                        },
                        splitLine:{
                            show:true,
                            lineStyle:{
                                type:'dashed',
                                color:'#cccccc',
                            }
                        },
                        min:80,
                        max:100
                    }
                ],
                series: [
                    {

                        type: 'bar',
                        data: _this.map1ListY,
                        barWidth:'40'
                    }
                ]
            };
            var myChart = this.$echarts.init(document.getElementById('map3'));
            let resizeDiv = document.getElementById('map3')
            myChart.setOption(option);
            EleResize.on(resizeDiv, _=>{
                myChart.resize()
            })
        },
        handleClick(tab){
            let index = parseInt(tab.index)
            if(index == 0){
                this.areaList = ['南通','浦东新区','舟山','宁波','厦门','福州']
                this.optionshx = this.optionshx1;
                this.formData.area = '浦东新区'
            }else{
                this.areaList = ['上海','浙江','江苏','福建','厦门']
                this.optionshx = this.optionshx2;
                this.formData.area = '上海'
            }
            this.activeName = tab.name;
            this.getMap1();
        },
        jieduanChange(a){
            this.getMap1();
        },
        jieduanValue2Click(){
            this.getMap1();
        }
    },
    mounted() {
        this.userMessage = JSON.parse(sessionStorage.getItem('userMessage'));
        this.getMap1('中期考核');
    },
}
</script>
<style lang="scss" scoped>
    .sider{
        background-color: #fff;
        padding-left:20px;
        height: 40px;
        align-items: center;
        display: flex;
        border-bottom: 1px solid #f5f5f5;
        /deep/.el-breadcrumb {
            line-height: 40px;
        }
    }
    .box{
        background:#fff;
        padding: 0 20px;
        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .el-tabs{
                width: 30%;
            }
            .el-tabs >>> .el-tabs__nav-wrap::after{
                height: 0px !important;
            }
            .el-tabs >>> .el-tabs__header{
                margin: 0px !important;
            }
            .el-tabs >>> .el-tabs__item{
                font-size: 16px;
                padding: 0px 8px;
            }
        }
        .charts{
            margin-top: 10px;
            .top{
                display: flex;
                justify-content: space-between;
                min-height: 400px;
                >div{
                    width: 49.5%;
                    min-height: 400px;
                    box-shadow: 2px 2px 5px rgba(215, 215, 215, 0.349019607843137);
                    border: 1px solid #F2F2F2;
                    padding: 20px;
                }
            }
            .bottom{
                width: 100%;
                min-height: 600px;
                >div{
                    margin-top: 20px;
                    width: 100%;
                    height: 500px;
                    box-shadow: 2px 2px 5px rgba(215, 215, 215, 0.349019607843137);
                    border: 1px solid #F2F2F2;
                    padding: 20px;
                }
            }
        }
        /*.left{*/
        /*    position: relative;*/
        /*    width:800px;*/
        /*    height:650px;*/
        /*    // box-shadow:0 0 5px 0 #cccccc;*/
        /*    padding-left:20px;*/
        /*    .tongjitu{*/
        /*        width:780px;*/
        /*        height:500px;*/
        /*    }*/
        /*    .jieduan{*/
        /*        position:absolute;*/
        /*        right:30px;*/
        /*        top:10px;*/
        /*    }*/
        /*}*/
        /*.right{*/
        /*    float:left;*/
        /*    width:800px;*/
        /*    height:650px;*/
        /*    .top{*/
        /*        height:60px;*/
        /*        border-bottom:1px solid #f5f5f5;*/
        /*        .projectName{*/
        /*            float:left;*/
        /*            line-height:60px;*/
        /*            font-size:16px;*/
        /*            width:300px;*/
        /*            overflow:hidden;*/
        /*        }*/
        /*        .projectStage{*/
        /*            float:right;*/
        /*            margin-top:10px;*/
        /*            margin-right:20px;*/
        /*        }*/
        /*    }*/
        /*    .center{*/
        /*        margin-top:20px;*/
        /*        .map{*/
        /*            float:left;*/
        /*            width:750px;*/
        /*            height:500px;*/
        /*        }*/
        /*        .sort{*/
        /*            float:left;*/
        /*            margin-left:10px;*/
        /*            padding:20px;*/
        /*            p{*/
        /*                width:150px;*/
        /*                height:90px;*/
        /*                box-shadow:0 0 5px 0 #cccccc;*/
        /*                padding-top:10px;*/
        /*                span:nth-child(1){*/
        /*                    display:block;*/
        /*                    width:100%;*/
        /*                    height:30px;*/
        /*                    line-height:30px;*/
        /*                    font-size:14px;*/
        /*                    text-align:center;*/
        /*                }*/
        /*                span:nth-child(2){*/
        /*                    display:block;*/
        /*                    width:100%;*/
        /*                    line-height:40px;*/
        /*                    font-size:22px;*/
        /*                    text-align:center;*/
        /*                }*/
        /*            }*/
        /*            .p1{*/
        /*                span:nth-child(2){*/
        /*                    color:#90C35A;*/
        /*                }*/
        /*            }*/
        /*            .p2{*/
        /*                margin-top:20px;*/
        /*                span:nth-child(2){*/
        /*                    color:#FB919E;*/
        /*                }*/
        /*            }*/
        /*        }*/
        /*    }*/
        /*}*/

    }
    .el-input__inner{
        height:36px;
        line-height:36px;
    }
    .el-button{
        padding:11px 16px;
    }
    /deep/.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover{
        font-size:16px;
        font-weight:bold;
    }
    /deep/.el-tabs__item{
        height:60px;
        line-height:60px;
        font-size:16px;
    }
    /deep/.el-tabs__content{
        padding:3px;
    }
</style>




