<template>
    <div>
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb >
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item>区域整体项目评价</el-breadcrumb-item>
              </el-breadcrumb>
            </el-breadcrumb>
        </div>
        <div class="containt">
            <div class="title">
                <div class="time-type"> <p>以下为所有地区打分的记录，请及时为未打分的区域打分：</p></div>
                <div class="cjjh"><el-button type="primary" @click="cjpgjh">创建评估计划</el-button><el-button type="primary" @click="pgjgtjt">评估结果统计图</el-button></div>
            </div>
            <table class="table" cellspacing="0">
                <thead>
                    <tr style="font-size:16px;font-weight: 500;">
                        <td width="150">序号</td>
                        <td width="200">区域</td>
                        <!-- <td width="350">评估阶段</td> -->
                        <td width="400">评估状态</td>
                        <td width="250">评级截止时间</td>
                        <td width="600">评级参考资料</td>
                        <td width="400">操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>南通</td>
                        <!-- <td>中期考核</td> -->
                        <td style="color:#00bd2b;">已完成</td>
                        <td>2018-06-30</td>
                        <td>
                            <el-button type="text">中期考核报告</el-button>
                            <el-button type="text" >区域绩效目标完成情况表</el-button>
                            <el-button type="text">政策性文件</el-button>
                        </td>
                        <td>
                            <!-- <el-button type="text" @click="ljqpj">评级</el-button> -->
                            <el-button type="text" @click="qupjmx">历史评估记录</el-button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>上海浦东</td>
                        <!-- <td>中期考核</td> -->
                        <td style="color:red;">未完成</td>
                        <td>2018-06-30</td>
                        <td>
                            <el-button type="text"  @click="khbg">中期考核报告</el-button>
                            <el-button type="text" >区域绩效目标完成情况表</el-button>
                            <el-button type="text">政策性文件</el-button>
                        </td>
                        <td>
                            <!-- <el-button type="text" @click="ljqpj">评级</el-button> -->
                            <el-button type="text" @click="qupjmx">历史评估记录</el-button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>舟山</td>
                        <!-- <td>中期考核</td> -->
                        <td style="color:#00bd2b;">已完成</td>
                        <td>2018-06-30</td>
                        <td>
                            <el-button type="text">中期考核报告</el-button>
                            <el-button type="text" >区域绩效目标完成情况表</el-button>
                            <el-button type="text">政策性文件</el-button>
                        </td>
                        <td>
                            <!-- <el-button type="text" @click="ljqpj">评级</el-button> -->
                            <el-button type="text" @click="qupjmx">历史评估记录</el-button>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>宁波</td>
                        <!-- <td>中期考核</td> -->
                        <td style="color:#00bd2b;">已完成</td>
                        <td>2018-06-30</td>
                        <td>
                            <el-button type="text">中期考核报告</el-button>
                            <el-button type="text" >区域绩效目标完成情况表</el-button>
                            <el-button type="text">政策性文件</el-button>
                        </td>
                        <td>
                            <!-- <el-button type="text" @click="ljqpj">评级</el-button> -->
                            <el-button type="text" @click="qupjmx">历史评估记录</el-button>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>福州</td>
                        <!-- <td>中期考核</td> -->
                        <td style="color:red;">未完成</td>
                        <td>2018-06-30</td>
                        <td>
                            <el-button type="text">中期考核报告</el-button>
                            <el-button type="text" >区域绩效目标完成情况表</el-button>
                            <el-button type="text">政策性文件</el-button>
                        </td>
                        <td>
                            <!-- <el-button type="text" @click="ljqpj">评级</el-button> -->
                            <el-button type="text" @click="qupjmx">历史评估记录</el-button>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>福州</td>
                        <!-- <td>中期考核</td> -->
                        <td style="color:red;">未完成</td>
                        <td>2018-06-30</td>
                        <td>
                            <el-button type="text">中期考核报告</el-button>
                            <el-button type="text" >区域绩效目标完成情况表</el-button>
                            <el-button type="text">政策性文件</el-button>
                        </td>
                        <td>
                            <!-- <el-button type="text" @click="ljqpj">评级</el-button> -->
                            <el-button type="text" @click="qupjmx">历史评估记录</el-button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <div v-show="!isBlock" id="mapPG"></div> -->
            <!-- 立即去评级 -->
            <el-dialog
                title="专家评级（李丽）"
                :visible.sync="dialogVisible1"
                width="900px"
                :before-close="handleClose1">
                <table class="table table1" cellspacing="0">
                    <tr>
                        <td width="200" height="50">总体指标</td>
                        <td width="350" colspan="2">评分标准</td>
                        <!-- <td></td> -->
                        <td width="300">评级</td>
                    </tr>
                    <tr>
                        <td rowspan="5">机制建立与运行情况</td>
                        <td>组织机制建立</td>
                        <td>组织协调机制建立</td>
                        <td>
                            <el-radio v-model="selectRadio.radio1" label="1">优秀</el-radio>
                            <el-radio v-model="selectRadio.radio1" label="2">良好</el-radio>
                            <el-radio v-model="selectRadio.radio1" label="3">合格</el-radio>
                            <el-radio v-model="selectRadio.radio1" label="4">差</el-radio>
                        </td>
                    </tr>
                    <tr>
                        <td>政策制度保障</td>
                        <td>制定出台项目资金管理...</td>
                        <td>
                            <el-radio v-model="selectRadio.radio2" label="1">优秀</el-radio>
                            <el-radio v-model="selectRadio.radio2" label="2">良好</el-radio>
                            <el-radio v-model="selectRadio.radio2" label="3">合格</el-radio>
                            <el-radio v-model="selectRadio.radio2" label="4">差</el-radio>
                        </td>
                    </tr>
                    <tr>
                        <td>过程管理</td>
                        <td>项目立项、审批、监管...</td>
                        <td>
                            <el-radio v-model="selectRadio.radio3" label="1">优秀</el-radio>
                            <el-radio v-model="selectRadio.radio3" label="2">良好</el-radio>
                            <el-radio v-model="selectRadio.radio3" label="3">合格</el-radio>
                            <el-radio v-model="selectRadio.radio3" label="4">差</el-radio>
                        </td>
                    </tr>
                    <tr>
                        <td>海洋经济运行监测</td>
                        <td>企业报送率至少90%以上</td>
                        <td>
                            <el-radio v-model="selectRadio.radio4" label="1">优秀</el-radio>
                            <el-radio v-model="selectRadio.radio4" label="2">良好</el-radio>
                            <el-radio v-model="selectRadio.radio4" label="3">合格</el-radio>
                            <el-radio v-model="selectRadio.radio4" label="4">差</el-radio>
                        </td>
                    </tr>
                    <tr>
                        <td>整改落实</td>
                        <td>定期与不定期考核...</td>
                        <td>
                            <el-radio v-model="selectRadio.radio5" label="1">优秀</el-radio>
                            <el-radio v-model="selectRadio.radio5" label="2">良好</el-radio>
                            <el-radio v-model="selectRadio.radio5" label="3">合格</el-radio>
                            <el-radio v-model="selectRadio.radio5" label="4">差</el-radio>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3">资金政策集成创新</td>
                        <td>资源政策集成</td>
                        <td>促进资源向优先发展...</td>
                        <td>
                            <el-radio v-model="selectRadio.radio6" label="1">优秀</el-radio>
                            <el-radio v-model="selectRadio.radio6" label="2">良好</el-radio>
                            <el-radio v-model="selectRadio.radio6" label="3">合格</el-radio>
                            <el-radio v-model="selectRadio.radio6" label="4">差</el-radio>
                        </td>
                    </tr>
                    <tr>
                        <td>资金政策创新</td>
                        <td>财税、金融等政策和模式...</td>
                        <td>
                            <el-radio v-model="selectRadio.radio7" label="1">优秀</el-radio>
                            <el-radio v-model="selectRadio.radio7" label="2">良好</el-radio>
                            <el-radio v-model="selectRadio.radio7" label="3">合格</el-radio>
                            <el-radio v-model="selectRadio.radio7" label="4">差</el-radio>
                        </td>
                    </tr>
                    <tr>
                        <td>多元资金集成</td>
                        <td>多元资金集成</td>
                        <td>
                            <el-radio v-model="selectRadio.radio8" label="1">优秀</el-radio>
                            <el-radio v-model="selectRadio.radio8" label="2">良好</el-radio>
                            <el-radio v-model="selectRadio.radio8" label="3">合格</el-radio>
                            <el-radio v-model="selectRadio.radio8" label="4">差</el-radio>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4">经济效益指标</td>
                        <td>项目立项情况</td>
                        <td>项目库内重点项目立项情况</td>
                        <td>
                            <el-radio v-model="selectRadio.radio9" label="1">优秀</el-radio>
                            <el-radio v-model="selectRadio.radio9" label="2">良好</el-radio>
                            <el-radio v-model="selectRadio.radio9" label="3">合格</el-radio>
                            <el-radio v-model="selectRadio.radio9" label="4">差</el-radio>
                        </td>
                    </tr>
                    <tr>
                        <td>存在问题项目情况</td>
                        <td>存在关键指标降低、延期...</td>
                        <td>
                            <el-radio v-model="selectRadio.radio10" label="1">优秀</el-radio>
                            <el-radio v-model="selectRadio.radio10" label="2">良好</el-radio>
                            <el-radio v-model="selectRadio.radio10" label="3">合格</el-radio>
                            <el-radio v-model="selectRadio.radio10" label="4">差</el-radio>
                        </td>
                    </tr>
                    <tr>
                        <td>检查验收情况</td>
                        <td>项目接受检查以及验收...</td>
                        <td>
                            <el-radio v-model="selectRadio.radio11" label="1">优秀</el-radio>
                            <el-radio v-model="selectRadio.radio11" label="2">良好</el-radio>
                            <el-radio v-model="selectRadio.radio11" label="3">合格</el-radio>
                            <el-radio v-model="selectRadio.radio11" label="4">差</el-radio>
                        </td>
                    </tr>
                    <tr>
                        <td>创业创新情况</td>
                        <td>推进企业技术、管理...</td>
                        <td>
                            <el-radio v-model="selectRadio.radio12" label="1">优秀</el-radio>
                            <el-radio v-model="selectRadio.radio12" label="2">良好</el-radio>
                            <el-radio v-model="selectRadio.radio12" label="3">合格</el-radio>
                            <el-radio v-model="selectRadio.radio12" label="4">差</el-radio>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="11">绩效目标完成情况</td>
                        <td rowspan="4">创业创新情况</td>
                        <td>海洋战略性新兴年均增速</td>
                        <td rowspan="4">
                            <el-radio v-model="selectRadio.radio13" label="1">优秀</el-radio>
                            <el-radio v-model="selectRadio.radio13" label="2">良好</el-radio>
                            <el-radio v-model="selectRadio.radio13" label="3">合格</el-radio>
                            <el-radio v-model="selectRadio.radio13" label="4">差</el-radio>
                        </td>
                    </tr>
                    <tr>
                        <td>海洋战略性新兴产业聚集区</td>
                    </tr>
                    <tr>
                        <td>带动新增就业人数和重点</td>
                    </tr>
                    <tr>
                        <td>通过项目实施形成新生产线</td>
                    </tr>
                    <tr>
                        <td rowspan="4">产业创新能力提升</td>
                        <td>成果形成情况(含申请发明</td>
                        <td rowspan="4">
                            <el-radio v-model="selectRadio.radio14" label="1">优秀</el-radio>
                            <el-radio v-model="selectRadio.radio14" label="2">良好</el-radio>
                            <el-radio v-model="selectRadio.radio14" label="3">合格</el-radio>
                            <el-radio v-model="selectRadio.radio14" label="4">差</el-radio>
                        </td>
                    </tr>
                    <tr>
                        <td>成果形成情况（含成果转化</td>
                    </tr>
                    <tr>
                        <td>地方及企业的研发投入</td>
                    </tr>
                    <tr>
                        <td>产学研用协同创新情况</td>
                    </tr>
                    <tr>
                        <td rowspan="3">经济生态及社会效益</td>
                        <td>对海洋经济规划贯彻落实...</td>
                        <td rowspan="3">
                            <el-radio v-model="selectRadio.radio15" label="1">优秀</el-radio>
                            <el-radio v-model="selectRadio.radio15" label="2">良好</el-radio>
                            <el-radio v-model="selectRadio.radio15" label="3">合格</el-radio>
                            <el-radio v-model="selectRadio.radio15" label="4">差</el-radio>
                        </td>
                    </tr>
                    <tr>
                        <td>对海洋生态环境保护和生态...</td>
                    </tr>
                    <tr>
                        <td>政策宣传效果</td>
                    </tr>
                    <tr>
                        <td>专家意见</td>
                        <td colspan="3">浦东新区通过政策倾斜，有效推动了全区海洋产
                            业发展，依托浦东新区的产业政策体系，在智能制造、产业转型升级
                            、战略新兴产业专项等中，强化对海洋经济发展的扶持，统筹新区产业政
                            策资源，提升了上下游产业链的协同创新能力，加强了产业集聚效应。</td>
                    </tr>
                </table>
                <p  class="dialog-footer" style="text-align:center;margin-top:20px;">
                    <el-button type="primary" @click="dialogVisible1 = false">提交评分</el-button>
                </p>
            </el-dialog>

            <!-- 创建评估计划 -->
            <el-dialog
                title="创建评估计划"
                :visible.sync="dialogVisible2"
                width="900px"
                :before-close="handleClose2">
                <div class="con1">
                    <span>专家评估截止时间：</span>
                    <el-date-picker
                    v-model="endTime"
                    type="date"
                    placeholder="选择日期">
                    </el-date-picker>
                    <!-- <span style="margin-left:50px;">评估类型：</span>
                    <el-select v-model="valueType" placeholder="请选择">
                        <el-option
                        v-for="item in optionsType"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select> -->
                </div>
                <div class="con2">
                    <span>评估区域：</span>
                    <el-checkbox v-model="checked">南通</el-checkbox>
                    <el-checkbox v-model="checked">上海浦东</el-checkbox>
                    <el-checkbox v-model="checked">舟山</el-checkbox>
                    <el-checkbox v-model="checked">宁波</el-checkbox>
                    <el-checkbox v-model="checked">福州</el-checkbox>
                    <el-checkbox v-model="checked">厦门</el-checkbox>
                </div>
                <div class="search" style="float:left;">
                    <input type="text" placeholder="请输入关键字查询"/><a href="javascript:;">搜索</a>
                </div>
                <div style="display:inline-block;float:left;margin-top:15px;margin-left:10px;"><el-button type="success" @click="zidongSelect">自动选择专家</el-button></div>
                <table cellspacing="0" style="margin-top:20px;">
                    <el-table
                        ref="multipleTable"
                        :data="tableData3"
                        tooltip-effect="dark"
                        style="width: 100%"
                        @selection-change="handleSelectionChange">
                        <!-- <el-table-column
                        type="selection"
                        width="50">
                        </el-table-column> -->
                        <el-table-column
                        label="序号"
                        prop="xuhao"
                        width="80">
                        </el-table-column>
                        <el-table-column
                        prop="name"
                        label="专家姓名"
                        width="120">
                        </el-table-column>
                        <el-table-column
                        prop="juese"
                        label="角色"
                        width="120"
                        show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column
                        prop="zhicheng"
                        label="职称"
                        width="120"
                        show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column
                        prop="danwei"
                        label="所属单位"
                        width="200"
                        show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column
                        label="操作"
                        width="100">
                        <template slot-scope="scope">
                            <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
                        </template>
                        </el-table-column>
                    </el-table>
                    <div class="btns"><el-button type="primary" @click="commit">提交</el-button><el-button type="info" @click="cancel">取消</el-button></div>
                </table>
            </el-dialog>

            <!-- 查看专家介绍 -->
            <el-dialog
                title="创建评估计划"
                :visible.sync="dialogVisible3"
                width="900px"
                :before-close="handleClose3">
                <div class="con1" style="padding-bottom:100px;">
                    <p class="p1" style="float:left;">介绍：孔旭：1970年11月生。现任中国科学技术大学教授，博士生导师，
                        国家杰出青年科学基金获得者。2000年6月在中国科学技术大学获得博士学位，2001年
                        7月至2003年10月德国马普天体物理所博士后，德国洪堡基金会洪堡学者；2003年11月至
                        2005年11月日本国立天文台博士后，日本学术振兴会外国人特别研究员；2005年入选中国
                        科学院“引进海外杰出人才”计划。主要从事星系物理、星族合成、高红移星系形成和演化等
                        方面的研究。已经发表SCI文章80余篇，文章被他引2900余次。现为中国科学技术大学天文
                        学系执行主任，中国天文学会常务理事。</p>
                    <!-- <div class="p2" style="float:left;"></div> -->
                </div>
            </el-dialog>

            <!-- 查看考核报告 -->
            <el-dialog
                title="考核报告"
                :visible.sync="dialogVisible4"
                width="1050px"
                :before-close="handleClose4">
                <div class="con1" style="padding-bottom:0px;">
                    <div class="block">
                        <!-- <span class="demonstration">默认 Hover 指示器触发</span> -->
                        <el-carousel height="700px">
                        <el-carousel-item v-for="item in picList" :key="item.key">
                            <h3 class="small" style="text-align:center;"><img style="display:inline-block;" :src="item.imgSrc" /></h3>
                        </el-carousel-item>
                        </el-carousel>
                    </div>
                </div>
            </el-dialog>

            <!-- 查看评估结果统计图 -->
            <el-dialog
                title="评估结果统计图"
                :visible.sync="dialogVisible5"
                width="1050px"
                >
                <div class="con1" style="padding-bottom:0px;">
                    <div class="block" >
                        <div id="mapPG" style="width:1010px;height:600px;">

                        </div>
                        <p style="margin-left:30px;">浦东综合评分最高、舟山次之，南通最低。</p>
                    </div>
                </div>
            </el-dialog>
        </div>
    </div>
</template>
<script>
import imgUrl1 from '@/assets/12pic/01.png'
import imgUrl2 from '@/assets/12pic/02.png'
import imgUrl3 from '@/assets/12pic/03.png'
import imgUrl4 from '@/assets/12pic/04.png'
import imgUrl5 from '@/assets/12pic/05.png'
import imgUrl6 from '@/assets/12pic/06.png'
import imgUrl7 from '@/assets/12pic/07.png'
import imgUrl8 from '@/assets/12pic/08.png'
import imgUrl9 from '@/assets/12pic/09.png'
import imgUrl10 from '@/assets/12pic/10.png'
import imgUrl11 from '@/assets/12pic/11.png'
import imgUrl12 from '@/assets/12pic/12.png'
import imgUrl13 from '@/assets/12pic/13.png'
export default {
    data(){
        return{
            isBlock:true,
            valuePjtype:0,
            checked:false,
            pjtype:[
                {
                    label:'全部',
                    value:0
                },
                {
                    label:'评级中',
                    value:1
                },
                {
                    label:'评级完成',
                    value:2
                },
            ],
            dialogVisible1:false,
            dialogVisible2:false,
            dialogVisible3:false,
            dialogVisible4:false,
            dialogVisible5:false,
            picList:[
                {
                    imgSrc:imgUrl1
                },
                {
                    imgSrc:imgUrl2
                },
                {
                    imgSrc:imgUrl3
                },
                {
                    imgSrc:imgUrl4
                },
                {
                    imgSrc:imgUrl5
                },
                {
                    imgSrc:imgUrl6
                },
                {
                    imgSrc:imgUrl7
                },
                {
                    imgSrc:imgUrl8
                },
                {
                    imgSrc:imgUrl9
                },
                {
                    imgSrc:imgUrl10
                },
                {
                    imgSrc:imgUrl11
                },
                {
                    imgSrc:imgUrl12
                },
                {
                    imgSrc:imgUrl13
                },
            ],
            selectRadio:{
                radio1:'',
                radio2:'',
                radio3:'',
                radio4:'',
                radio5:'',
                radio6:'',
                radio7:'',
                radio8:'',
                radio9:'',
                radio10:'',
                radio11:'',
                radio12:'',
                radio13:'',
                radio14:'',
                radio15:'',
            },
            valueType:0,
            optionsType:[
                {
                    label:'中期考核',
                    value:0
                },
                {
                    label:'第一年度考核',
                    value:1
                },
                {
                    label:'最终验收',
                    value:2
                },
            ],
            tableData3:[
                // {
                //     xuhao:'01',
                //     name:'李丽',
                //     juese:'组长',
                //     zhicheng:'教授',
                //     danwei:'国家海洋局第一海洋研究所',
                //     jieshao:'查看'
                // },
                // {
                //     xuhao:'02',
                //     name:'王明',
                //     juese:'成员',
                //     zhicheng:'技术员',
                //     danwei:'国家海洋局第一海洋研究所',
                //     jieshao:'查看'
                // },
                // {
                //     xuhao:'03',
                //     name:'白析',
                //     juese:'成员',
                //     zhicheng:'高级职工',
                //     danwei:'国家海洋局第一海洋研究所',
                //     jieshao:'查看'
                // },
                // {
                //     xuhao:'04',
                //     name:'刘华',
                //     juese:'成员',
                //     zhicheng:'高级职工',
                //     danwei:'国家海洋局第一海洋研究所',
                //     jieshao:'查看'
                // },
                // {
                //     xuhao:'05',
                //     name:'白析',
                //     juese:'成员',
                //     zhicheng:'高级职工',
                //     danwei:'国家海洋局第一海洋研究所',
                //     jieshao:'查看'
                // },
                // {
                //     xuhao:'06',
                //     name:'刘华',
                //     juese:'成员',
                //     zhicheng:'高级职工',
                //     danwei:'国家海洋局第一海洋研究所',
                //     jieshao:'查看'
                // },
            ],
            multipleSelection: [],
            endTime:''
        }
    },
    methods: {
        qupjmx(){
            this.$router.push({ path: '/projectML/qypjmx'})
        },
        ljqpj(){
            this.dialogVisible1 = true;
        },
        handleClose1(){
            this.dialogVisible1 = false;
        },
        qyjhmb(){
            this.$router.push({ path: '/projectML/qyjxmb'});
        },
        cjpgjh(){
            this.dialogVisible2 = true;
        },
        handleSelectionChange(val){
            this.multipleSelection = val;
        },
        commit(){
            this.dialogVisible2 = false;
        },
        cancel(){
            this.dialogVisible2 = false;
        },
        handleClick(){
            this.dialogVisible3 = true;
        },
        handleClose3(){
            this.dialogVisible3 = false;
        },
        zidongSelect(){
            let arr = [
                {
                    xuhao:'01',
                    name:'李丽',
                    juese:'组长',
                    zhicheng:'教授',
                    danwei:'国家海洋局第一海洋研究所',
                    jieshao:'查看'
                },
                {
                    xuhao:'02',
                    name:'王明',
                    juese:'成员',
                    zhicheng:'技术员',
                    danwei:'国家海洋局第一海洋研究所',
                    jieshao:'查看'
                },
                {
                    xuhao:'03',
                    name:'白析',
                    juese:'成员',
                    zhicheng:'高级职工',
                    danwei:'国家海洋局第一海洋研究所',
                    jieshao:'查看'
                },
                {
                    xuhao:'04',
                    name:'刘华',
                    juese:'成员',
                    zhicheng:'高级职工',
                    danwei:'国家海洋局第一海洋研究所',
                    jieshao:'查看'
                },
                {
                    xuhao:'05',
                    name:'白析',
                    juese:'成员',
                    zhicheng:'高级职工',
                    danwei:'国家海洋局第一海洋研究所',
                    jieshao:'查看'
                },
                {
                    xuhao:'06',
                    name:'刘华',
                    juese:'成员',
                    zhicheng:'高级职工',
                    danwei:'国家海洋局第一海洋研究所',
                    jieshao:'查看'
                },
                {
                    xuhao:'07',
                    name:'张兰',
                    juese:'成员',
                    zhicheng:'高级职工',
                    danwei:'国家海洋局第一海洋研究所',
                    jieshao:'查看'
                },
                {
                    xuhao:'08',
                    name:'王梅',
                    juese:'成员',
                    zhicheng:'高级职工',
                    danwei:'国家海洋局第一海洋研究所',
                    jieshao:'查看'
                },
                {
                    xuhao:'09',
                    name:'李笑笑',
                    juese:'成员',
                    zhicheng:'高级职工',
                    danwei:'国家海洋局第一海洋研究所',
                    jieshao:'查看'
                },
                {
                    xuhao:'10',
                    name:'燕南天',
                    juese:'成员',
                    zhicheng:'高级职工',
                    danwei:'国家海洋局第一海洋研究所',
                    jieshao:'查看'
                },
            ];
            this.tableData3 = arr;
        },
        khbg(){
            this.dialogVisible4 = true;
        },
        handleClose4(){
            this.dialogVisible4 = false;
        },
        pgjgtjt(){
            let _this = this;
            this.dialogVisible5 = true;
            setTimeout(function(){
                _this.mapThree();
            },500);
        },
        handleClose2(){
            this.dialogVisible5 = false;
        },
        // handleClose5(){
        //     this.dialogVisible5 = false;
        // },
        mapThree(){
            let option = {
                color: ['#3398DB'],
                tooltip : {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis : [
                    {
                        type : 'category',
                        data : ['南通', '上海浦东', '舟山', '宁波', '福州'],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis : [
                    {
                        type : 'value',
                        min:80,
                        max:100
                    }
                ],
                series : [
                    {
                        name:'直接访问',
                        type:'bar',
                        barWidth: '60%',
                        data:[86, 88, 98, 87, 89, 95, 90]
                    }
                ]
            };
            var myChart = this.$echarts.init(document.getElementById('mapPG'));
            myChart.setOption(option);
        },
    },
    mounted() {

    },
}
</script>
<style lang="less" scoped>
    .sider{
        height:40px;
        background-color: #f5f5f5;
        padding-left: 30px;
        /deep/.el-breadcrumb {
            line-height: 40px;
        }
    }
    .containt {
        padding: 0 30px;
    }
    .title{
        margin-top:20px;
        .time-title{
            display:inline-block;
            line-height:36px;
        }
        .time-title-middle{
            // float:left;
            display:inline-block;
            line-height:36px;
            margin-left:5px;
        }
        .time-type{
            display:inline-block;
            line-height:36px;
            // margin-left:20px;
        }
        .btn{
            display:inline-block;
            margin-left:20px;
        }
        .dataExport{
            float:right;
        }
        .cjjh{
            float:right;
        }
    }
    .table{
        // border:1px solid #f1f1f1;
        margin-top:30px;
        tr{
            background:#F5F5F7;
            border-bottom:1px solid #EBEEF5;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:50px;
                border-bottom:1px solid #EBEEF5;
                color:#333;
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:14px;
                    color:#606266;
                }
            }
        }
    }
    .table1{
        border-right:1px solid #eeeeee;
        border-bottom:1px solid #eeeeee;
        margin-top:0;
        tr{
            td{
                background:#ffffff;
                color:#333333;
                padding-left:10px;
                padding-right:10px;
                font-size:14px;
                line-height:34px;
            }
        }

    }
    .con2{
        margin-top:20px;
    }
    .btns{
        text-align:center;
        margin-top:20px;
    }
    .search{margin-top:20px;position:relative;z-index:999;width:250px;height:28px;border-radius:25px;}
    .search input{float:left;height:100%;width:100%;border:none;background:#ffffff;box-shadow:0 0 2px 0 #cccccc;outline:none;border-radius:14px;padding-left:15px;}
    .search a{position:absolute;right:0;top:-1px;width:60px;height:30px;line-height:28px;border-radius:14px;background:#6666cc;text-align:center;color:#ffffff;font-size:14px;}
    /deep/.el-radio{
        margin-right:5px;
    }
    /deep/.el-dialog__header{
        background:#a5a5cf;
    }
    /deep/.el-dialog__title{
        color:#ffffff;
    }
</style>
