<template>
    <div class="verify">
        <div class="verify-main">
            <div class="sider">
                <el-breadcrumb >
                    <el-breadcrumb-item>数据管理</el-breadcrumb-item>
                    <el-breadcrumb-item>产品审核</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="verify-main-table">
                <div class="title">
                    <el-form inline>
                        <el-form-item>
                            <el-input @input="getExpertList(gainName)" prefix-icon="el-icon-search" v-model="gainName" placeholder="按序号/成果名称进行搜索"/>
                        </el-form-item>
                    </el-form>
                    <div class="btn">
                        <el-button type="primary" @click="addEvents">添加专家</el-button>
                        <el-button type="danger" @click="delExperts">删除</el-button>
                    </div>
                </div>
                <el-table :data="expertList" ref="multipleTable">
                    <el-table-column type="selection" width="55"></el-table-column>
                    <el-table-column prop="expertName" label="专家姓名"></el-table-column>
                    <el-table-column prop="expertTitle" label="职称"></el-table-column>
                    <el-table-column prop="expertSubject" label="专业"></el-table-column>
                    <el-table-column prop="expertWorkUnit" label="工作单位"></el-table-column>
                </el-table>
            </div>
        </div>

        <el-dialog append-to-body width="550px" custom-class="Item flat" :visible.sync="expertAddShow">
            <div slot="title" class="Item-title">
                <p class="title-pie">分配专家打分任务</p>
            </div>
            <div class="Item-main">
                <el-form label-width="100px" :model="itemFormData" ref="itemDom" :rules="itemFormRule">
                    <el-form-item label="专家姓名" prop="name">
                        <el-input v-model="itemFormData.name"/>
                    </el-form-item>
                    <el-form-item label="职称" prop="title">
                        <el-select v-model="itemFormData.title" multiple>
                            <el-option v-for="(item,index) in titleList" :key="index" :label="item.valueDesc" :value="item.valueDesc"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="专业" prop="major">
                        <el-input v-model="itemFormData.major"/>
                    </el-form-item>
                    <el-form-item label="工作单位" prop="company">
                        <el-input v-model="itemFormData.company"/>
                    </el-form-item>
                </el-form>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="_cancel">取 消</el-button>
                <el-button type="primary" @click="submitAddItem">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                gainName: '',
                expertAddShow: false,
                itemFormRule: {
                    name: [{required: true, message: '请输入专家姓名', rigger: 'blur'}]
                },
                itemFormData: {
                    name: '',
                    title: [],
                    major: '',
                    company: ''
                },
                titleList: [],
                expertList: []
            }
        },
        methods: {
            addEvents(){
                this.expertAddShow = true
            },
            _cancel(){
                this.$refs.itemDom.resetFields()
                this.expertAddShow = false
            },
            getTitle(){
                this.$axios.get('/Const/list',{params:{type:1002}})
                    .then(data =>{
                        this.titleList = data.data.resultData
                    })
            },
            submitAddItem(){
                this.$refs.itemDom.validate(valid =>{
                    if(valid){
                        let str = ''
                        if(this.itemFormData.title.length > 0){
                            str = this.itemFormData.title.join('/')
                        }
                        let param = {
                            expertName: this.itemFormData.name,
                            expertSubject: this.itemFormData.major,
                            expertTitle: str,
                            expertWorkUnit: this.itemFormData.company
                        }
                        this.$post('/expertManagerController/add',param)
                            .then(data =>{
                                this.$message.success('添加成功')
                                this._cancel()
                            })
                    }
                })
            },
            getExpertList(word){
                if(!word){
                    word = ''
                }
                this.$post('/expertManagerController/query',{keyword: word})
                    .then(data =>{
                        this.expertList = data.data.resultData
                    })
            },
            delExperts(){
                let arr = this.$refs.multipleTable.selection
                if(arr.length > 0){
                    let idList = arr.map(item => item.id)
                    this.$post('/expertManagerController/delete',{idStr: idList.join(',')})
                        .then(data =>{
                            this.$message.success('删除成功')
                            this.getExpertList()
                        })
                }
            }
        },
        created() {
            this.getTitle()
            this.getExpertList()
        }
    }
</script>

<style lang="scss" scoped>
    .sider{
        height:50px;
        position:fixed;
        top:0px;
        z-index:999;
        & >>> .el-breadcrumb {
            line-height: 50px;
        }
    }
    .el-form >>> .el-form-item{
        margin-bottom: 10px;
    }
    .verify{
        height: 100%;
        overflow-y: auto;
        &-main{
            padding: 0 20px 30px;
            &-table{
                margin-top: 20px;
                .title{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
    .Item{

    }
</style>
