<template>
    <div class="container">
        <div class="notice">
            <h3>发布通知</h3>
            <el-form :model="noticeData" label-width="120px">
                <el-form-item label="标题">
                    <el-input v-model="noticeData.title" maxlength="25" show-word-limit></el-input>
                </el-form-item>
                <el-form inline label-width="120px">
                    <el-form-item label="通知对象">
                        <el-select collapse-tags clearable v-model="noticeData.companyName" multiple @change="companyEvent">
                            <el-option v-for="(item, index) in companyList" :label="item" :value="item" :key="index"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="显示有效期至">
                        <el-date-picker
                            v-model="noticeData.expiryDate"
                            value-format="yyyyMMdd"
                            type="date"
                            placeholder="选择日期">
                        </el-date-picker>
                    </el-form-item>
                </el-form>
                <el-form-item label="通知内容">
                    <el-input maxlength="125" v-model="noticeData.content" show-word-limit :autosize="{ minRows: 4, maxRows: 8}" type="textarea"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" plain @click="submitNotice">发布通知</el-button>
                    <span style="font-size: 14px;color: red">温馨提示：请勿发布、广告、营销、违反国家法律法规等内容</span>
                </el-form-item>
            </el-form>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                noticeData: {
                    title: '',
                    expiryDate: '',
                    content: '',
                    companyName: [],

                },
                companyList: []
            }
        },
        methods:{
            getCompanyList(){
                this.$post('/notice/companyList')
                    .then(data =>{
                        this.companyList = data.data.resultData
                        this.companyList.unshift('全部企业')
                    })
            },
            companyEvent(val){
                if(val.includes('全部企业')){
                    this.noticeData.companyName = this.companyList
                }else{
                    this.noticeData.companyName = val
                }
            },
            submitNotice(){
                if(!this.noticeData.title){
                    this.$message.info('请输入通知标题')
                    return
                }
                if(this.noticeData.companyName.length == 0){
                    this.$message.info('请选择通知企业')
                    return
                }
                if(!this.noticeData.expiryDate){
                    this.$message.info('请选择过期时间')
                    return
                }
                if(!this.noticeData.content){
                    this.$message.info('请输入通知内容')
                    return
                }
                let copyData = JSON.parse(JSON.stringify(this.noticeData))
                copyData.companyName = copyData.companyName.join(';')
                this.$post('/notice/release',copyData)
                    .then(data =>{
                        this.$message.success('发布成功')
                        Object.keys(this.noticeData).map(item => this.noticeData[item] = '')
                        this.noticeData.companyName = []
                    })
            }
        },
        created() {
            this.getCompanyList()
        }
    }
</script>

<style lang="scss" scoped>
    .container{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 15px;
        .notice{
            width: 100%;
            height: 100%;
            background: white;
            border-radius: 4px;
            h3{
                height: 60px;
                line-height: 60px;
                font-size: 20px;
                font-weight: 700;
                padding-left: 35px;
                border-bottom: 1px solid #E9E9E9;
                color: #555;

            }
            .el-form{
                margin-top: 20px;
                width: 90%;
            }
            .el-form >>> .el-form-item__label{
                font-weight: 700;
            }
        }
    }
</style>
