<template>
    <div class="mall">
        <div class="mall-tip">
            <div class="mall-title">
                <div class="mall-title-top">
                    <div class="avatar">
                        <img :src="img.title">
                        <div>
                            <p>成果推介商城</p>
                            <span>ACHIEVEMENT TRADING MALL</span>
                        </div>
                    </div>
                    <div class="search">
                        <div class="search-input">
                            <el-dropdown>
                        <span class="el-dropdown-link">
                            商品<i class="el-icon-arrow-down el-icon--right"></i>
                        </span>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item>黄金糕</el-dropdown-item>
                                    <el-dropdown-item>狮子头</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                            <div class="input_inner">
                                <i class="el-icon-search"></i>
                                <input type="text" placeholder="请输入关键词搜索">
                            </div>
                            <button>搜索</button>
                        </div>
                        <p class="hot">热搜关键词：<span>小型海水淡化设备</span></p>
                    </div>
                    <div class="quality">
                        <div>
                            <img :src="img.quality">
                            <p>正品保障</p>
                        </div>
                        <div>
                            <img :src="img.quality">
                            <p>诚信保障</p>
                        </div>
                    </div>
                </div>
                <div class="mall-title-bottom">
                    <div class="itemize">
                        <i class="el-icon-s-fold">全部行业分类</i>
                        <ul class="types">
                            <li>海洋生物产业</li>
                            <li>海洋生物产业</li>
                            <li>海洋生物产业</li>
                            <li>海洋生物产业</li>
                            <li>海洋生物产业</li>
                            <li>海洋生物产业</li>
                        </ul>
                    </div>
                    <nav>
                        <a href="#">首页</a>
                    </nav>
                </div>
            </div>
        </div>
        <div v-if="true">
            <div class="mall-plant">
                <img :src="img.plant" alt="">
            </div>
            <div class="mall-main">
                <div class="refer">
                    <h3><img :src="img.diamond">推介企业 <span>示范企业，购物有保障</span></h3>
                    <div class="refer-main">
                        <div class="refers">
                            <img :src="img.refer">
                        </div>
                        <div class="refer-main-card" v-for="item in 3">
                            <div class="example">
                                <img :src="img.example">
                                <span>示范企业</span>
                            </div>
                            <div class="company">
                                <p>上海亨通海洋有限公司</p>
                                <span>从事海洋装备、海洋科技、海洋油气系统</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="estate">
                    <div class="estate-title">
                        <div class="tips">
                            <div class="floor">
                                <b>1</b>
                                <span></span>
                                <i>F</i>
                            </div>
                            <p>海洋产业</p>
                        </div>
                        <div class="more">
                            <span>更多>></span>
                        </div>
                    </div>
                    <div class="estate-main">
                        <div class="left">
                            <h3>海洋产业</h3>
                            <button>点击进入</button>
                            <img :src="img.sea">
                        </div>
                        <ul class="right">
                            <li v-for="item in 8">
                                <img :src="img.seaPic">
                                <p>海底高压主基站</p>
                                <div class="tip">
                                    <span>价格面议</span>
                                    <button>立即洽谈</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="estate">
                    <div class="estate-title">
                        <div class="tips">
                            <div class="floor">
                                <b>2</b>
                                <span></span>
                                <i>F</i>
                            </div>
                            <p>海洋产业</p>
                        </div>
                        <div class="more">
                            <span>更多>></span>
                        </div>
                    </div>
                    <div class="estate-main">
                        <div class="left">
                            <h3>海洋产业</h3>
                            <button>点击进入</button>
                            <img :src="img.sea">
                        </div>
                        <ul class="right">
                            <li v-for="item in 8">
                                <img :src="img.seaPic">
                                <p>海底高压主基站</p>
                                <div class="tip">
                                    <span>价格面议</span>
                                    <button>立即洽谈</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="estate">
                    <div class="estate-title">
                        <div class="tips">
                            <div class="floor">
                                <b>3</b>
                                <span></span>
                                <i>F</i>
                            </div>
                            <p>海洋产业</p>
                        </div>
                        <div class="more">
                            <span>更多>></span>
                        </div>
                    </div>
                    <div class="estate-main">
                        <div class="left">
                            <h3>海洋产业</h3>
                            <button>点击进入</button>
                            <img :src="img.sea">
                        </div>
                        <ul class="right">
                            <li v-for="item in 8">
                                <img :src="img.seaPic">
                                <p>海底高压主基站</p>
                                <div class="tip">
                                    <span>价格面议</span>
                                    <button>立即洽谈</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="mall-detail" v-if="false">
            <div class="mall-detail-type">
                <div class="type-box">
                    <div class="bread">
                        <p>全部行业分类 <span> > 店铺分类</span></p>
                    </div>
                    <div class="company">
                        <div class="company-tips">
                            <img :src="img.seaPic" alt="">
                            <div class="desc">
                                <h3>上海亨通海洋装备有限公司</h3>
                                <p><span>成立时间</span>2017-05-11</p>
                                <p><span>所属行业</span>2017-05-11</p>
                                <p><span>企业地址</span>2017-05-11</p>
                            </div>
                        </div>
                        <div class="company-btn">
                            <button class="price">立即询价</button>
                            <button>查看电话</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mall-detail-desc">
                <div class="company-detail">
                    <h3>企业简介</h3>
                    <p>亨通光电专注于光纤通信和电力传输领域，构筑形成光纤通信和量子通信全产业链及自主核心技术，进军海洋工程、量子保密通信、大数据等高端产品及新领域，拓展新的战略空间， 形成“产品+运营+服务”全价值链优势，致力于打造全价值链综合服务商。在全国13省市和海外9个国家设立研发产业基地，在ODC'2017年会上评为2016年-2017年全球光纤通信行业前3强。 在经济全球化和“一带一路”战略实施大背景下，亨通以开放、包容、合作、共赢的发展理念，看着世界地图做企业，沿着一带一路走出去，加快打造全球化运营的国际化公司。</p>
                </div>
                <div class="company-detail">
                    <h3>店铺宝贝</h3>
                    <ul>
                        <li v-for="item in 2">
                            <img :src="img.seaPic" alt="">
                            <p>海底高压主基站</p>
                            <div class="btn">
                                <span><i>￥</i>500万</span>
                                <button>立即洽谈</button>
                            </div>
                        </li>
                        <li class="space" v-for="item in 3"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mall-detail" v-if="false">
            <div class="mall-detail-type">
                <div class="type-box">
                    <div class="bread">
                        <p>全部行业分类 <span> > 商品详情</span></p>
                    </div>
                    <div class="goods">
                        <div class="img">
                            <img :src="img.seaPic" alt="">
                            <div class="pane">
                                <div>

                                </div>
                            </div>
                        </div>
                        <div class="count">
                            <h3>海底高压主基站</h3>
                            <ul class="prices">
                                <li><span>原价</span> <i>¥12350.00</i></li>
                                <li><span>现价</span> <b><i>¥</i>500.00万</b></li>
                                <li><span>起订量</span> <h3>1件起批</h3></li>
                            </ul>
                            <p><span>物流</span>上海市</p>
                            <p><span>数量</span><el-input-number v-model="num" :min="1" :max="10" label="描述文字"></el-input-number></p>
                            <div class="company-btn">
                                <button class="price">立即询价</button>
                                <button>查看电话</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mall-detail-desc-else">
                <div class="left-slider">
                    <div class="slider-info">
                        <h3>店铺信息</h3>
                        <div class="info">
                            <h4>上海亨通海洋装备有限公司</h4>
                            <p><span>成立时间</span>2017-05-11</p>
                            <p><span>所属行业</span>2017-05-11</p>
                            <button>查看店铺</button>
                        </div>
                    </div>
                    <div class="slider-info">
                        <h3>店内热销</h3>
                        <ul>
                            <li>
                                <img :src="img.seaPic" alt="">
                                <p>按时间殴打和那时就肯定会那就看艰苦拉萨ask来得及ask了</p>
                                <span>价格面议</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right-slider">
                    <h3>产品详情</h3>
                    <div class="desc">
                        <p>亨通光电专注于光纤通信和电力传输领域，构筑形成光纤通信和量子通信全产业链及自主核心技术，进军海洋工程、量子保密通信、大数据等高端产品及新领域，拓展新的战略空间， 形成“产品+运营+服务”全价值链优势，致力于打造全价值链综合服务商。在全国13省市和海外9个国家设立研发产业基地，在ODC'2017年会上评为2016年-2017年全球光纤通信行业前3强。 在经济全球化和“一带一路”战略实施大背景下，亨通以开放、包容、合作、共赢的发展理念，看着世界地图做企业，沿着一带一路走出去，加快打造全球化运营的国际化公司。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                img: {
                    title: require('../../assets/mall/mallTitle.svg'),
                    quality: require('../../assets/mall/zheng.svg'),
                    plant: require('../../assets/mall/plant.png'),
                    diamond: require('../../assets/mall/zuan.svg'),
                    example: require('../../assets/mall/example.svg'),
                    refer: require('../../assets/mall/refer.png'),
                    seaPic: require('../../assets/mall/seaPic.png'),
                    sea: require('../../assets/mall/sea.svg'),
                },
                num: 1,
            }
        },
        methods: {
            detail(){

            }
        },
    }
</script>
<style lang="scss" scoped>
    .mall{
        height: 100%;
        overflow-y: auto;
        background: #F9FAFC;
        &-tip{
            border-bottom: 2px solid #FF3848;
            background: white;
        }
        &-title{
            width: 1200px;
            margin: 0 auto;
            &-top{
                padding: 30px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .avatar{
                    display: flex;
                    img{
                        width: 60px;
                        height: 50px;
                        display: block;
                    }
                    div{
                        height: 50px;
                        position: relative;
                        text-align: left;
                        margin-left: 10px;
                        p{
                            font-size: 28px;
                            color: #333;
                            padding-right: 15px;
                        }
                        span{
                            font-size: 12px;
                            position: absolute;
                            bottom: 0;
                            color: #333;
                        }
                    }
                }
                .search{
                    height: 30px;
                    &-input{
                        display: flex;
                        border: 2px solid #FF3848;
                        align-items: center;
                        .el-dropdown{
                            margin-left: 10px;
                            padding-right: 10px;
                            border-right: 1px solid #ABABAB;
                        }
                        .input_inner{
                            position: relative;
                            margin-left: 5px;
                            i{
                                position: absolute;
                                left: 5px;
                                color: #ABABAB;
                                top: 5px;
                                font-size: 20px;
                            }
                            input{
                                height: 30px;
                                width: 395px;
                                padding: 0 30px;
                                border: none;
                                outline: none;
                            }
                        }
                        button{
                            height: 30px;
                            border: none;
                            outline: none;
                            background: #FF3848;
                            width: 90px;
                            line-height: 30px;
                            color: white;
                            font-size: 16px;
                        }
                    }
                    .hot{
                        display: inline;
                        font-size: 14px;
                        color: #b6b6b6;
                        span{
                            cursor: pointer;
                            border-right: 1px solid #B6B6B6;
                            &:last-child{
                                border-right: none;
                            }
                        }
                    }
                }
                .quality{
                    display: flex;
                    >div{
                        margin-left: 20px;
                        height: 40px;
                        img{
                            width: 30px;
                            display: block;
                            margin: 0 auto;
                        }
                        p{
                            font-size: 14px;
                            color: #FF3848;
                            margin-top: 5px;
                        }
                    }
                }
            }
            &-bottom{
                display: flex;
                .itemize{
                    position: relative;
                    &:hover .types{
                        display: block;
                    }
                    &:hover i{
                        background: #FF3848;
                        color: white;
                    }
                    i{
                        width: 170px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        cursor: default;

                    }
                    .types{
                        position: absolute;
                        width: 170px;
                        height: 535px;
                        background: #444444;
                        padding: 10px;
                        display: none;
                        li{
                            color: white;
                            padding: 10px 0;
                            font-size: 10px;
                            cursor: pointer;
                        }
                    }
                }
                nav{
                    margin-left: 40px;
                    a{
                        display: inline-block;
                        height: 40px;
                        line-height: 40px;
                        color: #333;
                        padding: 0 20px;
                        &:hover{
                            border-bottom: 2px solid #FF3848;
                        }
                    }
                }
            }
        }
        &-plant{
            height: 535px;
            width: 100%;
            img{
                width: 100%;
                display: block;
                border: none;
            }
        }
        &-main{
            width: 1200px;
            margin: 10px auto;
            .refer{
                h3{
                    img{
                        display: block;
                        margin-right: 10px;
                    }
                    display: flex;
                    align-items: center;
                    color: #AA56F1;
                    font-weight: normal;
                    font-size: 24px;
                    span{
                        font-size: 18px;
                        color: #999;
                        margin-left: 30px;
                    }
                }
                &-main{
                    padding: 30px 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .refers{
                        width: 265px;
                        img{
                            display: block;
                            width: 100%;
                        }
                    }
                    &-card{
                        width: 285px;
                        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16078431372549);
                        display: flex;
                        border-radius: 5px;
                        .example{
                            margin-top: 25px;
                            position: relative;
                            margin-left: 10px;
                            width: 95px;
                            height: 95px;
                            img{
                                width: 95px;
                                height: 95px;
                                border-radius: 10px;
                                overflow: hidden;
                            }
                            span{
                                font-size: 14px;
                                color: white;
                                background: #FFAF01;
                                position: absolute;
                                bottom: -8px;
                                right: 14px;
                            }
                        }
                        .company{
                            margin-left: 10px;
                            margin-top: 20px;
                            width: 145px;
                            padding-bottom: 35px;
                            p{
                                font-size: 16px;
                            }
                            span{
                                margin-top: 13px;
                                display: inline-block;
                                font-size: 12px;
                                color: #656565;
                                background: #EFEFEF;
                                padding: 8px;
                                text-overflow: -o-ellipsis-lastline;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }
                }
            }
            .estate{
                margin-top: 20px;
                overflow: hidden;
                padding-bottom: 30px;
                &-title{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .tips{
                        display: flex;
                    }
                    .more{
                        span{
                            color: #999;
                            font-size: 14px;
                        }
                    }
                    .floor{
                        display: flex;
                        b{
                            font-weight: normal;
                            font-size: 24px;
                            position: relative;
                            top: -5px;
                        }
                        span{
                            transform: rotate(30deg);
                            display: block;
                            height: 35px;
                            width: 1.5px;
                            background: #FF7F45;
                        }
                        i{
                            font-style: normal;
                            font-size: 24px;
                            position: relative;
                            top: 12px;
                            left: 5px;
                        }
                    }
                    p{
                        font-size: 24px;
                        margin-left: 30px;
                    }
                }
                &-main{
                    margin-top: 30px;
                    .left{
                        width: 330px;
                        height: 550px;
                        background: #87E6F0;
                        h3{
                            margin-top: 35px;
                            color: #0E8F9C;
                            font-size: 43px;
                            font-weight: normal;
                            text-align: center;
                        }
                        button{
                            width: 170px;
                            height: 45px;
                            text-align: center;
                            margin-left: calc((100% - 170px) / 2);
                            margin-top: 55px;
                            background: none;
                            outline: none;
                            border: 1px solid #1B98A5;
                            color: #0E8F9C;
                            font-size: 24px;
                            border-radius: 30px;
                        }
                        img{
                            width: 275px;
                            display: block;
                            margin: 115px auto 0;
                        }
                    }
                    .right{
                        width: calc(100% - 350px);
                        display: flex;
                        flex-flow: row wrap;
                        li{
                            width: 25%;
                            border-top: 1px solid #EFEFEF;
                            border-left: 1px solid #EFEFEF;
                            border-bottom: 1px solid #EFEFEF;
                            &:nth-child(4){
                                border-right: 1px solid #EFEFEF;
                            }
                            &:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8){
                                margin-top: 9px;
                            }
                            img{
                                display: block;
                                width: 100%;
                                height: 180px;
                                border-bottom: 1px solid #EFEFEF;
                            }
                            p{
                                padding: 15px 10px;
                                font-size: 14px;
                            }
                            .tip{
                                padding: 0 10px 15px;
                                display: flex;
                                justify-content: space-between;
                                span{
                                    font-size: 14px;
                                    color: #ff3848;
                                }
                                button{
                                    background: white;
                                    outline: none;
                                    border: 1px solid #ff3848;
                                    color: #FF3848;
                                    padding: 3px 10px;
                                    border-radius: 3px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-detail{
            background: #F9FAFC;
            &-type{
                background: white;
                padding-bottom: 20px;
                .type-box{
                    width: 1200px;
                    margin: 0 auto;
                    .bread{
                        padding: 10px 0;
                        font-size: 14px;
                        span{
                            color: #999;
                        }
                    }
                    .company{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        &-tips{
                            display: flex;
                            width: 750px;
                            img{
                                width: 160px;
                                height: 160px;
                                display: block;
                            }
                            .desc{
                                margin-left: 15px;
                                h3{
                                    font-size: 24px;
                                    margin-top: 15px;
                                    font-weight: normal;
                                }
                                p{
                                    font-size: 14px;
                                    margin-top: 15px;
                                    span{
                                        color: #999;
                                        margin-right: 20px;
                                    }
                                }
                            }
                        }
                        &-btn{
                            button{
                                width: 140px;
                                height: 40px;
                                background: none;
                                outline: none;
                                font-size: 18px;
                                border: 1px solid #FF3848;
                                color: #FF3848;
                                margin-left: 20px;
                                border-radius: 2px;
                            }
                            .price{
                                background: #FF3848;
                                color: white;
                            }
                        }
                    }
                    .goods{
                        display: flex;
                        justify-content: space-between;
                        .img{
                            width: 455px;
                            img{
                                width: 455px;
                                height: 460px;
                            }
                            .pane{
                                margin-top: 10px;
                                padding-bottom: 15px;
                                display: flex;
                                justify-content: center;
                                div{
                                    width: 105px;
                                    height: 105px;
                                    background: black;

                                }
                            }
                        }
                        .count{
                            width: calc(100% - 505px);
                            h3{
                                margin-top: 15px;
                                font-size: 24px;
                                font-weight: normal;
                            }
                            .prices{
                                margin-top: 20px;
                                background: #FAFAFA;
                                padding: 20px 15px;
                                li{
                                    font-size: 14px;
                                    color: #999;
                                    margin-bottom: 5px;
                                    &:last-of-type{
                                        margin-bottom: 0px;
                                    }
                                    &:nth-child(2){
                                        margin-bottom: 15px;
                                    }
                                    span{
                                        display: inline-block;
                                        width: 80px;
                                        text-align: left;
                                    }
                                    i{
                                        font-style: normal;
                                        color: #333;
                                        text-decoration: line-through;
                                    }
                                    b{
                                        font-weight: normal;
                                        color: #FF3848;
                                        font-size: 30px;
                                        i{
                                            color: #FF3848;
                                            font-size: 20px;
                                            text-decoration: none;
                                        }
                                    }
                                    h3{
                                        font-weight: normal;
                                        color: #333;
                                        display: inline;
                                        font-size: 14px;
                                    }
                                }
                            }
                            p{
                                font-size: 14px;
                                color: #333;
                                padding: 20px 0 0;
                                span{
                                    display: inline-block;
                                    width: 100px;
                                    padding-left: 20px;
                                    color: #A2A2A2;

                                }
                                .el-input-number >>> .el-input__inner{
                                    height: 40px;
                                }
                            }
                            .company-btn{
                                margin-top: 40px;
                            }
                        }
                    }
                }

            }
            &-desc{
                width: 1200px;
                margin: 0 auto;
                padding-bottom: 20px;
                &-else{
                    width: 1200px;
                    margin: 0 auto;
                    padding-bottom: 20px;
                    display: flex;
                    justify-content: space-between;
                    .left-slider{
                        width: 290px;
                        .slider-info{
                            h3{
                                padding: 15px 0 20px;
                                font-size: 20px;
                                font-weight: normal;
                            }
                            .info{
                                padding: 20px;
                                background: white;
                                h4{
                                    font-size: 18px;
                                    font-weight: normal;
                                }
                                p{
                                    margin-top: 20px;
                                    color: #333;
                                    font-size: 14px;
                                    span{
                                        color: #999;
                                        display: inline-block;
                                        width: 80px;
                                    }
                                }
                                button{
                                    width: 100%;
                                    height: 40px;
                                    color: #FF3848;
                                    border: 1px solid #FF3848;
                                    border-radius: 4px;
                                    margin-top: 35px;
                                    background: none;
                                    outline: none;
                                }
                            }
                            ul{
                                padding: 20px;
                                background: white;
                                li{
                                    margin-bottom: 25px;
                                    border: 1px solid #EFEFEF;
                                    &:last-of-type{
                                        margin-bottom: 0;
                                    }
                                    img{
                                        width: 100%;
                                        height: 215px;
                                    }
                                    p{
                                        padding: 10px 0;
                                        width: calc(100% - 16px);
                                        margin: 0 auto;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        font-size: 14px;
                                    }
                                    span{
                                        margin-left: 8px;
                                        padding-bottom: 20px;
                                        display: inline-block;
                                        color: #FF3848;
                                    }
                                }
                            }
                        }
                    }
                    .right-slider{
                        width: calc(100% - 330px);
                        h3{
                            padding: 15px 0 20px;
                            font-size: 20px;
                            font-weight: normal;
                        }
                        .desc{
                            padding: 35px;
                            background: white;
                            height: calc(100% - 60px);
                            p{
                                font-size: 14px;
                                line-height: 20px;
                            }
                        }
                    }
                }
                .company-detail{
                    h3{
                        font-size: 16px;
                        padding: 15px 0;
                        font-weight: normal;
                    }
                    p{
                        padding: 20px;
                        background: white;
                        font-size: 14px;
                        line-height: 24px;
                    }
                    ul{
                        padding: 0 20px;
                        background: white;
                        overflow: hidden;
                        display: flex;
                        justify-content: space-between;
                        li{
                            width: 210px;
                            border: 1px solid #EFEFEF;
                            margin: 20px 0;
                            img{
                                width: 100%;
                                display: block;
                            }
                            p{
                                padding: 10px 8px;
                            }
                            .btn{
                                padding: 0 8px 15px;
                                background: white;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                span{
                                    color: #ff2838;
                                    font-size: 20px;
                                    i{
                                        font-size: 14px;
                                        font-style: normal;
                                    }
                                }
                                button{
                                    width: 90px;
                                    height: 25px;
                                    border: 1px solid #ff2838;
                                    background: none;
                                    outline: none;
                                    font-size: 14px;
                                    color: #ff2838;
                                }
                            }
                        }
                        .space{
                            margin: 0;
                            padding: 0;
                            border: none;
                        }
                    }
                }

            }
        }
    }
</style>
