<template>
    <div>
        <el-button type="warning" @click="goBack">返回</el-button>
        <img src="../../assets/cxcgjyDetail.jpg" />
    </div>
</template>
<script>
export default {
    data(){
        return{}
    },
    methods: {
        goBack(){
            this.$router.go(-1);
        }
    },
}
</script>
