<template>
    <div class="product">
        <div class="product-main" v-if="mainShow">
            <div class="sider">
                <el-breadcrumb >
                    <el-breadcrumb-item>数据管理</el-breadcrumb-item>
                    <el-breadcrumb-item>产品列表</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="product-main-table">
                <div class="title">
                    <el-form inline label-width="80px" :model="searchForm">
                        <el-form-item label="操作日期">
                            <el-date-picker
                                v-model="searchForm.date"
                                type="daterange"
                                range-separator="至"
                                value-format="yyyy-MM-dd"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期">
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item label="审核状态">
                            <el-select v-model="searchForm.status">
                                <el-option label="待审核"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <div style="display: flex; align-items: center">
                                <el-input placeholder="请输入项目名称搜索"/>
                                <el-button type="primary" style="margin-left: 20px">搜索</el-button>
                            </div>
                        </el-form-item>
                    </el-form>
                    <el-button type="primary" icon="el-icon-plus" @click="publishPro">发布产品</el-button>
                </div>
                <el-table>
                    <el-table-column label="序号"></el-table-column>
                    <el-table-column label="商品图"></el-table-column>
                    <el-table-column label="标题"></el-table-column>
                    <el-table-column label="价格"></el-table-column>
                    <el-table-column label="分类"></el-table-column>
                    <el-table-column label="数量"></el-table-column>
                    <el-table-column label="关联的项目"></el-table-column>
                    <el-table-column label="简介"></el-table-column>
                    <el-table-column label="审核状态"></el-table-column>
                    <el-table-column label="操作"></el-table-column>
                </el-table>
            </div>
        </div>

        <div class="product-detail" v-if="!mainShow">
            <div class="sider">
                <el-breadcrumb >
                    <el-breadcrumb-item>数据管理</el-breadcrumb-item>
                    <el-breadcrumb-item>产品列表</el-breadcrumb-item>
                    <el-breadcrumb-item>发布产品</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="publish">
                <div class="title">产品基础信息</div>
                <el-form :model="publishData" label-width="100px" label-position="left">
                    <el-form-item label="标题" prop="title">
                        <el-input v-model="publishData.title"></el-input>
                    </el-form-item>
                    <el-form-item label="简介" prop="desc">
                        <el-input type="textarea" :autosize="{ minRows: 4, maxRows: 6}" placeholder="请输入内容" v-model="publishData.desc"></el-input>
                    </el-form-item>
                    <el-form style="padding-left: 0px;margin-top: 0px;" inline label-width="100px" label-position="left">
                        <el-form-item label="分类" style="width: 500px">
                            <el-select></el-select>
                        </el-form-item>
                        <el-form-item label="关联项目">
                            <el-select></el-select>
                        </el-form-item>
                    </el-form>
                    <el-form-item label="商品图">
                        <div class="uploadBox">

                        </div>
                    </el-form-item>
                    <el-form style="padding-left: 0px;margin-top: 0px;" inline label-width="100px" label-position="left">
                        <el-form-item label="价格" style="width: 500px">
                            <el-radio-group v-model="publishData.priceType">
                                <el-radio label="价格面议"></el-radio>
                                <el-radio label="直接报价"></el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="数量">
                            <el-input />
                        </el-form-item>
                    </el-form>
                    <el-form-item>
                        <el-input style="width: 200px !important;" placeholder="请输入数字"/>
                    </el-form-item>
                    <el-form-item label="详情描述">
                        <el-input type="textarea"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary">提交产品审核</el-button>
                        <el-button @click="_return">保存草稿</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                searchForm: {
                    date: '',
                    status: ''
                },
                mainShow: true,
                publishData: {
                    title: '',
                    desc: '',
                    priceType: ''
                }
            }
        },
        methods: {
            publishPro(){
               this.mainShow = !this.mainShow
            },
            _return(){
                this.mainShow = !this.mainShow
            }
        },
        created() {

        }
    }
</script>

<style lang="scss" scoped>
    .sider{
        height:50px;
        position:fixed;
        top:0px;
        z-index:999;
        & >>> .el-breadcrumb {
            line-height: 50px;
        }
    }
    .el-form >>> .el-form-item{
        margin-bottom: 10px;
    }
    .product{
        height: 100%;
        overflow-y: auto;
        &-main{
            padding: 0 20px 30px;
            &-table{
                margin-top: 20px;
                .title{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
        &-detail{
            padding: 0 20px 30px;
            .publish{
                width: calc(100% - 350px);
                margin-top: 30px;
                .title{
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    color: #319FF6;
                    font-size: 18px;
                    padding-left: 325px;
                    background: #D4EAFF;
                }
                .el-form{
                    margin-top: 40px;
                    padding-left: 40px;

                }
                .uploadBox{
                    width: 100%;
                    height: 120px;
                    border: 1px dashed #C0C4CC;
                }
                .el-form >>> .el-form-item{
                    margin-bottom: 22px;
                }
            }
        }
    }
    .Item{

    }
</style>
