*{padding:0;margin:0;box-sizing:border-box;}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
a{text-decoration: none;}
img{display:block;}
ul,li{list-style:none;}
.clear:after{content:"";display:block;overflow:hidden;clear:both;}
.clear{zoom:1;}
/*.wrapper{width:1900px;}*/
.left{float:left;}
.right{float:right;}
.cssSL{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#app{
    height:100%;
}
.el-tooltip__popper.is-light{
    border: 1px solid #f5f5f5;
    box-shadow: 0 5px 10px 0 rgba(147,147,147,0.20);
}
@font-face {
    font-family: 'iconfont';  /* project id 1473830 */
    src: url('//at.alicdn.com/t/font_1473830_9h8g4gehx2.eot');
    src: url('//at.alicdn.com/t/font_1473830_9h8g4gehx2.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1473830_9h8g4gehx2.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1473830_9h8g4gehx2.woff') format('woff'),
    url('//at.alicdn.com/t/font_1473830_9h8g4gehx2.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1473830_9h8g4gehx2.svg#iconfont') format('svg');
}
/*公共样式*/
.label_one,.label_three {
    font-weight: normal;
    font-style:normal;
    display:inline-block;
    padding: 2px 5px;
    font-size: 14px;
    text-align:center;
    background-color: rgba(242, 111, 107, 1);
    color:#fff;
    border-radius:3px;
    margin-right:4px;
}
.label_two {
    font-style:normal;
    display:inline-block;
    padding: 2px 5px;
    font-size: 14px;
    text-align:center;
    background-color: rgba(245, 154, 35, 1);
    color:#fff;
    border-radius:3px;
    margin-right:4px;
}
.label_three {
    font-style:normal;
    display:inline-block;
    padding: 2px 5px;
    font-size: 14px;
    text-align:center;
    background-color: rgba(115, 195, 75, 1);
    color:#fff;
    border-radius:3px;
    margin-right:4px;
}

/* .header{width:100%;}
.header .nav{position:relative;left:0;top:0;padding-left:338px;}
.header .logo{position:absolute;left:0;top:0;z-index:10;height:60px;color:#ffffff;line-height:61px;background:#6666cc;padding-left:30px;-box-shadow:0 0 2px 0 #cccccc;}
/* .header .nav{float:left;} */
/*.header .username{position:absolute;right:30px;top:0;height:60px;line-height:60px;color:#ffffff;}
.header .username a{color:#ffffff;}
.el-icon-arrow-down:before{color:#ffffff;}

.search{position:absolute;right:30px;top:76px;width:250px;height:28px;border-radius:25px;}
.search input{float:left;height:100%;width:100%;border:none;background:#ffffff;box-shadow:0 0 2px 0 #cccccc;outline:none;border-radius:14px;padding-left:15px;}
.search a{position:absolute;right:0;top:-1px;width:60px;height:30px;line-height:28px;border-radius:14px;background:#6666cc;text-align:center;color:#ffffff;font-size:14px;}

.content{width:100%;min-height:600px;background:#f6f7f9;} */



















