<template>
    <div style="padding-left:30px;padding-right:30px;">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >成果跟踪</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="title">
            <div class="time-title">考评时间：</div>
            <el-date-picker
            v-model="value1"
            type="date"
            placeholder="选择日期">
            </el-date-picker>
            <div class="time-title-middle">至：</div>
            <el-date-picker
            v-model="value1"
            type="date"
            placeholder="选择日期">
            </el-date-picker>
            <div class="time-type">类型：</div>
            <el-select v-model="value" placeholder="请选择">
                <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                </el-option>
            </el-select>
            <div class="btn"><el-button type="primary">查询</el-button></div>
        </div>
    </div>
</template>
<style lang="less" scoped>
    .cggz{
        width:100%;
        height:100%;
        background:#070e36;
    }
</style>
