<template>
    <section style="height:100%;overflow-y:auto;">
        <img style="width: 100%" :src="imgSrc" v-if="!showImg">

        <div v-else>
            <div class="cggz clear" v-if="!detailShow">
                <div class="container">
                    <div class="part1">
                        <div class="title">
                            <span class="line"></span>
                            <ul class="dot">
                                <li :class="{'active':item.index == i}" v-for="item in yearList" :key="item.index" @click="selectYear($event,item)">
                                    <span class="span1"></span>
                                    <span class="year">{{item.year}}</span>
                                </li>
                            </ul>
                            <span class="mark"><img src="../../../static/image/high_light.png" /></span>
                        </div>
                        <div class="cicle">
                            <div class="zp-wrap">
                                <div class="div1"></div>
                                <div class="div2"></div>
                                <div class="div3"></div>
                                <div class="div4"></div>
                                <div class="div5"></div>
                            </div>
                            <div class="bg1"></div>
                            <div class="dotList">
                                <div class="dot1"></div>
                                <div class="dot2"></div>
                                <div class="dot3"></div>
                                <div class="dot4"></div>
                                <div class="dot5"></div>
                                <div class="dot6"></div>
                                <div class="dot7"></div>
                                <div class="dot8"></div>
                            </div>
                            <div class="line-sx">
                                <div class="line-fs line-fs1"></div>
                                <div class="line-fs line-fs2"></div>
                                <div class="line-fs line-fs3"></div>
                                <div class="line-fs line-fs4"></div>
                                <div class="line-fs line-fs5"></div>
                                <div class="line-fs line-fs6"></div>
                                <div class="line-fs line-fs7"></div>
                                <div class="line-fs line-fs8"></div>
                                <div class="line-fs line-fs9"></div>
                            </div>
                            <div class="cgList">
                                <div class="cgList1"></div>
                                <div class="cgList2"></div>
                                <div class="cgList3"></div>
                                <div class="cgList4"></div>
                                <div class="cgList5"></div>
                            </div>
                            <div class="text">
                                <div class="text1">
                                    <span>85</span>
                                    <span>软件著作权（个）</span>
                                </div>
                                <div class="text2">
                                    <span>341</span>
                                    <span>专利（项）</span>
                                </div>
                                <div class="text3">
                                    <span>15</span>
                                    <span>项目产品（个）</span>
                                </div>
                                <div class="text4">
                                    <span>70</span>
                                    <span>获奖成果（个）</span>
                                </div>
                                <div class="text5">
                                    <span>465</span>
                                    <span>发表论文（篇）</span>
                                </div>
                            </div>
                            <div class="cube">
                                <div class="plane-front"></div>
                                <div class="plane-back"></div>
                                <div class="plane-left"></div>
                                <div class="plane-right"></div>
                                <div class="plane-top"></div>
                                <div class="plane-bottom"></div>
                            </div>
                            <div class="centerText">
                                <span>成果总量</span>
                                <span>12543</span>
                            </div>
                        </div>
                    </div>
                    <div class="part2">
                        <div class="first" @click="look_detail">
                            <div class="title">
                                <h3>成果概况</h3>
                                <ul class="tab">
                                    <li class="active">专利</li>
                                    <li>软件著作权</li>
                                    <li>获奖成果</li>
                                    <li>发表论文</li>
                                    <li>项目产品</li>
                                </ul>
                            </div>
                            <ul class="numList">
                                <li>
                                    <span class="span1">上海成果总数</span>
                                    <span class="span2">34</span>
                                </li>
                                <li>
                                    <span class="span1">浙江成果总数</span>
                                    <span class="span2">13</span>
                                </li>
                                <li>
                                    <span class="span1">江苏成果总数</span>
                                    <span class="span2">68</span>
                                </li>
                                <li>
                                    <span class="span1">福建成果总数</span>
                                    <span class="span2">12</span>
                                </li>
                            </ul>
                            <ul class="typeList">
                                <li>
                                    <div class="div1" id="map1">
                                        <div class="text">13%</div>
                                        <div class="wave"></div>
                                        <div class="wave-mask"></div>
                                    </div>
                                    <div class="div2">
                                        <span class="span1">产业链协同创新类-海洋生物产业</span>
                                        <span class="span2"></span>
                                        <span class="span3">共23项</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="div1" id="map2">
                                        <div class="text">18%</div>
                                        <div class="wave"></div>
                                        <div class="wave-mask"></div>
                                    </div>
                                    <div class="div2">
                                        <span class="span1">产业链协同创新类-海洋装备产业</span>
                                        <span class="span2"></span>
                                        <span class="span3">共45项</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="div1" id="map3">
                                        <div class="text">20%</div>
                                        <div class="wave"></div>
                                        <div class="wave-mask"></div>
                                    </div>
                                    <div class="div2">
                                        <span class="span1">产业链协同创新类-海水淡化与综合利用</span>
                                        <span class="span2"></span>
                                        <span class="span3">共34项</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="div1" id="map4">
                                        <div class="text">80%</div>
                                        <div class="wave"></div>
                                        <div class="wave-mask"></div>
                                    </div>
                                    <div class="div2">
                                        <span class="span1">产业孵化集聚创新类</span>
                                        <span class="span2"></span>
                                        <span class="span3">共78项</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="second">
                            <div class="title">
                                <h3>最新成果列表</h3>
                                <span style="float:right;margin-right:20px;width:100px;">
                            <el-select v-model="zhuanli" placeholder="请选择">
                                <el-option
                                    v-for="item in zhuanliList"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </span>
                            </div>
                            <div class="table-wrap">
                                <table class="table" style="width: 100%; border-spacing: 0;" cellspacing="0">
                                    <tr class="title">
                                        <td width="262">专利名称</td>
                                        <td width="90">类别</td>
                                        <td width="169">专利号</td>
                                        <td>发明人</td>
                                        <td>操作</td>
                                    </tr>
                                    <tr>
                                        <td>金属蒸汽激光器放电管</td>
                                        <td>发明专利</td>
                                        <td>ZL90102917.3</td>
                                        <td>梁宝根 陈琳</td>
                                        <td>详情</td>
                                    </tr>
                                    <tr>
                                        <td>高功率横流二氧化碳激光器两镜选模腔</td>
                                        <td>发明专利</td>
                                        <td>ZL90102917.3</td>
                                        <td>奚全新 程兆谷</td>
                                        <td>详情</td>
                                    </tr>
                                    <tr>
                                        <td>内腔式高次谐波激光器</td>
                                        <td>实用新型</td>
                                        <td>ZL90102917.3</td>
                                        <td>徐德衍</td>
                                        <td>详情</td>
                                    </tr>
                                    <tr>
                                        <td>内腔式高次谐波激光器</td>
                                        <td>实用新型</td>
                                        <td>ZL90102917.3</td>
                                        <td>徐德衍</td>
                                        <td>详情</td>
                                    </tr>
                                    <tr>
                                        <td>内腔式高次谐波激光器</td>
                                        <td>实用新型</td>
                                        <td>ZL90102917.3</td>
                                        <td>徐德衍</td>
                                        <td>详情</td>
                                    </tr>
                                    <tr>
                                        <td>内腔式高次谐波激光器</td>
                                        <td>实用新型</td>
                                        <td>ZL90102917.3</td>
                                        <td>徐德衍</td>
                                        <td>详情</td>
                                    </tr>
                                    <tr>
                                        <td>内腔式高次谐波激光器</td>
                                        <td>实用新型</td>
                                        <td>ZL90102917.3</td>
                                        <td>徐德衍</td>
                                        <td>详情</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <detail v-if="detailShow" style="height: 100%" @_return="_return"></detail>
        </div>
    </section>
</template>
<script>
import detail from '../Track/gainList'
export default {
    data(){
        return{
            showImg: false,
            imgSrc: require('../../assets/cggzTest.png'),
            detailShow: false,
            i:0,
            yearList:[
                {
                    year:'2016',
                    index:0
                },
                {
                    year:'2017',
                    index:1
                },
                {
                    year:'2018',
                    index:2
                },
                {
                    year:'2019',
                    index:3
                }
            ],
            zhuanli:0,
            zhuanliList:[
                {
                    value:0,
                    label:'专利'
                },
                {
                    value:1,
                    label:'软件著作权'
                },
                {
                    value:2,
                    label:'获奖成果'
                },
                {
                    value:3,
                    label:'发表论文'
                },
                {
                    value:4,
                    label:'项目产品'
                },
            ],
            timer1:null,
            timer2:null,
            timer3:null,
            timer4:null,
            timer5:null,
            timer6:null,
            timer7:null,
            timer8:null,
            timer9:null,
            timerN:null,
        }
    },
    methods: {
        _return(){
            this.detailShow = false
        },
        selectYear(obj,item){
            this.i = item.index;
            $('.mark').css({'left':30*(item.index+1)+(item.index)*90+'px'});
        },
        line1(obj){
            // let _top = obj.offset().top;
            obj.animate({'top':-88+'px'},800,'linear',function(){
                $(this).css({'top':'300px'});
            })
        },
        cubeyd(){
            // let _top = $('.cube').offset().top;
            $('.cube').animate({'top':'228px'},1000,'linear',function(){
                $('.cube').animate({'top':'218px'},1000,'linear');
            });

        },
        look_detail(){
            let _this = this;
            clearInterval(_this.timer1);
            clearInterval(_this.timer2);
            clearInterval(_this.timer3);
            clearInterval(_this.timer4);
            clearInterval(_this.timer5);
            clearInterval(_this.timer6);
            clearInterval(_this.timer7);
            clearInterval(_this.timer8);
            clearInterval(_this.timer9);
            clearInterval(_this.timerN);
            this.detailShow = true
        }
    },
    mounted() {
        let _this = this;
        this.timerN = setInterval(function(){
            _this.cubeyd();
        },2200);
        this.timer1 = setInterval(function(){
            _this.line1($('.line-fs1'));
        },5200);
        this.timer2 = setInterval(function(){
            _this.line1($('.line-fs2'));
        },6300);
        this.timer3 = setInterval(function(){
            _this.line1($('.line-fs3'));
        },2500);
        this.timer4 = setInterval(function(){
            _this.line1($('.line-fs4'));
        },3800);
        this.timer5 = setInterval(function(){
            _this.line1($('.line-fs5'));
        },4200);
        this.timer6 = setInterval(function(){
            _this.line1($('.line-fs6'));
        },5600);
        this.timer7 = setInterval(function(){
            _this.line1($('.line-fs7'));
        },3600);
        this.timer8 = setInterval(function(){
            _this.line1($('.line-fs8'));
        },7100);
        this.timer9 = setInterval(function(){
            _this.line1($('.line-fs9'));
        },4300);
    },
    destroyed: function () {
        let _this = this;
        clearInterval(_this.timer1);
        clearInterval(_this.timer2);
        clearInterval(_this.timer3);
        clearInterval(_this.timer4);
        clearInterval(_this.timer5);
        clearInterval(_this.timer6);
        clearInterval(_this.timer7);
        clearInterval(_this.timer8);
        clearInterval(_this.timer9);
        clearInterval(_this.timerN);
    },
    components: {
        detail
    },
    created() {
        if(process.env.NODE_ENV == 'development'){
            this.showImg = true
        }
    }
}
</script>
<style lang="less" scoped>
    .cggz{
        width: 100%;
        height: 100%;
        background:#070e36;
        overflow-y: auto;
        .container{
            display:flex;
            overflow-y: auto;
            height: 100%;
            .part1{
                float:left;
                width:1000px;
                .title{
                    position:relative;
                    width:520px;
                    height:72px;
                    margin:48px auto 0;
                    // background:green;
                    .line{
                        position:absolute;
                        left:0;
                        top:18px;
                        width:100%;
                        height:2px;
                        background:#0b2447;
                        box-shadow:0 0 3px 0 #0b2447;
                    }
                    .dot{
                        position:absolute;
                        left:0;
                        top:12px;
                        li{
                            float:left;
                            width:50px;
                            cursor:pointer;
                            margin-left:70px;
                            text-align:center;
                            span:nth-child(1){
                                display:block;
                                width:18px;
                                height:18px;
                                border-radius:9px;
                                background:#636c87;
                                margin-left:18px;
                            }
                            &.active{
                                .year{
                                    color:#03f0ff;
                                }
                            }
                            .year{
                                display:block;
                                margin-top:10px;
                                color:#636c87;
                            }
                        }
                    }
                    .mark{
                        position:absolute;
                        left:30px;
                        top:6px;
                        width:140px;
                        height:20px;
                        cursor:pointer;
                        img{
                            width:100%;
                        }
                    }
                }
                .cicle{
                    height:600px;
                    position:relative;
                    margin-left:40px;
                    margin-top:80px;
                    .zp-wrap{
                        position:relative;
                        left:-40px;
                        bottom:-220px;
                        width:600px;
                        height:100%;
                        margin:0 auto;
                        // background:red;
                        .div1{
                            position:absolute;
                            width:600px;
                            height:600px;
                            background:url('../../../static/image/dipan-bg-4.png') no-repeat 50% 50%;
                            animation: dipanrotate 6s infinite linear;
                            bottom: 0px;
                            transform: rotateX(-80deg) rotateZ(45deg);
                        }
                        .div2{
                            position:absolute;
                            width:600px;
                            height:600px;
                            background:url('../../../static/image/dipan-bg-4.png') no-repeat 50% 50%;
                            animation: dipanrotate 6s 3s infinite linear;
                            bottom: -10px;
                            transform: rotateX(-80deg) rotateZ(45deg);
                        }
                        .div3{
                            position:absolute;
                            width:600px;
                            height:600px;
                            background:url('../../../static/image/dipan-bg-4-f.png') no-repeat 50% 50%;
                            animation: dipanrotateF 6s infinite linear;
                            bottom: -30px;
                            transform: rotateX(-80deg) rotateZ(45deg);
                        }
                        .div4{
                            position:absolute;
                            width:600px;
                            height:600px;
                            background:url('../../../static/image/dipan-bg-4-f.png') no-repeat 50% 50%;
                            animation: dipanrotateF 3s 2s infinite linear;
                            bottom: -40px;
                            transform: rotateX(-80deg) rotateZ(45deg);
                        }
                        .div5{
                            position:absolute;
                            width:600px;
                            height:600px;
                            background:url('../../../static/image/dipan-bg-3.png') no-repeat 50% 50%;
                            animation: dipanrotateF 60s infinite linear;
                            bottom: 20px;
                            transform: rotateX(-80deg) rotateZ(45deg);
                        }
                    }
                    .bg1{
                        position:absolute;
                        left:0;
                        top:0;
                        width:100%;
                        height:100%;
                        background:url('../../../static/image/bg2.png') no-repeat 100% 100%;
                        z-index:5;
                    }
                    .dotList{
                        width:100%;
                        height:100%;
                        position:absolute;
                        top:0;
                        left:0;
                        z-index:5;
                        div{
                            position:absolute;
                            width:46px;
                            height:46px;
                            background:url('../../../static/image/line-d.png') no-repeat;
                        }
                        .dot1{
                            left:-23px;
                            top:204px;
                        }
                        .dot2{
                            left:116px;
                            top:62px;
                        }
                        .dot3{
                            left:223px;
                            top:161px;
                        }
                        .dot4{
                            left:306px;
                            top:45px;
                        }
                        .dot5{
                            left:600px;
                            top:121px;
                        }
                        .dot6{
                            left:652px;
                            top:17px;
                        }
                        .dot7{
                            left:776px;
                            top:220px;
                        }
                        .dot8{
                            left:897px;
                            top:147px;
                        }
                    }
                    .line-sx{
                        width:560px;
                        height:300px;
                        position:absolute;
                        left:180px;
                        top:10px;
                        // background:green;
                        overflow:hidden;
                        .line-fs{
                            position:absolute;
                            top:300px;
                            width:14px;
                            height:88px;
                            background:url('../../../static/image/line-fs.png') no-repeat;
                            &:nth-child(1){
                                left:30px;
                            }
                            &:nth-child(2){
                                left:90px;
                            }
                            &:nth-child(3){
                                left:150px;
                            }
                            &:nth-child(4){
                                left:220px;
                            }
                            &:nth-child(5){
                                left:280px;
                            }
                            &:nth-child(6){
                                left:360px;
                            }
                            &:nth-child(7){
                                left:420px;
                            }
                            &:nth-child(8){
                                left:480px;
                            }
                            &:nth-child(9){
                                left:510px;
                            }
                        }
                    }
                    .cgList{
                        width:100%;
                        height:100%;
                        position:absolute;
                        top:0;
                        left:0;
                        div{
                            width:212px;
                            height:90px;
                            position:absolute;
                        }
                        .cgList1{
                            background:url('../../../static/image/tc-left-2.png') no-repeat 100% 100%;
                            background-size:100% 100%;
                            left:-28px;
                            top:312px;
                        }
                        .cgList2{
                            width:212px;
                            height:140px;
                            background:url('../../../static/image/tc-right-1.png') no-repeat 100% 100%;
                            background-size:100% 100%;
                            left:12px;
                            top:40px;
                            transform: rotateZ(-130deg);

                        }
                        .cgList3{
                            width:204px;
                            height:91px;
                            background:url('../../../static/image/tc-right-2.png') no-repeat 100% 100%;
                            background-size:100% 100%;
                            left:347px;
                            top:-23px;
                            transform: rotateZ(-90deg);

                        }
                        .cgList4{
                            width:207px;
                            height:136px;
                            background:url('../../../static/image/tc-right-1.png') no-repeat 100% 100%;
                            background-size:100% 100%;
                            left:667px;
                            top:57px;
                            transform: rotateZ(-10deg);

                        }
                        .cgList5{
                            width:212px;
                            height:90px;
                            background:url('../../../static/image/tc-right-2.png') no-repeat 100% 100%;
                            background-size:100% 100%;
                            left:736px;
                            top:300px;
                            transform: rotateZ(-10deg);
                        }
                    }
                    .text{
                        position:absolute;
                        left:0;top:0;
                        width:100%;
                        height:100%;
                        .text1{
                            position:absolute;
                            left:-36px;
                            top:302px;
                            width:200px;
                            height:150px;
                            color:#cdd1d9;
                            span:nth-child(1){
                                display:block;
                                padding-left:28px;
                                padding-top:31px;
                                font-size:38px;
                                line-height:42px;
                            }
                            span:nth-child(2){
                                display:inline-block;
                                padding-top:40px;
                                font-size:22px;
                            }
                        }
                        .text2{
                            position:absolute;
                            left:11px;
                            top:24px;
                            width:200px;
                            height:150px;
                            color:#cdd1d9;
                            span:nth-child(1){
                                display:block;
                                padding-top:28px;
                                padding-left:24px;
                                font-size:36px;
                            }
                            span:nth-child(2){
                                display:block;
                                padding-top:42px;
                                font-size:22px;
                            }
                        }
                        .text3{
                            position:absolute;
                            left:404px;
                            top:-92px;
                            width:200px;
                            height:150px;
                            color:#cdd1d9;
                            span:nth-child(1){
                                display:block;
                                padding-top:28px;
                                padding-left:24px;
                                font-size:36px;
                            }
                            span:nth-child(2){
                                display:block;
                                padding-top:42px;
                                font-size:22px;
                            }
                        }
                        .text4{
                            position:absolute;
                            left:775px;
                            top:41px;
                            width:200px;
                            height:150px;
                            color:#cdd1d9;
                            // border:1px solid #fff;
                            span:nth-child(1){
                                display:block;
                                padding-top:28px;
                                padding-left:24px;
                                font-size:36px;
                            }
                            span:nth-child(2){
                                display:block;
                                padding-top:32px;
                                font-size:22px;
                            }
                        }
                        .text5{
                            position:absolute;
                            left:843px;
                            top:279px;
                            width:200px;
                            height:150px;
                            color:#cdd1d9;
                            span:nth-child(1){
                                display:block;
                                padding-top:28px;
                                padding-left:24px;
                                font-size:36px;
                            }
                            span:nth-child(2){
                                display:block;
                                padding-top:32px;
                                font-size:22px;
                            }
                        }
                    }
                    .cube{
                        height: 150px;
                        width: 150px;
                        position: absolute;
                        left:377px;
                        top:218px;
                        margin:auto;
                        transform-style:preserve-3d;/*定义3d转换*/
                        // animation:rotate 10s infinite;/*animation：动画名字 时长 无限循环 线性速度（匀速）*/
                        // transition:translateY(100px) 2s infinite;
                        transform:rotateY(-50deg) rotateX(40deg) rotateZ(0deg);
                        z-index:10;
                    }
                    .cube > div{
                        height: 100%;
                        width: 100%;
                        opacity: 0.9;
                        position: absolute;
                        text-align: center;
                        background: #333;
                        color:#fff;
                        line-height: 200px;
                        font-size: 30px;
                        box-shadow:0 0 20px 0 #032348;
                        background-image: -webkit-linear-gradient(top, #08b9e8, #032348);
                        // border:1px solid #fff;
                    }
                    .plane-front{
                        transform:translateZ(75px);
                    }
                    .plane-back{
                        transform:translateZ(-75px);
                    }
                    .plane-left{
                        transform:rotateY(90deg) translateZ(-75px);
                    }
                    .plane-right{
                        transform:rotateY(90deg) translateZ(75px);
                    }
                    .plane-top{
                        transform:rotateX(90deg) translateZ(75px);
                    }
                    .plane-bottom{
                        transform:rotateX(90deg) translateZ(-75px);
                    }
                    .centerText{
                        position:absolute;
                        left:377px;
                        top:260px;
                        color:#fff;
                        font-size:36px;
                        text-align:center;
                        span{
                            display:block;
                            &:nth-child(1){
                                font-size:22px;
                            }
                            &:nth-child(2){
                                margin-top:30px;
                                font-size:32px;
                            }
                        }
                        z-index:12;
                    }
                }
            }
            .part2{
                margin-left:20px;
                margin-top:40px;
                .first{
                    width:770px;
                    height:364px;
                    border:1px solid #131e49;
                    border-radius:3px;
                    padding-top:10px;
                    padding-left:20px;
                    background:url('../../../static/image/small.png');
                    .title{
                        width:100%;
                        height:40px;
                        h3{
                            float:left;
                            height:40px;
                            line-height:40px;
                            padding-left:48px;
                            background:url('../../../static/image/4.png') no-repeat 0 13px;
                            font-size:18px;
                            font-weight:normal;
                            color:#03bff3;
                        }
                        .tab{
                            width:600px;
                            height:34px;
                            float:left;
                            padding-top:10px;
                            margin-left:30px;
                            li{
                                float:left;
                                width:102px;
                                height:30px;
                                line-height:30px;
                                font-size:16px;
                                color:#95a5be;
                                text-align:center;
                                border-right:1px dashed #03bff3;
                                background:#082d67;
                                opacity:0.9;
                                cursor:pointer;
                                &.active{
                                    color:#fff;
                                }
                                &:nth-child(5){
                                    border-right:none;
                                }
                            }
                        }
                    }
                    .numList{
                        width:600px;
                        height:85px;
                        margin:30px auto 0;
                        display:flex;
                        justify-content:space-between;
                        align-items:center;
                        li{
                            width:104px;
                            height:100%;
                            // background:red;
                            .span1{
                                display:block;
                                height:30px;
                                line-height:30px;
                                font-size:14px;
                                text-align:center;
                                color:#fff;
                            }
                            .span2{
                                display:block;
                                line-height:40px;
                                text-align:center;
                                font-size:30px;
                                color:#61dde7;
                            }
                        }

                    }
                    .typeList{
                        width:700px;
                        height:166px;
                        margin:0px auto 0;
                        li{
                            float:left;
                            width:329px;
                            display:flex;
                            .div1{
                                float:left;
                                width: 70px;
                                height: 70px;
                                border-radius: 50%;
                                border: 1px solid #0169dd;
                                background: #05153f;
                                position: relative;
                                // transform: translate(-50%, -50%);
                                padding: 5px;
                                overflow: hidden;
                                .wave{
                                    position:relative;
                                    left:-20px;
                                    width: 100px;
                                    height: 100px;
                                    background-image: linear-gradient(-180deg, #3b7bdb 13%, #4d6fdf 91%);
                                    border-radius: 50%;
                                }
                                .wave-mask {
                                    position: absolute;
                                    width: 140px;
                                    height: 140px;
                                    top: 0;
                                    left: 50%;
                                    border-radius: 40%;
                                    background-color: rgba(212, 24, 24, 0.9);
                                    transform: translate(-50%, -70%) rotate(0);
                                    animation: toRotate 10s linear -5s infinite;
                                    z-index: 20;

                                    background-color: #05153f;
                                }
                                .text{
                                    position:absolute;
                                    left:0;top:0;
                                    z-index:40;
                                    width:100%;
                                    text-align:center;
                                    line-height:50px;
                                    color:#fff;
                                }
                            }
                            .div2{
                                color:#fff;
                                margin-left:12px;
                                .span1{
                                    padding-top:6px;
                                    display:block;
                                    line-height:40px;
                                    font-size:14px;
                                }
                                .span2{
                                    display:block;
                                    width:158px;
                                    height:2px;
                                    background:#228efe;
                                    margin-left:20px;
                                }
                                .span3{
                                    display:block;
                                    margin-left:50px;
                                    line-height:40px;
                                }
                            }
                        }
                    }
                }
                .second{
                    margin-top:30px;
                    width: 770px;
                    height:495px;
                    border:1px solid #131e49;
                    border-radius:3px;
                    padding-top:10px;
                    padding-left:20px;
                    padding-right:20px;
                    background:url('../../../static/image/small.png');
                    .title{
                        width:100%;
                        height:40px;
                        h3{
                            float:left;
                            height:40px;
                            line-height:40px;
                            padding-left:48px;
                            background:url('../../../static/image/4.png') no-repeat 0 13px;
                            font-size:18px;
                            font-weight:normal;
                            color:#03bff3;
                        }
                        /deep/.el-input__inner{
                            background:#12294b;
                            border:1px solid #336699;
                            color:#fff;
                        }
                    }
                    .table-wrap{
                        height:400px;
                        overflow-y:auto;
                        &::-webkit-scrollbar{
                            width:10px;
                            background:#283d68;
                            border-radius:5px;
                        }
                        &::-webkit-scrollbar-thumb{
                            width:10px;
                            border-radius:5px;
                            background:#0577af;
                        }
                        // &::-webkit-scrollbar-track{
                        //     width:10px;
                        //     background:#ccc;
                        // }
                    }
                    .table{
                        border-right:1px solid #283d68;
                        border-bottom:1px solid #283d68;
                        margin-top:20px;
                        tr{
                            td{
                                border:1px solid #283d68;
                                color:#fff;
                                border-right:none;
                                border-bottom:none;
                                padding-top:20px;
                                padding-bottom:20px;
                                padding-left:15px;
                                font-size:14px;
                            }
                            &.title{
                                td{
                                    background:#0f1f46;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @keyframes rotate{
        // from{
        //     transfrom:rotateX(-40deg) rotateY(-40deg);
        // }
        // to{
        //     transform: rotateY(320deg) rotateX(320deg);
        // }
        0%{
            transfrom:translateY(0px);
        }
        100%{
            transfrom:translateY(380px);
        }
    }
    @keyframes dipanrotate{
        0%{
            webkit-transform: rotateX(-80deg) rotateZ(0deg);
            transform:rotateX(-80deg) rotateZ(0deg);
        }
        100%{
            -webkit-transform:rotateX(-80deg) rotateZ(360deg);
            transform:rotateX(-80deg) rotateZ(360deg);
        }
    }
    @keyframes dipanrotateF{
        0%{
            -webkit-transform:rotateX(-80deg) rotateZ(360deg);
            transform:rotateX(-80deg) rotateZ(360deg);
        }
        100%{
            -webkit-transform:rotateX(-80deg) rotateZ(0deg);
            transform:rotateX(-80deg) rotateZ(0deg);
        }
    }

    @keyframes toRotate {
        50% {
            transform: translate(-50%, -70%) rotate(180deg);
        }
        100% {
            transform: translate(-50%, -70%) rotate(360deg);
        }
    }

</style>
<style lang="scss" scoped>
    .cggz{
        .part2{
            width:calc(100% - 1020px);
        }
    }
</style>
