<template>
    <div style="padding-left:30px;padding-right:30px;min-height:1018px;">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >项目评估模型</el-breadcrumb-item>
                <el-breadcrumb-item>产业发展与创新能力评估</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="title">
            <div class="time-title">考评时间：</div>
            <el-date-picker
            v-model="value1"
            type="date"
            placeholder="选择日期">
            </el-date-picker>
            <!-- <div class="time-title-middle">至：</div>
            <el-date-picker
            v-model="value1"
            type="date"
            placeholder="选择日期">
            </el-date-picker> -->
            <div class="time-type">产业类型：</div>
            <el-select v-model="valueArea" placeholder="请选择">
                <el-option
                v-for="item in optionsArea"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                </el-option>
            </el-select>
            <!-- <div class="time-type">类型：</div>
            <el-select v-model="value" placeholder="请选择">
                <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                </el-option>
            </el-select> -->
            <div class="btn"><el-button type="primary">查询</el-button></div>
            <div class="score"><el-button type="primary" @click="dialogVisible3 = true">批量导入</el-button></div>
            <div class="score marginRight"><el-button type="warning" @click="dialogVisible1 = true">评估模型</el-button></div>
            <!-- <div class="mark"><span>A-优秀</span><span>B-良好</span><span>C-合格</span><span>D-差</span></div> -->
        </div>
        <table class="table" cellspacing="0">
            <thead>
                <tr>
                    <td rowspan="2" width="80">序号</td>
                    <td rowspan="2" width="250">评级日期</td>
                    <td rowspan="2" width="200">评估产业</td>
                    <td rowspan="2" width="200">评估类型</td>
                    <td colspan="5" width="700">产业发展力评级结果</td>
                    <!-- <td></td>
                    <td></td>
                    <td></td> -->
                    <td rowspan="2" width="400">操作</td>
                </tr>
                <tr>
                    <!-- <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td> -->
                    <td>产业规模</td>
                    <td>产业协同</td>
                    <td>产业效率</td>
                    <td>创新能力</td>
                    <td>发展潜力</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2017-12-31</td>
                    <td>海洋生物</td>
                    <td>年度评估</td>
                    <td>0.2916950313</td>
                    <td>2.152746053</td>
                    <td>1.067769084</td>
                    <td>0.024904978</td>
                    <td>0.155696622</td>
                    <td>
                        <el-button type="text"  @click="detail">评级指标明细</el-button>
                        <el-button type="text" @click="edit">编辑</el-button>
                        <el-button type="text">删除</el-button>
                    </td>
                </tr>
                <tr v-if="isBlock">
                    <td>2</td>
                    <td>2018-12-31</td>
                    <td>高端装备</td>
                    <td>年度评估</td>
                    <td>0.291695013</td>
                    <td>2.152746053</td>
                    <td>1.067769084</td>
                    <td>0.024904978</td>
                    <td>0.155696622</td>
                    <td>
                        <el-button type="text">评级指标明细</el-button>
                        <el-button type="text">编辑</el-button>
                        <el-button type="text">删除</el-button>
                    </td>
                </tr>
                <!-- <tr>
                    <td>3</td>
                    <td>2019-12-31</td>
                    <td>海水淡化综合利用</td>
                    <td>年度评估</td>
                    <td>82</td>
                    <td>98</td>
                    <td>67</td>
                    <td>78</td>
                    <td>34</td>
                    <td>
                        <el-button type="text">评级指标明细</el-button>
                        <el-button type="text">编辑</el-button>
                        <el-button type="text">删除</el-button>
                    </td>
                </tr> -->
            </tbody>
        </table>
        <!-- 评估模型弹窗+编辑 -->
        <div class="dbfx">
            <el-dialog
            title="区域评估模型"
            :visible.sync="dialogVisible1"
            width="900px"
            >
                <div class="hx-dialog1 clear">
                    <div class="con1">
                        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
                            <div class="div1">
                                <el-form-item label="评估类型：" prop="pglx">
                                    <el-select v-model="ruleForm.pglx" placeholder="年度评估">
                                        <el-option label="年度评估" value="0"></el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                            <div class="div2">
                                <el-form-item label="产业类型：" prop="qy">
                                    <el-select v-model="ruleForm.qy" placeholder="海洋生物">
                                        <el-option label="海洋生物" value="0"></el-option>
                                        <el-option label="高端装备" value="1"></el-option>
                                        <el-option label="海水淡化综合利用" value="2"></el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                            <el-button type="warning" @click="pinggu">评估</el-button>
                        </el-form>
                    </div>
                    <div class="con2">
                        <el-tabs v-model="activeName" @tab-click="handleClick">
                            <el-tab-pane label="产业规模" name="first">
                                <table class="table" cellspacing="0">
                                    <tr style="background:#f1f1f1;">
                                        <td width="300">二级指标</td>
                                        <td>取值</td>
                                        <td>权重</td>
                                        <td>目标层得分</td>
                                        <td>准则层得分</td>
                                    </tr>
                                    <tr>
                                        <td>海洋生产总值（元）</td>
                                        <td><input type="text" v-model="con2[0].hyjj1"/></td>
                                        <td><input type="text" v-model="con2[0].hyjj2"/></td>
                                        <td><input type="text" v-model="con2[0].hyjj3"/></td>
                                        <td rowspan="5"><input type="text" v-model="con2[0].hyjj16"/></td>
                                    </tr>
                                    <tr>
                                        <td>新增产值（元）</td>
                                        <td><input type="text" v-model="con2[0].hyjj4"/></td>
                                        <td><input type="text" v-model="con2[0].hyjj5"/></td>
                                        <td><input type="text" v-model="con2[0].hyjj6"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>新增出口额（元）</td>
                                        <td><input type="text" v-model="con2[0].hyjj7"/></td>
                                        <td><input type="text" v-model="con2[0].hyjj8"/></td>
                                        <td><input type="text" v-model="con2[0].hyjj9"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>新增龙头企业（家）</td>
                                        <td><input type="text" v-model="con2[0].hyjj10"/></td>
                                        <td><input type="text" v-model="con2[0].hyjj11"/></td>
                                        <td><input type="text" v-model="con2[0].hyjj12"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>新增税收（元）</td>
                                        <td><input type="text" v-model="con2[0].hyjj13"/></td>
                                        <td><input type="text" v-model="con2[0].hyjj14"/></td>
                                        <td><input type="text" v-model="con2[0].hyjj15"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                </table>
                            </el-tab-pane>
                            <el-tab-pane label="产业协同" name="second">
                                <table class="table" cellspacing="0">
                                    <tr style="background:#f1f1f1;">
                                        <td width="300">二级指标</td>
                                        <td>取值</td>
                                        <td>权重</td>
                                        <td>目标层得分</td>
                                        <td>准则层得分</td>
                                    </tr>
                                    <tr>
                                        <td>涉海国民经济第一产业所占比重（%）</td>
                                        <td><input type="text" v-model="con2[1].cyjg1"/></td>
                                        <td><input type="text" v-model="con2[1].cyjg2"/></td>
                                        <td><input type="text" v-model="con2[1].cyjg3"/></td>
                                        <td rowspan="5"><input type="text" v-model="con2[1].cyjg16"/></td>
                                    </tr>
                                    <tr>
                                        <td>涉海国民经济第二产业所占比重（%）</td>
                                        <td><input type="text" v-model="con2[1].cyjg4"/></td>
                                        <td><input type="text" v-model="con2[1].cyjg5"/></td>
                                        <td><input type="text" v-model="con2[1].cyjg6"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>涉海国民经济第三产业所占比重（%）</td>
                                        <td><input type="text" v-model="con2[1].cyjg7"/></td>
                                        <td><input type="text" v-model="con2[1].cyjg8"/></td>
                                        <td><input type="text" v-model="con2[1].cyjg9"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>上海市海洋生产总值占GDP比重（%）</td>
                                        <td><input type="text" v-model="con2[1].cyjg10"/></td>
                                        <td><input type="text" v-model="con2[1].cyjg11"/></td>
                                        <td><input type="text" v-model="con2[1].cyjg12"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>主要海洋产业增加占总生产值的比重（%）</td>
                                        <td><input type="text" v-model="con2[1].cyjg13"/></td>
                                        <td><input type="text" v-model="con2[1].cyjg14"/></td>
                                        <td><input type="text" v-model="con2[1].cyjg15"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                </table>
                            </el-tab-pane>
                            <el-tab-pane label="产业效率" name="third">
                                <table class="table" cellspacing="0">
                                    <tr style="background:#f1f1f1;">
                                        <td width="300">二级指标</td>
                                        <td>取值</td>
                                        <td>权重</td>
                                        <td>目标层得分</td>
                                        <td>准则层得分</td>
                                    </tr>
                                    <tr>
                                        <td>新增就业人数(人)</td>
                                        <td><input type="text" v-model="con2[2].shtj1"/></td>
                                        <td><input type="text" v-model="con2[2].shtj2"/></td>
                                        <td><input type="text" v-model="con2[2].shtj3"/></td>
                                        <td rowspan="5"><input type="text" v-model="con2[2].shtj16"/></td>
                                    </tr>
                                    <tr>
                                        <td>新增重点产业就业人数(人)</td>
                                        <td><input type="text" v-model="con2[2].shtj4"/></td>
                                        <td><input type="text" v-model="con2[2].shtj5"/></td>
                                        <td><input type="text" v-model="con2[2].shtj6"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>建成或改造生产线(个)</td>
                                        <td><input type="text" v-model="con2[2].shtj7"/></td>
                                        <td><input type="text" v-model="con2[2].shtj8"/></td>
                                        <td><input type="text" v-model="con2[2].shtj9"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>新建公共服务平台(个)</td>
                                        <td><input type="text" v-model="con2[2].shtj10"/></td>
                                        <td><input type="text" v-model="con2[2].shtj11"/></td>
                                        <td><input type="text" v-model="con2[2].shtj12"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>带动社会资金投入(元)</td>
                                        <td><input type="text" v-model="con2[2].shtj13"/></td>
                                        <td><input type="text" v-model="con2[2].shtj14"/></td>
                                        <td><input type="text" v-model="con2[2].shtj15"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                </table>
                            </el-tab-pane>
                            <el-tab-pane label="创新能力" name="fourth">
                                <table class="table" cellspacing="0">
                                    <tr style="background:#f1f1f1;">
                                        <td width="300">二级指标</td>
                                        <td>取值</td>
                                        <td>权重</td>
                                        <td>目标层得分</td>
                                        <td>准则层得分</td>
                                    </tr>
                                    <tr>
                                        <td>一般工业固体废弃物倾倒丢弃量（立方米）</td>
                                        <td><input type="text" v-model="con2[3].hyst1"/></td>
                                        <td><input type="text" v-model="con2[3].hyst2"/></td>
                                        <td><input type="text" v-model="con2[3].hyst3"/></td>
                                        <td rowspan="5"><input type="text" v-model="con2[3].hyst19"/></td>
                                    </tr>
                                    <tr>
                                        <td>工业废水排放量（立方米）</td>
                                        <td><input type="text" v-model="con2[3].hyst4"/></td>
                                        <td><input type="text" v-model="con2[3].hyst5"/></td>
                                        <td><input type="text" v-model="con2[3].hyst6"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>工业废气排放量（立方米）</td>
                                        <td><input type="text" v-model="con2[3].hyst7"/></td>
                                        <td><input type="text" v-model="con2[3].hyst8"/></td>
                                        <td><input type="text" v-model="con2[3].hyst9"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>当年安排施工项目（治理污水）</td>
                                        <td><input type="text" v-model="con2[3].hyst10"/></td>
                                        <td><input type="text" v-model="con2[3].hyst11"/></td>
                                        <td><input type="text" v-model="con2[3].hyst12"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>当年安排施工项目（治理固体废物）</td>
                                        <td><input type="text" v-model="con2[3].hyst13"/></td>
                                        <td><input type="text" v-model="con2[3].hyst14"/></td>
                                        <td><input type="text" v-model="con2[3].hyst15"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>保护区数量（个）</td>
                                        <td><input type="text" v-model="con2[3].hyst16"/></td>
                                        <td><input type="text" v-model="con2[3].hyst17"/></td>
                                        <td><input type="text" v-model="con2[3].hyst18"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                </table>
                            </el-tab-pane>
                            <el-tab-pane label="发展潜力" name="fifth">
                                <table class="table" cellspacing="0">
                                    <tr style="background:#f1f1f1;">
                                        <td width="300">二级指标</td>
                                        <td>取值</td>
                                        <td>权重</td>
                                        <td>目标层得分</td>
                                        <td>准则层得分</td>
                                    </tr>
                                    <tr>
                                        <td>一般工业固体废弃物倾倒丢弃量（立方米）</td>
                                        <td><input type="text" v-model="con2[3].hyst1"/></td>
                                        <td><input type="text" v-model="con2[3].hyst2"/></td>
                                        <td><input type="text" v-model="con2[3].hyst3"/></td>
                                        <td rowspan="5"><input type="text" v-model="con2[3].hyst19"/></td>
                                    </tr>
                                    <tr>
                                        <td>工业废水排放量（立方米）</td>
                                        <td><input type="text" v-model="con2[3].hyst4"/></td>
                                        <td><input type="text" v-model="con2[3].hyst5"/></td>
                                        <td><input type="text" v-model="con2[3].hyst6"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>工业废气排放量（立方米）</td>
                                        <td><input type="text" v-model="con2[3].hyst7"/></td>
                                        <td><input type="text" v-model="con2[3].hyst8"/></td>
                                        <td><input type="text" v-model="con2[3].hyst9"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>当年安排施工项目（治理污水）</td>
                                        <td><input type="text" v-model="con2[3].hyst10"/></td>
                                        <td><input type="text" v-model="con2[3].hyst11"/></td>
                                        <td><input type="text" v-model="con2[3].hyst12"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>当年安排施工项目（治理固体废物）</td>
                                        <td><input type="text" v-model="con2[3].hyst13"/></td>
                                        <td><input type="text" v-model="con2[3].hyst14"/></td>
                                        <td><input type="text" v-model="con2[3].hyst15"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>保护区数量（个）</td>
                                        <td><input type="text" v-model="con2[3].hyst16"/></td>
                                        <td><input type="text" v-model="con2[3].hyst17"/></td>
                                        <td><input type="text" v-model="con2[3].hyst18"/></td>
                                        <!-- <td></td> -->
                                    </tr>
                                </table>
                            </el-tab-pane>
                        </el-tabs>
                    </div>
                </div>
            </el-dialog>
        </div>

        <!-- 评价指标明细弹窗 -->
        <div class="dbfx">
            <el-dialog
            title="区域评估模型"
            :visible.sync="dialogVisible2"
            width="900px"
            >
                <div class="hx-dialog1 clear">
                    <div class="con1">
                        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
                            <div class="div1">
                                <el-form-item label="评估类型：" prop="pglx">
                                    <el-select v-model="ruleForm.pglx" placeholder="年度评估">
                                        <el-option label="年度评估" value="0"></el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                            <div class="div2">
                                <el-form-item label="产业类型：" prop="qy">
                                  <el-select v-model="ruleForm.qy" placeholder="海洋生物">
                                    <el-option label="海洋生物" value="0"></el-option>
                                    <el-option label="高端装备" value="1"></el-option>
                                    <el-option label="海水淡化综合利用" value="2"></el-option>
                                  </el-select>
                                </el-form-item>
                            </div>
                        </el-form>
                    </div>
                    <div class="con2">
                        <el-tabs v-model="activeName" @tab-click="handleClick">
                            <el-tab-pane label="产业规模" name="first">
                                <table class="table" cellspacing="0">
                                    <tr style="background:#f1f1f1;">
                                        <td width="300">二级指标</td>
                                        <td width="200">取值</td>
                                        <td width="200">权重</td>
                                        <td width="200">目标层得分</td>
                                        <td width="200">准则层得分</td>
                                    </tr>
                                    <tr>
                                        <td>海洋生产总值（元）</td>
                                        <td>{{con3[0].hyjj1}}</td>
                                        <td>{{con3[0].hyjj2}}</td>
                                        <td>{{con3[0].hyjj3}}</td>
                                        <td rowspan="5">{{con3[0].hyjj16}}</td>
                                    </tr>
                                    <tr>
                                        <td>新增产值（元）</td>
                                        <td>{{con3[0].hyjj4}}</td>
                                        <td>{{con3[0].hyjj5}}</td>
                                        <td>{{con3[0].hyjj6}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>新增出口额（元）</td>
                                        <td>{{con3[0].hyjj7}}</td>
                                        <td>{{con3[0].hyjj8}}</td>
                                        <td>{{con3[0].hyjj9}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>新增龙头企业（家）</td>
                                        <td>{{con3[0].hyjj10}}</td>
                                        <td>{{con3[0].hyjj11}}</td>
                                        <td>{{con3[0].hyjj12}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>新增税收（元）</td>
                                        <td>{{con3[0].hyjj13}}</td>
                                        <td>{{con3[0].hyjj14}}</td>
                                        <td>{{con3[0].hyjj15}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                </table>
                            </el-tab-pane>
                            <el-tab-pane label="产业协同" name="second">
                                <table class="table" cellspacing="0">
                                    <tr style="background:#f1f1f1;">
                                        <td width="300">二级指标</td>
                                        <td width="200">取值</td>
                                        <td width="200">权重</td>
                                        <td width="200">目标层得分</td>
                                        <td width="200">准则层得分</td>
                                    </tr>
                                    <tr>
                                        <td>涉海国民经济第一产业所占比重（%）</td>
                                        <td>{{con3[1].cyjg1}}</td>
                                        <td>{{con3[1].cyjg2}}</td>
                                        <td>{{con3[1].cyjg3}}</td>
                                        <td rowspan="5">{{con3[1].cyjg16}}</td>
                                    </tr>
                                    <tr>
                                        <td>涉海国民经济第二产业所占比重（%）</td>
                                        <td>{{con3[1].cyjg4}}</td>
                                        <td>{{con3[1].cyjg5}}</td>
                                        <td>{{con3[1].cyjg6}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>涉海国民经济第三产业所占比重（%）</td>
                                        <td>{{con3[1].cyjg7}}</td>
                                        <td>{{con3[1].cyjg8}}</td>
                                        <td>{{con3[1].cyjg9}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>上海市海洋生产总值占GDP比重（%）</td>
                                        <td>{{con3[1].cyjg10}}</td>
                                        <td>{{con3[1].cyjg11}}</td>
                                        <td>{{con3[1].cyjg12}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>主要海洋产业增加占总生产值的比重（%）</td>
                                        <td>{{con3[1].cyjg13}}</td>
                                        <td>{{con3[1].cyjg14}}</td>
                                        <td>{{con3[1].cyjg15}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                </table>
                            </el-tab-pane>
                            <el-tab-pane label="产业效率" name="third">
                                <table class="table" cellspacing="0">
                                    <tr style="background:#f1f1f1;">
                                        <td width="300">二级指标</td>
                                        <td width="200">取值</td>
                                        <td width="200">权重</td>
                                        <td width="200">目标层得分</td>
                                        <td width="200">准则层得分</td>
                                    </tr>
                                    <tr>
                                        <td>新增就业人数（人）</td>
                                        <td>{{con3[2].shtj1}}</td>
                                        <td>{{con3[2].shtj2}}</td>
                                        <td>{{con3[2].shtj3}}</td>
                                        <td rowspan="5">{{con3[2].shtj16}}</td>
                                    </tr>
                                    <tr>
                                        <td>新增重点产业就业人数（人）</td>
                                        <td>{{con3[2].shtj4}}</td>
                                        <td>{{con3[2].shtj5}}</td>
                                        <td>{{con3[2].shtj6}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>建成或改造生产线（个）</td>
                                        <td>{{con3[2].shtj7}}</td>
                                        <td>{{con3[2].shtj8}}</td>
                                        <td>{{con3[2].shtj9}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>新建公共服务平台 （个）</td>
                                        <td>{{con3[2].shtj10}}</td>
                                        <td>{{con3[2].shtj11}}</td>
                                        <td>{{con3[2].shtj12}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>带动社会资金投入（元）</td>
                                        <td>{{con3[2].shtj13}}</td>
                                        <td>{{con3[2].shtj14}}</td>
                                        <td>{{con3[2].shtj15}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                </table>
                            </el-tab-pane>
                            <el-tab-pane label="创新能力" name="fourth">
                                <table class="table" cellspacing="0">
                                    <tr style="background:#f1f1f1;">
                                        <td width="300">二级指标</td>
                                        <td width="200">取值</td>
                                        <td width="200">权重</td>
                                        <td width="200">目标层得分</td>
                                        <td width="200">准则层得分</td>
                                    </tr>
                                    <tr>
                                        <td>一般工业固体废弃物倾倒丢弃量（立方米）</td>
                                        <td>{{con3[3].hyst1}}</td>
                                        <td>{{con3[3].hyst2}}</td>
                                        <td>{{con3[3].hyst3}}</td>
                                        <td rowspan="5">{{con3[3].hyst19}}</td>
                                    </tr>
                                    <tr>
                                        <td>工业废水排放量（立方米）</td>
                                        <td>{{con3[3].hyst4}}</td>
                                        <td>{{con3[3].hyst5}}</td>
                                        <td>{{con3[3].hyst6}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>工业废气排放量（立方米）</td>
                                        <td>{{con3[3].hyst7}}</td>
                                        <td>{{con3[3].hyst8}}</td>
                                        <td>{{con3[3].hyst9}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>当年安排施工项目（治理污水）</td>
                                        <td>{{con3[3].hyst10}}</td>
                                        <td>{{con3[3].hyst11}}</td>
                                        <td>{{con3[3].hyst12}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>当年安排施工项目（治理固体废物）</td>
                                        <td>{{con3[3].hyst13}}</td>
                                        <td>{{con3[3].hyst14}}</td>
                                        <td>{{con3[3].hyst15}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>保护区数量（个）</td>
                                        <td>{{con3[3].hyst16}}</td>
                                        <td>{{con3[3].hyst17}}</td>
                                        <td>{{con3[3].hyst18}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                </table>
                            </el-tab-pane>
                            <el-tab-pane label="发展潜力" name="fifth">
                                <table class="table" cellspacing="0">
                                    <tr style="background:#f1f1f1;">
                                        <td width="300">二级指标</td>
                                        <td width="200">取值</td>
                                        <td width="200">权重</td>
                                        <td width="200">目标层得分</td>
                                        <td width="200">准则层得分</td>
                                    </tr>
                                    <tr>
                                        <td>一般工业固体废弃物倾倒丢弃量（立方米）</td>
                                        <td>{{con3[3].hyst1}}</td>
                                        <td>{{con3[3].hyst2}}</td>
                                        <td>{{con3[3].hyst3}}</td>
                                        <td rowspan="5">{{con3[3].hyst19}}</td>
                                    </tr>
                                    <tr>
                                        <td>工业废水排放量（立方米）</td>
                                        <td>{{con3[3].hyst4}}</td>
                                        <td>{{con3[3].hyst5}}</td>
                                        <td>{{con3[3].hyst6}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>工业废气排放量（立方米）</td>
                                        <td>{{con3[3].hyst7}}</td>
                                        <td>{{con3[3].hyst8}}</td>
                                        <td>{{con3[3].hyst9}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>当年安排施工项目（治理污水）</td>
                                        <td>{{con3[3].hyst10}}</td>
                                        <td>{{con3[3].hyst11}}</td>
                                        <td>{{con3[3].hyst12}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>当年安排施工项目（治理固体废物）</td>
                                        <td>{{con3[3].hyst13}}</td>
                                        <td>{{con3[3].hyst14}}</td>
                                        <td>{{con3[3].hyst15}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td>保护区数量（个）</td>
                                        <td>{{con3[3].hyst16}}</td>
                                        <td>{{con3[3].hyst17}}</td>
                                        <td>{{con3[3].hyst18}}</td>
                                        <!-- <td></td> -->
                                    </tr>
                                </table>
                            </el-tab-pane>
                        </el-tabs>
                    </div>
                </div>
            </el-dialog>
        </div>
        <!-- 编辑弹窗 -->
        <el-dialog
        title="批量导入"
        :visible.sync="dialogVisible3"
        width="450px"
        :before-close="handleClose3">
            <div class="pldr clear">
                <p><span style="line-height:40px;float:left;height:40px;">选择文件：</span><span style="float:left;width:150px;height:28px;border:none;background:none;border:1px solid #eeeeee;margin-top:6px;border-radius:5px;"></span><input type="file" id="upfile" hidden/>
                <label for="upfile" style="float:left;margin-left:10px;width:80px;height:40px;text-align:center;line-height:40px;background:#eeeeee;cursor:pointer;">浏览</label></p>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisibleDaoru = false">取 消</el-button>
                <el-button type="primary" @click="sureDaoru">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<script>
export default {
    data(){
        return{
            dialogVisible1:false,
            dialogVisible2:false,
            dialogVisible3:false,
            dialogVisible4:false,
            isBlock:false,
            ruleForm: {
                pglx: '',
            },
            rules: {
                pglx: [
                    { required: true, message: '请选择评估类型', trigger: 'change' }
                ],
                qy:[
                    { required: true, message: '请选择评估产业类型', trigger: 'change' }
                ]
            },
            value1:'',
            value:'',
            input:'',
            valueArea:0,
            optionsArea:[
                {
                    label:'海洋生物',
                    value:0
                },
                {
                    label:'高端装备',
                    value:1
                },
                {
                    label:'海水淡化综合利用',
                    value:2
                },
                // {
                //     label:'宁波',
                //     value:3
                // },
                // {
                //     label:'福州',
                //     value:4
                // },
                // {
                //     label:'厦门',
                //     value:5
                // }
            ],
            zhiBiao:[
                {
                    name:'经济指标',
                    id:0
                },
                {
                    name:'辅助指标',
                    id:1
                },
                {
                    name:'创新能力指标',
                    id:2
                },
                {
                    name:'经济效益指标',
                    id:3
                },
                {
                    name:'生态效益指标',
                    id:4
                },
                {
                    name:'社会效益指标',
                    id:5
                }
            ],
            zhibiaoI:0,
            activeName:'first',
            con2:[
                {
                    hyjj1:'7,311,000',
                    hyjj2:'0.00032%',
                    hyjj3:'',//24
                    hyjj4:'36,577',
                    hyjj5:'0.035%',
                    hyjj6:'',//13
                    hyjj7:'3,0000,000',
                    hyjj8:'0.04%',
                    hyjj9:'',//12
                    hyjj10:'3',
                    hyjj11:'30%',
                    hyjj12:'',//6
                    hyjj13:'2990',
                    hyjj14:'0.9%',
                    hyjj15:'',//27
                    hyjj16:'',//82
                },
                {
                    cyjg1:'18',
                    cyjg2:'61%',
                    cyjg3:'',//11
                    cyjg4:'12',
                    cyjg5:'83%',
                    cyjg6:'',//10
                    cyjg7:'24',
                    cyjg8:'97%',
                    cyjg9:'',//23
                    cyjg10:'13',
                    cyjg11:'67%',
                    cyjg12:'',//9
                    cyjg13:'45',
                    cyjg14:'76%',
                    cyjg15:'',//34
                    cyjg16:'',//87
                },
                {
                    shtj1:'5435',
                    shtj2:'0.55%',
                    shtj3:'',//30
                    shtj4:'345',
                    shtj5:'2.89%',
                    shtj6:'',//10
                    shtj7:'6457',
                    shtj8:'0.35%',
                    shtj9:'',//23
                    shtj10:'564',
                    shtj11:'4.1%',
                    shtj12:'',//21
                    shtj13:'789721',
                    shtj14:'0.0046%',
                    shtj15:'',//36
                    shtj16:'',//90
                },
                {
                    hyst1:'5435',
                    hyst2:'0.37%',
                    hyst3:'',//20
                    hyst4:'345',
                    hyst5:'2.32%',
                    hyst6:'',//8
                    hyst7:'6457',
                    hyst8:'0.30%',
                    hyst9:'',//20
                    hyst10:'564',
                    hyst11:'4.26%',
                    hyst12:'',//24
                    hyst13:'789721',
                    hyst14:'0.001%',
                    hyst15:'',//10
                    hyst16:'90',
                    hyst17:'8.8%',
                    hyst18:'',//8
                    hyst19:'',//90
                },

            ],
            con3:[
                {
                    hyjj1:'7,311,000',
                    hyjj2:'0.00032%',
                    hyjj3:'24',
                    hyjj4:'36,577',
                    hyjj5:'0.035%',
                    hyjj6:'13',
                    hyjj7:'3,0000,000',
                    hyjj8:'0.04%',
                    hyjj9:'12',
                    hyjj10:'3',
                    hyjj11:'30%',
                    hyjj12:'6',
                    hyjj13:'2990',
                    hyjj14:'0.9%',
                    hyjj15:'27',
                    hyjj16:'82',
                },
                {
                    cyjg1:'18',
                    cyjg2:'61%',
                    cyjg3:'11',
                    cyjg4:'12',
                    cyjg5:'83%',
                    cyjg6:'10',
                    cyjg7:'24',
                    cyjg8:'97%',
                    cyjg9:'23',
                    cyjg10:'13',
                    cyjg11:'67%',
                    cyjg12:'9',
                    cyjg13:'45',
                    cyjg14:'76%',
                    cyjg15:'34',
                    cyjg16:'87',
                },
                {
                    shtj1:'5435',
                    shtj2:'0.55%',
                    shtj3:'30',
                    shtj4:'345',
                    shtj5:'2.89%',
                    shtj6:'10',
                    shtj7:'6457',
                    shtj8:'0.35%',
                    shtj9:'23',
                    shtj10:'564',
                    shtj11:'4.1%',
                    shtj12:'21',
                    shtj13:'789721',
                    shtj14:'0.0046%',
                    shtj15:'36',
                    shtj16:'90',
                },
                {
                    hyst1:'5435',
                    hyst2:'0.37%',
                    hyst3:'20',
                    hyst4:'345',
                    hyst5:'2.32%',
                    hyst6:'8',
                    hyst7:'6457',
                    hyst8:'0.30%',
                    hyst9:'20',
                    hyst10:'564',
                    hyst11:'4.26%',
                    hyst12:'24',
                    hyst13:'789721',
                    hyst14:'0.001%',
                    hyst15:'10',
                    hyst16:'90',
                    hyst17:'8.8%',
                    hyst18:'8',
                    hyst19:'90',
                },

            ]
        }
    },
    methods: {
        valueChange(obj){

        },
        zhiBiaoClick(index){
            this.zhibiaoI = index
        },
        handleClick(tab, event){
            console.log(tab, event);
        },
        edit(){
            this.dialogVisible1 = true;
        },
        detail(){
            this.dialogVisible2 = true;
        },
        handleClose3(){
            this.dialogVisible3 = false;
        },
        pinggu(){
            let _this = this;
            this.con2[0].hyjj3 = 24;
            this.con2[0].hyjj6 = 13;
            this.con2[0].hyjj9 = 12;
            this.con2[0].hyjj12 = 6;
            this.con2[0].hyjj15 = 27;
            this.con2[0].hyjj16 = 82;
            this.con2[1].cyjg3 = 11;
            this.con2[1].cyjg6 = 10;
            this.con2[1].cyjg9 = 23;
            this.con2[1].cyjg12 = 9;
            this.con2[1].cyjg15 = 34;
            this.con2[1].cyjg16 = 87;
            this.con2[2].shtj3 = 30;
            this.con2[2].shtj6 = 10;
            this.con2[2].shtj9 = 23;
            this.con2[2].shtj12 = 21;
            this.con2[2].shtj15 = 36;
            this.con2[2].shtj16 = 90;
            setTimeout(function(){
                _this.dialogVisible1 = false;
                _this.isBlock = true;
            },1000)
        }

    },
}
</script>
<style lang="less" scoped>
    .sider{
        padding-top:20px;
    }
    .title{
        margin-top:20px;
        .time-title{
            float:left;
            line-height:36px;
        }
        .time-title-middle{
            // float:left;
            display:inline-block;
            line-height:36px;
            margin-left:5px;
        }
        .time-type{
            display:inline-block;
            line-height:36px;
            margin-left:20px;
        }
        .btn{
            display:inline-block;
            margin-left:20px;
        }
        .score{
            float:right;
            // width:120px;
            height:36px;
            line-height:36px;
        }
        .marginRight{
            margin-right:20px;
        }
        .mark{
            float:right;
            height:40px;
            margin-right:20px;
            span{
                display:inline-block;
                height:100%;
                line-height:40px;
                margin-right:10px;
                font-size:14px;
            }
        }
    }
    .table{
        margin-top:20px;
        border-right:1px solid #eeeeee;
        border-bottom:1px solid #eeeeee;
        thead{
            tr{
                background:#a5a5cf;
                td{
                    color:#ffffff;
                }
            }
        }
        td{
            text-align:center;
            vertical-align: middle;
            line-height:50px;
            border:1px solid #eeeeee;
            border-right:0;
            border-bottom:0;
            color:#333333;
            font-size:16px;
            input{
                width:80%;
                border:none;
                line-height:36px;
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:14px;
                    color:#606266;
                }
                .editor{
                    span{
                        display:inline-block;;
                        width:80%;;
                    }
                    i{
                        color:#409EFF;
                        font-size:18px;
                        margin-left:10px;
                    }
                }
            }
        }
    }
    .dbfx{
        .hx-dialog1{
            width:100%;
            height:auto;
            .con1{
                .div1{
                    display:inline-block;
                }
                .div2{
                    display:inline-block;
                }
            }
            .table{
                td{
                    font-size:13px;
                }
            }
        }
        /deep/.el-dialog__header{
            background:#a5a5cf;
        }
        /deep/.el-dialog__title{
            color:#ffffff;
        }
        /deep/.el-dialog__headerbtn .el-dialog__close{
            color:#ffffff;
        }
        /deep/.el-dialog__body{
            padding-top:10px;
        }
    }
    .quyupingji{
        .hx-dialog2{
            width:100%;
            height:100%;
            .dialog-title{
                width:100%;
                height:40px;
                .leixing{
                    display:inline-block;
                    height:40px;
                    line-height:40px;
                }
                .quyu{
                    display:inline-block;
                    height:40px;
                    line-height:40px;
                    margin-left:10px;
                }
                .beizhu{
                    display:inline-block;
                    height:40px;
                    line-height:40px;
                    margin-left:10px;
                }
                .beizhu-input{
                    display:inline-block;
                    height:40px;
                    line-height:40px;
                    width:350px;
                }
                .pingji-btn{
                    float:right;
                    height:40px;
                }
            }
            .bianji{
                height:100px;
                .left-p{
                    width:360px;
                    height:100%;
                    float:left;
                    // background:red;
                    .quyu{
                        margin-left:0;
                        margin-top:10px;
                    }
                }
                .right-p{
                    float:right;
                    width:700px;
                    height:100%;
                    .beizhu-input{
                        width:600px;
                        height:100px;
                    }
                    /deep/.el-input__inner{
                        height:100px;
                    }
                }
            }
            .tab-card{
                width:100%;
                height:auto;
                margin-top:20px;
                .top{
                    width:100%;
                    height:40px;
                    .arrow-l{
                        float:left;
                        height:40px;
                        line-height:40px;
                    }
                    .arrow-r{
                        float:right;
                        height:40px;
                        line-height:40px;
                    }
                    .con{
                        float:left;
                        margin-left:42px;
                        width:950px;
                        height:100%;
                        overflow:hidden;
                        ul{
                            width:100%;
                            height:100%;
                            li{
                                float:left;
                                width:150px;
                                margin-left:6px;
                                text-align:center;
                                line-height:40px;
                                border:1px solid #cccccc;
                                border-radius:6px 6px 0 0;
                                cursor:pointer;
                                &.active{
                                    color:#ffffff;
                                    background:#a5a5cf;
                                }
                            }
                        }
                    }
                }
                .table{
                    td{
                        input{
                            height:20px;
                            width:100px;
                            border:none;
                            text-align:center;
                        }
                        textarea{
                            width:90%;
                            height:40px;
                            border:none;
                            resize:none;
                        }
                    }
                }
                .btns{
                    text-align:center;
                    margin-top:20px;
                }
            }
        }
        /deep/.el-dialog__body{
            padding-top:10px;
        }
        /deep/.el-dialog__header{
            background:#a5a5cf;
        }
        /deep/.el-dialog__title{
            color:#ffffff;
        }
        /deep/.el-dialog__headerbtn .el-dialog__close{
            color:#ffffff;
        }
    }
    .pldr{
        margin-top:20px;
        margin-left:10px;
        text-align:left;
        text-decoration:line-through;
        margin-left:10px;
        margin-right:40px;
        color:right
    }
    /deep/.el-dialog__header{
        background:#a5a5cf;
    }
    /deep/.el-dialog__title{
        color:#ffffff;
    }
</style>
