<template>
    <div style="height: 100%;overflow-y: auto">
        <div class="analysis">
            <div class="analysis-main">
                <div class="title">
                    <button @click="changeBtnActive('area')" :class="btnActive == 'area' ? 'is-active' : ''">区域发展与创新能力评估</button>
                    <button @click="changeBtnActive('create')" :class="btnActive == 'create' ? 'is-active' : ''">产业发展与创新能力评估</button>
                </div>
                <div class="plot">
                    <p class="plot-title"><img :src="icon">{{plotTitle}}</p>
                    <div class="plot-main" id="plotChart"></div>
                    <div class="plot-foot">
                        <p>根据评价模型计算结果，近年来该产业波动水平较大，2019年三省一市的海洋生物产业发展水平与创新能力指数较前年有所增长，表明本年度该区域海洋经济发展与创新能力有所提升，但尚未恢复到2017年的快速增长水平。进一步分析产业规模、产业效率、创新能力、产业协同和发展潜力这五个二级指标的变动情况可以发现，该增长主要来自于产业效率指标的增加，对应的主要三级指标增加来自产值年增长率的增长。说明本年度三省一市在海洋生物产业发展水平与创新能力方面发展较好，未来应在继续提高产业效率的基础上，着重注意其他二级指标的发展与平衡，进一步提高海洋经济政策整体的实施效果。</p>
                    </div>
                </div>
            </div>
        </div>

        <el-dialog width="80%" :visible.sync="plotYearShow" append-to-body custom-class="plotYear" :show-close="false">
            <div class="plotYear-main" v-show="plotYearMainShow">
                <p class="title"><img :src="icon">{{plotYear}}三省一市区域海洋经济发展情况对比图 <i @click="closePlot" class="el-icon-close close"></i></p>
                <div class="cityChart" id="city"></div>
                <div class="pieRadar">
                    <div class="radarChart">
                        <p class="title"><img :src="icon">{{plotYear}}三省一市发展水平与创新能力的变化</p>
                        <div class="box" id="radarBox"></div>
                    </div>
                    <div class="pieChart">
                        <p class="title"><img :src="icon">{{plotYear}}上海市发展水平与创新能力的变化</p>
                        <div class="box" id="pieBox"></div>
                    </div>
                </div>
            </div>
            <div class="plotYear-main" v-show="!plotYearMainShow">
                <p class="title"><img :src="icon">年份区域经济重要指标趋势图 <i @click="closePlot" class="el-icon-close close"></i></p>
                <div class="yearLineChart" id="year"></div>
            </div>
            <span class="lpArrow borderTip"></span>
            <span class="rpArrow borderTip"></span>
            <span class="lbArrow borderTip"></span>
            <span class="rbArrow borderTip"></span>
        </el-dialog>
    </div>
</template>
<script>
    import {EleResize} from '../common/esresize'
    export default {
        data(){
            return{
                btnActive: 'area',
                icon: require('../../assets/analysis/titleIcon.png'),
                plotTitle: '海洋产业年变化趋势图',
                plotYear: '2017年',
                plotYearShow: false,
                plotYearMainShow: true
            }
        },
        methods: {
            initPlot(){
                let that = this
                let option = {
                    tooltip: {
                        trigger: 'axis',
                        backgroundColor: '#fff',
                        axisPointer: {

                        },
                        borderWidth: 1,
                        borderColor: '#ccc',
                        padding: 10,
                        textStyle: {
                            color: '#000'
                        },
                        extraCssText: 'width: 170px'
                    },
                    legend: {
                        bottom: 10,
                        left: 'center',
                        data: ['海洋生物产业', '海洋高端装备',],
                        textStyle: {
                            color: '#fff'
                        },
                        icon: 'roundRect'
                    },
                    grid: {
                        width: '96%',
                        left: '30px',
                        right: '40px'
                    },
                    axisPointer: {
                        link: {xAxisIndex: 'all'},
                        label: {
                            backgroundColor: '#777'
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: ['2013年','2014年','2015年','2016年','2017年','2018年','2019年',],
                        axisLine: {
                            lineStyle: {
                                color: '#6B7A90'
                            }
                        },
                        axisLabel: {
                            color: '#fff',
                        },
                        axisTick: {
                            show: false
                        },
                    },
                    yAxis: {
                        type: 'value',
                        min: 0,
                        max: 25,
                        axisLine: {
                            show: false,
                            lineStyle: {
                                color: '#6B7A90'
                            }
                        },
                        axisTick: {
                            show: false
                        },
                        axisLabel: {
                            color: '#fff'
                        },
                        splitLine: {
                            lineStyle: {
                                color: '#21365D'
                            }
                        }
                    },
                    series: [
                        {
                            name: '海洋生物产业',
                            type: 'line',
                            data: ['17','18','19','20','17','20','15'],
                            smooth: true,
                            areaStyle: {},
                            itemStyle:{
                                color:'#65435C'
                            }
                        },
                        {
                            name: '海洋高端装备',
                            type: 'line',
                            data: ['7','8','9','10','7','10','5'],
                            smooth: true,
                            areaStyle: {},
                            itemStyle:{
                                color:'#5B92F5'
                            }
                        },
                    ]
                }
                let myChart = this.$echarts.init(document.getElementById('plotChart'))
                let resizeDiv = document.getElementById('plotChart')
                myChart.setOption(option)
                myChart.on('click',function (param) {
                    that.plotYear = param.name
                    that.plotYearShow = true
                    setTimeout(_=>{
                        that.initYearChart()
                        that.initBox()
                    })
                })
                EleResize.on(resizeDiv, _=>{
                    myChart.resize()
                })
            },
            initYearChart(){
                let that = this
                let option = {
                    legend: {
                        bottom: 10,
                        left: 'center',
                        data: ['发展水平', '发展成效', '创新环境', '创新水平', '区域协同创新能力', '海洋生物产业发展水平与创新能力', '创新环境'],
                        textStyle: {
                            color: '#fff'
                        },
                        icon: 'roundRect'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        },
                        backgroundColor: '#fff',
                        borderWidth: 1,
                        borderColor: '#ccc',
                        padding: 10,
                        textStyle: {
                            color: '#000'
                        },
                    },
                    yAxis: [
                        {
                            type: 'value',
                            scale: true,
                            max: 25,
                            min: 0,
                            boundaryGap: [0.2, 0.2],
                            axisLine: {
                                show: false,
                                lineStyle: {
                                    color: '#6B7A90'
                                }
                            },
                            axisLabel: {
                                color: '#fff'
                            },
                            axisTick: {
                                show: false
                            },
                            splitLine: {
                                lineStyle: {
                                    color: '#1C2F51'
                                }
                            }
                        },
                        {
                            type: 'value',
                            scale: true,
                            max: 5.5,
                            min: 3.5,
                            boundaryGap: [0.2, 0.2],
                            axisLine: {
                                show: false,
                                lineStyle: {
                                    color: '#6B7A90'
                                }
                            },
                            axisLabel: {
                                color: '#fff'
                            },
                            axisTick: {
                                show: false
                            },
                            splitLine: {
                                lineStyle: {
                                    color: '#1C2F51'
                                }
                            }
                        }
                    ],
                    xAxis: [
                        {
                            type: 'category',
                            data: ['江苏省','上海市'],
                            axisLabel: {
                                show: false
                            },
                            axisLine: {
                                show: false
                            },
                            axisTick: {
                                show: false
                            },
                        }
                    ],
                    grid: {
                        width: '100%',
                        left: '30px'
                    },
                    series: [
                        {
                            name: '发展水平',
                            type: 'bar',
                            data: ['3.6','4.2'],
                            yAxisIndex: 1,
                            barWidth: '30px'
                        },
                        {
                            name: '发展成效',
                            type: 'bar',
                            data: ['4.9','5.2'],
                            yAxisIndex: 1,
                            barWidth: '30px'
                        },
                        {
                            name: '创新环境',
                            type: 'line',
                            data: ['22.7','25'],
                        },
                        {
                            name: '区域协同创新能力',
                            type: 'bar',
                            data: ['4.7','5.5'],
                            yAxisIndex: 1,
                            barWidth: '30px'
                        },
                        {
                            name: '海洋生物产业发展水平与创新能力',
                            type: 'bar',
                            data: ['3.9','7.2'],
                            yAxisIndex: 1,
                            barWidth: '30px'
                        },
                        {
                            name: '创新水平',
                            type: 'bar',
                            data: ['4.2','3.8'],
                            yAxisIndex: 1,
                            barWidth: '30px'
                        }
                    ]
                }
                let myChart = this.$echarts.init(document.getElementById('city'))
                let resizeDiv = document.getElementById('city')
                myChart.setOption(option)
                myChart.on('click', function (param) {
                    that.plotYearMainShow = !that.plotYearMainShow
                    setTimeout( _=>{
                        that.initYearLineChart()
                    })
                })
                EleResize.on(resizeDiv, _=>{
                    myChart.resize()
                })
            },
            initBox(){
                let that = this
                let option = {
                    tooltip: {
                        show: true,
                        trigger: 'item',
                        axisPointer: {
                            type: 'line'
                        },
                        backgroundColor: '#fff',
                        borderWidth: 1,
                        borderColor: '#ccc',
                        padding: 10,
                        textStyle: {
                            color: '#000'
                        },
                    },
                    grid: {
                        width: '100%',
                        left: '20px'
                    },
                    legend: {
                        data: ['江苏省','上海市','浙江省','福建省'],
                        bottom: 10,
                        left: 'center',
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    radar: {
                        indicator: [
                            {name: '发展水平',max: '6'},
                            {name: '创新环境',max: '6', axisLabel:{show:false}},
                            {name: '区域协同创新能力',max: '6', axisLabel:{show:false}},
                            {name: '创新水平',max: '6', axisLabel:{show:false}},
                            {name: '发展成效',max: '6', axisLabel:{show:false}},
                        ],
                        splitNumber: 6,
                        center: ['50%', '50%'],
                        shape: 'circle',
                        axisLine: {
                            show: false
                        },
                        axisLabel: {
                            show: true,
                            color:'#fff',
                            margin: 0
                        },
                        splitArea: {
                            areaStyle: {
                                color: '#142747'
                            }
                        },
                        splitLine: {
                            lineStyle: {
                                color: '#1F3255'
                            }
                        }
                    },
                    series: {
                        name: '雷达图',
                        type: 'radar',
                        emphasis: {
                            lineStyle: {
                                width: 4
                            }
                        },
                        data: [
                            {
                                value: [3, 3.2, 3, 3.2, 3],
                                name: '江苏省',
                                itemStyle: {
                                    color: '#658FEF'
                                },
                                areaStyle: {
                                    color: '#658FEF',
                                    opacity: 0.5
                                }
                            },
                            {
                                value: [4, 5, 4.7, 3.8, 4.2],
                                name: '上海市',
                                itemStyle: {
                                    color: '#6AD2AC'
                                },
                                areaStyle: {
                                    color: '#658FEF',
                                    opacity: 0.5
                                }
                            }
                        ]
                    }
                }
                let myChart = this.$echarts.init(document.getElementById('radarBox'))
                let resizeDiv = document.getElementById('radarBox')
                EleResize.on(resizeDiv, _=>{
                    myChart.resize()
                })
                myChart.setOption(option)
                myChart.on('click', function (param) {
                    that.plotYearMainShow = !that.plotYearMainShow
                    setTimeout( _=>{
                        that.initYearLineChart()
                    })
                })
                let pieOption = {
                    tooltip: {
                        trigger: 'item',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        },
                        backgroundColor: '#fff',
                        borderWidth: 1,
                        borderColor: '#ccc',
                        padding: 10,
                        textStyle: {
                            color: '#000'
                        },
                        formatter: (param) =>{
                            let str = `<div>${param.marker}<span>${param.name}：${param.value}<b style="font-weight: normal;margin-left: 10px">${param.percent}%</b></span></div>`
                            return str
                        }
                    },
                    legend: {
                        bottom: 10,
                        left: 'center',
                        data: ['发展水平', '发展成效','创新水平','区域协同创新能力','创新环境',],
                        icon: 'circle',
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    series: {
                        name: '访问来源',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            show: true,
                            position: 'outside',
                            formatter: '{d}%',
                            color: '#fff'
                        },
                        labelLine: {
                            show: true
                        },
                        data: [
                            {
                                value: '22.12%',
                                name: '发展水平',
                                itemStyle: {
                                    color: '#578AF0'
                                }
                            },
                            {
                                value: 12,
                                name: '发展成效',
                                itemStyle: {
                                    color: '#56CFA2'
                                }
                            },
                            {
                                value: 14,
                                name: '创新水平',
                                itemStyle: {
                                    color: '#5A6D8F'
                                }
                            },
                            {
                                value: 11,
                                name: '区域协同创新能力',
                                itemStyle: {
                                    color: '#F6BD16'
                                }
                            },
                            {
                                value: 20,
                                name: '创新环境',
                                itemStyle: {
                                    color: '#E86452'
                                }
                            }
                        ]
                    }
                }
                let pieChart = this.$echarts.init(document.getElementById('pieBox'))
                let resizeDivs = document.getElementById('pieChart')
                pieChart.setOption(pieOption)
                pieChart.on('click', function (param) {
                    that.plotYearMainShow = !that.plotYearMainShow
                    setTimeout( _=>{
                        that.initYearLineChart()
                    })
                })
                EleResize.on(resizeDivs, _=>{
                    myChart.resize()
                })
            },
            closePlot(){
                if(!this.plotYearMainShow){
                    this.plotYearMainShow = !this.plotYearMainShow
                }else{
                    this.plotYearShow = false
                }
            },
            initYearLineChart(){
                let option = {
                    tooltip: {
                        trigger: 'axis',
                        backgroundColor: '#fff',
                        axisPointer: {

                        },
                        borderWidth: 1,
                        borderColor: '#ccc',
                        padding: 10,
                        textStyle: {
                            color: '#000'
                        },
                    },
                    legend: {
                        bottom: 10,
                        left: 'center',
                        data: ['产值年增长率', '政府财政资金支持力度',],
                        textStyle: {
                            color: '#fff'
                        },
                        icon: 'line'
                    },
                    grid: {
                        width: '96%',
                        left: '30px',
                        right: '40px'
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: ['2013年','2014年','2015年','2016年','2017年','2018年','2019年',],
                        axisLine: {
                            lineStyle: {
                                color: '#6B7A90'
                            }
                        },
                        axisTick: {
                            show: false
                        },
                        axisLabel: {
                            color: '#fff',
                        }
                    },
                    yAxis: {
                        type: 'value',
                        min: 20,
                        max: 80,
                        axisLine: {
                            show: false
                        },
                        axisLabel: {
                            color: '#fff'
                        },
                        splitLine: {
                            lineStyle: {
                                color: '#21365D'
                            }
                        }
                    },
                    series: [
                        {
                            name: '产值年增长率',
                            type: 'line',
                            data: [70,80,70,65,70,65,70],
                            itemStyle: {
                                color: '#5B8FF9'
                            }
                        },
                        {
                            name: '政府财政资金支持力度',
                            type: 'line',
                            data: [60, 65, 59, 58, 67, 55, 54],
                            itemStyle: {
                                color: '#5AD8A6'
                            }
                        }
                    ]
                }
                let myChart = this.$echarts.init(document.getElementById('year'))
                let resizeDiv = document.getElementById('year')
                myChart.setOption(option)
                EleResize.on(resizeDiv, _=>{
                    myChart.resize()
                })
            },
            changeBtnActive(param){
                this.btnActive = param
            }
        },
        mounted() {
            this.initPlot()
        }
    }
</script>
<style lang="scss" scoped>
    .is-active{
        color: white !important;
    }

    .analysis{
        width: 100%;
        background: url("../../assets/analysis/back.png") center no-repeat;
        background-size: 100% 100%;
        overflow-y: auto;
        &-main{
            width: calc(100% - 80px);
            margin: 0 auto;
            padding-bottom: 85px;
            .title{
                padding: 20px 0;
                button{
                    width: 230px;
                    height: 40px;
                    line-height: 40px;
                    color: #6e98fc;
                    font-size: 18px;
                    background: #08497D;
                    outline: none;
                    border: 1px solid #006699;
                    border-radius: 5px;
                    margin-right: 20px;
                    cursor: pointer;
                }
            }
            .plot{
                height: 940px;
                position: relative;
                background: url("../../assets/analysis/plotBack.png") center no-repeat;
                background-size: 100% 100%;
                overflow: hidden;
                &-title{
                    display: flex;
                    margin-top: 20px;
                    color: #B6D7FF;
                    font-size: 18px;
                    margin-left: 35px;
                    align-items: center;
                    img{
                        width: 12px;
                        height: 14px;
                        display: block;
                        margin-right: 15px;
                    }
                }
                &-main{
                    width: calc(100% - 140px);
                    margin: 35px auto 0;
                    height: 720px;
                }
                &-foot{
                    width: calc(100% - 140px);
                    margin: 35px auto 0;
                    p{
                        font-size: 14px;
                        color: white;
                        line-height: 24px;
                    }
                }
            }
        }
    }

    .plotYear{
        &-main{
            position: relative;
            padding: 45px 40px;
            width: 100%;
            border: 1px solid #6076AD;
            height: 600px;
            overflow-y: auto;
            .title{
                display: flex;
                color: #B6D7FF;
                font-size: 18px;
                align-items: center;
                position: relative;
                img{
                    width: 12px;
                    height: 14px;
                    display: block;
                    margin-right: 65px;
                }
            }
            .cityChart{
                width: 100%;
                height: 370px;
            }
            .yearLineChart{
                width: 100%;
                height: 440px;
                margin-top: 30px;
            }
            .pieRadar{
                width: 100%;
                display: flex;
                margin-top: 60px;
                >div{
                    width: 50%;
                    .box{
                        height: 455px;
                    }
                }
            }
        }
        .borderTip{
            position: absolute;
            width: 10px;
            height: 10px;
        }
        .lpArrow {
            top: 0;
            border-top: 1px solid #0EFCFF;
            border-left: 1px solid #0EFCFF;
        }
        .rpArrow {
            top: 0;
            right: 0;
            border-top: 1px solid #0EFCFF;
            border-right: 1px solid #0EFCFF;
        }
        .lbArrow {
            bottom: 0;
            border-left: 1px solid #0EFCFF;
            border-bottom: 1px solid #0EFCFF;
        }
        .rbArrow {
            right: 0;
            bottom:0;
            border-right: 1px solid #0EFCFF;
            border-bottom: 1px solid #0EFCFF;
        }
        .close{
            position: absolute;
            right: 0px;
            top: -10px;
            font-size: 18px;
            color: #8892A2;
            cursor: pointer;
        }
    }
</style>
