<template>
    <div style="">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >项目管理</el-breadcrumb-item>
                <el-breadcrumb-item>企业直报数据管理</el-breadcrumb-item>
                <el-breadcrumb-item>企业直报数据统计图</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="tongji">
            <div class="title">
                <el-button type="warning" @click="goBack">返回</el-button>
                <div class="type">
                    <span>项目类型：</span>
                    <el-select v-model="valueproject" placeholder="请选择">
                        <el-option
                        v-for="item in chanyeType"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="chanyeType">
                    <span>产业类型：</span>
                    <el-select v-model="valueproject2" placeholder="请选择">
                        <el-option
                        v-for="item in chanyeType2"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <!-- <el-button type="primary">查询</el-button>
                <div class="desc">
                    <span>进行中：15</span>
                    <span>已验收：12</span>
                    <span class="span3">延期：1</span>
                    <span class="span4">终止：2</span>
                </div> -->
            </div>
            <div class="tongji-echarts" id="tongjiEcharts">这是统计图~暂无数据</div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            valueproject:0,
            valueproject2:0,
            chanyeType:[
                {
                    label:'全部',
                    value:0
                },
                {
                    label:'十三五',
                    value:1
                },
            ],
            chanyeType2:[
                {
                    label:'全部',
                    value:0
                },
                {
                    label:'海洋高端装备',
                    value:1
                },
                {
                    label:'海水淡化',
                    value:2
                },
                {
                    label:'海洋生物',
                    value:3
                },
                {
                    label:'产业平台',
                    value:4
                }
            ]
        }
    },
    methods: {
        goBack(){
            this.$router.go(-1);//返回上一层
        },
        mapOne(){
        let option = {
                title: {
                    text: ''
                },
                tooltip : {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'bar',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                legend: {
                    data:['新增产值','新增研发投入','获得专利授权数','成果转化数','新增产品认证书']
                },

                //grid: {
                    //left: '6%',
                    //right: '6%',
                    //bottom: '3%',
                    //top:'8%',
                 //   containLabel: true
               // },
                xAxis : [
                    {
                        type : 'category',
                        //boundaryGap : false,
                        data : ['上海亨通海洋装备有限公司','上海宏华海洋油气装备有限公司','上海崇和船舶重工装备有限公司'],
                    },
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: '万元',
                        min: 0,
                        max: 5000,
                        interval: 1000,
                        axisLabel: {
                            formatter: '{value}',
                            lineStyle: {
                                color: "#379cf1"
                            },
                        }
                    },
                    {
                        type: 'value',
                        name: '个数',
                        min: 0,
                        max: 500,
                        interval: 100,
                        axisLabel: {
                            formatter: '{value}',
                            lineStyle: {
                                color: "#379cf1"
                            },
                        }
                    }
                ],
                series : [
                    {
                        name:'新增产值',
                       type:'bar',barWidth:  '10%',
                       yAxisIndex: 0,
                       label: {
                            normal: {
                                show: true,
                                position: 'top'
                            }
                        },
                        data:[4100, 3100, 3100]
                    },
                    {
                        name:'新增研发投入',
                        type:'bar',barWidth:  '10%',
                       yAxisIndex: 0,
                       label: {
                            normal: {
                                show: true,
                                position: 'top'
                            }
                        },
                        data:[1800, 1300, 1400]
                    },
                    {
                        name:'获得专利授权数',
                        type:'bar',barWidth:  '10%',
                        yAxisIndex: 0,
                        label: {
                            normal: {
                                show: true,
                                position: 'top'
                            }
                        },
                        data:[160, 150, 120]
                    },
                    {
                        name:'成果转化数',
                        type:'bar',barWidth:  '10%',
                        // stack: '总量',
                        yAxisIndex: 1,
                        label: {
                            normal: {
                                show: true,
                                position: 'top'
                            }
                        },
                        data:[52, 40, 60]
                    },
                    {
                        name:'新增产品认证书',
                        type:'bar',
                        barWidth:  '10%',
                        // stack: '总量',
                        yAxisIndex: 1,
                        label: {
                            normal: {
                                show: true,
                                position: 'top'
                            }
                        },
                        data:[80, 20, 40]
                    }
                ]
            };
            var myChart = this.$echarts.init(document.getElementById('tongjiEcharts'));
            myChart.setOption(option);
        }
    },
    mounted() {
        this.mapOne();
    },
}
</script>
<style lang="less" scoped>
    .sider{
        padding-left:30px;
        padding-right:30px;
        padding-top:20px;
    }
    .tongji{
        width:100%;
        height:auto;
        padding-left:30px;
        padding-right:30px;
        margin-top:20px;
        .type,.area,.chanyeType{
            display:inline-block;
            margin-left:20px;
        }
        .desc{
            float:right;
            height:40px;
            line-height:50px;
            font-size:14px;
            span{
                padding-left:15px;
            }
            .span3,.span4{
                color:red;
            }
        }
        .tongji-echarts{
            width:100%;
            height:600px;
            padding:2% 5%;
            background:#ffffff;
            margin-top:20px;
        }
        /deep/.el-button--primary{
            margin-left:20px;
        }
    }
</style>
