<template>
    <div style="min-height:1018px;">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >项目管理</el-breadcrumb-item>
                <el-breadcrumb-item>企业直报数据管理</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="xiangmuProcess">
            <div class="title">
                <div class="area">
                    <span>项目类型：</span>
                    <el-select v-model="valueproject" placeholder="请选择">
                        <el-option
                        v-for="item in chanyeType"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="type">
                    <span>产业类型：</span>
                    <el-select v-model="valuechanyeType" placeholder="请选择">
                        <el-option
                        v-for="item in projectList"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="status">
                    <span>项目状态：</span>
                    <el-select v-model="valueState" placeholder="请选择">
                        <el-option
                        v-for="item in projectState"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <!-- <span class="name-title">项目名称：</span>
                <div class="name"><el-input v-model="input" placeholder="项目名称、单位名称"></el-input></div> -->
                <div class="btn"><el-button type="primary">查询</el-button></div>
                <!-- <el-button type="primary" style="float:right;margin-left:10px;">数据导出</el-button> -->
                <el-button type="warning" style="float:right;" @click="map1">企业直报数据统计图</el-button>
                <el-button type="danger" style="float:right;margin-right:10px;" @click="map2">区域直报数据统计图</el-button>

            </div>
            <div class="table">
                <table cellspacing="0">
                    <thead>
                        <tr>
                            <td width="100">序号</td>
                            <td width="150">所属区域</td>
                            <td width="150">企业名称</td>
                            <td width="200">关联项目名称</td>
                            <td width="150">最新填报时间</td>
                            <td width="150">新增产值（万元）</td>
                            <td width="150">新增研发投入（万元）</td>
                            <td width="150">获得专利授权数（个）</td>
                            <td width="150">成果转化数（个）</td>
                            <td width="150">新增产品认证数（个）</td>
                            <td width="150">带动社会资金投入（万元）</td>
                            <td width="150">项目状态</td>
                            <td width="150">备注</td>
                            <td width="200">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >1</td>
                            <td >上海 浦东新区</td>
                            <td >上海亨通海洋装备有限公司</td>
                            <td >智能立体的海底科学观测网产业化</td>
                            <td >2019-10-21</td>
                            <td >12236</td>
                            <td >113</td>
                            <td >1</td>
                            <td >0</td>
                            <td >0</td>
                            <td >2400</td>
                            <td >进行中</td>
                            <td >-</td>
                            <td  class="caozuo"><el-button type="text" @click="projectDetail">项目信息</el-button><el-button type="text" @click="zbqd">直报清单</el-button></td>
                        </tr>
                        <tr>
                            <td >2</td>
                            <td >上海 浦东新区</td>
                            <td >上海宏华海洋油气装备有限公司</td>
                            <td >海上固定式多功能LNG接收分销中心的研发及产业化</td>
                            <td >2019-10-21</td>
                            <td >100</td>
                            <td >1223</td>
                            <td >3</td>
                            <td >0</td>
                            <td >0</td>
                            <td >1576</td>
                            <td >进行中</td>
                            <td >-</td>
                            <td  class="caozuo"><el-button type="text" @click="projectDetail">项目信息</el-button><el-button type="text" @click="zbqd">直报清单</el-button></td>
                        </tr>
                        <tr>
                            <td >3</td>
                            <td >上海 浦东新区</td>
                            <td >上海崇和重工船舶装备有限公司</td>
                            <td >南极磷虾获取-冷冻-脱壳全套智能加工设备关键技术转化及产业化开发</td>
                            <td >2019-10-21</td>
                            <td >1518</td>
                            <td >1182</td>
                            <td >5</td>
                            <td >0</td>
                            <td >0</td>
                            <td >0</td>
                            <td >进行中</td>
                            <td >-</td>
                            <td  class="caozuo"><el-button type="text" @click="projectDetail">项目信息</el-button><el-button type="text" @click="zbqd">直报清单</el-button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 项目信息弹窗 -->
        <div class="xmxx">
            <el-dialog
            title="项目信息（全海深载人潜水器研制及技术配件产业化应用）"
            :visible.sync="dialogVisible1"
            width="1344px"
            >
                <div class="hx-dialog1 clear">
                    <el-tabs v-model="activeName" @tab-click="handleClick">
                        <el-tab-pane label="基础信息" name="first">
                             <div class='div1' >
                                <ul class="clear">
                                    <li><p class="p1">项目编号</p><p class="p2">PD-HY-001</p></li>
                                    <li><p class="p1 marginLeft">项目名称</p><p class="p2">智能立体的海底科学观测网产业化</p></li>
                                    <li><p class="p1">合同签订日期</p><p class="p2">2018-07-02</p></li>
                                    <li><p class="p1 marginLeft">项目实施开始日期</p><p class="p2">2017-06-15</p></li>
                                    <li><p class="p1">项目实施结束日期</p><p class="p2">2020-06-14</p></li>
                                    <li><p class="p1 marginLeft">项目总投资（金额）</p><p class="p2">40947.86万</p></li>
                                </ul>
                                <div class="hx-item1 clear">
                                    <p class="p1">项目总投资<br />投资构成及资金来源</p>
                                    <p class="p2">项目总投资4097.86万元，其中乙方自有资金37672.1万元，专项资金投入3275.76万元。如国拨资金不足，本公司将通过自筹资金解决，以确保本项目的顺利实施。</p>
                                </div>
                                <ul class="clear">
                                    <li><p class="p1">项目管理部门</p><p class="p2">上海市临港地区开发建设管理委员会</p></li>
                                    <li><p class="p1 marginLeft">负责人</p><p class="p2">-</p></li>
                                    <li><p class="p1">地址</p><p class="p2">上海市临港新城申港大道200号</p></li>
                                    <li><p class="p1 marginLeft">邮政编码</p><p class="p2">201306</p></li>
                                    <li><p class="p1">电话</p><p class="p2">15851597880</p></li>
                                    <li><p class="p1 marginLeft">项目牵头单位</p><p class="p2">上海亨通海洋装备有限公司</p></li>
                                    <li><p class="p1">项目单位地址</p><p class="p2">上海市浦东新区海基六路218弄35号楼</p></li>
                                    <li><p class="p1 marginLeft">项目单位法人代表</p><p class="p2">许人东</p></li>
                                    <li><p class="p1">项目负责人</p><p class="p2">许人东</p></li>
                                    <li><p class="p1 marginLeft">项目负责人联系电话</p><p class="p2">18600023685</p></li>
                                    <li><p class="p1">联系人/电话</p><p class="p2" style="width:191px;">卢赟</p><p class="p2 p3" style="width:200px;">021-20956203</p></li>
                                    <li><p class="p1 marginLeft">传真</p><p class="p2">021-20956203</p></li>
                                </ul>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="建设内容" name="second">
                            <div class="div2">
                                <div class="hx-item2 clear" style="margin-top:0;">
                                    <p class="p1">项目建设内容</p>
                                    <p class="p2">1主次接驳盒的生产能力建设以及运行监控通信软件的编写。 主次接驳盒、海底高压直流输配电装置、海底高压高频直流变 换装置的生产线准备、样机制造，编制海底远距离信息传输控制软 件、海底远距离电力监控软件系统。
                                            2主次接驳盒整体以及核心部件的测试标准的制定，建设主次 接驳盒整机和核心部件的检测能力，对样机进行水池运行试验。
                                            3选择合适的水下观测网路由和观测地点，生产、集成接驳盒 和海水缆，勘察观测网路由，组织项目管理团队布放集成后的观测 网，同时在系统开通后运行远程供电监控软件和远程通信传输软 件。
                                            4组建项目管理团队，形成水下观测网交钥匙工程的相关管理 文件，包括路由勘察作业指导书、接驳盒与海水缆集成作业指导、 施工作业指导。'</p>
                                </div>
                                <div class="hx-item2 clear">
                                    <p class="p1">总体目标</p>
                                    <p class="p2">针对智能立体的海底观测网系统、江河湖泊环境感知网系统、 海洋牧场生态监测系统、港口码头监测系统、国防警戒网系统，具 备主接驳盒、次接驳盒的生产和检测能力 ， 培养一支具备主／次接驳 盒研发制造集成、观测网路由勘察、海／水缆制造以及施工能力的项 目管理团队。建设一套水下观测网实验系统。
                                            具体来说，本项目要在同济大学原有观测网经验的基础上，对 海／水缆、主接驳盒、次接驳盒系列产品进行定型定参，包括海底高 压直流输配电装备、海底高压高频直流变换装备、海底远距离通信 与控制装备、海底观测设备适配器装备、海底远程通信管理软件、 海底远程电力监控软件。同时，形成海洋／江河湖泊勘察现场作业规 范、接驳盒及海／水缆施工作业规范、接驳盒集成作业规范、
                                            水下观 测网项目总包管理制度和流程，打造为客户提供整体解决方案的能 力。</p>
                                </div>
                                <div class="hx-item3">
                                    <p class="p-left">年度目标</p>
                                    <div class="p-right">
                                        <p class="p1">
                                            <span class="time">2017年</span>
                                            <span class="desc">开展预算编制和评审，签订项目任务书，审定项目整 体实施方案，基本拟定项目总体设计，审定外购设备技术参数和订 货，购置项目研究辅助设备。并形成主次接驳盒、海底高压直流输 配电装备、海底高压高频直流变换装备、海底远距离通
                                                信与控制装 备、海底观测设备适配器装备的生产线准备、样机制造，开发海底 远程通信管理软件、海底远距离电力监控软件。</span>
                                        </p>
                                        <p class="p2">
                                            <span class="time">2018年</span>
                                            <span class="desc">完成主次接驳盒整体以及核心部件的测试标准制定， 对样机进行水池运行试验。进行接驳盒以及海／水缆的生产和集成， 对观测网路由进行勘察，组织项目管理团队对集成后的观测网进行 布放，同时在系统开通后运行远程供电监控软件和远程通信管理软件。</span>
                                        </p>
                                        <p class="p3">
                                            <span class="time">2019年</span>
                                            <span class="desc">海洋牧场接驳盒样机的制造；主次接驳盒的性能测试 以及软件在样机上的运行；初步开展水下观测实验网的选点以及建 设，包括路由勘察、系统集成和施工。</span>
                                        </p>
                                        <p class="p3">
                                            <span class="time">2020年</span>
                                            <span class="desc">水下观测实验网的建设完成以及运行验收、项目总结、 验收结题。</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="考核指标" name="third">
                            <div class="div3">
                                <div class="hx-item2 clear" style="margin-top:0;">
                                    <p class="p1">技术创新指标</p>
                                    <p class="p2">1) 观测网接驳盒核心技术指标不合格率低于 1%; 2) 观测网接驳盒老化过程可靠性不合格率低于 5%; 3) 观测网接驳盒连续拷机耐久性不合格率低于 1%; 4) 观测网试验核心电学参数测试精度不低于 1%。
                                需要人工摘录</p>
                                </div>
                                <div class="hx-item2 clear">
                                    <p class="p1">经济发展指标</p>
                                    <p class="p2">拓展销售市场，提升用户对亨通海装观测网总包能力的认可度， 3 年 后新增产值 2.25 亿元，新增税收 0.5 亿元；净利润达到 1000 万 元，各产业链企业 3 年增加利润 500 万元。</p>
                                </div>
                                <div class="hx-item2 clear">
                                    <p class="p1">质量指标</p>
                                    <p class="p2">1) 建成或改造生产线 2 条； 2) 新建公共服务平台 1 个；</p>
                                </div>
                                <div class="hx-item2 clear">
                                    <p class="p1">时效指标</p>
                                    <p class="p2">1) 新增发明申请 10 项；
                                            2) 新增品牌 1 个；
                                            3) 成果转化数量 1 个；
                                            4) 新增示范工程 1 个。</p>
                                </div>
                                <div class="hx-item2 clear">
                                    <p class="p1">社会效益指标</p>
                                    <p class="p2">1) 新增就业人员 150 人；
                                            2) 新增重点产业就业人数 70 人；
                                            3) 带动社会资金投入 3000 万元。</p>
                                </div>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="项目计划和目标" name="fourth">
                            <div class="div4">
                                <div class="title">
                                    <p class="p1">项目周期</p>
                                    <p class="p2">年度目标</p>
                                </div>
                                <div class="hx-item2 clear">
                                    <p class="p1">2017年</p>
                                    <p class="p2">开展预算编制和评审，签订项目任务书，审定项目整 体实施方案，基本拟定项目总体设计，审定外购设备
                                        技术参数和订 货，购置项目研究辅助设备。并形成主次接驳盒、海底高压直流输 配电装备、海底高压高频直流变换装备、海底
                                        远距离通 信与控制装 备、海底观测设备适配器装备的生产线准备、样机制造，开发海底 远程通信管理软件、海底远距离电力监控软件。</p>
                                </div>
                                <div class="hx-item2 clear">
                                    <p class="p1">2018年</p>
                                    <p class="p2">完成主次接驳盒整体以及核心部件的测试标准制定， 对样机进行水池运行试验。进行接驳盒以及海／水缆的生产和集成，
                                        对观测网路由进行勘察，组织项目管理团队对集成后的观测网进行 布放，同时在系统开通后运行远程供电监控软件和远程通信管理软件。</p>
                                </div>
                                <div class="hx-item2 clear">
                                    <p class="p1">2019年</p>
                                    <p class="p2">海洋牧场接驳盒样机的制造；主次接驳盒的性能测试 以及软件在样机上的运行；初步开展水下观测实验网的选点以及建 设，包括路由勘察、系统集成和施工。</p>
                                </div>
                                <div class="hx-item2 clear">
                                    <p class="p1">2020年</p>
                                    <p class="p2">水下观测实验网的建设完成以及运行验收、项目总结、 验收结题。</p>
                                </div>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="项目合作单位" name="fifth">
                            <div class="div6">
                                <div class="title">
                                    <p class="p1">项目编号</p>
                                    <p class="p2">项目名称</p>
                                    <p class="p3">合作单位</p>
                                </div>
                                <div class="hx-item3">
                                    <p class="p-left">PD-HY-001</p>
                                    <p class="p-center">智能立体的海底科学观测网产业化</p>
                                    <div class="p-right">
                                        <p class="p1">
                                            <span class="desc">江苏亨通海洋光网系统有限公司</span>
                                        </p>
                                        <p class="p2">
                                            <span class="desc">杭州国海海洋工程勘测设计研究院</span>
                                        </p>
                                        <p class="p3">
                                            <span class="desc">上海遨拓深水装备技术开发有限公司</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="申报信息" name="sixth">
                            <div class="div6">
                                <div class="title5">申报项目基本情况</div>
                                <ul class="clear">
                                    <li><p>项目名称:海岛或舰船用中小型一体化电驱动膜海水淡化装备成果转化产业化项目</p></li>
                                    <li>项目类型:重大共性关键技术</li>
                                    <li>技术领域: 高端装备制造</li>
                                    <li>项目起始时间:2016-06-02</li>
                                    <li>项目结束时间：2017-06-22</li>
                                    <li>实施周期：共18个月</li>
                                    <li>预计中期时间点：2017-02-14</li>
                                    <li>经费预算：总预算3600万元，其中中央财政专项资金1000万元，地方财政资金300万元，单位自筹资金100万元，其他渠道获得资金200万元</li>
                                    <li>申报日期：2015-06-22</li>
                                </ul>
                                <div class="title5">申报项目基本情况</div>
                                <template>
                                    <el-table
                                        :data="tableData"
                                        border
                                        style="width: 100%">
                                        <el-table-column
                                        prop="date"
                                        label="牵头单位"
                                        width="50%">
                                        </el-table-column>
                                        <el-table-column
                                        prop="name"
                                        label="上海亨通海洋装备有限公司"
                                        width="260">
                                        </el-table-column>
                                        <el-table-column
                                        prop="nature "
                                        label="单位性质">
                                        </el-table-column>
                                        <el-table-column
                                        prop="address"
                                        label="有限责任公司（自然人投资或控股的法人">
                                        </el-table-column>
                                    </el-table>
                                </template>
                            </div>
                        </el-tab-pane>
                        <!-- <el-tab-pane label="附件" name="seventh">
                            <div class="div7">
                                正在建设中~
                            </div>
                        </el-tab-pane> -->
                    </el-tabs>
                </div>
            </el-dialog>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            valuechanyeType:0,
            valueproject:0,
            valueState:0,
            chanyeType:[
                {
                    value:0,
                    label:'全部'
                },
                {
                    value:1,
                    label:'十三五'
                }
            ],
            projectList:[
                {
                    value:0,
                    label:'全部'
                },
                {
                    value:1,
                    label:'海洋高端装备'
                },
                {
                    value:2,
                    label:'海水淡化'
                },
                {
                    value:3,
                    label:'海洋生物'
                },
                {
                    value:4,
                    label:'产业平台'
                }
            ],
            projectState:[
                {
                    value:0,
                    label:'全部'
                },
                {
                    value:1,
                    label:'进行中'
                },
                {
                    value:2,
                    label:'已验收'
                },
                {
                    value:3,
                    label:'延期'
                },
                {
                    value:4,
                    label:'终止'
                }
            ],
            dialogVisible1:false,
            activeName:'first',
        }
    },
    methods: {
        zbqd(){
            this.$router.push({ path: '/xmpgmx/zbqd', query: { type: '1' }})
        },
        projectDetail(){
            this.dialogVisible1 = true;
        },
        handleClick(tab, event) {
            console.log(tab, event);
        },
        map1(){
            this.$router.push({ path: '/xmpgmx/qiyezbsjtjt', query: { type: '1' }})
        },
        map2(){
            this.$router.push({ path: '/xmpgmx/qyzbsjtjt', query: { type: '1' }})
        }
    },
}
</script>
<style lang="less" scoped>
    .sider{
        padding-left:30px;
        padding-right:30px;
        padding-top:20px;
    }
    .xiangmuProcess{
        width:100%;
        height:auto;
        padding-left:30px;
        padding-right:30px;
        margin-top:20px;
        .title{
            width:100%;
            height:40px;
            .area{
                float:left;

            }
            .type{
                float:left;
                margin-left:20px;
            }
            .status{
                float:left;
                margin-left:20px;
            }
            .name-title{
                line-height:36px;
                margin-left:20px;
                float:left;
            }
            .name{
                width:200px;
                float:left;
            }
            .btn{
                float:left;
                margin-left:20px;
            }
        }
        .table{
            margin-top:20px;
        }
        .caozuo{
            .el-button{
                padding:0;
            }
        }
    }
    .xmxx{
        .hx-dialog1{
            width:100%;
            height:auto;
            .div1{
                // width:100%;
                height:auto;
                background:#ffffff;
                ul{
                    li{
                        float:left;
                        width:640px;
                        margin-top:20px;
                        .p1{
                            float:left;
                            width:200px;
                            height:64px;
                            background:#9797ea;
                            text-align:center;
                            line-height:64px;
                            color:#ffffff;
                            &.marginLeft{
                                margin-left:25px;
                            }
                        }
                        .p2{
                            float:left;
                            width:400px;
                            height:64px;
                            background:#ececf7;
                            margin-left:10px;
                            border:1px solid #d9d3f2;
                            display:flex;
                            justify-content:center;
                            align-items:center;
                        }
                    }
                }
                .hx-item1{
                    width:100%;
                    margin-top:20px;
                    .p1{
                        float:left;
                        width:200px;
                        height:100px;
                        background:#9797ea;
                        color:#ffffff;
                        text-align:center;
                        padding-top:26px;
                    }
                    .p2{
                        float:left;
                        width:1066px;
                        height:100px;
                        padding:10px;
                        background:#ececf7;
                        margin-left:10px;
                        border:1px solid #d9d3f2;
                        display:flex;
                        justify-content:center;
                        align-items: center;
                    }

                }
            }
            .div2{
                width:100%;
                height:auto;
                background:#ffffff;
                padding-top:20px;
                .hx-item2{
                    width:100%;
                    margin-top:20px;
                    .p1{
                        float:left;
                        width:200px;
                        height:165px;
                        line-height:165px;
                        background:#9797ea;
                        color:#ffffff;
                        text-align:center;
                    }
                    .p2{
                        float:left;
                        width:1066px;
                        height:165px;
                        padding:30px 10px;
                        background:#ececf7;
                        margin-left:10px;
                        text-align:center;
                        border:1px solid #d9d3f2;
                    }

                }
                .hx-item3{
                    width:100%;
                    height:490px;
                    margin-top:20px;
                    .p-left{
                        float:left;
                        width:200px;
                        height:100%;
                        line-height:490px;
                        text-align:center;
                        background:#9797ea;
                        color:#ffffff;
                    }
                    .p-right{
                        float:left;
                        margin-left:10px;
                        height:100%;
                        width:1066px;
                        // padding:30px 10px;
                        .p1,.p2,.p3{
                            width:100%;
                            height:150px;
                            .time{
                                float:left;
                                width:250px;
                                height:100%;
                                background:#ececf7;
                                border:1px solid #d9d3f2;
                                line-height:150px;
                                text-align:center;
                            }
                            .desc{
                                float:left;
                                width:800px;
                                height:100%;
                                margin-left:15px;
                                background:#ececf7;
                                border:1px solid #d9d3f2;
                                padding:30px 10px;
                            }
                        }
                        .p2{
                            margin-top:20px;
                        }
                        .p3{
                            margin-top:20px;
                        }
                    }
                }
            }
            .div3{
                width:100%;
                height:auto;
                background:#ffffff;
                padding-top:20px;
                .hx-item2{
                    width:100%;
                    margin-top:20px;
                    .p1{
                        float:left;
                        width:200px;
                        height:165px;
                        line-height:165px;
                        background:#9797ea;
                        color:#ffffff;
                        text-align:center;
                    }
                    .p2{
                        float:left;
                        width:1052px;
                        height:165px;
                        padding:30px 10px;
                        background:#ececf7;
                        margin-left:10px;
                        text-align:center;
                        border:1px solid #d9d3f2;
                    }

                }

            }
            .div4{
                width:100%;
                height:auto;
                background:#ffffff;
                padding:20px 20px;
                .hx-item2{
                    width:100%;
                    margin-top:20px;
                    .p1{
                        float:left;
                        width:250px;
                        height:165px;
                        line-height:165px;
                        background:#ececf7;
                        text-align:center;
                        border:1px solid #d9d3f2;
                    }
                    .p2{
                        float:left;
                        width:915px;
                        height:165px;
                        padding:30px 10px;
                        background:#ececf7;
                        margin-left:10px;
                        text-align:center;
                        border:1px solid #d9d3f2;
                    }

                }
                .title{
                    height:80px;
                    color:#ffffff;
                    font-size:18px;
                    .p1{
                        float:left;
                        width:250px;
                        height:80px;
                        line-height:80px;
                        background:#9797ea;
                        text-align:center;
                    }
                    .p2{
                        float:left;
                        width:915px;
                        height:80px;
                        padding:30px 10px;
                        background:#9797ea;
                        margin-left:10px;
                        text-align:center;
                    }
                }

            }
            .div6{
                width:100%;
                height:300px;
                background:#ffffff;
                .title5 {
                    background-color: #f5f5f5;
                    padding: 10px;
                    color: #333;
                    font-size: 16px;
                }
                ul {
                    padding: 10px;
                    background:#ffffff;
                    li {
                    float: left;
                    color: #666;
                    padding: 10px;
                    width: 50%;
                }
                }
            }
            .div7{
                text-align:center;
                line-height:400px;
                font-size:22px;
            }
            .div6{
               width:100%;
                height:auto;
                background:#ffffff;
                padding-top:20px;
                .title{
                    width:100%;
                    height:80px;
                    color:#ffffff;
                    text-align:center;
                    font-size:18px;
                    .p1{
                        float:left;
                        width:200px;
                        height:100%;
                        background:#9797ea;
                        line-height:80px;
                    }
                    .p2{
                        float:left;
                        width:200px;
                        height:100%;
                        background:#9797ea;
                        margin-left:10px;
                        line-height:80px;
                    }
                    .p3{
                        float:left;
                        height:100%;
                        width:820px;
                        margin-left:10px;
                        background:#9797ea;
                        line-height:80px;
                    }
                }
                .hx-item3{
                    width:100%;
                    height:310px;
                    margin-top:20px;
                    .p-left{
                        float:left;
                        width:200px;
                        height:100%;
                        line-height:310px;
                        text-align:center;
                        background:#9797ea;
                        color:#ffffff;
                    }
                    .p-center{
                        float:left;
                        height:100%;
                        width:200px;
                        margin-left:10px;
                        text-align:center;
                        background:#9797ea;
                        color:#ffffff;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .p-right{
                        float:left;
                        margin-left:10px;
                        height:100%;
                        width:815px;
                        // padding:30px 10px;
                        .p1,.p2,.p3{
                            width:100%;
                            height:90px;

                            .desc{
                                float:left;
                                width:100%;
                                height:100%;
                                background:#ececf7;
                                border:1px solid #d9d3f2;
                                padding:30px 10px;
                                display:flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                        .p2{
                            margin-top:20px;
                        }
                        .p3{
                            margin-top:20px;
                        }
                    }
                }
            }
        }
    }
    .el-input__inner{
        height:36px;
        line-height:36px;
    }
    .el-button{
        padding:11px 16px;
    }
    /deep/.el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell{
        text-align:center;
    }
    /deep/.el-table thead.is-group th{
        background:#ffffff;
    }
    /deep/.el-dialog__header{
        background:#a5a5cf;
    }
    /deep/.el-dialog__title{
        color:#ffffff;
    }
    .table{
        border:1px solid #f1f1f1;
        tr{
            background:#a5a5cf;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:40px;
                border:1px solid #eeeeee;
                border-right:0;
                border-bottom:0;
                color:#ffffff;
                font-size:16px;
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:14px;
                    color:#606266;
                    &.state{
                        color:red;
                    }
                }
            }
        }
    }
</style>















































