<template>
    <div style="padding-left:30px;padding-right:30px;min-height:1018px;">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >项目管理</el-breadcrumb-item>
                <el-breadcrumb-item>企业直报数据管理</el-breadcrumb-item>
                <el-breadcrumb-item>直报清单</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="title">
            <el-button type="warning" @click="boBack">返回</el-button>
            <span>&nbsp;上海亨通的直报清单 &nbsp;&nbsp;&nbsp;</span>
            <div class="time-title">填报时间：</div>
            <el-date-picker
            v-model="value1"
            type="date"
            placeholder="选择日期">
            </el-date-picker>
            <div class="time-title-middle">至：</div>
            <el-date-picker
            v-model="value2"
            type="date"
            placeholder="选择日期">
            </el-date-picker>
            <div class="time-type">填报年份：</div>
            <el-select v-model="valueYear" placeholder="请选择">
                <el-option
                v-for="item in optionsYear"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                </el-option>
            </el-select>
            <div class="time-type">报表分类：</div>
            <el-select v-model="valueType" placeholder="请选择">
                <el-option
                v-for="item in optionsType"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                </el-option>
            </el-select>
            <div class="btn"><el-button type="primary">查询</el-button></div>
        </div>
        <table class="table" cellspacing="0">
            <thead>
                <tr>
                    <td width="150">序号</td>
                    <td width="150">报表类型</td>
                    <td width="150">报表时段</td>
                    <td width="150">填报时间</td>
                    <td width="150">有效期至</td>
                    <td width="150">新增产值<br />（万元）</td>
                    <td width="150">新增研发投入<br />（万元）</td>
                    <td width="150">获得专利数<br />（个）</td>
                    <td width="150">成果转化数<br />（个）</td>
                    <td width="150">新增产品认证数<br />（个）</td>
                    <td width="150">带动社会资金投入<br />（万元）</td>
                    <td width="150">备注</td>
                    <td width="150">操作</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>创新示范企业季报</td>
                    <td>2019年第1季度</td>
                    <td>2019-10-21</td>
                    <td>2019年9月</td>
                    <td>113</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2400</td>
                    <td>-</td>
                    <td><el-button type="text" @click="detail">详情</el-button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>创新示范企业季报</td>
                    <td>2019年第2季度</td>
                    <td>2019-10-21</td>
                    <td>2019年9月</td>
                    <td>100</td>
                    <td>868</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1576</td>
                    <td>-</td>
                    <td><el-button type="text" @click="detail">详情</el-button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>创新示范企业季报</td>
                    <td>2019年第3季度</td>
                    <td>2019-10-21</td>
                    <td>2019年9月</td>
                    <td>1518</td>
                    <td>1182</td>
                    <td>5</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>-</td>
                    <td><el-button type="text" @click="detail">详情</el-button></td>
                </tr>
            </tbody>
        </table>
        <!-- 详情 -->
        <el-dialog
        title="详情"
        :visible.sync="dialogVisible"
        width="800px"
        :before-close="handleClose">
            <div class="tjjlEdit">
                <!-- <ul class="tab">
                    <li>服务业企业季报</li>
                    <li>创新示范企业季报</li>
                    <li>服务业企业月报</li>
                    <li>工业企业季报</li>
                    <li>工业企业月报</li>
                </ul> -->
                <div class="tiaobao">
                    <ul class="detail">
                        <li><p class="p1">报表类型:</p><p class="p2">创新示范企业季报</p></li>
                        <li><p class="p1">表  号：</p><p class="p2">海统定基5表</p></li>
                        <li><p class="p1">报表时段：</p><p class="p2">2019年第3季度</p></li>
                        <li><p class="p1">批准机关：</p><p class="p2">国家统计局</p></li>
                        <li><p class="p1">填报单位：</p><p class="p2">上海亨通海洋装备有限公司</p></li>
                        <li><p class="p1">制定机关：</p><p class="p2">国家海洋局</p></li>
                        <li><p class="p1">地&nbsp;&nbsp;址：</p><p class="p2">上海市浦东新区</p></li>
                        <li><p class="p1">批准文号：</p><p class="p2">国统制[2017]120号</p></li>
                        <li><p class="p1">上报时间：</p><p class="p2">有效期至：2019年9月</p></li>
                        <li><p class="p1">有效期至：</p><p class="p2">2019年9月</p></li>
                    </ul>
                </div>
                <table class="table" cellspacing="0" style="margin-top:0;">
                    <thead>
                        <tr>
                            <td width="230">指标名称</td>
                            <td width="120">代码</td>
                            <td width="220">单位</td>
                            <td>数量</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>甲</td>
                            <td>乙</td>
                            <td>丙</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>新增产值</td>
                            <td>01</td>
                            <td>万元</td>
                            <td><input type="text" value="12236" /><br /><span>上期值：16</span><br /><span>增速：76475.00%</span></td>
                        </tr>
                        <tr>
                            <td>新增研发投入</td>
                            <td>02</td>
                            <td>万元</td>
                            <td><input type="text" value="113" /><br /><span>上期值：659</span><br /><span>增速：-82.85%</span></td>
                        </tr>
                        <tr>
                            <td>获得专利授权数</td>
                            <td>03</td>
                            <td>个</td>
                            <td><input type="text" value="1" /><br /><span>上期值：0</span></td>
                        </tr>
                        <tr>
                            <td>成果转化数</td>
                            <td>04</td>
                            <td>个</td>
                            <td><input type="text" value="0" /><br /><span>上期值：-</span></td>
                        </tr>
                        <tr>
                            <td>新增产品认证书</td>
                            <td>05</td>
                            <td>个</td>
                            <td><input type="text" value="0" /><br /><span>上期值：-</span></td>
                        </tr>
                        <tr>
                            <td>带动社会资金投入</td>
                            <td>06</td>
                            <td>万元</td>
                            <td><input type="text" value="0" /><br /><span>上期值：-</span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="person">
                    <span>填表人：</span>
                    <div class="tbr"><el-input v-model="tbr" :disabled="true" ></el-input></div>
                    <span style="margin-left:120px;">备注：</span>
                    <div class="bz"><el-input v-model="bz" :disabled="true" ></el-input></div>
                </div>
                <!-- <div class="btns">
                    <el-button type="primary">保存</el-button>
                    <el-button type="warning">提交</el-button>
                </div> -->
            </div>
        </el-dialog>
    </div>
</template>
<script>
export default {
    data(){
        return{
            value1: '',
            value2:'',
            dialogVisible:false,
            valueYear:0,
            valueType:0,
            tbr:'上海亨通',
            bz:'-',
            optionsYear:[
                {
                    label:'全部',
                    value:0
                },
                {
                    label:'2019',
                    value:1
                },
                {
                    label:'2018',
                    value:2
                },
            ],
            optionsType:[
                {
                    label:'全部',
                    value:0
                },
                {
                    label:'创新示范企业季报',
                    value:1
                },
                {
                    label:'创新示范企业月报',
                    value:2
                },
                {
                    label:'创新示范企业年度总结',
                    value:3
                },
            ],
        }
    },
    methods: {
        detail(){
            this.dialogVisible = true;
        },
        handleClose(){
            this.dialogVisible = false;
        },
        boBack(){
            this.$router.go(-1);//返回上一层
        }
    },
}
</script>
<style lang="less" scoped>
    .sider{
        padding-top:20px;
    }
    .title{
        margin-top:20px;
        .time-title{
            display:inline-block;
            line-height:36px;
        }
        .time-title-middle{
            // float:left;
            display:inline-block;
            line-height:36px;
            margin-left:5px;
        }
        .time-type{
            display:inline-block;
            line-height:36px;
            margin-left:20px;
        }
        .btn{
            display:inline-block;
            margin-left:20px;
        }
    }
    .table{
        // border:1px solid #f1f1f1;
        margin-top:30px;
        tr{
            background:#a5a5cf;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:30px;
                border:1px solid #eeeeee;
                border-right:none;
                border-bottom:none;
                color:#ffffff;
                font-size:16px;
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:12px;
                    color:#606266;
                }
            }
        }
    }
    .tjjl,.tjjlEdit{
        width:100%;
        height:auto;
        .tab{
            width:100%;
            height:40px;
            li{
                float:left;
                width:142px;
                height:100%;
                line-height:40px;
                text-align:center;
                color:#a7a7a7;
                cursor:pointer;
                border:1px solid #f1f1f1;
                margin-right:10px;
            }
        }
        .detail{
            width:100%;
            height:auto;
            li{
                float:left;
                width:358px;
                height:40px;
                font-size:14px;
                line-height:14px;
                &:nth-child(2n){
                    margin-left:40px;
                }
                .p1{
                    float:left;
                    width:40%;
                    padding-left:20px;
                }
            }
        }
        .tiaobao{
            margin-top:10px;
            .div1,.div7,.div9{
                display:inline-block;
                width:355px;
            }
            .div2,.div8{
                display:inline-block;
                width:350px;
                margin-left:20px;
                /deep/.el-select{
                    width:250px;
                }
            }
            .div3,.div5{
                display:inline-block;
                width:356px;
                /deep/.el-select{
                    width:256px;
                }
            }
            .div5{
                /deep/.el-date-editor.el-input, .el-date-editor.el-input__inner{
                    width:256px;
                }
            }
            .div4,.div6{
                display:inline-block;
                width:350px;
                margin-left:20px;
                /deep/.el-select{
                    width:251px;
                }
            }
        }
        .person{
            height:36px;
            margin-top:20px;
            .tbr{
                display:inline-block;
                width:256px;
            }
            .bz{
                display:inline-block;
                width:256px;
            }
        }
        .btns{
            margin-top:20px;
            text-align:center;
        }
    }

    /deep/.el-date-editor.el-input, .el-date-editor.el-input__inner{
        width:150px;
    }
    /deep/.el-input__inner{
        height:36px;
        line-height:36px;
    }
    /deep/.el-input__icon{
        line-height:36px;
    }
    /deep/.el-select{
        width:180px;
    }
    /deep/.el-button{
        padding:9px 16px;
    }
    /deep/.el-dialog__header{
        background:#a5a5cf;
    }
    /deep/.el-dialog__title{
        color:#ffffff;
    }
</style>














