<template>
    <div style="padding-bottom:0px;">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb >
                    <el-breadcrumb >
                    <el-breadcrumb-item :to="{ path: '/' }">共享平台</el-breadcrumb-item>
                    <el-breadcrumb-item :to="{path:'/dataManage/dataXmml'}">项目名录管理</el-breadcrumb-item>
                    <el-breadcrumb-item>创建项目</el-breadcrumb-item>
              </el-breadcrumb>
            </el-breadcrumb>
            </el-breadcrumb>
        </div>
        <div class="top clear">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
                <div class="div1">
                    <el-form-item label="项目编号" prop="bianhao" required>
                        <el-input v-model="ruleForm.bianhao"></el-input>
                    </el-form-item>
                </div>
                <div class="div2">
                    <el-form-item label="所属分类" prop="region" required>
                        <el-select v-model="ruleForm.region" placeholder="请选择活动区域">
                        <el-option label="十二五" value="shierwu"></el-option>
                        <el-option label="十三五" value="shisanwu"></el-option>
                        </el-select>
                    </el-form-item>
                </div>
                <div class="div3">
                    <el-form-item label="项目名称" prop="xmmc" required>
                        <el-input v-model="ruleForm.xmmc"></el-input>
                    </el-form-item>
                </div>
                <div class="div5">
                    <el-form-item label="项目实施期限" required>
                        <el-col :span="11">
                        <el-form-item prop="date1">
                            <el-date-picker type="date" value-format="yyyy-MM-dd" placeholder="开始日期" v-model="ruleForm.date1" style="width: 100%;"></el-date-picker>
                        </el-form-item>
                        </el-col>
                        <el-col class="line" :span="2">-</el-col>
                        <el-col :span="11">
                        <el-form-item prop="date2">
                            <el-date-picker type="date" value-format="yyyy-MM-dd" placeholder="结束日期" v-model="ruleForm.date2" style="width: 100%;"></el-date-picker>
                        </el-form-item>
                        </el-col>
                    </el-form-item>
                </div>
                <div class="div6">
                    <el-form-item label="立项时间" required>
                        <el-form-item prop="date3">
                            <el-date-picker type="date" value-format="yyyy-MM-dd" placeholder="选择日期" v-model="ruleForm.date3" style="width: 100%;"></el-date-picker>
                        </el-form-item>
                    </el-form-item>
                </div>
            </el-form>
        </div>
        <div class="top2_2 clear">
            <el-form :model="ruleForm2" :rules="rules2" ref="ruleForm" label-width="130px" class="demo-ruleForm">
                <div class="div1">
                    <el-form-item label="合同签订日期" required>
                        <el-form-item prop="data4">
                            <el-date-picker type="date" value-format="yyyy-MM-dd" placeholder="选择日期" v-model="ruleForm2.data4" style="width: 100%;"></el-date-picker>
                        </el-form-item>
                    </el-form-item>
                </div>
                <div class="div2">
                    <el-form-item label="总投资（万元）" prop="tz" required>
                        <el-input v-model="ruleForm2.tz"></el-input>
                    </el-form-item>
                </div>
                <div class="div3">
                    <el-form-item label="项目类型" prop="xmlx">
                        <el-select v-model="ruleForm2.xmlx" placeholder="重大共性关键技术">
                        <el-option label="重大共性关键技术" value="0"></el-option>
                        </el-select>
                    </el-form-item>
                </div>
                <div class="div4">
                    <el-form-item label="技术领域" prop="jsly">
                        <el-select v-model="ruleForm2.jsly" placeholder="请选择活动区域">
                        <el-option label="高端装备制造" value="0"></el-option>
                        </el-select>
                    </el-form-item>
                </div>
                <div class="div5">
                    <el-form-item label="预计中期时间点" required>
                        <el-form-item prop="date5">
                            <el-date-picker type="date" value-format="yyyy-MM-dd" placeholder="选择日期" v-model="ruleForm2.date5" style="width: 100%;"></el-date-picker>
                        </el-form-item>
                    </el-form-item>
                </div>
            </el-form>
        </div>
        <div class="top3">
            <el-form :model="ruleForm3" :rules="rules3" ref="ruleForm" label-width="140px" class="demo-ruleForm">
                <div class="div1">
                    <el-form-item label="企业名称：" prop="qymc" required>
                        <el-input v-model="ruleForm3.qymc"></el-input>
                    </el-form-item>
                </div>
                <div class="div2">
                    <el-form-item label="法定代表人：" prop="fddbr" required>
                        <el-input v-model="ruleForm3.fddbr"></el-input>
                    </el-form-item>
                </div>
                <div class="div3">
                    <el-form-item label="申报预算年度：" prop="nx" required>
                        <el-select v-model="ruleForm.nx" placeholder="请选择">
                        <el-option label="1年" value="0"></el-option>
                        <el-option label="2年" value="1"></el-option>
                        <el-option label="3年" value="2"></el-option>
                        </el-select>
                    </el-form-item>
                </div>
                <div class="div4">
                    <el-form-item label="申报时间：" prop="sbsj" required>
                        <el-input v-model="ruleForm3.sbsj"></el-input>
                    </el-form-item>
                </div>
                <!-- <div class="div5">
                    <el-form-item label="项目总投资金额：" prop="xmztz" required>
                        <el-input v-model="ruleForm3.sbsj"></el-input>
                    </el-form-item>
                </div> -->
            </el-form>
        </div>
        <div class="top4">
            <el-form :model="ruleForm4" :rules="rules4" ref="ruleForm" label-width="140px" class="demo-ruleForm">
                <div class="div1">
                    <el-form-item label="第一年度考核：" required>
                        <el-form-item prop="ndkh">
                            <el-date-picker type="date" value-format="yyyy-MM-dd" placeholder="选择日期" v-model="ruleForm4.ndkh" style="width: 100%;"></el-date-picker>
                        </el-form-item>
                    </el-form-item>
                </div>
                <div class="div2">
                    <el-form-item label="中期考核时间：" required>
                        <el-form-item prop="zqkhsj">
                            <el-date-picker type="date" value-format="yyyy-MM-dd" placeholder="选择日期" v-model="ruleForm4.zqkhsj" style="width: 100%;"></el-date-picker>
                        </el-form-item>
                    </el-form-item>
                </div>
                <div class="div3">
                    <el-form-item label="最终验收时间：" required>
                        <el-form-item prop="zzyssj">
                            <el-date-picker type="date" value-format="yyyy-MM-dd" placeholder="选择日期" v-model="ruleForm4.zzyssj" style="width: 100%;"></el-date-picker>
                        </el-form-item>
                    </el-form-item>
                </div>
                <div class="div4">
                    <el-form-item label="批复时间：" required>
                        <el-form-item prop="pfsj">
                            <el-date-picker type="date" value-format="yyyy-MM-dd" placeholder="选择日期" v-model="ruleForm4.pfsj" style="width: 100%;"></el-date-picker>
                        </el-form-item>
                    </el-form-item>
                </div>
            </el-form>
        </div>
        <div class="top5">
            <el-form :model="ruleForm4" :rules="rules4" ref="ruleForm" label-width="140px" class="demo-ruleForm">
                <div class="div1">
                    <el-form-item label="项目总目标：" prop="desc">
                        <el-input type="textarea" v-model="ruleForm4.xmzmb"></el-input>
                    </el-form-item>
                </div>
            </el-form>
        </div>
        <div class="con clear">
            <div class="left" style="width:48%">
                 <div class="div1 left">
                    <p>项目管理部门情况</p>
                    <table cellspacing="0">
                        <tr>
                            <td width="150">项目负责人姓名</td>
                            <td  colspan="3"><input placeholder="请输入姓名" value="许人东" /></td>
                            <!-- <td></td>
                            <td></td> -->
                        </tr>
                        <tr>
                            <td>单位地址</td>
                            <td colspan="3"><input placeholder="请输入单位地址" value="上海市浦东新区海基六路218弄35号楼" /></td>
                            <!-- <td></td>
                            <td></td> -->
                        </tr>
                        <tr>
                            <td>联系电话</td>
                            <td width="200"><input placeholder="请输入联系电话" value="021-20956203" /></td>
                            <td>项目管理部门</td>
                            <td width="200"><input placeholder="请输入项目管理部门" value=""/></td>
                        </tr>
                        <tr>
                            <td>邮编</td>
                            <td><input placeholder="请输入邮编" value="" /></td>
                            <td>传真</td>
                            <td><input placeholder="请输入传真" value="021-20956203"/></td>
                        </tr>
                    </table>
                </div>
                <div class="div3 left">
                    <p>申报（牵头）单位基本情况</p>
                    <table cellspacing="0">
                        <tr>
                            <td width="150">申报（牵头单位名称）</td>
                            <td  colspan="3"><input placeholder="请输入申报（牵头单位名称）" value="上海亨通海洋装备有限公司"/></td>
                            <!-- <td></td>
                            <td></td> -->
                        </tr>
                        <tr>
                            <td>单位性质</td>
                            <td ><input placeholder="请输入单位性质" value=""/></td>
                            <td>组织机构代码</td>
                            <td><input placeholder="请输入组织机构代码" value="MA1H8Y2C-1" /></td>
                        </tr>
                        <tr>
                            <td>法定代表人姓名</td>
                            <td width="200"><input placeholder="请输入法定代表人姓名" value="孙贵林"/></td>
                            <td>法人联系电话</td>
                            <td width="200"><input placeholder="请输入法人联系电话" value="021-20956203" /></td>
                        </tr>
                        <tr>
                            <td width="150">企业地址</td>
                            <td  colspan="3"><input placeholder="请输入企业地址" value="浦东新区南汇新城镇环湖西二路888号C楼"/></td>
                            <!-- <td></td>
                            <td></td> -->
                        </tr>
                        <tr>
                            <td>推荐单位</td>
                            <td width="200"><input placeholder="请输入推荐单位" value=""/></td>
                            <td>推荐单位性质</td>
                            <td width="200"><input placeholder="请输入推荐单位性质" value=""/></td>
                        </tr>
                    </table>
                </div>
            </div>
           <div class="right" style="width:48%">
                <div class="div2 right">
                    <p>项目负责人信息</p>
                    <table cellspacing="0">
                        <tr>
                            <td width="150">项目负责人姓名</td>
                            <td  colspan="3"><input placeholder="请输入项目负责人姓名" value="许人东"/></td>
                            <!-- <td></td>
                            <td></td> -->
                        </tr>
                        <tr>
                            <td>所在单位</td>
                            <td colspan="3"><input placeholder="请输入所在单位" value="上海亨通海洋装备有限公司"/></td>
                            <!-- <td></td>
                            <td></td> -->
                        </tr>
                        <tr>
                            <td>邮编</td>
                            <td width="200"><input placeholder="请输入邮编" value=""/></td>
                            <td>联系电话</td>
                            <td width="200"><input placeholder="请输入联系电话" value="021-20956203"/></td>
                        </tr>
                    </table>
                </div>
                <div class="div4 right">
                    <p>经费预算</p>
                    <table cellspacing="0">
                        <tr>
                            <td width="150">总预算</td>
                            <td  colspan="3"><input placeholder="请输入总预算" /></td>
                            <!-- <td></td>
                            <td></td> -->
                        </tr>
                        <tr>
                            <td>其中中央财政专项资金</td>
                            <td colspan="3"><input placeholder="请输入其中中央财政专项资金" /></td>
                            <!-- <td></td>
                            <td></td> -->
                        </tr>
                        <tr>
                            <td>地方财政资金</td>
                            <td width="200"><input placeholder="请输入地方财政资金" /></td>
                            <td>单位自筹资金</td>
                            <td width="200"><input placeholder="请输入单位自筹资金" /></td>
                        </tr>
                        <tr>
                            <td>其他渠道获得资金</td>
                            <td colspan="3"><input placeholder="请输入其中中央财政专项资金" /></td>
                            <!-- <td></td>
                            <td></td> -->
                        </tr>
                    </table>
                </div>
                <div class="divtextarea right">
                    <textarea placeholder="请输入项目资金其他说明："></textarea>
                </div>
           </div>
        </div>
        <div class="con2 clear">
            <div class="left clear">
                <h3>
                    <span class="p1">项目计划与目标</span>
                    <span class="p2" @click="addPlan($event)">+新增项目计划与目标</span>
                </h3>
                <div class="con-wrap" ref="userinfo">
                    <div class="con-item" v-for="(item,index) in counter" :key="index">
                        <!-- <p class="title">
                            <span>项目周期：</span>
                            <input type="text" />
                        </p>
                        <p class="content">
                            <span>年度目标内容：</span>
                            <textarea>dscvdvfvfg</textarea>
                        </p> -->
                        <dom></dom>
                    </div>
                </div>
            </div>
            <div class="left clear" style="margin-left:100px;">
                <h3>
                    <span class="p1">考核指标</span>
                    <span class="p2" @click="addKaohe($event)">+新增考核指标</span>
                </h3>
                <div class="con-wrap" ref="userinfokaohe">
                    <div class="con-item" v-for="(item,index) in counter2" :key="index">
                        <!-- <p class="title">
                            <span>项目周期：</span>
                            <input type="text" />
                        </p>
                        <p class="content">
                            <span>年度目标内容：</span>
                            <textarea>dscvdvfvfg</textarea>
                        </p> -->
                        <domKaohe></domKaohe>
                    </div>
                </div>
            </div>
        </div>
        <div class="con4 clear">
            <div class="div7 left">
                <p>项目建设内容</p>
                <span style="display:inline-block;line-height:60px;width:100%;padding-left:20px;">项目建设内容</span>
                <textarea placeholder="请填写项目建设内容："> 对观测网路由进行勘察，组织项目管理团队对集成后的观测网进行 布放，同时在系统开通后运行远程供电监控软件和远程</textarea>
            </div>
            <div class="div7 right" style="margin-top:40px;">
                <span style="display:inline-block;line-height:60px;width:100%;padding-left:20px;">总体指标</span>
                <textarea placeholder="请填写总体指标：">开展预算编制和评审，签订项目任务书，审定项目整 体实施方案，基本拟定项目总体设计，审定外购设备技术参数和订 货，购置项目研究辅助设备。并形成主次接驳盒、海底高压直流输 配电装备、海底高压高频直流变换装备、海底远距离通 信与</textarea>
            </div>
        </div>
        <div class="con2 clear">
            <div class="left clear">
                <h3>
                    <span class="p1">年度目标</span>
                    <span class="p2" @click="addNiandu($event)">+新增年度目标</span>
                </h3>
                <div class="con-wrap" ref="userinfo">
                    <div class="con-item" v-for="(item,index) in counter3" :key="index">
                        <!-- <p class="title">
                            <span>项目周期：</span>
                            <input type="text" />
                        </p>
                        <p class="content">
                            <span>年度目标内容：</span>
                            <textarea>dscvdvfvfg</textarea>
                        </p> -->
                        <domNiandu></domNiandu>
                    </div>
                </div>
            </div>
        </div>
        <div class="con5">
            <p class="word">上传附件：<label for="upload">选择文件</label><input id="upload" type="file" hidden /><span>文件上传最大3M</span></p>
            <ul>
                <li>
                    <a class="wenjian" href="">2019年973计划（含重大科学研究计划）结题验收项目清单.doc</a>
                    <p class="checkUpload"><span>预览</span><span>下载</span></p>
                </li>
                <li>
                    <a class="wenjian" href="">2019年973计划（含重大科学研究计划）结题验收项目清单.doc</a>
                    <p class="checkUpload"><span>预览</span><span>下载</span></p>
                </li>
            </ul>
        </div>
        <div class="con6">
            <el-button type="primary" @click="ljcj">立即创建</el-button>
            <el-button type="info" @click="bccg">保存草稿</el-button>
        </div>
    </div>
</template>
<script>
import Vue from 'vue'
Vue.component('dom',{
    template:`<div class="item1"><p class="title">
                    <span>项目周期：</span>
                    <input type="text" value="2019年"/>
                    <i class="desc">例：第一年度/第二年度/第三年度</i>
                    <i class="delete el-icon-delete" @click="delete1($event)"></i>
                </p>
                <p class="content">
                    <span>年度目标内容：</span>
                    <textarea>海洋牧场接驳盒样机的制造；主次接驳盒的性能测试 以及软件在样机上的运行；初步开展水下观测实验网的选点以及建 设，包括路由勘察、系统集成和施工。</textarea>
                </p></div>`,
    methods:{
        delete1(obj){
            $(obj.target).closest('.item1').remove();
        }
    },
});
Vue.component('domKaohe',{
    template:`<div class="item1"><p class="title">
                    <span>考核目标标题：</span>
                    <input type="text" value="技术创新指标"/>
                    <i class="desc">例：产品考核目标/产业链考核指标/创新指标</i>
                    <i class="delete el-icon-delete" @click="delete2($event)"></i>
                </p>
                <p class="content">
                    <span>考核目标内容：</span>
                    <textarea>1) 观测网接驳盒核心技术指标不合格率低于 1%; 2) 观测网接驳盒老化过程可靠性不合格率低于 5%; 3) 观测网接驳盒连续拷机耐久性不合格率低于 1%;</textarea>
                </p></div>`,
    methods:{
        delete2(obj){
            $(obj.target).closest('.item1').remove();
        }
    },
});
Vue.component('domNiandu',{
    template:`<div class="item1"><p class="title">
                    <span>目标标题：</span>
                    <input type="text" value=""/>
                    <i class="desc"></i>
                    <i class="delete el-icon-delete" @click="delete3($event)"></i>
                </p>
                <p class="content">
                    <span>目标内容：</span>
                    <textarea>1主次接驳盒的生产能力建设以及运行监控通信软件的编写。 主次接驳盒、海底高压直流输配电装置、海底高压高频直流变 换装置的生产线准备、样机制造，编制海底远距离信息...</textarea>
                </p></div>`,
    methods:{
        delete3(obj){
            $(obj.target).closest('.item1').remove();
        }
    },
});
export default {
    data(){
        return{
            ruleForm:{
                bianhao:'PD-HY-001',
                region:'十三五',
                xmmc:'智能立体的海底科学观测网产业化',
                ssqx:'',
                date1:'2017-06-15',
                date2:'2020-06-14',
                date3:'2017-06-15'
            },
            rules:{
                bianhao: [
                    { required: true, message: '请输入项目名称', trigger: 'blur' }
                ],
                region:[
                    { required: true, message: '请选择所属分类', trigger: 'change' }
                ],
                xmmc:[
                    { required: true, message: '请输入项目名称', trigger: 'blur' }
                ],
                ssqx:[
                    { required: true, message: '请输入项目实施期限', trigger: 'blur' }
                ],
                date1:[
                    { required: true, message: '请选择开始日期', trigger: 'blur' }
                ],
                date2:[
                    { required: true, message: '请选择结束日期', trigger: 'blur' }
                ],
                date3:[
                    { required: true, message: '请选择立项日期', trigger: 'blur' }
                ]
            },
            ruleForm2:{
                data4:'2017-06-15',
                tz:'40947.86',
                xmlx:'重大共性关键技术',
                jsly:'高端装备制造',
                date5:'2019-11-29'
            },
            rules2:{
                data4:[
                    { required: true, message: '请选择合同签订时间', trigger: 'blur' }
                ],
                tz:[
                    { required: true, message: '请输入总投资', trigger: 'blur' }
                ],
                date5:[
                    { required: true, message: '请选择预计中期时间点', trigger: 'blur' }
                ]
            },
            ruleForm3:{
                qymc:'上海亨通海洋装备有限公司',
                fddbr:'许人东',
                sbsj:'2018-12-08',
            },
            rules3:{
                qymc:[
                    { required: true, message: '请输入企业名称', trigger: 'blur' }
                ],
                fddbr:[
                    { required: true, message: '请输入法定代表人', trigger: 'blur' }
                ],
                sbsj:[
                    { required: true, message: '请选择申报时间', trigger: 'blur' }
                ]
            },
            ruleForm4:{
                ndkh:'2017-12-31',
                zqkhsj:'2018-12-31',
                zzyssj:'2019-12-31',
                pfsj:'2019-12-31',
                xmzmb:'针对智能立体的海底观测网系统、江河湖泊环境感知网系统、 海洋牧场生态监测系统、港口码头监测系统、国防警戒网系统，具 备主接驳盒、次接驳盒的生产和检测能力 ， 培养一支具备主／次接驳 盒研发制造集'
            },
            rules4:{
                ndkh:[
                    { required: true, message: '请选择年度考核日期', trigger: 'blur' }
                ],
                zqkhsj:[
                    { required: true, message: '请选择中期考核时间', trigger: 'blur' }
                ],
                zzyssj:[
                    { required: true, message: '请选择最终验收时间', trigger: 'blur' }
                ],
                pfsj:[
                    { required: true, message: '请选择批复时间', trigger: 'blur' }
                ],
                xmzmb:[
                    { required: true, message: '请输入项目总目标', trigger: 'blur' }
                ]
            },
            counter:[1],
            counter2:[1],
            counter3:[1],
        }
    },
    methods: {
        goBack(){
            this.$router.go(-1);//返回上一层
        },
        ljcj(){//创建成功后返回上一页

            // if(this.ruleForm.bianhao == ''||this.ruleForm.bianhao != 'PD-HY-001'){
            //     this.$message({
            //         showClose: true,
            //         message: '请填写正确的项目编号',
            //         duration:2000
            //     });
            //     return;
            // }
            this.goBack();
        },
        bccg(){//保存草稿后返回上一页
            this.goBack();
        },
        addPlan(obj){

            this.counter.push(1);
        },
        addKaohe(){
            this.counter2.push(1);
        },
        addNiandu(){
            this.counter3.push(1);
        },
        delete(obj){
        }
    },

}
</script>
<style lang="less" scoped>
.sider{
        height:40px;
        background-color: #f5f5f5;
        padding-left: 20px;
        /deep/.el-breadcrumb {
            line-height: 40px;
        }
        /deep/.el-breadcrumb__inner {
          font-size: 14px;
        }
    }
    .top{
        margin-top:20px;
        /deep/.el-input__inner{
            height:36px;
        }
        .div1{
            // display:inline-block;
            float:left;
            width:350px;
        }
        .div2{
            // display:inline-block;
            float:left;
            width:270px;
        }
        .div3{
            // display:inline-block;
            float:left;
            width:300px;
        }
        .div4{
            // display:inline-block;
            float:left;
            width:400px;
        }
        .div5{
            // display:inline-block;
            float:left;
            width:420px;
        }
        .div6{
            float:left;
            width:280px;
        }
    }
    .top2_2{
        .div1{
            display:inline-block;
            // float:left;
            clear:both;
            width:350px;
        }
        .div2{
            display:inline-block;
            // float:left;
            clear:both;
            width:350px;
        }
        .div3{
            display:inline-block;
            // float:left;
            clear:both;
            width:350px;
        }
        .div4{
            display:inline-block;
            // float:left;
            clear:both;
            width:250px;
        }
        .div5{
            display:inline-block;
            // float:left;
            clear:both;
            width:300px;
        }
    }
    .top3{
        .div1{
            display:inline-block;
        }
        .div2{
            display:inline-block;
        }
        .div3{
            display:inline-block;
        }
        .div4{
            display:inline-block;
        }
        .div5{
            display:inline-block;
        }
    }
    .top4{
        .div1{
            display:inline-block;
        }
        .div2{
            display:inline-block;
        }
        .div3{
            display:inline-block;
        }
        .div4{
            display:inline-block;
        }
    }
    .top5{
        .div1{
            padding-right:120px;
        }
    }
    .con{
        background:#ffffff;
        .div1,.div2,.div3,.div4,.div5{
            width:100%;
            height:auto;
            padding-bottom:20px;
            padding-left:10px;
            padding-right:20px;
            p{
                width:100%;
                height:40px;
                border:1px solid #eeeeee;
                background:#a5a5cf;
                color:#ffffff;
                line-height:40px;
                padding-left:20px;
            }
            table{
                width:100%;
                border-left:1px solid #f1f1f1;
                border-top:1px solid #f1f1f1;
                tr{
                    height:40px;
                    td{
                        padding-left:10px;
                        border-right:1px solid #f1f1f1;
                        border-bottom:1px solid #f1f1f1;
                        font-size:14px;
                        input{
                            width:80%;
                            height:30px;
                            line-height:40px;
                            font-size:14px;
                            color:#cccccc;
                            padding-left:10px;
                            border:none;
                        }
                    }
                }
            }
            textarea{
                width:100%;
                height:100px;
                border:none;
                padding:10px;
                font-size:14px;
                resize:none;
                border:1px solid #f1f1f1;
            }
        }

        .divtextarea{
            width:100%;
            height:150px;
            padding-left:10px;
            padding-right:10px;
            textarea{
                width:100%;
                height:100px;
                border:none;
                padding:10px;
                font-size:14px;
                resize:none;
                border:1px solid #f1f1f1;
            }
        }
    }
    .con2{
        width:100%;
        height:auto;
        background:#ffffff;
        .left{
            width:46%;
            padding-left:20px;
        }
        h3{
            width:100%;
            height:40px;
            border:1px solid #eeeeee;
            background:#a5a5cf;
            color:#ffffff;
            line-height:40px;
            padding-left:20px;
            font-size:16px;
            font-weight:normal;
            .p2{
                float:right;
                padding-right:20px;
                cursor:pointer;
            }
        }
        .right{

        }
        .con-item{
            width:100%;
            .title{
                height:40px;
                margin-top:10px;
                line-height:40px;
                span{
                    display:inline-block;
                    width:120px;
                    text-align:right;
                }
                input{
                    width:300px;
                    margin-left:20px;
                    height:36px;
                    border:1px solid #cccccc;
                    border-radius:3px;
                    line-height:30px;
                    padding-left:10px;
                }
                .desc{
                    font-style:normal;
                    color:#333333;
                    font-size:12px;
                }
                .delete{
                    float:right;
                    font-size:20px;
                    cursor:pointer;
                    margin-top:10px;
                }
            }
            .content{
                margin-top:10px;
                span{
                    display:inline-block;
                    width:120px;
                    line-height:40px;
                    vertical-align:top;
                    text-align:right;
                }
                textarea{
                    width:450px;
                    border:1px solid #cccccc;
                    height:80px;
                    margin-left:19px;
                    border-radius:4px;
                }
            }
        }
        .div5,.div6{
            width:48%;
            padding-left:20px;
            padding-right:20px;
            p{
                width:100%;
                height:40px;
                border:1px solid #eeeeee;
                background:#a5a5cf;
                color:#ffffff;
                line-height:40px;
                padding-left:20px;
            }
            textarea{
                width:100%;
                height:100px;
                padding:10px;
                color:#333333;
                line-height:22px;
                font-size:14px;
                resize:none;
                border:1px solid #cccccc;
                border-radius:5px;
            }
            &.div6{
                margin-top:40px;
            }
        }
    }
    .con3{
        width:100%;
        height:auto;
        padding-left:20px;
        padding-right:20px;
        border:1px solid #f1f1f1;
        textarea{
            width:100%;
            height:100px;
            padding:10px;
            border:1px solid #cccccc;
            border-radius:5px;
            resize:none;
        }
    }
    .con4{
        width:100%;
        height:auto;
        padding-left:20px;
        padding-right:20px;
        margin-top:20px;
        p{
            width:100%;
            height:40px;
            border:1px solid #eeeeee;
            background:#a5a5cf;
            color:#ffffff;
            line-height:40px;
            padding-left:20px;
        }
        .div7{
            width:46%;
            textarea{
                width:100%;
                height:100px;
                border:1px solid #cccccc;
                border-radius:5px;
                padding:10px;
                resize:none;
            }
        }
    }
    .con5{
        margin-top:20px;
        padding-left:20px;
        padding-right:20px;
        font-size:14px;
        label{
            padding:5px 10px;
            background:#a5a5cf;
            color:#ffffff;
        }
        .word{
            span{
                color:red;
                margin-left:10px;
            }
        }
        ul{
            width:600px;
            margin-top:10px;
            li{
                height:30px;
                line-height:30px;
                font-size:14px;
                .wenjian{
                    float:left;
                    color:#409EFF;
                }
                .checkUpload{
                    float:right;
                    span{
                        margin-left:10px;
                        color:#333333;
                        cursor:pointer;
                    }
                }
            }
        }
    }
    .con6{
        margin-top:20px;
        text-align:center;
    }


</style>
