<template>
    <div style="padding-bottom:100px;">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >数据审批</el-breadcrumb-item>
                <el-breadcrumb-item>验收资料审批</el-breadcrumb-item>
                <el-breadcrumb-item>查看文件资料</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="title">
            <el-button type="warning" @click="goBack">返回</el-button>
            <div class="table" >
                <table cellspacing="0">
                    <thead>
                        <tr>
                            <td width="200">序号</td>
                            <td width="400">文件名称</td>
                            <td width="350">文件类型</td>
                            <td width="300">文件大小</td>
                            <td width="400">上传时间</td>
                            <td width="200">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2019年亨通财务报表</td>
                            <td>XLS</td>
                            <td>大小308K</td>
                            <td>2019-09-01 12:23:34</td>
                            <td>
                                <span class="xz">下载</span>
                                <span class="yl">预览</span>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>资金使用明细汇总</td>
                            <td>PDF</td>
                            <td>大小308K</td>
                            <td>2019-09-01 12:23:34</td>
                            <td>
                                <span class="xz">下载</span>
                                <span class="yl">预览</span>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>项目总结报告</td>
                            <td>DOC</td>
                            <td>大小308K</td>
                            <td>2019-09-01 12:23:34</td>
                            <td>
                                <span class="xz">下载</span>
                                <span class="yl">预览</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{

        }
    },
    methods: {
        goBack(){
            this.$router.go(-1);//返回上一层
        }
    },
}
</script>
<style lang="less" scoped>
    .table{
        margin-top:20px;
        tr{
            background:#a5a5cf;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:50px;
                border:1px solid #eeeeee;
                border-right:0;
                border-bottom:0;
                color:#ffffff;
                font-size:16px;
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:14px;
                    color:#606266;
                    span{
                        margin-right:10px;
                        &.shz,&.edit{
                            color:#ff9c17;
                            cursor:pointer;
                        }
                        &.shtg,&.commit{
                            color:#91cc91;
                            cursor:pointer;
                        }
                        &.dtj,&.detail{
                            color:#3366ff;
                            cursor:pointer;
                        }
                        &.bh{
                            color:red;
                        }
                        /deep/.el-button{
                            color:red;
                        }
                    }
                }
            }
        }
    }
</style>
