<template>
    <div>
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb >
                <el-breadcrumb-item :to="{ path: '/' }">数据管理</el-breadcrumb-item>
                <el-breadcrumb-item>项目名录管理</el-breadcrumb-item>
              </el-breadcrumb>
            </el-breadcrumb>
        </div>
        <div class="containt">
            <div class="title">
                <div class="condition_left">
                    <div class="tijiaoTime">
                        <span>创建时间：</span>
                        <el-date-picker
                        v-model="tjsjStartDate"
                        type="date"
                        placeholder="选择日期">
                        </el-date-picker>
                        <span>至</span>
                        <el-date-picker
                        v-model="tjsjEndDate"
                        type="date"
                        placeholder="选择日期">
                        </el-date-picker>
                    </div>
                    <div class="year">
                        <span>项目类型：</span>
                        <el-select v-model="valueYear" placeholder="请选择">
                            <el-option
                            v-for="item in yearList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="state">
                        <span>状态：</span>
                        <el-select v-model="valueState" placeholder="请选择">
                            <el-option
                            v-for="item in stateList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="query"><el-button type="primary" @click="query">查询</el-button></div>
                </div>
                <div class="condition_right">
                    <span class="download"><el-button type="text">模板下载</el-button></span>
                    <div class="import"><el-button type="warning" @click="importAll">批量导入</el-button></div>
                    <div class="addRecord" @click="dialogVisibleAdd = true"><el-button type="warning" @click="cjxm">创建项目</el-button></div>
                </div>
                <div class="table" >
                    <table cellspacing="0">
                        <thead>
                            <tr>
                                <td rowspan="2" width="100">序号</td>
                                <td rowspan="2" width="150">项目类型</td>
                                <td rowspan="2">项目名称</td>
                                <td rowspan="2">承担单位</td>
                                <td rowspan="2" width="150">合同签订日期</td>
                                <td rowspan="2" width="150">实施日期</td>
                                <td rowspan="2" width="150">总投资金额（万元）</td>
                                <td rowspan="2" width="150">创建时间</td>
                                <td rowspan="2" width="100">立项时间</td>
                                <td rowspan="2" width="100">状态</td>
                                <td rowspan="2" width="200">操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-show="isBlock">
                                <td>1</td>
                                <td>十三五</td>
                                <td>智能立体的海底科学观测网产业化</td>
                                <td>上海亨通海洋装备有限公司</td>
                                <td>2017-6-15</td>
                                <td>2017-6-15</td>
                                <td>40947.86</td>
                                <td>-</td>
                                <td>2018-06</td>
                                <td>创建中</td>
                                <td><el-button type="text">编辑草稿</el-button><el-button type="text">详情</el-button></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>十三五</td>
                                <td>海上固定式多功能LNG接收分销中心的研发及产业化</td>
                                <td>上海宏华海洋油气装备有限公司</td>
                                <td>2018-7-2</td>
                                <td>2020-6-14</td>
                                <td>40000</td>
                                <td>-</td>
                                <td>2018-06</td>
                                <td>创建中</td>
                                <td><el-button type="text">编辑草稿</el-button><el-button type="text">详情</el-button></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>十三五</td>
                                <td>海南极磷虾获取-冷冻-脱壳全套智能加工设备关键技术转化及产业化开发</td>
                                <td>上海崇和船舶重工装备有限公司</td>
                                <td>2018-7-2</td>
                                <td>2017-6-15</td>
                                <td>40000</td>
                                <td>-</td>
                                <td>2018-06</td>
                                <td>创建中</td>
                                <td><el-button type="text">编辑草稿</el-button><el-button type="text">详情</el-button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <el-dialog
            title="添加记录"
            :visible.sync="dialogVisible1"
            width="800px"
            :before-close="handleClose">
                <div class="tjjl">
                    <ul class="tab">
                        <li>服务业企业季报</li>
                        <li>创新示范企业季报</li>
                        <li>服务业企业月报</li>
                        <li>工业企业季报</li>
                        <li>工业企业月报</li>
                    </ul>
                    <div class="tiaobao">
                        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                            <div class="div1">
                                <el-form-item label="报表名称" prop="name">
                                    <el-input v-model="ruleForm.name"></el-input>
                                </el-form-item>
                            </div>
                            <div class="div2">
                                <el-form-item label="活动区域" prop="area">
                                    <el-select v-model="ruleForm.area" placeholder="请选择活动区域">
                                    <el-option label="上海" value="shanghai"></el-option>
                                    <el-option label="江苏" value="jiangsu"></el-option>
                                    <el-option label="浙江" value="zhejiang"></el-option>
                                    <el-option label="福建" value="fujian"></el-option>
                                    <el-option label="宁波" value="ningbo"></el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                            <div class="div3">
                                <el-form-item label="报表时段" prop="year">
                                    <el-select v-model="ruleForm.year" placeholder="2019年">
                                    <el-option label="2018" value="2018"></el-option>
                                    <el-option label="2019" value="2019"></el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                            <div class="div4">
                                <el-form-item label="报表季度" prop="jidu">
                                    <el-select v-model="ruleForm.jidu" placeholder="第一季度">
                                    <el-option label="第一季度" value="one"></el-option>
                                    <el-option label="第二季度" value="two"></el-option>
                                    <el-option label="第三季度" value="three"></el-option>
                                    <el-option label="第四季度" value="four"></el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                            <div class="div5">
                                <el-form-item label="填报单位" prop="tbdw">
                                    <el-select v-model="ruleForm.jidu" placeholder="国家海洋局">
                                    <el-option label="国家海洋局" value="haiyangju"></el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                            <div class="div6">
                                <el-form-item label="制定机关" prop="zdjg">
                                    <el-select v-model="ruleForm.zdjg" placeholder="国家海洋局">
                                    <el-option label="国家海洋局" value="haiyangju"></el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                            <div class="div5">
                                <el-form-item label="上报时间" required prop="date1">
                                    <el-date-picker
                                    v-model="sbsj"
                                    type="date"
                                    placeholder="选择日期">
                                    </el-date-picker>
                                </el-form-item>
                            </div>
                            <div class="div6">
                                <el-form-item label="有效期至" required prop="date2">
                                    <el-select v-model="ruleForm.zdjg" placeholder="国家海洋局">
                                    <el-option label="国家海洋局" value="haiyangju"></el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                            <div class="div7">
                                <el-form-item label="批准机关" prop="pzjg">
                                    <el-input v-model="ruleForm.pzjg"></el-input>
                                </el-form-item>
                            </div>
                            <div class="div8">
                                <el-form-item label="批准文号" prop="pzwh">
                                    <el-input v-model="ruleForm.pzwh"></el-input>
                                </el-form-item>
                            </div>
                            <div class="div9">
                                <el-form-item label="表号" prop="bh">
                                    <el-input v-model="ruleForm.bh"></el-input>
                                </el-form-item>
                            </div>
                        </el-form>
                    </div>
                    <table class="table" cellspacing="0" style="margin-top:0;">
                        <thead>
                            <tr>
                                <td width="230">指标名称</td>
                                <td width="120">代码</td>
                                <td width="220">单位</td>
                                <td>数量</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>甲</td>
                                <td>乙</td>
                                <td>丙</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>新增产值</td>
                                <td>01</td>
                                <td>万元</td>
                                <td><input type="text"  /><br /><span>上期值：174.19</span><br /><span>增速：-77.04%</span></td>
                            </tr>
                            <tr>
                                <td>新增研发投入</td>
                                <td>02</td>
                                <td>万元</td>
                                <td><input type="text"  /><br /><span>上期值：62.48</span><br /><span>增速：79.26%</span></td>
                            </tr>
                            <tr>
                                <td>获得专利授权数</td>
                                <td>03</td>
                                <td>个</td>
                                <td><input type="text"  /><br /><span>上期值：0</span></td>
                            </tr>
                            <tr>
                                <td>成果转化数</td>
                                <td>04</td>
                                <td>个</td>
                                <td><input type="text"  /><br /><span>上期值：0</span></td>
                            </tr>
                            <tr>
                                <td>新增产品认证书</td>
                                <td>05</td>
                                <td>个</td>
                                <td><input type="text"  /><br /><span>上期值：0</span></td>
                            </tr>
                            <tr>
                                <td>带动社会资金投入</td>
                                <td>06</td>
                                <td>万元</td>
                                <td><input type="text"  /><br /><span>上期值：0</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="person">
                        <span>填表人：</span>
                        <div class="tbr"><el-input v-model="tbr" placeholder="请输入内容"></el-input></div>
                        <span style="margin-left:120px;">备注：</span>
                        <div class="bz"><el-input v-model="bz" placeholder="请输入内容"></el-input></div>
                    </div>
                    <div class="btns">
                        <el-button type="primary">保存</el-button>
                        <el-button type="warning">提交</el-button>
                    </div>
                </div>
            </el-dialog>

            <el-dialog
            title="编辑记录－创新示范企业季报"
            :visible.sync="dialogVisibleEdit"
            width="800px"
            :before-close="handleCloseEdit">
                <div class="tjjlEdit">
                    <ul class="tab">
                        <li>服务业企业季报</li>
                        <li>创新示范企业季报</li>
                        <li>服务业企业月报</li>
                        <li>工业企业季报</li>
                        <li>工业企业月报</li>
                    </ul>
                    <div class="tiaobao">
                        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                            <div class="div1">
                                <el-form-item label="报表名称" prop="name">
                                    <el-input v-model="ruleForm.name"></el-input>
                                </el-form-item>
                            </div>
                            <div class="div2">
                                <el-form-item label="活动区域" prop="area">
                                    <el-select v-model="ruleForm.area" placeholder="请选择活动区域">
                                    <el-option label="上海" value="shanghai"></el-option>
                                    <el-option label="江苏" value="jiangsu"></el-option>
                                    <el-option label="浙江" value="zhejiang"></el-option>
                                    <el-option label="福建" value="fujian"></el-option>
                                    <el-option label="宁波" value="ningbo"></el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                            <div class="div3">
                                <el-form-item label="报表时段" prop="year">
                                    <el-select v-model="ruleForm.year" placeholder="2019年">
                                    <el-option label="2018" value="2018"></el-option>
                                    <el-option label="2019" value="2019"></el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                            <div class="div4">
                                <el-form-item label="报表季度" prop="jidu">
                                    <el-select v-model="ruleForm.jidu" placeholder="第一季度">
                                    <el-option label="第一季度" value="one"></el-option>
                                    <el-option label="第二季度" value="two"></el-option>
                                    <el-option label="第三季度" value="three"></el-option>
                                    <el-option label="第四季度" value="four"></el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                            <div class="div5">
                                <el-form-item label="填报单位" prop="tbdw">
                                    <el-select v-model="ruleForm.jidu" placeholder="国家海洋局">
                                    <el-option label="国家海洋局" value="haiyangju"></el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                            <div class="div6">
                                <el-form-item label="制定机关" prop="zdjg">
                                    <el-select v-model="ruleForm.zdjg" placeholder="国家海洋局">
                                    <el-option label="国家海洋局" value="haiyangju"></el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                            <div class="div5">
                                <el-form-item label="上报时间" required prop="date1">
                                    <el-date-picker
                                    v-model="sbsj"
                                    type="date"
                                    placeholder="选择日期">
                                    </el-date-picker>
                                </el-form-item>
                            </div>
                            <div class="div6">
                                <el-form-item label="有效期至" required prop="date2">
                                    <el-select v-model="ruleForm.zdjg" placeholder="国家海洋局">
                                    <el-option label="国家海洋局" value="haiyangju"></el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                            <div class="div7">
                                <el-form-item label="批准机关" prop="pzjg">
                                    <el-input v-model="ruleForm.pzjg"></el-input>
                                </el-form-item>
                            </div>
                            <div class="div8">
                                <el-form-item label="批准文号" prop="pzwh">
                                    <el-input v-model="ruleForm.pzwh"></el-input>
                                </el-form-item>
                            </div>
                            <div class="div9">
                                <el-form-item label="表号" prop="bh">
                                    <el-input v-model="ruleForm.bh"></el-input>
                                </el-form-item>
                            </div>
                        </el-form>
                    </div>
                    <table class="table" cellspacing="0" style="margin-top:0;">
                        <thead>
                            <tr>
                                <td width="230">指标名称</td>
                                <td width="120">代码</td>
                                <td width="220">单位</td>
                                <td>数量</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>甲</td>
                                <td>乙</td>
                                <td>丙</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>新增产值</td>
                                <td>01</td>
                                <td>万元</td>
                                <td><input type="text"  /><br /><span>上期值：174.19</span><br /><span>增速：-77.04%</span></td>
                            </tr>
                            <tr>
                                <td>新增研发投入</td>
                                <td>02</td>
                                <td>万元</td>
                                <td><input type="text"  /><br /><span>上期值：62.48</span><br /><span>增速：79.26%</span></td>
                            </tr>
                            <tr>
                                <td>获得专利授权数</td>
                                <td>03</td>
                                <td>个</td>
                                <td><input type="text"  /><br /><span>上期值：0</span></td>
                            </tr>
                            <tr>
                                <td>成果转化数</td>
                                <td>04</td>
                                <td>个</td>
                                <td><input type="text"  /><br /><span>上期值：0</span></td>
                            </tr>
                            <tr>
                                <td>新增产品认证书</td>
                                <td>05</td>
                                <td>个</td>
                                <td><input type="text"  /><br /><span>上期值：0</span></td>
                            </tr>
                            <tr>
                                <td>带动社会资金投入</td>
                                <td>06</td>
                                <td>万元</td>
                                <td><input type="text"  /><br /><span>上期值：0</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="person">
                        <span>填表人：</span>
                        <div class="tbr"><el-input v-model="tbr" placeholder="请输入内容"></el-input></div>
                        <span style="margin-left:120px;">备注：</span>
                        <div class="bz"><el-input v-model="bz" placeholder="请输入内容"></el-input></div>
                    </div>
                    <div class="btns">
                        <el-button type="primary">保存</el-button>
                        <el-button type="warning">提交</el-button>
                    </div>
                </div>
            </el-dialog>

            <el-dialog
            title="详情"
            :visible.sync="dialogVisibleDetail"
            width="800px"
            :before-close="handleCloseDetail">
                <div class="tjjlEdit">
                    <ul class="tab">
                        <li>服务业企业季报</li>
                        <li>创新示范企业季报</li>
                        <li>服务业企业月报</li>
                        <li>工业企业季报</li>
                        <li>工业企业月报</li>
                    </ul>
                    <div class="tiaobao">
                        <ul class="detail">
                            <li><p class="p1">报表类型:</p><p class="p2">创新示范企业季报</p></li>
                            <li><p class="p1">表  号：</p><p class="p2">海统定基5表</p></li>
                            <li><p class="p1">报表时段：</p><p class="p2">2019年第2季度</p></li>
                            <li><p class="p1">批准机关：</p><p class="p2">国家海洋局</p></li>
                            <li><p class="p1">填报单位：</p><p class="p2">上海彩虹鱼深海装备科技有限公司</p></li>
                            <li><p class="p1">制定机关：</p><p class="p2">国家海洋局</p></li>
                            <li><p class="p1">区域：</p><p class="p2">上海市浦东新区</p></li>
                            <li><p class="p1">批准文号：</p><p class="p2">国统制[2017]120号</p></li>
                            <li><p class="p1">上报时间：</p><p class="p2">有效期至：2019年9月</p></li>
                            <li><p class="p1">有效期至：</p><p class="p2">2019年9月</p></li>
                        </ul>
                    </div>
                    <table class="table" cellspacing="0" style="margin-top:0;">
                        <thead>
                            <tr>
                                <td width="230">指标名称</td>
                                <td width="120">代码</td>
                                <td width="220">单位</td>
                                <td>数量</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>甲</td>
                                <td>乙</td>
                                <td>丙</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>新增产值</td>
                                <td>01</td>
                                <td>万元</td>
                                <td><input type="text"  /><br /><span>上期值：174.19</span><br /><span>增速：-77.04%</span></td>
                            </tr>
                            <tr>
                                <td>新增研发投入</td>
                                <td>02</td>
                                <td>万元</td>
                                <td><input type="text"  /><br /><span>上期值：62.48</span><br /><span>增速：79.26%</span></td>
                            </tr>
                            <tr>
                                <td>获得专利授权数</td>
                                <td>03</td>
                                <td>个</td>
                                <td><input type="text"  /><br /><span>上期值：0</span></td>
                            </tr>
                            <tr>
                                <td>成果转化数</td>
                                <td>04</td>
                                <td>个</td>
                                <td><input type="text"  /><br /><span>上期值：0</span></td>
                            </tr>
                            <tr>
                                <td>新增产品认证书</td>
                                <td>05</td>
                                <td>个</td>
                                <td><input type="text"  /><br /><span>上期值：0</span></td>
                            </tr>
                            <tr>
                                <td>带动社会资金投入</td>
                                <td>06</td>
                                <td>万元</td>
                                <td><input type="text"  /><br /><span>上期值：0</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="person">
                        <span>填表人：</span>
                        <div class="tbr"><el-input v-model="tbr" placeholder="请输入内容"></el-input></div>
                        <span style="margin-left:120px;">备注：</span>
                        <div class="bz"><el-input v-model="bz" placeholder="请输入内容"></el-input></div>
                    </div>
                    <div class="btns">
                        <el-button type="primary">保存</el-button>
                        <el-button type="warning">提交</el-button>
                    </div>
                </div>
            </el-dialog>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            isBlock:false,
            valueYear:0,
            valuefenlei:0,
            valueState:0,
            tjsjStartDate:'',//提交时间-开始时间
            tjsjEndDate:'',//提交时间-结束时间
            yearList:[
                {
                    id:0,
                    value:0,
                    label:'全部'
                },
                {
                    id:1,
                    value:1,
                    label:'2018'
                },
                {
                    id:2,
                    value:2,
                    label:'2019'
                }
            ],
            fenleiList:[
                {
                    value:0,
                    label:'全部'
                },
                {
                    value:1,
                    label:'服务业企业月报'
                },
                {
                    value:2,
                    label:'服务业企业季报'
                },
                {
                    value:3,
                    label:'工业企业月报'
                },
                {
                    value:4,
                    label:'工业企业季报'
                },
                {
                    value:5,
                    label:'创新示范企业季报'
                },
            ],
            stateList:[
                {
                    value:0,
                    label:'全部'
                },
                {
                    value:1,
                    label:'待提交'
                },
                {
                    value:2,
                    label:'待审批'
                },
                {
                    value:3,
                    label:'审批通过'
                },
                {
                    value:4,
                    label:'被驳回'
                }
            ],
            dialogVisible1:false,
            dialogVisibleEdit:false,
            dialogVisibleDetail:false,
            dialogVisibleDaoru:false,
            listData:[
                {
                    index:1,
                    tjrq:'2019-07-08',
                    bblx:'2019年第2季度总结',
                    xmmc:'新型抗菌肽饲料添加剂复合制品的研发与应用',
                    cddw:'福建省华龙饲料有限公司',
                    zmb:'按计划完成实施任务，并申请通过总体完工验收',
                    mbwcqk:'23%',
                    hj:'5228.2',
                    zycz:'1710',
                    dfcz:'0',
                    qyzy:'3608.2',
                    yhdk:'0',
                    state:{
                        shz:true,
                        shtg:false,
                        dtj:false,
                        bh:false,
                    },
                    caozuo:{
                        bj:true,
                        xq:false,
                        tj:false,
                        cxtj:false,
                    }
                },
                {
                    index:2,
                    tjrq:'2019-01-08',
                    bblx:'2018年年度总结',
                    xmmc:'新型抗菌肽饲料添加剂复合制品的研发与应用',
                    cddw:'厦门汇盛生物有限公司',
                    zmb:'按计划完成实施任务，并申请通过总体完工验收',
                    mbwcqk:'单产最高达52kg/m2,养殖单产能',
                    hj:'5228.2',
                    zycz:'1710',
                    dfcz:'0',
                    qyzy:'3608.2',
                    yhdk:'0',
                    state:{
                        shz:false,
                        shtg:false,
                        dtj:true,
                        bh:false,
                    },
                    caozuo:{
                        bj:true,
                        xq:true,
                        tj:true,
                        cxtj:false,
                    }
                },
            ],
            ruleForm:{
                name:'',
                area:'',
                year:'',
                jidu:'',
                tbdw:'',
                zdjg:'',
                date1:'',
                date2:'',
                pzjg:'',
                pzwh:'',
            },
            rules: {
                name: [
                    { required: true, message: '请输入活动名称', trigger: 'blur' },
                ],
                year:[
                    {required: true, message: '请选择报表年份', trigger: 'blur' }
                ],
                jidu:[
                    {required: true, message: '请选择报表季度', trigger: 'blur'}
                ],
                tbdw:[
                    {required: true, message: '请选择填报单位', trigger: 'blur'}
                ],
                date1:[
                    {required: true, message: '请选择上报时间', trigger: 'blur'}
                ],
                date2:[
                    {required: true, message: '请选择有效期', trigger: 'blur'}
                ]
            },
            sbsj:'',
            ruleForm2:{//添加记录
                projectNameList:[
                        {
                            label:'新型抗菌肽饲料添加剂复合制品的研发与应用',
                            value:0
                        }
                    ],
                name:'',//项目名称
                cddw:'',//承担单位
                year:'',
                jidu:'',
                tbdw:'',
                zdjg:'',
                date1:'',
                date2:'',
                pzjg:'',
                pzwh:'',
                pfsj:'',//批复时间
                resource:'',//是否立项
                bbsd:'',//报表时段
            },
            rules2: {
                name: [
                    { required: true, message: '请输入活动名称', trigger: 'blur' },
                ],
            },
            tabTitle:[
                {
                    value:'计划总投资',
                    id:0,
                },
                {
                    value:'实际完成投资',
                    id:1
                },
                {
                    value:'补助资金实际到账至项目单位时间',
                    id:2
                },
            ],
            add:{//添加记录
                i:0,
                table0:true,
                table1:false,
                table2:false,
                jhztz:[
                    {
                        "hj0":'',
                        "zycz0":'',
                        "dfcz0":'',
                        "qyzy0":'',
                        "yhdk0":'',
                        "hj1":'',
                        "zycz1":'',
                        "dfcz1":'',
                        "qyzy1":'',
                        "yhdk1":'',
                        "hj3":'',
                        "zycz3":'',
                        "dfcz3":'',
                        "qyzy3":'',
                        "yhdk3":'',
                    }

                ],
                mbwcqk:{//目标完成情况
                    zmb:'',
                    sjwcqk:''
                },
                ztjz:'',//整体进展
                tbr:'',//填表人
                bz:'',//备注
            },
            edit:{//编辑记录
                i:0,
                table0:true,
                table1:false,
                table2:false,
                jhztz:{
                    "hj0":'1499',
                    "zycz0":'1211',
                    "dfcz0":'22',
                    "qyzy0":'45',
                    "yhdk0":'67',
                    "hj1":'36',
                    "zycz1":'12',
                    "dfcz1":'15',
                    "qyzy1":'87',
                    "yhdk1":'56',
                    "hj3":'89',
                    "zycz3":'45',
                    "dfcz3":'37',
                    "qyzy3":'45',
                    "yhdk3":'78',
                },
                mbwcqk:{//目标完成情况
                    zmb:'进行中',
                    sjwcqk:'已完成30%，剩下的明年底完成'
                },
                ztjz:'30%',//整体进展
                tbr:'李丽',//填表人
                bz:'无',//备注
            },
            detail:{
                i:0,
                table0:true,
                table1:false,
                table2:false,
                jhztz:{
                        "hj0":'1111',
                        "zycz0":'11',
                        "dfcz0":'11',
                        "qyzy0":'11',
                        "yhdk0":'11',
                        "hj1":'11',
                        "zycz1":'11',
                        "dfcz1":'11',
                        "qyzy1":'11',
                        "yhdk1":'11',
                        "hj3":'11',
                        "zycz3":'11',
                        "dfcz3":'11',
                        "qyzy3":'11',
                        "yhdk3":'11',
                },
                mbwcqk:{//目标完成情况
                    zmb:'在建中',
                    sjwcqk:'已完成30%，剩下70%在明年底完成'
                },
                ztjz:'30%',//整体进展
                tbr:'李丽',//填表人
                bz:'无',//备注
            },
            ruleForm3:{//编辑记录
                projectNameList:[
                        {
                            label:'新型抗菌肽饲料添加剂复合制品的研发与应用',
                            value:0
                        }
                    ],
                name:'新型抗菌肽饲料添加剂复合制品的研发与应用',//项目名称
                cddw:'福建省华龙饲料有限公司',//承担单位
                year:'',
                jidu:'',
                tbdw:'',
                zdjg:'年度',
                date1:'2019-05-07',
                date2:'2019-07-08',
                date3:'2019-07-08',
                pzjg:'',
                pzwh:'',
                pfsj:'2019-07-08',//批复时间
                resource:'是',//是否立项
                bbsd:'2019-07-08',//报表时段
            },
            rules3: {
                name: [
                    { required: true, message: '请输入活动名称', trigger: 'blur' },
                ],
            },

        }
    },
    methods: {
        handleClose(){
            this.dialogVisible1 = false;
        },
        edit1(){
            this.dialogVisibleEdit = true;
        },
        handleCloseEdit(){
            this.dialogVisibleEdit = false;
        },
        detail1(){
            this.dialogVisibleDetail = true;
        },
        handleCloseDetail(){
            this.dialogVisibleDetail = false;
        },
        handleCloseDaoru(){
            this.dialogVisibleDaoru = false;
        },
        handleCloseAdd(){
            this.dialogVisibleAdd = false;
        },
        commit(){
            this.dialogVisibleCommit = true;
        },
        handleCloseCommit(){
            this.dialogVisibleCommit = false;
        },
        query(){
            this.isBlock = true;
        },
        sure(){//提交
            this.$message({
                message: '提交成功',
                type: 'success',
                duration:1000
            });
            this.dialogVisibleCommit = false;
        },
        sureDaoru(){
            this.$message({
                message: '提交成功',
                type: 'success',
                duration:1000
            });
            this.dialogVisibleDaoru = false;
        },
        tabTitlefn(id){
            this.add.i = id;
            if(id == 0){
                this.add.table0 = true;
                this.add.table1 = false;
                this.add.table2 = false;
            }else if(id == 1){
                this.add.table1 = true;
                this.add.table0 = false;
                this.add.table2 = false;
            }else if(id == 2){
                this.add.table2 = true;
                this.add.table0 = false;
                this.add.table1 = false;
            }
        },
        tabTitlefnedit(id){
            this.edit.i = id;
            if(id == 0){
                this.edit.table0 = true;
                this.edit.table1 = false;
                this.edit.table2 = false;
            }else if(id == 1){
                this.edit.table1 = true;
                this.edit.table0 = false;
                this.edit.table2 = false;
            }else if(id == 2){
                this.edit.table2 = true;
                this.edit.table0 = false;
                this.edit.table1 = false;
            }
        },
        tabTitlefndetail(id){
            this.detail.i = id;
            if(id == 0){
                this.detail.table0 = true;
                this.detail.table1 = false;
                this.detail.table2 = false;
            }else if(id == 1){
                this.detail.table1 = true;
                this.detail.table0 = false;
                this.detail.table2 = false;
            }else if(id == 2){
                this.detail.table2 = true;
                this.detail.table0 = false;
                this.detail.table1 = false;
            }
        },
        projectNameChange(num){
            if(num == 0){
                this.ruleForm2.pfsj = '2018-10-24';
                this.ruleForm2.cddw = '福建省华龙饲料有限公司';
                this.ruleForm2.resource = '是';
                this.ruleForm2.date1 = '2018-12-24';
                this.ruleForm2.zdjg = '年度';
                this.ruleForm2.bbsd = '2018第一年度';
                this.ruleForm2.date2 = '2018-12-24';
                this.ruleForm2.date3 = '2018-12-24';
            }
        },
        submit(){//提交添加记录
            this.$message({
                message: '提交成功',
                type: 'success',
                duration:1000
            });
            this.dialogVisibleAdd = false;
        },
        importAll(){//批量导入
            this.dialogVisibleDaoru = true;
        },
        cjxm(){
            this.$router.push({ path: '/dataManage/cjxm', query: { type: '1' }})
        }
    },
}
</script>
<style lang="less" scoped>
    .sider{
        position:fixed;
        top:0px;
        z-index:999;
        height: 50px;
        padding-left: 20px;
        /deep/.el-breadcrumb {
            line-height: 50px;
        }
    }
    .containt {
        padding: 0 14px;
    }
    .title{
        width:100%;
        margin-top:20px;
        .addRecord,.tijiaoTime,.year,.fenlei,.state,.query,.import{
            display:inline-block;
        }
        .condition_left{
            display:inline-block;
            .year{
                margin-left:20px;
            }
            .fenlei{
                margin-left:20px;
            }
            .state{
                margin-left:20px;
            }
            .query{
                margin-left:20px;
            }
        }
        .condition_right{
            float: right;
            /deep/ .el-button--warning {
                background-color: #FFB800;
                border-color: #FFB800;
            }
        }
    }
    .table{
        margin-top:20px;
        tr{
            background: #f2f2f2;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:50px;
                border-right:0;
                border-bottom:0;
                color: #606266;
                font-size:16px;
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:14px;
                    color:#606266;
                    border-bottom:1px solid #eeeeee;

                    span{
                        margin-right:10px;
                        &.shz,&.edit{
                            color:#ff9c17;
                            cursor:pointer;
                        }
                        &.shtg,&.commit{
                            color:#91cc91;
                            cursor:pointer;
                        }
                        &.dtj,&.detail{
                            color:#3366ff;
                            cursor:pointer;
                        }
                        /deep/.el-button{
                            color:red;
                        }
                    }
                }
            }
        }
    }
    .tjjl,.tjjlEdit{
        width:100%;
        height:auto;
        .tab{
            width:100%;
            height:40px;
            li{
                float:left;
                width:142px;
                height:100%;
                line-height:40px;
                text-align:center;
                color:#a7a7a7;
                cursor:pointer;
                border:1px solid #f1f1f1;
                margin-right:10px;
            }
        }
        .detail{
            width:100%;
            height:auto;
            margin-top:20px;
            li{
                float:left;
                width:358px;
                height:40px;
                font-size:14px;
                line-height:14px;
                &:nth-child(2n){
                    margin-left:40px;
                }
                .p1{
                    float:left;
                    width:40%;
                    padding-left:20px;
                }
            }
        }
        .tiaobao{
            margin-top:10px;
            .div1,.div7,.div9{
                display:inline-block;
                width:355px;
            }
            .div2,.div8{
                display:inline-block;
                width:350px;
                margin-left:20px;
                /deep/.el-select{
                    width:250px;
                }
            }
            .div3,.div5{
                display:inline-block;
                width:356px;
                /deep/.el-select{
                    width:256px;
                }
            }
            .div5{
                /deep/.el-date-editor.el-input, .el-date-editor.el-input__inner{
                    width:256px;
                }
            }
            .div4,.div6{
                display:inline-block;
                width:350px;
                margin-left:20px;
                /deep/.el-select{
                    width:251px;
                }
            }
        }
        .person{
            height:36px;
            margin-top:20px;
            .tbr{
                display:inline-block;
                width:256px;
            }
            .bz{
                display:inline-block;
                width:256px;
            }
        }
        .btns{
            margin-top:20px;
            text-align:center;
        }
    }
    .hxWrap{
        /deep/.el-select{
            width:236px;
        }
        .report-title{
            width:100%;
            height:72px;
            li{
                float:left;
                height:40px;
                line-height:40px;
                font-size:14px;
                margin-left:20px;
                &.li1,&.li4{
                    width:473px;
                }
                &.li2,&.li5{
                    width:150px;
                }
                &.li3{
                    width:150px;
                }
            }
        }
        .p-title{
            width:100%;
            height:30px;
            line-height:30px;
            font-size:18px;
            margin-top:20px;
            margin-bottom:10px;
            span{
                float:left;
                height:100%;
                width:5px;
                background:#a5a5cf;
                margin-right:20px;
            }
        }
        .top{
            width:100%;
            height:40px;
            .arrow-l{
                float:left;
                height:40px;
                line-height:40px;
            }
            .arrow-r{
                float:right;
                height:40px;
                line-height:40px;
            }
            .con{
                float:left;
                margin-left:42px;
                width:794px;
                height:100%;
                overflow:hidden;
                ul{
                    width:100%;
                    height:100%;
                    li{
                        float:left;
                        width:240px;
                        margin-left:6px;
                        text-align:center;
                        line-height:40px;
                        border:1px solid #cccccc;
                        border-radius:6px 6px 0 0;
                        cursor:pointer;
                        &.active{
                            color:#ffffff;
                            background:#a5a5cf;
                        }
                    }
                }
            }
        }
        .table{
            td{
                input{
                    height:20px;
                    width:100px;
                    border:none;
                    text-align:center;
                }
                textarea{
                    width:90%;
                    height:40px;
                    border:none;
                    resize:none;
                }
            }
        }
        .jinzhan{
            width:100%;
            line-height:40px;
            font-size:14px;
            border:1px solid #eeeeee;
            padding-left:20px;
            textarea{
                width:100%;
                height:100%;
                border:none;
                resize:none;
                color:#606266;
                line-height:30px;
            }
        }
    }
    .pldr{

    }
    /deep/.el-button{
        padding: 10px 20px;
    }
    /deep/.el-date-editor.el-input, .el-date-editor.el-input__inner{
        width:180px;
    }
    /deep/.el-input__inner{
        height:36px;
    }
    /deep/.el-select{
        width:180px;
    }
    /deep/.el-dialog__body{
        padding-top:10px;
    }
    /deep/.el-dialog__header{
        background:#a5a5cf;
    }
    /deep/.el-dialog__title{
        color:#ffffff;
    }
    /deep/.el-dialog__footer{
        text-align:center;
    }


</style>
