<template>
    <div style="height: 100%;overflow-y: auto">
        <div class="tbcggz-wrap">
            <div class="tbcggz">
                <div class="title">
                    <span class="span1">操作日期：</span>
                    <span class="span2">
                        <el-date-picker
                        v-model="value1"
                        type="daterange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期">
                        </el-date-picker>
                    </span>
                    <span class="span1" style="margin-left:52px;">审核状态：</span>
                    <span class="span3">
                        <el-select v-model="value" placeholder="请选择">
                            <el-option
                            v-for="item in stateList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                            </el-option>
                        </el-select>
                    </span>
                    <span class="span4">
                        <el-input v-model="input" placeholder="请输入项目名称搜索"></el-input>
                    </span>
                    <span class="span5"><el-button type="primary">搜索</el-button></span>
                    <span class="span6"><el-button type="primary" @click="tjcggz">+&nbsp;添加成果跟踪</el-button></span>
                </div>
                <div class="content">
                    <div class="item">
                        <h3>深海光电复合缆、连接器</h3>
                        <p class="p1">单位名称：上海亨通企业有限公司</p>
                        <p class="p2">所属项目：海洋观测网用深海光电复合缆及接驳设备</p>
                        <p class="p3">成果形式：新装置/新仪器设备</p>
                        <p class="p4">应用状态：稳定应用</p>
                        <p class="p5">
                            <i class="el-icon-tickets"></i>查看详情

                            <el-dropdown class="more">
                                <i class="el-icon-more"></i>
                                <!-- <el-button type="primary">
                                    更多菜单<i class="el-icon-arrow-down el-icon--right"></i>
                                </el-button> -->
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item>审核通过</el-dropdown-item>
                                    <el-dropdown-item>驳回</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </p>
                        <p class="p6"><img :src="imgList[0]" /></p>
                    </div>
                    <div class="item" v-for="iten in 8">
                        <h3>深海光电复合缆、连接器</h3>
                        <p class="p1">单位名称：上海亨通企业有限公司</p>
                        <p class="p2">所属项目：海洋观测网用深海光电复合缆及接驳设备</p>
                        <p class="p3">成果形式：新装置/新仪器设备</p>
                        <p class="p4">应用状态：稳定应用</p>
                        <p class="p5">
                            <i class="el-icon-tickets"></i>查看详情

                            <el-dropdown class="more">
                                <i class="el-icon-more"></i>
                                <!-- <el-button type="primary">
                                    更多菜单<i class="el-icon-arrow-down el-icon--right"></i>
                                </el-button> -->
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item>审核通过</el-dropdown-item>
                                    <el-dropdown-item>驳回</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </p>
                        <p class="p6"><img :src="imgList[0]" /></p>
                    </div>
                    <div class="item">
                        <h3>深海光电复合缆、连接器</h3>
                        <p class="p1">单位名称：上海亨通企业有限公司</p>
                        <p class="p2">所属项目：海洋观测网用深海光电复合缆及接驳设备</p>
                        <p class="p3">成果形式：新装置/新仪器设备</p>
                        <p class="p4">应用状态：稳定应用</p>
                        <p class="p5">
                            <i class="el-icon-tickets"></i>查看详情

                            <el-dropdown class="more">
                                <i class="el-icon-more"></i>
                                <!-- <el-button type="primary">
                                    更多菜单<i class="el-icon-arrow-down el-icon--right"></i>
                                </el-button> -->
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item>审核通过</el-dropdown-item>
                                    <el-dropdown-item>驳回</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </p>
                        <p class="p6"><img :src="imgList[0]" /></p>
                    </div>
                    <div class="item">
                        <h3>深海光电复合缆、连接器</h3>
                        <p class="p1">单位名称：上海亨通企业有限公司</p>
                        <p class="p2">所属项目：海洋观测网用深海光电复合缆及接驳设备</p>
                        <p class="p3">成果形式：新装置/新仪器设备</p>
                        <p class="p4">应用状态：稳定应用</p>
                        <p class="p5">
                            <span @click="detail">
                                <i class="el-icon-tickets"></i>查看详情
                            </span>

                            <el-dropdown class="more">
                                <i class="el-icon-more"></i>
                                <!-- <el-button type="primary">
                                    更多菜单<i class="el-icon-arrow-down el-icon--right"></i>
                                </el-button> -->
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item>审核通过</el-dropdown-item>
                                    <el-dropdown-item>驳回</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </p>
                        <p class="p6"><img :src="imgList[0]" /></p>
                    </div>
                    <div class="item">
                        <h3>深海光电复合缆、连接器</h3>
                        <p class="p1">单位名称：上海亨通企业有限公司</p>
                        <p class="p2">所属项目：海洋观测网用深海光电复合缆及接驳设备</p>
                        <p class="p3">成果形式：新装置/新仪器设备</p>
                        <p class="p4">应用状态：稳定应用</p>
                        <p class="p5">
                            <i class="el-icon-tickets"></i>查看详情

                            <el-dropdown class="more">
                                <i class="el-icon-more"></i>
                                <!-- <el-button type="primary">
                                    更多菜单<i class="el-icon-arrow-down el-icon--right"></i>
                                </el-button> -->
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item>审核通过</el-dropdown-item>
                                    <el-dropdown-item>驳回</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </p>
                        <p class="p6"><img :src="imgList[0]" /></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            value1:'',
            state:'',
            stateList:[
                {
                    label:'全部',
                    value:''
                },
                {
                    label:'待提交',
                    value:1
                },
                {
                    label:'待审核',
                    value:2
                },
                {
                    label:'审核通过',
                    value:3
                },
                {
                    label:'驳回',
                    value:4
                }
            ],
            imgList:['../../../static/image/cggz01.png','../../../static/image/cggz02.png','../../../static/image/cggz03.png']
        }
    },
    methods: {
        tjcggz(){
            this.$router.push({path: '/dataManage/tjcggz'});
        },
        detail(){

        }
    },
}
</script>
<style lang="less" scoped>
    .tbcggz-wrap{
        /*padding-top:55px;*/
        background:#f1f1f1;
        width: 100%;
        height: 100%;
        /*overflow-y: auto;*/
        /*padding-left:15px;*/
        .tbcggz{
            padding:30px;
            padding-right:15px;
            height: 100%;
            background:#fff;
            overflow-y: auto;
        }
        .title{
            // height:70px;
            background:#fff;
            .span1{
                float:left;
                line-height:32px;
                font-size:14px;
                color:#727272;

            }
            .span2{
                float:left;
            }
            .span3{
                float:left;
            }
            .span4{
                float:left;
                margin-left:50px;
            }
            .span5{
                margin-left:40px;
            }
            .span6{
                float:right;
            }
        }
        .content{
            width:100%;
            height:auto;
            margin-top:24px;
            display:flex;
            justify-content : flex-start;
            flex-wrap:wrap;
            .item{
                width:400px;
                height:230px;
                border:1px solid #dfdfdf;
                border-radius:6px;
                position:relative;
                margin-top:15px;
                margin-left:13px;
                &:nth-child(4n-3){
                    margin-left:0;
                }
                h3{
                    padding-top:18px;
                    line-height:28px;
                    font-size:16px;
                    color:#3d3d3d;
                    text-align:center;
                }
                .p1{
                    margin-top:20px;
                }
                .p1,.p2,.p3,.p4{
                    height:28px;
                    line-height:28px;
                    padding-left:19px;
                    color:#5e5e5e;
                }
                .p5{
                    margin-top:20px;
                    padding-left:19px;
                    font-size:12px;
                    color:#1d96f4;
                    i{
                        font-size:14px;
                        margin-right:7px;
                    }
                    .more{
                        position:absolute;
                        right:20px;
                        bottom:12px;
                        color:#989898;
                        font-size:18px;
                    }
                }
                .p6{
                    position:absolute;
                    left:0;
                    top:0;
                    width:72px;
                    height:58px;
                }
            }

        }
    }
    /deep/.el-date-editor .el-range__icon{
        line-height:25px;
    }
    /deep/.el-date-editor .el-range-separator{
        width:8%;
        line-height:25px;
    }
    /deep/.el-date-editor .el-range__close-icon{
        line-height:25px;
    }
    /deep/.el-input__icon{
        line-height:32px;
    }
    /deep/.el-button--primary{
        background:#108ee9;
    }
</style>
