<template>
    <div style="padding-bottom:100px;">
        <div class="sider">
              <el-breadcrumb >
                <el-breadcrumb-item :to="{ path: '/dataManage/shenpiProcessData' }">数据审批</el-breadcrumb-item>
                <el-breadcrumb-item :to="{ path: '/dataManage/shenpiProcessData' }">项目进度汇报审批</el-breadcrumb-item>
                <el-breadcrumb-item>进度考核详情</el-breadcrumb-item>
              </el-breadcrumb>
        </div>
        <div class="contant">
          <!-- <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" background-color="rgba(0,0,0,0)" @select="handleSelect">
              <el-menu-item index="1">项目完成情况</el-menu-item>
              <el-menu-item index="2">项目绩效考核情况</el-menu-item>
              <el-menu-item index="3">财政资金使用情况</el-menu-item>
          </el-menu> -->
          <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
            <el-tab-pane label="项目完成情况" name="first">
              <div class="box">
                  <img class="img" src="../../assets/detailsImg1.jpg" alt="">
              </div>
            </el-tab-pane>
            <el-tab-pane label="项目技术创新情况" name="second">
              <div class="box">
                  <img  class="img" src="../../assets/detailsImg2.jpg" alt="">
              </div>
            </el-tab-pane>
            <el-tab-pane label="财政资金使用情况" name="third">
              <div class="box">
                <el-tabs v-model="activeName" type="card" background-color="#ff0">
                  <el-tab-pane label="专项专项资金预算" name="first">
                    <img  class="img" src="../../assets/detailsImg3.jpg" alt="">
                  </el-tab-pane>
                  <el-tab-pane label="经费支出清单" name="second">
                    <img  class="img" src="../../assets/detailsImg2.jpg" alt="">
                  </el-tab-pane>
                </el-tabs>
              </div>
            </el-tab-pane>
          </el-tabs>
          <div class="line"></div>
          <div class="box">
          </div>
        </div>
        <!-- <div class="btns">
            <el-button type="primary" @click="commit">提交</el-button>
        </div> -->
    </div>
</template>

<script>
    export default {
        name: "details",
        data() {
          return {
            activeIndex: 'first',
            activeName: 'first',
          };
        },
        methods: {
          goBack(){
            this.$router.go(-1);//返回上一层
          },
          handleSelect(key, keyPath) {
            this.activeIndex = key
          },
          handleClick(tab, event) {
          },
          pass(val) {
            this.$message({
              message: '通过审核！',
              type: 'success'
            });

          },
          refuse(val) {
            this.$prompt('请输入驳回原因', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              // inputPattern: /[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/,
              inputErrorMessage: '请输入驳回原因'
            }).then(({ value }) => {
              this.$message({
                type: 'success',
                message: '驳回原因是: ' + value
              });
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '取消输入'
              });
            });
          },
          commit(){//提交
            this.$router.go(-1);
          }
        }
    }
</script>

<style  lang="less" scoped>
  .sider{
        height:40px;
        background-color: #f5f5f5;
        padding-left: 30px;
        /deep/.el-breadcrumb {
            line-height: 40px;
        }
    }
  .contant {
    padding: 20px 30px;

  }
  .piliang{
    display:inline-block;
    margin-left:10px;
    margin-right: 100px;
    height: 61px;
    float: right;

    /deep/.el-button--success {
      color: #FFF;
      background-color: #00bd2b;
      border-color: #00bd2b;
    }
    /deep/.el-button--danger {
      color: #FFF;
      background-color: #ff0000;
      border-color: #ff0000;
    }
  }
  .box{
    margin-top: 10px;
    .img{
      width: 60%;
    }
  }
  .btns{
    margin-top:20px;
    text-align:center;
  }
/deep/ .el-menu-item {
  background: none !important;
}
/deep/ .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
      background-color: #4A9BF4;
      color: #fff;
}
</style>
