<template>
    <div>
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item :to="{ path: '/dataManage/processData' }">在线填报</el-breadcrumb-item>
                <el-breadcrumb-item>承担的项目</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="processData clear">
            <div class="left">
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="待接收项目" name="first">
                        <ul class="own">
                            <li class="clear" v-for="item in resultData" :key="item.index">

                                <p class="desc">
                                    <span class="title"><b class="label_one">待接收</b>{{item.projectName}}</span>
                                    <span style="display:block;margin-top: 5px">项目负责人：{{item.director}}</span>
                                    <span style="font-size:14px;margin-top: 5px">{{item.projectStartDate}}-{{item.projectEndDate}}</span>
                                </p>
                                <p class="btns">
                                    <el-button type="primary" size="mini" @click="accept(item)">立即接收</el-button>
                                    <el-button size="mini" @click="refuse(item)">拒绝</el-button>
                                </p>
                            </li>
                            <p v-if="resultData.length == 0" style="line-height:200px;color:#333;">暂无待接收项目</p>
                        </ul>
                    </el-tab-pane>
                    <el-tab-pane label="已接收项目" name="second">
                        <ul class="own">
                            <li class="clear" v-for="item in resultData" :key="item.index">

                                <p class="desc">
                                    <span class="title"><b class="label_two" :style="{background: item.infoStateForCompany == 0 ? '#F59A23' : '#73C34B'}">{{item.infoStateForCompany == 0 ? '待完善' : '已完善'}}</b>{{item.projectName}}</span>
                                    <span style="display:block;margin-top: 5px">项目负责人：{{item.director}}</span>
                                    <span  style="font-size:14px;margin-top: 5px">{{item.projectStartDate}}-{{item.projectEndDate}}</span>
                                </p>
                                <p class="btns">
                                    <el-button type="primary" v-if="item.infoStateForCompany == 1" @click="detail(item)" size="mini">查看详情</el-button>
                                    <el-button type="primary" v-if="item.infoStateForCompany == 0" @click="edit(item)" size="mini">立即填写</el-button>
                                </p>
                            </li>
                            <p v-if="resultData.length == 0" style="line-height:200px;color:#333;">暂无已接收项目</p>
                        </ul>
                    </el-tab-pane>
                </el-tabs>
            </div>
            <div class="right">
                <div class="title">
                    <div class="progress_title ">已填报的项目</div>
                    <!-- <div class="addRecord" @click="dialogVisibleAdd = true"><el-button type="warning">进度汇报</el-button></div> -->
                    <el-form inline label-width="100px">
                        <el-form-item label="项目状态：">
                            <el-select v-model="valueState" placeholder="请选择">
                                <el-option
                                    v-for="item in stateList"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="项目类型：">
                            <el-select v-model="valuefenlei" placeholder="请选择">
                                <el-option
                                    v-for="item in fenleiList"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                            <div class="query"><el-button size="small" type="primary" @click="search">搜索</el-button></div>
                        </el-form-item>
                    </el-form>

                    <div class="table" >
                        <el-table
                            :data="tableData"
                            stripe
                            tooltip-effect="dark"
                            style="width: 100%"
                        >
                            <el-table-column
                                width="300"
                                align="center"
                                show-overflow-tooltip
                                prop="projectName"
                                label="项目名称">
                            </el-table-column>

                            <el-table-column
                                prop="companyName"
                                width="300"
                                show-overflow-tooltip
                                align="center"
                                label="承担单位"/>

                            <el-table-column
                                prop="director"
                                align="center"
                                width="90"
                                label="项目负责人"/>
                            <el-table-column
                                prop="beginning"
                                align="center"
                                width="280"
                                label="项目起止日期"/>
                            <el-table-column
                                prop="submitTime"
                                align="center"
                                width="160"
                                label="操作时间"/>
                            <el-table-column
                                prop="writeState"
                                align="center"
                                width="160"
                                label="审核状态">
                                <template slot-scope="scope">
                                    <span class="color_Pending" v-if="scope.row.writeState == 0">待接收 <i style="color: orange" class="iconfont icon-dengguang "></i></span>
                                    <span class="color_pass"  v-if="scope.row.writeState == 1">已拒绝 <i style="color: #91cc91" class="iconfont icon-dengguang "></i> </span>
                                    <span class="color_refuse"  v-if="scope.row.writeState == 2">待提交</span>
                                    <span class="color_refuse"  v-if="scope.row.writeState == 3" style="color: #108DE9">待审核</span>
                                    <span class="color_refuse"  v-if="scope.row.writeState == 4" style="color: #00A854;">审核通过</span>
                                    <span class="color_refuse"  v-if="scope.row.writeState == 5" style="color: #FE5500">驳回</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                align="center"
                                prop="state"
                                label="操作"
                                fixed="right"
                                width="200">
                                <template slot-scope="scope">
                                    <el-button type="primary" size="mini" @click="detail(scope.row)">详情</el-button>

                                    <el-button type="danger" size="mini" @click="edit(scope.row)" v-if="scope.row.writeState == 5">修改</el-button>

                                    <el-button type="primary" size="mini" @click="edit(scope.row)" v-if="scope.row.writeState == 2">编辑</el-button>
                                    <el-tooltip class="item" effect="dark" :content="scope.row.returnReasonsDesc" placement="bottom">
                                        <el-button
                                         size="mini"
                                        v-if="scope.row.writeState == 5"
                                        type="info">
                                            原因
                                        </el-button>
                                    </el-tooltip>

                                </template>
                            </el-table-column>
                        </el-table>
                        <div style="text-align: center;margin-top: 20px">
                            <el-pagination
                                background
                                layout="prev, pager, next"
                                :page-size="10"
                                :current-page="currentPage"
                                :total="total"
                                hide-on-single-page
                                @current-change="currentChange"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            activeName:'first',
            valueState:0,
            valuefenlei:0,
            stateList:[
                {
                    value:0,
                    label:'全部'
                },
                {
                    value:1,
                    label:'十二五'
                },
                {
                    value:2,
                    label:'十三五'
                }
            ],
            fenleiList:[
                {
                    value:0,
                    label:'全部'
                },
                {
                    value:2,
                    label:'待提交'
                },
                {
                    value:3,
                    label:'待审核'
                },
                {
                    value:4,
                    label:'审核通过'
                },
                {
                    value:45,
                    label:'驳回'
                },
            ],
            resultData:[],
            tableData: [
            ],
            total:1,
            currentPage:1
        }
    },
    methods: {
        getLeftMessage(){
            this.resultData = []
            let _this = this;
            let param = {};
            if(this.activeName == 'first'){
                param.state = 0;//待接收
            }else if(this.activeName == 'second'){
                param.state = 1;//已接收
            }
            this.$post('/ProjectForCompanyController/getMyProjectList',param).then(function(res){
                _this.resultData = res.data.resultData;
            });

        },
        getTableList(){
            console.log(123)
            let _this = this;
            let param = {};
            param.pageIndex = this.currentPage;
            if(this.valueState != 0){
                param.projectType = this.valueState;
            }
            if(this.valuefenlei != 0){
                param.state = this.valuefenlei;
            }
            this.$post('/ProjectForCompanyController/getMyWriteProjectList',param).then(function(res){
                _this.tableData = res.data.resultData.records;
                for(let i = 0;i<_this.tableData.length;i++){
                    _this.tableData[i].beginning = _this.tableData[i].projectStartDate+' 至 '+_this.tableData[i].projectEndDate;
                }
            });
        },
        handleClick(value){
            if(value.name == 'first'){
                this.activeName = 'first';
            }else if(value.name == 'second'){
                this.activeName = 'second';
            }
            this.getLeftMessage();
            this.getTableList();
        },
        accept(obj){
            let _this = this;
            let param = {};
            param.projectId = obj.projectId;
            this.$post('/ProjectForCompanyController/reciveProject',param).then(function(res){
                if(res.data.success){
                    _this.$message({
                        type: 'success',
                        message: '接收成功'
                    });
                    _this.$emit('changePoint')
                }else{
                    _this.$message({
                        type: 'warning',
                        message: res.data.errorMsg
                    });
                }
                _this.getLeftMessage();
            });
        },
        refuse(obj){
            let _this = this;
            let param = {};
            param.projectId = obj.projectId;
            this.$post('/ProjectForCompanyController/refuseWriteProject',param).then(function(res){
                if(res.data.success){
                    _this.$message({
                        type: 'success',
                        message: '拒绝成功'
                    });
                }else{
                    _this.$message({
                        type: 'warning',
                        message: res.data.errorMsg
                    });
                }
            });
        },
        detail(obj){
            let _this = this;
            this.$router.push({ path: '/dataManage/xmxq',query:{projectId:obj.projectId}});
        },
        edit(obj){
            this.$router.push({ path: '/dataManage/wsxx',query:{projectId:obj.projectId}});
        },
        reason() {
            this.$prompt('请输入拒绝原因', '填写拒绝原因', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            inputPattern: /[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/,
            inputErrorMessage: '邮箱格式不正确'
            }).then(({ value }) => {
            this.$message({
                type: 'success',
                message: '你的邮箱是: ' + value
            });
            }).catch(() => {
            this.$message({
                type: 'info',
                message: '取消输入'
            });
            });
        },
        search(){
            this.getTableList();
        }
    },
    created() {
        this.getLeftMessage();
        this.getTableList();
    },
}
</script>
<style lang="less" scoped>
    /deep/ .el-form-item{
        margin-bottom: 0;
    }
.sider{
        height:50px;
        padding-left: 30px;
        /deep/.el-breadcrumb {
            line-height: 50px;
        }
        position:fixed;
        top: 0;
        z-index:999;
    }
    .processData{
        padding: 20px;
        .left{
            float:left;
            width:30%;
            padding:10px 20px;
            border:1px solid #F5F5F5;
            /deep/ .el-tabs__header {
            margin: 0;
            }
            /deep/ .el-tabs__item {
                font-size: 16px;
                line-height: normal;
            }
            /deep/.el-tabs__nav-wrap::after {
                height: 1px;
            }
            ul.own{
                width:100%;
                height:auto;
                li{
                    padding:10px 0px;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.117647058);
                    margin-top:24px;
                    /deep/.el-button--danger, .el-button--default, .el-button--primary, .el-button--warning{
                        line-height:14px;
                    }
                }
                .title{
                    line-height:28px;
                    font-size:16px;
                    color:#409EFF;
                    font-style: normal;
                    width: 86%;
                    display: block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .desc{
                    float:left;
                    /*width:150px;*/
                    font-size:14px;
                    line-height:24px;
                    margin-top:15px;
                }
                .btns{
                    float:right;
                    margin-top:22px;
                    /deep/.el-button{
                        padding: 10px 10px;
                        font-weight: normal;
                    }
                }
            }
            ul.other{
                width:100%;
                height:auto;
                li{
                    padding:20px 0;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.117647058);
                    margin-top:24px;
                }
                .btns{
                    margin-top:20px;
                    /deep/.el-button{
                        padding: 10px 10px;
                        font-weight: normal;
                    }
                }
                .title{
                    line-height:28px;
                    font-size:16px;
                    color:#409EFF;
                    i{
                        font-style:normal;
                        display:inline-block;
                        padding: 0 5px;
                        font-size: 14px;
                        text-align:center;
                        background-color: rgba(242, 111, 107, 1);
                        color:#fff;
                        border-radius:3px;
                        margin-right:8px;
                    }
                    .i1{
                        background-color: rgba(242, 111, 107, 1);
                    }
                    .i2{
                        background-color: rgba(115, 195, 75, 1);
                    }
                }
                .fuzeren,.time{
                    margin-top:10px;
                    font-size:14px;
                }
            }

        }
        .right{
            width: 68%;
            margin-left:20px;
            border:1px solid #F5F5F5;
            .title{
                width:100%;
                .progress_title {
                        height: 50px;
                        line-height: 40px;
                        margin-left: 20px;
                        font-size: 16px;
                        font-weight: 500;
                        border-bottom: 1px solid #E4E7ED;
                    }
                .el-form{
                    padding: 6px 0;
                }
                .addRecord,.tijiaoTime,.year,.fenlei,.state,.query,.import{
                    display:inline-block;
                }
                .year{
                    margin-left:20px;
                }
                .fenlei{
                    margin-left:20px;
                }
                .state{
                    margin-left:20px;
                }
                .query{
                    margin-left:20px;
                    /deep/ .el-button {
                        font-weight: normal;
                    }
                }
            }

        }
    }

    /deep/.el-date-editor.el-input, .el-date-editor.el-input__inner{
        width:180px;
    }
    /deep/.el-input__inner{
        height:36px;
    }
    /deep/.el-select{
        width:180px;
    }
    /deep/.el-dialog__body{
        padding-top:10px;
    }
    /deep/ .el-dialog--center {
        text-align: left;
        top: 25%;
        /deep/.el-textarea__inner {
            padding: 20px 15px;
            resize: none;
        }
    }
    /deep/.el-dialog__header{
        border:1px solid #f5f5f5;
        margin-bottom: 10px;
        padding: 10px;
        height: 46px;
        span {
            color: #333;
        }
        .el-dialog__title {
        font-size: 16px;
        }
    }
    /deep/ .el-dialog__footer {
        text-align: right !important;
    }
    /deep/.el-dialog__title{
        color:#ffffff;
    }
    /deep/.el-dialog__footer{
        text-align:center;
    }
    /deep/.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover{
        font-size:16px;
        font-weight:bold;
    }
    /deep/.el-breadcrumb__inner{
        position:relative;
        z-index:333;
    }
    /depp/ .el-input__inner {
            height: 300px !important;
            line-height: 40px;
        }
</style>
