<template>
    <div>
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >在线填报</el-breadcrumb-item>
                <el-breadcrumb-item>企业直报数据</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="title">
            <div class="addRecord" @click="dialogVisible1 = true"><el-button type="warning">添加记录</el-button></div>
            <div class="tijiaoTime">
                <span>提交时间：</span>
                <el-date-picker
                v-model="value1"
                type="date"
                placeholder="选择日期">
                </el-date-picker>
                <span>至</span>
                <el-date-picker
                v-model="value1"
                type="date"
                placeholder="选择日期">
                </el-date-picker>
            </div>
            <div class="year">
                <span>报表年份：</span>
                <el-select v-model="valueYear" placeholder="请选择">
                    <el-option
                    v-for="item in yearList"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div class="fenlei">
                <span>报表分类：</span>
                <el-select v-model="valuefenlei" placeholder="请选择">
                    <el-option
                    v-for="item in fenleiList"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div class="state">
                <span>状态：</span>
                <el-select v-model="valueState" placeholder="请选择">
                    <el-option
                    v-for="item in stateList"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div class="query"><el-button type="primary">查询</el-button></div>
            <span class="download"><el-button type="text">模板下载</el-button></span>
            <div class="import"><el-button type="warning">批量导入</el-button></div>
            <div class="table" >
                <table cellspacing="0">
                    <thead>
                        <tr>
                            <td width="100">序号</td>
                            <td width="200">提交日期</td>
                            <td width="200">数据报表类型</td>
                            <td width="200">报表时段</td>
                            <td width="300">项目名称</td>
                            <td width="300">填报单位</td>
                            <td width="200">填报时间</td>
                            <td width="200">有效期</td>
                            <td width="300">状态</td>
                            <td width="100">备注说明</td>
                            <td width="300">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td>1</td>
                            <td>2019-07-08</td>
                            <td>服务业企业季报</td>
                            <td>2019年第二季度</td>
                            <td>全海深载人潜水器研制及技术配件产业化应用</td>
                            <td>上海彩虹鱼深海装备科技有限公司</td>
                            <td>2019-08-01</td>
                            <td>2019-09</td>
                            <td>
                                <span class="shz">审核中</span>
                                <span class="shtg">审核通过</span>
                                <span class="dtj">待提交</span>
                                <span class="bh">
                                    <el-tooltip class="item" effect="dark" content="Top Center 提示文字" placement="top">
                                        <el-button>驳回</el-button>
                                    </el-tooltip>
                                </span>
                            </td>
                            <td>无</td>
                            <td><span class="edit" @click="edit">编辑</span><span class="detail" @click="detail">详情</span><span class="commit">提交</span></td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
        <el-dialog
        title="添加记录"
        :visible.sync="dialogVisible1"
        width="800px"
        :before-close="handleClose">
            <div class="tjjl">
                <ul class="tab">
                    <li>服务业企业季报</li>
                    <li>创新示范企业季报</li>
                    <li>服务业企业月报</li>
                    <li>工业企业季报</li>
                    <li>工业企业月报</li>
                </ul>
                <div class="tiaobao">
                    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                        <div class="div1">
                            <el-form-item label="报表名称" prop="name">
                                <el-input v-model="ruleForm.name"></el-input>
                            </el-form-item>
                        </div>
                        <div class="div2">
                            <el-form-item label="活动区域" prop="area">
                                <el-select v-model="ruleForm.area" placeholder="请选择活动区域">
                                <el-option label="上海" value="shanghai"></el-option>
                                <el-option label="江苏" value="jiangsu"></el-option>
                                <el-option label="浙江" value="zhejiang"></el-option>
                                <el-option label="福建" value="fujian"></el-option>
                                <el-option label="宁波" value="ningbo"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="div3">
                            <el-form-item label="报表时段" prop="year">
                                <el-select v-model="ruleForm.year" placeholder="2019年">
                                <el-option label="2018" value="2018"></el-option>
                                <el-option label="2019" value="2019"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="div4">
                            <el-form-item label="报表季度" prop="jidu">
                                <el-select v-model="ruleForm.jidu" placeholder="第一季度">
                                <el-option label="第一季度" value="one"></el-option>
                                <el-option label="第二季度" value="two"></el-option>
                                <el-option label="第三季度" value="three"></el-option>
                                <el-option label="第四季度" value="four"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="div5">
                            <el-form-item label="填报单位" prop="tbdw">
                                <el-select v-model="ruleForm.jidu" placeholder="国家海洋局">
                                <el-option label="国家海洋局" value="haiyangju"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="div6">
                            <el-form-item label="制定机关" prop="zdjg">
                                <el-select v-model="ruleForm.zdjg" placeholder="国家海洋局">
                                <el-option label="国家海洋局" value="haiyangju"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="div5">
                            <el-form-item label="上报时间" required prop="date1">
                                <el-date-picker
                                v-model="sbsj"
                                type="date"
                                placeholder="选择日期">
                                </el-date-picker>
                            </el-form-item>
                        </div>
                        <div class="div6">
                            <el-form-item label="有效期至" required prop="date2">
                                <el-select v-model="ruleForm.zdjg" placeholder="国家海洋局">
                                <el-option label="国家海洋局" value="haiyangju"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="div7">
                            <el-form-item label="批准机关" prop="pzjg">
                                <el-input v-model="ruleForm.pzjg"></el-input>
                            </el-form-item>
                        </div>
                        <div class="div8">
                            <el-form-item label="批准文号" prop="pzwh">
                                <el-input v-model="ruleForm.pzwh"></el-input>
                            </el-form-item>
                        </div>
                        <div class="div9">
                            <el-form-item label="表号" prop="bh">
                                <el-input v-model="ruleForm.bh"></el-input>
                            </el-form-item>
                        </div>
                    </el-form>
                </div>
                <table class="table" cellspacing="0" style="margin-top:0;">
                    <thead>
                        <tr>
                            <td width="230">指标名称</td>
                            <td width="120">代码</td>
                            <td width="220">单位</td>
                            <td>数量</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>甲</td>
                            <td>乙</td>
                            <td>丙</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>新增产值</td>
                            <td>01</td>
                            <td>万元</td>
                            <td><input type="text"  /><br /><span>上期值：174.19</span><br /><span>增速：-77.04%</span></td>
                        </tr>
                        <tr>
                            <td>新增研发投入</td>
                            <td>02</td>
                            <td>万元</td>
                            <td><input type="text"  /><br /><span>上期值：62.48</span><br /><span>增速：79.26%</span></td>
                        </tr>
                        <tr>
                            <td>获得专利授权数</td>
                            <td>03</td>
                            <td>个</td>
                            <td><input type="text"  /><br /><span>上期值：0</span></td>
                        </tr>
                        <tr>
                            <td>成果转化数</td>
                            <td>04</td>
                            <td>个</td>
                            <td><input type="text"  /><br /><span>上期值：0</span></td>
                        </tr>
                        <tr>
                            <td>新增产品认证书</td>
                            <td>05</td>
                            <td>个</td>
                            <td><input type="text"  /><br /><span>上期值：0</span></td>
                        </tr>
                        <tr>
                            <td>带动社会资金投入</td>
                            <td>06</td>
                            <td>万元</td>
                            <td><input type="text"  /><br /><span>上期值：0</span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="person">
                    <span>填表人：</span>
                    <div class="tbr"><el-input v-model="input" placeholder="请输入内容"></el-input></div>
                    <span style="margin-left:120px;">备注：</span>
                    <div class="bz"><el-input v-model="input" placeholder="请输入内容"></el-input></div>
                </div>
                <div class="btns">
                    <el-button type="primary">保存</el-button>
                    <el-button type="warning">提交</el-button>
                </div>
            </div>
        </el-dialog>

        <el-dialog
        title="编辑记录－创新示范企业季报"
        :visible.sync="dialogVisibleEdit"
        width="800px"
        :before-close="handleCloseEdit">
            <div class="tjjlEdit">
                <ul class="tab">
                    <li>服务业企业季报</li>
                    <li>创新示范企业季报</li>
                    <li>服务业企业月报</li>
                    <li>工业企业季报</li>
                    <li>工业企业月报</li>
                </ul>
                <div class="tiaobao">
                    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                        <div class="div1">
                            <el-form-item label="报表名称" prop="name">
                                <el-input v-model="ruleForm.name"></el-input>
                            </el-form-item>
                        </div>
                        <div class="div2">
                            <el-form-item label="活动区域" prop="area">
                                <el-select v-model="ruleForm.area" placeholder="请选择活动区域">
                                <el-option label="上海" value="shanghai"></el-option>
                                <el-option label="江苏" value="jiangsu"></el-option>
                                <el-option label="浙江" value="zhejiang"></el-option>
                                <el-option label="福建" value="fujian"></el-option>
                                <el-option label="宁波" value="ningbo"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="div3">
                            <el-form-item label="报表时段" prop="year">
                                <el-select v-model="ruleForm.year" placeholder="2019年">
                                <el-option label="2018" value="2018"></el-option>
                                <el-option label="2019" value="2019"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="div4">
                            <el-form-item label="报表季度" prop="jidu">
                                <el-select v-model="ruleForm.jidu" placeholder="第一季度">
                                <el-option label="第一季度" value="one"></el-option>
                                <el-option label="第二季度" value="two"></el-option>
                                <el-option label="第三季度" value="three"></el-option>
                                <el-option label="第四季度" value="four"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="div5">
                            <el-form-item label="填报单位" prop="tbdw">
                                <el-select v-model="ruleForm.jidu" placeholder="国家海洋局">
                                <el-option label="国家海洋局" value="haiyangju"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="div6">
                            <el-form-item label="制定机关" prop="zdjg">
                                <el-select v-model="ruleForm.zdjg" placeholder="国家海洋局">
                                <el-option label="国家海洋局" value="haiyangju"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="div5">
                            <el-form-item label="上报时间" required prop="date1">
                                <el-date-picker
                                v-model="sbsj"
                                type="date"
                                placeholder="选择日期">
                                </el-date-picker>
                            </el-form-item>
                        </div>
                        <div class="div6">
                            <el-form-item label="有效期至" required prop="date2">
                                <el-select v-model="ruleForm.zdjg" placeholder="国家海洋局">
                                <el-option label="国家海洋局" value="haiyangju"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="div7">
                            <el-form-item label="批准机关" prop="pzjg">
                                <el-input v-model="ruleForm.pzjg"></el-input>
                            </el-form-item>
                        </div>
                        <div class="div8">
                            <el-form-item label="批准文号" prop="pzwh">
                                <el-input v-model="ruleForm.pzwh"></el-input>
                            </el-form-item>
                        </div>
                        <div class="div9">
                            <el-form-item label="表号" prop="bh">
                                <el-input v-model="ruleForm.bh"></el-input>
                            </el-form-item>
                        </div>
                    </el-form>
                </div>
                <table class="table" cellspacing="0" style="margin-top:0;">
                    <thead>
                        <tr>
                            <td width="230">指标名称</td>
                            <td width="120">代码</td>
                            <td width="220">单位</td>
                            <td>数量</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>甲</td>
                            <td>乙</td>
                            <td>丙</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>新增产值</td>
                            <td>01</td>
                            <td>万元</td>
                            <td><input type="text"  /><br /><span>上期值：174.19</span><br /><span>增速：-77.04%</span></td>
                        </tr>
                        <tr>
                            <td>新增研发投入</td>
                            <td>02</td>
                            <td>万元</td>
                            <td><input type="text"  /><br /><span>上期值：62.48</span><br /><span>增速：79.26%</span></td>
                        </tr>
                        <tr>
                            <td>获得专利授权数</td>
                            <td>03</td>
                            <td>个</td>
                            <td><input type="text"  /><br /><span>上期值：0</span></td>
                        </tr>
                        <tr>
                            <td>成果转化数</td>
                            <td>04</td>
                            <td>个</td>
                            <td><input type="text"  /><br /><span>上期值：0</span></td>
                        </tr>
                        <tr>
                            <td>新增产品认证书</td>
                            <td>05</td>
                            <td>个</td>
                            <td><input type="text"  /><br /><span>上期值：0</span></td>
                        </tr>
                        <tr>
                            <td>带动社会资金投入</td>
                            <td>06</td>
                            <td>万元</td>
                            <td><input type="text"  /><br /><span>上期值：0</span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="person">
                    <span>填表人：</span>
                    <div class="tbr"><el-input v-model="input" placeholder="请输入内容"></el-input></div>
                    <span style="margin-left:120px;">备注：</span>
                    <div class="bz"><el-input v-model="input" placeholder="请输入内容"></el-input></div>
                </div>
                <div class="btns">
                    <el-button type="primary">保存</el-button>
                    <el-button type="warning">提交</el-button>
                </div>
            </div>
        </el-dialog>

        <el-dialog
        title="详情"
        :visible.sync="dialogVisibleDetail"
        width="800px"
        :before-close="handleCloseDetail">
            <div class="tjjlEdit">
                <ul class="tab">
                    <li>服务业企业季报</li>
                    <li>创新示范企业季报</li>
                    <li>服务业企业月报</li>
                    <li>工业企业季报</li>
                    <li>工业企业月报</li>
                </ul>
                <div class="tiaobao">
                    <ul class="detail">
                        <li><p class="p1">报表类型:</p><p class="p2">创新示范企业季报</p></li>
                        <li><p class="p1">表  号：</p><p class="p2">海统定基5表</p></li>
                        <li><p class="p1">报表时段：</p><p class="p2">2019年第2季度</p></li>
                        <li><p class="p1">批准机关：</p><p class="p2">国家海洋局</p></li>
                        <li><p class="p1">填报单位：</p><p class="p2">上海彩虹鱼深海装备科技有限公司</p></li>
                        <li><p class="p1">制定机关：</p><p class="p2">国家海洋局</p></li>
                        <li><p class="p1">区域：</p><p class="p2">上海市浦东新区</p></li>
                        <li><p class="p1">批准文号：</p><p class="p2">国统制[2017]120号</p></li>
                        <li><p class="p1">上报时间：</p><p class="p2">有效期至：2019年9月</p></li>
                        <li><p class="p1">有效期至：</p><p class="p2">2019年9月</p></li>
                    </ul>
                </div>
                <table class="table" cellspacing="0" style="margin-top:0;">
                    <thead>
                        <tr>
                            <td width="230">指标名称</td>
                            <td width="120">代码</td>
                            <td width="220">单位</td>
                            <td>数量</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>甲</td>
                            <td>乙</td>
                            <td>丙</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>新增产值</td>
                            <td>01</td>
                            <td>万元</td>
                            <td><input type="text"  /><br /><span>上期值：174.19</span><br /><span>增速：-77.04%</span></td>
                        </tr>
                        <tr>
                            <td>新增研发投入</td>
                            <td>02</td>
                            <td>万元</td>
                            <td><input type="text"  /><br /><span>上期值：62.48</span><br /><span>增速：79.26%</span></td>
                        </tr>
                        <tr>
                            <td>获得专利授权数</td>
                            <td>03</td>
                            <td>个</td>
                            <td><input type="text"  /><br /><span>上期值：0</span></td>
                        </tr>
                        <tr>
                            <td>成果转化数</td>
                            <td>04</td>
                            <td>个</td>
                            <td><input type="text"  /><br /><span>上期值：0</span></td>
                        </tr>
                        <tr>
                            <td>新增产品认证书</td>
                            <td>05</td>
                            <td>个</td>
                            <td><input type="text"  /><br /><span>上期值：0</span></td>
                        </tr>
                        <tr>
                            <td>带动社会资金投入</td>
                            <td>06</td>
                            <td>万元</td>
                            <td><input type="text"  /><br /><span>上期值：0</span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="person">
                    <span>填表人：</span>
                    <div class="tbr"><el-input v-model="input" placeholder="请输入内容"></el-input></div>
                    <span style="margin-left:120px;">备注：</span>
                    <div class="bz"><el-input v-model="input" placeholder="请输入内容"></el-input></div>
                </div>
                <div class="btns">
                    <el-button type="primary">保存</el-button>
                    <el-button type="warning">提交</el-button>
                </div>
            </div>
        </el-dialog>

        <el-dialog
        title="批量导入"
        :visible.sync="dialogVisibleDaoru"
        width="800px"
        :before-close="handleCloseDaoru">
            <div class="tjjlEdit">
                <ul class="tab">
                    <li>服务业企业季报</li>
                    <li>创新示范企业季报</li>
                    <li>服务业企业月报</li>
                    <li>工业企业季报</li>
                    <li>工业企业月报</li>
                </ul>
                <div class="tiaobao">
                    <ul class="detail">
                        <li><p class="p1">报表类型:</p><p class="p2">创新示范企业季报</p></li>
                        <li><p class="p1">表  号：</p><p class="p2">海统定基5表</p></li>
                        <li><p class="p1">报表时段：</p><p class="p2">2019年第2季度</p></li>
                        <li><p class="p1">批准机关：</p><p class="p2">国家海洋局</p></li>
                        <li><p class="p1">填报单位：</p><p class="p2">上海彩虹鱼深海装备科技有限公司</p></li>
                        <li><p class="p1">制定机关：</p><p class="p2">国家海洋局</p></li>
                        <li><p class="p1">区域：</p><p class="p2">上海市浦东新区</p></li>
                        <li><p class="p1">批准文号：</p><p class="p2">国统制[2017]120号</p></li>
                        <li><p class="p1">上报时间：</p><p class="p2">有效期至：2019年9月</p></li>
                        <li><p class="p1">有效期至：</p><p class="p2">2019年9月</p></li>
                    </ul>
                </div>
                <table class="table" cellspacing="0" style="margin-top:0;">
                    <thead>
                        <tr>
                            <td width="230">指标名称</td>
                            <td width="120">代码</td>
                            <td width="220">单位</td>
                            <td>数量</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>甲</td>
                            <td>乙</td>
                            <td>丙</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>新增产值</td>
                            <td>01</td>
                            <td>万元</td>
                            <td><input type="text"  /><br /><span>上期值：174.19</span><br /><span>增速：-77.04%</span></td>
                        </tr>
                        <tr>
                            <td>新增研发投入</td>
                            <td>02</td>
                            <td>万元</td>
                            <td><input type="text"  /><br /><span>上期值：62.48</span><br /><span>增速：79.26%</span></td>
                        </tr>
                        <tr>
                            <td>获得专利授权数</td>
                            <td>03</td>
                            <td>个</td>
                            <td><input type="text"  /><br /><span>上期值：0</span></td>
                        </tr>
                        <tr>
                            <td>成果转化数</td>
                            <td>04</td>
                            <td>个</td>
                            <td><input type="text"  /><br /><span>上期值：0</span></td>
                        </tr>
                        <tr>
                            <td>新增产品认证书</td>
                            <td>05</td>
                            <td>个</td>
                            <td><input type="text"  /><br /><span>上期值：0</span></td>
                        </tr>
                        <tr>
                            <td>带动社会资金投入</td>
                            <td>06</td>
                            <td>万元</td>
                            <td><input type="text"  /><br /><span>上期值：0</span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="person">
                    <span>填表人：</span>
                    <div class="tbr"><el-input v-model="input" placeholder="请输入内容"></el-input></div>
                    <span style="margin-left:120px;">备注：</span>
                    <div class="bz"><el-input v-model="input" placeholder="请输入内容"></el-input></div>
                </div>
                <div class="btns">
                    <el-button type="primary">保存</el-button>
                    <el-button type="warning">提交</el-button>
                </div>
            </div>
        </el-dialog>

    </div>
</template>
<script>
export default {
    data(){
        return{
            valueYear:0,
            valuefenlei:0,
            valueState:0,
            yearList:[
                {
                    id:0,
                    value:0,
                    label:'全部'
                },
                {
                    id:1,
                    value:1,
                    label:'2018'
                },
                {
                    id:2,
                    value:2,
                    label:'2019'
                }
            ],
            fenleiList:[
                {
                    value:0,
                    label:'全部'
                },
                {
                    value:1,
                    label:'服务业企业月报'
                },
                {
                    value:2,
                    label:'服务业企业季报'
                },
                {
                    value:3,
                    label:'工业企业月报'
                },
                {
                    value:4,
                    label:'工业企业季报'
                },
                {
                    value:5,
                    label:'创新示范企业季报'
                },
            ],
            stateList:[
                {
                    value:0,
                    label:'全部'
                },
                {
                    value:1,
                    label:'待提交'
                },
                {
                    value:2,
                    label:'待审批'
                },
                {
                    value:3,
                    label:'审批通过'
                },
                {
                    value:4,
                    label:'被驳回'
                }
            ],
            dialogVisible1:false,
            dialogVisibleEdit:false,
            dialogVisibleDetail:false,
            dialogVisibleDaoru:false,
            ruleForm:{
                name:'',
                area:'',
                year:'',
                jidu:'',
                tbdw:'',
                zdjg:'',
                date1:'',
                date2:'',
                pzjg:'',
                pzwh:'',
            },
            rules: {
                name: [
                    { required: true, message: '请输入活动名称', trigger: 'blur' },
                ],
                year:[
                    {required: true, message: '请选择报表年份', trigger: 'blur' }
                ],
                jidu:[
                    {required: true, message: '请选择报表季度', trigger: 'blur'}
                ],
                tbdw:[
                    {required: true, message: '请选择填报单位', trigger: 'blur'}
                ],
                date1:[
                    {required: true, message: '请选择上报时间', trigger: 'blur'}
                ],
                date2:[
                    {required: true, message: '请选择有效期', trigger: 'blur'}
                ]
            },
            sbsj:'',
        }
    },
    methods: {
        handleClose(){
            this.dialogVisible1 = false;
        },
        edit(){
            this.dialogVisibleEdit = true;
        },
        handleCloseEdit(){
            this.dialogVisibleEdit = false;
        },
        detail(){
            this.dialogVisibleDetail = true;
        },
        handleCloseDetail(){
            this.dialogVisibleDetail = false;
        },
        handleCloseDaoru(){
            this.dialogVisibleDaoru = false;
        }
    },
}
</script>
<style lang="less" scoped>
    .title{
        width:100%;
        margin-top:20px;
        .addRecord,.tijiaoTime,.year,.fenlei,.state,.query,.import{
            display:inline-block;
        }
        .tijiaoTime{
            margin-left:20px;
        }
        .year{
            margin-left:20px;
        }
        .fenlei{
            margin-left:20px;
        }
        .state{
            margin-left:20px;
        }
        .query{
            margin-left:20px;
        }
    }
    .table{
        margin-top:20px;
        tr{
            background:#a5a5cf;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:50px;
                border:1px solid #eeeeee;
                border-right:0;
                border-bottom:0;
                color:#ffffff;
                font-size:16px;
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:14px;
                    color:#606266;
                    span{
                        margin-right:10px;
                        &.shz,&.edit{
                            color:#ff9c17;
                        }
                        &.shtg,&.commit{
                            color:#91cc91;
                        }
                        &.dtj,&.detail{
                            color:#3366ff;
                        }
                        /deep/.el-button{
                            color:red;
                        }
                    }
                }
            }
        }
    }
    .tjjl,.tjjlEdit{
        width:100%;
        height:auto;
        .tab{
            width:100%;
            height:40px;
            li{
                float:left;
                width:142px;
                height:100%;
                line-height:40px;
                text-align:center;
                color:#a7a7a7;
                cursor:pointer;
                border:1px solid #f1f1f1;
                margin-right:10px;
            }
        }
        .detail{
            width:100%;
            height:auto;
            margin-top:20px;
            li{
                float:left;
                width:358px;
                height:40px;
                font-size:14px;
                line-height:14px;
                &:nth-child(2n){
                    margin-left:40px;
                }
                .p1{
                    float:left;
                    width:40%;
                    padding-left:20px;
                }
            }
        }
        .tiaobao{
            margin-top:10px;
            .div1,.div7,.div9{
                display:inline-block;
                width:355px;
            }
            .div2,.div8{
                display:inline-block;
                width:350px;
                margin-left:20px;
                /deep/.el-select{
                    width:250px;
                }
            }
            .div3,.div5{
                display:inline-block;
                width:356px;
                /deep/.el-select{
                    width:256px;
                }
            }
            .div5{
                /deep/.el-date-editor.el-input, .el-date-editor.el-input__inner{
                    width:256px;
                }
            }
            .div4,.div6{
                display:inline-block;
                width:350px;
                margin-left:20px;
                /deep/.el-select{
                    width:251px;
                }
            }
        }
        .person{
            height:36px;
            margin-top:20px;
            .tbr{
                display:inline-block;
                width:256px;
            }
            .bz{
                display:inline-block;
                width:256px;
            }
        }
        .btns{
            margin-top:20px;
            text-align:center;
        }
    }
    /deep/.el-button{
        padding: 10px 20px;
    }
    /deep/.el-date-editor.el-input, .el-date-editor.el-input__inner{
        width:180px;
    }
    /deep/.el-input__inner{
        height:36px;
    }
    /deep/.el-select{
        width:180px;
    }
    /deep/.el-dialog__body{
        padding-top:10px;
    }
    /deep/.el-dialog__header{
        background:#a5a5cf;
    }
    /deep/.el-dialog__title{
        color:#ffffff;
    }
</style>
