<template>
    <div>
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >数据管理</el-breadcrumb-item>
                <el-breadcrumb-item >在线填报</el-breadcrumb-item>
                <el-breadcrumb-item>填报项目进度</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="processData clear">
            <div class="left">
                <el-tabs v-model="activeName">
                    <el-tab-pane label="需填写进度项目" name="first">
                        <ul class="own">
                            <li v-for="item in xtxjdList" :key="item.index" >
                                <p class="title">{{item.projectName}}</p>
                                <p class="jieduan">项目阶段：{{item.projectStage}}</p>
                                <p class="time" style="display: flex;justify-content: space-between;align-items: center">
                                    <span>考核时间：{{item.assessTime}}</span>
<!--                                    <el-button v-if="false" type="primary" @click="shouquan(item)">授权给平台填写</el-button>-->
                                    <el-button style="float: right" type="primary" plain @click="zjtx(item)">企业上报</el-button>
                                </p>
                            </li>
                            <li v-if="xtxjdList.length == 0" style="line-height:100px;">暂无需要填写的项目</li>
                        </ul>
                    </el-tab-pane>
                    <el-tab-pane label="授权给平台填写" name="second" v-if="false">
                        <ul class="other">
                            <li v-for="item in sqptList" :key="item.index" >
                                <p class="title"><i class="i1" v-if="item.writeState == 0">未填写</i><i class="i2" v-if="item.writeState == 2">已填写</i><i class="i2" v-if="item.writeState == 1">填写中</i>{{item.projectName}}</p>
                                <p class="fuzeren">项目阶段：{{item.projectStage}}</p>
                                <p class="time">考核时间：{{item.assessTime}}</p>
                            </li>
                            <li v-if="sqptList.length == 0" style="line-height:100px;">暂无授权给企业填写的项目</li>
                        </ul>
                    </el-tab-pane>
                </el-tabs>

            </div>
            <div class="right">
                <div class="title">
                    <div class="progress_title">项目进度列表</div>
                    <!-- <div class="addRecord" @click="dialogVisibleAdd = true"><el-button type="warning">进度汇报</el-button></div> -->
                    <el-form inline label-width="100px">
                        <el-form-item label="项目状态：">
                            <el-select v-model="valueState" placeholder="请选择">
                                <el-option
                                    v-for="item in stateList"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="项目类型：">
                            <el-select v-model="valuefenlei" placeholder="请选择">
                                <el-option
                                    v-for="item in fenleiList"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                            <div class="query"><el-button size="small" type="primary" @click="search">搜索</el-button></div>
                        </el-form-item>
                    </el-form>
                    <!-- <span class="download"><el-button type="text">模板下载</el-button></span>
                    <div class="import"><el-button type="warning" @click="importAll">批量导入</el-button></div> -->

                    <div class="table">
                        <el-table
                            :data="tableData"
                            stripe
                            tooltip-effect="dark"
                            style="width: 100%"
                            >
                            <el-table-column
                                align="center"
                                prop="projectName"
                                width="300"
                                show-overflow-tooltip
                                label="项目名称">
                                <template slot-scope="scope">
                                    <span style="color:#409EFF;cursor:pointer;" @click="details(scope.row)">{{scope.row.projectName}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="projectStage"
                                width="120"
                                align="center"
                                label="项目阶段"/>
                            <el-table-column
                                prop="completeRate"
                                align="center"
                                width="120"
                                label="项目完成度(%)"/>
                            <el-table-column
                                prop="projectStartDate"
                                width="120"
                                align="center"
                                label="项目开始年月"/>
                            <el-table-column
                                prop="projectEndDate"
                                align="center"
                                width="120"
                                label="项目结束年月"/>
                            <el-table-column
                                prop="submitTime"
                                align="center"
                                width="180"
                                label="操作时间"/>
                            <el-table-column
                                prop="reportState"
                                align="center"
                                width="80"
                                label="状态" />
                            <el-table-column
                                align="center"
                                prop="reportState"
                                width="180"
                                fixed="right"
                                label="操作"
                                show-overflow-tooltip>
                                <template slot-scope="scope">
                                    <el-button type="warning" size="mini" @click="details(scope.row)">详情</el-button>
                                    <el-button type="danger" size="mini" v-if="scope.row.reportState == '审核驳回'"  @click="update(scope.row)">修改</el-button>

                                    <el-button type="primary" size="mini" v-if="scope.row.reportState == '待提交'" @click="update(scope.row)">编辑</el-button>

                                    <el-tooltip class="item" effect="dark" :content="scope.row.returnReason" placement="bottom">
                                        <el-button
                                         size="mini"
                                        v-if="scope.row.reportState == '审核驳回'"
                                        type="info">
                                            原因
                                        </el-button>
                                    </el-tooltip>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div style="text-align: center;margin-top: 20px">
                            <el-pagination
                                background
                                layout="prev, pager, next"
                                :page-size="10"
                                :current-page="1"
                                :total="4"
                                hide-on-single-page
                                @current-change="currentChange"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <el-dialog
            title="批量导入"
            width="450px"
            :visible.sync="dialogVisibleDaoru"
            :before-close="handleCloseDaoru">
            <div class="pldr clear">
                <p><span style="line-height:40px;float:left;height:40px;">选择文件：</span><span style="float:left;width:150px;height:28px;border:none;background:none;border:1px solid #eeeeee;margin-top:6px;border-radius:5px;"></span><input type="file" id="upfile" hidden/>
                <label for="upfile" style="float:left;margin-left:10px;width:80px;height:40px;text-align:center;line-height:40px;background:#eeeeee;cursor:pointer;">浏览</label></p>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisibleDaoru = false">取 消</el-button>
                <el-button type="primary" @click="sureDaoru">确 定</el-button>
            </span>
        </el-dialog>


    </div>
</template>
<script>
export default {
    data(){
        return{
            activeName:'first',
            valuefenlei:"",
            valueState:"",
            tjsjStartDate:'',//提交时间-开始时间
            tjsjEndDate:'',//提交时间-结束时间
            fenleiList:[
                {
                    value:"",
                    label:'全部'
                },
                {
                    value:"第一年度考核",
                    label:'第一年度考核'
                },
                {
                    value:"中期考核",
                    label:'中期考核'
                },
                {
                    value:"最终验收",
                    label:'最终验收'
                },
            ],
            stateList:[
                {
                    value:"",
                    label:'全部'
                },
                {
                    value:0,
                    label:'待提交'
                },
                {
                    value:1,
                    label:'待审核'
                },
                {
                    value:2,
                    label:'审核通过'
                },
                {
                    value:3,
                    label:'驳回'
                }
            ],
            dialogVisibleDaoru:false,
            xtxjdList:[],//需填写项目进度列表
            sqptList:[],//授权给企业填写列表
            pageIndex:1,
            tableData:[],
        }
    },
    methods: {
        getProject(){
            let _this = this;
            let param = {};
            this.$post('/ProccesForCompanyController/getAuthorizeRecordList',{type:0}).then(function(res){
                // console.log(res);
                _this.xtxjdList = res.data.resultData;
            });
            this.$post('/ProccesForCompanyController/getAuthorizeRecordList',{type:1}).then(function(res){
                _this.sqptList = res.data.resultData;
            });

        },
        query(){
            let _this = this;
            let param = {};
            param.pageIndex = this.pageIndex;
            param.projectStage = this.valuefenlei;
            param.reportState = this.valueState
            this.$post('/ProccesForCompanyController/getProccesReportList',param).then(function(res){
                    _this.tableData = res.data.resultData.records;
                    for(let i = 0;i<_this.tableData.length;i++){
                        _this.tableData[i].completeRate = Number(_this.tableData[i].completeRate).toFixed(2)+'%';
                    }

            });
        },
        handleCloseDaoru(){
            this.dialogVisibleDaoru = false;
        },
        sureDaoru(){
            this.$message({
                message: '提交成功',
                type: 'success',
                duration:1000
            });
            this.dialogVisibleDaoru = false;
        },
        zjtx(obj){//插入
            this.$router.push({path:'/dataManage/zjtx',query:
            { projectId:obj.projectId,projectStage:obj.projectStage,type:0,projectName:obj.projectName,projectCompany:obj.projectCompany}});
        },
        details(obj){//详情
            this.$router.push({path:'/dataManage/zjtx',query:
            { projectId:obj.projectId,projectStage:obj.projectStage,type:1,reportId:obj.reportId,projectName:obj.projectName,projectCompany:obj.projectCompany,name: '填报项目进度'}});
        },
        update(obj){//编辑
            // alert('暂未开放编辑入口，请稍后...');
            this.$router.push({path:'/dataManage/zjtx',query:
            { projectId:obj.projectId,projectStage:obj.projectStage,type:2,reportId:obj.reportId,projectName:obj.projectName,projectCompany:obj.projectCompany}});
        },
        importAll(){//批量导入
            this.dialogVisibleDaoru = true;
        },
        shouquan(obj){
            let _this = this;
            let param = {};
            param.projectId = obj.projectId;
            // param.projectName = obj.projectName;
            param.projectStage = obj.projectStage;
            this.$post('/ProccesForCompanyController/authorizeToPlateform',param).then(function(res){
                if(res.data.success){
                    _this.$message({
                        message: '授权成功',
                        type: 'success',
                        duration:1000
                    });
                    _this.getProject();
                }else{
                    _this.$message(res.data.errorMsg);
                }
            });
        }
    },
    mounted(){
        this.getProject();
        this.query();
    }
}
</script>
<style lang="less" scoped>
    /deep/ .el-form-item{
        margin-bottom: 0;
    }
    .sider{
        height:50px;
        padding-left: 30px;
        /deep/.el-breadcrumb {
            line-height: 50px;
        }
        position:fixed;
        top: 0;
        z-index:999;
    }
    .processData{
        padding: 20px;
        .left{
            float:left;
            width:30%;
            padding:10px 20px;
            border:1px solid #F5F5F5;
            /deep/ .el-tabs__header {
                margin: 0;
            }
            /deep/ .el-tabs__item {
                font-size: 16px;
                line-height: normal;
            }
            /deep/.el-tabs__nav-wrap::after {
                height: 1px;
            }
            ul.own{
                width:100%;
                height:auto;
                li{
                    font-size: 14px;
                    padding:10px 0px;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.117647058);
                    margin-top:24px;
                    /deep/.el-button--danger, .el-button--default, .el-button--primary, .el-button--warning{
                        line-height:14px;
                    }
                    p{
                        margin-top: 5px;
                        &:first-of-type{
                            margin-top: 0;
                        }
                    }
                }
                .title{
                    line-height:28px;
                    font-size:16px;
                    color:#409EFF;
                    font-style: normal;
                    width: 86%;
                    display: block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .desc{
                    float:left;
                    /*width:150px;*/
                    font-size:14px;
                    line-height:24px;
                    margin-top:15px;
                }
                .btns{
                    float:right;
                    margin-top:22px;
                    /deep/.el-button{
                        padding: 10px 10px;
                        font-weight: normal;
                    }
                }
            }
            ul.other{
                width:100%;
                height:auto;
                li{
                    padding:20px 0;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.117647058);
                    margin-top:24px;
                }
                .btns{
                    margin-top:20px;
                    /deep/.el-button{
                        padding: 10px 10px;
                        font-weight: normal;
                    }
                }
                .title{
                    line-height:28px;
                    font-size:16px;
                    color:#409EFF;
                    i{
                        font-style:normal;
                        display:inline-block;
                        padding: 0 5px;
                        font-size: 14px;
                        text-align:center;
                        background-color: rgba(242, 111, 107, 1);
                        color:#fff;
                        border-radius:3px;
                        margin-right:8px;
                    }
                    .i1{
                        background-color: rgba(242, 111, 107, 1);
                    }
                    .i2{
                        background-color: rgba(115, 195, 75, 1);
                    }
                }
                .fuzeren,.time{
                    margin-top:10px;
                    font-size:14px;
                }
            }

        }
        .right{
            width: 68%;
            margin-left:20px;
            border:1px solid #F5F5F5;
            .title{
                width:100%;
                .progress_title {
                    height: 50px;
                    line-height: 40px;
                    margin-left: 20px;
                    font-size: 16px;
                    font-weight: 500;
                    border-bottom: 1px solid #E4E7ED;
                }
                .el-form{
                    padding: 6px 0;
                }
                .addRecord,.tijiaoTime,.year,.fenlei,.state,.query,.import{
                    display:inline-block;
                }
                .year{
                    margin-left:20px;
                }
                .fenlei{
                    margin-left:20px;
                }
                .state{
                    margin-left:20px;
                }
                .query{
                    margin-left:20px;
                    /deep/ .el-button {
                        font-weight: normal;
                    }
                }
            }

        }
    }
    .pldr{
        margin-top:20px;
        margin-left:10px;
        text-align:left;
        text-decoration:line-through;
        margin-left:10px;
        margin-right:40px;
        color:right
    }
    /deep/.el-date-editor.el-input, .el-date-editor.el-input__inner{
        width:180px;
    }
    /deep/.el-input__inner{
        height:36px;
    }
    /deep/.el-select{
        width:180px;
    }
    /deep/.el-dialog__body{
        padding-top:10px;
    }
    /deep/.el-dialog__header{
        background:#a5a5cf;
    }
    /deep/.el-dialog__title{
        color:#ffffff;
    }
    /deep/.el-dialog__footer{
        text-align:center;
    }
    /deep/.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover{
        font-size:16px;
        font-weight:bold;
    }
    /deep/.el-breadcrumb__inner{
        position:relative;
        z-index:333;
    }
</style>
