<template>
    <div style="padding-bottom:100px;">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >在线填报</el-breadcrumb-item>
                <el-breadcrumb-item>验收资料审批</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="sp">
            <div class="part1 clear">
                <div class="left">
                    <label for="hx" class="hx">点击选择文件</label>
                    <input type="file" id="hx" hidden />
                    <p class="p1">请上传验收所需的资料，最大支持3M，</p>
                    <p class="p2">支持拓展名：rar，zip，doc，docx，pdf，jpg</p>
                </div>
                <div class="right">
                    <p class="title">已上传的文件：<span style="color:#91cc91;" v-show="zt">（审核状态：审核中）</span></p>
                    <ul>
                        <li class="clear">
                            <span class="span1">2019年财务报表.xls</span>
                            <span class="span2">x</span>
                        </li>
                        <li class="clear">
                            <span class="span1">项目总结报告.pdf</span>
                            <span class="span2">x</span>
                        </li>
                        <li class="clear">
                            <span class="span1">项目资金使用情况.pdf</span>
                            <span class="span2">x</span>
                        </li>
                    </ul>
                </div>
            </div>
            <table class="table" cellspacing="0">
                <tr>
                    <td width="200">序号</td>
                    <td width="400">验收材料名称</td>
                    <td width="900">具体说明</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>项目工作总结</td>
                    <td><textarea v-model="xmgzzj"></textarea></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>项目资金使用情况表</td>
                    <td><textarea v-model="xmzjqksyb"></textarea></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>财务报表</td>
                    <td><textarea v-model="cwbb"></textarea></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>其他附件</td>
                    <td><textarea v-model="qtfj"></textarea></td>
                </tr>
            </table>
        </div>
        <div class="btns"><el-button type="primary" @click="tjzl">提交资料</el-button></div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            xmgzzj:'建设内容和总图目标完成情况：包括建设，地点，建设内容，建设规模，建设标准，建设工期等是否按项目批复要求执行。',
            xmzjqksyb:'项目资金筹措、到位、管理等情况：包括市财政资金、区县配套资金及自筹资金到位情况，项目\
            资金使用及管理情况等。（附批复数、到位数、执行数、支付数情况）',
            cwbb:'包括资金使用明细表，票据，资金来源及划拨凭证，管理费支付票据；',
            qtfj:'例：中期考核报告，项目合同，项目批复文件等。',
            zt:false
        }
    },
    methods: {
        tjzl(){
            // this.$router.push({ path: '/commom/siderQY'})
            this.zt = true;
        }
    },
}
</script>
<style lang="less" scoped>
    .sp{
        width:100%;
        height:auto;
        .part1{
            width:100%;
            height:auto;
            margin-top:40px;
            .left{
                width:600px;
                height:250px;
                margin-left:150px;
                border:1px dashed #cccccc;
                padding-top:60px;
                .hx{
                    display:block;
                    width:200px;
                    height:50px;
                    background:#6666cc;
                    border-radius:5px;
                    margin:0 auto;
                    color:#ffffff;
                    line-height:50px;
                    text-align:center;
                    cursor:pointer;
                }
                .p1{
                    text-align:center;
                    margin-top:20px;
                    font-size:14px;
                    color:#333333;
                }
                .p2{
                    text-align:center;
                    margin-top:10px;
                    color:#333333;
                }
            }
            .right{
                width:500px;
                height:250px;
                margin-right:350px;
                .title{
                    font-size:20px;
                }
                ul{
                    padding-left:20px;
                    margin-top:10px;
                    li{
                        line-height:30px;
                        color:#333333;
                        .span1{
                            float:left;
                        }
                        .span2{
                            float:right;
                            cursor:pointer;
                        }
                    }
                }
            }
        }
    }
    .table{
        margin-top:40px;
        margin-left:150px;
        margin-right:150px;
        border-top:1px solid #333333;
        border-right:1px solid #333333;
        tr{
            height:80px;

        }
        td{
            text-align:center;
            border:1px solid #333333;
            padding:10px;
            border-top:none;
            border-right:none;
            line-height:40px;
            color:#333333;
            background:#f1f1f1;
            textarea{
                width:100%;
                height:100%;
                border:none;
                resize:none;
                padding:10px;
                background:#f1f1f1;
            }
        }
    }
    .btns{
        text-align:center;
        margin-top:30px;
    }
</style>
