<template>
    <div>
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item>在线填报</el-breadcrumb-item>
                <el-breadcrumb-item>区域绩效考核目标</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="title">
            <!-- <div class="addRecord" @click="dialogVisibleAdd = true"><el-button type="warning" @click="cjxm">添加记录</el-button></div> -->
            <div class="tijiaoTime">
                <span>提交时间：</span>
                <el-date-picker
                v-model="tjsjStartDate"
                type="date"
                placeholder="选择日期">
                </el-date-picker>
                <span>至</span>
                <el-date-picker
                v-model="tjsjEndDate"
                type="date"
                placeholder="选择日期">
                </el-date-picker>
            </div>
            <div class="year">
                <span>阶段：</span>
                <el-select v-model="valueYear" placeholder="请选择">
                    <el-option
                    v-for="item in yearList"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div class="state">
                <span>状态：</span>
                <el-select v-model="valueState" placeholder="请选择">
                    <el-option
                    v-for="item in stateList"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div class="query"><el-button type="primary">查询</el-button></div>
            <span class="download"><el-button type="text">模板下载</el-button></span>
            <div class="import"><el-button type="warning" @click="importAll">批量导入</el-button></div>
            <div class="table" >
                <table cellspacing="0">
                    <thead>
                        <tr>
                            <td rowspan="2" width="50">序号</td>
                            <td rowspan="2" width="80">时段</td>
                            <td rowspan="2" width="80">区域</td>
                            <td rowspan="2" width="100">项目类型</td>
                            <td rowspan="2" width="100">填报部门</td>
                            <td colspan="3" width="450">年度金额</td>
                            <td rowspan="2" width="150">年度目标</td>
                            <td rowspan="2" width="150">提交日期</td>
                            <td rowspan="2" width="150">状态</td>
                            <td rowspan="2" width="200">操作</td>
                        </tr>
                        <tr>
                            <td>合计</td>
                            <td>中央</td>
                            <td>地方</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2017-2019年度</td>
                            <td>上海</td>
                            <td>十二五</td>
                            <td>上海市浦东新区海洋局</td>
                            <td>12708</td>
                            <td>6646</td>
                            <td>6065</td>
                            <td>共计实现产值约12亿元，利润余1亿元；新增出口额约2.6亿元...</td>
                            <td>2019-09-01</td>
                            <td>
                                <span style="color:#fc774b;">审核中</span>
                            </td>
                            <td>
                                <span style="color:#6677d0;">详情</span>
                                <span style="color:#3fcd74;">通过</span>
                                <span style="color:red;">驳回</span>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>2017-2019年度</td>
                            <td>上海</td>
                            <td>十二五</td>
                            <td>上海市浦东新区海洋局</td>
                            <td>12708</td>
                            <td>6646</td>
                            <td>6065</td>
                            <td>共计实现产值约12亿元，利润余1亿元；新增出口额约2.6亿元...</td>
                            <td>2019-09-01</td>
                            <td>
                                <span style="color:#fc774b;">审核通过</span>
                            </td>
                            <td>
                                <span style="color:#6677d0;">详情</span>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>2017-2019年度</td>
                            <td>上海</td>
                            <td>十二五</td>
                            <td>上海市浦东新区海洋局</td>
                            <td>12708</td>
                            <td>6646</td>
                            <td>6065</td>
                            <td>共计实现产值约12亿元，利润余1亿元；新增出口额约2.6亿元...</td>
                            <td>2019-09-01</td>
                            <td>
                                <span style="color:red;">驳回</span>
                            </td>
                            <td>
                                <span style="color:#6677d0;">详情</span>
                                <span style="color:red;">查看驳回原因</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</template>
<script>
export default {
    data(){
        return{
            dialogVisibleAdd:false,
            tjsjStartDate:'2013-05-08',
            tjsjEndDate:'2013-06-08',
            valueYear:0,
            yearList:[
                {
                    label:'全部',
                    value:0
                },
                {
                    label:'年度',
                    value:1
                },
                {
                    label:'月度',
                    value:2
                },
                {
                    label:'季度',
                    value:3
                },
                {
                    label:'中期验收',
                    value:4
                },
                {
                    label:'最终验收',
                    value:5
                }
            ],
            valueState:0,
            stateList:[
                {
                    label:'全部',
                    value:0
                },
                {
                    label:'待提交',
                    value:1
                },
                {
                    label:'待审核',
                    value:2
                },
                {
                    label:'审核通过',
                    value:3
                },
                {
                    label:'驳回',
                    value:4
                }
            ],
        }
    }
}
</script>
<style lang="less" scoped>
    .title{
        width:100%;
        margin-top:20px;
        .addRecord,.tijiaoTime,.year,.fenlei,.state,.query,.import{
            display:inline-block;
        }
        .tijiaoTime{
            margin-left:20px;
        }
        .year{
            margin-left:20px;
        }
        .fenlei{
            margin-left:20px;
        }
        .state{
            margin-left:20px;
        }
        .query{
            margin-left:20px;
        }
    }
    .table{
        margin-top:20px;
        tr{
            background:#a5a5cf;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:50px;
                border:1px solid #eeeeee;
                border-right:0;
                border-bottom:0;
                color:#ffffff;
                font-size:16px;
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:14px;
                    color:#606266;
                    span{
                        margin-right:10px;
                        &.shz,&.edit{
                            color:#ff9c17;
                            cursor:pointer;
                        }
                        &.shtg,&.commit{
                            color:#91cc91;
                            cursor:pointer;
                        }
                        &.dtj,&.detail{
                            color:#3366ff;
                            cursor:pointer;
                        }
                        /deep/.el-button{
                            color:red;
                        }
                    }
                }
            }
        }
    }
</style>
