<template>
    <div>
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >数据管理</el-breadcrumb-item>
                <el-breadcrumb-item :to="{ path: '/dataManage/qysqgl' }">企业授权管理</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="con">
            <p>所有授权列表</p>
            <el-table
                :data="tableData"
                style="width: 100%"
                height="">
                <el-table-column
                fixed
                prop="projectCompany"
                label="单位名称"
                width="">
                </el-table-column>
                <el-table-column
                prop="writeState"
                label="授权状态"
                width="">
                <template slot-scope="scope">
                    <span v-if="scope" class="ysq">已授权</span>
                    <!-- <el-button v-if="scope" type="primary" round>已授权</el-button> -->
                </template>
                </el-table-column>
                <el-table-column
                prop="projectName"
                label="项目名称"
                width="">
                </el-table-column>
                <el-table-column
                prop="projectStage"
                label="项目阶段"
                width="">
                </el-table-column>
                <el-table-column
                prop="address"
                label="授权内容"
                width="">
                <template slot-scope="scope">
                    <span v-if="scope">进度汇报</span>
                </template>
                </el-table-column>
                <el-table-column
                prop="authorizeTime"
                label="授权时间"
                width="">
                </el-table-column>
                <el-table-column
                label="操作"
                width="">
                <template slot-scope="scope">
                    <el-button type="text" @click="txxmjd(scope.row)" v-if="scope.row.writeState == 0">填写项目进度</el-button>
                    <el-button type="text" @click="edit(scope.row)" v-if="scope.row.writeState == 1">编辑</el-button>
                    <el-button type="text" @click="detail(scope.row)" v-if="scope.row.writeState == 1||scope.row.writeState == 2">详情</el-button>
                </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
</template>
<script>
export default{
    data(){
        return{
            tableData:[],
            pageIndex:1,
        }
    },
    methods:{
        getList(){
            let _this = this;
            let param = {};
            param.pageIndex = this.pageIndex;
            param.projectName = '';
            this.$post('/ProccesForManagerController/getAuthorizeList',param).then(function(res){
                _this.tableData = res.data.resultData.records;
            });
        },
        txxmjd(obj){
            this.$router.push({path:'/dataManage/zjtx',query:
            { projectId:obj.projectId,projectStage:obj.projectStage,type:0,reportId:obj.reportId,projectName:obj.projectName,projectCompany:obj.projectCompany}});
        },
        edit(obj){
            this.$router.push({path:'/dataManage/zjtx',query:
            { projectId:obj.projectId,projectStage:obj.projectStage,type:2,reportId:obj.reportId,projectName:obj.projectName,projectCompany:obj.projectCompany}});
        },
        detail(obj){
            this.$router.push({path:'/dataManage/zjtx',query:
            { projectId:obj.projectId,projectStage:obj.projectStage,type:1,reportId:obj.reportId,projectName:obj.projectName,projectCompany:obj.projectCompany}});
        }
    },
    mounted(){
        this.getList();
    }
}
</script>

<style lang="less" scoped>
    .sider{
        position:fixed;
        top:0px;
        z-index:999;
        height: 50px;
        padding-left: 20px;
        /deep/.el-breadcrumb {
            line-height: 50px;
        }

    }
    .con{
        padding-left:20px;
        padding-right:20px;
        p{
            padding: 25px 0 15px;
            font-size: 18px;
            color: #0089F3;
            font-weight: 600;
        }
    }
    .ysq{
        display:inline-block;
        width:60px;
        height:26px;
        border:1px solid #409EFF;
        color:#409EFF;
        line-height:26px;
        border-radius:13px;
        text-align:center;
    }
    /deep/.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover{
        font-size:16px;
        font-weight:bold;
    }
    /deep/.el-breadcrumb__inner{
        position:relative;
        z-index:333;
    }
</style>
