<template>
    <section style="height:100vh;overflow-y:auto;">
        <div class="wjgl-wrap">
            <div class="sider">
                <el-breadcrumb >
                    <el-breadcrumb-item style="cursor: pointer" @click.native="goBack" >数据管理</el-breadcrumb-item>
                    <el-breadcrumb-item>在线填报</el-breadcrumb-item>
                    <el-breadcrumb-item>文件管理</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="wjgl">
                <div class="scpjcl">
                    <el-table
                    :data="tableDataCompany"
                    style="width: 100%">
                        <el-table-column
                            prop="area"
                            label="项目名称"
                            width="580">
                            <template slot-scope="scope">
                                <i class="el-icon-folder" style="font-size:16px;color:#ffcc66;"></i>
                                <span>{{scope.row.area}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                            prop="fileName"
                            label="评价阶段"
                            width="280">
                            <template slot-scope="scope">
                                <span>{{scope.row.fileName}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                            prop="fileState"
                            label="上传材料状态">
                            <template slot-scope="scope">
                                <span v-if="scope.row.fileup">已上传</span>
                                <span v-if="!scope.row.fileup" style="color:red;">未上传</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                            prop="fileState"
                            label="审核状态">
                            <template slot-scope="scope">
                                <span v-if="scope.row.reportState == 0">未提交</span>
                                <span v-if="scope.row.reportState == 1">待审核</span>
                                <span v-if="scope.row.reportState == 2">审核通过</span>
                                <span v-if="scope.row.reportState == 3">驳回</span>
                                <!-- <el-tooltip class="item" effect="dark" content="信息填写不全" placement="top">
                                    <span v-if="!scope.row.fileState" style="color:red;">驳回</span>
                                </el-tooltip> -->
                            </template>
                        </el-table-column>
                        <el-table-column
                            label="操作">
                            <template slot-scope="scope">
                                <i class="el-icon-upload" style="font-size:24px;color:#108DE9" v-if="!scope.row.fileup" @click="checkFile(scope.row)"></i>
                                <i class="el-icon-tickets" style="font-size:24px;color:#108DE9" v-if="scope.row.fileup" @click="sfclFn(scope.row)"></i>
                                <!-- <i class="el-icon-tickets" style="font-size:24px;color:#108DE9" @click="ckclpopFn2"></i> -->
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </div>
        </div>
        <el-dialog
        title="查看材料"
        :visible.sync="ckclpop"
        width="40%"
        :before-close="handleClose">
            <div class="clList">
                <ul v-for="item in fileList2" :key="item">
                    <li style="margin-top:15px;height:32px;"><i class="el-icon-document"></i> {{item.fileName}} <el-button type="primary" plain style="float:right;" @click="download(item)">下载</el-button></li>
                </ul>
            </div>
        <span slot="footer" class="dialog-footer">
            <el-button @click="ckclpop = false">取 消</el-button>
            <el-button type="primary" @click="ckclpop = false">确 定</el-button>
        </span>
        </el-dialog>


        <el-dialog
        title="上传材料"
        :visible.sync="ckclpop2"
        width="40%"
        :before-close="handleClose">
            <div class="clList" style="text-align:center;">
                <el-upload
                class="upload-demo"
                drag
                :action=uploadUrl
                :on-success="ckclpop2Success"
                :http-request="UploadImage"
                :show-file-list="false"
                multiple>
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">
                        将文件拖到此处，或<em>点击上传</em><br/>
                        <span style="font-size:12px;color:#a1a1a1;margin-top:16px;">提示：可上传附件项目考核/项目有关技术报告或工作报告</span></div>
                    <!-- <div class="el-upload__tip" slot="tip">提示：可上传附件项目考核/项目有关技术报告或工作报告</div> -->
                </el-upload>
                <ul class="uploadList">
                    <li v-for="item in fileList2" :key="item.index">
                        <span class="span1">
                            <i class="el-icon-tickets" style="font-size:20px;color:#108DE9"></i>
                            {{item.fileName}}
                        </span>
                        <span class="span2" @click="deleteFile(item)">
                            <i class="el-icon-close"></i>
                        </span>
                    </li>
                </ul>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="ckclpop2 = false">取 消</el-button>
                <el-button type="primary" @click="ckclpop2 = false">确 定</el-button>
            </span>
        </el-dialog>
    </section>
</template>
<script>
import global from '../common/common';
export default {
    data(){
        return{
            uploadUrl:global.httpUpload+'uploadFile',
            ckclpop:false,
            ckclpop2:false,
            tableDataCompany:[
                {
                    id:10,
                    area:'“十三五”海洋经济创新发展示范项目中期考核技术报告',
                    fileName:'中期考核',
                    fileState:false,
                    fileup:false,
                    reportState:'',
                    mark:'中期考核技术报告'
                },
                {
                    id:11,
                    area:'智能立体的海底科学观测网产业化中期考核报告',
                    fileName:'中期考核',
                    fileState:false,
                    fileup:false,
                    reportState:'',
                    mark:'中期考核报告'
                },
                {
                    id:12,
                    area:'智能立体的海底科学观测网产业化最终验收技术报告',
                    fileName:'最终验收',
                    fileState:false,
                    fileup:false,
                    reportState:'',
                    mark:'最终验收技术报告'
                },
                {
                    id:13,
                    area:'智能立体的海底科学观测网产业化最终验收报告',
                    fileName:'最终验收',
                    fileState:false,
                    fileup:false,
                    reportState:'',
                    mark:'最终验收报告'
                }
            ],
            cities:[
                {
                    id:1,
                    reportName:'报告1.doc'
                },
                {
                    id:2,
                    reportName:'报告2.doc'
                },
                {
                    id:3,
                    reportName:'报告3.doc'
                },
            ],
            curRow:{},
            fileList2:[],
            userMessage:{},
            projectId:'',
            projectName:'',
            resultData:{}
        }
    },
    methods: {
        getIsCheck(){
            let _this = this;
            this.$post('/fileList',{}).then(function(res){
                _this.projectId = res.data.resultData.projectId;
                _this.projectName = res.data.resultData.projectName;
                _this.resultData = res.data.resultData;
                if(_this.resultData.midAccessTechnology.filePOList.length>0){
                    _this.tableDataCompany[0].fileup = true;
                    _this.tableDataCompany[0].reportState = _this.resultData.midAccessTechnology.filePOList[0].examineStatus;
                }else{
                    _this.tableDataCompany[0].fileup = false;
                    _this.tableDataCompany[0].reportState = 0;
                }
                if(_this.resultData.midAccess.filePOList.length>0){
                    _this.tableDataCompany[1].fileup = true;
                    _this.tableDataCompany[1].reportState = _this.resultData.midAccess.filePOList[0].examineStatus;
                }else{
                    _this.tableDataCompany[1].fileup = false;
                    _this.tableDataCompany[1].reportState = 0;
                }
                if(_this.resultData.finalInspectionTechnology.lastFilePOList.length>0){
                    _this.tableDataCompany[2].reportState = _this.resultData.finalInspectionTechnology.lastFilePOList[0].examineStatus;
                    _this.tableDataCompany[2].fileup = true;
                }else{
                   _this.tableDataCompany[2].fileup = false;
                    _this.tableDataCompany[2].reportState = 0;
                }
                if(_this.resultData.finalInspection.lastFilePOList.length>0){
                    _this.tableDataCompany[3].reportState = _this.resultData.finalInspection.lastFilePOList[0].examineStatus;
                    _this.tableDataCompany[3].fileup = true;
                }else{
                    _this.tableDataCompany[3].fileup = false;
                    _this.tableDataCompany[3].reportState = 0;
                }
            });
        },
        getAreaList(){

        },
        ckclpop2Success(response, file, fileList){
        },
        UploadImage(file){
            let formData = new FormData();
            let _this = this;
            formData.append('uploadcompleteFile',file.file);
            formData.append('projectName',_this.curRow.area);
            formData.append('area',_this.curRow.mark);
            formData.append('index',1);
            formData.append('projectId',_this.projectId);
            let url = '/uploadFile';
            var options = {  // 设置axios的参数
                url: url,
                data: formData,
                method: 'post',
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            };
            _this.$axios(options).then((res) => {
                if(res.data.success){
                    _this.$message({
                        message: '上传成功！',
                        type: 'success'
                    });
                    res.data.resultData.name = res.data.resultData.fileName;
                    _this.fileList2.push(res.data.resultData);
                    _this.getIsCheck();
                }else{
                    _this.$message.error(res.data.errorMsg);
                }

            });
        },
        handleClose(){
            this.ckclpop = false;
            this.ckclpop2 = false;
        },
        handleCheckAllChange(val){//全选按钮

            if(val){
                this.checkedCities = this.cities;
                this.checkAll = true;
                this.isIndeterminate = false;
            }else{
                this.checkedCities = [];
                this.checkAll = false;
                this.isIndeterminate = false;
            }
        },
        handleCheckedCitiesChange(value){//单个单击所选的集合
            if(value.length == this.cities.length){
                this.checkAll = true;
                this.isIndeterminate = false;
            }
            if(value.length>0&&value.length<this.cities.length){
                this.isIndeterminate = true;
                this.checkAll = false;
            }
            if(value.length==0){
                this.isIndeterminate = false;
                this.checkAll = false;
            }
        },
        ckclpopFn(){
            this.ckclpop = true;
        },
        download(item){
            this.$post('/download',{id:item.fileId}).then(function(res){
                window.location.href= res.data.resultData;
                // var elink = document.createElement('a');
                //     elink.download = item.fileName;
                //     elink.style.display = 'none';
                //     var blob = new Blob([res.data.resultData], {type: 'application/vnd.ms-excel'});
                //     elink.href = URL.createObjectURL(blob);
                //     document.body.appendChild(elink);
                //     elink.click();
                //     document.body.removeChild(elink);
            });
        },
        pass(){

        },
        refuse(){

        },
        sfclFn(obj){
            let _this = this;
            this.ckclpop = true;
            _this.fileList2 = [];
            if(obj.id == 10){
                _this.fileList2.push(_this.resultData.midAccessTechnology.filePOList[0]);
            }else if(obj.id == 11){
                _this.fileList2.push(_this.resultData.midAccess.filePOList[0]);
            }else if(obj.id == 12){
                _this.fileList2.push(_this.resultData.finalInspectionTechnology.lastFilePOList[0]);
            }else if(obj.id == 13){
                _this.fileList2.push(_this.resultData.finalInspection.lastFilePOList[0]);
            }
        },
        checkFile(obj){//上传文件
            let _this = this;
            this.ckclpop2 = true;
            this.curRow = obj;
            _this.fileList2 = [];

        },
        deleteFile(obj){
            let _this = this;
            this.$post('/fileDelete',{id:obj.fileId}).then(function(res){
                if(res.data.success){
                    _this.$message({
                        message: '删除文件成功！',
                        type: 'success'
                    });
                }else{
                    _this.$message.error(res.data.errorMsg);
                }
            });
        },
    },
    mounted() {
        this.userMessage = JSON.parse(sessionStorage.getItem('userMessage'));
        this.getIsCheck();
    },
}
</script>
<style lang="less" scoped>
.sider {
        height: 50px;
        padding-left: 10px;
        /deep/.el-breadcrumb {
            line-height: 50px;
        }
        background:#ffffff;
        position:fixed;
        top:0px;
        z-index:999;
    }
    .wjgl-wrap{
        margin-right:20px;
        background:#f1f1f1;
    }
    .wjgl{
        background:#fff;
        padding:20px;
    }
    .clList{
        .tishi{
            height:30px;
            line-height:30px;
            font-size:14px;
            color:red;
            i{
                font-size:20px;
                margin-right:6px;
                vertical-align: middle;
            }
        }
        .operaList{
            width:240px;
            height:30px;
            line-height:30px;
            display:flex;
            float:right;
            .btn{
                width:40px;
                height:28px;
                text-align:center;
                line-height:28px;
                margin-left:10px;
                border-radius:4px;
                cursor:pointer;
            }
            .span2,.span3{
                border:1px solid #0f8ee9;
                color:#54aeef;
            }
            .span4{
                border:1px solid #ff3030;
                color:#ff4949;
            }
        }
        .uploadList{
            margin-top:20px;
            li{
                width:60%;
                height:30px;
                line-height:30px;
                font-size:16px;
                display:flex;
                justify-content:space-between;
                align-items:center;
                padding-left:5%;
                i{
                    vertical-align:middle;
                }
                span{
                    cursor:pointer;
                }
            }
        }
    }
    /deep/.el-tabs__item{
        font-size:20px;
    }
    .upload-demo{
        width:90%;
        margin:0 auto;
        background:#fbfbfb;
    }
    /deep/.el-upload{
        width:100%;
    }
    /deep/.el-upload-dragger{
        width:100%;
        background:#fbfbfb;
    }
</style>
