<template>
    <div style="height: 100%;overflow-y: auto">
        <div v-if="mainShow" style="margin-right: 30px">
            <div class="sider">
                <el-breadcrumb >
                    <el-breadcrumb-item >数据管理</el-breadcrumb-item>
                    <el-breadcrumb-item >数据审核</el-breadcrumb-item>
                    <el-breadcrumb-item>项目进度审核</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="contant">
                <div class="title">
                    <div class=".demo-wrap__left">
                        <span>项目名称：</span>
                        <span style="display:inline-block;"><el-input v-model="projectName" placeholder="请输入内容"></el-input></span>
                        <div class="state">
                            <span>审核状态：</span>
                            <el-select v-model="valueState" placeholder="请选择">
                                <el-option
                                    v-for="item in stateList"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="query"><el-button type="primary" @click="serach">查询</el-button></div>
                    </div>
                    <!-- <div class="piliang">批量操作：<span>通过</span><span>驳回</span></div> -->
                </div>
                <div class="table">
                    <el-table
                        ref="multipleTable"
                        :data="tableData"
                        stripe
                        tooltip-effect="dark"
                        style="width: 100%">
                        <el-table-column
                            label="序号"
                            type="index"
                            width="50"
                            fixed
                        >
                        </el-table-column>
                        <el-table-column
                            align="center"
                            label="项目名称"
                            prop="projectName"
                            width="200"
                            show-overflow-tooltip
                        >
                            <template slot-scope="scope">
                                <span style="color:#409EFF;cursor:pointer;" @click="details(scope.row)">{{scope.row.projectName}}</span>
                            </template>
                        </el-table-column>

                        <el-table-column
                            prop="projectCompany"
                            align="center"
                            label="申报单位"
                            width="200"
                            show-overflow-tooltip
                        >
                        </el-table-column>
                        <el-table-column
                            prop="projectStage"
                            align="center"
                            label="项目阶段"
                        >
                        </el-table-column>
                        <el-table-column
                            prop="completeRate"
                            align="center"
                            label="项目综合完成度"
                            width="130"
                        >
                        </el-table-column>
                        <el-table-column
                            label="项目开始日期"
                            align="center"
                            prop="projectStartDate"
                            width="130"
                        >
                        </el-table-column>
                        <el-table-column
                            label="项目结束日期"
                            align="center"
                            prop="projectEndDate"
                            width="130"
                        >
                        </el-table-column>
                        <el-table-column
                            label="提交时间"
                            align="center"
                            prop="submitTime"
                            width="200"
                        >
                        </el-table-column>
                        <el-table-column
                            align="center"
                            prop="reportState"
                            label="审核状态"
                        >
                        </el-table-column>
                        <el-table-column
                            align="center"
                            label="操作"
                            width="200"
                            fixed="right"
                            show-overflow-tooltip>
                            <template slot-scope="scope" >
                  <span
                      @click="look_detail(scope.row)"
                      class="color_blue">
                      进度考核详情
                  </span>
                                <span class="color_pass" @click="pass(scope.row)" v-if="scope.row.reportState == '待审核'">通过</span>
                                <span class="color_refuse" @click="refuse(scope.row)"  v-if="scope.row.reportState == '待审核'">驳回</span>
                                <!-- <span class="color_pass" @click="pass(scope.row)" v-if="scope.row.reportState == '审核驳回'||scope.row.reportState == '审核通过'">
                                  <el-dropdown>
                                    <span class="el-dropdown-link">
                                      修改<i class="el-icon-arrow-down el-icon--right"></i>
                                    </span>
                                    <el-dropdown-menu slot="dropdown">
                                      <el-dropdown-item>未设置密码</el-dropdown-item>
                                    </el-dropdown-menu>
                                  </el-dropdown>
                                </span> -->
                            </template>
                        </el-table-column>
                    </el-table>
                    <div style="text-align: center;margin-top: 20px">
                        <el-pagination
                            background
                            layout="prev, pager, next"
                            :page-size="10"
                            :current-page="1"
                            @current-change="currentChange"
                            hide-on-single-page
                            :total="4">
                        </el-pagination>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                tableData: [
                ],
                multipleSelection: [],
                valuefenlei:0,
                valueState:"",
                tjsjStartDate:'',//提交时间-开始时间
                tjsjEndDate:'',//提交时间-结束时间
                fenleiList:[
                    {
                        value:0,
                        label:'全部'
                    },
                    {
                        value:1,
                        label:'服务业企业月报'
                    },
                    {
                        value:2,
                        label:'服务业企业季报'
                    },
                    {
                        value:3,
                        label:'工业企业月报'
                    },
                    {
                        value:4,
                        label:'工业企业季报'
                    },
                    {
                        value:5,
                        label:'创新示范企业季报'
                    },
                ],
                stateList:[
                    {
                        value:"",
                        label:'全部'
                    },
                    {
                        value:1,
                        label:'待审核'
                    },
                    {
                        value:2,
                        label:'审核通过'
                    },
                    {
                        value:3,
                        label:'驳回'
                    }
                ],
                pageIndex:1,
                projectName:'',
                mainShow: true
            }
        },

        methods: {
            //表格多选
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            //通过
            pass(obj) {
                let _this = this;
                let param = {};
                // param.examineUser = JSON.parse(sessionStorage.getItem('userMessage')).realName;
                param.reportId = obj.reportId;
                param.reportState = 2;
                this.$post('/ProccesForManagerController/updateProcessStatus',param).then(function(res){
                    if(res.data.success){
                        _this.getList();
                        _this.$emit('changePoint')
                        _this.$message({
                            message: '通过审核！',
                            type: 'success'
                        });
                    }
                });
            },
            //驳回
            refuse(obj) {
                let _this = this;
                let param = {};
                param.reportId = obj.reportId;
                param.reportState = 3;
                this.$prompt('请输入驳回原因', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    // inputPattern: /[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/,
                    inputErrorMessage: '请输入驳回原因'
                }).then(({ value }) => {
                    param.returnReason = value;
                    this.$post('/ProccesForManagerController/updateProcessStatus',param).then(function(res){
                        if(res.data.success){
                            _this.getList();
                            _this.$emit('changePoint')
                            _this.$message({
                                type: 'success',
                                message: '驳回原因是: ' + value
                            });
                        }
                    });

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消输入'
                    });
                });
            },
            serach(){
                this.getList();
            },
            getList(){
                let _this = this;
                let param = {};
                param.pageIndex = this.pageIndex;
                param.projectName = this.projectName;
                param.reportState = this.valueState;
                this.$post('/ProccesForManagerController/getProccesReportList',param).then(function(res){
                    _this.tableData = res.data.resultData.records;
                    for(let i = 0;i<_this.tableData.length;i++){
                        _this.tableData[i].completeRate = Number(_this.tableData[i].completeRate).toFixed(2)+'%';
                    }
                });
            },
            details(obj) {
                console.log(obj)
                this.$router.push({ path: '/dataManage/xmxq',query:{projectId: obj.projectId}});
            },
            look_detail(obj){
                this.$router.push({path:'/dataManage/zjtx',query: { projectId:obj.projectId,projectStage:obj.projectStage,type:1,reportId:obj.reportId,projectName:obj.projectName,projectCompany:obj.projectCompany,name: '项目进度审核'}});
            },
            currentChange(val) {
                // this.$message.error('驳回审核！');
            },

        },
        mounted(){
            this.getList();
        }
    }
</script>
<style lang="less" scoped>
    .sider{
        position:fixed;
        top:0px;
        z-index:999;
        height: 50px;
        padding-left: 20px;
        background:#fff;
        /deep/.el-breadcrumb {
            line-height: 50px;
        }
        /deep/.el-breadcrumb__inner {
            font-size: 14px;
        }
    }
    .contant {
        padding-left: 20px;
    }
    .title{
        display: flex;
        width:100%;
        margin-top:20px;
        .addRecord,.tijiaoTime,.year,.fenlei,.state,.query,.import{
            display:inline-block;
        }
        .demo-wrap__left {
            flex: 1;
        }
        .year{
            margin-left:20px;
        }
        .fenlei{
            margin-left:20px;
        }
        .state{
            margin-left:20px;
        }
        .query{
            margin-left:20px;
        }
        .piliang{
            display: inline-block;
            flex: 1;
            justify-content: flex-end;
            text-align: right;

            span{
                display: inline-block;
                padding:10px 15px;
                font-size:14px;
                color:#ffffff;
                border-radius:3px;
                cursor:pointer;
                &:nth-child(1){
                    background:#0dc316;
                }
                &:nth-child(2){
                    background:#fd5f56;
                    margin-left:10px;
                }
            }
        }
    }
    .table{
        .color_pass{
            color:#0dc316 ;
            cursor:pointer;
        }
        .color_refuse{
            color:#fd5f56;
            cursor: pointer;
        }
        .color_Pending{
            color:orange ;
            cursor:pointer;
        }

        .color_blue{
            color: #459CFF;
            cursor:pointer;
        }

        margin-top:20px;
        tr{
            background:#a5a5cf;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:50px;
                border:1px solid #eeeeee;
                border-right:0;
                border-bottom:0;
                color:#ffffff;
                font-size:16px;
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:14px;
                    color:#606266;
                    span{
                        margin-right:10px;
                        &.shz,&.edit{
                            color:#ff9c17;
                            cursor:pointer;
                        }
                        &.shtg,&.commit{
                            color:#0dc316;
                            cursor:pointer;
                        }
                        &.dtj,&.detail{
                            color:#459CFF;
                            cursor:pointer;
                        }
                        /deep/.el-button{
                            color:#fd5f56;
                        }
                    }
                }
            }
        }
    }
    /deep/.el-date-editor.el-input, .el-date-editor.el-input__inner{
        width:120px;
    }
    /deep/.el-input__inner {
        width:120px;
        height: 34px;
        line-height: 34px;
    }
    /deep/ .el-button--primary{
        width: 54px;
        height: 34px;
        padding: 0;
    }
    /deep/ .el-breadcrumb {
        height: 50px;
        line-height: 50px;
    }
    /deep/ .el-breadcrumb__inner {
        font-size: 16px;
        color: #333;
        font-weight: 500;
    }
    /deep/.el-table th {
        background: #f2f2f2;
        color: #606266;
    }
    /deep/.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover{
        font-size:16px;
        font-weight:bold;
    }
    /deep/.el-breadcrumb__inner{
        position:relative;
        z-index:333;
    }
</style>
