<template>
    <section>
        <div class="addcggz-wrap">
            <div class="addcggz">
                <div class="part1">
                    <div class="title">成果信息</div>
                    <div class="con">
                        <p class="p1">
                            <span class="span1">*</span>
                            <span class="span2">成果名称</span>
                            <input type="text" >
                        </p>
                        <p class="p2">
                            <span class="span1"></span>
                            <span class="span2"><i>*</i>所属项目</span>
                            <input type="text" >
                        </p>
                        <p class="p3">
                            <span class="span1">*</span>
                            <span class="span2">成果形式</span>
                            <select>
                                <option value="0">论文和专著</option>
                                <option value="1">自主研发的新型产品原型</option>
                                <option value="2">自主开发的新技术</option>
                                <option value="3">发明专利</option>
                                <option value="4">实用新型专利</option>
                                <option value="5">应用软件</option>
                            </select>
                        </p>
                        <p class="p4">
                            <span class="span1"></span>
                            <span class="span2"><i>*</i>应用状态</span>
                            <select>
                                <option value="0">论文和专著</option>
                                <option value="1">自主研发的新型产品原型</option>
                                <option value="2">自主开发的新技术</option>
                                <option value="3">发明专利</option>
                                <option value="4">实用新型专利</option>
                                <option value="5">应用软件</option>
                            </select>
                        </p>
                        <p class="p5">
                            <span class="span1"></span>
                            <span class="span2">转化收益</span>
                            <input type="text" >
                        </p>
                        <p class="p6">
                            <span class="span1"></span>
                            <span class="span2">知识产权转让收入</span>
                            <input type="text" >
                        </p>
                    </div>
                </div>
                <div class="part2">
                    <div class="title">产生的专利</div>
                    <table cellspacing="0" cellpadding="0">
                        <tr class="head">
                            <td>知识产权形式</td>
                            <td><span class="must">*</span>专利名称</td>
                            <td><span class="must">*</span>专利类别</td>
                            <td><span class="must">*</span>专利号</td>
                            <td>发明人</td>
                            <td>上传图片</td>
                            <td>操作</td>
                        </tr>
                        <tr>
                            <td>专利</td>
                            <td>金属蒸气激光器放电管</td>
                            <td>发明专利</td>
                            <td>发明专利</td>
                            <td>奚全新 程兆谷</td>
                            <td>
                                <span>上传图片</span>
                            </td>
                            <td><span class="delete">删除</span></td>
                        </tr>
                    </table>
                    <p class="addRow">
                        <el-button>添加行</el-button>
                    </p>
                </div>
                <div class="part3">
                    <div class="title">产生的软件著作权</div>
                    <table cellspacing="0" cellpadding="0">
                        <tr class="head">
                            <td>知识产权形式</td>
                            <td><span class="must">*</span>软件著作权名称</td>
                            <td><span class="must">*</span>软件著作权登记号</td>
                            <td><span class="must">*</span>上传图片</td>
                            <td>操作</td>
                        </tr>
                        <tr>
                            <td>软件著作权</td>
                            <td>对撞脉冲主-被动锁模激光器</td>
                            <td>9221512182002</td>
                            <td>
                                <span>上传图片</span>
                            </td>
                            <td><span class="delete">删除</span></td>
                        </tr>
                    </table>
                    <p class="addRow">
                        <el-button>添加行</el-button>
                    </p>
                </div>
                <div class="part4">
                    <div class="title">转让的企业</div>
                    <table cellspacing="0" cellpadding="0">
                        <tr class="head">
                            <td>序号</td>
                            <td>企业名称</td>
                            <td>操作</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>上海亨通海洋装备有限公司</td>
                            <td><span class="delete">删除</span></td>
                        </tr>
                    </table>
                    <p class="addRow">
                        <el-button>添加行</el-button>
                    </p>
                </div>
                <div class="part5 clear">
                    <div class="title">上传影像资料</div>
                    <input id="yxUpload" type="file" hidden>
                    <label for="yxUpload"><img src="../../../static/image/cggz04.png" />点击上传</label>
                    <span class="desc">支持扩展名：.mp4  .mov  .avi等</span>
                    <ul>
                        <li>
                            <span class="name">亨通视频.mp4</span>
                            <span class="deleteBtn">删除</span>
                        </li>
                        <li>
                            <span class="name">亨通视频.mp4</span>
                            <span class="deleteBtn">删除</span>
                        </li>
                        
                    </ul>
                </div>
                <div class="part6 clear">
                    <div class="title">上传文件</div>
                    <input id="yxUpload" type="file" hidden>
                    <label for="yxUpload"><img src="../../../static/image/cggz04.png" />点击上传</label>
                    <span class="desc">支持扩展名：.mp4  .mov  .avi等</span>
                    <ul>
                        <li>
                            <span class="name">亨通文件.txt</span>
                            <span class="deleteBtn">删除</span>
                        </li>
                        <li>
                            <span class="name">亨通文件.xslx</span>
                            <span class="deleteBtn">删除</span>
                        </li>
                        
                    </ul>
                </div>
                <div class="btns">
                    <span class="btn1">提交审核</span>
                    <span class="btn2">保存草稿</span>
                </div>
            </div>
        </div>
    </section>
</template>
<style lang="less" scoped>
    .addcggz-wrap{
        padding-top:55px;
        background:#f1f1f1;
        padding-left:15px;
        .addcggz{
            padding:30px;
            background:#fff;
            .part1{
                width:100%;
                height:auto;
                .title{
                    height:30px;
                    line-height:30px;
                    font-size:16px;
                    color:#666666;
                }
                .con{
                    display:flex;
                    flex-wrap:wrap;
                    justify-content: flex-start;
                    p{
                        width:40%;
                        height:32px;
                        line-height:32px;
                        margin-top:22px;
                        padding-left:20px;
                        .span1{
                            display:inline-block;
                            width:8px;
                            color:#da0a24;
                        }
                        .span2{
                            color:#929292;
                            font-size:14px;
                        }
                        input{
                            width:70%;
                            height:30px;
                            border:1px solid #d9d9d9;
                            border-radius:5px;
                            margin-left:15px;
                            padding-left:8px;
                            outline:none;
                        }
                        select{
                            width:70%;
                            height:30px;
                            border:1px solid #d9d9d9;
                            border-radius:5px;
                            margin-left:15px;
                            outline:none;
                        }
                        &.p2,&.p4,&.p6{
                            .span2{
                                display:inline-block;
                                width:120px;
                                text-align:right;
                                i{
                                    display:inline-block;
                                    font-style:normal;
                                    width:12px;
                                    text-align:left;
                                    color:#da0a24;
                                }
                            }
                        }
                    }
                }
            }
            .part2,.part3,.part4,.part5,.part6{
                width:100%;
                height:auto;
                margin-top:36px;
                .title{
                    height:30px;
                    line-height:30px;
                    font-size:16px;
                    color:#666666;
                }
                table{
                    width:100%;
                    height:auto;
                    border:1px solid #e9e9e9;
                    border-right:none;
                    border-top:none;
                    margin-top:10px;
                    tr{
                        &.head{
                            background:#f4f4f4;
                        }
                        td{
                            border:1px solid #e9e9e9;
                            border-left:none;
                            border-bottom:none;
                            padding:15px 16px;
                            color:#777777;
                            .must{
                                color:#da0a24;
                            }
                            .delete{
                                padding:4px 8px;
                                border:1px solid #e9e9e9;
                                font-size:12px;
                                border-radius:3px;
                                cursor:pointer;
                            }
                        }
                    }

                }
                .addRow{
                    margin-top:20px;
                }
            }
            .part5,.part6{
                label{
                    float:left;
                    margin-top:30px;
                    display:inline-block;
                    width:98px;
                    height:26px;
                    line-height:26px;
                    border:1px solid #d9d9d9;
                    border-radius:10px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    font-size:12px;
                    cursor:pointer;
                    img{
                        margin-right:6px;
                    }
                }
                .desc{
                    float:left;
                    font-size:14px;
                    margin-left:20px;
                    line-height:45px;
                    margin-top:20px;
                    color:#999999;
                }
                ul{
                    clear:both;
                    width:200px;
                    height:30px;
                    line-height:30px;
                    font-size:14px;
                    margin-bottom:20px;
                    li{
                        display:flex;
                        justify-content:space-between;
                        align-items: center;
                        .deleteBtn{
                            cursor:pointer;
                        }
                    }
                }
            }
            .btns{
                width:100%;
                margin-top:30px;
                .btn1,.btn2{
                    cursor:pointer;
                    float:left;
                    display:inline-block;
                    width:99px;
                    height:36px;
                    line-height:36px;
                    text-align:center;
                    font-size:17px;
                    color:#fcfeff;
                    background:#1e9fff;
                }
                .btn2{
                    background:none;
                    border:1px solid #cccccc;
                    color:#333333;
                    margin-left:9px;
                }
            }
        }
    }
</style>