<template>
    <div style="margin-left:20px;height: 100%;overflow-y: auto">
       <div style="margin-right: 30px;padding-bottom: 30px">
           <div class="sider">
               <el-breadcrumb >
                   <el-breadcrumb-item :to="{ }">项目名录</el-breadcrumb-item>
                   <el-breadcrumb-item>添加项目进度任务</el-breadcrumb-item>
               </el-breadcrumb>
           </div>
           <div class="help">
               <div class="font-ring">
                   <img :src="icon" alt="">
               </div>
               <div>
                   <p style="font-size: 16px;color: #666666;">帮助提示</p>
                   <p style="font-size: 14px;color: #999999">确定考核时间之后在此一一对每个项目进行分配项目进度任务</p>
               </div>
           </div>
           <div class="title">
               <div class="search-input">
                   <el-input placeholder="请输入项目名称" v-model="search">
                       <el-button @click="searchProject" slot="append" icon="el-icon-search"></el-button>
                   </el-input>
               </div>
               <div>
                   <el-button type="primary" @click="addxmjdrw">添加项目进度任务</el-button>
               </div>
           </div>
           <div style="margin-top:20px;"></div>
           <el-table
               :data="tableData"
               stripe
               style="width: 100%">
               <el-table-column
                   prop="projectName"
                   label="项目名称"
               >
                   <template slot-scope="scope">
                       <span class="projectName" @click="look_detail(scope.row)">{{scope.row.projectName}}</span>
                   </template>
               </el-table-column>
               <el-table-column
                   prop="companyName"
                   label="申报单位"
               >
               </el-table-column>
               <el-table-column
                   prop="stageName"
                   label="项目阶段"
                   width="200">
               </el-table-column>
               <el-table-column
                   label="考核时间"
                   width="200">
                   <template slot-scope="scope">
                       <span style="color: #3990e2">{{scope.row.stageDate}}</span>
                   </template>
               </el-table-column>
           </el-table>
           <div style="text-align: center;margin-top: 20px">
               <el-pagination
                   background
                   layout="prev, pager, next"
                   :page-size="size"
                   :current-page="pageIndex"
                   @current-change="pageChange"
                   :total="pageTotal">
               </el-pagination>
           </div>

           <!-- 添加项目进度 -->
           <el-dialog title="添加项目进度任务" width="600px" :visible.sync="dialogFormVisible">
               <el-form :model="form" :rules="rules">
                   <el-form-item label="项目阶段" label-width="90px" prop="jieduan">
                       <el-select v-model="form.jieduan" placeholder="亲选择项目阶段" @change="selectStage">
                           <el-option label="第一年度考核" value="第一年度考核"></el-option>
                           <el-option label="中期考核" value="中期考核"></el-option>
                           <el-option label="最终验收" value="最终验收"></el-option>
                       </el-select>
                   </el-form-item>
                   <el-form-item label="选择项目：" label-width="90px" prop="checkedCities">
                       <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox>
                       <div style="margin: 15px 0;"></div>
                       <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                           <el-checkbox v-for="city in selectList" :label="city" :key="city">{{city.projectName}}</el-checkbox>
                       </el-checkbox-group>
                   </el-form-item>
                   <el-form-item label="考核时间" label-width="90px" required>
                       <el-form-item prop="date1">
                           <el-date-picker
                               v-model="form.time"
                               value-format="yyyy-MM-dd"
                               type="date"
                               placeholder="选择日期">
                           </el-date-picker>
                       </el-form-item>
                   </el-form-item>
               </el-form>
               <div slot="footer" class="dialog-footer">
                   <el-button @click="cancel">取 消</el-button>
                   <el-button type="primary" @click="sure">确 定</el-button>
               </div>
           </el-dialog>
       </div>
    </div>
</template>
<script>
let cityOptions = ['上海', '北京', '广州', '深圳'];
export default {
    data(){
        return{
            search:'',
            tableData:[],
            selectList:[],
            dialogFormVisible:false,
            form:{
                jieduan:'第一年度考核',
                time:''
            },
            icon:require('../../assets/icon_test.png'),
            rules:{
                checkedCities:[],
                jieduan:[
                    { required: true, message: '必填项', trigger: 'blur' },
                ],
                time:[
                    { required: true, message: '必填项', trigger: 'blur' },
                ]

            },
            cities: cityOptions,
            isIndeterminate: true,
            checkAll: false,
            checkedCities:[],
            pageIndex:1,
            pageTotal:1,
            size:10,
        }
    },
    methods: {
        look_detail(obj){
            this.$router.push({ path: '/dataManage/xmxq',query:{projectId: obj.projectId}});
        },
        getList(){
            let _this = this;
            let param = {};
            param.pageIndex = this.pageIndex;
            param.keyword = this.search;
            this.$post('/ProjectForStageController/getProjectStageList',param).then(function(res){
                _this.tableData = res.data.resultData.records;
                _this.pageTotal = res.data.resultData.total;
                _this.size = res.data.resultData.size;
                _this.pageIndex = res.data.resultData.current;

            });
        },
        getSelectList(){
            let _this = this;
            let param = {};
            param.projectStage = this.form.jieduan;
            this.$post('/ProjectForStageController/getProjectListForSelect',param).then(function(res){
                _this.selectList = res.data.resultData[0].projectList;
                cityOptions = res.data.resultData[0].projectList;
            });
        },
        selectStage(value){
            this.form.jieduan = value;
            this.getSelectList();
        },
        searchProject(){
            this.getList();
        },
        addxmjdrw(){
            this.dialogFormVisible = true;
        },
        cancel(){
            this.dialogFormVisible = false;
        },
        sure(){
            let _this = this;
            let param = {};
            let projectIdList = [];
            for(let i = 0;i<this.checkedCities.length;i++){
                projectIdList.push(this.checkedCities[i].projectId);
            }
            projectIdList = Array.from(new Set(projectIdList));
            param.projectIds = projectIdList.join(',');
            param.stageDate = this.form.time;
            param.stageName = this.form.jieduan;
            this.$post('/ProjectForStageController/addProjectState',param).then(function(res){
                if(res.data.success){
                    _this.$message({
                        message: "添加项目进度成功",
                        type: 'success'
                    });
                    _this.getList();
                }else{
                    _this.$message.error(res.data.errorMsg);
                }
            });
            this.dialogFormVisible = false;
        },
        handleCheckAllChange(val) {
            this.checkedCities = val ? cityOptions : [];
            this.isIndeterminate = false;
        },
        handleCheckedCitiesChange(value) {
            let checkedCount = value.length;
            this.checkAll = checkedCount === this.cities.length;
            this.isIndeterminate = checkedCount > 0 && checkedCount < this.cities.length;
        }
    },
    mounted() {
        this.getList();
        this.getSelectList();
    },
}
</script>
<style lang="less" scoped>

    /deep/ .el-dialog__body{
        padding: 20px;
    }
    /deep/ .el-dialog__header{
        border-bottom: 1px solid #f5f5f5;
    }
    /deep/ .el-checkbox-group{
        height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .projectName{
        cursor: pointer;
        &:hover{
            color: rgb(24, 144, 255);
        }
    }
    .sider{
        height: 50px;
        padding-left: 10px;
        /deep/.el-breadcrumb {
            line-height: 50px;
        }
        position:fixed;
        top:0px;
        z-index:999;
    }
    .help{
        width:100%;
        margin-top: 20px;
        padding: 16px 24px;
        border:1px solid rgb(213,240,252);
        background: rgb(231,243,252);
        border-radius: 6px;
        display: flex;
        .font-ring{
            width: 42px;
            font-weight: 500;
            font-size: 21px;
            color: #108EE9;
        }
    }
    .title{
        margin-top:20px;
        display: flex;
        justify-content: space-between;
        .search-input{
            width: 310px;
        }
    }
    /deep/.el-table th>.cell{
        font-size:16px;
    }
</style>
