<template>
    <section style="background:#fff;height:100%;overflow-y:auto;">
        <div class="wjgl-wrap">
            <div class="sider">
                <el-breadcrumb >
                    <el-breadcrumb-item style="cursor: pointer" @click.native="goBack" >数据管理</el-breadcrumb-item>
                    <el-breadcrumb-item>数据审核</el-breadcrumb-item>
                    <el-breadcrumb-item>文件管理</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="wjgl">
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="材料审核" name="first">
                        <div class="clsh">
                            <el-table
                            :data="tableData"
                            style="width: 100%">
                                <el-table-column
                                    prop="projectName"
                                    label="项目名称"
                                    width="480">
                                </el-table-column>
                                <el-table-column
                                    prop="category"
                                    label="评价阶段"
                                    width="280">
                                </el-table-column>
                                <el-table-column
                                    prop="createTimeDesc"
                                    label="提交时间">
                                </el-table-column>
                                <el-table-column
                                    prop="state"
                                    label="审核状态">
                                    <template slot-scope="scope">
                                        <span v-if="scope.row.examineStatus == 1">待审核</span>
                                        <span v-if="scope.row.examineStatus == 2">审核通过</span>
                                        <span v-if="scope.row.examineStatus == 3">驳回</span>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                    label="操作">
                                    <template slot-scope="scope">
                                        <i class="el-icon-tickets" style="font-size:24px;color:#108DE9" @click="ckclpopFn(scope.row)"></i>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="上传区域评价材料" name="second">
                        <div class="scpjcl">
                            <el-table
                            :data="tableDataArea"
                            style="width: 100%">
                                <el-table-column
                                    prop="area"
                                    label="区域"
                                    width="280">
                                </el-table-column>
                                <el-table-column
                                    prop="fileName"
                                    label="文件名称"
                                    width="580">
                                    <template slot-scope="scope">
                                        <i class="el-icon-folder" style="font-size:16px;color:#ffcc66;"></i>
                                        <span>{{scope.row.fileName}}</span>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                    prop="fileState"
                                    label="上传材料状态">
                                    <template slot-scope="scope">
                                        <span v-if="scope.row.fileState">已上传</span>
                                        <span v-if="!scope.row.fileState" style="color:red;">未上传</span>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                    label="操作">
                                    <template slot-scope="scope">
                                        <i class="el-icon-upload" style="font-size:24px;color:#108DE9" @click="sfclFn(scope.row)"></i>
                                        <!-- <i class="el-icon-tickets" style="font-size:24px;color:#108DE9" @click="ckclpopFn2"></i> -->
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>

        <el-dialog
        title="查看材料"
        :visible.sync="ckclpop"
        width="40%"
        :before-close="handleClose">
            <div class="clList">
                <span class="tishi"><i class="el-icon-warning-outline"></i>驳回原因：中期考核材料不属实，请重新上传</span>
                <div class="table" style="margin-top:20px;">
                    <div class="head">
                        <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox>
                        <div class="operaList">
                            <span class="span1">批量操作：</span>
                            <span class="span2 btn" @click="download">下载</span>
                            <span class="span3 btn" @click="pass">通过</span>
                            <span class="span4 btn">
                                <el-popover
                                    placement="top-start"
                                    title="标题"
                                    width="200"
                                    trigger="hover"
                                    :content="111">
                                    <template slot-scope="content">
                                        <el-input v-model="reason" placeholder="请输入内容"></el-input>
                                    </template>
                                    <el-button slot="reference" @click="refuse">驳回</el-button>
                                </el-popover>
                            </span>

                        </div>
                    </div>

                    <div style="margin: 15px 0;"></div>
                    <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                        <div v-for="city in cities" :key="city" style="margin-top:15px;">
                            <el-checkbox :label="city">{{city.fileName}}</el-checkbox>
                        </div>
                    </el-checkbox-group>

                </div>
            </div>
        <span slot="footer" class="dialog-footer">
            <el-button @click="ckclpop = false">取 消</el-button>
            <el-button type="primary" @click="ckclpop = false">确 定</el-button>
        </span>
        </el-dialog>


        <el-dialog
        title="上传材料"
        :visible.sync="ckclpop2"
        width="40%"
        :before-close="handleClose">
            <div class="clList" style="text-align:center;">
                <el-upload
                class="upload-demo"
                drag
                :action=uploadUrl
                :on-success="ckclpop2Success"
                :http-request="UploadImage"
                :show-file-list="false"
                multiple>
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">
                        将文件拖到此处，或<em>点击上传</em><br/>
                        <span style="font-size:12px;color:#a1a1a1;margin-top:16px;">提示：可上传附件项目考核/项目有关技术报告或工作报告</span></div>
                    <!-- <div class="el-upload__tip" slot="tip">提示：可上传附件项目考核/项目有关技术报告或工作报告</div> -->
                </el-upload>
                <ul class="uploadList">
                    <li v-for="item in fileList" :key="item.index">
                        <span class="span1">
                            <i class="el-icon-tickets" style="font-size:20px;color:#108DE9"></i>
                            {{item.name}}
                        </span>
                        <span class="span2" @click="deleteFile(item)">
                            <i class="el-icon-close"></i>
                        </span>
                    </li>
                </ul>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="ckclpop2 = false">取 消</el-button>
                <el-button type="primary" @click="ckclpop2 = false">确 定</el-button>
            </span>
        </el-dialog>
    </section>
</template>
<script>
import global from '../common/common';
export default {
    data(){
        return{
            uploadUrl:global.httpUpload+'uploadFile',
            activeName:'first',
            tableData:[
            ],
            tableDataArea:[
                {
                    area:'南通',
                    fileName:'十三五上海洋经济区域项目总体考核报告文件',
                    fileState:false,
                },
                {
                    area:'浦东新区',
                    fileName:'十三五上海洋经济区域项目总体考核报告文件',
                    fileState:false,
                },
                {
                    area:'舟山',
                    fileName:'十三五上海洋经济区域项目总体考核报告文件',
                    fileState:false,
                },
                {
                    area:'宁波',
                    fileName:'十三五上海洋经济区域项目总体考核报告文件',
                    fileState:false,
                },
                {
                    area:'厦门',
                    fileName:'十三五上海洋经济区域项目总体考核报告文件',
                    fileState:false,
                },
                {
                    area:'福州',
                    fileName:'十三五上海洋经济区域项目总体考核报告文件',
                    fileState:false,
                },
            ],
            cities:[

            ],
            ckclpop:false,
            ckclpop2:false,
            checkAll: false,
            checkedCities: [],
            isIndeterminate:false,
            curRow:{},
            fileList:[],
            reason:''
        }
    },
    methods: {
        getclshList(){
            let _this = this;
            _this.tableData = [];
            this.$post('/toExamineFileList',{}).then(function(res){
                console.log(res);
                for(let i = 0;i<res.data.resultData.length;i++){
                    // res.data.resultData[i].midAccessTechnology.filePOList[0].projectName = res.data.resultData[i].projectName;
                    // res.data.resultData[i].midAccess.filePOList[0].projectName = res.data.resultData[i].projectName;
                    // res.data.resultData[i].finalInspectionTechnology.lastFilePOList[0].projectName = res.data.resultData[i].projectName;
                    // res.data.resultData[i].finalInspection.lastFilePOList[0].projectName = res.data.resultData[i].projectName;
                    if(res.data.resultData[i].midAccessTechnology.filePOList.length>0){
                        _this.tableData.push(res.data.resultData[i].midAccessTechnology.filePOList[0]);
                    }
                    if(res.data.resultData[i].midAccess.filePOList.length>0){
                        _this.tableData.push(res.data.resultData[i].midAccess.filePOList[0]);
                    }
                    if(res.data.resultData[i].finalInspectionTechnology.lastFilePOList.length>0){
                        _this.tableData.push(res.data.resultData[i].finalInspectionTechnology.lastFilePOList[0]);
                    }
                    if(res.data.resultData[i].finalInspection.lastFilePOList.length>0){
                        _this.tableData.push(res.data.resultData[i].finalInspection.lastFilePOList[0]);
                    }
                }
                console.log(_this.tableData);

                for(let i = 0;i<_this.tableData.length;i++){
                    _this.tableData[i].category = _this.tableData[i].category.substring(0,4);
                }
            });
        },
        getAreaList(){
            let _this = this;
            //获取南通是否上传文件
            for(let i = 0;i<this.tableDataArea.length;i++){
                (function(m){
                    _this.$post('/fileListQry',{area:_this.tableDataArea[m].area}).then(function(res){
                        if(res.data.resultData.length == 0){
                            _this.tableDataArea[m].fileState = false;
                        }else{
                            _this.tableDataArea[m].fileState = true;
                        }
                    });
                })(i)
            }
        },
        ckclpop2Success(response, file, fileList){
            console.log(response, file, fileList);
        },
        beforeUpload(file){
            let formData = new FormData();
            let _this = this;
            formData.append('uploadcompleteFile',file);
            formData.append('area',_this.curRow.area);
            console.log(formData);
            let url = this.uploadUrl;
            var options = {  // 设置axios的参数
                url: url,
                data: formData,
                method: 'post',
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            };
            _this.$axios(options).then((res) => {
                if(res.data.success){
                    _this.$message({
                        message: '提交成功！',
                        type: 'success'
                    });
                }else{
                    _this.$message.error(res.data.errorMsg);
                }

            });
        },
        UploadImage(file){
            console.log(file);
            let formData = new FormData();
            let _this = this;
            formData.append('uploadcompleteFile',file.file);
            formData.append('area',_this.curRow.area);
            formData.append('index',0);
            console.log(formData);
            let url = '/uploadFile';
            var options = {  // 设置axios的参数
                url: url,
                data: formData,
                method: 'post',
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            };
            _this.$axios(options).then((res) => {
                console.log(res);
                if(res.data.success){
                    _this.$message({
                        message: '提交成功！',
                        type: 'success'
                    });
                    res.data.resultData.name = res.data.resultData.fileName;
                    _this.fileList.push(res.data.resultData);
                    _this.getAreaList();
                }else{
                    _this.$message.error(res.data.errorMsg);
                }

            });
        },
        handleClose(){
            this.ckclpop = false;
            this.ckclpop2 = false;
        },
        handleCheckAllChange(val){//全选按钮
            console.log(val);
            if(val){
                this.checkedCities = this.cities;
                this.checkAll = true;
                this.isIndeterminate = false;
            }else{
                this.checkedCities = [];
                this.checkAll = false;
                this.isIndeterminate = false;
            }
        },
        handleCheckedCitiesChange(value){//单个单击所选的集合
            if(value.length == this.cities.length){
                this.checkAll = true;
                this.isIndeterminate = false;
            }
            if(value.length>0&&value.length<this.cities.length){
                this.isIndeterminate = true;
                this.checkAll = false;
            }
            if(value.length==0){
                this.isIndeterminate = false;
                this.checkAll = false;
            }
        },
        ckclpopFn(obj){
            console.log(obj);
            this.ckclpop = true;
            let param = {};
            let formData = new FormData();
            let _this = this;
            param.projectId = obj.projectId;
            param.state = obj.category;
            formData.append('projectId',obj.projectId);
            formData.append('state',obj.category);
            this.$post('/operationFileList',param).then(function(res){
                _this.cities = res.data.resultData;
            });
        },
        download(){
            let _this = this;
            for(let i = 0;i<this.checkedCities.length;i++){
                (function(m){
                    let id = _this.checkedCities[m].fileId;
                    _this.$post('/download',{id:id}).then(function(res){
                        console.log(res);
                        window.location.href=res.data.resultData;
                        // var elink = document.createElement('a');
                        // elink.download = _this.checkedCities[m].fileName;
                        // elink.style.display = 'none';
                        // var blob = new Blob([res.data.resultData], {type: 'application/vnd.ms-excel'});
                        // elink.href = URL.createObjectURL(blob);
                        // document.body.appendChild(elink);
                        // elink.click();
                        // document.body.removeChild(elink);
                    });
                })(i)

            }

        },
        pass(){
            let _this = this;
            let param = {};
            if(this.checkedCities.length==0){
                _this.$message({
                    message: '请选择文件',
                    type: 'success'
                });
                return;
            }
            for(let i = 0;i<this.checkedCities.length;i++){
                (function(m){
                    let examineStatus = 2;
                    let fileId = _this.checkedCities[m].fileId;
                    let rejectReason = _this.reason;
                    let param = {};
                    param.examineStatus = examineStatus;
                    param.fileId = fileId;
                    param.rejectReason = rejectReason;
                     _this.$post('/operation',param).then(function(res){
                        if(res.data.success){
                            _this.$message({
                                message: '审核通过',
                                type: 'success'
                            });
                        }else{
                            _this.$message.error(res.data.errorMsg);
                        }
                        _this.getclshList();
                     });
                })(i);
            }
        },
        refuse(){
            let _this = this;
            let param = {};
            if(this.checkedCities.length==0){
                _this.$message({
                    message: '请选择文件',
                    type: 'success'
                });
                return;
            }
            for(let i = 0;i<this.checkedCities.length;i++){
                (function(m){
                    let examineStatus = 3;
                    let fileId = _this.checkedCities[m].fileId;
                    let rejectReason = _this.checkedCities[m].rejectReason;
                    let param = {};
                    param.examineStatus = examineStatus;
                    param.fileId = fileId;
                    param.rejectReason = rejectReason;
                     _this.$post('/operation',param).then(function(res){
                        if(res.data.success){
                            _this.$message({
                                message: '已驳回',
                                type: 'success'
                            });
                        }else{
                            _this.$message.error(res.data.errorMsg);
                        }
                        _this.getclshList();
                     });
                })(i);
            }
        },
        sfclFn(obj){
            let _this = this;
            this.curRow = obj;
            this.ckclpop2 = true;
            this.$post('/fileListQry',{area:_this.curRow.area}).then(function(res){
                console.log(res);
                _this.fileList = res.data.resultData;
                for(let i = 0;i<_this.fileList.length;i++){
                    _this.fileList[i].name = _this.fileList[i].fileName;
                }
            });
        },
        deleteFile(obj){
            let _this = this;
            this.$post('/fileDelete',{id:obj.fileId}).then(function(res){
                if(res.data.success){
                    _this.$message({
                        message: '删除文件成功！',
                        type: 'success'
                    });
                    _this.sfclFn(_this.curRow);
                    _this.getAreaList();
                }else{
                    _this.$message.error(res.data.errorMsg);
                }
            });
        }
    },
    mounted() {
        this.getAreaList();
        this.getclshList();
    },
}
</script>
<style lang="less" scoped>
.sider {
        height: 50px;
        padding-left: 10px;
        /deep/.el-breadcrumb {
            line-height: 50px;
        }
        background:#ffffff;
        position:fixed;
        top:0px;
        z-index:999;
    }
    .wjgl-wrap{
        margin-right:20px;
        background:#f1f1f1;
    }
    .wjgl{
        background:#fff;
        padding:10px 20px;
    }
    .clList{
        .tishi{
            height:30px;
            line-height:30px;
            font-size:14px;
            color:red;
            i{
                font-size:20px;
                margin-right:6px;
                vertical-align: middle;
            }
        }
        .operaList{
            width:240px;
            height:30px;
            line-height:30px;
            display:flex;
            float:right;
            .btn{
                width:40px;
                height:28px;
                text-align:center;
                line-height:28px;
                margin-left:10px;
                border-radius:4px;
                cursor:pointer;
            }
            .span2,.span3{
                border:1px solid #0f8ee9;
                color:#54aeef;
            }
            .span4{
                border:1px solid #ff3030;
                color:#ff4949;
                display:inline-block;
                /deep/.el-button--primary, .el-button--danger, .el-button--warning, .el-button--default{
                    width:38px;
                    height:26px;
                    line-height:28px;

                }
                /deep/.el-button{
                    border:none;
                    padding:0;
                    color:#ff4949;
                }
            }
        }
        .uploadList{
            margin-top:20px;
            li{
                width:60%;
                height:30px;
                line-height:30px;
                font-size:16px;
                display:flex;
                justify-content:space-between;
                align-items:center;
                padding-left:5%;
                i{
                    vertical-align:middle;
                }
                span{
                    cursor:pointer;
                }
            }
        }
    }
    /deep/.el-tabs__item{
        font-size:16px;
    }
    .upload-demo{
        width:90%;
        margin:0 auto;
        background:#fbfbfb;
    }
    /deep/.el-upload{
        width:100%;
    }
    /deep/.el-upload-dragger{
        width:100%;
        background:#fbfbfb;
    }

    /deep/ .el-tabs__nav-wrap::after{
        height: 1px;
        background-color: #f5f5f5;
    }

    /deep/ .el-tabs__active-bar{
        height: 1px;
    }
</style>
