<template>
    <div style="height: 100%;overflow-y: auto">
       <div style="padding: 0 20px 30px">
           <div class="sider">
               <el-breadcrumb >
                   <el-breadcrumb-item :to="{ path: '/dataManage/processData' }">数据管理</el-breadcrumb-item>
                   <el-breadcrumb-item v-if="userMessage.userRole == 2" :to="{ path: '/dataManage/xmlb'}">项目列表</el-breadcrumb-item>
                   <el-breadcrumb-item v-if="userMessage.userRole == 0" :to="{ path: '/dataManage/fzdxm'}">承担的项目</el-breadcrumb-item>
                   <el-breadcrumb-item>完善信息</el-breadcrumb-item>
               </el-breadcrumb>
           </div>
           <el-steps :active="active" finish-status="success" style="padding:0 30px;margin-top:20px;">
               <el-step title="基本信息"></el-step>
               <el-step title="其他信息"></el-step>
               <el-step title="上传附件"></el-step>
           </el-steps>
           <div class="three" style="margin-top:20px;">
               <div class="first" v-show="first">
                   <div class="base">
                       <el-form :model="formDataObj" :rules="rules1" ref="ruleForm" label-width="150px" class="demo-ruleForm">
                           <p class="title">项目基本信息</p>
                           <el-row>
                               <el-col :span="8">
                                   <el-form-item label="项目名称" prop="projectName">
                                       <el-input v-model="formDataObj.projectName"></el-input>
                                   </el-form-item>
                               </el-col>
                               <el-col :span="8">
                                   <el-form-item label="申报单位" prop="companyName">
                                       <el-input v-model.trim="formDataObj.companyName"></el-input>
                                   </el-form-item>
                               </el-col>
                               <el-col :span="8">
                                   <el-form-item label="申报单位简称" prop="companyNameAbbreviation">
                                       <el-input v-model="formDataObj.companyNameAbbreviation" show-word-limit maxlength="4"></el-input>
                                   </el-form-item>
                               </el-col>
                           </el-row>
                           <el-row>
                               <el-col :span="8">
                                   <el-form-item label="项目类型" prop="projectType">
                                       <el-select v-model="formDataObj.projectType" placeholder="请选择项目类型" @change="typeChange">
                                           <el-option label="十二五" value="1"></el-option>
                                           <el-option label="十三五" value="2"></el-option>
                                       </el-select>
                                   </el-form-item>
                               </el-col>
                               <el-col :span="8">
                                   <el-form-item label="项目起止年月" label-width="150px" required  prop="projectStartDate">
                                       <el-date-picker
                                           v-model="projectStartDate"
                                           type="daterange"
                                           format="yyyy-MM-dd"
                                           value-format="yyyy-MM-dd"
                                           @change="dateChangeEvent"
                                           range-separator="至"
                                           :start-placeholder="formDataObj.projectStartDate"
                                           :end-placeholder="formDataObj.projectEndDate">
                                       </el-date-picker>
                                   </el-form-item>
                               </el-col>
                               <el-col :span="8">
                                   <el-form-item label="项目负责人" prop="director">
                                       <el-input v-model="formDataObj.director"></el-input>
                                   </el-form-item>
                               </el-col>
                           </el-row>
                           <el-row>
                               <el-col :span="8">
                                   <el-form-item label="总投资" prop="totalInvestment">
                                       <el-input v-model="formDataObj.totalInvestment">
                                           <template slot="append">万元</template>
                                       </el-input>
                                   </el-form-item>
                               </el-col>
                               <el-col :span="8">
                                   <el-form-item label="自筹资金" prop="selfFunds">
                                       <el-input v-model="formDataObj.selfFunds">
                                           <template slot="append">万元</template>
                                       </el-input>
                                   </el-form-item>
                               </el-col>
                               <el-col :span="8">
                                   <el-form-item label="专项资金" prop="specialFunds">
                                       <el-input v-model="formDataObj.specialFunds">
                                           <template slot="append">万元</template>
                                       </el-input>
                                   </el-form-item>
                               </el-col>
                           </el-row>
                           <el-row>
                               <el-col :span="8">
                                   <el-form-item label="立项时间" prop="approvalDate">
                                       <el-date-picker
                                           v-model="formDataObj.approvalDate"
                                           value-format="yyyy-MM-dd"
                                           type="date"
                                           placeholder="选择日期">
                                       </el-date-picker>
                                   </el-form-item>
                               </el-col>
                               <el-col :span="8">
                                   <el-form-item label="所属区域" label-width="150px" prop="area">
                                       <el-select v-model="formDataObj.area" placeholder="请选择活动区域">
                                           <el-option :label="item" :key='index' :value="item" v-for="(item,index) in areaList"></el-option>
                                       </el-select>
                                   </el-form-item>
                               </el-col>
                               <el-col :span="8">
                                   <el-form-item label="产业类型" label-width="150px" prop="projectIndustry">
                                       <el-select v-model="formDataObj.projectIndustry" placeholder="请选择产业类型">
                                           <el-option
                                               v-for="item in cylxList"
                                               :key="item.value"
                                               :label="item.valueDesc"
                                               :value="item.constValue">
                                           </el-option>
                                       </el-select>
                                   </el-form-item>
                               </el-col>
                           </el-row>
                           <el-row>
                               <el-col :span="24">
                                   <el-form-item label="协助单位" prop="projectCompanyList">
                                       <el-tag :key="tag" v-for="tag in formDataObj.projectCompanyList" closable :disable-transitions="false" @close="handleClose(tag)">{{tag}}</el-tag>
                                       <el-input
                                           class="input-new-tag"
                                           v-if="inputVisible"
                                           style="width: 90px"
                                           v-model="inputValue"
                                           ref="saveTagInput"
                                           size="small"
                                           @keyup.enter.native="handleInputConfirm"
                                           @blur="handleInputConfirm"
                                       >
                                       </el-input>
                                       <el-button v-else class="button-new-tag" size="small" @click="showInput">点击添加</el-button>
                                   </el-form-item>
                               </el-col>
                           </el-row>
                           <el-row>
                               <el-col :span="24">
                                   <el-form-item label="主要内容" prop="projectContent">
                                       <el-input show-word-limit :autosize="{ minRows: 4, maxRows: 8}" maxlength="600" v-model="formDataObj.projectContent" type="textarea" placeholder="请输入主要内容（300字以内）"></el-input>
                                   </el-form-item>
                               </el-col>
                           </el-row>
                           <el-row>
                               <el-col :span="24">
                                   <el-form-item label="完成指标" prop="targetContent">
                                       <el-input show-word-limit :autosize="{ minRows: 4, maxRows: 8}" maxlength="600" v-model="formDataObj.targetContent" type="textarea" placeholder="请输入主要内容（300字以内）"></el-input>
                                   </el-form-item>
                               </el-col>
                           </el-row>
                           <p class="title">申报单位基本信息</p>
                           <el-row>
                               <el-col :span="9">
                                   <el-form-item label="单位名称" prop="reportCompanyName">
                                       <el-input v-model="formDataObj.reportCompanyName"></el-input>
                                   </el-form-item>
                               </el-col>
                               <el-col :span="9">
                                   <el-form-item label="所在地" prop="reportAddress">
                                       <el-select v-model="formDataObj.reportAddress" placeholder="请选择所在地址">
                                           <el-option :label="item" :key='index' :value="item" v-for="(item,index) in areaList"></el-option>
                                       </el-select>
                                   </el-form-item>
                               </el-col>
                           </el-row>
                           <el-row>
                               <el-col :span="9">
                                   <el-form-item label="通讯地址" prop="reportPostalAddress">
                                       <el-input v-model="formDataObj.reportPostalAddress"></el-input>
                                   </el-form-item>
                               </el-col>
                               <el-col :span="9">
                                   <el-form-item label="邮编" prop="reportZipCode">
                                       <el-input v-model.trim="formDataObj.reportZipCode"></el-input>
                                   </el-form-item>
                               </el-col>
                           </el-row>
                           <el-row>
                               <el-col :span="9">
                                   <el-form-item label="注册资金" prop="reportRegisteredCapital">
                                       <el-input v-model="formDataObj.reportRegisteredCapital">
                                           <el-select v-model="formDataObj.currency" style="width: 100px" slot="prepend" placeholder="请选择">
                                               <el-option label="人民币" value="1"></el-option>
                                               <el-option label="美元" value="2"></el-option>
                                               <el-option label="日元" value="3"></el-option>
                                           </el-select>
                                           <template slot="append">万元</template>
                                       </el-input>
                                   </el-form-item>
                               </el-col>
                               <el-col :span="9">
                                   <el-form-item label="法人代表" prop="reportLead">
                                       <el-input v-model="formDataObj.reportLead"></el-input>
                                   </el-form-item>
                               </el-col>
                           </el-row>
                           <el-row>
                               <el-col :span="24">
                                   <el-form-item label="营业执照上传" prop="license">
                                       <el-upload
                                            action="#"
                                            list-type="picture-card"
                                            :auto-upload="false"
                                            :file-list="formDataObj.license"
                                            :limit="1"
                                            accept="image/*"
                                            :on-change="licenseChange"
                                            :on-remove="licenseRemove">
                                           <i slot="default" class="el-icon-plus"></i>
                                       </el-upload>
                                   </el-form-item>
                               </el-col>
                           </el-row>
                           <el-row v-if="false">
                               <el-col :span="24">
                                   <el-form-item label="法人代表身份证上传" prop="deputyList">
                                       <el-upload
                                           action="#"
                                           list-type="picture-card"
                                           :auto-upload="false"
                                           :limit="2"
                                           accept="image/*"
                                           :file-list="formDataObj.deputyList"
                                           :on-change="deputyChange"
                                           :on-remove="deputyRemove">
                                           <i slot="default" class="el-icon-plus"></i>
                                       </el-upload>
                                   </el-form-item>
                               </el-col>
                           </el-row>
                           <p class="title">联系人基本信息</p>
                           <el-row>
                               <el-col :span="9">
                                   <el-form-item label="姓名" prop="contactName">
                                       <el-input v-model="formDataObj.contactName"></el-input>
                                   </el-form-item>
                               </el-col>
                               <el-col :span="9">
                                   <el-form-item label="单位" prop="contactCompany">
                                       <el-input v-model="formDataObj.contactCompany"></el-input>
                                   </el-form-item>
                               </el-col>
                           </el-row>
                           <el-row>
                               <el-col :span="9">
                                   <el-form-item label="地址" prop="contactAddress">
                                       <el-input v-model="formDataObj.contactAddress"></el-input>
                                   </el-form-item>
                               </el-col>
                               <el-col :span="9">
                                   <el-form-item label="电话" prop="contactTelephone">
                                       <el-input v-model.trim="formDataObj.contactTelephone"></el-input>
                                   </el-form-item>
                               </el-col>
                           </el-row>
                           <el-row>
                               <el-col :span="9">
                                   <el-form-item label="Email">
                                       <el-input v-model.trim="formDataObj.contactEmail"></el-input>
                                   </el-form-item>
                               </el-col>
                           </el-row>
                       </el-form>
                   </div>
                   <div class="firstBtns" style="margin-bottom:100px;">
                       <el-button style="margin-top: 12px;" @click="next">下一步</el-button>
                       <el-button type="primary" @click="zancun(0)">暂存</el-button>
                       <el-button  @click="zancun(1)">立即提交</el-button>
                   </div>
               </div>

               <div class="second" v-show="second">
                   <el-form :model="formDataObj" :rules="rules2" ref="ruleFormSec" label-width="180px" class="demo-ruleForm">
                       <p class="title">项目建设意义</p>
                       <el-form-item label="项目建设意义及必要性" prop="buildMeaning">
                           <el-input type="textarea" :autosize="{ minRows: 4, maxRows: 8}" v-model="formDataObj.buildMeaning"></el-input>
                       </el-form-item>
                       <p class="title">项目建设方案</p>
                       <el-form-item label="总体目标和年度目标" prop="totalTarget">
                           <el-input type="textarea" :autosize="{ minRows: 4, maxRows: 8}" v-model="formDataObj.totalTarget"></el-input>
                       </el-form-item>
                       <el-form-item label="项目建设内容" prop="buildContent">
                           <el-input type="textarea" :autosize="{ minRows: 4, maxRows: 8}" v-model="formDataObj.buildContent"></el-input>
                       </el-form-item>
                   </el-form>

                   <div style="margin-left:20px;margin-top:20px;">
                       <p class="title">项目考核指标</p>
                       <table class="newTable" cellspacing="0" >
                           <tr>
                               <td style="border-bottom: none !important;" :rowspan="subList.length + 2">绩效指标</td>
                               <td>一级指标</td>
                               <td>二级指标</td>
                               <td>三级指标</td>
                               <td>指标值</td>
                           </tr>
                           <template>
                               <tr v-for="(item,index) in subList">
                                   <td v-if="showTd(subList,'firstTarget',item.firstTarget,index)" :rowspan="computedRow(subList,item.firstTarget,'firstTarget')">{{item.firstTarget}}</td>
                                   <td v-if="showTd(subList,'secondTarget',item.secondTarget,index)" :rowspan="computedRow(subList,item.secondTarget,'secondTarget')">
                                       <span v-if="!item.needEdit">{{item.secondTarget}}</span>
                                       <input style="border: none!important;outline: none!important " type="text" v-model="item.secondTarget" v-else>
                                   </td>
                                   <td v-if="showTd(subList,'thirdTarget',item.thirdTarget,index)" :rowspan="computedRow(subList,item.thirdTarget,'thirdTarget')">
                                       <span v-if="!item.needEdit">{{item.thirdTarget}}</span>
                                       <input style="border: none!important;outline: none!important" type="text" v-model="item.thirdTarget" v-else>
                                   </td>
                                   <td>
                                       <input @input="verifyNum(item.targetValue,index,'targetValue',subList[index],item.firstTarget)" style="height:30px;line-height:30px;border: none !important;outline: none !important;" placeholder="请填写指标值" v-model="item.targetValue"/>
                                       <i class="el-icon-close" v-if="item.needEdit" @click="deleteRow(index)"></i>
                                   </td>
                               </tr>
                           </template>
                           <tr><td style="border-bottom: none !important;cursor: pointer" colspan="4" @click="addZB">+新增指标</td></tr>
                       </table>
                       <el-tabs v-if="false" v-model="activeName" @tab-click="tableClick">
                           <el-tab-pane label="项目考核指标" name="first">
                               <table class="newTable" cellspacing="0" >
                                   <tr>
                                       <td style="border-bottom: none !important;" :rowspan="subList.length + 2">绩效指标</td>
                                       <td>一级指标</td>
                                       <td>二级指标</td>
                                       <td>三级指标</td>
                                       <td>指标值</td>
                                   </tr>
                                   <template>
                                       <tr v-for="(item,index) in subList">
                                           <td v-if="showTd(subList,'firstTarget',item.firstTarget,index)" :rowspan="computedRow(subList,item.firstTarget,'firstTarget')">{{item.firstTarget}}</td>
                                           <td v-if="showTd(subList,'secondTarget',item.secondTarget,index)" :rowspan="computedRow(subList,item.secondTarget,'secondTarget')">
                                               <span v-if="!item.needEdit">{{item.secondTarget}}</span>
                                               <input type="text" v-model="item.secondTarget" v-else>
                                           </td>
                                           <td v-if="showTd(subList,'thirdTarget',item.thirdTarget,index)" :rowspan="computedRow(subList,item.thirdTarget,'thirdTarget')">
                                               <span v-if="!item.needEdit">{{item.thirdTarget}}</span>
                                               <input type="text" v-model="item.thirdTarget" v-else>
                                           </td>
                                           <td>
                                               <input style="height:30px;line-height:30px;" placeholder="请填写指标值" v-model="item.targetValue"/>
                                           </td>
                                       </tr>
                                   </template>
                                   <tr><td style="border-bottom: none !important;cursor: pointer" colspan="4" @click="addZB">+新增指标</td></tr>
                               </table>
                           </el-tab-pane>
                           <el-tab-pane label="专项资金预算" name="second">
                               <table class="newTable" style="width: 100%; border-spacing: 0;border:1px solid #cccccc;border-right:none;" cellspacing="0">
                                   <tr>
                                       <td rowspan="2">序号</td>
                                       <td rowspan="2">科目名称</td>
                                       <td colspan="3">预算投资额 （单位：万元）</td>
                                   </tr>
                                   <tr>
                                       <td>自筹</td>
                                       <td>专项</td>
                                       <td>合计</td>
                                   </tr>
                                   <tr v-for="(item,index) in budgetList" :key="item.index">
                                       <td>{{index + 1}}</td>
                                       <td>
                                           <span v-if="!item.needEdit">{{item.subjectName}}</span>
                                           <input v-else type="text" v-model="item.subjectName"/>
                                       </td>
                                       <td>
                                           <input type="text" v-model="item.budgetSelf"/>
                                       </td>
                                       <td>
                                           <input type="text" v-model="item.budgetSpecial"/>
                                       </td>
                                       <td>
                                           {{Number(item.budgetSelf) + Number(item.budgetSpecial)}}
                                       </td>
                                   </tr>
                                   <tr>
                                       <td style="border-bottom: none !important;cursor: pointer" colspan="5" @click="addRow">添加行</td>
                                   </tr>
                               </table>
                           </el-tab-pane>
                       </el-tabs>
                   </div>
                   <div class="secondBtns">
                       <el-button style="margin-top: 12px;" @click="nextSec">下一步</el-button>
                       <el-button type="primary" @click="zancun(0)">暂存</el-button>
                       <el-button style="margin-top: 12px;" @click="before">上一步</el-button>
                       <el-button  @click="zancun(1)">立即提交</el-button>
                   </div>
               </div>

               <div class="third" v-show="third">
                   <el-upload
                       class="upload-demo"
                       drag
                       action="#"
                       :before-upload="uploadFile3"
                       multiple>
                       <i class="el-icon-upload"></i>
                       <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                       <div class="el-upload__tip" slot="tip">支持扩展名：.rar .zip .doc .docx .pdf .jpg...(最多500kb)</div>
                   </el-upload>
                   <p class="title">可上传以下文件：</p>
                   <ul style="padding-left:30px;">
                       <li>- 税务部门提供的单位上年度完税证明复印件(事业单位可 不提供);</li>
                       <li>- 技术来源及技术先进性的有关证明文件(如:论文、专利、软 件著作权、查新报告等);</li>
                       <li>- 近三年主持承担的国家、省、市相关科技及产业化项目立项等 相关证明材料;</li>
                       <li>- 申报单位和协作单位内部合作协议</li>
                       <li>- 其他证明:如立项(备案)、用地、用海、规划、环保等证明。</li>
                   </ul>
                   <ul style="padding-left:30px;">
                       <li v-for="item in file3" :key="item.index">{{item.name || item.fileName }}   <span style="cursor:pointer;" @click="deletefile3(item)">删除</span></li>
                   </ul>
                   <div class="thirdBtns">
                       <el-button style="margin-top: 12px;" @click="zancun(1)">立即提交</el-button>
                       <el-button type="primary" @click="zancun(0)">暂存</el-button>
                       <el-button style="margin-top: 12px;" @click="before">上一步</el-button>
                   </div>
               </div>

           </div>
       </div>
    </div>
</template>
<script>
import global from '../common/common';
export default {
    data(){
        return{
            areaList: ['上海','浙江','江苏','福建','厦门'],
            userMessage:{},
            type:null,
            projectId:'',
            cylxList:[],//产业类型
            formDataObj:{
                currency: '1',
                projectName: '',
                companyName: '',
                companyNameAbbreviation: '',
                projectType: '',
                projectStartDate: '',
                projectEndDate: '',
                director: '',
                totalInvestment: '',
                selfFunds: '',
                specialFunds: '',
                approvalDate: '',
                area: '',
                projectIndustry: null,
                projectCompanyInfo: [],
                projectCompanyList: [],
                projectContent: '',
                targetContent: '',
                reportCompanyName: '',
                reportAddress: '',
                reportPostalAddress: '',
                reportZipCode: '',
                reportRegisteredCapital: '',
                reportLead: '',
                //no license
                contactName: '',
                contactCompany: '',
                contactAddress: '',
                contactTelephone: '',
                contactEmail: '',
                buildMeaning: '',
                totalTarget: '',
                buildContent: '',
                projectTargets: [],
                projectFundsBudgets: [],
                license: [],
                deputyList: [],
                projectId: '',
                submitState: ''
            },
            projectStartDate:[],
            active:0,
            first:true,
            second:false,
            third:false,
            activeName:'first',
            rules1:{
                projectName: [
                    { required: true, message: '请输入项目名称', trigger: 'blur' },
                ],
                companyName: [
                    { required: true, message: '请输入申报单位', trigger: 'blur' },
                ],
                companyNameAbbreviation: [
                    { required: true, message: '请输入申报单位简称', trigger: 'blur' },
                ],
                projectType: [
                    { required: true, message: '请选择项目类型', trigger: 'change' },
                ],
                projectStartDate: [
                    { required: true, message: '请选择项目起止年月', trigger: 'change' },
                ],
                director: [
                    { required: true, message: '请输入项目负责人', trigger: 'blur' },
                ],
                totalInvestment: [
                    { required: true, message: '请输入总投资', trigger: 'blur' },
                ],
                approvalDate: [
                    { required: true, message: '请选择立项时间', trigger: 'change' },
                ],
                area: [
                    { required: true, message: '请选择所属区域', trigger: 'change' },
                ],
                projectIndustry: [
                    { required: true, message: '请选择申报单位产业类型', trigger: 'change' },
                ],
                targetContent: [
                    { required: true, message: '请输入完成指标', trigger: 'blur' },
                ],
                reportCompanyName: [
                    { required: true, message: '请输入单位名称', trigger: 'blur' },
                ],
                reportAddress: [
                    { required: true, message: '请选择所在地', trigger: 'change' },
                ],
                reportPostalAddress: [
                    { required: true, message: '请输入通讯地址', trigger: 'blur' },
                ],
                reportRegisteredCapital: [
                    { required: true, message: '请输入注册资金', trigger: 'blur' },
                ],
                reportLead: [
                    { required: true, message: '请输入法人代表', trigger: 'blur' },
                ],
                // license: [
                //     { required: true ,message: '请上传营业执照',validator: validateLength, trigger: 'change'  },
                // ],
                // deputyList: [
                //     { required: true, message: '请上传法人代表身份证', validator: validateDeputyLength,trigger: 'change'},
                // ],
                contactName: [
                    { required: true, message: '请输入姓名', trigger: 'blur' },
                ],
                contactCompany: [
                    { required: true, message: '请输入单位', trigger: 'blur' },
                ],
                contactAddress: [
                    { required: true, message: '请输入地址', trigger: 'blur' },
                ],
                contactTelephone: [
                    { required: true, message: '请输入电话', trigger: 'blur' },
                ],
            },
            rules2:{
                totalTarget: [
                    { required: true, message: '请输入总体目标和年度目标', trigger: 'blur' },
                ],
                buildContent: [
                    { required: true, message: '请输入项目建设内容', trigger: 'blur' },
                ],
            },
            ruleForm3:{
                name:'',
                danwei:'',
                adress:'',
                tel:'',
                email:''
            },
            rules3:{
                name:[
                    { required: true, message: '必填项', trigger: 'blur' },
                ],
                danwei:[
                    { required: true, message: '必填项', trigger: 'blur' },
                ],
                adress:[
                    { required: true, message: '必填项', trigger: 'blur' },
                ],
                tel:[
                    { required: true, message: '必填项', trigger: 'blur' },
                ]
            },
            subList:[],
            addSpecial:[],
            addRowList:[],
            uploadFile1List:'',
            uploadFile2List:'',
            uploadFile1base64:'',
            uploadFile2base64:'',
            file3:[],
            uploadFile3base64:'',
            uploadFile3List:'',
            budgetList: [
                {
                    subjectName: '购置设备费',
                    budgetSelf: '',
                    budgetSpecial: '',
                    budgetTotal: '',
                    needEdit: false
                },
                {
                    subjectName: '设备改造与租赁费',
                    budgetSelf: '',
                    budgetSpecial: '',
                    budgetTotal: '',
                    needEdit: false
                },
                {
                    subjectName: '材料费',
                    budgetSelf: '',
                    budgetSpecial: '',
                    budgetTotal: '',
                    needEdit: false
                },
                {
                    subjectName: '测试化验加工费',
                    budgetSelf: '',
                    budgetSpecial: '',
                    budgetTotal: '',
                    needEdit: false
                },
                {
                    subjectName: '燃料动力费',
                    budgetSelf: '',
                    budgetSpecial: '',
                    budgetTotal: '',
                    needEdit: false
                },
                {
                    subjectName: '劳务费',
                    budgetSelf: '',
                    budgetSpecial: '',
                    budgetTotal: '',
                    needEdit: false
                },
                {
                    subjectName: '差旅费',
                    budgetSelf: '',
                    budgetSpecial: '',
                    budgetTotal: '',
                    needEdit: false
                },
                {
                    subjectName: '会议费',
                    budgetSelf: '',
                    budgetSpecial: '',
                    budgetTotal: '',
                    needEdit: false
                },
                {
                    subjectName: '文版/文献/信息传播/知识产权事务费',
                    budgetSelf: '',
                    budgetSpecial: '',
                    budgetTotal: '',
                    needEdit: false
                },
                {
                    subjectName: '专家咨询费',
                    budgetSelf: '',
                    budgetSpecial: '',
                    budgetTotal: '',
                    needEdit: false
                },
                {
                    subjectName: '国际合作与交流费',
                    budgetSelf: '',
                    budgetSpecial: '',
                    budgetTotal: '',
                    needEdit: false
                },
                {
                    subjectName: '基础建设费',
                    budgetSelf: '',
                    budgetSpecial: '',
                    budgetTotal: '',
                    needEdit: false
                },
                {
                    subjectName: '其他',
                    budgetSelf: '',
                    budgetSpecial: '',
                    budgetTotal: '',
                    needEdit: false
                },
            ],
            url:global.httpUrl,
            inputVisible: false,
            inputValue: '',
        }
    },
    methods: {
        dateChangeEvent(val){
            this.formDataObj.projectStartDate = val[0]
            this.formDataObj.projectEndDate = val[1]
        },
        verifyNum(val,index,key,arr,bool){
            if(bool == '特有指标'){
                return
            }
            if(val.indexOf('.') == -1){
                let reg = /^\d{1,}$/
                if(!reg.test(val)){
                    this.$message.info('请输入数字')
                    arr[key] = ''
                }else {
                    if (val == 0) {
                        arr[key] = ''
                    }else{
                        arr[key] = val
                    }
                }
            }
        },
        deleteRow(index){
            this.subList.splice(index,1)
        },
        computedRow(data,title,key){
            let arr = data.filter(item => item[key] == title)
            return arr.length
        },
        showTd(data,key,title,index){
            let str = data.findIndex(item => item[key] == title)
            if(index == str){
                return true
            }else{
                return false
            }

        },
        typeChange(val){
            if(val == 1){
                this.areaList = ['上海','浙江','江苏','福建','厦门']
            }else{
                this.areaList = ['南通','浦东新区','舟山','宁波','厦门','福州']
            }
            this.formDataObj.area = ''
            this.formDataObj.reportAddress = ''
        },
        getCylx(){
            let _this = this;
            this.$axios.get('/Const/list',{params:{type:1001}})
                .then(res=>{
                    _this.cylxList = res.data.resultData;
                })
        },
        initImg(imgUrl){
            let url = window.location.origin
            if(!imgUrl || imgUrl == null || imgUrl == undefined){
                return ''
            }
            let obj = {
                url: `${url}/cjRiverFile/${imgUrl}`,
                name: 'test',
            }
            return obj
        },
        getData(){
            let param = {};
            param.projectId = this.projectId;
            let _url = '';
            if(this.userMessage.userRole == 0){
                _url = '/ProjectForCompanyController/getSingProjectDetailInfo';
            }else if(this.userMessage.userRole == 2){
                _url = '/ProjectForManagerController/getSingProjectDetailInfo';
            }
            this.$post(_url, param)
                .then(data =>{
                    this.formDataObj = data.data.resultData
                    this.projectStartDate.push(this.formDataObj.projectStartDate, this.formDataObj.projectEndDate)
                    let str = this.formDataObj.projectTargetList
                    this.formDataObj.deputyList = [this.initImg(this.formDataObj.reportLeadImgFront),this.initImg(this.formDataObj.reportLeadImgBack)].filter(d => d)
                    this.formDataObj.license = [this.initImg(this.formDataObj.reportBusinessLicense)].filter(d => d)
                    this.file3 = this.formDataObj.projectFileList
                    if(this.formDataObj.projectType == 1){
                        this.areaList = ['上海','浙江','江苏','福建','厦门']
                    }else{
                        this.areaList = ['南通','浦东新区','舟山','宁波','厦门','福州']
                    }
                    if(this.formDataObj.currency == null || this.formDataObj.currency == undefined){
                        this.formDataObj.currency = '1'
                    }
                    this.formDataObj.projectCompanyList = this.formDataObj.projectCompanyList.map(item =>item.companyName)
                    this.formDataObj.projectFundsBudgetList.forEach(item =>{
                        this.budgetList.forEach(child=>{
                            if(child.subjectName == item.subjectName){
                                child.budgetSelf = item.budgetSelf
                                child.budgetSpecial = item.budgetSpecial
                                child.budgetTotal = item.budgetTotal
                            }
                        })
                    })
                    str.forEach(item =>{
                        item.subList.forEach(child =>{
                            child.subList.forEach(son =>{
                                let obj = {
                                    firstTarget: item.firstTarget,
                                    secondTarget: child.secondTarget,
                                    thirdTarget: son.thirdTarget,
                                    targetValue: son.targetValue,
                                    projectId: this.projectId,
                                    needEdit: false,
                                }
                                this.subList.push(obj)
                            })
                        })
                    })
                    this.$refs.ruleForm.resetFields()
                })
        },

        zancun(num){
            if(this.first == true){
                this.$refs.ruleForm.validate(valid =>{
                    if(valid){
                        let formData = new FormData()
                        this.formDataObj.submitState = num
                        this.formDataObj.projectCompanyInfo = this.formDataObj.projectCompanyList.map(item => item).join(',')
                        this.formDataObj.projectTargets = this.subList.map(item => item)
                        this.file3.forEach(item =>{
                            if(item.size){
                                formData.append('uploadFile',item)
                            }
                        })
                        if(this.formDataObj.license.length > 0){
                            if(this.formDataObj.license[0].raw){
                                formData.append('uploadBussessImg',this.formDataObj.license[0].raw)
                            }
                        }
                        if(this.formDataObj.contactEmail != '' && this.formDataObj.contactEmail!= null){
                            this.formDataObj.contactEmail = this.formDataObj.contactEmail.trim()
                        }
                        this.formDataObj.companyName = this.formDataObj.companyName.trim()
                        this.formDataObj.contactTelephone = this.formDataObj.contactTelephone.trim()
                        if(this.formDataObj.reportZipCode != '' && this.formDataObj.reportZipCode!= null){
                            this.formDataObj.reportZipCode = this.formDataObj.reportZipCode.trim()
                        }



                        // delete this.formDataObj.license
                        // delete this.formDataObj.deputyList
                        let obj = JSON.stringify(this.formDataObj)
                        formData.append('modelJson',obj)
                        let _url = '';
                        if(this.userMessage.userRole == 0){
                            _url = '/ProjectForCompanyController/updateProject';
                        }else if(this.userMessage.userRole == 2){
                            _url = '/ProjectForManagerController/updateProject';
                        }
                        this.$uploadFile(_url,formData)
                            .then(data =>{
                                this.$message.success('提交成功')
                                this.$emit('changePoint')
                                this.$router.go(-1)
                            })
                    }else{
                        this.$message.error('请将所有必填项填写完整')
                    }
                })
            }
            if(this.second == true){
                this.$refs.ruleFormSec.validate(valid =>{
                    if(valid){
                        let formData = new FormData()
                        this.formDataObj.submitState = num
                        this.formDataObj.projectCompanyInfo = this.formDataObj.projectCompanyList.map(item => item).join(',')
                        this.formDataObj.projectTargets = this.subList.map(item => item)
                        this.file3.forEach(item =>{
                            if(item.size){
                                formData.append('uploadFile',item)
                            }
                        })
                        if(this.formDataObj.license.length > 0){
                            if(this.formDataObj.license[0].raw){
                                formData.append('uploadBussessImg',this.formDataObj.license[0].raw)
                            }
                        }
                        if(this.formDataObj.contactEmail != '' && this.formDataObj.contactEmail!= null){
                            this.formDataObj.contactEmail = this.formDataObj.contactEmail.trim()
                        }
                        this.formDataObj.companyName = this.formDataObj.companyName.trim()
                        this.formDataObj.contactTelephone = this.formDataObj.contactTelephone.trim()
                        if(this.formDataObj.reportZipCode != '' && this.formDataObj.reportZipCode!= null){
                            this.formDataObj.reportZipCode = this.formDataObj.reportZipCode.trim()
                        }



                        // delete this.formDataObj.license
                        // delete this.formDataObj.deputyList
                        let obj = JSON.stringify(this.formDataObj)
                        formData.append('modelJson',obj)
                        let _url = '';
                        if(this.userMessage.userRole == 0){
                            _url = '/ProjectForCompanyController/updateProject';
                        }else if(this.userMessage.userRole == 2){
                            _url = '/ProjectForManagerController/updateProject';
                        }
                        this.$uploadFile(_url,formData)
                            .then(data =>{
                                this.$message.success('提交成功')
                                this.$emit('changePoint')
                                this.$router.go(-1)
                            })
                    }else{
                        this.$message.error('请将所有必填项填写完整')
                    }
                })
            }
            if(this.third == true){
                let formData = new FormData()
                this.formDataObj.submitState = num
                this.formDataObj.projectCompanyInfo = this.formDataObj.projectCompanyList.map(item => item).join(',')
                this.formDataObj.projectTargets = this.subList.map(item => item)
                this.file3.forEach(item =>{
                    if(item.size){
                        formData.append('uploadFile',item)
                    }
                })
                if(this.formDataObj.license.length > 0){
                    if(this.formDataObj.license[0].raw){
                        formData.append('uploadBussessImg',this.formDataObj.license[0].raw)
                    }
                }
                if(this.formDataObj.contactEmail != '' && this.formDataObj.contactEmail!= null){
                    this.formDataObj.contactEmail = this.formDataObj.contactEmail.trim()
                }
                this.formDataObj.companyName = this.formDataObj.companyName.trim()
                this.formDataObj.contactTelephone = this.formDataObj.contactTelephone.trim()
                if(this.formDataObj.reportZipCode != '' && this.formDataObj.reportZipCode!= null){
                    this.formDataObj.reportZipCode = this.formDataObj.reportZipCode.trim()
                }



                // delete this.formDataObj.license
                // delete this.formDataObj.deputyList
                let obj = JSON.stringify(this.formDataObj)
                formData.append('modelJson',obj)
                let _url = '';
                if(this.userMessage.userRole == 0){
                    _url = '/ProjectForCompanyController/updateProject';
                }else if(this.userMessage.userRole == 2){
                    _url = '/ProjectForManagerController/updateProject';
                }
                this.$uploadFile(_url,formData)
                    .then(data =>{
                        this.$message.success('提交成功')
                        this.$emit('changePoint')
                        this.$router.go(-1)
                    })
            }
        },

        addZB(){
            let obj = {
                firstTarget: '特有指标',
                secondTarget: '',
                thirdTarget: '',
                targetValue: '',
                targetUnit: '',
                needEdit: true,
                projectId: this.projectId
            }
            this.subList.push(obj);
        },
        addRow(){
            let obj = {
                    subjectName: '',
                    budgetSelf: '',
                    budgetSpecial: '',
                    budgetTotal: '',
                    needEdit: true,
                    projectId: this.projectId
                }
            this.budgetList.push(obj);
        },
        addCompany(){
            let _json = {};
            _json.companyName = this.xiezhudanwei;
            this.data.projectCompanyList.push(_json);
            this.xiezhudanwei = '';
        },
        upload1change(event){
            let _this = this;
            this.uploadFile1List = event.target.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                _this.uploadFile1base64 = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
            $(event.srcElement).val('');
        },
        upload2change(event){
            let _this = this;
            this.uploadFile2List = event.target.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                _this.uploadFile2base64 = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
            $(event.srcElement).val('');
        },
        upload3change(event){
            let _this = this;
            this.uploadFile3List = event.target.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                _this.uploadFile3base64 = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
            $(event.srcElement).val('');
        },
        deleteFileZ(){
            this.uploadFile1base64 = '';
            this.uploadFile1List = '';
        },
        deleteFileF(){
            this.uploadFile2base64 = '';
            this.uploadFile2List = '';
        },
        deleteFileY(){
            this.uploadFile3base64 = '';
            this.uploadFile3List = '';
        },
        uploadFile3(file){
            this.file3.push(file);
            return false;


            this.formList = res.map(item => {
                this.$set(item,'value','')
                return item
            })
        },
        deletefile3(item){
            let _this = this;
            let param = {};
            if(item.fileId){
                param.fileId = item.fileId;
                this.$post('/ProjectForManagerController/deleteSingAttachFile',param).then(function(res){
                    if(res.data.success){
                        _this.$message({
                            message: '删除成功',
                            type: 'success'
                        });
                        for(let i = 0;i<_this.file3.length;i++){
                            if(_this.file3[i].fileId == item.fileId){
                                _this.file3.splice(i,1);
                            }
                        }
                    }else{
                        _this.$message.error(res.data.errorMsg);
                    }
                });
            }else{
                for(let i = 0;i<_this.file3.length;i++){
                    if(_this.file3[i].name == item.name){
                        _this.file3.splice(i,1);
                    }
                }
            }
        },
        next(){
            if(this.active == 0){
                this.$refs.ruleForm.validate(valid =>{
                    if(valid){
                        this.active ++
                        this.first = false;
                        this.second = true;
                        this.third = false;
                        return
                    }else{
                        this.$message.error('请将所有必填项填写完整')
                    }
                })
            }


            return


            this.active++;
            if(this.active > 2){
                this.active = 0;
            }
            if(this.active == 0){

            }
            if(this.active == 1){
                this.first = false;
                this.second = true;
                this.third = false;
            }
            if(this.active == 2){
                this.first = false;
                this.second = false;
                this.third = true;
            }
        },
        nextSec(){
            if(this.active == 1){
                this.$refs.ruleFormSec.validate(valid =>{
                    if(valid){
                        this.active ++
                        this.first = false;
                        this.second = false;
                        this.third = true;
                        return
                    }else{
                        this.$message.error('请将所有必填项填写完整')
                    }
                })
            }
        },
        tableClick(tab, event){

        },
        before(){
            this.active--;
            if(this.active == 0){
                this.first = true;
                this.second = false;
                this.third = false;
            }
            if(this.active == 1){
                this.first = false;
                this.second = true;
                this.third = false;
            }
        },
        commit(){

        },
        handleClose(tag) {
            this.formDataObj.projectCompanyList.splice(this.formDataObj.projectCompanyList.indexOf(tag), 1);
        },
        showInput() {
            this.inputVisible = true;
            this.$nextTick(_ => {
                this.$refs.saveTagInput.$refs.input.focus();
            });
        },
        handleInputConfirm() {
            let inputValue = this.inputValue;
            if (inputValue) {
                this.formDataObj.projectCompanyList.push(inputValue);
            }
            this.inputVisible = false;
            this.inputValue = '';
        },
        licenseChange(file,fileList){
            this.formDataObj.license = fileList
        },
        licenseRemove(file,fileList){
            this.formDataObj.license = fileList
        },
        deputyChange(file,fileList){
            this.formDataObj.deputyList = fileList
        },
        deputyRemove(file,fileList){
            this.formDataObj.deputyList = fileList
        },
    },
    mounted() {
        this.userMessage = JSON.parse(sessionStorage.getItem('userMessage'));
        console.log(this.userMessage)
        this.projectId = this.$route.query.projectId;
        this.type = this.$route.query.type;
        this.budgetList.map(item => item.projectId = this.projectId)
        this.getData();
        this.getCylx();
    },
}
</script>
<style lang="less" scoped>
    .sider{
        position:fixed;
        top:0px;
        z-index:999;
        height:50px;
        /deep/.el-breadcrumb {
            line-height: 50px;
        }

    }
    /deep/ .el-col .el-select{
        display: block !important;
    }
    /deep/ .el-col .el-date-editor{
        width: 100% !important;
    }
    .first{
        .base{
            .title{
                font-size: 16px;
                color: #666;
                font-weight: bolder;
                padding: 15px;
            }

        }
        .upload1{
            float:left;
            width:120px;
            height:120px;
            border:1px dotted #ccc;
            text-align:center;
            line-height:120px;
            font-size:24px;
            color: #333333;
            margin-left:20px;

        }
        /*i{*/
        /*    position:absolute;*/
        /*    width:20px;*/
        /*    height:20px;*/
        /*    right:-10px;*/
        /*    top:-10px;*/
        /*    border:1px solid #cccccc;*/
        /*    border-radius:10px;*/
        /*    text-align:center;*/
        /*    line-height:20px;*/
        /*    font-style:normal;*/
        /*    font-size:12px;*/
        /*    background:#ffffff;*/
        /*    z-index:10;*/
        /*    cursor:pointer;*/
        /*}*/
        .upload1List{
            li{
                float:left;
                position:relative;
                width:120px;
                height:120px;
                margin-left:30px;
                img{
                    width:100%;
                    height:100%;
                }

            }
        }
    }
    .second{
        .title{
            font-size: 16px;
            color: #666;
            font-weight: bolder;
            padding: 15px;
        }
        td{
            height: 40px;
            line-height: 40px;
            padding-left:20px;
        }
        .newTable{
            width: 100%;
            border-spacing: 0;
            border-left:1px solid #cccccc;
            border-bottom:1px solid #cccccc;
            border-top:1px solid #cccccc;
            td{
                border-right:1px solid #cccccc;
                border-bottom:1px solid #cccccc;
                input{
                    height: 30px;
                    line-height: 30px;
                    padding-left: 20px;
                }
            }
        }
    }
    .third{
        .title{
            padding-left:30px;
            margin-top:20px;
        }
        ul{
            li{
                font-size:18px;
                line-height:30px;
                color:#999999;
            }
        }
    }
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
    /deep/.el-upload-dragger{
        width:500px;
        margin:0 auto;
    }
    /deep/.upload-demo{
        text-align:center;
    }
    /deep/.el-date-editor .el-range-separator{
        width:7%;
    }
</style>





