<template>
    <div style="margin-left:20px;height: 100%;overflow-y: auto">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item>项目名录</el-breadcrumb-item>
                <el-breadcrumb-item>项目列表</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
       <div class="btns">
           <span v-for="item in btns" :key="item.index" :class="i==item.id?'mark':''" @click="selectProject(item)">{{item.name}}</span>
       </div>
        <!-- <div class="btns">
            <el-radio-group v-model="tabsValue">
                <el-radio-button v-for="item in btns" :label="item.id" @click="selectProject(item)" :key="item.index">{{item.name}}</el-radio-button>
            </el-radio-group>
        </div> -->

        <div class="search">
            <el-form inline class="slider">
                <el-form-item label="项目名称：">
                    <el-input v-model="inputProjectName" placeholder="请输入内容"></el-input>
                </el-form-item>
                <el-form-item label="项目类型：">
                    <el-select v-model="valueType" placeholder="请选择" @change="projectTypeChange">
                        <el-option v-for="(item,index) in options" :key="index" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="所属区域">
                    <el-cascader
                        v-model="valueArea"
                        :options="optionshx"
                        :show-all-levels=false
                        :props="{ expandTrigger: 'hover' }"
                        ></el-cascader>
                    <!-- <el-select v-model="valueArea" placeholder="请选择">
                        <el-option v-for="(item,index) in areaOption" :key="index" :label="item.label" :value="item.value"></el-option>
                    </el-select> -->
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="search">搜索</el-button>
                </el-form-item>
            </el-form>
            <div class="button">
                <el-upload style="margin-right: 15px" action="/ProjectForManagerController/importProject" :multiple="false" :auto-upload="false" :on-change="handlePreview" :on-remove="handleRemove" :file-list="fileList" :show-file-list="false">
                    <el-button>导入文件</el-button>
                </el-upload>
                <el-button @click="downMuban">下载模版</el-button>
            </div>
        </div>
        <div class="xiangmuList">
            <ul class="clear">
                <li class="addli" @click="addxiangmu">+</li>
                <li v-for="item in dataList" :key="item.index">
                    <p class="title">
                        <span class="span1" @click="look_detail(item)">{{item.projectName}}</span>
                        <span>
                            <i v-if="item.projectType == 2">十三五</i>
                            <i v-if="item.projectType == 1">十二五</i>
                            <span class="area">{{item.area}}</span>
                        </span>
                    </p>
                    <p class="danwei">申报单位：{{item.companyName}}</p>
                    <p class="fuzeren">项目负责人：{{item.director}}</p>
                    <p class="fuzeren">项目起止日期：{{item.projectStartDate}}至{{item.projectEndDate}}</p>
                    <p class="foot">
                        <i class="wanshan" v-if="item.infoState == 0" style="color: #FF0000">待完善</i>
                        <i class="wanshan" v-if="item.infoState == 1" style="color: #00A854">已完善</i>
                        <span class="switch" style="margin-left:50px;margin-right:20px;">是否由企业完善：
                            <el-switch
                            v-model="item.isCompanyWrite"
                            :disabled="item.writeState != 0 && item.writeState != 1 ? true : false"
                            active-text="是"
                            inactive-text="否"
                            active-color="#13ce66"
                            @change="companyWrite($event,item.projectId)"
                            inactive-color="#cccccc">
                            </el-switch>
                        </span>
                        <el-dropdown @command="handleCommand">
                            <span class="el-dropdown-link detail">
                                <span class="detail el-icon-more"></span><i class="el-icon-arrow-down el-icon--right"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item :command="'a-'+item.projectId" :disabled="item.isCompanyWrite">完善信息</el-dropdown-item>
                                <el-dropdown-item :command="'b-'+item.projectId">查看详情</el-dropdown-item>
                                <el-dropdown-item :command="'c-'+item.projectId" v-if="item.infoState == 0">删除项目</el-dropdown-item>
                                <el-dropdown-item :command="'d-'+item.projectId" v-if="item.infoState == 1">终止项目</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </p>
                </li>
            </ul>
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page.sync="pageIndex"
                :page-size="50"
                hide-on-single-page
                layout="prev, pager, next, jumper"
                :total="total">
            </el-pagination>
        </div>

        <!-- 添加项目弹窗 -->
        <el-dialog title="添加项目" :visible.sync="dialogFormVisible" class="addProject" :before-close="beforeClose">
            <el-form :model="form" :rules="rules" ref="addEventDom">
                <el-form-item label="项目名称" label-width="120px" prop="name">
                    <el-input v-model="form.name" placeholder="请输入项目名称" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="申报单位" label-width="120px" prop="danwei">
                    <el-input v-model.trim="form.danwei" placeholder="请输入申报单位" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="项目负责人" label-width="120px" prop="fuzeren">
                    <el-input v-model="form.fuzeren" placeholder="请输入项目负责人" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="项目类型" label-width="120px" prop="leixing">
                    <el-select v-model="form.leixing" placeholder="请选择项目类型" @change="typeChangeEvent" prop="leixing">
                        <el-option label="十二五" value="1"></el-option>
                        <el-option label="十三五" value="2"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="所属区域" label-width="120px" prop="area">
                    <el-cascader
                        v-model="form.area"
                        :options="optionshx"
                        :show-all-levels=false
                        :props="{ expandTrigger: 'hover' }"
                        ></el-cascader>
                    <!-- <el-select v-model="form.area" placeholder="请选择所属区域" prop="area">
                        <el-option :label="item" :key='index' :value="item" v-for="(item,index) in areaList"></el-option>
                    </el-select> -->
                </el-form-item>
                <el-form-item label="项目起止日期" label-width="120px" required prop="time">
                    <el-date-picker
                        v-model="form.time"
                        type="daterange"
                        format="yyyy-MM-dd"
                        value-format="yyyy-MM-dd"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期">
                    </el-date-picker>
                </el-form-item>
                <span>是否由企业完善：
                    <el-switch
                    v-model="isQiye"
                    active-text="是"
                    inactive-text="否"
                    active-color="#13ce66"
                    inactive-color="#cccccc">
                    </el-switch>
                </span>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="cancel">取 消</el-button>
                <el-button type="primary" @click="sure">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</template>
<script>
export default {
    data(){
        return {
            fileList: [],
            areaList: ['南通','浦东新区','舟山','宁波','厦门','福州'],

            btns:[
                {
                    name:'全部项目',
                    id:0
                },
                {
                    name:'待完善项目',
                    id:1
                },
                {
                    name:'已完善项目',
                    id:2
                },
            ],
            i:0,
            valueType:2,
            valueArea:"全部",
            inputProjectName:'',
            options:[
                {
                    label:'十二五',
                    value:1
                },
                {
                    label:'十三五',
                    value:2
                },
            ],
            areaOption:[
                {
                    label:'全部',
                    value:''
                },
                {
                    label:'南通',
                    value:'南通'
                },
                {
                    label:'浦东新区',
                    value:'浦东新区'
                },
                {
                    label:'舟山',
                    value:'舟山'
                },
                {
                    label:'宁波',
                    value:'宁波'
                },
                {
                    label:'厦门',
                    value:'厦门'
                },
                {
                    label:'福州',
                    value:'福州'
                },
            ],
            optionshx:[{
                    value: '全部',
                    label: '全部',
                },{
                    value: '江苏',
                    label: '江苏',
                    children: [{
                        value: '南通',
                        label: '南通',
                    }]
                }, {
                    value: '上海',
                    label: '上海',
                    children: [{
                        value: '浦东新区',
                        label: '浦东新区',
                    }]
                },{
                    value: '浙江',
                    label: '浙江',
                    children: [{
                        value: '舟山',
                        label: '舟山',
                    }]
                },{
                    value: '福建',
                    label: '福建',
                    children: [{
                        value: '宁波',
                        label: '宁波',
                    },{
                        value: '厦门',
                        label: '厦门',
                    },{
                        value: '福州',
                        label: '福州',
                    }]
                }],
            optionshx1:[{
                    value: '全部',
                    label: '全部',
                },{
                value: '江苏',
                label: '江苏',
                children: [{
                    value: '南通',
                    label: '南通',
                }]
            }, {
                value: '上海',
                label: '上海',
                children: [{
                    value: '浦东新区',
                    label: '浦东新区',
                }]
            },{
                value: '浙江',
                label: '浙江',
                children: [{
                    value: '舟山',
                    label: '舟山',
                }]
            },{
                value: '福建',
                label: '福建',
                children: [{
                    value: '宁波',
                    label: '宁波',
                },{
                    value: '厦门',
                    label: '厦门',
                },{
                    value: '福州',
                    label: '福州',
                }]
            }],
            optionshx2:[
                {
                    value: '全部',
                    label: '全部',
                },
                {
                    value: '江苏',
                    label: '江苏',
                },
                {
                    value: '浙江',
                    label: '浙江',
                },
                {
                    value: '福建',
                    label: '福建',
                }
            ],
            vSwitch:true,
            dialogFormVisible:false,
            form:{
                name:'',
                danwei:'',
                fuzeren:'',
                leixing:"2",
                time:'',
                area:''
            },
            rules:{
                name:[
                    { required: true, message: '请输入项目名称', trigger: 'blur' },
                ],
                danwei:[
                    { required: true, message: '请输入申报单位', trigger: 'blur' },
                ],
                fuzeren:[
                    { required: true, message: '请输入项目负责人', trigger: 'blur' },
                ],
                leixing:[
                    { required: true, message: '请选择项目类型', trigger: 'change' },
                ],
                time:[
                    { required: true, message: '请选择项目起止日期', trigger: 'change' },
                ],
                area:[
                    { required: true, message: '请选择所属区域', trigger: 'change' },
                ]
            },
            isQiye:true,
            dataList:[],
            pageIndex:1,
            total:0,
            tabsValue: '0',
        }
    },
    methods: {
        beforeClose(done){
            this.$refs.addEventDom.clearValidate()
            done()
        },
        handleRemove(file,fileList){
            this.fileList = fileList
        },
        look_detail(obj){
            if(obj.infoState == 1){
                this.$router.push({ path: '/dataManage/xmxq',query:{projectId:obj.projectId}});
            }

        },
        handlePreview(file,fileList){
            this.fileList = fileList
            this.importChange()
        },
        projectTypeChange(val){
            this.valueArea = '全部'
            if(val == 1){
                this.areaOption = [
                    {
                        label:'全部',
                        value:''
                    },
                    {
                        label:'江苏',
                        value:'江苏'
                    },
                    {
                        label:'浙江',
                        value:'浙江'
                    },
                    {
                        label:'福建',
                        value:'福建'
                    },

                ];
                this.optionshx = this.optionshx2;
            }else{
                this.areaOption = [
                    {
                        label:'全部',
                        value:''
                    },
                    {
                        label:'南通',
                        value:'南通'
                    },
                    {
                        label:'浦东新区',
                        value:'浦东新区'
                    },
                    {
                        label:'舟山',
                        value:'舟山'
                    },
                    {
                        label:'宁波',
                        value:'宁波'
                    },
                    {
                        label:'厦门',
                        value:'厦门'
                    },
                    {
                        label:'福州',
                        value:'福州'
                    },
                ];
                this.optionshx = this.optionshx1;
            }
        },
        handleSizeChange(val){
            this.pageIndex = val;
            this.getList();
        },
        handleCurrentChange(val){
            this.pageIndex = val;
            this.getList();
        },
        typeChangeEvent(val){
            if(val == 1){
                this.areaList = ['浙江','江苏','福建',]
                this.optionshx = this.optionshx2;
            }else{
                this.areaList = ['南通','浦东新区','舟山','宁波','厦门','福州']
                this.optionshx = this.optionshx1;
            }
        },
        selectProject(item){
            this.i = item.id;
            this.getList();
        },
        addxiangmu(){
            this.dialogFormVisible = true;
        },
        cancel(){
            this.$refs.addEventDom.clearValidate()
            this.dialogFormVisible = false;
        },
        search(){
            this.getList();
        },
        sure(){
            this.$refs.addEventDom.validate(valid =>{
                if(!valid){
                    this.$message.info('请将表单填写完整')
                }else{
                    let _this = this;
                    let param = {};
                    param.projectName = this.form.name;
                    param.director = this.form.fuzeren;
                    param.companyName = this.form.danwei.trim();
                    param.projectType = this.form.leixing;
                    param.projectStartDate = this.form.time[0];
                    param.projectEndDate = this.form.time[1];
                    param.area = this.form.area[this.form.area.length-1];
                    if(this.isQiye){
                        this.isQiye = 1;
                    }else{
                        this.isQiye = 0;
                    }
                    param.isCompanyWrite = this.isQiye;
                    this.$post('/ProjectForManagerController/addProject',param).then(function(res){
                        if(res.data.success){
                            _this.$message({
                                message: '创建成功！',
                                type: 'success'
                            });
                            _this.getList();
                            _this.$refs.addEventDom.clearValidate
                        }else{
                            _this.$message({
                                message: res.data.errorMsg,
                                type: 'error'
                            });
                        }
                    });

                    this.dialogFormVisible = false;
                }
            })
        },
        getList(){
            let _this = this;
            let param = {};
            param.pageIndex = this.pageIndex;
            console.log(this.valueArea);
            if(this.valueArea != ''&&this.valueArea != '全部'){
                param.area = this.valueArea[this.valueArea.length-1];
            }
            if(this.inputProjectName != ''){
                param.keyword = this.inputProjectName;
            }
            param.projectType = this.valueType;
            if(this.i == 0){
            }else if(this.i == 1){
                param.state = 0;
            }else if(this.i == 2){
                param.state = 1;
            }
            this.$post('/ProjectForManagerController/getProjectForManagerList',param).then(function(res){
                _this.dataList = res.data.resultData.records;
                _this.total = res.data.resultData.total;
                for(let i = 0;i<_this.dataList.length;i++){
                    if(_this.dataList[i].isCompanyWrite == 0){
                        _this.dataList[i].isCompanyWrite = false
                    }else{
                        _this.dataList[i].isCompanyWrite = true
                    }
                }

            });
        },
        companyWrite(obj,projectId){
            let _this = this;
            let param = {};
            if(obj){
                param.isCompanyWrite = 1;
            }else{
                param.isCompanyWrite = 0;
            }
            param.projectId = projectId;
            this.$post('/ProjectForManagerController/updateIsCompanyWriteState',param).then(function(res){
                if(res.data.success){
                    _this.$message({
                        message: '授权成功！',
                        type: 'success'
                    });
                }else{
                    _this.$message({
                        message: res.data.errorMsg,
                        type: 'warning'
                    });
                }
            });
        },
        handleCommand(command){
            let _this = this;
            let arr = command.split('-');
            if(arr[0] == 'a'){
                this.$router.push({ path: '/dataManage/wsxx',query:{projectId:arr[1],type:2}});//type=2 编辑
            }
            if(arr[0] == 'b'){
                this.$router.push({ path: '/dataManage/xmxq',query:{projectId:arr[1]}});
            }
            if(arr[0] == 'c'){
                let param = {};
                param.projectId = arr[1];
                this.$post('/deleteProject',param).then(function(res){
                    if(res.data.success){
                        _this.$message({
                            message: '删除成功！',
                            type: 'success'
                        });
                        _this.getList();
                    }else{
                        _this.$message({
                            message: res.data.errorMsg,
                            type: 'warning'
                        });
                    }
                });
            }
            if(arr[0] == 'd'){
                let param = {};
                param.infoState = 2;
                param.projectId = arr[1];
                this.$post('/updateProjectStatus',param).then(function(res){
                    if(res.data.success){
                        _this.$message({
                            message: '终止成功！',
                            type: 'success'
                        });
                        _this.getList();
                    }else{
                        _this.$message({
                            message: res.data.errorMsg,
                            type: 'warning'
                        });
                    }
                });
            }
        },
        importChange(){
            let formData = new FormData();
            let files = this.fileList[0]
            formData.append("uploadFile",files.raw);
            this.$uploadFile('/ProjectForManagerController/importProject',formData)
                .then(data =>{
                    this.$message.success('导入成功')
                    this.fileList = []
                    this.getList()
                })
        },
        downMuban(){
            let url = window.location.origin
            window.open(`${url}/temp/%E9%A1%B9%E7%9B%AE%E4%BF%A1%E6%81%AF%E5%AF%BC%E5%85%A5%E6%A8%A1%E7%89%88v1.xlsx`,'_blank')
        }
    },
    mounted() {
        this.getList();
    },
}
</script>
<style lang="less" scoped>
    /deep/ .el-dialog__headerbtn .el-dialog__close{
        font-size: 18px;
        color: #333;
    }
    /deep/ .el-dialog__body{
        padding: 20px;
    }
    /deep/ .el-date-editor .el-range-separator{
        padding: 0 16px;
    }
    /deep/ .el-dialog__header{
        border-bottom: 1px solid #f5f5f5;
    }
    .search{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .button{
            display: flex;
            height: 40px;
            align-items: center;
            margin-right: 20px;
        }
    }
    .sider{
       height: 50px;
       padding-left: 10px;
        /deep/.el-breadcrumb {
            line-height: 50px;
        }
        position:fixed;
        top:0px;
        z-index:999;
    }
    .btns{
        margin-top: 20px;
        span{
            display:inline-block;
            width:104px;
            height:30px;
            font-size:14px;
            color:#333;
            font-weight: 700;
            line-height:30px;
            border:1px solid #cccccc;
            text-align:center;
            cursor:pointer;
            &.mark{
                color:#2b9beb;
                border:1px solid #459cff;
            }
            &:nth-child(1){
                border-radius: 3px 0 0 3px;
            }
            &:nth-child(3){
                border-radius: 0 3px 3px 0;
            }
        }

    }
    .xiangmuList{
        ul{
            width:100%;
            height:auto;
            .addli{
                margin-left:10px;
                padding:0;
                float:left;
                width: 31%;
                height:230px;
                font-size:120px;
                line-height:230px;
                color:#cccccc;
                text-align:center;
                cursor:pointer;
            }
            li{
                padding: 10px 10px 20px 10px;
                margin: 10px;
                float:left;
                width:31%;
                height:230px;
                color:#989898;
                box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
                position:relative;
                // &:nth-child(3n){
                //     margin-left:0;
                // }
                .title{
                    line-height:44px;
                    color:#459cff;
                    font-size:16px;
                    display: flex;
                    justify-content: space-between;
                    i,.area{
                        font-style:normal;
                        display:inline-block;
                        padding: 2px 4px;
                        font-size:12px;
                        line-height:26px;
                        color:#65C2BD;
                        background:#D1F2F4;
                        text-align:center;
                        border-radius:3px;
                    }
                    .span1{
                        float:left;
                        width: 70%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .area{
                        color:#FF9999;
                        background:#f8dbd6;
                    }
                }
                .danwei{
                    margin-top:6px;

                }
                .danwei,.fuzeren,.time{
                    font-size:14px;
                    line-height:30px;
                }
                .foot{
                    position:absolute;
                    bottom:0px;
                    height:60px;
                    border-top:1px solid #F2F2F2;
                    margin-top:20px;
                    font-size: 14px;
                    .wanshan{
                        font-style:normal;
                        line-height:50px;
                        color:red;
                    }
                }
            }
        }
    }

    /deep/.el-dialog{
        width:560px;
    }

    /deep/ .el-form-item{
        margin-bottom: 20px;
    }
</style>








