<template>
    <div style="margin-left:20px;height: 100%;overflow-y: auto">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item :to="{ path: '/dataManage/processData' }">项目名录</el-breadcrumb-item>
                <el-breadcrumb-item>项目信息审核</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="btns">
            <el-radio-group v-model="tabsValue">
                <el-radio-button v-for="item in btns" :label="item.id" @click.native="changeState(item)" :key="item.index">{{item.name}}</el-radio-button>
            </el-radio-group>
        </div>
        <div class="serch" style="margin-top:20px;">
            <el-form inline>
                <el-form-item label="项目名称：">
                    <el-input v-model="keyword" placeholder="请输入内容"></el-input>
                </el-form-item>
                <el-form-item label="项目类型：">
                    <el-select v-model="type" placeholder="请选择" @change="projectTypeChange">
                        <el-option v-for="(item,index) in options" :key="index" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="所属区域">
                    <el-cascader
                        v-model="area"
                        :options="optionshx"
                        :show-all-levels=false
                        :props="{ expandTrigger: 'hover' }"
                        ></el-cascader>
                    <!-- <el-select v-model="area" placeholder="请选择">
                        <el-option v-for="(item,index) in areaOption" :key="index" :label="item.label" :value="item.value"></el-option>
                    </el-select> -->
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="search">搜索</el-button>
                </el-form-item>
            </el-form>
        </div>

        <el-table :data="tableData" :highlight-current-row="false" style="margin-right: 20px">
            <el-table-column prop="xuhao" label="序号" width="80" ></el-table-column>
            <el-table-column prop="projectName" label="项目名称" width="300"></el-table-column>
            <el-table-column prop="projectType" label="项目类型" width="120">
                <template slot-scope="scope">
                    <span v-show="scope.row.projectType==1">十二五</span>
                    <span v-show="scope.row.projectType==2">十三五</span>
                </template>
            </el-table-column>
            <el-table-column prop="companyName" label="申报单位" width="300"></el-table-column>
            <el-table-column prop="director" label="项目负责人" width="150"></el-table-column>
            <el-table-column prop="startEndDate" label="项目起止日期" width="300"></el-table-column>
            <el-table-column prop="submitTime" label="提交时间" width="200"></el-table-column>
            <el-table-column label="审核状态" width="120">
                <template slot-scope="scope">
                    <span v-show="scope.row.writeState==0">待接收</span>
                    <span v-show="scope.row.writeState==2" style="color:red;">待提交</span>
                    <span v-show="scope.row.writeState==3" style="color:#108DE9;">待审核</span>
                    <span v-show="scope.row.writeState==4" style="color:#00A854;">审核通过</span>
                    <el-tooltip class="item" effect="dark" v-if="scope.row.writeState==5" :content="scope.row.returnReasonsDesc" placement="top">
                       <span style="color: #FE5500">驳回</span>
                    </el-tooltip>
                    <el-tooltip class="item" effect="dark" v-if="scope.row.writeState==1" :content="scope.row.refuseWriteDesc" placement="top">
                        <span>已拒绝</span>
                    </el-tooltip>



                </template>
            </el-table-column>
            <el-table-column label="操作" :width="tableData.length == 0 ? '80' : '150'" :fixed="tableData.length == 0 ? '' : 'right'">
                <template slot-scope="scope">
                    <span style="cursor: pointer;color: #409EFF" @click="detail(scope.row)">详情</span>
                    <span style="cursor: pointer;color: #409EFF" v-if="scope.row.writeState == 3" @click="pass(scope.row)">通过</span>
                    <span style="cursor: pointer;color: #409EFF" v-if="scope.row.writeState == 3" @click="bohui(scope.row)">驳回</span>
                </template>
            </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 20px">
            <el-pagination
            background
            layout="prev, pager, next"
            :page-size="50"
            :current-page="currentPage"
            @current-change="currentChange"
            hide-on-single-page
            :total="total">
            </el-pagination>
        </div>
    </div>
</template>
<script>

export default {
    data(){
        return{
            tabsValue: '0',
            btns:[
                {
                    name:'全部项目',
                    id:0
                },
                {
                    name:'待审核项目',
                    id:1
                },
                {
                    name:'审核成功项目',
                    id:2
                },
                {
                    name:'驳回项目',
                    id:3
                },
            ],
            options:[
                {
                    label:'全部',
                    value:0
                },
                {
                    label:'十二五',
                    value:1
                },
                {
                    label:'十三五',
                    value:2
                },
            ],
            type:0,
            areaOption:[
                {
                    label:'全部',
                    value:''
                },
                {
                    label:'上海',
                    value:'上海'
                },
                {
                    label:'浙江',
                    value:'浙江'
                },
                {
                    label:'江苏',
                    value:'江苏'
                },
                {
                    label:'福建',
                    value:'福建'
                },
                {
                    label:'厦门',
                    value:'厦门'
                },
            ],
            area:'全部',
            i:0,
            input:'',
            tableData:[],
            keyword:'',
            currentPage:1,
            total:1,
            optionshx:[{
                    value: '全部',
                    label: '全部',
                },{
                    value: '江苏',
                    label: '江苏',
                    children: [{
                        value: '南通',
                        label: '南通',
                    }]
                }, {
                    value: '上海',
                    label: '上海',
                    children: [{
                        value: '浦东新区',
                        label: '浦东新区',
                    }]
                },{
                    value: '浙江',
                    label: '浙江',
                    children: [{
                        value: '舟山',
                        label: '舟山',
                    }]
                },{
                    value: '福建',
                    label: '福建',
                    children: [{
                        value: '宁波',
                        label: '宁波',
                    },{
                        value: '厦门',
                        label: '厦门',
                    },{
                        value: '福州',
                        label: '福州',
                    }]
                }],
            optionshx1:[{
                    value: '全部',
                    label: '全部',
                },{
                value: '江苏',
                label: '江苏',
                children: [{
                    value: '南通',
                    label: '南通',
                }]
            }, {
                value: '上海',
                label: '上海',
                children: [{
                    value: '浦东新区',
                    label: '浦东新区',
                }]
            },{
                value: '浙江',
                label: '浙江',
                children: [{
                    value: '舟山',
                    label: '舟山',
                }]
            },{
                value: '福建',
                label: '福建',
                children: [{
                    value: '宁波',
                    label: '宁波',
                },{
                    value: '厦门',
                    label: '厦门',
                },{
                    value: '福州',
                    label: '福州',
                }]
            }],
            optionshx2:[
                {
                    value: '全部',
                    label: '全部',
                },
                {
                    value: '江苏',
                    label: '江苏',
                },
                {
                    value: '浙江',
                    label: '浙江',
                },
                {
                    value: '福建',
                    label: '福建',
                }
            ],
        }
    },
    methods: {
        projectTypeChange(val){
            if(val == 1){
                this.areaOption = [
                    {
                        label:'全部',
                        value:''
                    },
                    {
                        label:'上海',
                        value:'上海'
                    },
                    {
                        label:'江苏',
                        value:'江苏'
                    },
                    {
                        label:'浙江',
                        value:'浙江'
                    },
                    {
                        label:'福建',
                        value:'福建'
                    },
                    {
                        label:'厦门',
                        value:'厦门'
                    },
                ];
                this.optionshx = this.optionshx2;
            }else{
                this.areaOption = [
                    {
                        label:'全部',
                        value:''
                    },
                    {
                        label:'南通',
                        value:'南通'
                    },
                    {
                        label:'浦东新区',
                        value:'浦东新区'
                    },
                    {
                        label:'舟山',
                        value:'舟山'
                    },
                    {
                        label:'宁波',
                        value:'宁波'
                    },
                    {
                        label:'厦门',
                        value:'厦门'
                    },
                    {
                        label:'福州',
                        value:'福州'
                    },
                ];
                this.optionshx = this.optionshx1;
            }
        },
        detail(obj){
            this.$router.push({ path: '/dataManage/xmxq',query:{projectId:obj.projectId}});
        },
        changeState(item){
            this.i = item.id;
            this.getList();
        },
        getList(){
            let _this = this;
            let param = {};
            param.pageIndex = this.currentPage;
            if(this.area != ''&&this.area != '全部'){
                param.area = this.area[this.area.length-1];
            }
            if(this.keyword != ''){
                param.keyword = this.keyword;
            }
            if(this.type != 0){
                param.projectType = this.type;
            }
            if(this.i == 1){
                param.state = 3;
            }
            if(this.i == 2){
                param.state = 4;
            }
            if(this.i == 3){
                param.state = 5;
            }
            this.$post('/ProjectForExamineController/getProjectForExamineList',param).then(function(res){
                _this.tableData = res.data.resultData.records;
                _this.currentPage = res.data.resultData.current;
                _this.total = res.data.resultData.total;
                for(let i = 0;i<_this.tableData.length;i++){
                    _this.tableData[i].xuhao = (i+1);
                    _this.tableData[i].startEndDate = _this.tableData[i].projectStartDate+' 至 '+_this.tableData[i].projectEndDate;
                }
            });
        },
        search(){
            this.getList();
        },
        pass(obj){

            let _this = this;
            let param = {};
            param.projectId = obj.projectId;
            param.state = 4;
            this.$post('/ProjectForExamineController/updateExamineState',param).then(function(res){
                console.log(res);
                if(res.data.success){
                    _this.$message({
                        message: '通过审核！',
                        type: 'success'
                    });
                    _this.$emit('changePoint')
                    _this.getList();
                }else{
                    _this.$message({
                        message: res.data.errorMsg,
                        type: 'success'
                    });
                }
            });
        },
        bohui(obj){
            console.log(obj)
            let _this = this;
            let param = {};
            param.projectId = obj.projectId;
            param.state = 5;
            this.$prompt('请输入驳回原因', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                // inputPattern: /[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/,
                inputErrorMessage: '请输入驳回原因'
            }).then(({ value }) => {
                console.log(value)
                param.returnReasonsDesc = value;
                _this.$post('/ProjectForExamineController/updateExamineState',param).then(function(res){
                    if(res.data.success){
                        _this.getList();
                        _this.$message({
                            type: 'success',
                            message: '驳回原因是: ' + value
                        });
                        _this.$emit('changePoint')
                        _this.getList();
                    }
                });

            }).catch(() => {
                _this.$message({
                    type: 'info',
                    message: '取消输入'
                });
            });
        },
        currentChange(){

        }
    },
    mounted() {
        this.getList();
    },
}
</script>
<style lang="less" scoped>
    /deep/.el-table th>.cell{
        font-size:16px;
    }
    /deep/ .el-radio-button__inner{
        padding: 12px;
    }
    .sider{
        height: 50px;
        padding-left: 10px;
        /deep/.el-breadcrumb {
            line-height: 50px;
        }
        position:fixed;
        top:0px;
        z-index:999;
    }
    .btns{
        margin-top: 20px;
        span{
            display:inline-block;
            width:120px;
            height:40px;
            line-height:40px;
            border:1px solid #cccccc;
            border-radius:3px;
            text-align:center;
            cursor:pointer;
            &.mark{
                border:1px solid #459cff;
            }
        }

    }
</style>
