<template>
    <div style="padding-bottom:100px;">
        <div class="sider">
            <el-breadcrumb >
                <el-breadcrumb-item >数据审批</el-breadcrumb-item>
                <el-breadcrumb-item>验收资料审批</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="title">
            <div class="tijiaoTime">
                <span>提交时间：</span>
                <el-date-picker
                v-model="tjsjStartDate"
                type="date"
                placeholder="选择日期">
                </el-date-picker>
                <span>至</span>
                <el-date-picker
                v-model="tjsjEndDate"
                type="date"
                placeholder="选择日期">
                </el-date-picker>
            </div>
            <div class="state">
                <span>状态：</span>
                <el-select v-model="valueState" placeholder="请选择">
                    <el-option
                    v-for="item in stateList"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div class="table" >
                <table cellspacing="0">
                    <thead>
                        <tr>
                            <td width="150">序号</td>
                            <td width="250">企业名称</td>
                            <td width="250">项目名称</td>
                            <td width="200">项目状态</td>
                            <td width="200">提交时间</td>
                            <td width="200">状态</td>
                            <td width="200">文件资料</td>
                            <td width="300">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>上海亨通海洋装备有限公司</td>
                            <td>智能立体的海底科学观测网产业化</td>
                            <td>进行中</td>
                            <td>2019-10-23</td>
                            <td>
                                <span class="shz" >审核中</span>
                            </td>
                            <td><el-button type="text" @click="ckzl">查看项目验收资料</el-button></td>
                            <td>
                                <span class="edit" @click="tgClick">通过</span>
                                <span class="detail" @click="bhClick">驳回</span>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>上海崇和船舶重工装备有限公司</td>
                            <td>南极磷虾获取-冷冻-脱壳全套智能加工设备关键技术</td>
                            <td>进行中</td>
                            <td>2019-10-23</td>
                            <td>
                                <span class="shtg">审核通过</span>
                            </td>
                            <td><el-button type="text" @click="ckzl">查看项目验收资料</el-button></td>
                            <td>
                                <span class="dtj" @click="ckzl">查看资料</span>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>上海宏华海洋油气装备有限公司</td>
                            <td>海上固定式多功能LNG接收分销中心的研发及产业化</td>
                            <td>进行中</td>
                            <td>2019-09-01</td>
                            <td>
                                <span class="bh" >驳回</span>
                            </td>
                            <td><el-button type="text" @click="ckzl">查看项目验收资料</el-button></td>
                            <td>
                                <span class="bh"  >查看驳回原因</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <el-dialog
        title="2018年中期考核（智能立体的海底科学观测网产业化）"
        :visible.sync="dialogVisibleTG"
        width="900px"
        :before-close="handleCloseTG">
            <div class="hxWrap clear">
                <p class="p-title"><span></span>资金情况</p>
                <table class="table" style="margin-top:0;cellspacing=0;border-collaspe:collaspe;cellspacing:0">
                    <thead style="border-spacing:0;background:#f1f1f1;">
                        <tr>
                            <td width="170" style="background:#f1f1f1;color:#333333;">合计</td>
                            <td width="170" style="background:#f1f1f1;color:#333333;">中央财政</td>
                            <td width="170" style="background:#f1f1f1;color:#333333;">地方财政</td>
                            <td width="170" style="background:#f1f1f1;color:#333333;">企业自有</td>
                            <td width="170" style="background:#f1f1f1;color:#333333;">银行贷款</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border-bottom:1px solid #eeeeee;">499999</td>
                            <td style="border-bottom:1px solid #eeeeee;">32000</td>
                            <td style="border-bottom:1px solid #eeeeee;">0</td>
                            <td style="border-bottom:1px solid #eeeeee;">22114.96</td>
                            <td style="border-right:1px solid #eeeeee;border-bottom:1px solid #eeeeee;">2000</td>
                        </tr>
                    </tbody>
                </table>
                <p class="p-title"><span></span>总目标</p>
                <table style="margin-top:0;cellspacing=0;border-collaspe:collaspe;cellspacing:0">
                    <tr >
                        <td width="150" style="background:#f1f1f1;padding:20px 10px;">实施期目标</td>
                        <td width="400" style="padding:20px 10px;">上海市浦东新区以推进海洋高端装备、海洋生物产业的产业链协同创新与产业孵化集聚创新为重点，通过统筹协调推进，集成要素资源，创建创新
                            政策环境，积极构建“政产学研用金”海洋产业发展综合体以及海陆联动的发展模式，充分发挥长江经济带和国家科技创新中心等区位与政策优势，突破一批深海关键技术，加速海洋高新技术成果转化落地...
                        </td>
                    </tr>
                    <tr>
                        <td style="background:#f1f1f1;padding:20px 10px;">年度目标</td>
                        <td style="padding:20px 10px;">
                            共计实现产值约1.2亿元，剩余1亿元；新增出口额约2.6亿元，新增龙头企业11家，新增中小微企业153家，新增省级及以上高新技术企业9家，建设（含改造）
                            生产线11条，新增省级以上新品16项；项目实现成果转化23个，申请专利105项，新建公共服务平台4个，新建企业研发中心6个；通过示范项目的实施共带动新增就业人数700余人。
                        </td>
                    </tr>
                </table>
                <p class="p-title"><span></span>完成目标</p>
                <table class="wcqkTable" style="margin-top:0;cellspacing=0;border-collaspe:collaspe;cellspacing:0">
                    <tr>
                        <td style="background:#f1f1f1;color:#333333;" width="100">一级指标</td>
                        <td style="background:#f1f1f1;color:#333333;" width="150">二级指标</td>
                        <td style="background:#f1f1f1;color:#333333;" width="200">三级指标</td>
                        <td style="background:#f1f1f1;color:#333333;" width="200">企业自有</td>
                        <td style="background:#f1f1f1;color:#333333;" width="200">完成值</td>
                    </tr>
                    <tr>
                        <td rowspan="6"></td>
                        <td rowspan="4">数量指标</td>
                        <td>新增龙头企业</td>
                        <td>4家</td>
                        <td>11家</td>
                    </tr>
                    <tr>
                        <!-- <td colspan=""></td> -->
                        <!-- <td></td> -->
                        <td>新增中小微企业</td>
                        <td>10家</td>
                        <td>5家</td>
                    </tr>
                    <tr>
                        <!-- <td colspan=""></td> -->
                        <!-- <td></td> -->
                        <td>新增省级及以上高新技术业</td>
                        <td>3家</td>
                        <td>11家</td>
                    </tr>
                    <tr>
                        <!-- <td colspan=""></td> -->
                        <!-- <td></td> -->
                        <td>新增上市企业</td>
                        <td>4家</td>
                        <td>3家</td>
                    </tr>
                    <tr>
                        <!-- <td colspan=""></td> -->
                        <td rowspan="2">质量指标</td>
                        <td>建成或改造生产线</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <!-- <td colspan=""></td> -->
                        <!-- <td></td> -->
                        <td>新建公共服务平台</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </el-dialog>

        <!-- 填写驳回原因 -->
        <el-dialog
        title="填写驳回原因"
        :visible.sync="dialogVisibleBHYY"
        width="400px"
        :before-close="handleCloseBHYY">
            <div class="buyy">
                <div class="bhyy-con">
                    <textarea placeholder="请填写驳回原因"></textarea>
                </div>
                <p class="fayoujian"><el-checkbox v-model="youjian">是否发送邮件</el-checkbox></p>
                <p class="btns"><el-button type="primary" @click="sure">确定</el-button><el-button type="info" @click="cancel">取消</el-button></p>
            </div>
        </el-dialog>
    </div>
</template>
<script>
export default {
    data(){
        return{
            tjsjStartDate:'',
            tjsjEndDate:'',
            valueState:0,
            dialogVisibleTG:false,
            youjian:false,
            dialogVisibleBHYY:false,
            stateList:[
                {
                    label:'全部',
                    value:0
                },
                {
                    label:'待提交',
                    value:1
                },
                {
                    label:'待审核',
                    value:2
                },
                {
                    label:'审核通过',
                    value:3
                },
                {
                    label:'驳回',
                    value:4
                }
            ]
        }
    },
    methods: {
        tgClick(){
            this.dialogVisibleTG = true;
        },
        bhClick(){
            this.dialogVisibleBHYY = true;
        },
        sure(){
            this.dialogVisibleBHYY = false;
        },
        cancel(){
            this.dialogVisibleBHYY = false;
        },
        ckzl(){
            this.$router.push({ path: '/dataManage/ckzl'});
        }
    },
}
</script>
<style lang="less" scoped>
    .title{
        width:100%;
        margin-top:20px;
        .addRecord,.tijiaoTime,.year,.fenlei,.state,.query,.import{
            display:inline-block;
        }
        .tijiaoTime{
            margin-left:20px;
        }
        .year{
            margin-left:20px;
        }
        .fenlei{
            margin-left:20px;
        }
        .state{
            margin-left:20px;
        }
        .query{
            margin-left:20px;
        }
    }
    .table{
        margin-top:20px;
        tr{
            background:#a5a5cf;
            td{
                text-align:center;
                vertical-align: middle;
                line-height:50px;
                border:1px solid #eeeeee;
                border-right:0;
                border-bottom:0;
                color:#ffffff;
                font-size:16px;
            }
        }
        tbody{
            tr{
                background:#ffffff;
                td{
                    line-height:24px;
                    padding:10px 5px;
                    font-size:14px;
                    color:#606266;
                    span{
                        margin-right:10px;
                        &.shz,&.edit{
                            color:#ff9c17;
                            cursor:pointer;
                        }
                        &.shtg,&.commit{
                            color:#91cc91;
                            cursor:pointer;
                        }
                        &.dtj,&.detail{
                            color:#3366ff;
                            cursor:pointer;
                        }
                        &.bh{
                            color:red;
                        }
                        /deep/.el-button{
                            color:red;
                        }
                    }
                }
            }
        }
    }
    .wcqkTable{
        tr{
            height:40px;
            line-height:40px;
            text-align:center;
            td{
                border-right:1px solid #eeeeee;
                border-bottom:1px solid #eeeeee;
            }
        }
    }
    .hxWrap{
        .report-title{
            width:100%;
            height:72px;
            li{
                float:left;
                height:40px;
                line-height:40px;
                font-size:14px;
                margin-left:20px;
                &.li1,&.li4{
                    width:473px;
                }
                &.li2,&.li5{
                    width:150px;
                }
                &.li3{
                    width:150px;
                }
            }
        }
        .p-title{
            width:100%;
            height:30px;
            line-height:30px;
            font-size:18px;
            margin-top:20px;
            margin-bottom:10px;
            span{
                float:left;
                height:100%;
                width:5px;
                background:#a5a5cf;
                margin-right:20px;
            }
        }
        .top{
            width:100%;
            height:40px;
            .arrow-l{
                float:left;
                height:40px;
                line-height:40px;
            }
            .arrow-r{
                float:right;
                height:40px;
                line-height:40px;
            }
            .con{
                float:left;
                margin-left:42px;
                width:794px;
                height:100%;
                overflow:hidden;
                ul{
                    width:100%;
                    height:100%;
                    li{
                        float:left;
                        width:150px;
                        margin-left:6px;
                        text-align:center;
                        line-height:40px;
                        border:1px solid #cccccc;
                        border-radius:6px 6px 0 0;
                        cursor:pointer;
                        &.active{
                            color:#ffffff;
                            background:#a5a5cf;
                        }
                    }
                }
            }
        }
        .table{
            td{
                input{
                    height:20px;
                    width:100px;
                    border:none;
                    text-align:center;
                }
                textarea{
                    width:90%;
                    height:40px;
                    border:none;
                    resize:none;
                }
            }
        }
        .jinzhan{
            width:100%;
            line-height:40px;
            font-size:14px;
            border:1px solid #eeeeee;
            padding-left:20px;
        }
    }
    .bhyy-con{
        width:100%;
        height:auto;
        textarea{
            width:100%;
            height:80px;
            border:none;
            border:1px solid #eeeeee;
            padding:10px;
            resize:none;
        }
    }
    .btns{
        margin-top:10px;
        text-align:center;
        /deep/.el-button{
            padding:8px 10px;
        }
    }
    /deep/.el-dialog__header{
        background:#a5a5cf;
    }
    /deep/.el-dialog__title{
        color:#ffffff;
    }
</style>
