<template>
    <div class="detail">
        <div class="detail-title">
            <el-breadcrumb >
                <el-breadcrumb-item>成果跟踪</el-breadcrumb-item>
                <el-breadcrumb-item>成果跟踪列表</el-breadcrumb-item>
                <el-breadcrumb-item @click.native="_return">成果详情</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="detail-main">
            <div class="info">
                <div class="info-box">
                    <h3>成果信息（上海亨通企业有限公司）</h3>
                    <div class="info-box-main">
                        <ul>
                            <li>
                                <span><b>*</b>成果名称：</span><span>水下观测网实验系统</span>
                            </li>
                            <li>
                                <span><b>*</b>成果名称：</span><span>水下观测网实验系统</span>
                            </li>
                            <li>
                                <span><b>*</b>成果形式：</span><span>自主研发</span>
                            </li>
                            <li>
                                <span><b>*</b>应用状态：</span><span>稳定应用</span>
                            </li>
                            <li>
                                <span>转化收益：</span><span>--</span>
                            </li>
                            <li>
                                <span>知识产权转让收入：</span><span>2300万元</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="info-box">
                    <h3>产生的专利</h3>
                    <div class="info-box-main">
                        <el-table border>
                            <el-table-column label="知识产权形式"></el-table-column>
                            <el-table-column label="*专利名称"></el-table-column>
                            <el-table-column label="*专利类别"></el-table-column>
                            <el-table-column label="*专利号"></el-table-column>
                            <el-table-column label="发明人"></el-table-column>
                            <el-table-column label="上传图片"></el-table-column>
                        </el-table>
                    </div>
                </div>

                <div class="info-box">
                    <h3>产生的软件著作权</h3>
                    <div class="info-box-main">
                        <el-table border>
                            <el-table-column>
                                <template slot="header">
                                    <div><span style="color: red">*</span>知识产权形式</div>
                                </template>
                            </el-table-column>
                            <el-table-column label="*软件著作权名称"></el-table-column>
                            <el-table-column label="*软件著作权登记号"></el-table-column>
                            <el-table-column label="上传图片"></el-table-column>
                        </el-table>
                    </div>
                </div>

                <div class="info-box">
                    <h3>转让的企业</h3>
                    <div class="info-box-main">
                        <el-table border>
                            <el-table-column width="80px" label="序号"></el-table-column>
                            <el-table-column label="企业名称"></el-table-column>
                        </el-table>
                    </div>
                </div>

                <div class="info-box">
                    <h3>上传的影像资料</h3>
                    <div class="info-box-main">
                        <ul>
                            <li>
                                <p>亨通企业视频介绍.mp4</p>
                                <el-button size="mini">播放</el-button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="info-box">
                    <h3>上传的文件</h3>
                    <div class="info-box-main">
                        <ul>
                            <li>
                                <p>1.成果转让合同书.pdf</p>
                                <el-button type="text" icon="el-icon-download">下载</el-button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{

            }
        },
        methods:{
            _return(){
                this.$emit('_return')
            }
        }
    }
</script>

<style lang="scss" scoped>
    .detail{
        height: 100%;
        &-title{
            padding: 15px 30px;
            border-bottom: 1px solid #F2F2F2;
            background: #F0F2F5;
        }
        &-main{
            height: calc(100% - 45px);
            background: white;
            overflow-y: auto;
            .info{
                width: calc(100% - 70px);
                margin:  0 auto;
                overflow: hidden;
                &-box{
                    margin-top: 15px;
                    h3{
                        color: #666666;
                        font-size: 16px;
                        font-weight: 700;
                    }
                    &-main{
                       ul{
                           width: 80%;
                           display: flex;
                           flex-flow: row wrap;
                           li{
                               width: 50%;
                               padding: 20px 0;
                               font-size: 14px;
                               span{
                                   &:nth-child(1){
                                       width: 145px;
                                       display: inline-block;
                                       text-align: right;
                                       b{
                                           font-weight: normal;
                                           color: red;
                                           position: relative;
                                           top: 2px;
                                           margin-right: 3px;
                                       }
                                   }
                                   &:nth-child(2){
                                       width: calc(100% - 145px);
                                       display: inline-block;
                                   }
                               }
                               p{
                                   width: 250px;
                                   display: inline-block;
                                   margin-left: 50px;
                               }
                           }
                       }
                        .el-table{
                            margin:15px 0 15px 50px;
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
</style>
