<template>
    <div>
        <div class="track" v-if="!detailShow">
            <div class="track-title">
                <div class="bread">
                    <el-breadcrumb >
                        <el-breadcrumb >
                            <el-breadcrumb-item>成果跟踪</el-breadcrumb-item>
                            <el-breadcrumb-item class="bread-active" @click="_returnShow">成果跟踪列表</el-breadcrumb-item>
                        </el-breadcrumb>
                    </el-breadcrumb>
                </div>
                <div class="tabs">
                    <el-tabs>
                        <el-tab-pane label="专利"></el-tab-pane>
                        <el-tab-pane label="软件著作权"></el-tab-pane>
                        <el-tab-pane label="项目产品"></el-tab-pane>
                        <el-tab-pane label="获奖成果"></el-tab-pane>
                        <el-tab-pane label="发表论文"></el-tab-pane>
                    </el-tabs>
                </div>
            </div>
            <div class="track-main">
                <div class="track-main-search">
                    <el-form>
                        <el-form-item>
                            <el-select v-model="gainArea" placeholder="选择地区"></el-select>
                            <el-select v-model="gainType" placeholder="选择产业类型"></el-select>
                            <el-select v-model="gainYear" placeholder="选择年份"></el-select>
                        </el-form-item>
                    </el-form>
                    <el-form>
                        <el-form-item>
                            <el-input suffix-icon="el-icon-search" v-model="gainName" placeholder="按序号/成果名称进行搜索"/>
                        </el-form-item>
                    </el-form>
                </div>
                <div class="track-main-table">
                    <el-table :data="[{}]">
                        <el-table-column label="序号" type="index"></el-table-column>
                        <el-table-column label="专利名称"></el-table-column>
                        <el-table-column label="类别"></el-table-column>
                        <el-table-column label="专利号"></el-table-column>
                        <el-table-column label="公开日期"></el-table-column>
                        <el-table-column label="发明人"></el-table-column>
                        <el-table-column label="操作">
                            <template>
                                <el-button type="text" @click="look_detail">详情</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </div>
        </div>

        <detail v-if="detailShow" @_return="_return"></detail>
    </div>
</template>

<script>
    import detail from './detail'
    export default {
        data(){
            return{
                gainName: '',
                gainArea: '',
                gainYear: '',
                gainType: '',
                detailShow: false
            }
        },
        methods:{
            look_detail(){
                this.detailShow = true
            },
            _return(){
                this.detailShow = false
            },
            _returnShow(){
                this.$emit('_return')
            }
        },
        components:{
            detail
        }
    }
</script>

<style lang="scss" scoped>
    .track{
        height: 100%;
        &-title{
            background: white;
            .bread{
                padding: 15px;
                border-bottom: 1px solid #F2F2F2;
                &-active{
                    & >>> .el-breadcrumb__inner{
                        cursor: pointer;
                        &:hover{
                            color: #238DFD;
                        }
                    }
                }
            }
            .tabs{
                margin-top: 10px;
                padding-left: 30px;
                .el-tabs >>> .el-tabs__nav-wrap::after{
                    height: 0px !important;
                }
                .el-tabs >>> .el-tabs__header{
                    margin: 0px !important;
                }
                .el-tabs >>> .el-tabs__item{
                    height: 45px;
                    width: 100px;
                    text-align: center;
                }
            }
        }
        &-main{
            margin-top: 10px;
            background: white;
            height: calc(100% - 110px);
            overflow-y: auto;
            padding: 0 30px;
            &-search{
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
</style>
