<template>
    <div style="width: 100%;height: 100%;overflow-y: auto">
        <div class="mapContainer" v-show="containerShow">
            <baidu-map v-if="mapShow" :center="{lng: projectList[0].longitude, lat: projectList[0].latitude}" @ready="mapInit" :zoom="14" class="mapBox">
                <bm-marker v-if="projectList.length > 0" v-for="(item,index) in projectList" :key="index" :position="{lng: item.longitude, lat: item.latitude}">
                    <bm-label @click="getProjectDetail(item)" :key="index" :content="createDom(item.projectName, item.companyName, item.director, item.projectStartDate)" :labelStyle="{border: 'none',padding: '15px',}" :offset="{width: -205, height: 30}"/>
                </bm-marker>
            </baidu-map>
            <baidu-map v-else :center="{lng: 116.404, lat: 39.915}" @ready="mapInit" :zoom="14" class="mapBox"></baidu-map>
            <div class="searchBox">
                <div class="searchPress">
                    <i class="el-icon-arrow-left" @click="_return"></i>
                    <div class="inPress">
                        <input type="text" placeholder="请输入项目名称搜索">
                        <button @click="showList">列表</button>
                    </div>
                    <span><i class="el-icon-search"></i></span>
                </div>
                <div class="list" v-if="listShow">
                    <div class="list-title">
                        <p>所有项目列表：共{{projectList.length}}个项目</p>
                        <p style="font-size: 14px">
                            选择省份：<span @click="getData(item)" :class="paramObj.area == item ? 'is-active' : ''" v-for="item in areaList">{{item}}</span>
                        </p>
                        <ul style="height: 300px;overflow-y: auto;overflow-x: hidden">
                            <li v-for="item in projectList" @click="getProjectDetail(item)">
                                <p>{{item.projectName}}</p>
                                <span>{{item.companyName}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="changeTab">
                <button @click="getData('','1')" :class="paramObj.type == 1 ? 'is-btn-active' : ''">十二五项目</button>
                <button @click="getData('','2')" :class="paramObj.type == 2 ? 'is-btn-active' : ''">十三五项目</button>
                <select v-model="industry" @change="getData">
                    <option value="" label="不限"></option>
                    <option value="1" label="产业链协同创新类/海洋生物产业"></option>
                    <option value="2" label="产业链协同创新类/海洋高端装备产业"></option>
                    <option value="3" label="产业链协同创新类/海水淡化与综合利用产业"></option>
                    <option value="4" label="产业链协同创新类/其他"></option>
                    <option value="5" label="产业孵化集聚创新类"></option>
                </select>
            </div>
        </div>
        <detail v-if="!containerShow" @_return="_returnContainer" :detailPro="detailPro"></detail>
    </div>
</template>

<script>
    import detail from '../ProjectManage/projectDetail'
    import moment from 'moment'
    export default {
        data(){
            return{
                listShow: false,
                containerShow: true,
                projectList: [],
                mapShow: false,
                detailPro: {},
                areaList: ['上海','浙江','江苏','福建','厦门'],
                industry: ''
            }
        },
        methods: {
            showList(){
                this.listShow = !this.listShow
            },
            _return(){
                this.$emit('_return')
            },
            _returnContainer(){
                this.containerShow = true
                this.listShow = false
            },
            getData(area,type){
                if(area != '' && area != undefined){
                    this.paramObj.area = area
                }
                if(type != '' && area != undefined){
                    this.paramObj.type = type
                }
                if(this.paramObj.type == 1){
                    this.areaList = ['上海','浙江','江苏','福建','厦门']
                }else{
                    this.areaList = ['南通','浦东新区','舟山','宁波','厦门','福州']
                }
                if(this.industry){
                    this.paramObj.industry = this.industry
                }

                this.$post('/bigData/getViewList', this.paramObj)
                    .then(data =>{
                        this.projectList = data.data.resultData
                        if(this.projectList.length === 0){
                            this.$message.info('暂无数据')
                            setTimeout( _=>{
                                this.mapShow = false
                                this.listShow = false
                            },500)
                        }else{
                            setTimeout( _=>{
                                this.mapShow = true
                                this.listShow = false
                            },500)
                        }

                    })
            },
            mapInit(Bmap){
                Bmap.map.enableScrollWheelZoom()
            },
            createDom(project, name,director,date){
                date = moment(date).format('YYYY年MM月DD日')
                let dom = `
                    <div style="width: 410px;">
                        <p style="font-size: 16px;color: black;font-weight: 700">${project}</p>
                        <div style="font-size: 14px;color: #999999;margin-top: 20px">
                            <p>申报单位：${name}</p>
                            <p>项目负责人：${director}</p>
                            <p>项目起止年月：${date}</p>
                        </div>
                    </div>
                `
                return dom
            },
            getProjectDetail(data){
                this.detailPro = data
                this.containerShow = false
            }
        },
        mounted() {

        },
        created() {
            this.getData()
        },
        components: {
            detail
        },
        props: ['paramObj']
    }
</script>

<style lang="scss" scoped>
    .is-active{
        background: #1890FF;
        color: white;
    }
    .is-btn-active{
        color: #238DFD;
        border: 1px solid #238DFD !important;
    }
    .mapContainer{
        position: relative;
        width: 100%;
        height: 100%;
        .mapBox{
            width: 100%;
            height: 100%;
        }
        .searchBox{
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 20000;
            height: 40px;
            .searchPress{
                display: flex;
                height: 40px;
                align-items: center;
                i{
                    color: #ADAEAF;
                    font-size: 40px;
                }
                .inPress{
                    border: 1px solid #D6D6D6;
                    height: 40px;
                    background: white;
                    input{
                        width: 350px;
                        outline: none;
                        padding: 0 20px;
                        border: none;
                        border-right: 1px solid #DFDFDF;
                    }
                    button{
                        background: none;
                        height: 40px;
                        line-height: 40px;
                        border: none;
                        outline: none;
                        width: 81px;
                        color: #DBDBDB;
                        font-size: 14px;
                        cursor: pointer;
                    }
                }
                span{
                    width: 65px;
                    height: 40px;
                    display: inline-block;
                    background: #1890FF;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    i{
                        font-size: 26px;
                        color: white;
                    }
                }
            }
            .list{
                width: 503px;
                background: white;
                margin-left: 40px;
                overflow: hidden;
                padding: 0 15px;
                &-title{
                    margin-top: 25px;
                    p{
                        padding-bottom: 15px;
                        font-size: 16px;
                        display: flex;
                        align-items: center;
                        span{
                            display: inline-block;
                            width: 65px;
                            height: 30px;
                            text-align: center;
                            line-height: 30px;
                            border-radius: 4px;
                            cursor: pointer;
                        }
                        &:last-of-type{
                            border-bottom: 1px dashed #EEEEEE;
                        }
                    }
                }
                ul{
                    padding-bottom: 35px;
                    li{
                        margin-top: 25px;
                        p{
                            border: none !important;
                            width: 350px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            &:hover{
                                color: #2696FF;
                                cursor: pointer;
                            }
                        }
                        span{
                            font-size: 14px;
                            width: 350px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            color: #5A5A5A;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .changeTab{
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 20000;
            width: 170px;
            button{
                width: 100%;
                height: 40px;
                border: none;
                outline: none;
                cursor: pointer;
                text-align: center;
                line-height: 40px;
                background: white;
                margin-bottom: 15px;
                font-size: 18px;
            }
            select{
                width: 100%;
                height: 40px;
                border: none;
                outline: none;
                cursor: pointer;
                text-align: center;
                line-height: 40px;
                padding: 0 20px;
                font-size: 18px;
            }
        }
    }
</style>
