<template>
    <div style="height: 100%;overflow-y: auto">
        <div class="polyData" v-show="polyShow">
            <div class="polyData-main">
                <div class="dataStats">
                    <div class="base">
                        <p class="title">7大数据库数据统计</p>
                        <div class="base-main">
                            <img class="floor" :src="dataBase.floor">
                            <ul>
                                <li v-for="item in 7">
                                    <b>项目库</b>
                                    <span>399条</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="dataChange">
                        <ul class="data-title">
                            <li @click="changeData('生产总值情况')" :class="activeData == '生产总值情况' ? 'is-active': ''">生产总值情况</li>
                            <li @click="changeData('科技专利情况')" :class="activeData == '科技专利情况' ? 'is-active': ''">科技专利情况</li>
                            <li @click="changeData('经费收入情况')" :class="activeData == '经费收入情况' ? 'is-active': ''">经费收入情况</li>
                        </ul>
                        <div class="dataMain">
                            <div class="title">
                                <p v-if="activeData == '生产总值情况'">海洋生产总值统计图</p>
                                <p v-if="activeData == '科技专利情况'">海洋科研机构科技专利情况</p>
                                <p v-if="activeData == '经费收入情况'">海洋科研机构经费收入（万元）</p>
                                <select v-if="activeData == '生产总值情况'" v-model="activeYear" style="color: white" @change="getGdpList">
                                    <option v-for="(item,index) in selectYeas" :value="item" :key="index">{{item}}年</option>
                                </select>
                                <select v-if="activeData == '科技专利情况'" v-model="activeYear" style="color: white" @change="getAlmanacsPatentList">
                                    <option v-for="(item,index) in selectYeas" :value="item" :key="index">{{item}}年</option>
                                </select>
                                <select v-if="activeData == '经费收入情况'" v-model="activeYear" style="color: white" @change="getAlmanacsFundsList">
                                    <option v-for="(item,index) in selectYeas" :value="item" :key="index">{{item}}年</option>
                                </select>
                            </div>
                            <div v-show="activeData == '生产总值情况'" class="dataBox">
                                <p>
                                    <span>区域</span>
                                    <span>生产总值（亿元）</span>
                                    <span>占生产总值比重（%）</span>
                                </p>
                                <ul>
                                    <li v-for="item in totalValue">
                                        <p>{{item.area}}</p>
                                        <span>{{item.areaGdp}}</span>
                                        <span>{{item.proportion}}%</span>
                                    </li>
                                </ul>
                            </div>
                            <div v-show="activeData == '科技专利情况'" class="dataBox" id="dataBox" style="height: 300px"></div>
                            <div v-show="activeData == '经费收入情况'" class="dataBoxSet">
                                <ul>
                                    <li v-for="item in fundList">
                                        <p :style="{color: item.color}">{{item.area}}</p>
                                        <div class="img">
                                            <img :src="item.imgUrl" alt="">
                                            <span>{{item.funds}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mapContainer">
                    <ul class="mapTitle">
                        <li :class="'十三五项目' === activeTab ? 'is-title-active' : ''" @click="changeTab('十三五项目','十三五','项目')">十三五项目</li>
                        <li :class="'十三五企业' === activeTab ? 'is-title-active' : ''" @click="changeTab('十三五企业','十三五','企业')">十三五企业</li>
                        <li :class="'十二五项目' === activeTab ? 'is-title-active' : ''" @click="changeTab('十二五项目','十二五','项目')">十二五项目</li>
                        <li :class="'十二五企业' === activeTab ? 'is-title-active' : ''" @click="changeTab('十二五企业','十二五','企业')">十二五企业</li>
                    </ul>
                    <div class="mapBox" id="mapChart"></div>
                </div>
                <div class="industryContainer">
                    <div class="areaContainer">
                        <div class="areaTitle">
                            <p>地区年度产业增加值趋势图</p>
                            <select style="color: white" v-model="activeCity" @change="getCityList">
                                <option v-for="(item,index) in cityList" :value="item" :key="index">{{item}}{{item === '上海'? '市' : '省'}}</option>
                            </select>
                        </div>
                        <div class="areaBox" id="areaChart"></div>
                    </div>

                    <div class="createContainer">
                        <div class="createTitle">
                            <p>创新动态舆情热度</p>
                        </div>
                        <div class="createBox" id="createChart"></div>
                    </div>
                </div>
            </div>
            <div class="btns" v-if="true">
                <div class="btns-con">
                    <div class="pic" @click="njsj()">
                        <span>年鉴</span>
                        <span>数据</span>
                    </div>
                    <div class="line"></div>
                    <div v-if="showNav" class="pic" @click="dsjzbsj()">
                        <span>直报</span>
                        <span>数据</span>
                    </div>
                    <div v-if="showNav" class="line"></div>
                    <div v-if="showNav" class="pic" @click="dsjfz()">
                        <span>大数据</span>
                        <span>分析</span>
                    </div>
                    <div v-if="showNav" class="line"></div>
                    <div class="pic mark">
                        <span>可视化</span>
                        <span>跟踪</span>
                    </div>
                </div>
            </div>
        </div>
        <mapBox v-if="!polyShow" @_return="_return" :paramObj="paramObj"></mapBox>
    </div>
</template>

<script>
    import global from "../common/common";
    import mapBox from './mapDetail'
    import {EleResize} from "../common/esresize";
    export default {
        data(){
            return{
                dataBase:{
                    floor: require('../../assets/analysis/floor.png'),
                },
                polyShow: true,
                activeTab: '十三五项目',
                activeType: '2',
                activeMenu: '1',
                placeArr: [],
                point: {
                    '舟山': ['122.20', '30.00'],
                    '南通': ['120.88', '31.98'],
                    '宁波': ['121.55', '29.88'],
                    '浦东新区': ['121.53', '31.22'],
                    '厦门': ['118.08', '24.48'],
                    '福建': ['119.30', '26.08'],
                    '上海': ['121.47', '31.23'],
                    '浙江': ['120.15', '30.28'],
                    '江苏': ['118.78', '32.07'],
                    '福州': ['119.28', '26.08'],
                },
                activeData: '生产总值情况',
                selectYeas: ['2013','2014','2015','2016','2017'],
                activeYear: '2017',
                totalValue: [],
                fundList: [],
                colors: ['#00B0C8','#D2C904','#FF4D24','#0076E8'],
                cityList: ['上海','浙江','江苏','福建'],
                activeCity: '上海',
                paramObj: {},
                showNav: false
            }
        },
        methods: {
            dsjfz(){},

            _return(){
                this.polyShow = true
                this.getData(this.activeType, this.activeMenu)
            },
            initAreaChart(yearList,series){
                let option = {
                    title: {
                        text: '单位：亿元',
                        top: '20px',
                        left: '20px',
                        textStyle: {
                            color: 'white',
                            fontWeight: 'normal',
                            fontSize: '16px'
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        backgroundColor: '#4A5575',
                        borderWidth: 1,
                        padding: 10,
                        textStyle: {
                            color: '#fff'
                        },
                        extraCssText: 'width: 170px',
                        formatter: '{b}<br />{a}<br />{c}'
                    },
                    legend: {
                        top: '20px',
                        right: '20px',
                        data: ['海洋船舶业', '生物医药业',],
                        textStyle: {
                            color: '#fff'
                        },
                    },
                    grid: {
                        width: '80%',
                        left: '110px',
                        right: '30px'
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: yearList,
                        axisLine: {
                            lineStyle: {
                                color: '#6B7A90'
                            }
                        },
                        axisLabel: {
                            color: '#fff',
                        },
                        axisTick: {
                            show: false
                        },
                    },
                    yAxis: {
                        type: 'value',
                        min: 0,
                        max: 500,
                        axisLine: {
                            show: false,
                            lineStyle: {
                                color: '#6B7A90'
                            }
                        },
                        axisTick: {
                            show: false
                        },
                        axisLabel: {
                            color: '#fff'
                        },
                        splitLine: {
                            lineStyle: {
                                color: '#21365D'
                            }
                        }
                    },
                    series: series
                }
                let myChart = this.$echarts.init(document.getElementById('areaChart'))
                let resizeDiv = document.getElementById('areaChart')
                myChart.setOption(option)
                EleResize.on(resizeDiv, _=>{
                    myChart.resize()
                })
            },
            initCreateChart(){
                let option = {
                    tooltip: {
                        trigger: 'item',
                        backgroundColor: '#4A5575',
                        borderWidth: 1,
                        padding: 10,
                        textStyle: {
                            color: '#fff'
                        },
                        extraCssText: 'width: 170px',
                        formatter: '{b}<br />{a}<br />{c}'
                    },
                    legend: {
                        top: '20px',
                        right: '20px',
                        data: ['访问量',],
                        textStyle: {
                            color: '#fff'
                        },
                    },
                    grid: {
                        width: '85%',
                        left: '60px',
                        right: '30px'
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: ['4/5','4/6','4/7','4/8','4/9','4/10','4/11'],
                        axisLine: {
                            lineStyle: {
                                color: '#6B7A90'
                            }
                        },
                        axisLabel: {
                            color: '#fff',
                        },
                        axisTick: {
                            show: false
                        },
                    },
                    yAxis: {
                        type: 'value',
                        min: 0,
                        max: 200,
                        axisLine: {
                            show: false,
                            lineStyle: {
                                color: '#6B7A90'
                            }
                        },
                        axisTick: {
                            show: false
                        },
                        axisLabel: {
                            color: '#fff'
                        },
                        splitLine: {
                            lineStyle: {
                                color: '#21365D'
                            }
                        }
                    },
                    series: [
                        {
                            name: '访问量',
                            type: 'line',
                            data: ['35','26','33','60','70','64','50'],
                            smooth: true,
                            itemStyle:{
                                color:'#F35D23'
                            },
                            areaStyle:{
                                opacity: 0.2
                            },

                        },
                    ]
                }
                let myChart = this.$echarts.init(document.getElementById('createChart'))
                let resizeDiv = document.getElementById('createChart')
                myChart.setOption(option)
                EleResize.on(resizeDiv, _=>{
                    myChart.resize()
                })
            },
            initMapChart(point){
                let that = this
                $.ajax({
                    url:global.chinaJson2,
                    type:'get',
                    data:{},
                    dataType:'json',
                    success:(data)=>{
                        that.$echarts.registerMap('test', data);
                        let option = {
                            visualMap: { //图例值控制
                                min: 0,
                                max: 1,
                                calculable: true,
                                show: true,
                                color: ['#f44336', '#fc9700', '#ffde00', '#ffde00', '#00eaff'],
                                textStyle: {
                                    color: '#fff'
                                }
                            },
                            geo: {
                                map: "test",
                                aspectScale: 1.15,
                                roam: !1,
                                right: '30',
                                scaleLimit: {
                                    min: 1,
                                    max: 2
                                },
                                zoom: 4,
                                label: {
                                    normal: {
                                        show: !0,
                                        fontSize: "14",
                                        color: "#fff"
                                    },
                                    emphasis: {
                                        color: 'white',
                                    }
                                },
                                itemStyle: {
                                    normal: {
                                        color: '#000D4B', //地图背景色
                                        borderColor: '#0052C6', //省市边界线00fcff 516a89
                                        borderWidth: 0,
                                        shadowColor: '#02CCF8',
                                        shadowOffsetX: -7,
                                        shadowOffsetY: 0,
                                        shadowBlur: 1,
                                    },
                                    emphasis: {
                                        color: '#003662' //悬浮背景
                                    }
                                }
                            },
                            series: [
                                {
                                    type: 'scatter',
                                    coordinateSystem: 'geo',
                                    zlevel: 2,
                                    rippleEffect: {
                                        period: 4,
                                        brushType: 'stroke',
                                        scale: 4
                                    },
                                    label: {
                                        normal: {
                                            show: true,
                                            color: '#fff',
                                            formatter: '{b}',
                                            textStyle: {
                                                color: "#fff"
                                            }
                                        },
                                        emphasis: {
                                            show: true,
                                            color: "#fff"
                                        }
                                    },
                                    symbol: 'pin',
                                    symbolSize: 50,
                                    data: point.map(function(item) {
                                        console.log(item)
                                        return {
                                            name: item.count,
                                            value: [...item.point, item.count],
                                            area: item.area
                                        };
                                    }),
                                }
                            ]
                        }
                        let myChart = that.$echarts.init(document.getElementById('mapChart'));
                        let resizeDiv = document.getElementById('mapChart')
                        myChart.setOption(option);
                        myChart.on('click', {componentType: 'series', seriesType: 'scatter'} ,function (params) {
                            that.getMapDetail(params.data.area)
                        });
                        EleResize.on(resizeDiv, _=>{
                            myChart.resize()
                        })
                    }
                })
            },
            getData(type,menu){
                this.$post('/bigData/getViewMap',{menu: menu,type: type})
                    .then(data =>{
                        this.placeArr = data.data.resultData.map(item =>{
                            this.$set(item,'point',this.point[item.area])
                            return item
                        })
                        console.log(this.placeArr)
                        this.initMapChart(this.placeArr)
                    })
            },
            changeTab(tab,type,menu){
                this.activeTab = tab
                type === '十二五' ? this.activeType = '1' : this.activeType = '2'
                menu === '项目' ? this.activeMenu = '1' : this.activeMenu = '2'
                this.getData(this.activeType,this.activeMenu)
            },
            changeData(name){
                this.activeData = name
                if(name === '生产总值情况'){
                    this.getGdpList()
                }
                if(name === '科技专利情况'){
                    this.getAlmanacsPatentList()
                }
                if(name === '经费收入情况'){
                    this.getAlmanacsFundsList()
                }
            },
            getGdpList(){
                this.$post('/visualTracking/getGDPList',{years: this.activeYear})
                    .then(data=>{
                        if(data.data.data.length === 0){
                            this.$message.info('暂无数据')
                        }
                        this.totalValue = data.data.data
                    })
            },
            getAlmanacsPatentList(){
                this.$post('/visualTracking/getAlmanacsPatentList',{years: this.activeYear})
                    .then(data =>{
                        let arr = data.data.data
                        let nameList = arr.map(item =>item.area)
                        let acceptedCasesNumber = arr.map(item => item.acceptedCasesNumber)
                        let authorizationsNumber = arr.map(item => item.authorizationsNumber)
                        let havePatentsNumber = arr.map(item => item.havePatentsNumber)
                        let series = [
                            {
                                data: acceptedCasesNumber,
                                type: 'line',
                                smooth: true,
                                name: '专利申请受理数',
                                areaStyle: {},
                                itemStyle:{
                                    color:'#840B21'
                                }
                            },
                            {
                                data: authorizationsNumber,
                                type: 'line',
                                smooth: true,
                                name: '专利授权数',
                                areaStyle: {},
                                itemStyle:{
                                    color:'#8A6526'
                                }
                            },
                            {
                                data: havePatentsNumber,
                                type: 'line',
                                smooth: true,
                                name: '拥有发明专利总数',
                                areaStyle: {},
                                itemStyle:{
                                    color:'#0474A1'
                                }
                            },
                        ]
                        this.initBox(nameList,series)
                    })
            },
            getAlmanacsFundsList(){
                this.$post('/visualTracking/getAlmanacsFundsList',{years: this.activeYear})
                    .then(data =>{
                        let arr = data.data.data
                        this.fundList = arr.map((item,index) =>{
                            this.$set(item,'imgUrl',require(`../../assets/state/top${index + 1}.svg`))
                            this.$set(item,'color', this.colors[index])
                            return item
                        })
                    })
            },
            initBox(nameList,series){
                let option = {
                    grid: {
                        width: '96%',
                        left: '30px',
                        right: '40px'
                    },
                    tooltip: {
                        trigger: 'axis',
                        backgroundColor: '#31343D',
                        axisPointer: {

                        },
                        borderWidth: 1,
                        borderColor: '#ccc',
                        padding: 10,
                        textStyle: {
                            color: '#fff'
                        },
                        extraCssText: 'width: 170px'
                    },
                    legend: {
                        top: 10,
                        left: 'center',
                        data: ['专利申请受理数', '专利授权数', '拥有发明专利总数'],
                        textStyle: {
                            color: '#fff'
                        },
                        icon: 'roundRect'
                    },
                    axisPointer: {
                        link: {xAxisIndex: 'all'},
                        label: {
                            backgroundColor: '#777'
                        }
                    },
                    xAxis: [{
                        type: 'category',
                        color: '#59588D',
                        data: nameList,
                        axisLabel: {
                            margin: 20,
                            color: '#fff',
                            textStyle: {
                                fontSize: 14
                            },
                        },
                        axisLine: {
                            show: true,
                            lineStyle: {
                                color: '#FF0000'
                            }
                        },
                        axisTick: {
                            show: false
                        },
                        splitLine: {
                            show: true,
                            lineStyle: {
                                color: '#59588D'
                            }
                        }
                    }],
                    yAxis: {
                        type: 'value',
                        min: 0,
                        max: 1800,
                        axisLine: {
                            show: true,
                            lineStyle: {
                                color: '#535D78'
                            }
                        },
                        axisTick: {
                            show: false
                        },
                        axisLabel: {
                            color: '#fff'
                        },
                        splitLine: {
                            show: false,
                            lineStyle: {
                                color: '#21365D'
                            }
                        }

                    },
                    series: series
                };
                let myChart = this.$echarts.init(document.getElementById('dataBox'))
                let resizeDiv = document.getElementById('dataBox')
                myChart.setOption(option)
                EleResize.on(resizeDiv, _=>{
                    myChart.resize()
                })
            },
            getCityList(city){
                this.$post('/visualTracking/getIndustrialAddedValue',{area: city})
                    .then(data =>{
                        let arr = data.data.data
                        let yearList = arr.map(item => item.year)
                        let biomedicine = arr.map(item => item.biomedicine)
                        let fisheries = arr.map(item => item.fisheries)
                        let series = [
                            {
                                name: '海洋船舶业',
                                type: 'line',
                                data: fisheries,
                                itemStyle:{
                                    color:'#00D98B'
                                }
                            },
                            {
                                name: '生物医药业',
                                type: 'line',
                                data: biomedicine,
                                itemStyle:{
                                    color:'#228FFE'
                                }
                            },
                        ]
                        this.initAreaChart(yearList,series)
                    })
            },
            getMapDetail(area){
                let obj = {
                    area: area,
                    type: this.activeType,
                    menu: this.activeMenu
                }
                this.paramObj = obj
                this.polyShow = false
            },
            njsj(){
                this.$router.push('/projectML/dongtaigenzong/cxsfxm');
            },
            dsjzbsj(){
                this.$router.push('/projectML/dongtaigenzong/dsjzbsj');
            }
        },
        mounted() {
            this.initCreateChart()
            this.getData(this.activeType,this.activeMenu)
            this.changeData(this.activeData)
            this.getCityList(this.activeCity)
        },
        created() {
            if(process.env.NODE_ENV == 'development'){
                this.showNav = true
            }
        },
        components:{
            mapBox
        }
    }
</script>

<style lang="scss" scoped>
    .is-active{
        background: #055582;

    }
    .is-title-active{
        background: linear-gradient(180deg, rgba(0, 118, 211, 1) 0%, rgba(10, 23, 139, 1) 100%);
        border-radius: 100px;
        color: white !important;
    }
    .btns{
        width:100%;
        height:93px;
        margin-bottom: 50px;
        .btns-con{
            width:568px;
            height:100%;
            margin:0 auto;
            .pic{
                float:left;
                width:105px;
                height:100%;
                background:url('../../../static/image/dysj03.png') no-repeat;
                color:#54D1FA;
                text-align:center;
                display:flex;
                flex-direction:column;
                justify-content:center;
                cursor:pointer;
                &.mark{
                    color:#fff;
                    background:url('../../../static/image/dysj_highLight.png') no-repeat;
                }
            }
            .line{
                float:left;
                width:46px;
                height:93px;
                background:url('../../../static/image/dysj02.png') no-repeat 0 42px;
            }
        }
    }
    .polyData{
        width: 100%;
        background: url("../../assets/analysis/back.png") center no-repeat;
        background-size: 100% 100%;
        overflow-y: auto;
        height: 100%;
        &-main{
            padding: 30px 20px 0;
            display: flex;
        }
        .dataStats{
            width: 25%;
            padding-bottom: 70px;
            .base{
                height: 385px;
                width: 100%;
                background: url("../../assets/analysis/partBg.png") center no-repeat;
                background-size: 100% 100%;
                .title{
                    font-size: 20px;
                    color: white;
                    height: 50px;
                    line-height: 40px;
                    padding-left: 15px;
                    background: url("../../assets/analysis/titleBg.png") no-repeat;
                    background-size: 95% 50%;
                    background-position-x: 15px;
                    background-position-y: 20px;
                }
                &-main{
                    padding: 0 45px;
                    display: flex;
                    align-items: center;
                    margin-top: 25px;
                    .floor{
                        display: block;
                        width: 75px;
                        height: 170px;
                    }
                    ul{
                        background: url("../../assets/analysis/listBg.png") center no-repeat;
                        background-size: 100% 100%;
                        height: 280px;
                        width: calc(100% - 75px);
                        li{
                            height: 32px;
                            line-height: 32px;
                            margin-bottom: 9.4px;
                            padding-left: 125px;
                            display: flex;
                            justify-content: space-between;
                            &:last-of-type{
                                margin-bottom: 0;
                            }
                            b{
                                font-size: 14px;
                                font-weight: normal;
                                color: white;
                            }
                            span{
                                font-size: 16px;
                                color: #00E4FF;
                                margin-right: 30px;
                            }
                        }
                    }
                }
            }
            .dataChange{
                width: 100%;
                margin-top: 25px;
                .data-title{
                    width: 100%;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    padding-left: 25px;
                    background: url("../../assets/analysis/changeBg.png") center no-repeat;
                    background-size: 100% 100%;
                    li{
                        width: 135px;
                        height: 46px;
                        line-height: 46px;
                        font-size: 18px;
                        color: white;
                        text-align: center;
                        cursor: pointer;
                        &:hover{
                            color: #646F85;
                        }
                    }
                    .is-active{
                        &:hover{
                            color: white;
                        }
                    }
                }
                .dataMain{
                    margin-top: 10px;
                    background: url("../../assets/analysis/partBg.png") center no-repeat;
                    background-size: 100% 100%;
                    height: 400px;
                    width: 100%;
                    padding-bottom: 135px;
                    .title{
                        width: 100%;
                        height: 50px;
                        font-size: 20px;
                        color: white;
                        line-height: 40px;
                        padding-left: 15px;
                        background: url("../../assets/analysis/selectBg.png") no-repeat;
                        background-size: 95% 50%;
                        background-position-x: 15px;
                        background-position-y: 20px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        select{
                            margin-right: 10px;
                            width: 60px;
                            height: 25px;
                            position: relative;
                            top: -3px;
                            background: #7383A2;
                            border: 1px solid #6D99C8;
                            font-size: 12px;
                            outline: none;
                            text-align: center;
                            border-radius: 4px;
                        }
                    }
                    .dataBox{
                        padding: 0 30px;
                        margin-top: 30px;
                        p{
                            color: #B4B6BB;
                            font-size: 14px;
                            span{
                                &:nth-child(1){
                                    width: 110px;
                                    display: inline-block;
                                    padding-left: 30px;
                                }
                                &:nth-child(2){
                                    width: 140px;
                                    display: inline-block;
                                }
                            }
                        }
                        ul{
                            margin-top: 10px;
                            li{
                                width: 100%;
                                height: 30px;
                                line-height: 30px;
                                padding: 30px 0;
                                background: url("../../assets/analysis/dataBg.png") no-repeat center;
                                background-size: 100% 100%;
                                display: flex;
                                align-items: center;
                                margin-bottom: 10px;
                                p{
                                    color: white;
                                    margin-left: 45px;
                                    margin-right: 30px;
                                }
                                span{
                                    width: 155px;
                                    display: inline-block;
                                    height: 30px;
                                    text-align: center;
                                    border: 1px solid #07A6FF;
                                    &:nth-child(2){
                                        color: #00FFC6;
                                    }
                                    &:nth-child(3){
                                        margin-left: 10px;
                                        color: #D8C70E;
                                    }
                                }
                            }
                        }
                    }
                    .dataBoxSet{
                        margin-top: 55px;
                        ul{

                            display: flex;
                            justify-content: space-around;
                            li{
                                width: 85px;
                                p{
                                    text-align: center;
                                    font-size: 16px;
                                }
                                .img{
                                    width: 85px;
                                    height: 85px;
                                    position: relative;
                                    margin-top: 15px;
                                    img{

                                        width: 85px;
                                        height: 85px;
                                        display: block;
                                        z-index: 4;
                                    }
                                    span{
                                        position: absolute;
                                        top: calc( (85px - 48px) / 2);
                                        left: calc( (85px - 40px) / 2);
                                        font-size: 18px;
                                        color: white;
                                        display: inline-block;
                                        width: 45px;
                                        text-align: center;
                                        z-index: 8;
                                        word-wrap: break-word;
                                        margin: 0 auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .mapContainer{
            width: 40%;
            .mapTitle{
                margin-top: 30px;
                width: 80%;
                height: 50px;
                border: 3px solid #004C85;
                border-radius: 25px;
                margin-left: 60px;
                display: flex;
                align-items: center;
                li{
                    width: 25%;
                    text-align: center;
                    font-size: 18px;
                    height: 45px;
                    line-height: 45px;
                    font-weight: 600;
                    color: #05caf7;
                    cursor: pointer;
                    &:hover{
                        color: white;
                    }
                }
            }
            .mapBox{
                margin-top: 30px;
                width: 80%;
                margin-left: 60px;
                height: 800px;
            }
        }
        .industryContainer{
            width: 35%;
            .areaContainer{
                width: 100%;
                height: 500px;
                background: url("../../assets/analysis/areaBg.png") center no-repeat;
                background-size: 100% 100%;
                .areaTitle{
                    width: 100%;
                    height: 50px;
                    font-size: 20px;
                    color: white;
                    line-height: 40px;
                    padding-left: 15px;
                    background: url("../../assets/analysis/selectBg.png") no-repeat;
                    background-size: 95% 50%;
                    background-position-x: 15px;
                    background-position-y: 25px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    select{
                        margin-right: 20px;
                        width: 60px;
                        height: 25px;
                        background: #7383A2;
                        border: 1px solid #6D99C8;
                        font-size: 12px;
                        outline: none;
                        text-align: center;
                        border-radius: 4px;
                    }
                }
                .areaBox{
                    height: calc(500px - 70px);
                    width: 100%;
                }
            }
            .createContainer{
                width: 100%;
                height: 345px;
                background: url("../../assets/analysis/createBg.png") center no-repeat;
                background-size: 100% 100%;
                padding-bottom: 135px;
                margin-top: 30px;
                .createTitle{
                    width: 100%;
                    height: 50px;
                    font-size: 20px;
                    color: white;
                    line-height: 40px;
                    padding-left: 15px;
                    background: url("../../assets/analysis/createTitleBg.png") no-repeat;
                    background-size: 95% 50%;
                    background-position-x: 15px;
                    background-position-y: 25px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    select{
                        margin-right: 20px;
                        width: 60px;
                        height: 25px;
                        background: #7383A2;
                        border: 1px solid #6D99C8;
                        font-size: 12px;
                        outline: none;
                        text-align: center;
                        border-radius: 4px;
                    }
                }
                .createBox{
                    height: calc(345px - 70px);
                    width: 100%;
                }
            }
        }

    }
</style>
