<template>
<div class="contain clear">
    <ul class="leftBar">
        <li>
            <span><i class="iconfont icon-quanbu1"></i> 区域海洋经济</span>
            <ul>
                <!-- <li>
                    <span @click="slide($event)">教育类（1）</span>
                </li> -->
                <li>
                    <span @click="slide($event)" class="mark">经济类（15）</span>
                </li>
                <!-- <li>
                    <span @click="slide($event)">科技类（1）</span>
                </li> -->
            </ul>
        </li>
    </ul>
    <div class="content-box2 clear">
        <hyjjDataList :shisaner="shisaner" v-if="isShow"></hyjjDataList>
    </div>
</div>
</template>

<script>
import hyjjDataList from '@/components/projectML/hyjjDataList'
export default {
    components: {
      hyjjDataList
    },
    data() {
      return{
          sideIsShow:true,
          shisaner:1,
          isShow:true,
          data:[
                {
                    label: '创新示范企业名录',
                    children: [{
                        label: '十二五（3）'
                    },{
                        label: '十三五（3）'
                    }]
                }
          ]
      }
    },
    methods:{
      slide(obj){
            let _this = this;
            $(obj.srcElement).addClass('mark').closest('li').siblings('li').find('span').removeClass('mark');
            if($(obj.srcElement).text().substring(0,3) == '十二五'){
                _this.shisaner = 2;
            }else if($(obj.srcElement).text().substring(0,3) == '十三五'){
                _this.shisaner = 1;
            }
      },
      close(){
          let width = $('.leftBar').width()-5;
          if(this.sideIsShow){
              $('.leftBar').css({'width':20+'px'});
              $('.content-box2').css({'width':'96%'});
              $('.leftBar .btn-close').empty().text('>')
          }else{
              $('.leftBar').css({'width':300+'px'});
              $('.content-box2').css({'width':'82%'});
              $('.leftBar .btn-close').empty().text('<')
          }
          this.sideIsShow = !this.sideIsShow;
      }
    },
    mounted(){

    }
}
</script>

<style lang="less" scoped>
    .contain {
            height: 100%;
            background-color: #f5f5f5;
    }
    .sider{
        /* width:18%; */
        padding:25px 30px;
    }
    .leftBar{
        float:left;
        width: 200px;
        height: 100%;
        padding-top:14px;
        background:#ffffff;
        overflow:hidden;
        li{
            cursor:pointer;
            .arrow{
                display:inline-block;
                margin-top:9px;
                margin-right:10px;
                &.active{
                    transform:rotate(-90deg);
                    transition:transform 0.2s linear;
                }
                &.actived{
                    transform:rotate(0deg);
                    transition:transform 0.2s linear;
                }
            }
            .mark{
                background:#459CFF;
                color:#ffffff;
            }
        }
        .btn-close{
            position:absolute;
            right:0;
            top:0;
            height:100%;
            width:20px;
            background:#cccccc;
            line-height:700px;
            text-align:center;
            color:#ffffff;
            cursor:pointer;
            &:hover{
                background:#333333;
            }
        }
    }
    .left-wrap{

    }
    .leftBar span{
        display:block;
        width:100%;
        line-height:40px;
        text-align: center;
        font-size:16px;
        color:#333333;
    }
    .leftBar ul{
        overflow:hidden;
    }
    .leftBar img{
        float:left;
    }
    .content-box2 {
        background-color: #fff;
        margin-left: 220px;
    }
</style>
