<template>
    <div>
        <div class="container">
            <div class="topbar">
                <i class="iconfont">&#xe620;</i>
               <span class="fanhui" @click="goBack">返回共享平台</span>
            </div>
            <!-- <div class="geli"></div> -->
            <div class="content-box3 clear" style="padding-left:180px;">
                <div>
                    <router-view @changePoint="getPoint"></router-view>
                </div>
            </div>
        </div>
        <!--企业左侧导航><!-->
        <div class="left_menu" ref="hxSider" v-if="qiye">
            <el-menu
            default-active="2"
            class="el-menu-vertical-demo"
            @open="handleOpen"
            @close="handleClose"
            background-color= "rgba(63, 63, 63, 1)"
            text-color="#fff"
            active-text-color="#ffd04b">
                <span class="sider-title">在线填报</span>
                <el-submenu index="1">
                    <template slot="title">
                        <i class="iconfont icon-integral" style="font-size:20px;"></i>
                        <span style="font-size: 16px">在线填报</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="1-6" @click="nav_1_6">
                            <el-badge :hidden="point.writeStateCount == 0 ? true : false" :value="point.writeStateCount" class="item">
                                承担的项目
                            </el-badge>
                        </el-menu-item>
                        <!-- <el-menu-item index="1-1" @click="zhibaoData">企业直报数据</el-menu-item> -->
                        <el-menu-item index="1-2" @click="processData">
                            <el-badge :hidden="point.progressCount == 0 ? true : false" :value="point.progressCount" class="item">填报项目进度</el-badge>
                        </el-menu-item>
                        <el-menu-item index="1-1" @click="nav_1_1">填报成果跟踪</el-menu-item>
                        <el-menu-item index="1-3" @click="nav_1_2">文件管理</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-menu-item index="6">
                    <i class="iconfont icon-product" style="font-size:20px;"></i>
                    <span slot="title" @click="nav_1_1 style="font-size: 16px" ">产品管理</span>
                </el-menu-item>
            </el-menu>
        </div>
        <!--平台左侧导航><!-->
        <div class="left_menu" ref="hxSider" v-if="pingtai">
            <el-menu
            default-active="1-2"
            class="el-menu-vertical-demo"
            @open="handleOpen"
            @close="handleClose"
            background-color= "rgba(63, 63, 63, 1)"
            text-color="#fff"
            active-text-color="#459CFF">
                <span class="sider-title">在线填报</span>
                <el-submenu index="5">
                    <template slot="title">
                    <i class="iconfont icon-integral" style="font-size:20px;"></i>
                    <el-badge :value="1" :max="10" class="item" hidden><span style="font-size: 16px">项目名录</span></el-badge>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="5-1" @click="nav_5_1">项目列表</el-menu-item>

                        <el-menu-item index="5-2" @click="nav_5_2">
                            <el-badge :hidden="point.writeStateCount == 0 ? true : false" :value="point.writeStateCount" class="item">
                                项目信息审核
                            </el-badge>
                        </el-menu-item>
                        <el-menu-item index="5-3" @click="nav_5_3">添加项目进度任务</el-menu-item>
                        <el-menu-item index="5-4" @click="nav_5_4">文件管理</el-menu-item>
                        <el-menu-item index="5-5" @click="addExpert">添加专家</el-menu-item>
                        <!--<el-menu-item index="1-5" @click="nav_2_5">验收资料审批</el-menu-item>-->
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="1">
                    <template slot="title">
                    <i class="iconfont icon-people_fill" style="font-size:20px;"></i>
                    <span style="font-size: 16px">数据审核</span>
                    </template>
                    <el-menu-item-group>
                        <!-- <el-menu-item index="1-1">企业直报数据审批</el-menu-item> -->
                        <el-menu-item index="1-2" @click="shenpiProcessData">
                            <el-badge :hidden="point.reportStateCount == 0 ? true : false" :value="point.reportStateCount" class="item">
                                项目进度审核
                            </el-badge>
                        </el-menu-item>
                        <el-menu-item index="1-3" @click="nav_1_3">
                            <el-badge :hidden="point.achievementTrackingCount == 0 ? true : false" :value="point.achievementTrackingCount" class="item">
                                成果跟踪审批
                            </el-badge>
                        </el-menu-item>
                        <!--<el-menu-item index="1-4" @click="nav_1_4">区域绩效目标审批</el-menu-item>-->
                        <!--<el-menu-item index="1-5" @click="nav_2_5">验收资料审批</el-menu-item>-->
                    </el-menu-item-group>
                </el-submenu>
<!--                <el-menu-item index="2">-->
<!--                    <i class="el-icon-setting"></i>-->
<!--                    <span slot="title" @click="nav_2_1">企业授权管理</span>-->
<!--                </el-menu-item>-->
<!--                <el-menu-item index="3">-->
<!--                    <i class="el-icon-setting"></i>-->
<!--                    <span slot="title" @click="nav_4_1">项目管理</span>-->
<!--                </el-menu-item>-->
                <el-menu-item index="3" @click="productVerify">
                    <i class="iconfont icon-product" style="font-size:20px;"></i>
                    <span slot="title">产品审核</span>
                </el-menu-item>
                <el-menu-item index="4" @click="productList">
                    <i class="iconfont icon-product" style="font-size:20px;"></i>
                    <span slot="title">产品列表</span>
                </el-menu-item>
            </el-menu>
        </div>

    </div>
</template>
<script>
export default {
    data(){
        return{
            qiye:false,
            pingtai:true,
            type:null,//角色判断
            loginRole:'',//登陆角色
            loginUser:'',//登录用户名,
            point: {}
        }
    },
    methods: {
        getPoint(){
            this.$post('/noticeController/getRedNotice')
                .then(data =>{
                    this.point = data.data.data
                })
        },
        goBack(){
            this.$router.push({ path: '/projectML/dongtaigenzong/cxsfxm'});
        },
        loginout(){
            this.$router.push({ path: '/login'});
        },
        getshenheDot(){
            let _this = this;
            let param = {};
            this.$post('/ProccesForManagerController/getProcessUnauditedCount',param).then(function(res){
            });
        },
        btnOpen(){
            if($('.wrap').offset().left < -100){
                // $('.sider').animate({'left':'0'}, 200, 'swing');
                $('.content-box3').animate({'padding-left': '180px'}, 200, 'swing');
            }else{
                $('.wrap').animate({'left':'-180px'}, 200, 'swing');
                // $('.content-box3').animate({'padding-left': '20px'}, 200, 'swing');
            }
        },
        handleOpen(){

        },
        handleClose(){

        },
        zhibaoData(){
            this.$router.push({ path: '/dataManage/onlineZhibao'});
        },
        processData(){
            this.$router.push({ path: '/dataManage/processData'});
        },
        nav_1_1(){
            this.$router.push({ path: '/dataManage/tbcggz'});
        },
        nav_4_1(){
            this.$router.push({ path: '/dataManage/dataXmml'});
        },
        shenpiProcessData(){
            this.$router.push({ path: '/dataManage/shenpiProcessData'});
        },
        nav_1_3(){
            this.$router.push({path: '/dataManage/dataCggz'});
        },
        nav_1_4(){
            this.$router.push({path: '/dataManage/qyjxmbsp'});
        },
        nav_2_5(){
            this.$router.push({path: '/dataManage/yszlsp'});
        },
        nav_1_5(){
            this.$router.push({path: '/dataManage/qiyeyszlsp'});
        },
        nav_5_1(){
            this.$router.push({path: '/dataManage/xmlb'});
        },
        nav_5_2(){
            this.$router.push({path: '/dataManage/xmxxsh'});
        },
        nav_5_3(){
            this.$router.push({path: '/dataManage/tjxmjdrw'});
        },
        nav_5_4(){
            this.$router.push({path: '/dataManage/wjgl'});
        },
        nav_1_6(){
            this.$router.push({path: '/dataManage/fzdxm'});
        },
        nav_2_1(){
            this.$router.push({path: '/dataManage/qysqgl'});
        },
        productVerify(){
            this.$router.push({path: '/dataManage/ProductVerify'})
        },
        productList(){

        },
        nav_1_2(){
            // this.$router.push({path: '/dataManage/qywjgl'});
            this.$router.push({ path: '/dataManage/tbcggz'});
        },
        addExpert(){
            this.$router.push({path: '/dataManage/AddExpert'})
        }

    },
    mounted() {
        let sessionMessage = JSON.parse(sessionStorage.getItem('userMessage'));
        this.type = sessionMessage.userRole;
        this.loginUser = sessionMessage.realName;
        this.getPoint()
        if(this.type == 0){//企业
            this.qiye = true;
            this.pingtai = false;
            this.loginRole = sessionMessage.companyName;
            // this.loginUser = sessionMessage.realName;
        }else if(this.type == 2){//平台
            this.pingtai = true;
            this.qiye = false;
            this.loginRole = "平台审核员";
            // this.loginUser = sessionMessage.realName;
            this.getshenheDot();
        }else if(this.type == 1){//领导

        }else if(this.type == 3){//专家

        }

    },
}
</script>
<style lang="scss" scoped>
//顶部
    .container{
        height: 100vh;
        flex: 1 auto;
         .topbar{
            width: calc(100% - 180px);
            position: fixed;
            right: 0px;
            top:0;
            height:50px;
            line-height:50px;
            color:#333;
            background:#fff;
            border-bottom:1px solid #f5f5f5;
            box-shadow:4px 0 4px 0 #eeeeee;
            font-size:16px;
            text-align: right;
            padding-right:20px;
            z-index:888;
            span{
                &.fanhui{
                    cursor:pointer;
                }
            }
        }
        .content-box3 {
            padding: 20px 10px 10px 0;
            background: #F4F4F4;
            height: 100%;
            >div{
                background: white;
                margin-left: 15px;
                overflow: hidden;
                margin-top: 45px;
                border-radius: 5px;
                height: calc(100% - 55px);
            }
        }

    }
    .left_menu{
        position: fixed;
        top:0;
        left:0;
        width:180px;
        min-width: 180px;
        height: 100%;
        background-color: rgba(63, 63, 63, 1);
        z-index:88;
        .sider{
            padding-top: 0px !important;
        }
        .sider-title{
            display:inline-block;
            width:100%;
            line-height:100px;
            text-align: center;
            background-color: rgba(63, 63, 63, 1);
            // padding-right:50px;
            color:#ffffff;
            font-size:28px;
            font-weight: 400;
        }
    }
    .btn-open{
        position:fixed;
        left:180px;
        top:80px;
        font-size:22px;
        cursor:pointer;
    }
    /deep/.el-submenu__title{
        font-size:16px;
        background: #3F3F3F !important;
        &:hover{
            background: #3F3F3F !important;
            color: #459cff  !important;
        }
    }
    /deep/ .el-menu-item-group__title {
        padding: 0 !important;
    }
    .el-submenu__title{
        font-size:16px;
    }
    /deep/.el-submenu__title+ul .el-menu-item{
        font-size:14px;
        padding-left:10px;
        background-color: rgba(63, 63, 63, 1);
    }
    /deep/.el-menu-item{
        font-size:16px;
        background: #3F3F3F !important;
        &:hover{
            background: #459CFF !important;
        }
    }
    /deep/.el-badge__content.is-fixed{
        top:13px;
    }
    /deep/.el-badge__content{
        line-height:16px;
    }
    /deep/.el-menu{
        border-right:none;
    }
    /deep/ .el-submenu .el-menu-item {
        min-width: 180px;
    }
    /deep/ .el-menu .el-menu--inline {
        background-color: rgba(63, 63, 63, 1) !important;
    }
    /deep/ .el-menu-item-group>ul>li {
        background-color: rgba(51, 51, 51, 1) !important;
    }
    /deep/ .el-menu-item.is-active {
        color: #fff !important;
        background-color: rgb(69, 156, 255) !important;
    }
</style>
