<template>
    <div>
        <div class="main">
            <div class="main-slider">
                <el-menu default-active="menuActive">
                    <span class="slider-title"><i  class="el-icon-menu icon"></i>多元数据</span>
                    <el-menu-item index="1" @click="nav_1_1">
                        <!-- <i class="el-icon-menu"></i> -->
                        <span slot="title">多元数据可视化</span>
                    </el-menu-item>
                    <el-menu-item index="2" disabled>
                        <!-- <i class="el-icon-menu"></i> -->
                        <span slot="title">大数据产品</span>
                    </el-menu-item>
                </el-menu>
            </div>
            <div class="main-box">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            menuActive: '1'
        }
    },
    methods: {
        nav_1_1(){
            sessionStorage.setItem('menuTitle','1')
            this.$router.push({ path: '/projectML/dongtaigenzong/cxsfxm', query: { type: '1' }})
        },
        nav_3_1(){
            console.log(111);
            // this.$router.push({ path: '/projectML/dongtaigenzong/njsj'});
            this.$router.push({ path: '/projectML/dongtaigenzong/njsj', query: { type: '1' }})
        },
        handleOpen(){

        },
        handleClose(){

        }
    },

    created() {
        let menuTitle = sessionStorage.getItem('menuTitle')
        if(menuTitle && menuTitle != undefined && menuTitle != null){
            this.menuActive = menuTitle
        }
    }
}
</script>
<style lang="scss" scoped>
    .is-active{
        border-right: 3px solid #2293FC;
        background: #EDF5FF;
    }
    .main{
        display: flex;
        justify-content: space-between;
        height: 100%;
        &-slider{
            width: 200px;
            background: white;
            .el-menu{
                border: none;
                .slider-title{
                    height: 54px;
                    padding-top: 10px;
                    line-height: 54px;
                    margin-left: 20px;
                    font-size: 18px;
                    display: block;
                    color: rgba(85, 85, 85, 0.647058823529412);
                    i{
                        color: black;
                    }
                }
                .el-menu-item{
                    padding-left: 40px !important;
                    border-top: 1px solid #F7F7F7 !important;
                    font-size: 16px !important;
                    color: rgba(0, 0, 0, 0.647058823529412) !important;
                    font-weight: 500;
                    &:hover{
                        border-right: 3px solid #2293FC;
                    }
                }
                &:last-child{
                    border-bottom: 1px solid #F7F7F7 !important;
                }
            }
        }
        &-box{
            width: calc(100% - 225px);
            margin-top: 10px;
            margin-right: 10px;
            overflow-y: auto;
        }
    }
/deep/.el-menu-item{
    font-size:16px;
    padding-left:44px;
}
/deep/.el-menu{
    border-right:none;
}
</style>
