<template>
    <div class="header clear">
        <div class="nav" v-if="true">
            <!-- 用户名以及退出 -->
            <div class="main-header">
                <div>
                    <h3>长三角及辐射区域沿海海洋经济产业链共享平台 <span style="font-size: 15px;font-weight: normal" class="hidden-lg-and-down">v0.9.1</span></h3>
                    <nav>
                        <li :class="{active: '项目管理' == activeTitle ? true : false}" @click="nav_2_1('项目管理')"><span>项目管理</span></li>
                        <li v-if="userRole == 0 || userRole == 2" :class="{active: '数据管理' == activeTitle ? true : false}" @click="nav_6_1('数据管理')">
                            <span>
                                <el-badge :hidden="count == 0 ? true : false" :value="count" class="item"> 在线填报</el-badge>
                            </span>

                        </li>
                        <li :class="{active: '成果跟踪' == activeTitle ? true : false}" @click="nav_3_1('成果跟踪')"><span>成果跟踪</span></li>
                        <li :class="{active: '多元数据' == activeTitle ? true : false}" @click="nav_1_2('多元数据')"><span>多元数据</span></li>
<!--                        <li v-if="showNav" :class="{active: '创新动态' == activeTitle ? true : false}" @click="nav_1_3('创新动态')"><span>创新动态</span></li>-->
<!--                        <li v-if="showNav" :class="{active: '评估分析' == activeTitle ? true : false}" @click="nav_4_1('评估分析')"><span>评估分析</span></li>-->
<!--                        <li v-if="showNav" :class="{active: '成果推介' == activeTitle ? true : false}" @click="nav_5_1('成果推介')"><span>成果推介</span></li>-->

                        <li :class="{active: '创新动态' == activeTitle ? true : false}" @click="nav_3_1('创新动态')"><span>创新动态</span></li>
                        <li :class="{active: '评估分析' == activeTitle ? true : false}" @click="nav_3_1('评估分析')"><span>评估分析</span></li>
                        <li :class="{active: '成果推介' == activeTitle ? true : false}" @click="nav_3_1('成果推介')"><span>成果推介</span></li>



                        <li v-if="userRole == 1" :class="{active: '发布通知' == activeTitle ? true : false}" @click="nav_7_1('发布通知')"><span>发布通知</span></li>
                    </nav>
                </div>
                <div class="avatar">
                    <img :src="avatar" /><span class="hidden-lg-and-down">{{role}}：</span>
                    <el-dropdown @command="handleCommand">
                        <span class="el-dropdown-link">
                            <b style="font-weight: normal" class="hidden-lg-and-down">{{username}}</b><i class="el-icon-arrow-down el-icon--right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="a"><i class="el-icon-lock"></i>修改密码</el-dropdown-item>
                            <el-dropdown-item command="b"><i class="el-icon-switch-button"></i>退出登录</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                username:'',
                role:'',
                userRole:'',
                activeIndex:'1',
                isSearch:true,
                pingtai:false,
                zhuanjia:false,
                activeTitle: '项目管理',
                count: '',
                avatar: require('../../assets/avatar.png'),
                ring: require('../../assets/mall/ring.svg'),
                norse: false,
                showNav: false,
            }
        },
        watch:{
            "$route"(){
                this.activeTitle = sessionStorage.getItem('navTitle');
            }
        },
        methods:{
            nav_7_1(title){
                this.activeTitle = title
                sessionStorage.setItem('navTitle',title)
                this.$router.push({ path: '/notice/issue'})
            },
            resetPassword(){//修改密码
                this.$router.push({ path: '/resetPassword', query: { type: '1' }})
            },
            handleCommand(value){
                if(value == 'a'){
                    this.$store.commit('updatePasswordChange', true);
                }else if(value == 'b'){
                    this.$router.push('/login');
                    sessionStorage.clear();
                }
            },
            handleSelect(){

            },
            nav_1_1(){
                //    this.isSearch = true;
                this.$router.push({ path: '/projectML/dongtaigenzong', query: { type: '1' }})
            },
            nav_1_2(title){
                if(this.activeTitle == title){
                    return false
                }
                //    this.isSearch = false;
                this.activeTitle = title
                sessionStorage.setItem('navTitle',title)
                this.$router.push({ path: '/projectML/dongtaigenzong/cxsfxm'})
            },
            nav_1_3(title){
                if(this.activeTitle == title){
                    return false
                }
                //    this.isSearch = false;
                this.activeTitle = title
                sessionStorage.setItem('navTitle',title)
                this.$router.push({ path: '/projectML/dynamicInnovation/cxdt'})
            },
            nav_1_4(){
                //    this.isSearch = false;
                this.$router.push({ path: '/commom/cxsfqySider'})
            },
            nav_2_1(title){
                if(this.activeTitle == title){
                    return false
                }
                this.activeTitle = title
                sessionStorage.setItem('navTitle',title)
                // this.isSearch = false;
                let message = JSON.parse(sessionStorage.getItem('userMessage'))
                if(message.userRole == 2 || message.userRole == 1){
                    this.$router.push({ path: '/projectML/xiangmuProcess/xmjdhb'});//检测工作台
                }else if(message.userRole == '0'){
                    this.$router.push({ path: '/projectML/xiangmuProcess/xmjdhb3'});//检测工作台
                }
            },
            nav_2_2(){
                // this.isSearch = false;
                this.$router.push({ path: '/xmpgmx/qyzbsjgl'})
            },
            nav_2_3(){
                // this.isSearch = false;
                this.$router.push({ path: '/projectML/xmpjgl'})
            },
            nav_2_4(){
                // this.isSearch = false;
                this.$router.push({ path: '/projectML/qyztpjgl'})
            },
            nav_2_5(){
                // this.isSearch = false;
                this.$router.push({ path: '/projectML/zjdf'})
            },
            nav_2_6(){
                this.$router.push({ path: '/projectML/downloadArea'})
            },
            nav_3_1(title){
                if(this.activeTitle == title){
                    return false
                }
                this.activeTitle = title
                sessionStorage.setItem('navTitle',title)
                this.$router.push({ path: '/xmpgmx/cggz'})
            },
            nav_4_1(title){
                if(this.activeTitle == title){
                    return false
                }
                this.activeTitle = title
                sessionStorage.setItem('navTitle',title)
                this.$router.push({ path: '/xmpgmx/fzcx'})
            },
            nav_4_2(){
                this.$router.push({ path: '/xmpgmx/cyfzPg'})
            },
            nav_5_1(title){
                if(this.activeTitle == title){
                    return false
                }
                this.activeTitle = title
                sessionStorage.setItem('navTitle',title)
                this.$router.push({ path: '/cxcgjy/cxcgsy'})
            },
            nav_6_1(title){
                if(this.activeTitle == title){
                    return false
                }
                this.activeTitle = title
                sessionStorage.setItem('navTitle',title)
                let message = JSON.parse(sessionStorage.getItem('userMessage'));
                if(message.userRole == 0){
                    this.$router.push({ path: '/dataManage/processData'});
                }else if(message.userRole == 2){
                    this.$router.push({ path: '/dataManage/shenpiProcessData'});
                }
            },
            zhuanjia_1_1(){
                this.$router.push({ path: '/projectML/xmpjgl'})
            },
            zhuanjia_2_1(){
                this.$router.push({ path: '/projectML/zjdf'})
            },
            getPoint(){
                this.$post('/noticeController/getRedNotice')
                    .then(data =>{
                        this.count = data.data.data.count
                    })
            },
            showNotice(){
                this.$notify.closeAll()
                if(sessionStorage.getItem('norse')){
                    return false
                }
                if(this.userRole == 0 || this.userRole == 2){
                    this.$post('/notice/query')
                        .then(data =>{
                            let arr = data.data.resultData
                            arr.forEach(item =>{
                                setTimeout( _=>{
                                    this.$notify({
                                        title: item.title,
                                        message: item.content,
                                        duration: 60000,
                                        offset: 50,
                                        onClose: function () {
                                            this.norse = true
                                            sessionStorage.setItem('norse', this.norse)
                                        }.bind(this)
                                    });
                                })
                            })
                        })
                }

            }

        },
        mounted(){
            let sessionMessage = JSON.parse(sessionStorage.getItem('userMessage'));
            this.userRole = sessionMessage.userRole;
            this.username = sessionMessage.realName;
            if(sessionMessage.userRole == 2){
                this.pingtai = true;
                this.role = '平台审核员';
            }else if(sessionMessage.userRole == 0){
                this.qiye = true;
                this.role = sessionMessage.companyName;
            }
            this.showNotice()
        },
        created() {
            this.getPoint()
            let title = sessionStorage.getItem('navTitle')
            if(title && title != undefined && title != null){
                this.activeTitle = title
            }
            if(process.env.NODE_ENV == 'development'){
                this.showNav = true
            }
        }
    }
</script>

<style scoped lang="less">

    .active{
        background: #238DFD;
    }
    .main{
        height: 100%;
        &-header{
            height: 60px;
            background-color: rgba(10, 28, 63, 1);
            display: flex;
            justify-content: space-between;
            border: 1px solid #2C466F;
            overflow: hidden;
            div{
                display: flex;
            }
            h3{
                font-size: 24px;
                color: #ffffff;
                line-height: 60px;
                font-weight: 700;
                margin-left: 22px;
            }
            nav{
                margin-left: 30px;
                display: flex;
                align-items: center;
                li{
                    float: left;
                    font-weight: 400;
                    font-size: 18px;
                    color: white;
                    display: inline-block;
                    height: 60px;
                    padding: 0 8px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    span{
                        display: block;
                    }
                    &:hover{
                        background: #238DFD;
                    }
                }
            }
            .avatar{
                display: flex;
                align-items: center;
                margin-right: 20px;
                img{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }
                span{
                    color: white;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
        &-container{
            height: calc(100% - 60px);
            background: #F0F2F5;
        }
    }
    .header .nav{
        position:relative;
        left:0;
        top:0;
    }
    .header .logo{
        font-weight: 700;
        font-size: 26px;
        color: #FFFFFF;
        float:left;
        height:66px;
        padding-right:20px;
        font-weight:bold;
        line-height:66px;
        padding-left:20px;
        -box-shadow:0 0 2px 0 #cccccc;
    }
    /* .header .nav{float:left;} */

    /deep/.el-menu.el-menu--horizontal{
        height:66px;
    }
    /deep/.el-menu--horizontal>.el-submenu .el-submenu__title{
        height:66px;
        line-height:66px;

    }
    /deep/.el-submenu__title{
        font-size:16px;
        padding: 0 10px;

    }
    /deep/.el-menu-item{
        font-size:16px;
    }
    /deep/.el-menu--horizontal>.el-menu-item{
        height:66px;
        line-height:66px;
    }
    /deep/.el-menu--horizontal > .el-submenu .el-submenu__title {
        height: 66px;
        line-height: 0px !important;
    }
    /deep/.el-dropdown{
        color:#fff;
    }
    /deep/.el-menu {
        background-color: transparent;
    }
    /deep/ .el-menu--horizontal>.el-menu-item {
        color: #E2F1FF;
        font-weight: 400;
        font-size: 18px !important;
        cursor: pointer;
    }
    /deep/ .el-menu--horizontal>.el-menu-item.is-active,
    /deep/ .el-menu--horizontal>.el-menu-item:hover
    {
        background-color: rgba(30, 124, 218, 1);
        color: #fff;
        border-top:3px solid rgba(245, 154, 35, 1);
    }
    // /deep/ .el-menu--horizontal>.el-submenu .el-submenu__title.is-active,
    // /deep/ .el-menu--horizontal>.el-submenu .el-submenu__title:hover
    //  {
    //     background-color: rgba(30, 124, 218, 1);
    //     color: #fff;
    //     border-top:3px solid rgba(245, 154, 35, 1);
    // }
    /deep/ .el-menu--horizontal>.el-submenu .el-submenu__title  {
        color: #E2F1FF;
        font-weight: 400;
        cursor: pointer;
        span {
            font-size: 18px !important;
        }
    }
    /deep/ .el-menu.el-menu--horizontal {
        border-bottom: none;
    }
    .user-area {
        display: inline-block;
        position: relative;
        .user-avatar {
            .avatar-img {
                display: inline-block;
                width: 32px;
                height: 32px;
                border-radius: 16px;
                margin-right: 10px;
                vertical-align: middle;
                background: center no-repeat;
                background-size: cover;
                background-color: #D8D8D8;
            }
            .el-icon-arrow-down {
                vertical-align: middle;
                font-size: 12px;
                color: #C0CCDA;
            }
        }
    }
</style>
