<template>
    <div class="main-wrapper">
        <div class="wrapper">
            <v-header></v-header>
            <div class="content-box">
                <router-view></router-view>
            </div>
            <el-dialog
                title="重置密码"
                :visible.sync="dialogVisible"
                append-to-body
                width="30%"
                :before-close="handleClose">
                <div class="czmm">
                    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                        <el-form-item label="手机号" prop="telephone">
                            <el-input v-model="ruleForm.telephone" disabled></el-input>
                        </el-form-item>
                        <el-form-item label="旧密码" prop="oldPassword">
                            <el-input type="password" v-model="ruleForm.oldPassword"></el-input>
                        </el-form-item>
                        <el-form-item label="密码" prop="password">
                            <el-input type="password" v-model="ruleForm.password"></el-input>
                        </el-form-item>
                        <el-form-item label="确认密码" prop="repassword">
                            <el-input type="password" v-model="ruleForm.repassword"></el-input>
                        </el-form-item>
                    </el-form>
                </div>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="cancel">取 消</el-button>
                    <el-button type="primary" @click="sure">确 定</el-button>
                </span>
            </el-dialog>
        </div>
    </div>
</template>

<script>
import vHeader from '@/components/common/Header'
// import vSider from '@/components/common/Sider'

export default {
    data() {
        return{
            dialogVisible:false,
            ruleForm:{
                telephone:'',
                password:'',
                repassword:'',
                oldPassword: ''
            },
            rules:{
                telephone:[{required: true, message: '请输入手机号', trigger: 'blur' }],
                oldPassword:[{required: true, message: '请输入旧密码', trigger: 'blur' }],
                password:[{required: true, message: '请输入密码', trigger: 'blur' }],
                repassword:[{required: true, message: '请再次输入密码', trigger: 'blur' }]
            },
            phone: ''
        }
    },
    watch:{
        '$store.state.updatePassword'(val){
            this.dialogVisible = val;
        }
    },
    methods:{
        cancel(){
            this.$store.commit('updatePasswordChange', false);
        },
        sure(){
            let _this = this;
            let param = {};
            if(this.ruleForm.telephone == ''){
                this.$message({
                    message: '请填写手机号',
                    type: 'warning'
                });
                return;
            }
            if(this.ruleForm.oldPassword == ''){
                this.$message({
                    message: '请填写旧密码',
                    type: 'warning'
                });
                return;
            }
            if(this.ruleForm.password == ''){
                this.$message({
                    message: '请填写密码',
                    type: 'warning'
                });
                return;
            }
            if(this.ruleForm.repassword == ''){
                this.$message({
                    message: '请填写确认密码',
                    type: 'warning'
                });
                return;
            }
            if(this.ruleForm.repassword != this.ruleForm.password){
                this.$message({
                    message: '您两次输入的密码不一致',
                    type: 'warning'
                });
                return;
            }
            param.newPassword = this.ruleForm.password;
            param.oldPassword = this.ruleForm.oldPassword;
            this.$post('/PlatformUserController/upPass',param).then(function(res){
                if(res.data.success){
                    _this.$message({
                        message: '修改成功',
                        type: 'success'
                    });
                    _this.$router.push('/login');
                    sessionStorage.clear();
                }else{
                    _this.$message({
                        message: res.data.errorMsg,
                        type: 'warning'
                    });
                }
                _this.$store.commit('updatePasswordChange', false);
            });
        },
        handleClose(){
            this.$store.commit('updatePasswordChange', false);
        }
    },
    mounted(){
        let sessionMessage = JSON.parse(sessionStorage.getItem('userMessage'));
        this.ruleForm.telephone = sessionMessage.telephone
    },
    components:{
       vHeader,
    //    vSider
    }
}
</script>
<style scoped lang="less">
    .content-box{
        background: #F0F2F5;
        height: calc(100% - 60px);
        /*min-width: 1875px;*/
        /*overflow-x: auto;*/
    }
    .main-wrapper{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        /*width: 1920px;*/
        /*height: 100%;*/
        /*min-width: 1900px;*/
        /*overflow-x: auto;*/
    }
    .wrapper {
        height: 100%;
        /*overflow-x: auto;*/
    }
    .czmm{
        /deep/.el-input{
            width:80%;
        }
    }
</style>
