<template>
<div>
    <div class="page__login clear">
        <div class="logo">
            <img :src="logo" alt="">
            <div>
                <p>长三角及辐射区域沿海海洋经济产业链协同创新类成果转移与产业信息监测共享服务平台</p>
                <span>THE SHARING SERVICE PLATFORM OF COLLABORATIVE INNOVATION ACHIEVEMENTS TRANSFER AND INDUSTRIAL INFORMATION</span>
            </div>
        </div>
        <div class="login__container clear" v-if="isLogin">
            <h3 class="login__title">登录账户</h3>
            <div class="login__content">
                <p class="login__item login__username">
                    <input
                        class="login__input"
                        type="text"
                        placeholder="请输入手机号"
                        v-model="username"
                        @keydown.enter="moveToPassword"
                    />
                </p>
                <p class="login__item login__password">
                    <input
                        ref="password"
                        class="login__input"
                        type="password"
                        placeholder="请输入密码"
                        v-model="password"
                        @keydown.enter="login"
                    />
                </p>
                <p class="login__submit" @click="login">
                    <a class="login-btn" href="javascript:;" >登录</a>
                </p>
                <p class="login__operate">
                    <span class="span1" @click="gotoregister">立即注册</span>
                    <span class="span2">忘记密码？</span>
                </p>
                <!-- <p class="login__wechat">
                    <img src="../../assets/weixin.png" />
                </p> -->
            </div>
        </div>
        <div class="register" v-if="!isLogin">
            <h3>注册账号</h3>
            <div class="con" style="margin-top: 20px">
                <el-form label-width="80px" :model="register" :rules="registerRule" ref="registerBox">
                    <el-form-item label="账号" prop="account">
                        <el-input v-model="register.account" placeholder="请输入账号"></el-input>
                    </el-form-item>
                    <el-form-item label="姓名" prop="name">
                        <el-input v-model="register.name" placeholder="请输入姓名"></el-input>
                    </el-form-item>
                    <el-form-item label="手机号" prop="telephone">
                        <el-input v-model="register.telephone" placeholder="请输入手机号"></el-input>
                    </el-form-item>
                    <el-form-item label="所属区" prop="companyArea">
                        <el-select v-model="register.companyArea" style="display: block" placeholder="请选择">
                            <el-option
                                v-for="item in areaList"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="密码" prop="password">
                        <el-input type="password" v-model="register.password" placeholder="请输入6-20位字符，区分大小写"></el-input>
                    </el-form-item>
                    <el-form-item label="确认密码" prop="repassword">
                        <el-input type="password" v-model="register.repassword" placeholder="请输入确认密码"></el-input>
                    </el-form-item>
                </el-form>
                <p class="next"><el-button type="primary" @click="next">下一步</el-button></p>
                <p class="desc"><span class="span1">已有账号</span>，<span class="span2" @click="loginWrap">去登录</span></p>
            </div>
        </div>
    </div>
    <el-dialog
    title="完善企业资料"
    :visible.sync="dialogVisible"
    width="50%"
    lock-scroll
    append-to-body
    :before-close="handleClose">
        <div class="content">
            <table style=" border-spacing: 0" cellspacing="0">
                <tr>
                    <td class="b headTab">企业名称</td>
                    <td><el-input v-model="register.companyName" placeholder="请输入企业名称"></el-input></td>
                    <td class="headTab">法人代表</td>
                    <td><el-input v-model="register.leagelName" placeholder="请输入法人代表"></el-input></td>
                </tr>
                <tr>
                    <td class="headTab">联系电话</td>
                    <td><el-input v-model="register.companyTelephone" disabled placeholder="请输入联系电话"></el-input></td>
                    <td class="headTab">联系邮箱</td>
                    <td><el-input v-model="register.companyEmail" placeholder="请输入联系邮箱"></el-input></td>
                </tr>
                <tr>
                    <td class="headTab">公司地址</td>
                    <td colspan="3"><el-input v-model="register.companyAdress" placeholder="请输入公司地址"></el-input></td>
                </tr>
                <tr>
                    <td class="headTab">工商注册号</td>
                    <td ><el-input v-model="register.registerNum" placeholder="请输入工商注册号"></el-input></td>
                    <td class="headTab">组织机构代码</td>
                    <td ><el-input v-model="register.orginzationNum" placeholder="请输入组织机构代码"></el-input></td>
                </tr>
                <tr>
                    <td class="headTab">上传营业执照</td>
                    <td colspan="3">
                        <label for="yyzz">+</label>
                        <input type="file" id="yyzz" hidden @change="upload1($event)" />
                        <span v-if="uploadFile1base64"><img :src="uploadFile1base64" /><i @click="removePic(1)">x</i></span>
                    </td>
                </tr>
                <tr>
                    <td class="headTab">上传组织代码</td>
                    <td colspan="3">
                        <label for="zzjg">+</label>
                        <input type="file" id="zzjg" hidden @change="upload2($event)" />
                        <span v-if="uploadFile2base64"><img :src="uploadFile2base64" /><i @click="removePic(0)">x</i></span>
                    </td>
                </tr>
                <tr>
                    <td class="headTab">公司简介</td>
                    <td colspan="3">
                        <el-input
                        type="textarea"
                        :rows="3"
                        placeholder="请输入内容"
                        v-model="register.textarea">
                        </el-input>
                    </td>
                </tr>
            </table>
            <p class="btns">
                <el-button @click="close">关闭</el-button>
                <el-button type="primary" v-if="!Object.keys(routeObj).includes('back')" @click="sure">确定</el-button>
                <el-button type="primary" v-else @click="sureEdit">确定</el-button>
            </p>
        </div>
    </el-dialog>
</div>
</template>
<script>

export default {
    data () {
        const validateTelephone = (rule, value, callback) => {
            let reg = /^(?:(?:\+|00)86)?1(?:(?:3[\d])|(?:4[5-7|9])|(?:5[0-3|5-9])|(?:6[5-7])|(?:7[0-8])|(?:8[\d])|(?:9[1|8|9]))\d{8}$/
            if (value === '') {
                callback(new Error('手机号不能为空'))
            } else if (reg.test(value) == false) {
                callback(new Error('手机号格式不正确'))
            } else {
                callback()
            }
        }
        const validatePass = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('请输入密码'));
            } else {
                if (this.register.repassword !== '') {
                    let reg = /^[0-9A-Za-z]{6,20}$/
                    if(!reg.test(this.register.repassword)){
                        callback(new Error('请输入6-20位字符，区分大小写'));
                    }else{
                        this.$refs.registerBox.validateField('password2');
                    }
                }
                callback();
            }
        };
        const validatePass2 = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('请再次输入密码'));
            } else if (value !== this.register.password) {
                callback(new Error('两次输入密码不一致!'));
            } else {
                callback();
            }



        };
        return {
            logo: require('../../assets/logoLogin.png'),
            isLogin:true,
            username:'',
            password:'',
            dialogVisible:false,
            register:{
                account:'',
                name:'',
                telephone:'',
                password:'',
                repassword:'',
                companyName:'',
                leagelName:'',
                companyTelephone:'',
                companyEmail:'',
                companyAdress:'',
                registerNum:'',
                orginzationNum:'',
                textarea:'',
                companyArea:''
            },
            areaList:[
                {
                    label:'上海',
                    value:'上海'
                },
                {
                    label:'江苏',
                    value:'江苏'
                },
                {
                    label:'浙江',
                    value:'浙江'
                },
                {
                    label:'福建',
                    value:'福建'
                },
                {
                    label:'厦门',
                    value:'厦门'
                },
                {
                    label:'浦东',
                    value:'浦东'
                },
                {
                    label:'舟山',
                    value:'舟山'
                },
                {
                    label:'宁波',
                    value:'宁波'
                },
                {
                    label:'福州',
                    value:'福州'
                },
                {
                    label:'南通',
                    value:'南通'
                },
            ],
            uploadFile1List:[],//上传营业执照
            uploadFile1base64:'',
            uploadFile2List:[],//上传组织代码
            uploadFile2base64:'',
            registerRule:{
                account: [
                    { required: true, message: '请输入账号', trigger: 'blur' }
                ],
                name: [
                    { required: true, message: '请输入姓名', trigger: 'blur' }
                ],
                telephone: [
                    {
                        required: true,
                        trigger: 'blur',
                        validator: validateTelephone
                    }
                ],
                password: [
                    {
                        required: true,
                        trigger: 'blur',
                        validator: validatePass
                    }
                ],
                repassword: [
                    {
                        required: true,
                        trigger: 'blur',
                        validator: validatePass2
                    }
                ]
            },
            routeObj: {}
        }
    },
    methods: {
        removePic(num){
            if(num == 1){
                this.uploadFile1List = []
                this.uploadFile1base64 = ''
            }else{
                this.uploadFile2List = []
                this.uploadFile2base64 = ''
            }
        },
        upload1(event){
            let _this = this;
            this.uploadFile1List = event.target.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                _this.uploadFile1base64 = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
            $(event.srcElement).val('');
        },
        upload2(event){
            let _this = this;
            this.uploadFile2List = event.target.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                _this.uploadFile2base64 = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
            $(event.srcElement).val('');
        },
        sure(){
            if(!this.register.companyName){
                this.$message.info('请输入企业名称')
                return
            }
            if(!this.register.leagelName){
                this.$message.info('请输入法人代表')
                return
            }
            if(!this.register.companyTelephone){
                this.$message.info('请输入联系电话')
                return
            }

            if(this.uploadFile1List.length == 0){
                this.$message.info('请上传营业执照')
                return
            }
            if(this.uploadFile2List.length == 0){
                this.$message.info('请上传组织代码')
                return
            }
            let _this = this
            let formData = new FormData();
            formData.append('legalRepresentative',_this.register.leagelName);
            formData.append('companyAddress',_this.register.companyAdress);
            formData.append('companyName',_this.register.companyName);
            formData.append('contactEmail',_this.register.companyEmail);
            formData.append('contactTelephone',_this.register.companyTelephone);
            formData.append('businessRegistNo', _this.register.registerNum);
            formData.append('loginPassword', _this.register.password);
            formData.append('organizationCode', _this.register.orginzationNum);
            formData.append('realName', _this.register.name);
            formData.append('telephone', _this.register.account);
            formData.append('companyDesc', _this.register.textarea);
            formData.append('area', _this.register.companyArea);
            formData.append('uploadOrgID', _this.uploadFile2List);
            formData.append('uploadBussessImg', _this.uploadFile1List);
            this.$uploadFile('/PlatformUserController/submitCompanyUser',formData)
                .then(res =>{
                    if(res.success){
                        _this.$message({
                            message: '提交成功！',
                            type: 'success'
                        });
                        _this.$router.push({path: '/registerSuccess'});
                    }else{
                        _this.$message.error(res.data.errorMsg);
                    }
                })
        },
        moveToPassword () {
            this.$refs.password.focus()
        },
        login () {
            let _this = this;
            this.$post('/PlatformUserController/userLogin',{'telephone':_this.username,'password':_this.password}).then(function(res){
                if(res.data.success){
                    let _json = res.data.resultData;
                    delete _json['businessLicenseImg'];
                    delete _json['organizationImg'];
                    sessionStorage.setItem('userMessage',JSON.stringify(_json));
                    if(_json.userRole == 0){
                        _this.$router.push({path: '/projectML/xiangmuProcess/xmjdhb3'});
                    }else{
                        _this.$router.push({path: '/projectML/xiangmuProcess/xmjdhb'});
                    }

                }else{
                    if(res.data.errorCode){
                        if(res.data.errorCode == 205){
                            _this.$router.push({ name:'registerSuccess' ,params:{failed: true,message: res.data.errorMsg,userId: res.data.resultData.userId}})
                        }
                        if(res.data.errorCode == 206){
                            _this.$message({
                                message: res.data.errorMsg,
                                type: 'warning'
                            });
                        }
                        if(res.data.errorCode == 203){
                            _this.$message({
                                message: res.data.errorMsg,
                                type: 'warning'
                            });
                        }
                    }


                }
             })
        },
        loginWrap(){
            this.isLogin = !this.isLogin;
        },
        gotoregister(){
            this.isLogin = !this.isLogin;
        },
        next(){
            this.$refs.registerBox.validate(valid => {
                if(valid){
                    this.dialogVisible = true;
                    this.register.companyTelephone = this.register.telephone
                }else{
                    this.$message.info('请将表单填写完整')
                }
            })

        },
        handleClose(){
            this.dialogVisible = false;
        },
        close(){
            this.dialogVisible = false;
        },
        changeShow(){
            this.routeObj = this.$route.params
            if(Object.keys(this.routeObj).includes('back')){
                this.isLogin = false
                this.$post('/PlatformUserController/userDetail',{userId: this.routeObj.userId})
                    .then(data =>{
                        this.isLogin = false
                        let obj = data.data.resultData
                        this.register.account = obj.telephone
                        this.register.name = obj.realName
                        this.register.telephone = obj.telephone
                        this.register.companyArea = obj.area

                        this.register.companyName = obj.companyName
                        this.register.leagelName = obj.legalRepresentative
                        this.register.companyTelephone = obj.contactTelephone
                        this.register.companyEmail = obj.contactEmail
                        this.register.companyAdress = obj.companyAddress
                        this.register.registerNum = obj.businessRegistNo
                        this.register.orginzationNum = obj.organizationCode
                        this.register.textarea = obj.companyDesc

                        this.uploadFile1base64 = `${window.location.origin}/cjRiverFile/${obj.uploadBussessImg}`
                        this.uploadFile2base64 = `${window.location.origin}/cjRiverFile/${obj.organizationImg}`
                    })
            }

        },
        sureEdit(){
            let formData = new FormData();
            formData.append('legalRepresentative',this.register.leagelName);
            formData.append('companyAddress',this.register.companyAdress);
            formData.append('companyName',this.register.companyName);
            formData.append('contactEmail',this.register.companyEmail);
            formData.append('contactTelephone',this.register.companyTelephone);
            formData.append('businessRegistNo', this.register.registerNum);
            formData.append('loginPassword', this.register.password);
            formData.append('organizationCode', this.register.orginzationNum);
            formData.append('realName', this.register.name);
            formData.append('telephone', this.register.account);
            formData.append('companyDesc', this.register.textarea);
            formData.append('area', this.register.companyArea);
            formData.append('userId', this.routeObj.userId);
            if(this.uploadFile2List.length == 1){
                formData.append('uploadOrgID', this.uploadFile2List);
            }
            if(this.uploadFile1List.length == 1){
                formData.append('uploadBussessImg', this.uploadFile1List);
            }
            this.$uploadFile('/PlatformUserController/reSubmitCompanyUser',formData)
                .then(res =>{
                    if(res.success){
                        this.$refs.registerBox.resetFields()
                        this.$message({
                            message: '修改成功！',
                            type: 'success'
                        });
                        this.$router.push({path: '/registerSuccess'});
                    }else{
                        this.$message.error(res.data.errorMsg);
                    }
                })
        }
    },
    created() {
        this.changeShow()
        if(process.env.NODE_ENV == 'development'){
            this.username = '18321320584'
            this.password = 'sp12345678'
        }
    }
}
</script>
<style lang="less" scoped>
    /deep/ .el-dialog__header{
        border-bottom: 1px solid #f5f5f5;
    }
    /deep/ .el-dialog__body{
        padding: 20px;
    }
    /deep/ .el-dialog__close{
        color: #333;
        font-size: 20px;
    }
    .headTab{
        background: #F5F8FF;
    }
    .logo{
        padding-top: 45px;
        padding-left: 30px;
        display: flex;
        align-items: center;
        img{
            width: 63px;
            height: 63px;
            display: block;
        }
        div{
            color: white;
            line-height: 30px;
            p{
                font-size: 22px;
            }
            span{
                font-size: 13.5px;
            }
        }
    }
    .page__login {
        min-height:100vh;
        background:url("../../assets/bg.png") no-repeat;
        background-size:100% 100%;
        .login__container {
            float: right;
            margin-top: 50px;
            margin-right: 150px;
            margin-bottom: 150px;
            padding: 30px 35px 42px 34px;
            border-radius: 5px;
            background:#ffffff;
            box-shadow: 4px 4px 7px #969696;
            .login__title {
                width: 300px;
                line-height: 33px;
                font-size: 24px;
                color: rgba(69,156,255,1);
                font-weight: normal;
            }
            .login__content {
                width:371px;
                height:auto;
            }
            .login__item {
                width: 100%;
                height: 48px;
                margin-top: 30px;
                .login__input {
                    width: 100%;
                    height: 100%;
                    padding-left: 14px;
                    border-radius: 2px;
                    border: 1px solid #ccc;
                    font-size: 14px;
                    color: #343434;
                    outline: none;
                    transition: border .3s;
                    &:focus {
                        border: 1px solid #459cff;
                    }
                }
            }
            .login__operate {
                width:100%;
                height:20px;
                margin-top:17px;
                .span1 {
                    float:left;
                    line-height:20px;
                    color:rgba(69,156,255,1);
                    font-size:14px;
                    cursor:pointer;
                }
                .span2 {
                    float:right;
                    line-height:20px;
                    color:rgba(143,143,143,1);
                    font-size:14px;
                    cursor:pointer;
                }
            }
            .login__submit {
                width:100%;
                height:48px;
                background:rgba(69,156,255,1);
                border-radius:2px;
                margin-top:24px;
                text-align:center;
                line-height:48px;
                a {
                    display: block;
                    color:#fff;
                }
            }
            .login__wechat {
                margin-top:33px;
                cursor:pointer;
            }
        }
    }
    .register{
        width:500px;
        height:auto;
        float:right;
        margin-top:150px;
        margin-right:150px;
        padding:30px 35px 42px 34px;
        background:#fff;
        border-radius:5px;
        h3{
            width: 300px;
            line-height: 33px;
            font-size: 24px;
            color: #459cff;
            font-weight: 400;
        }
        .con{
            width:100%;
            height:auto;
            .register_account,.register_name,.register_tel,.register_area,.register_password,.register_repassword{
                width:100%;
                height:48px;
                margin-top:20px;
                span{
                    float:left;
                }
                .span1{
                    line-height:42px;
                    color:#FF0000;
                    margin-right:5px;
                    margin-left:20px;
                }
                .span2{
                    line-height:48px;
                    margin-right:15px;
                }
                .span3{
                    width:328px;
                    /deep/.el-input__inner{
                        height:48px;
                    }
                }
            }
            .register_tel{
                .span1{
                    margin-left:5px;
                }

            }
            .register_area{
                /deep/.el-select{
                    width:328px;
                }
                .span1{
                    margin-left:6px;
                }
            }
            .register_repassword{
                .span1{
                    margin-left:0px;
                }
                .span2{
                    margin-right:6px;
                }
            }
            .next{
                width:100%;
                margin-top:20px;
                text-align:center;
                /deep/.el-button{
                    width:90%;
                }
            }
            .desc{
                text-align:center;
                margin-top:20px;
                font-size:14px;
                .span1{
                    &:hover{
                        color:#459cff;
                        cursor:pointer;
                    }
                }
                .span2{
                    color:#459cff;
                    cursor:pointer;
                }
            }
        }
    }
    table{
        width:100%;
        border-right:1px solid #E7EBEE;
        border-bottom:1px solid #E7EBEE;
        tr{
            td{
                border:1px solid #E7EBEE;
                padding:4px 10px;
                border-bottom:none;
                border-right:none;
                /deep/ .el-input__inner{
                    border: none;
                }
                /deep/ .el-textarea__inner{
                    border: none;
                    resize: none;
                }
                label{
                    float:left;
                    width:120px;
                    height:120px;
                    border:1px dashed #cccccc;
                    text-align:center;
                    line-height:120px;
                    font-size:20px;
                }
                span{
                    position:relative;
                    float:left;
                    width:120px;
                    height:120px;
                    border:1px solid #cccccc;
                    margin-left:20px;
                    img{
                        width:100%;
                        height:100%;
                    }
                    i{
                        font-style:normal;
                        position:absolute;
                        width:20px;
                        height:20px;
                        right:-10px;
                        top:-10px;
                        background:#333333;
                        color:#fff;
                        text-align:center;
                        line-height:16px;
                        font-size:12px;
                        border-radius:10px;
                        cursor:pointer;
                    }
                }
            }
        }
    }
    .btns{
        margin-top:20px;
        text-align:right;
    }
</style>
