<template>
    <div>
        <div class="xmpjNav">
            <el-menu
            default-active="2"
            class="el-menu-vertical-demo"
            background-color=""
            @open="handleOpen"
            @close="handleClose">
            <span class="sider-title"><i  class="el-icon-menu icon"></i>多元数据</span>
                <el-menu-item index="1">
                    <!-- <i class="el-icon-menu"></i> -->
                    <span slot="title" @click="dongtaigenzong">可视化跟踪</span>
                </el-menu-item>
                <el-menu-item index="2">
                    <!-- <i class="el-icon-menu"></i> -->
                    <span slot="title" @click="zhibaoManage">创新示范项目</span>
                </el-menu-item>
                <el-menu-item index="3">
                    <!-- <i class="el-icon-document"></i> -->
                    <span slot="title"  @click="jixiaoManage">创新示范企业</span>
                </el-menu-item>
            </el-menu>
        </div>
        <div class="content-box5 clear" style="background:#f5f5f5;margin-left:210px;">
            <!-- <router-view></router-view> -->

        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{

        }
    },
    methods:{
       dongtaigenzong(){
        //    this.isSearch = true;
           this.$router.push({ path: '/projectML/dongtaigenzong', query: { type: '1' }})
       },

       zhibaoManage(){
        //    this.isSearch = true;
           this.$router.push({ path: '/projectML/zhibaoManage', query: { type: '2' }})
       },
       jixiaoManage(){
        //    this.isSearch = true;
           this.$router.push({ path: '/projectML/jixiaoManage', query: { type: '3' }})
       },
    },
    mounted() {

    },
}
</script>
<style lang="less" scoped>
.xmpjNav{
    padding-left:30px;
    padding-top:20px;
    float:left;
    padding-right:30px;
    background:#fff;
    .sider-title{
        font-size:20px;
        line-height:34px;
        padding-bottom:20px;
        .icon{
            margin-right:10px;
        }
    }
}
/deep/.el-menu-item{
    font-size:16px;
    padding-left:44px;
}
/deep/.el-menu{
    border-right:none;
}
</style>
