<template>
    <div>
        <div class="success" v-if="showSuccess">
            <p class="p1"><span class="el-icon-success"></span></p>
            <p class="p2">提交成功，正在审核中</p>
            <p class="p3">您所填写的信息已经提交审核，请及时跟进申请进度</p>
            <p class="p4">审核成功我们会通过短信发送至您的手机上，如审核失败根据提示重新修改提交。</p>
            <p class="btns">
                <el-button type="primary" @click="gotologin">返回登录</el-button>
                <el-button @click="gotoregister">重新注册</el-button>
            </p>
        </div>
        <div class="success" v-else>
            <p class="p1"><span class="el-icon-error"></span></p>
            <p class="p2">申请驳回</p>
            <p class="p3">请核对并按照驳回原因修改信息后，再重新提交。</p>
            <div class="fail">
                <p>驳回原因</p>
                <span><i class="el-icon-error"></i>{{routeObj.message}}</span>
            </div>
            <p class="btns">
                <el-button type="primary" @click="gotologin">返回登录</el-button>
                <el-button @click="gotoEdit">重新修改</el-button>
            </p>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            showSuccess: true,
            routeObj: {}
        }
    },
    methods: {
        gotologin(){
            this.$router.push({path: '/login'});
        },
        gotoregister(){

            this.$router.push({name: 'Login'});
        },
        gotoEdit(){
            this.$router.push({name: 'Login',params:{back:true,userId: this.routeObj.userId}});
        },
        changePage(){
            let routeObj = this.$route.params
            this.routeObj = this.$route.params
            if(Object.keys(routeObj).includes('failed')){
                if(routeObj.failed){
                    this.showSuccess = false
                }
            }
        }
    },
    created() {
        this.changePage()
    }
}
</script>
<style lang="less" scoped>
.success{
    width:520px;
    margin:200px auto;
    height:100%;
    .p1{
        height:100px;
        text-align:center;
        .el-icon-success{
            font-size:80px;
            color:#00A854;
        }
        .el-icon-error{
            font-size:80px;
            color: #F5222D;
        }
    }
    .p2{
        text-align:center;
        font-size:22px;
        font-weight:bold;
    }
    .p3{
        text-align:center;
        font-size:14px;
        margin-top:20px;
        color:#999999;
    }
    .fail{
        width: 520px;
        height: 120px;
        background: #FDFDFD;
        padding: 35px;
        margin-top: 25px;
        p{
            font-size: 16px;
            color: #595959;
        }
        span{
            font-size: 14px;
            margin-top: 20px;
            display: inline-block;
            .el-icon-error{
                color: #F5222D;
            }
        }
    }
    .p4{
        text-align:center;
        font-size:14px;
        margin-top:10px;
        color:#999999;
    }
    .btns{
        text-align:center;
        margin-top:20px;
    }
}

</style>
