<template>
<div>
    <div class="wrap">
        <div class="title">长三角及辐射区区域沿海海洋产业链创新平台</div>
        <div class="login-wrap clear">
            <h3>修改密码</h3>
            <div class="con">
                <p class="p0 clear"><span class="span1">账户：</span><span class="span2">17878787778</span></p>
                <p class="p1 clear"><span class="span1">原始码：</span><input class="name" type="text" placeholder="请输入原始码"/><span class="span3">长度在6-12位字符和文字</span></p>
                <p class="p2 clear"><span class="span1">新密码：</span><input class="password" type="password" placeholder="请输入新密码"/><span class="span3">长度在6-12位字符和文字</span></p>
                <p class="p3 clear"><span class="span1">确认密码：</span><input class="repassword" type="password" placeholder="请再次输入新密码"/><span class="span3">长度在6-12位字符和文字</span></p>
                <p class="p4 clear"><a class="login-btn" href="javascript:;" @click="submit()">提交</a></p>
                <p class="p5 clear"><a class="login-btn" href="javascript:;" @click="goBack()">返回</a></p>
            </div>
        </div>
    </div>
</div>
</template>
<script>
// import Vue from 'vue'
// import router from 'vue-router'
// Vue.use(router);
export default {
    data() {
      return{

      }
    },
    methods:{
      submit(){
          this.$router.push({ path: '/login', query: { type: '1' }})
      },
      goBack(){
          this.$router.go(-1);//返回上一层
      }
    },
    mounted(){

    }
}
</script>
<style lang="less" scoped>
.wrap{
    width:100%;
    height:100%;
    .title{
        width:100%;
        margin-top:50px;
        text-align:center;
        font-size:50px;
        font-weight:bold;
    }
    .login-wrap{
        width:850px;
        margin:100px auto;
        padding:40px 100px;
        background:#f1f1f1;
        h3{
            text-align:center;
            font-size:22px;
        }
        .con{
            width:100%;
            margin-top:50px;
            p{
                width:100%;
                margin-top:30px;
                height:50px;
                &.p4{
                    // text-align:center;
                    padding-left:170px;
                    a{
                        display:inline-block;
                        width:250px;
                        height:50px;
                        text-align:center;
                        line-height:50px;
                        background:#7d7dda;
                        color:#ffffff;
                        border-radius:5px;
                    }
                }
                &.p5{
                    padding-left:170px;
                    a{
                        display: inline-block;
                        width:250px;
                        height:20px;
                        text-align:center;
                        line-height:20px;
                        color:#7d7dda;
                    }
                }
            }
            .span1{
                float:left;
                width:150px;
                text-align:right;
                line-height:50px;
                font-size:22px;
                font-weight:normal;
                color:#808080;
            }
            .span2{
                float:left;
                height:50px;
                line-height:50px;
                font-size:22px;
                margin-left:20px;
            }
            input{
                float:left;
                margin-left:20px;
                width:250px;
                height:50px;
                border:none;
                background:#ffffff;
                padding-left:20px;
            }
            .span3{
                float:left;
                line-height:50px;
                font-size:14px;
                color:red;
                padding-left:20px;
            }
        }
    }
}

</style>
