<template>
<div class="contain clear">
    <!-- <div class="left-wrap"> -->
        <ul class="leftBar clear">
            <li>
                <span><i class="iconfont icon-quanbu1"></i> 创新示范项目名录</span>
                <ul>
                    <li>
                        <span @click="slide($event)" >十二五（3）</span>
                    </li>
                    <li>
                        <span @click="slide($event)" class="mark">十三五（3）</span>
                    </li>
                </ul>
            </li>
        </ul>
    <!-- </div> -->

    <!-- <div class="leftBar">
        <el-tree :data="data" :props="defaultProps" @node-click="handleNodeClick" default-expand-all=true></el-tree>
    </div> -->

    <div class="content-box2 clear">
        <!-- <router-view></router-view> -->
        <chuangxinProject ref="mychild" :shisaner="shisaner" v-show="isShow" @fatherMethod="fatherMethod"></chuangxinProject>
        <companyIntroduction :shisaner="shisaner" v-show="!isShow" @fatherMethod2="fatherMethod2"></companyIntroduction>
    </div>
</div>
</template>

<script>
import chuangxinProject from '@/components/projectML/chuangxinProject'
import companyIntroduction from '@/components/projectML/companyIntroduction'
export default {
    components: {
      chuangxinProject,
      companyIntroduction
    },
    data() {
      return{
          sideIsShow:true,
          isShow:true,
          shisaner:1,//十三五
          data:[
                {
                    label: '创新示范项目名录',
                    children: [{
                        label: '十二五（3）'
                    },{
                        label: '十三五（3）'
                    }]
                }
          ],
      }
    },
    methods:{
      slide(obj){
            let _this = this;
            $(obj.srcElement).addClass('mark').closest('li').siblings('li').find('span').removeClass('mark');
            if($(obj.srcElement).text().substring(0,3) == '十二五'){
                _this.shisaner = 2;
                this.$refs.mychild.change(0,2);
            }else if($(obj.srcElement).text().substring(0,3) == '十三五'){
                _this.shisaner = 1;
                this.$refs.mychild.change(0,1);
            }

      },
      fatherMethod(){
          this.isShow = false;
      },
      fatherMethod2(){
          this.isShow = true;
      }
    },
    mounted(){
    }
}
</script>

<style lang="less" scoped>
    .contain {
        height: 100%;
        background-color: #f5f5f5;
    }
    .leftBar{
        float:left;
        width: 200px;
        height: 100%;
        padding-top:14px;
        background:#ffffff;
        overflow:hidden;
        li{
            cursor:pointer;
            .arrow{
                display:inline-block;
                margin-top:10px;
                margin-right:10px;
                // &.active{
                //     transform:rotate(-90deg);
                //     transition:transform 0.2s linear;
                // }
                // &.actived{
                //     transform:rotate(0deg);
                //     transition:transform 0.2s linear;
                // }
            }
            .mark{
                background:#459CFF;
                color:#ffffff;
            }
        }
        .btn-close{
            position:absolute;
            right:0;
            top:0;
            height:100%;
            width:20px;
            background:#cccccc;
            line-height:700px;
            text-align:center;
            color:#ffffff;
            cursor:pointer;
            &:hover{
                background:#333333;
            }
        }
    }
    .left-wrap{


    }
    .leftBar span{
        display:block;
        width:100%;
        line-height:44px;
        text-align: center;
        font-size:16px;
        color:#333333;
    }
    .leftBar ul{
        overflow:hidden;
    }
    .content-box2{
        background-color: #fff;
        margin-left: 220px;
    }
</style>
