<template>
<div class="contain clear">
    <!-- <div class="left-wrap"> -->
        <ul class="leftBar clear">
            <li>
                <span><i class="iconfont icon-quanbu1"></i> 创新示范企业名录</span>
                <ul>
                    <li>
                        <span @click="slide($event)" >十二五（3）</span>
                    </li>
                    <li>
                        <span @click="slide($event)" class="mark"><img src="" />十三五（3）</span>
                    </li>
                </ul>
            </li>
        </ul>
    <div class="content-box2 clear">
        <companys ref="mychild" :shisaner="shisaner" v-if="isShow" @fatherMethod="fatherMethod"></companys>
        <qiyeXiangqing :shisaner="shisaner" v-if="!isShow" @fatherMethod2="fatherMethod2"></qiyeXiangqing>
    </div>
</div>
</template>

<script>
import companys from '@/components/projectML/companys'
import qiyeXiangqing from '@/components/projectML/qiyeXiangqing'
export default {
    components: {
      companys,
      qiyeXiangqing
    },
    data() {
        return{
            sideIsShow:true,
            isShow:true,
            shisaner:1,//十三五
            data:[
                    {
                        label: '创新示范项目名录',
                        children: [{
                            label: '十二五（3）'
                        },{
                            label: '十三五（3）'
                        }]
                    }
            ]
        }
    },
    methods:{
      slide(obj){
            let _this = this;
            $(obj.srcElement).addClass('mark').closest('li').siblings('li').find('span').removeClass('mark');
            if($(obj.srcElement).text().substring(0,3) == '十二五'){
                _this.shisaner = 2;
                this.$refs.mychild.change(0,2);
            }else if($(obj.srcElement).text().substring(0,3) == '十三五'){
                _this.shisaner = 1;
                this.$refs.mychild.change(0,1);
            }
      },
      fatherMethod(){
          this.isShow = false;
      },
      fatherMethod2(){
          this.isShow = true;
      }
    //   close(){
    //       let width = $('.leftBar').width()-5;
    //       console.log(width);
    //       if(this.sideIsShow){
    //           $('.leftBar').css({'width':20+'px'});
    //           $('.content-box2').css({'width':'96%'});
    //           $('.leftBar .btn-close').empty().text('>')
    //       }else{
    //           $('.leftBar').css({'width':300+'px'});
    //           $('.content-box2').css({'width':'82%'});
    //           $('.leftBar .btn-close').empty().text('<')
    //       }
    //       this.sideIsShow = !this.sideIsShow;
    //   }
    },
    mounted(){

    }
}
</script>

<style lang="less" scoped>
    .contain {
            height: 100%;
            background-color: #f5f5f5;
    }
    .leftBar{
        float:left;
        width: 200px;
        height: 100%;
        padding-top:14px;
        background:#ffffff;
        overflow:hidden;
        li{
            cursor:pointer;
            .arrow{
                display:inline-block;
                margin-top:9px;
                margin-right:10px;
                // &.active{
                //     transform:rotate(-90deg);
                //     transition:transform 0.2s linear;
                // }
                // &.actived{
                //     transform:rotate(0deg);
                //     transition:transform 0.2s linear;
                // }
            }
            .mark{
                background:#459CFF;
                color:#ffffff;
            }
        }
        .btn-close{
            position:absolute;
            right:0;
            top:0;
            height:100%;
            width:20px;
            background:#cccccc;
            line-height:700px;
            text-align:center;
            color:#ffffff;
            cursor:pointer;
            &:hover{
                background:#333333;
            }
        }
    }
    .left-wrap{


    }
    .leftBar span{
        display:block;
        width:100%;
        line-height:44px;
        text-align: center;
        font-size:16px;
        color:#333333;
    }
    .leftBar ul{
        overflow:hidden;
    }
    .leftBar img{
        float:left;
    }
    .content-box2{
        background-color: #fff;
        margin-left: 220px;
    }
</style>
