<template>
    <div class="main">
        <div class="main-slider">
            <el-menu :default-active="menuActive">
                <span class="slider-title"><img style="display: inline;margin-right: 2px" :src="icon">项目管理</span>
                <el-menu-item v-if="menuArr.includes('项目动态监测')" index="1" @click="nav_1_1">
                    <span slot="title">项目动态监测</span>
                </el-menu-item>
                <el-menu-item v-if="menuArr.includes('项目进度管理')" index="2" @click="nav_4_1">
                    <span slot="title">项目进度管理</span>
                </el-menu-item>
                <el-menu-item v-if="menuArr.includes('项目评价管理')" index="3" @click="nav_2_1">
                    <span slot="title">项目评价管理</span>
                </el-menu-item>
                <el-menu-item v-if="menuArr.includes('整体区域评价')" index="4" @click="nav_3_1">
                    <span slot="title">整体区域评价</span>
                </el-menu-item>
                <el-menu-item v-if="menuArr.includes('下载专区')" index="5" @click="goDownload">
                    <span slot="title">下载专区</span>
                </el-menu-item>
            </el-menu>
        </div>
        <div class="main-box">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            menuActive: '1',
            menuArr: [],
            icon: require('../../assets/icon1.png')
        }
    },
    methods: {
        nav_1_1(){
            sessionStorage.setItem('menuTitle','1')
            let message = JSON.parse(sessionStorage.getItem('userMessage'))
            if(message.userRole == 2 || message.userRole == 1){
                this.$router.push({ path: '/projectML/xiangmuProcess/xmjdhb'});//检测工作台
            }else if(message.userRole == '0'){
                this.$router.push({ path: '/projectML/xiangmuProcess/xmjdhb3'});//检测工作台
            }
        },
        nav_2_1(){
            sessionStorage.setItem('menuTitle','3')
            this.$router.push({ path: '/projectML/xiangmuProcess/xmpjgl'});
        },
        nav_4_1(){
            sessionStorage.setItem('menuTitle','2')
            this.$router.push({ path: '/projectML/xiangmuProcess/xmjdhb2'});//项目进度汇报
        },
        nav_3_1(){
            sessionStorage.setItem('menuTitle','4')
            this.$router.push({path: '/projectML/xiangmuProcess/WholeAreaEvaluate'})
        },
        goDownload(){
            sessionStorage.setItem('menuTitle','5')
            this.$router.push({path: '/projectML/xiangmuProcess/downloadArea'})
        }
    },
    created() {
        let menuTitle = sessionStorage.getItem('menuTitle')
        if(menuTitle && menuTitle != undefined && menuTitle != null){
            this.menuActive = menuTitle;
        }
        let message = JSON.parse(sessionStorage.getItem('userMessage'))
        if(message.userRole == 2 || message.userRole == 1){
            this.menuArr = ['项目动态监测','项目进度管理','项目评价管理','整体区域评价','下载专区']
            this.menuActive = '1'
        }else if(message.userRole == '0'){
            this.menuArr = ['项目动态监测','项目进度管理','项目评价管理','下载专区']
            this.menuActive = '1'
            let url = window.location.hash
            if(url.indexOf('xmjdhb2') != -1){
                this.menuActive = '2'
            }else if(url.indexOf('xmjdhb3')){
                this.menuActive = '1'
            }else if(url.indexOf('xmpjgl')){
                this.menuActive = '3'
            }else if(url.indexOf('downloadArea')){
                this.menuActive = '5'
            }
        }else if(message.userRole == '3'){
            this.menuArr = ['整体区域评价']
            this.menuActive = '4'
            this.nav_3_1()
        }

    },
    watch:{
        "$route"(){
            let url = window.location.hash
            if(url.indexOf('xmjdhb2') != -1){
                this.menuActive = '2'
            }else if(url.indexOf('xmjdhb3')!= -1){
                this.menuActive = '1'
            }else if(url.indexOf('xmpjgl')!= -1){
                this.menuActive = '3'
            }else if(url.indexOf('downloadArea')!= -1){
                this.menuActive = '5'
            }else if(url.indexOf('WholeAreaEvaluate')!= -1){
                this.menuActive = '4'
            }else if(url.indexOf('xmjdhb')!= -1){
                this.menuActive = '1'
            }
        }
    }
}
</script>
<style lang="scss" scoped>
    .is-active{
        border-right: 3px solid #2293FC;
        background: #EDF5FF;
        color: #1890ff;
    }
    .main{
        display: flex;
        justify-content: space-between;
        height: 100%;
        &-slider{
            width: 200px;
            background: white;

            .el-menu{
                border: none;
                .slider-title{
                    height: 54px;
                    padding-top: 5px;
                    line-height: 54px;
                    margin-left: 20px;
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    color: rgba(85, 85, 85, 0.647058823529412);
                    i{
                        color: black;
                    }
                }
                .el-menu-item{
                    padding-left: 40px !important;
                    border-top: 1px solid #F7F7F7 !important;
                    font-size: 16px !important;
                    color: #555;
                    font-weight: 500;
                    &:hover{
                        border-right: 3px solid #2293FC;
                    }
                }
                &:last-child{
                    border-bottom: 1px solid #F7F7F7 !important;
                }
            }
        }
        &-box{
            width: calc(100% - 225px);
            margin-right: 10px;
            overflow-y: auto;
            height: 100%;
        }
    }
.xmpjNav{
    padding-left:30px;
    padding-top:20px;
    float:left;
    padding-right:30px;
    background:#fff;
    .sider-title{
        font-size:20px;
        line-height:34px;
        padding-bottom:20px;
        .icon{
            margin-right:10px;
        }
    }
}
/deep/.el-menu-item{
    font-size:16px;
    padding-left:44px;
}
/deep/.el-menu{
    border-right:none;
}
</style>
